<div class="no-margin last-child" style="margin: 0px -22px;">
    <div class="no-margin last-child" role="grid">
        <table id="dataTableStudentGroup" class="datatable table no-margin" width="100%">
            <thead>
                <tr>
                    <th scope="col" style="width: 35px">
                    </th>
                    <th scope="col">
                        <span class="column-sort"><a href="javascript:void(0)" title="Sort Up" class="sort-up">
                                                  </a><a href="javascript:void(0)" title="Sort Down" class="sort-down"></a></span>
                        Group Name
                    </th>
                </tr>
            </thead>
            <tbody style="cursor: pointer">
            </tbody>
        </table>
    </div>
</div>
<div id="divMessagePrintingPopup">
</div>
<style type="text/css">
    .grid_10
    {
        margin-left: 0px;
        margin-right: 0px;
        width: 834px !important;
    }
    
    tr.even.row_selected td {
        background-color: #82CAFA!important;
    }
    tr.odd.row_selected td {
        background-color: #82CAFA!important;
    }
</style>
<script type="text/javascript">
    var oTable;

    $(function () {
        $('#dataTableStudentGroup tbody').click(function (event) {
            $(oTable.fnSettings().aoData).each(function () {
                $(this.nTr).removeClass('row_selected');
            });
            $(event.target.parentNode).addClass('row_selected');
            //Show current selected group
            $('#selectedStudentGroupContainer').show();
            //Remember the groupid of selected group
            $('#currentlySelectedStudentGroupId').html(event.target.id);//TuanVo_1
            $('#currentlySelectedStudentGroup').html(event.target.innerHTML);
            
            if (event.target.colSpan == 2) {
                //No data available in table
                $('#currentlySelectedStudentGroup').html('');
            }

        });
        
        var ajaxSource = '@Url.Action("GetStudentGroup")';
        
        var options =
            {
                bLengthChange: false,
                bFilter: false,
                bDestroy: true,
                bServerSide: true,
                sAjaxSource: ajaxSource,
                bAutoWidth: false,
                iDisplayLength: 10,
                aaSorting: [[1, "asc"]],
                aoColumns: [
                    { sType: 'integer', sName: 'ReportGroupId', bSearchable: false, bSortable: false, sWidth: '60px' },
                    { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true }
                ],
                fnRowCallback: function (nRow, aData) {
                    $('td:eq(0)', nRow).html(setIconVisibility(aData[0],aData[1])); 
                    $('td:eq(0)', nRow).parent().attr('Id', aData[0]);
                    $('td:eq(1)', nRow).attr('Id', aData[0]);//TuanVo_1: Add attribute Id for each td as groupid to remember the selected group id,the selected group will sent message
                    return nRow;
                },
                fnDrawCallback: function (oSettings, json) {
                    var groupId = $("#currentlySelectedStudentGroupId").text();
                    if (groupId != "") {
                        $('#' + groupId).addClass('row_selected');
                    }
                }
            };
        $("#dataTableStudentGroup").data("options", options);
        initializeDataTable($("#dataTableStudentGroup"));
        oTable = $('#dataTableStudentGroup').dataTable();

        @*$('#selectDistrict').change(function (event) {
            ajaxSource = '@Url.Action("GetPrintingGroup")/' + ($('#selectDistrict').val() == null ? 0 : $('#selectDistrict').val());
            var oTable = $("#dataTable").dataTable();
            oTable.fnReloadAjax(ajaxSource);
        });*@ //TuanVo

    });

    function setIconVisibility(reportGroupId,reportGroupName) { //TuanVo: Data from table ReportGroup,reportGroupId of each record
        var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")';
        var deleteString = '<a href="javascript:void(0)" title="Delete" reportGroupId="' + reportGroupId + '" class="with-tip deleteStudentGroup"><img src="' + deleteIcon + '" width="16" height="16"></a>&nbsp;&nbsp;&nbsp;';

        var editIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
        var editUrl = '@Url.Action("AddEditStudentGroup")'; //TuanVo: invoke action method to process edit
      

        var editString = '<a class="openDialog with-tip Edit" data-dialog-id="studentGroupDialog" data-dialog-title="" reportGroupId="' + reportGroupId + '" reportGroupName="' + reportGroupName + '" title="Edit" href="' + editUrl + '"><img src="' + editIcon + '" width="16" height="16"></a>&nbsp;&nbsp;&nbsp;';
        // alert(deleteString + editString);
        return deleteString + editString;
    }

    $('.deleteStudentGroup').die('click');
    $('.deleteStudentGroup').live('click', function () {
        if (confirm("Are you sure you want to delete this group?")) {
            var reportgroupId = $(this).attr('reportGroupId');
            $(this).hide();
            $.post('@Url.Action("DeleteReportGroup")', { reportgroupId: reportgroupId }, function (response) {
                if (response.Success == true) {
                    //Redisplay the list
                    ui.dataTableStudentGroup.fnDraw();
                    
                } else {
                    alert(response.message);
                }
            });
        }
    });
   

    function GetCurrentGroupSelected() {
        return $('.row_selected').attr('Id');
    }


</script>