@using LinkIt.BubbleSheetPortal.Common;
@{
    ViewBag.Title = "Passages Old";
	
	var cookie = Request.Cookies[Constanst.LKARCookie];
    var token = string.Empty;
    if (cookie != null) {token = cookie.Value;}
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FlashModules/TestMakerOld/history/history.css")" />
<script type="text/javascript" src="@Url.Content("~/Content/FlashModules/TestMakerOld/history/history.js")"></script>
<link href="@Url.Content("~/Content/css/FlashContent.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Content/FlashModules/ModuleLaunch/swfobject.js")"></script>
<script type="text/javascript">
    var swfVersionStr = "10.2.0";
    var xiSwfUrlStr = "playerProductInstall.swf";
    var flashvars = {};
    flashvars.displayHeader = 0;
    flashvars.onlyShowAuthorTab = 1;
    var loginToken = swfobject.getQueryParamValue("logintoken");
    if (loginToken != "") flashvars.logintoken = loginToken;
    var configName = swfobject.getQueryParamValue("config");
    if (configName != "") flashvars.config = configName;
    var reportSetCode = swfobject.getQueryParamValue("reportsetcode");
    if (reportSetCode != "") flashvars.reportsetcode = reportSetCode;
    var useSecure = swfobject.getQueryParamValue("secure");
    if (useSecure != "") flashvars.secure = useSecure;
    var cookieToken = '@token';
    if (cookieToken != "") flashvars.ARToken = cookieToken;
    var params = {};
    params.quality = "high";
    params.bgcolor = "#ffffff";
    params.base = '@Url.Content("~/Content/FlashModules/TestMakerOld")';
    params.allowscriptaccess = "sameDomain";
    params.allowfullscreen = "true";
    var attributes = {};
    attributes.id = "linkit_AR_Launch";
    attributes.name = "linkit_AR_Launch";
    attributes.align = "middle";
    attributes.base = '@Url.Content("~/Content/FlashModules/TestMakerOld")';
    swfobject.embedSWF("@Url.Content("~/Content/FlashModules/TestMakerOld/LinkIt_TestMaker.swf")", "flashContent", "960", "660", swfVersionStr, xiSwfUrlStr, flashvars, params, attributes);
    swfobject.createCSS("#flashContent", "display:block;text-align:left;");
    
    function getCookie(name) {
        var ckList = document.cookie.split("; ");
        for (var i = 0; i < ckList.length; i++) {
            var ck = ckList[i].split("=");
            if (ck[0] == name) {
                return unescape(ck[1]);
            }
        }
        return "";
    }

</script>

<center>
	<div id="flashContent">
		<p>
			To view this page ensure that Adobe Flash Player version 10.2.0 or greater is installed.
		</p>
		<script type="text/javascript">
			var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
			document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>"); 
		</script>
	</div>
</center>
