  @model LinkIt.BubbleSheetPortal.Web.ViewModels.StudentLoginViewModel

@{
    Layout = "~/Views/Shared/_LogOnPartial.cshtml";
}

<section id="login-block" class="box-shadow">
    <div class="block-border">
        <div class="block-content">
            <div class="@("block-header " + (Model.IsStudentLogin ? "bg-student-login" : "bg-parent-login"))">Hello @Model.FirstName</div>
            <form class="form" id="r-code-rcode" method="post" action="@Url.Action("RegistrationCodeStep2", "Student")">
                <fieldset>
                    <p>
                        By clicking the "Next" button, you confirm you are @Model.FirstName @Model.LastName. Otherwise, please close this browser page and contact @(Model.IsStudentLogin ? "your teacher" : "a district administrator" ) for a new registration code. Creating an account on behalf of another user may result in disciplinary actions.
                    </p>
                    <button id="btnRegistrationCode" type="submit" class="float-right">Next</button>
                </fieldset>
            </form>
        </div>
    </div>
</section>

<script>
    $('#r-code-rcode').submit(function (event) {
        event.preventDefault();

        var data = {
            rcode: '@Model.RCode',
            isStudentLogin: '@Model.IsStudentLogin'
        };

        $.ajax({
            url: '@Url.Action("RegistrationCodeStep2", "Student")',
            type: 'POST',
            data: data,
            success: function (result) {
                if (result.type == 'error') {
                    $('#login-block').removeBlockMessages().blockMessage(result.message, { type: 'error' });
                }
                else {
                    $('#login-block').replaceWith(result);
                }
            }
        });
    });
</script>
