@model LinkIt.BubbleSheetPortal.Web.ViewModels.StudentUpdateInfoViewModel
@{
    Layout = "~/Views/Shared/_LogOnPartial.cshtml";
    Html.EnableClientValidation();
}
<style>
    .validation-summary-errors ul {
        margin: -1.667em -1.667em 1.667em -1.667em;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        border-width: 1px 0;
        -webkit-background-clip: padding-box;
    }

        .validation-summary-errors ul li {
            text-transform: uppercase !important;
            font-size: 0.833em !important;
            line-height: 1.3em !important;
            padding: 0.2em 1em 0.8em 3em !important;
            background-repeat: no-repeat !important;
            background-position: 0.8em 0.1em !important;
        }
</style>
@using (Html.BeginForm("UpdateInfo", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <section id="login-block" class="accountInfo">
        <div class="block-border">
            <div class="block-content form">
                <div class="block-header">Student Details</div>
                @Html.ValidationSummary()
                @Html.HiddenFor(m => m.UserName)
                @Html.HiddenFor(m => m.DistrictId)
                @Html.HiddenFor(m => m.StudentId)
                @Html.HiddenFor(m => m.FirstName)
                @Html.HiddenFor(m => m.LastName)
                @Html.HiddenFor(m => m.RedirectUrl)
                @Html.HiddenFor(m => m.KeepLogged)
                <fieldset>
                    <legend>Security Question/Answer</legend>
                    <ul class="no-margin message">
                        <li>Your account does not have an associated Security Question/Answer set. Please set one up now before continuing.</li>
                    </ul>
                    <p>
                        @Html.DropDownList("Question", Model.Questions, new { @id = "Question", @style = "width:302px" })
                    </p>
                    <p>
                        @Html.TextBoxFor(m => m.Answer, new { @class = "full-width" })
                    </p>
                </fieldset>
                <fieldset>
                    <legend>Change Password</legend>
                    <ul class="no-margin message">
                        <li>Your current password is either a temporary password or considered weak by the system's password standard. Please set a new strong password before continuing.</li>
                    </ul>
                    <p>
                        <label>Email:</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "full-width" })
                    </p>
                    <p>
                        <label>Password:</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "full-width", maxlength = "50" })
                    </p>
                    <p>
                        <label>Confirm Password:</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "full-width", maxlength = "50" })
                    </p>
                </fieldset>
                <button id="btnSubmit" type="submit">Submit</button>
            </div>
        </div>
    </section>
}