@model LinkIt.BubbleSheetPortal.Web.ViewModels.AuthorGroup.AddAuthorGroupUserSchoolDistrictViewModel
<ul class="tabs js-tabs">
    <li class="current"><a href="#tab-teachers">@LabelHelper.DistrictLabels</a></li>
</ul>
<div class="tabs-content">
    <div id="tab-teachers">
        @if (Model.CanEditGroup)
        {
            <a id="btnAddDistrict" href="javascript:void(0);" onclick="loadAddAuthorGroupDistrict('@Model.AuthorGroupId');" class="button">
                <img alt="#" src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" />
                Add @LabelHelper.DistrictLabel
            </a>
            <br />
            <br />
        }        
        @Html.Partial("_ListAuthorGroupDistrictList",@Model)
    </div>
</div>

<script>
    function loadAddAuthorGroupDistrict(authorGroupId) {
        var url = '@Url.Action("GetDistrictForAuthorGroup")/?authorGroupId=' + authorGroupId;
        $.ajax(
            {
                url: url,
                cache: false
            })
            .done(function (html) {
                $("#divOnTop").append('<div id="PopupAddAuthorGroup" class="dialog"></div>');
                $("#PopupAddAuthorGroup").append(html);
                $('#PopupAddAuthorGroup').dialog({
                    title: "",
                    open: function () {
                        //Create overlay for popup
                        $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                    },
                    beforeclose: function () {
                        //TODO if you want do anything after close popup.
                        return true;
                    },
                    close: function () {
                        ui.dataTableAuthorGroupDistrict.fnReloadAjax();
                        $('#PopupAddAuthorGroup').remove();
                        $("body .my-overlay").remove();
                    },
                    modal: false,
                    width: 750,
                    resizable: false,
                    position: ['top', 20]
                });

            });

        $(".close").unbind("click");
        $(".close").live("click", function (e) {
            e.preventDefault();
        });
    }

    function closeAddAuthorGroupDistrict(){
        jQuery('#PopupAddAuthorGroup').dialog('close');
    }
</script>