@model LinkIt.BubbleSheetPortal.Web.ViewModels.AuthorGroup.AddAuthorGroupUserSchoolDistrictViewModel
<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/dialog-draggable.css")" rel="stylesheet" type="text/css" />

<style>
    .center {
        text-align: center !important;
    }
</style>

<article class="container_12" style="margin-top: -10px; width: 700px;">
    <section class="grid_9">
        <div class="class-title">@Model.GroupName</div>
        <div class="block-border" id="reviewList">
            <div class="block-content form">
                <h1>Manage @LabelHelper.DistrictLabels in Group
                    @if (Model.IsPublisher || Model.IsDistrictAdmin || Model.IsNetworkAdmin)
                    {
                        <a id="addNewDistrict" href="javascript:void(0)" onclick="loadAddAuthorGroupDistrict(event,'@Model.AuthorGroupId');">
                            <img src="/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png">
                            Add @LabelHelper.DistrictLabel
                        </a>
                    }
                    
                </h1>
                @Html.Partial("_ListAuthorGroupDistrictList", @Model)
                <div class="clear-10" style="height: 20px !important;"></div>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">    
    function loadAddAuthorGroupDistrict(event, authorGroupId) {
        event.preventDefault();
        $('#listDistrictDiv').hide();
        $('#addDistrictDiv').show();
        $('#addDistrictDiv').empty();
        $('#addDistrictDiv').load('@Url.Action("GetDistrictForAuthorGroup")/?authorGroupId=' + authorGroupId, function () {
        });
    }
    
</script>