@model LinkIt.BubbleSheetPortal.Web.ViewModels.AuthorGroup.AddAuthorGroupUserSchoolDistrictViewModel
<p style="height: 5px"></p>
<div class="no-margin last-child">
    <table id="dataTableAuthorGroupUser" class="datatable table no-margin" width="100%">
        <thead>
            <tr>
                <th scope="col" style="width: 15px"></th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    First Name
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Last Name
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    User Name
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>    
</div>

<script type="text/javascript">
    $(function () {
        LoadDataTablesAuthorGroupUsers(@Model.AuthorGroupId);
    });

    function LoadDataTablesAuthorGroupUsers(authorGroupID) {
        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: '@Url.Action("GetAuthorGroupUsers")/?authorGroupID=' + authorGroupID,
            fnServerParams: function (aoData) {
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }

            },
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'UserId', bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'FirstName', bSearchable: true, bSortable: true, sWidth: '200px' },
                { sType: 'string', sName: 'LastName', bSearchable: true, bSortable: true, sWidth: '200px' },
                { sType: 'string', sName: 'UserName', bSearchable: true, bSortable: true, sWidth: '200px' }
            ],
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableAuthorGroupUser'), "Loading");
                return true;
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibilityUser(aData[0], aData[1], aData[2]));
                return nRow;
            },
            fnDrawCallback: function () {
                $('#dataTableAuthorGroupUser').unblock();
                $('.with-tip').tip();
            }
        };

        $("#dataTableAuthorGroupUser").data("options", options);
        initializeDataTable($("#dataTableAuthorGroupUser"));
    }

    function setIconVisibilityUser(userId, firstName, lastName) {
        var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")';
        var deleteString = '<a authorGroupId="' + '@Model.AuthorGroupId' + '" userId="' + userId + '" firstName="' + firstName + '" lastName="' + lastName + '" href="javascript:void(0);" onclick="DeleteUsersInGroup(this);" title="Remove user" class="with-tip"><img src="' + deleteIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

        if ('@Model.CanEditGroup' != 'True') {
            deleteString = '';
        }

        return deleteString;
    }

    function DeleteUsersInGroup(control) {
        var self = $(control);
        var authorGroupId = self.attr('authorGroupId');
        var firstName = self.attr('firstName');
        var lastName = self.attr('lastName');
        var userId = self.attr('userId');
        if (confirm('Do you really want to remove the author group user \'' + firstName + ' ' + lastName + '\'?')) {
            $.post('@Url.Action("RemoveUserFromAuthorGroup")', { authorGroupId: authorGroupId, userId: userId }, function (response) {
                if (response.Success == true) {
                    $("#dataTableAuthorGroupUser").dataTable().fnDraw();
                }
            });
        }
    }
</script>
