@model LinkIt.BubbleSheetPortal.Web.ViewModels.AuthorGroup.AddAuthorGroupViewModel
@{
    ViewBag.Title = "Add Author Group";
}

<article class="container_12">
    <section class="grid_8">
        <div class="block-border">
            <div class="block-content form">
                <h1>Create Author Group</h1>
                @using (Html.BeginForm("AddAuthorGroup", "Assessment", FormMethod.Post, new { id = "addAuthorGroupForm", @class = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <ul style="display: none" id="error-messages" class="message error"></ul>
                    <ul style="display: none" id="success-message" class="message success">
                        <li>Author group successfully created.</li>
                    </ul>

                    <fieldset>
                        <legend>Author Group Detail</legend>
                        <div class="columns">
                            @if (Model.IsPublisher || Model.IsNetworkAdmin)
                            {
                                <text><div class="mb-3">
                                        <label>State</label>
                                        <span class="relative">
                                            @Html.DropDownListFor(x => x.StateId, Model.States, new { id = "selectState", @class = "full-width" })
                                        </span>
                                    </div>
                                    <div class="mb-3 block-content-dropdown-marquee">
                                        <label>@LabelHelper.DistrictLabel</label>
                                        <span class="relative">
                                            <div class="block-text-name">
                                                @Html.DropDownListFor(x => x.DistrictId, Model.Districts, new { id = "selectDistrict", @class = "full-width" })
                                                <div class="box-select">
                                                    <span class="overlay"></span>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="mb-3 block-content-dropdown-marquee">
                                        <label>School</label>
                                        <span class="relative">
                                            <div class="block-text-name">
                                                @Html.DropDownListFor(x => x.SchoolId, Model.Schools, new { id = "selectSchool", @class = "full-width" })
                                                <div class="box-select">
                                                    <span class="overlay"></span>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="mb-3 ">
                                        <label>Name</label>
                                        <span class="relative">
                                            @Html.TextBoxFor(model => model.Name, new { @class = "full-width", tabindex = "1", maxlength = 64 })
                                        </span>
                                    </div>
                                </text>
                            }
                            else if (Model.IsDistrictAdmin)
                            {
                                <text>
                                    <div class="mb-3 block-content-dropdown-marquee">
                                        <label>School</label>
                                        <span class="relative">
                                            <div class="block-text-name">
                                                @Html.DropDownListFor(x => x.SchoolId, Model.Schools, new { id = "selectSchool", @class = "full-width" })
                                                <div class="box-select">
                                                    <span class="overlay"></span>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="mb-3 ">
                                        <label>Name</label>
                                        <span class="relative">
                                            @Html.TextBoxFor(model => model.Name, new { @class = "full-width", tabindex = "1", maxlength = 64 })
                                        </span>
                                    </div>
                                </text>
                            }
                            else if (Model.IsTeacher || Model.IsSchoolAdmin)
                            {
                                <text>
                                    <div class="mb-3 block-content-dropdown-marquee">
                                        <label>School</label>
                                        <span class="relative">
                                            <div class="block-text-name">
                                                @Html.DropDownListFor(x => x.SchoolId, Model.Schools, new { id = "selectSchool", @class = "full-width" })
                                                <div class="box-select">
                                                    <span class="overlay"></span>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="mb-3">
                                        <label>Name</label>
                                        <span class="relative">
                                            @Html.TextBoxFor(model => model.Name, new { @class = "full-width", tabindex = "1", maxlength = 64 })
                                        </span>
                                    </div>
                                </text>
                            }
                        </div>
                    </fieldset>
                    <p>
                        <button id="btnSubmit" type="submit" name="Save">Create</button>
                        <button id="btnCancel" type="button" class="grey">Cancel</button>
                    </p>
                }
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    $(function () {
        $('.write').addClass('current');
        $('#manageAuthorGroup').addClass('current');
        $('#selectDistrict').marquee({widthSelected: 514});
        $('#selectSchool').marquee({widthSelected: 514});

        @if (Model.IsPublisher||Model.IsNetworkAdmin)
        {
            if (Model.IsNetworkAdmin)
            {
                <text>
                    var stateSelect = $('#selectState');
                    stateSelect.empty();
                    $.get('@Url.Action("GetStatesByDictricIds", "PopulateStateDistrict")', { dictricIds: '@Model.StrIds' }, function (states) {
                        addDefaultOption(stateSelect, "State");
                        addSelectListItems(stateSelect, states);
                    });

                </text>
            }
            else
            {
                <text>
                     populateStates();
                </text>
            }

            <text>
            $('#selectState').change(function () {
                if ($(this).val() != 'select') {
                    populateDistricts($('#selectDistrict'));
                }
                else {
                    $('#selectDistrict').empty();
                    $('#selectSchool').empty();
                }
            });

            $('#selectDistrict').change(function () {
                if ($(this).val() != 'select') {
                    populateSchools($('#selectSchool'));
                }
                else {
                    $('#selectSchool').empty();
                }
            });
            </text>
        }
        else if (Model.IsDistrictAdmin)
        {
            <text>
                var districtId = '@Model.UserDistrictId';
                $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtId }, function (response) {
                    addDefaultOption($('#selectSchool'), "School");
                    addSelectListItems($('#selectSchool'), response);
                });
            </text>
        }
        else if(Model.IsSchoolAdmin || Model.IsTeacher)
        {
             <text>
                populateSchoolsForSchoolAdmin($('#selectSchool'));
             </text>
        }


        $('#addAuthorGroupForm').submit(function (event) {
            event.preventDefault();
            $('#btnSubmit').disableBt();
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    if (response.Success != false) {
                        location.href = response.RedirectUrl;
                    }
                    else {
                        addErrorMessages(response);
                        $('#success-message').hide();
                        $('#btnSubmit').enableBt();
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        });

        $('#btnCancel').click(function () {
            location.href = '@Url.Action("AuthorGroupList")';
        });
    });

    function populateStates() {
        var stateSelect = $('#selectState');
        stateSelect.empty();

        $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (response) {
            addDefaultOption(stateSelect, "State");
            addSelectListItems(stateSelect, response);
        });
    }

    function populateDistricts(districtSelect) {
        districtSelect.empty();
        $('#selectSchool').empty();
        var stateValue = $('#selectState').val();
        var url = '@Url.Action("GetDistricts", "PopulateStateDistrict")';
        if ('@Model.IsNetworkAdmin' === 'True') {
            url = '@Url.Action("GetDistrictsForNetworkAdmin", "PopulateStateDistrict")';
        }
        $.get(url, { stateId: stateValue }, function (response) {
            addDefaultOption(districtSelect, "@LabelHelper.DistrictLabel");
            addSelectListItems(districtSelect, response);
        });
    }

    function populateSchools(schoolSelect) {
        schoolSelect.empty();
        var districtValue = $('#selectDistrict').val();
        $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtValue }, function (response) {
            addDefaultOption(schoolSelect, "School");
            addSelectListItems(schoolSelect, response);
        });
    }

    function populateSchoolsForSchoolAdmin(schoolSelect) {
        schoolSelect.empty();
        $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', {}, function (schools) {
            addDefaultOption(schoolSelect, "School");
            addSelectListItems(schoolSelect, schools);
        });
    }
</script>
