@model LinkIt.BubbleSheetPortal.Web.ViewModels.AuthorGroup.AddAuthorGroupViewModel
@{
    ViewBag.Title = "Edit Author Group";
}

<article class="container_12">
    <section class="grid_8">
        <div class="block-border">
            <div class="block-content form">
                <h1>Edit Author Group</h1>
                @using (Html.BeginForm("UpdateAuthorGroup", "Assessment", FormMethod.Post, new { id = "editAuthorGroupForm", @class = "form" }))
                {
                     @Html.AntiForgeryToken()
                    <ul style="display: none" id="error-messages" class="message error"></ul>
                    <ul style="display: none" id="success-message" class="message success">
                        <li>Author group successfully updated.</li>
                    </ul>
                    
                    <fieldset>
                        @Html.HiddenFor(x => x.Id)
                        <legend>Author Group Detail</legend>
                        <div class="columns">
                            @if (Model.IsPublisher||Model.IsNetworkAdmin)
                            {
                                <p>
                                    <label>State</label>
                                    <span class="relative">
                                        @Html.DropDownListFor(x => x.StateId, Model.States, new { id = "selectState", @class = "full-width" })
                                    </span>
                                </p>
                                <p>
                                    <label>@LabelHelper.DistrictLabel</label>
                                    <span class="relative">
                                        @Html.DropDownListFor(x => x.DistrictId, Model.Districts, new { id = "selectDistrict", @class = "full-width" })
                                    </span>
                                </p>
                            }else
                            {
                                @Html.HiddenFor(x=>x.StateId)
                                @Html.HiddenFor(x=>x.DistrictId)
                            }

                            @if (Model.IsPublisher || Model.IsDistrictAdmin)
                            {
                                <p>
                                    <label>School</label>
                                    <span class="relative">
                                        @Html.DropDownListFor(x => x.SchoolId, Model.Schools, new { id = "selectSchool", @class = "full-width" })
                                    </span>
                                </p>                                
                            }else
                            {
                                @Html.HiddenFor(x=>x.SchoolId)
                            }

                            <p>
                                <label>Name</label>
                                <span class="relative">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "full-width", tabindex = "1", maxlength = 64 })
                                </span>
                            </p>
                        </div>
                    </fieldset>
                    <div id="divUserList"></div>
                    <br/>
                    <div id="divSchoolList"></div>
                    <br/>
                    <div id="divDistrictList"></div>
                    <br />
                    <p>
                        <button id="btnSubmit" type="submit" name="Save">Submit</button>
                        <button id="btnCancel" type="button" class="grey">Cancel</button>
                    </p>
                }
            </div>
        </div>
    </section>
</article>
<div id="divOnTop"></div>

<script type="text/javascript">
    $(function () {
        $('.write').addClass('current');
        $('#manageAuthorGroup').addClass('current');

        InitData();

        $('#selectState').change(function () {
            if ($(this).val() != 'select') {
                populateDistricts($('#selectDistrict'));
            }
            else {
                $('#selectDistrict').empty();
                $('#selectSchool').empty();
            }
        });

        $('#selectDistrict').change(function () {
            if ($(this).val() != 'select') {
                populateSchools($('#selectSchool'));
            }
            else {
                $('#selectSchool').empty();
            }
        });

        $('#editAuthorGroupForm').submit(function (event) {
            event.preventDefault();
            $('#btnSubmit').disableBt();
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    if (response.Success != false) {
                        $('#success-message').show();
                    }
                    else {
                        addErrorMessages(response);
                        $('#success-message').hide();
                    }
                    
                    $('#btnSubmit').enableBt();
                },
                failure: function (response) {
                    alert(response);
                    $('#btnSubmit').enableBt();
                }                                
            });
        });

        $('#btnCancel').click(function () {
            location.href = '@Url.Action("AuthorGroupList")';
        });
    });
    
    function InitData() {
        var stateValue = '@Model.StateId';
        var districtSelect = $('#selectDistrict');
        var url = '@Url.Action("GetDistricts", "PopulateStateDistrict")';//IsPublisher
        if ('@Model.IsNetworkAdmin' === 'True') {
            url = '@Url.Action("GetDistrictsForNetworkAdmin", "PopulateStateDistrict")';
        }
        $.get(url, { stateId: stateValue }, function (response) {
            addDefaultOption(districtSelect, "@LabelHelper.DistrictLabel");
            addSelectListItems(districtSelect, response);
            districtSelect.val('@Model.DistrictId');
        });
        
        var districtValue = '@Model.DistrictId';
        var schoolSelect = $('#selectSchool');
        $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtValue }, function (response) {
            addDefaultOption(schoolSelect, "School");
            addSelectListItems(schoolSelect, response);
            schoolSelect.val('@Model.SchoolId');
        });

        PopulateDataGrids();
    }

    function populateDistricts(districtSelect) {
        districtSelect.empty();
        $('#selectSchool').empty();
        var stateValue = $('#selectState').val();
        var url = '@Url.Action("GetDistricts", "PopulateStateDistrict")';//publisher
        if ('@Model.IsNetworkAdmin' === 'True') {
            url = '@Url.Action("GetDistrictsForNetworkAdmin", "PopulateStateDistrict")';
        }
        $.get(url, { stateId: stateValue }, function (response) {
            addDefaultOption(districtSelect, "@LabelHelper.DistrictLabel");
            addSelectListItems(districtSelect, response);
        });
    }

    function populateSchools(schoolSelect) {
        schoolSelect.empty();
        var districtValue = $('#selectDistrict').val();
        $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtValue }, function (response) {
            addDefaultOption(schoolSelect, "School");
            addSelectListItems(schoolSelect, response);
        });
    }
    
    function PopulateDataGrids() {
        var param = { authorGroupId: '@Model.Id' };
        $('#divUserList').load('@Url.Action("LoadListAuthorGroupUserList")', param, function (response) {
            if (response == false) {
                alert("Error happen. Please refresh page.");
            }
        });
        
        $('#divSchoolList').load('@Url.Action("LoadListAuthorGroupSchoolList")', param, function (response) {
            if (response == false) {
                alert("Error happen. Please refresh page.");
            }
        });
        
        if ('@Model.IsPublisher' == 'True' || '@Model.IsNetworkAdmin' == 'True') {
            $('#divDistrictList').load('@Url.Action("LoadListAuthorGroupDistrictList")', param, function (response) {
                if (response == false) {
                    alert("Error happen. Please refresh page.");
                }
            });
        }
    }
</script>
