@model LinkIt.BubbleSheetPortal.Web.ViewModels.AddUserSchoolViewModel

<style>
    .btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 18px;
    }
</style>

<section id="addUserSchoolContent">
    <div class="block-border">
        <div class="block-content form" style="padding: 24px">
            <h1 style="padding: 0; margin-bottom: 24px">Add School</h1>
            <ul style="display: none" id="error-messages-add-user-school" class="no-margin message error"></ul>
            @using (Html.BeginForm("AddUserSchool", "Admin", FormMethod.Post, new { id = "addUserSchoolForm", @class = "form" }))
            {                
                @Html.HiddenFor(x => x.UserId)
                @Html.HiddenFor(x => x.RoleId)
                @Html.HiddenFor(x => x.DistrictId, new { id = "hdUserDistrictId" })

                <p style="margin-bottom: 30px">
                    <label>Select School</label>
                    <span class="relative">
                        @Html.DropDownListFor(x => x.SchoolId, Model.AvailableSchools, new { id = "selectSchool", @class = "selectSchool" })
                    </span>
                </p>

                <div class="btn-container">
                    <button id="btnAddSchoolCancel" type="button" class="btn-blue">Cancel</button>
                    <button id="btnAddSchoolSubmit" type="button" name="Save" class="btn-red">Submit</button>
                </div>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#btnAddSchoolCancel').click(function () {
        $('#sideContainer').html('');
    });

    $(function () {        
        populateSchools($('#selectSchool'));         
    });

    function clearSelectBoxes() {
        $('#selectSchool').empty();
    }

    function populateSchools(schoolSelect) {
        schoolSelect.empty();
        var districtValue = '@Model.DistrictId';
        var userIdValue = $('#UserId').val();
        $.get('@Url.Action("GetSchoolsByDistrictIdAndUserId")', { districtId: districtValue, userId: userIdValue}, function (response) {
            addDefaultOptionToUserSchool(schoolSelect, "School");
            addSelectListItems(schoolSelect, response);
        });
    }

</script>
