@using System.Configuration
@model LinkIt.BubbleSheetPortal.Web.Models.ResetPassword

@{
    Layout = null;
}

<style>
    .btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 18px;
    }
</style>

@Html.ValidationSummary(false)

@Html.HiddenFor(x => x.UserId)
<div class="mb-3">
    @Html.LabelFor(x => x.NewPassword)
    <span class="relative">
        @Html.PasswordFor(x => x.NewPassword, new { @id = "password", @class = "full-width" })
        @Html.ValidationMessageFor(x => x.NewPassword, " ")
    </span>
</div>
<div class="mb-4">
    @Html.LabelFor(x => x.ConfirmNewPassword)
    <span class="relative">
        @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "full-width" })
        @Html.ValidationMessageFor(x => x.ConfirmNewPassword, " ") 
    </span>
</div>

<div class="btn-container">
    <button id="btnResetPasswordCancel" type="button" class="btn-blue">Cancel</button>
    <button id="btnResetPasswordSubmit" type="submit" name="Save" class="btn-red">Submit</button>
</div>


<script type="text/javascript">
    $(function () {
        $(".validation-summary-errors ul").addClass("no-margin").addClass('message').addClass('error');

        $('#btnResetPasswordCancel').click(function () {
            $('#sideContainer').html('');
        });
    });
</script>
