@model LinkIt.BubbleSheetPortal.Models.School
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.DataAdmin, "Add School");
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<article class="container_12">
    <section class="grid_7">
        <div class="block-border">
            <div class="block-content form">
                <ul style="display: none" id="error-messages" class="message error">
                </ul>
                <ul style="display: none" id="success-message" class="message success">
                    <li>School successfully created.</li>
                </ul>
                <h1>Add School</h1>
                @using (Html.BeginForm("AddSchool", "Admin", FormMethod.Post, new { id = "addSchoolForm", @class = "form" }))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>School</legend>
                        <div class="columns">
                            <p>
                                <label>
                                    School Name
                                </label>
                                <span class="relative">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "full-width", tabindex = "1" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </span>
                            </p>
                            <p>
                                <label>@LabelHelper.SchoolCode</label>
                                <span class="relative">
                                    @Html.TextBoxFor(model => model.Code, new { @class = "full-width", tabindex = "2" })
                                    @Html.ValidationMessageFor(model => model.Code)
                                </span>
                            </p>
                            <p>
                                <label>@LabelHelper.SchoolStateCode</label>
                                <span class="relative">
                                    @Html.TextBoxFor(model => model.StateCode, new { @class = "full-width", tabindex = "3" })
                                    @Html.ValidationMessageFor(model => model.StateCode)
                                </span>
                            </p>
                        </div>
                    </fieldset>
                    <p>
                        <button id="btnSubmit" type="submit" name="Save">
                            Submit
                        </button>
                        <button id="btnCancel" type="button" class="grey">
                            Cancel
                        </button>
                    </p>
                }
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
    $(function () {
        $('.dataadmin').addClass('current');
        $('.manageschool').addClass('current');
    });
    $('#addSchoolForm').submit(function (event) {
        event.preventDefault();
        $('#btnSubmit').disableBt();

        $.ajax({
            url: $(this).target,
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {
                if (response.Success != false) {
                    $('#error-messages').hide();
                    $('#success-message').show();
                    ClearAllText();
                }
                else {
                    addErrorMessages(response);
                }
                $('#btnSubmit').enableBt();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    $('#btnCancel').click(function () {
        location.href = '@Url.Action("ManageSchoolAndClass", "ManageClasses")';
    });

    function ClearAllText() {
        $('input[type=text]').val('');
    }
</script>

