@using LinkIt.BubbleSheetPortal.Models
@using LinkIt.BubbleSheetPortal.Web.Helpers
@model LinkIt.BubbleSheetPortal.Web.ViewModels.DistrictReferenceData.DistrictReferenceDataViewModel
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Techsupport, @LabelHelper.DistrictLabel + " Reference Data");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <h1>
                    @LabelHelper.DistrictLabel Reference Data
                </h1>
                <ul style="display: none" id="error-messages" class="message error"></ul>
                <div>
                    @if (ViewBag.RoleId == (int)Permissions.Publisher || ViewBag.RoleId == (int)Permissions.DistrictAdmin)
                    {
                        using (Html.BeginForm("DistrictReferenceData", "Admin", FormMethod.Post, new { id = "webUtilityForm", @class = "form" }))
                        {
                            if (ViewBag.RoleId == (int)Permissions.Publisher)
                            {
                                <fieldset>
                                    <div>
                                        <table style="text-align: left; width: 100%" border="0">
                                            <tr>
                                                <td style="width: 200px">
                                                    @Html.HiddenFor(m => m.DistrictID, new { id = "hdDistrictID" })
                                                    @Html.HiddenFor(m => m.DistrictName, new { id = "hdName" })
                                                    <script type="text/javascript">
                                                    var urldomain = '@ViewBag.Domain';
                                                    try {
                                                        var lkInstance = new lkWidget(urldomain, "linkit");
                                                        lkInstance.FirstInit();
                                                        lkInstance.newWindow = false;
                                                        lkInstance.noRedirector = false;
                                                        lkInstance.GetPageview('lkInstance');
                                                    } catch(err) {
                                                        alert(err);
                                                    }
                                                    </script>
                                                </td>
                                                <td style="width: 200px">
                                                    <button type="submit" name="Search" id="btnSearch">Search</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </fieldset>
                            }
                            <fieldset style="padding-left: 8px;">
                                <legend style="margin-left: 0px;">Details</legend>
                                @if (Model != null && Model.DistrictID != 0)
                                {
                                    <div style="text-align: right; font-size: 20px; float: right;"><a href='@Url.Action("DistrictReferenceDataPrinting", new {id = Model.DistrictID})' target="_blank">Print</a></div>
                                }
                                @Html.Partial("_DistrictReferenceData", Model)
                            </fieldset>
                        }
                    }
                    else
                    {
                        <h2>Access Denied</h2>
                    }
                </div>
            </div>
        </div>
    </section>
</article>
