@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.DataAdmin, "Manage Mapping");
}
<script type="text/javascript">
    $(function () {
        var auth = '@(Request.Cookies[FormsAuthentication.FormsCookieName] == null ? string.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)';

        if (window.FormData !== undefined) {
            $('#file_upload').uploadifive({
                'uploadScript': '@Url.Action("CreateMapping")',
                'fileType': 'text/plain',
                'overrideEvents': ['onDialogClose'],
                'formData': { AUTHID: auth },
                'buttonText': 'Select Files',
                'fileObjName': 'postedFile',
                'multi': false,
                'removeCompleted': true,
                'width': 100,
                'auto': true,
                'onUploadComplete': function (file, data) {
                    var result = $.parseJSON(data);
                    if (result.success == true) {
                        window.location.href = '/Admin/MappingDetail/' + result.mapId;
                    }
                    else {
                        $('#upload-block').removeBlockMessages().blockMessage(result.message, { type: result.type });
                    }
                }
            });
        }
    });
</script>
<article class="container_12">
    <section class="grid_7">
        <div class="block-border">
            <div class="block-content form">
                <h1>
                    Maping Status
                    <a id="uploadMapping" href="javascript:void(0)">
                        <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" />
                        Upload New Mapping
                    </a>
                </h1>
                <p style="height: 5px"></p>
                @if (ViewBag.MappingID != "0")
                {
                    <a href="@Url.Action("MappingDetail", new { id = ViewBag.MappingID })">Edit current mapping</a>
                }
                else
                {
                    <a href="javascript:void(0)">Have no mapping</a>
                }
            </div>
        </div>
    </section>
    <section id="upload-block" class="grid_5" style="display: none">
        <div class="block-border">
            <div class="block-content">
                <h1>
                    Upload New Mapping
                    <a id="uploadCancel" href="javascript:void(0)">
                        <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")" />
                        Cancel
                    </a>
                </h1>
                <ul class="message warning no-margin">
                    <li>
                        Click the button below to select files for upload. Files will start as soon as they
                        are selected.
                    </li>
                </ul>
                <input id="file_upload" name="file_upload" type="file" />
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
    $('#uploadMapping').click(function () {
        $('#upload-block').show();
    });

    $('#uploadCancel').click(function () {
        $('#upload-block').hide();
    });
</script>
