@model LinkIt.BubbleSheetPortal.Web.ViewModels.ManageTestViewModel

<section>
    <div class="block-border">
        <div id="dvCreateTestBank" class="block-content form">
            <h1>Create Test Bank</h1>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <ul style="display: none" id="success-message" class="message success">
                <li>TEST BANK CREATED.</li>
            </ul>
            <fieldset>
                <div class="columns">
                    @if (Model.IsPublisher || Model.IsNetWorkAdmin)
                    {
                        <p>
                            <label>State:</label>
                            <select id="selectState1" class="full-width"></select>
                        </p>
                    }
                    <p>
                        <label>@LabelHelper.GradeLabel</label>
                        <select id="selectGrade" class="full-width"></select>
                    </p>
                    <p>
                        <label>@LabelHelper.Subject</label>
                        <select id="selectSubject" class="full-width"></select>
                    </p>
                    <p>
                        <label>Bank Name</label>
                        <input type="text" id="inputTestBankName" class="full-width" />
                    </p>
                    <div class="u-text-center">
                        <button type="button" id="btnCreateTestBank" onclick="createTestBank()">Create</button>
                        <button type="button" id="btnCancelCreateTestBank" onclick="cancelCreateTestBank()">Cancel</button>
                        <input id="hdfStateId" type="hidden" value="@Model.StateId" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        @if (Model.IsPublisher || Model.IsNetWorkAdmin)
        {
            <text>
        populateSate();
        </text>
        }
        else {
            <text>
        PopularGrade();
        </text>
        }
    });

    function populateSate() {
        $('#selectState1').empty();
        $.get('@Url.Action("GetStateByPublisherOrNetworkAdmin", "PopulateStateDistrict")', function (states) {
            AddSelectListItems($('#selectState1'), states, 'Select State');
        });
    }

    function PopularGrade() {
        $('#selectGrade').empty();
        var vStateId = $('#hdfStateId').val();
        if (vStateId < 0) {
            vStateId = $('#selectState1').val();
        }
        $.get('@Url.Action("GetGradesByStateId", "PopulateTest")', { stateId: vStateId }, function (grades) {
            AddSelectListItems($('#selectGrade'), grades, 'Select @LabelHelper.TestGrade');
        });
    }

    function populateSubject() {
        $('#selectSubject').empty();
        var vStateId = $('#hdfStateId').val();
        if (vStateId < 0) {
            vStateId = $('#selectState1').val();
        }
        var vGradeId = $('#selectGrade').val();
        $.get('@Url.Action("GetSubjectByStateIdAndGradeId", "PopulateTest")', { stateId: vStateId, gradeId: vGradeId }, function (subjects) {
            AddSelectListItems($('#selectSubject'), subjects, 'Select @LabelHelper.Subject');
        });
    }

    $('#selectState1').change(function () {
        $('#selectGrade').empty();
        $('#selectSubject').empty();
        if ($('#selectState1').val() != '-1') {
            PopularGrade();
        }
    });

    $('#selectGrade').change(function () {
        $('#selectSubject').empty();
        if ($('#selectGrade').val() != '-1') {
            populateSubject();
        }
    });
</script>
