@using LinkIt.BubbleSheetPortal.Models;
@using System.Collections.Generic;
    <article class="container_12 container_12RF" style="margin-top: 2px; width: 700px;">
        <section class="grid_9 grid_9RF" >
            <div class="block-border block-borderRF" >
                <div class="block-content form block-contentRF" >
                    <h1>
                        Virtual Test Bank Access Restriction
                    </h1>
                    <div style="width:100%">
                        <span>Published Districts</span>
                        <select id="selectdistrictpublish">
                            @foreach (var itemdistrict in ViewBag.datadistrictpublish)
                            {
                                if (itemdistrict.DistrictId == 0)
                                {

                                    <option selected value="@itemdistrict.DistrictId">@itemdistrict.Name</option>
                                }
                                else
                                {
                                    <option  value="@itemdistrict.DistrictId">@itemdistrict.Name</option>

                                }
                            }
                        </select>
                    </div>
                    <div style="margin-top:10px;" id="virtualtestBankdistrictform">
                       
                    </div>
                   
                </div>
            </div>
        </section>
    </article>
    <script type="text/javascript">
      
       
        $("#selectdistrictpublish").change(function () {
            $("#statusmessage").hide();
            $("#virtualtestBankdistrictform").html("");
            var url = '@Url.Action("LoadVirtualTestRestrictionDataHTML", "ManageTest" )'
                + '?&districtId=' + $("#selectdistrictpublish").val() + "&bankId=" + '@ViewBag.bankId' + '&testId=' +'@ViewBag.testId';
            //alert(url);
            $.ajax(
                {
                    url: url,
                    cache: false
                })
                .done(function (html) {
                    $("#virtualtestBankdistrictform").html(html);
                });
        })

     
     
    </script>
