@using LinkIt.BubbleSheetPortal.Common;
@using LinkIt.BubbleSheetPortal.Common.Enum;
@using LinkIt.BubbleSheetPortal.Web.Helpers
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TestSettingsMap
<script src="@BundleHelper.Version("~/Scripts/TestDesign/v2/testSchedulePreV2.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/test-schedule.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/v2/testPreferenceSettingTestProperty.css")" rel="stylesheet" type="text/css" />
<style>
    #divContentEditTestSettingTop {
        width: auto !important;
    }

    #divContentEditTestSettingSecond {
        padding: 24px;  
    }

    .sectionLvl-hide {
        display: none !important;
    }

    .cb__sectionLevel {
        display: inline-block;
        margin-left: 15px;
    }

    .sectionsAvailabilityList {
        padding-left: 50px;
    }

    .sectionsAvailabilityList table {
        width: 100%;
    }

    .testPreferences__panel {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        display: flex;
    }

    .btn__setting {
        background: var(--grey3);
        color: var(--lightBlue);
        cursor: pointer;
        padding: 10px 5px;
        font-size: 10pt;
        border-right: 1px solid var(--blue6);
        width: 135px;
        text-align: center;
        display: block;
        float: left;
    }

    .btn__setting span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }

    .btn__setting:last-child {
        border-right: 0;
    }

    .sections__main {
        display: none;
        min-height: 645px;
    }

    .sections__wrapper--inner {
        min-height: 645px;
        position: relative;
    }

    .flex_space-bettween {
        display: flex;
        justify-content: space-between;
    }

    .wrapper__testSchedule .first_title {
        width: 35% !important;
    }

    .btn__setting.active__state {
        background: var(--lightBlue);
        border-bottom: none;
        color: var(--white);
        background: -webkit-gradient( linear, left top, left bottom, from(var(--white)), to(#0c5fa5), color-stop(0.03, #72c6e4) );
    }

    .scrollHorizontal__wrapper {
        text-align: left;
        width: 855px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }


    .title-heading-popup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #closeBtn {
        top: 0 !important;
        right: 0 !important;
    }

    #closeBtn::after {
        right: 0 !important;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-divPreviewOnlinePanel"] {
        background-color: var(--white) !important;
        padding: 0 !important;
        width: 1040px !important;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-divPreviewOnlinePanel"] .ui-dialog-titlebar {
        display: none;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-divPreviewOnlinePanel"] section {
        margin: 0 !important;
    }

    #divPreviewOnlinePanel {
        padding: 0 !important;
    }

    .btn-wrapper {
        background: var(--navyColor);
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .btn-cancel {
        display: flex;
        align-items: center;
        padding: 11px 32px;
        font-weight: 900;
        cursor: pointer;
        width: fit-content;
        height: 48px;
        box-sizing: border-box;
        border: 0;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        text-decoration: none;
        color: var(--white) !important;
    }

    .accordion-title.last {
        border-radius: unset
    }

    .accordion-title.first {
        border-radius: unset !important;
    }

    #lastUpdateInfor label {
        color: var(--navyColor);
        font-weight: 400;
        font-style: normal;
        font-size: var(--fontSizeLabel2) !important;
        text-align: end;
    }

    .btn__setting.active__state {
        background: var(--red);
        border-right: red;
    }

    input[type=checkbox]:checked:after {
        background-color: var(--lightBlue) !important;
        border: 2px solid var(--lightBlue) !important;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }

    .accordion-title i {
        margin-top: 3px;
        margin-left: auto;
        float: right;
    }

    .accordion-title.active .fa-chevron-down {
        transition: .3s transform ease-in-out;
        transform: rotate(180deg);
    }

    .accordion-scroll {
        max-height: 650px !important;
        padding: 0 !important;
    }

    #divContentEditTestSettingSecond table {
        table-layout: unset !important;
    }

    .col-style {
        width: 186px;
    }

    #divDeadline {
        display: flex;
        gap: 10px;
    }

    #idTestToSpeedOptionON {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #divContentEditTestSettingSecond input[type=checkbox].input-checked-v2:after,
    #divContentEditTestSettingSecond input[type=checkbox]:after {
        border: 2px solid var(--lightBlue) !important;
    }

    #divContentEditTestSettingSecond input[type=radio]:after {
        color: var(--lightBlue) !important;
    }

    #divContentEditTestSettingSecond .sections__main .accordion-content table tbody tr td:nth-child(2) {
        padding-right: 16px !important;
    }

    #divContentEditTestSettingSecond .sections__main .accordion-content table .time-limit-section {
        width: 100% !important;
    }

    #dialog-section-based-testing-popup .red-btn:hover {
        background-color: var(--red2) !important;
    }

    #dialog-section-based-testing-popup .red-btn {
        padding: 11px 32px !important;
    }

    #accordion-assignment-setting .accordion-content {
        overflow: hidden;
    }
</style>
<link href="@Url.Content("~/Content/css/test-schedule.css")" rel="stylesheet" type="text/css" />
<div id="divContentEditTestSettingTop" style="position: static; z-index: 1002">
    <div id="divContentEditTestSettingSecond" class="form bubbleSheetSelector" style="z-index: 1002;">
        <fieldset class="p-0">
            <div class="title-heading-popup mb-4">
                <p class="title-large m-0">
                    Preview Online Setting
                </p>
                <a id="closeBtn" href="#closeBtn" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a>
            </div>

            <div class="mt-4" id="lastUpdateInfor"></div>

            <div class="clearfix testPreferences__panel testPreferences__panel--PreviewOnlineSetting">
                <div class="btn__overall btn__setting active__state">
                    <span>Overall Test</span>
                </div>
            </div>

            <div class="accordion-scroll">
                <div class="sections__main">
                    <div id="settings_sections">
                        <sections_wrapper></sections_wrapper>
                    </div>
                </div>
                <div id="accordion-assignment-setting" class="accordion overall__settings">
                    <div class="accordion-title first active">
                        <h3>Navigation/Display<i class="fa-solid fa-chevron-down ml-10"></i></h3>
                    </div>
                    <div class="accordion-content active">
                        <table class="table table-accordion  u-w-p-100">
                            <tbody>
                                <tr>
                                    <td class="table-accordion-title">
                                        Section-Based Testing
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="sectionBasedTestingCkb">
                                            <span class="slider round"></span>
                                        </label>

                                        <div class="hide-input">
                                            <input type="radio" value="0" name="sectionBasedTesting" id="sectionBasedTesting1" /> <label for="sectionBasedTesting1">OFF</label>
                                            <input type="radio" value="1" name="sectionBasedTesting" id="sectionBasedTesting2" /> <label for="sectionBasedTesting2">ON</label>
                                        </div>                              
                                    </td>
                                </tr>
                                <tr>
                                    <td>Auto Advance</td>
                                    <td class="">
                                        <label class="switch">
                                            <input type="checkbox" name="autoAdvanceTestCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="autoAdvanceTest" id="autoAdvanceTest1" /> <label for="autoAdvanceTest1">OFF</label>
                                            <input type="radio" value="1" name="autoAdvanceTest" id="autoAdvanceTest2" /> <label for="autoAdvanceTest2">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Must Answer All Questions</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="mustAnswerAllQuestionsCkb" class="mustAnswerAllQuestionsSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="mustAnswerAllQuestions" id="mustAnswerAllQuestions1" /> <label for="mustAnswerAllQuestions1">OFF</label>
                                            <input type="radio" value="1" name="mustAnswerAllQuestions" id="mustAnswerAllQuestions2" /> <label for="mustAnswerAllQuestions2">ON</label>
                                        </div>                                   
                                    </td>
                                    <td  class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="mustAnswerAllQuestionsSectionItems" class='chkSetAtSectionLevel' data-order='1' />
                                            <label for="mustAnswerAllQuestionsSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Can Pause Test</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="canPauseTestCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input id="rdcanPauseTestOff" type="radio" value="0" name="canPauseTest" /> <label for="rdcanPauseTestOff">OFF</label>
                                            <input id="rdcanPauseTestOn" type="radio" value="1" name="canPauseTest" /> <label for="rdcanPauseTestOn">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Display Answer Labels</td>
                                    <td>
                                        <input type="checkbox" id="DisplayAnswerLabelSingleSelect" name="DisplayAnswerLabels" />
                                        <label for="DisplayAnswerLabelSingleSelect">Single Select</label>

                                        <input type="checkbox" id="DisplayAnswerLabelMultiselect" name="DisplayAnswerLabels" />
                                        <label for="DisplayAnswerLabelMultiselect">Multi-select</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Display Question Number
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="displayQuestionNumberCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="displayQuestionNumber" id="displayQuestionNumber1" /> <label for="displayQuestionNumber1">OFF</label>
                                            <input type="radio" value="1" name="displayQuestionNumber" id="displayQuestionNumber2" /> <label for="displayQuestionNumber2">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Answer Label Format</td>
                                    <td>
                                        <input type="radio" value="0" name="answerLabelFormat" id="answerLabelFormat1" /> <label for="answerLabelFormat1">Letter (A, B, C...)</label>
                                        <input type="radio" value="1" name="answerLabelFormat" id="answerLabelFormat2" /> <label for="answerLabelFormat2">Numbers (1, 2, 3...)</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Passage Position in Test Taker</td>
                                    <td>
                                        <input type="radio" value="1" name="passagePositioninTestTaker" id="passagePositioninTestTaker1" /> <label for="passagePositioninTestTaker1">LEFT</label>
                                        <input type="radio" value="0" name="passagePositioninTestTaker" id="passagePositioninTestTaker2" /> <label for="passagePositioninTestTaker2">RIGHT</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Display Answer Choice Guidance</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="displayAnswerChoiceGuidanceCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="displayAnswerChoiceGuidance" id="displayAnswerChoiceGuidance1" /> <label for="displayAnswerChoiceGuidance1">OFF</label>
                                            <input type="radio" value="1" name="displayAnswerChoiceGuidance" id="displayAnswerChoiceGuidance2" /> <label for="displayAnswerChoiceGuidance2">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                @if (Model.IsSupportQuestionGroup)
                                {
                                    <tr>
                                        <td class="table-accordion-title">Question Number Labeling for Grouped Questions</td>
                                        <td>
                                            <input type="radio" value="0" name="questiongrouplabelschema" id="questiongrouplabelschema1" /> <label for="questiongrouplabelschema1">1a, 1b, 1c...</label>
                                            <input type="radio" value="1" name="questiongrouplabelschema" id="questiongrouplabelschema2" /> <label for="questiongrouplabelschema2">1.1, 1.2, 1.3...</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-accordion-title">Question Group Multiple Choices Numbering</td>
                                        <td>
                                            <input type="radio" value="0" name="questiongroupmultiplechoicesnumbering" id="questiongroupmultiplechoicesnumbering1" /> <label for="questiongroupmultiplechoicesnumbering1">Restart</label>
                                            <input type="radio" value="1" name="questiongroupmultiplechoicesnumbering" id="questiongroupmultiplechoicesnumbering2" /> <label for="questiongroupmultiplechoicesnumbering2">Continue</label>
                                        </td>
                                    </tr>
                                }
                                <tr class='sectionAvailability__wrapper'>
                                    <td class="table-accordion-title">
                                        Section Availability
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="sectionAvailabilityCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="sectionAvailability" checked="checked" id="sectionAvailability1" /> <label for="sectionAvailability1">OFF</label>
                                            <input type="radio" value="1" name="sectionAvailability" id="sectionAvailability2" /> <label for="sectionAvailability2">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class='sectionAvailability__wrapper'>
                                    <td colspan="2" style="padding-right: 0">
                                        <div class="sectionsAvailabilityList">
                                            <table></table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="accordion-title">
                        <h3>Security and Privacy<i class="fa-solid fa-chevron-down ml-10"></i></h3>
                    </div>
                    <div class="accordion-content">
                        <table class="table table-accordion u-w-p-100">
                            <tbody>
                                <tr>
                                    <td class="w-30 table-accordion-title">@LocalizeHelper.Localized("STUDENT_AGREEMENT_TITLE")</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="requireHonorCodeCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="requireHonorCode" id="requireHonorCode1" /> <label for="requireHonorCode1">OFF</label>
                                            <input type="radio" value="1" name="requireHonorCode" id="requireHonorCode2" /> <label for="requireHonorCode2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Require Password</td>
                                    <td class="">
                                        <label class="switch">
                                            <input type="checkbox" name="verifyStudentCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="verifyStudent" id="verifyStudent1" /> <label for="verifyStudent1">OFF</label>
                                            <input type="radio" value="1" name="verifyStudent" id="verifyStudent2" /> <label for="verifyStudent2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Require Test Taker Authentication</td>
                                    <td class="">
                                        <label class="switch">
                                            <input type="checkbox" name="Ckb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="requireTestTakerAuthentication" id="requireTestTakerAuthentication1" /> <label for="requireTestTakerAuthentication1">OFF</label>
                                            <input type="radio" value="1" name="requireTestTakerAuthentication" id="requireTestTakerAuthentication2" /> <label for="requireTestTakerAuthentication2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Shuffle Questions</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="shuffleQuestionsCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="shuffleQuestions" id="shuffleQuestions1" /> <label for="shuffleQuestions1">OFF</label>
                                            <input type="radio" value="1" name="shuffleQuestions" id="shuffleQuestions2" /> <label for="shuffleQuestions2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Shuffle Multiple Choice Answers</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="overrideAutoGradedTextEntryCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="overrideAutoGradedTextEntry" id="overrideAutoGradedTextEntry1" /> <label for="overrideAutoGradedTextEntry1">OFF</label>
                                            <input type="radio" value="1" name="overrideAutoGradedTextEntry" id="overrideAutoGradedTextEntry2" /> <label for="overrideAutoGradedTextEntry2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Full Screen Browser Mode
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="lockedDownTestTakerCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input id="rdlockedDownTestTakerOff" type="radio" value="0" name="lockedDownTestTaker" /> <label for="rdlockedDownTestTakerOff">OFF</label>
                                            <input id="rdlockedDownTestTakerOn" type="radio" value="1" name="lockedDownTestTaker" /> <label for="rdlockedDownTestTakerOn">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Override Auto Graded Items
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="overrideAutoGradedTextEntryCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="overrideAutoGradedTextEntry" id="overrideAutoGradedTextEntry1" /> <label for="overrideAutoGradedTextEntry1">OFF</label>
                                            <input type="radio" value="1" name="overrideAutoGradedTextEntry" id="overrideAutoGradedTextEntry2" /> <label for="overrideAutoGradedTextEntry2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Browser Lockdown Mode
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="browserLockdownModeCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input id="rdbrowserLockdownModeOff" type="radio" value="0" name="browserLockdownMode" /> <label for="rdbrowserLockdownModeOff">OFF</label>
                                            <input id="rdbrowserLockdownModeOn" type="radio" value="1" name="browserLockdownMode" /> <label for="rdbrowserLockdownModeOn">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Anonymized Scoring
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="anonymizedScoringCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input id="rdAnonymizedScoringOff" type="radio" value="0" name="anonymizedScoring" /> <label for="rdAnonymizedScoringOff">OFF</label>
                                            <input id="rdAnonymizedScoringOn" type="radio" value="1" name="anonymizedScoring" /> <label for="rdAnonymizedScoringOn">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="accordion-title">
                        <h3>Accommodations<i class="fa-solid fa-chevron-down ml-10"></i></h3>
                    </div>
                    <div class="accordion-content">
                        <table class="table table-accordion u-w-p-100">
                            <tbody>
                                <tr>
                                    <td class="w-30 table-accordion-title">Time Limit</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="timeLimitCkb" class="timeLimitSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input id="rdTimeLimitOFF" type="radio" value="0" name="timeLimit" /> OFF
                                            <input id="rdTimeLimitON" type="radio" value="1" name="timeLimit" /> ON
                                        </div>
                                        @Html.Hidden("hdfDurationId", Model.Duration)
                                        @Html.Hidden("hdfDdeadlineId", Model.Deadline)
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="timeLimitSectionItems" class='chkSetAtSectionLevel' data-order='2' />
                                            <label for="timeLimitSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>                                  
                                </tr>
                                <tr id="timeLimitTr" style="display: none;">
                                    <td class="table-accordion-title">
                                        <div></div>
                                    </td>
                                    <td>
                                        <div id="idTimeLimitON" style="padding:10px 0; display: none;">
                                            <input id="enableDurationOption" name="TimeLimitON" type="radio" title="Duration" value="on" checked="checked" />
                                            <label for="enableDurationOption">Duration</label>
                                            <input id="enableDeadline" name="TimeLimitON" type="radio" title="Deadline" />
                                            <label for="enableDeadline">Deadline</label>
                                        </div>
                                        <div id="divDuration" style="display: none;">
                                            <input id="durationId" type="text" maxlength="6" style="width: 105px;" />
                                            Minutes
                                            <div id="showTimeLimitWarningON" style="display: block; clear: both; padding-top: 21px;">
                                                <input type="radio" value="1" name="timeLimitDurationType" checked="checked" id='TimeRemaininglbl'> <label for="TimeRemaininglbl">Time Remaining</label>
                                                <input type="radio" value="2" name="timeLimitDurationType" id='TimeSpentlbl'> <label for="TimeSpentlbl">Time Spent</label>
                                            </div>
                                        </div>
                                        <div id="divDeadline" style="display: none;">
                                            <input type="text" id="selectDeadline" class="datepicker" style="width: 105px;z-index: 9999" readonly="readonly" />
                                            <select id="selectHouse" style="min-width: 50px !important;">
                                                <option value="0">12 AM</option>
                                                <option value="1">1 AM</option>
                                                <option value="2">2 AM</option>
                                                <option value="3">3 AM</option>
                                                <option value="4">4 AM</option>
                                                <option value="5">5 AM</option>
                                                <option value="6">6 AM</option>
                                                <option value="7">7 AM</option>
                                                <option value="8">8 AM</option>
                                                <option value="9">9 AM</option>
                                                <option value="10">10 AM</option>
                                                <option value="11">11 AM</option>
                                                <option value="12">12 PM</option>
                                                <option value="13">1 PM</option>
                                                <option value="14">2 PM</option>
                                                <option value="15">3 PM</option>
                                                <option value="16">4 PM</option>
                                                <option value="17">5 PM</option>
                                                <option value="18">6 PM</option>
                                                <option value="19">7 PM</option>
                                                <option value="20">8 PM</option>
                                                <option value="21">9 PM</option>
                                                <option value="22">10 PM</option>
                                                <option value="23">11 PM</option>
                                            </select>
                                            <select id="selectMunite" style="min-width: 50px !important;"></select>
                                        </div>
                                    </td>
                                    <td class="cb__sectionLevel"></td>
                                </tr>

                                <tr id="trShowTimeLimitWarning">
                                    <td class="table-accordion-title">
                                        Show Time Limit Warning
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="showTimeLimitWarningCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="showTimeLimitWarning" id="OFF_showTimeLimitWarning" /> <label for="OFF_showTimeLimitWarning">OFF</label>
                                            <input type="radio" value="1" name="showTimeLimitWarning" id="ON_showTimeLimitWarning" /> <label for="ON_showTimeLimitWarning">ON</label>
                                        </div>
                                    </td>
                                </tr>

                                @Html.Partial("~/Views/TestPreference/v2/_TestSchedule.cshtml")

                                <tr id="trShowTimeLimitWarning1" style="display: none;">
                                    <td class="table-accordion-title"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Multiple Choice Click Method</td>
                                    <td>
                                        <input type="radio" value="0" name="multipleChoiceClickMethod" id="clkBtnradio" /> <label for="clkBtnradio">Click Button</label>
                                        <input type="radio" value="1" name="multipleChoiceClickMethod" id="clkAnsradio" /> <label for="clkAnsradio">Click Answer</label>
                                        <input type="radio" value="2" name="multipleChoiceClickMethod" id="clkAnsBtnradio" /> <label for="clkAnsBtnradio">Click Answer and Button</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Enable Video Controls</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="enableVideoControlsCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="enableVideoControls" id="OFF_enableVideoControls" /> <label for="OFF_enableVideoControls">OFF</label>
                                            <input type="radio" value="1" name="enableVideoControls" id="ON_enableVideoControls" /> <label for="ON_enableVideoControls">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Enable Audio
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="enableAudio" id="enableAudio1" /> <label for="enableAudio1">OFF</label>
                                        <input type="radio" value="2" name="enableAudio" id="enableAudio2" /> <label for="enableAudio2">Simple Audio</label>
                                        <input type="radio" value="1" name="enableAudio" id="enableAudio3" />  <label for="enableAudio3">Advanced Audio</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Font Size
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="supportFontsizeCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="supportFontsize" id="supportFontsize1" /> <label for="supportFontsize1">OFF</label>
                                            <input type="radio" value="1" name="supportFontsize" id="supportFontsize2" /> <label for="supportFontsize2">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Zoom
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="supportZoomCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="supportZoom" id="supportZoom1" /> <label for="supportZoom1">OFF</label>
                                            <input type="radio" value="1" name="supportZoom" id="supportZoom2" /> <label for="supportZoom2">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Contrast
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="supportContrastCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="supportContrast" id="supportContrast1" /> <label for="supportContrast1">OFF</label>
                                            <input type="radio" value="1" name="supportContrast" id="supportContrast2" /> <label for="supportContrast2">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Line Reader
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="supportLineReaderCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="supportLineReader" id="supportLineReader1" /> <label for="supportLineReader1">OFF</label>
                                            <input type="radio" value="1" name="supportLineReader" id="supportLineReader2" /> <label for="supportLineReader2">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title" style="vertical-align: top;">
                                        Enable Text-To-Speech
                                    </td>
                                    <td>
                                        <p>
                                            <input id="rdTextToSpeedOptionOff" type="radio" value="0" name="displayTexttospeechOption" />
                                            <label for="rdTextToSpeedOptionOff">OFF</label>

                                            <input id="rdTextToSpeedOptionOn" type="radio" value="1" name="displayTexttospeechOption" />
                                            <label for="rdTextToSpeedOptionOn">All Content</label>

                                            <input id="rdTextToSpeedInstructionOnly" type="radio" value="4" name="displayTexttospeechOption" />
                                            <label for="rdTextToSpeedInstructionOnly">Instructions Only</label>
                                            <input id="rdTextToSpeedOptionOnPassage" type="radio" value="2" name="displayTexttospeechOption" />
                                            <label for="rdTextToSpeedOptionOnPassage">Passage Only</label>
                                        </p>
                                        
                                        <p>                                          
                                            <input id="rdTextToSpeedOptionOnQuestion" type="radio" value="3" name="displayTexttospeechOption" />
                                            <label for="rdTextToSpeedOptionOnQuestion">Instructions/Questions Only</label>
                                        </p>
                                        <div class="clear" style="height: 10px"></div>
                                        <div id="idTestToSpeedOptionON" style="display: none;">
                                            Rate
                                            <select id="selectRate" style="min-width: 50px !important;">
                                                <option value="0.8">Normal </option>
                                                <option value="0.7">Slow</option>
                                            </select>
                                            Volume
                                            <select id="selectVolume" style="min-width: 50px !important;">
                                                <option value="0.0">0</option>
                                                <option value="0.1">1</option>
                                                <option value="0.2">2</option>
                                                <option value="0.3">3</option>
                                                <option value="0.4">4</option>
                                                <option value="0.5">5</option>
                                                <option value="0.6">6</option>
                                                <option value="0.7">7</option>
                                                <option value="0.8">8</option>
                                                <option value="0.9">9</option>
                                                <option value="1">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="accordion-title">
                        <h3>Tools<i class="fa-solid fa-chevron-down ml-10"></i></h3>
                    </div>
                    <div class="accordion-content">
                        <table class="table table-accordion u-w-p-100">
                            <tbody>
                                <tr>
                                    <td class="table-accordion-title">Basic Science Palette</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="simplePaletteCkb" class="simplePaletteSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="simplePalette" id="simplePalette1" /> <label for="simplePalette1">OFF</label>
                                            <input type="radio" value="1" name="simplePalette" id="simplePalette2" /> <label for="simplePalette2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="simplePaletteSectionItems" class='chkSetAtSectionLevel' data-order='3' />
                                            <label for="simplePaletteSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Math/Science Palette</td>
                                    <td class="">
                                        <label class="switch">
                                            <input type="checkbox" name="mathPaletteCkb" class="mathPaletteSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="mathPalette" id="mathPalette1" /> <label for="mathPalette1">OFF</label>
                                            <input type="radio" value="1" name="mathPalette" id="mathPalette2" /> <label for="mathPalette2">ON</label>
                                        </div>            
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="mathPaletteSectionItems" class='chkSetAtSectionLevel' data-order='4' />
                                            <label for="mathPaletteSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Spanish Palette</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="spanishPaletteCkb" class="spanishPaletteSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="spanishPalette" id="spanishPalette1" /> <label for="spanishPalette1">OFF</label>
                                            <input type="radio" value="1" name="spanishPalette" id="spanishPalette2" /> <label for="spanishPalette2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="spanishPaletteSectionItems" class='chkSetAtSectionLevel' data-order='5' />
                                            <label for="spanishPaletteSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">French Palette</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="frenchPaletteCkb" class="frenchPaletteSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="frenchPalette" id="frenchPalette1" /> <label for="frenchPalette1">OFF</label>
                                            <input type="radio" value="1" name="frenchPalette" id="frenchPalette2" /> <label for="frenchPalette2">ON</label>
                                        </div>                              
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="frenchPaletteSectionItems" class='chkSetAtSectionLevel' data-order='6' />
                                            <label for="frenchPaletteSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Protractor</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="protractorCkb" class="protractorSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="protractor" id="protractor1" /> <label for="protractor1">OFF</label>
                                            <input type="radio" value="1" name="protractor" id="protractor2" /> <label for="protractor2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="protractorSectionItems" class='chkSetAtSectionLevel' data-order='7' />
                                            <label for="protractorSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">6" Ruler</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="ruler6inchCkb" class="ruler6inchSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="ruler6inch" id="6-inch-off" /> <label for="6-inch-off">OFF</label>
                                            <input type="radio" value="1" name="ruler6inch" id="6-inch-on" /> <label for="6-inch-on">ON</label>
                                        </div>                                       
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="ruler6inchSectionItems" class='chkSetAtSectionLevel' data-order='8' />
                                            <label for="ruler6inchSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">12" Ruler</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="ruler12inchCkb" class="ruler12inchSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="ruler12inch" id="12-inch-off" /> <label for="12-inch-off">OFF</label>
                                            <input type="radio" value="1" name="ruler12inch" id="12-inch-on" /> <label for="12-inch-on">ON</label>
                                        </div>                                
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="ruler12inchSectionItems" class='chkSetAtSectionLevel' data-order='9' />
                                            <label for="ruler12inchSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">15cm Ruler</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="ruler15cmCkb" class="ruler15cmSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="ruler15cm" id="15cm-off" /> <label for="12-inch-off">OFF</label>
                                            <input type="radio" value="1" name="ruler15cm" id="15cm-on" /> <label for="15cm-on">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="ruler15cmSectionItems" class='chkSetAtSectionLevel' data-order='10' />
                                            <label for="ruler15cmSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">30cm Ruler</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="ruler30cmCkb" class="ruler30cmSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="ruler30cm" id="30cm-off" /> <label for="30cm-off">OFF</label>
                                            <input type="radio" value="1" name="ruler30cm" id="30cm-on" /> <label for="30cm-on">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="ruler30cmSectionItems" class='chkSetAtSectionLevel' data-order='11' />
                                            <label for="ruler30cmSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Standard Calculator
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="supportCalculatorCkb" class="supportCalculatorSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="supportCalculator" id="supportCalculator1" /> <label for="supportCalculator1">OFF</label>
                                            <input type="radio" value="1" name="supportCalculator" id="supportCalculator2" /> <label for="supportCalculator2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="supportCalculatorSectionItems" class='chkSetAtSectionLevel' data-order='12' />
                                            <label for="supportCalculatorSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Scientific Calculator
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="scientificCalculatorCkb" class="scientificCalculatorSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="scientificCalculator" id="scientificCalculator1" /> <label for="scientificCalculator1">OFF</label>
                                            <input type="radio" value="1" name="scientificCalculator" id="scientificCalculator2" /> <label for="scientificCalculator2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="scientificCalculatorSectionItems" class='chkSetAtSectionLevel' data-order='13' />
                                            <label for="scientificCalculatorSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                @if (ViewBag.HideSupportHighlightText != null && ViewBag.HideSupportHighlightText == "false")
                                {<text>
                                        <tr>
                                            <td class="table-accordion-title">
                                                Support Highlight Text
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="radio" value="0" name="supportHighlightText" id="supportHighlightText1" /> <label for="supportHighlightText1">OFF</label>
                                                    <input type="radio" value="1" name="supportHighlightText" id="supportHighlightText2" /> <label for="supportHighlightText2">ON</label>
                                                    <input type="radio" value="2" name="supportHighlightText" id="supportHighlightText3" /> <label for="supportHighlightText3">ON ( Only Student )</label>
                                                </div>
                                            </td>
                                            <td class="col-style">
                                                <div class="cb__sectionLevel">
                                                    <input type="checkbox" id="supportHighlightTextSectionItems" class='chkSetAtSectionLevel' data-order='14' />
                                                    <label for="supportHighlightTextSectionItems">Set at Section Level</label>
                                                </div>
                                            </td>
                                        </tr>
                                </text>}
                                <tr>
                                    <td class="table-accordion-title">
                                        Eliminate Choice Tool
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="eliminateChoiceToolCkb" class="eliminateChoiceToolSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="eliminateChoiceTool" id="eliminateChoiceTool1" /> <label for="eliminateChoiceTool1">OFF</label>
                                            <input type="radio" value="1" name="eliminateChoiceTool" id="eliminateChoiceTool2" /> <label for="eliminateChoiceTool2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="eliminateChoiceToolSectionItems" class='chkSetAtSectionLevel' data-order='15' />
                                            <label for="eliminateChoiceToolSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Flag Item Tool
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="flagItemToolCkb" class="flagItemToolSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="flagItemTool" id="flagItemTool1" /> <label for="flagItemTool1">OFF</label>
                                            <input type="radio" value="1" name="flagItemTool" id="flagItemTool2" /> <label for="flagItemTool2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="flagItemToolSectionItems" class='chkSetAtSectionLevel' data-order='16' />
                                            <label for="flagItemToolSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Equation Editor
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="equationeditorCkb" class="equationeditorSectionItems">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="equationeditor" id="equationeditor1" /> <label for="equationeditor1">OFF</label>
                                            <input type="radio" value="1" name="equationeditor" id="equationeditor2" /> <label for="equationeditor2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="equationeditorSectionItems" class='chkSetAtSectionLevel' data-order='17' />
                                            <label for="equationeditorSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Drawing Tool
                                    </td>
                                    <td>
                                        <div>
                                            <input type="radio" value="0" name="drawingTool" id="drawingTool1" /> <label for="drawingTool1">Free Formatted</label>
                                            <input type="radio" value="1" name="drawingTool" id="drawingTool2" /> <label for="drawingTool2">Graphing and Labeling</label>
                                        </div>                   
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="drawingToolSectionItems" class='chkSetAtSectionLevel' data-order='18' />
                                            <label for="drawingToolSectionItems">Set at Section Level</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="accordion-title last">
                        <h3>Other<i class="fa-solid fa-chevron-down ml-10"></i></h3>
                    </div>
                    <div class="accordion-content">
                        <table class="table table-accordion u-w-p-100 last">
                            <tbody>
                                <tr>
                                    <td class="w-30 table-accordion-title">
                                        Can Review Test
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="canReviewTestCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="canReviewTest" id="canReviewTest1" /> <label for="canReviewTest1">OFF</label>
                                            <input type="radio" value="1" name="canReviewTest" id="canReviewTest2" /> <label for="canReviewTest2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Hide Correct Answers and Grading Results in Student Review</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="hideCorrectAnswerAndGradingCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="hideCorrectAnswerAndGrading" id="hideCorrectAnswerAndGrading1" /> <label for="hideCorrectAnswerAndGrading1">OFF</label>
                                            <input type="radio" value="1" name="hideCorrectAnswerAndGrading" id="hideCorrectAnswerAndGrading2" /> <label for="hideCorrectAnswerAndGrading2">ON</label>
                                        </div>
                                    </td>
                                </tr>
                                @if (Model.TestExtractOptions.IsUseTestExtract)
                                {
                                    <tr>
                                        <td class="table-accordion-title">
                                            Test Extract
                                        </td>
                                        <td>
                                            @if (Model.TestExtractOptions.Gradebook)
                                            {
                                                <input type="checkbox" value="0" name="testExtract_gradebook" id="testExtract_gradebook" />
                                                <label for="testExtract_gradebook">Gradebook</label>
                                            }
                                            @if (Model.TestExtractOptions.StudentRecord)
                                            {
                                                <input type="checkbox" value="0" name="testExtract_studentRecord" id="testExtract_studentRecord" />
                                                <label for="testExtract_studentRecord">Student Record</label>
                                            }
                                        </td>
                                        <td class="col-style">
                                            <div class="cb__sectionLevel"></div>
                                        </td>
                                    </tr>
                                    if (Model.TestExtractOptions.ShowRawOrPercentOption)
                                    {
                                        <tr>
                                            <td class="table-accordion-title">Exported Score</td>
                                            <td class="">
                                                <input type="radio" value="0" name="testExtractExportRawScore" /> Percent
                                                <input type="radio" value="1" name="testExtractExportRawScore" /> Raw
                                            </td>
                                            <td class="col-style">
                                                <div class="cb__sectionLevel"></div>
                                            </td>
                                        </tr>
                                    }
                                }
                                @if (Model.VirtualTestSubTypeID == 4)
                                {
                                    <tr>
                                        <td class="table-accordion-title">
                                            Adaptive Test
                                        </td>
                                        <td>
                                            <input type="radio" value="0" name="adaptiveTest" id="adaptiveTest1" /> <label for="adaptiveTest1">OFF</label>
                                            <input type="radio" value="1" name="adaptiveTest" id="adaptiveTest2" /> <label for="adaptiveTest2">ON</label>
                                        </td>
                                        <td class="col-style">
                                            <div class="cb__sectionLevel"></div>
                                        </td>
                                    </tr>
                                }
                                @if (Model.NavigationMethodID == (int)NavigationMethodEnum.NORMAL_BRANCHING
                                    || Model.NavigationMethodID == (int)NavigationMethodEnum.SECTION_BASE_BRANCHING
                                    || Model.NavigationMethodID == (int)NavigationMethodEnum.ALGORITHMIC_BRANCHING)
                                {
                                    <tr>
                                        <td class="table-accordion-title">
                                            Navigation Method
                                        </td>
                                        <td>
                                            @if (Model.NavigationMethodID == (int)NavigationMethodEnum.SECTION_BASE_BRANCHING)
                                            {
                                                <text>
                                                    <input readonly="readonly" checked="checked" type="radio" value="3" name="branchingTest" disabled="disabled" /> Section Based Branching
                                                </text>
                                            }
                                            else if (Model.NavigationMethodID == (int)NavigationMethodEnum.ALGORITHMIC_BRANCHING)
                                            {
                                                <text>
                                                    <input readonly="readonly" checked="checked" type="radio" value="2" name="branchingTest" disabled="disabled" /> Algorithmic Branching
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    <input readonly="readonly" checked="checked" type="radio" value="1" name="branchingTest" disabled="disabled" /> Normal Branching
                                                </text>
                                            }
                                        </td>
                                        <td class="col-style">
                                            <div class="cb__sectionLevel"></div>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td class="table-accordion-title">
                                        Show Test Instructions
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="showTestInstructionsCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="showTestInstructions" id="showTestInstructions1" /> <label for="showTestInstructions1">OFF</label>
                                            <input type="radio" value="1" name="showTestInstructions" id="showTestInstructions2" /> <label for="showTestInstructions2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Show Incomplete Answer Warning
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" name="showIncompleteAnswerWarningCkb">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="showIncompleteAnswerWarning" id="showIncompleteAnswerWarning1" /> <label for="showIncompleteAnswerWarning1">OFF</label>
                                            <input type="radio" value="1" name="showIncompleteAnswerWarning" id="showIncompleteAnswerWarning2" /> <label for="showIncompleteAnswerWarning2">ON</label>
                                        </div>
                                    </td>
                                    <td class="col-style">
                                        <div class="cb__sectionLevel"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           
            @Html.Hidden("hdfIsLockedBankId", Model.IslockedBank)
        </fieldset>
    </div>
    <div class="btn-wrapper">
        <button class="btn-cancel" id="btnTestSettingCancel" type="button">Cancel</button>
        <button class="btn-red validateAtSectionLvl" id="btnTeacherPreviewOnlineSubmit" type="button">Preview</button>
    </div>
</div>

<script>
    $('#btnTestSettingCancel').unbind('click');
    $('#btnTestSettingCancel').live("click", function () {
        $(".dialog").dialog("close");
    });
    //------------------------------------------------------------
    $(function () {
        $('#lastUpdateInfor').empty();
        if ('@ViewBag.LastUpdatedDate' && '@ViewBag.LastUpdatedDate' != '') {
            $('#lastUpdateInfor').append('<label>Last Update: @ViewBag.LastUpdatedDate</label>');
        }

        $("#selectDeadline").datepicker({
            dateFormat: '@ViewBag.DateFormat' ? '@ViewBag.DateFormat' : 'M d, yy',
            beforeShow: function (input) {
                $(input).css({
                    "position": "relative",
                    "z-index": '2000'
                });

                var tagActive = $(input).parents('body').find('#ui-datepicker-div');
                tagActive.find('.ui-state-highlight').css('min-height', 'auto');
                tagActive.addClass('customCssDataPickerPreference');
            }
        });
        $("#selectDeadline").mask("99/99/9999");

        $("#durationId").keydown(function (event) {
            if (event.shiftKey) {
                event.preventDefault();
            }
            if ((event.keyCode == 110 || event.keyCode == 190) && $('#durationId').val().indexOf('.') >= 0) {
                event.preventDefault();
                return;
            }
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 110 || event.keyCode == 190) {
            } else {
                if (event.keyCode < 95) {
                    if (event.keyCode < 48 || event.keyCode > 57) {
                        event.preventDefault();
                    }
                } else {
                    if (event.keyCode < 96 || event.keyCode > 105) {
                        event.preventDefault();
                    }
                }
            }
        });

        $('#rdTimeLimitOFF').unbind('click');
        $('#rdTimeLimitOFF').click(function () {
            $('#idTimeLimitON').hide();
            $('#divDuration').hide();
            $('#divDeadline').hide();

        });

        $('#rdTimeLimitON').unbind('click');
        $('#rdTimeLimitON').click(function () {

            $('#idTimeLimitON').show();
            if ($('#enableDurationOption:checked').length > 0) {
                $('#divDuration').show();
                $('#divDeadline').hide();
            } else {
                $('#divDuration').hide();
                $('#divDeadline').show();
            }
        });

        $('#enableDurationOption').unbind('click');
        $('#enableDurationOption').click(function () {
            $('#divDuration').show();
            $('#divDeadline').hide();
        });

        $('#enableDeadline').unbind('click');
        $('#enableDeadline').click(function () {
            $('#divDuration').hide();
            $('#divDeadline').show();
            $("#selectDeadline").datepicker("getDate");
            var now = new Date();
            $("#selectDeadline").datepicker("setDate", new Date(now.getFullYear(), now.getMonth() + 1, now.getDate()));
            $("#selectHouse").val(now.getHours());
            $("#selectMunite").val(now.getMinutes());
        });

        InitTime();

        $('#rdTextToSpeedOptionOff').click(function () {
            $('#idTestToSpeedOptionON').hide();

        });
        $('#rdTextToSpeedOptionOn').click(function () {
            $('#idTestToSpeedOptionON').show();
            $('#selectRate').val(0.8);
            $('#selectVolume').val(0.5);
        });
        $('#rdTextToSpeedOptionOnPassage, #rdTextToSpeedOptionOnQuestion, #rdTextToSpeedInstructionOnly').click(function () {
             if($(this).attr('id') === 'rdTextToSpeedOptionOnQuestion') {
                $('#idTestToSpeedOptionON').css({
                    'left': '0',
                    'position': 'static'
                });
            } else {
                $('#idTestToSpeedOptionON').css({
                    'left': '0',
                    'position': 'static'
                });
            }
            $('#idTestToSpeedOptionON').show();
            $('#selectRate').val(0.8);
            $('#selectVolume').val(0.5);
        });
    });

    function InitTime() {
        for (i = 0; i < 60; i++) {
            var text = i.toString();
            if (i < 10) {
                text = '0' + i;
            }
            var option = new Option(text, i);
            $('#selectMunite').append($(option));
        }
    }

    function initTimeLimit() {
        if ($('#rdTimeLimitON:checked').length > 0) {
            $('#idTimeLimitON').show();
            var durationValue = $("#hdfDurationId").val();
            if (durationValue > 0) {
                $('#divDuration').show();
                $('#divDeadline').hide();
                $('#durationId').val(durationValue);
            } else {
                $('#divDuration').hide();
                $('#divDeadline').show();
                $('#enableDeadline').prop('checked', true);
                var deadlineValue = $("#hdfDdeadlineId").val();
                var now = new Date(deadlineValue);
                $("#selectDeadline").datepicker("setDate", now);
                $("#selectHouse").val(now.getHours());
                $("#selectMunite").val(now.getMinutes());
            }
        }
    }

    function checkNullMinutes() {
        if ($("#durationId").val().length == 0) {
            $("#durationId").val('1');
        }
    }

    function BuildLocalDateTimeToUTC() {
        var vDate = $("#selectDeadline").datepicker("getDate");
        vDate.setHours($("#selectHouse").val());
        vDate.setMinutes($("#selectMunite").val());
        return vDate.toISOString();
    }
</script>
<script type="text/javascript">
    (function ($) {
        'use strict';

        $('#accordion-assignment-setting .accordion-title').on('click', function () {
            var $self = $(this);
            var $accordionContent = $self.next();

            if ($self.hasClass('active')) {
                $self.removeClass('active');
                $accordionContent.slideUp();
            } else {
                $self.addClass('active');
                $accordionContent.slideDown();
            }
        });
    }(jQuery));
</script>

<script>
    testPreferenceModel = @Html.Raw(Json.Encode(Model.TestPreferenceModel))
    var testSchedule = new testSchedule('@ViewBag.DateFormat')

    var testNavigationMethod = '@Model.NavigationMethodID';
    var testSections = testPreferenceModel.VirtualSections || []
    var getSettingsItems = (obj) => {
        return obj.filter(a => a.Key.includes("SectionItems"))
    }

    var sectionsOptionsToolsTags = [
        ...getSettingsItems(testPreferenceModel.OptionTags),
        ...getSettingsItems(testPreferenceModel.ToolTags)
    ]
    var customSectionsSettting = []

    var CAN_EDIT = true // && chklock must be off.
    var CURRENTPAGE = 'PreviewOnlineSetting'

    testSchedule.init(testPreferenceModel.OptionTags, preferece_level.TEST_DESGIN);

    $(function() {
        FillDataToLayout(preferece_level.TEST_DESGIN);
        portalV2SkinCheckBox();
        portalV2SkinRadio();
        BindListCkbValue();
    });
    if ('@ViewBag.IsTeacherOrSchoolAdmin' == 'True') {
        $('input[name="overrideAutoGradedTextEntry"]').attr('disabled', 'disabled');
        $('#chklockOverrideAutoGradedTextEntry').attr('disabled', 'disabled');
    }

    if (!(testNavigationMethod == 1 && testSections.length > 1)) {
        $('.col-style').css("display", "none");
        $('.accordion-content > table > tbody > tr > td:nth-child(2)').attr('style', 'padding-right: 16px !important');
        $('.wrapper__testSchedule > tbody > tr > td.test-schedule-td-style').attr('style', 'padding-right: 16px !important');
    }

    function BindListCkbValue() {
        BindNewCkbValue("sectionBasedTesting", "sectionBasedTestingCkb");
        BindNewCkbValue("autoAdvanceTest", "autoAdvanceTestCkb");
        BindNewCkbValue("mustAnswerAllQuestions", "mustAnswerAllQuestionsCkb");
        BindNewCkbValue("canPauseTest", "canPauseTestCkb");
        BindNewCkbValue("displayQuestionNumber", "displayQuestionNumberCkb");
        BindNewCkbValue("displayAnswerChoiceGuidance", "displayAnswerChoiceGuidanceCkb");
        BindNewCkbValue("hideCorrectAnswerAndGrading", "hideCorrectAnswerAndGradingCkb");
        BindNewCkbValue("sectionAvailability", "sectionAvailabilityCkb");
        BindNewCkbValue("requireHonorCode", "requireHonorCodeCkb");
        BindNewCkbValue("verifyStudent", "verifyStudentCkb");
        BindNewCkbValue("requireTestTakerAuthentication", "requireTestTakerAuthenticationCkb");
        BindNewCkbValue("shuffleQuestions", "shuffleQuestionsCkb");
        BindNewCkbValue("shuffleAnswers", "shuffleAnswersCkb");
        BindNewCkbValue("lockedDownTestTaker", "lockedDownTestTakerCkb");
        BindNewCkbValue("overrideAutoGradedTextEntry", "overrideAutoGradedTextEntryCkb");
        BindNewCkbValue("browserLockdownMode", "browserLockdownModeCkb");
        BindNewCkbValue("anonymizedScoring", "anonymizedScoringCkb");
        BindNewCkbValue("timeLimit", "timeLimitCkb");
        BindNewCkbValue("showTimeLimitWarning", "showTimeLimitWarningCkb");
        BindNewCkbValue("testSchedule", "testScheduleCkb");
        BindNewCkbValue("enableVideoControls", "enableVideoControlsCkb");
        BindNewCkbValue("supportFontsize", "supportFontsizeCkb");
        BindNewCkbValue("supportZoom", "supportZoomCkb");
        BindNewCkbValue("supportContrast", "supportContrastCkb");
        BindNewCkbValue("supportLineReader", "supportLineReaderCkb");
        BindNewCkbValue("simplePalette", "simplePaletteCkb");
        BindNewCkbValue("mathPalette", "mathPaletteCkb");
        BindNewCkbValue("spanishPalette", "spanishPaletteCkb");
        BindNewCkbValue("frenchPalette", "frenchPaletteCkb");
        BindNewCkbValue("protractor", "protractorCkb");
        BindNewCkbValue("ruler6inch", "ruler6inchCkb");
        BindNewCkbValue("ruler12inch", "ruler12inchCkb");
        BindNewCkbValue("ruler15cm", "ruler15cmCkb");
        BindNewCkbValue("ruler30cm", "ruler30cmCkb");
        BindNewCkbValue("supportCalculator", "supportCalculatorCkb");
        BindNewCkbValue("scientificCalculator", "scientificCalculatorCkb");
        BindNewCkbValue("eliminateChoiceTool", "eliminateChoiceToolCkb");
        BindNewCkbValue("flagItemTool", "flagItemToolCkb");
        BindNewCkbValue("equationeditor", "equationeditorCkb");
        BindNewCkbValue("drawingTool", "drawingToolCkb");
        BindNewCkbValue("canReviewTest", "canReviewTestCkb");
        BindNewCkbValue("showTestInstructions", "showTestInstructionsCkb");
        BindNewCkbValue("showIncompleteAnswerWarning", "showIncompleteAnswerWarningCkb");

        var timeLimitChecked = $("input[name=timeLimitCkb]").is(":checked");
        if (timeLimitChecked) {
            $('#timeLimitTr').show();
        }
        else {
            $('#timeLimitTr').hide();
        }

        $('input[name="timeLimitCkb"]').change(function () {
            var value = $('input[name="timeLimit"]:checked').val();
            if (value == "1") {
                $('#rdTimeLimitON').trigger('click');
                $('#timeLimitTr').show();
            } else {
                $('#rdTimeLimitOFF').trigger('click');
                $('#timeLimitTr').hide();
            }
        });

        $('input[name="sectionAvailabilityCkb"]').change(function () {
            $("input[name='sectionAvailability']").change();
        });
    }

    $('#closeBtn').live('click', function () {
        $('.my-overlay').remove();
        $(".dialog").dialog("close");
    });
</script>
<script src="@Url.Content("~/Scripts/TestPreferences/v2/testPreferencesEvents.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TestPreferences/v2/testPreferencesVue.js")" type="text/javascript"></script>
