@model LinkIt.BubbleSheetPortal.Web.Models.TestAssignSameTestParam
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models

@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Onlinetesting, "Student");
}


<script type="text/javascript">
    var oTable;

    $(function () {

        var redirect = '@Url.Action("StudentsAssignSameTest")';
        redirectPost(redirect, {
            'StudentIds': "@Model.StudentIds",
            'TestId': "@Model.TestId",
            'DistrictId': "@Model.DistrictID",
            'GroupId': "@Model.GroupId",
            'ClassId': "@Model.ClassId",
            'IsUseRoster': "@Model.IsUseRoster"
        });
    });

    function redirectPost(location, args) {
            var form = '';
            $.each(args, function (key, value) {
                form += '<input type="hidden" name="' + key + '" value="' + value + '">';
            });
            $('<form action="' + location + '" method="POST">' + form + '</form>').appendTo($(document.body)).submit();
        }
</script>
