@using LinkIt.BubbleSheetPortal.Models.SGO
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel
<style>
    #portal-v2-containter .table-scroll {
        border-left: 1px solid var(--borderColor);
        border-right: 1px solid var(--borderColor);
    }

    #portal-v2-containter .table-scroll thead,
    #portal-v2-containter .table-scroll tbody {
        table-layout: fixed;
    }

    #portal-v2-containter .table-scroll tr:first-child td {
        border-top: 0;
    }

    #portal-v2-containter .table-scroll thead th:first-child {
        border-left: 0;
    }

    #portal-v2-containter .table-scroll thead th:last-child {
        border-right: 0;
    }

    #portal-v2-containter .table-scroll tr td:first-child {
        border-left: 0;
    }

    #portal-v2-containter .table-scroll tr td:last-child {
        border-right: 0;
    }

    table[name="dataTableClusterScore"] thead th:nth-child(1),
    table[name="dataTableClusterScore"] tbody td:nth-child(1) {
        width: 50px;
        text-align: center;
    }

    #portal-v2-containter input[type=checkbox]:not(.form-check-input) {
        margin: 0;
    }
</style>
<div class="coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectVirtualTest">
    <div class="divider mt-32 mb-32"></div>
    <p class="fw-bold mb-3">Select LinkIt! Test</p>

    <input type="hidden" name="txtHiddenSubjectName" value="@Model.SubjectName" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenGradeId" value="@Model.GradeId" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenVirtualTestId" value="@Model.VirtualTestId" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenScoreType" value="@Model.ScoreType" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenClusterScoreFilters" value="@Model.ClusterScoreFilters" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtRemainingAjaxRequest" value="1" dataPoint="@Model.DataPointIndex" />

    <div class="columns" id="divItemCriteria">
        <div class="row g-3">
            <div class="col-3">
                <label>@LabelHelper.Subject</label>
                <div class="block-text-name w-100">
                    <select id="selectSubjectPreAssessmentHistorical" class="w-100" name="selectSubjectPreAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label>@LabelHelper.GradeLabel</label>
                <div class="block-text-name w-100">
                    <select id="selectGradePreAssessmentHistorical" class="w-100" name="selectGradePreAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label>Test</label>
                <div class="block-text-name w-100">
                    <select id="selectTestPreAssessmentHistorical" class="w-100" name="selectTestPreAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label>Score Type</label>
                <div class="block-text-name w-100">
                    <select id="selectScoreTypePreAssessmentHistorical" class="w-100" name="selectScoreTypePreAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider mt-32 mb-32"></div>

<fieldset class="custom-collapse coolfieldset qtiItemSelector fieldset-datapoint" id="fsFilterByTag" name="fsFilterByTag" dataPoint="@Model.DataPointIndex">
    <legend>Filter by Cluster/Strands (Optional)</legend>
    <div class="p-4">
        <p>Associated Cluster/Strands</p>
        <div id="divTopic">
            <div class="form divItem">
                <div class="block-filter">
                    <table name="dataTableClusterScore" id="dataTableClusterScore@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="datatable table table-sgo-filter table-scroll">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" name="chkAllClusterScore" datapoint="@Model.DataPointIndex" />
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Cluster/Strands
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<script>
    $(function () {
        // All functions are at index.cshtml file

        populateSubjectsPreAssessmentHistorical('@Model.DataPointIndex');
        LoaddataTestResultSubScoreTable('@Model.DataPointIndex');

        $('fieldset[name="fsFilterByTag"][datapoint=@Model.DataPointIndex]').coolfieldset({ collapsed: true });
    });
</script>
