@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel
<style>
    #dataTableTopic1_wrapper {
        padding: 0;
    }

    #portal-v2-containter #divStateStandards .block-controls {
        padding: 0;
    }

    #dataTableMasterStandard1_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #dataTableMasterStandard1 {
        flex-grow: 1;
    }

    #portal-v2-containter .block-footer,
    #portal-v2-containter .block-pagination {
        display: none !important;
    }

    #portal-v2-containter .table-scroll {
        border-left: 1px solid var(--borderColor);
        border-right: 1px solid var(--borderColor);
    }

    #portal-v2-containter .table-scroll thead,
    #portal-v2-containter .table-scroll tbody {
        table-layout: fixed;
    }

    #portal-v2-containter .table-scroll tr:first-child td {
        border-top: 0;
    }

    #portal-v2-containter .table-scroll thead th:first-child {
        border-left: 0;
    }

    #portal-v2-containter .table-scroll thead th:last-child {
        border-right: 0;
    }

    #portal-v2-containter .table-scroll tr td:first-child {
        border-left: 0;
    }

    #portal-v2-containter .table-scroll tr td:last-child {
        border-right: 0;
    }

    table[name="dataTableMasterStandard"] thead th:nth-child(1) {
        text-align: center;
    }

    table[name="dataTableMasterStandard"] thead th:nth-child(1),
    table[name="dataTableMasterStandard"] thead th:nth-child(2),
    table[name="dataTableMasterStandard"] thead th:nth-child(5) {
        width: 50px;
    }

    table[name="dataTableMasterStandard"] tbody td:nth-child(1),
    table[name="dataTableMasterStandard"] tbody td:nth-child(2),
    table[name="dataTableMasterStandard"] tbody td:nth-child(5) {
        width: 50px;
    }


    table[name="dataTableTopic"] thead th:nth-child(1),
    table[name="dataTableSkill"] thead th:nth-child(1),
    table[name="dataTableOther"] thead th:nth-child(1) {
        width: 50px;
        text-align: center;
    }

    table[name="dataTableTopic"] tbody td:nth-child(1),
    table[name="dataTableSkill"] tbody td:nth-child(1),
    table[name="dataTableOther"] tbody td:nth-child(1) {
        width: 50px;
    }

    #portal-v2-containter input[type=checkbox]:not(.form-check-input) {
        margin: 0;
    }

</style>
<div class="coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectVirtualTest">
    <div class="divider mt-32 mb-32"></div>
    <p class="fw-bold mb-3">Select LinkIt! Test</p>

    <input type="hidden" name="txtHiddenSubjectName" value="@Model.SubjectName" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenGradeId" value="@Model.GradeId" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenVirtualTestId" value="@Model.VirtualTestId" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenScoreType" value="@Model.ScoreType" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenStateStandardFilters" value="@Model.StateStandardFilters" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenTopicFilters" value="@Model.TopicFilters" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenSkillFilters" value="@Model.SkillFilters" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenOtherFilters" value="@Model.OtherFilters" dataPoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtRemainingAjaxRequest" value="4" dataPoint="@Model.DataPointIndex" />

    <div class="columns" id="divItemCriteria">
        <div class="row g-3">
            <div class="col-3">
                <label>@LabelHelper.Subject</label>
                <div class="block-text-name w-100">
                    <select id="selectSubjectPreAssessment" class="w-100"  name="selectSubjectPreAssessment" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label>@LabelHelper.GradeLabel</label>
                <div class="block-text-name w-100">
                    <select id="selectGradePreAssessment" class="w-100" name="selectGradePreAssessment" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label>Test</label>
                <div class="block-text-name w-100">
                    <select id="selectTestPreAssessment" class="w-100" name="selectTestPreAssessment" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label>Score Type</label>
                <div class="block-text-name w-100">
                    <select id="selectScoreTypePreAssessment" class="w-100" name="selectScoreTypePreAssessment" datapoint="@Model.DataPointIndex">
                    </select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider mt-32 mb-32"></div>

<fieldset class="custom-collapse coolfieldset qtiItemSelector fieldset-datapoint" id="fsFilterbyStandard" name="fsFilterbyStandard" dataPoint="@Model.DataPointIndex">
    <legend>Filter by Standards (Optional)</legend>
    <div id="divStateStandards" class="p-4">
        <div class="row g-3">
            <div class="col-4">
                <div class="mb-3">
                    <label>State</label>
                    <div class="block-text-name w-100">
                        <select id="selectStateStandard" class="w-100" name="selectStateStandard" datapoint="@Model.DataPointIndex"></select>
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label>@LabelHelper.Subject</label>
                    <div class="block-text-name w-100">
                        <select id="selectSubjectStandard" class="w-100" name="selectSubjectStandard" datapoint="@Model.DataPointIndex"></select>
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <label>@LabelHelper.GradeLabel</label>
                    <div class="block-text-name w-100">
                        <select id="selectGradeStandard" class="w-100" name="selectGradeStandard" datapoint="@Model.DataPointIndex"></select>
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="form h-100" style="overflow: auto">
                    <div style="height: 100%; width: 100%">
                        <table name="dataTableMasterStandard" id="dataTableMasterStandard@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="datatable table table-scroll" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox" name="chkAllStandard" datapoint="@Model.DataPointIndex" />
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Number
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Description
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hiddenSelectedMasterStandardName" />
</fieldset>

<div class="divider mt-32 mb-32"></div>

<fieldset class="custom-collapse coolfieldset qtiItemSelector fieldset-datapoint" id="fsFilterByTag" name="fsFilterByTag" dataPoint="@Model.DataPointIndex">
    <legend>Filter by Tags (Optional)</legend>
    <div class="p-4">
        <p>Associated Tags</p>
        <div class="row g-3">
            <div class="col-4">
                <div id="divTopic">
                    <div class="form divItem">
                        <div class="block-filter">
                            <table name="dataTableTopic" id="dataTableTopic@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="table-scroll datatable table table-sgo-filter">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" name="chkAllTopic" datapoint="@Model.DataPointIndex" />
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Topics
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div id="divSkill">
                    <div class="form divItem">
                        <div class="block-filter">
                            <table name="dataTableSkill" id="dataTableSkill@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="table-scroll datatable table table-sgo-filter">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" name="chkAllSkill" datapoint="@Model.DataPointIndex" />
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Skills
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div id="divOther">
                    <div class="form noPadding divItem">
                        <div class="block-filter">
                            <table name="dataTableOther" id="dataTableOther@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="table-scroll datatable table table-sgo-filter">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" name="chkAllOther" datapoint="@Model.DataPointIndex" />
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Other
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<script>
    $(function () {
        // All functions are at index.cshtml file

        populateSubjectsPreAssessment('@Model.DataPointIndex');

        LoadStandardTable('@Model.DataPointIndex');
        LoadTopicTable('@Model.DataPointIndex');
        LoadSkillTable('@Model.DataPointIndex');
        LoadOtherTable('@Model.DataPointIndex');

        $('fieldset[name="fsFilterbyStandard"][datapoint=@Model.DataPointIndex]').coolfieldset({ collapsed: true });
        $('fieldset[name="fsFilterByTag"][datapoint=@Model.DataPointIndex]').coolfieldset({ collapsed: true });

        $('body').on('mousedown', 'fieldset[name="fsFilterbyStandard"]', function() {
            var $el = $(this);
            setTimeout(function() {
                if ($el.hasClass('expanded')) {
                    $('#selectStateStandard').marquee();
                    $('#selectSubjectStandard').marquee();
                    $('#selectGradeStandard').marquee();
                }
            }, 100);
        });
    });
</script>
