@using LinkIt.BubbleSheetPortal.Models.SGO
@using LinkIt.BubbleSheetPortal.Web.Helpers.SGO
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.ScoringDetailModel
<section style='z-index: 2004'>
    <div style='z-index: 2004' id="divScoringDetail">
        <div class='block-content p-4' style='z-index: 1004;'>
            <p class="title-large mb-4">Scoring Details</p>
            <div class="form bubbleSheetSelector" name="dataPoint">
                <div>
                    <ul style="display: none" name="insert-success-message" class="message success">
                        <li>Save data successfully.</li>
                    </ul>
                    <div>
                        <div class="columns">
                            <table id="dataTableScoringDetail" class="w-100 datatable table table-sgo table-sgo-student table-sgo-student-modified">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            Preparedness Group
                                        </th>
                                        <th scope="col">
                                            Student
                                        </th>
                                        @if (!string.IsNullOrEmpty(Model.PreAssessmentTestName))
                                        {
                                            <th scope="col">
                                                Pre-Assessment - @Model.PreAssessmentTestName
                                            </th>

                                        }

                                        <th scope="col">
                                            @if (Model.IsTemporaryScoring)
                                            {
                                                <text>
                                                    Progress Monitoring - @Model.PostAssessmentTestName
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    Post-Assessment - @Model.PostAssessmentTestName
                                                </text>
                                            }
                                        </th>
                                        <th scope="col">
                                            Achieved Target?
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var groupCount = Model.GroupCount;
                                        var colorList = ColorHelper.GetColorHexList(groupCount, true);
                                    }
                                    @foreach (var sgoScoringDetail in Model.SgoScoringDetails)
                                    {
                                        <tr>
                                            <td style="background-color: @colorList[sgoScoringDetail.GroupOrder.GetValueOrDefault(1) - 1]">
                                                @sgoScoringDetail.GroupOrder - @sgoScoringDetail.GroupName
                                            </td>
                                            @if (sgoScoringDetail.PostScore == null || (sgoScoringDetail.BasedScore == null && !string.IsNullOrEmpty(Model.PreAssessmentTestName)))
                                            {
                                                <td style="background-color:#F25F5F">
                                                    @sgoScoringDetail.LastName, @sgoScoringDetail.FirstName
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @sgoScoringDetail.LastName, @sgoScoringDetail.FirstName
                                                </td>
                                            }

                                            @if (!string.IsNullOrEmpty(Model.PreAssessmentTestName))
                                            {
                                                if (sgoScoringDetail.BasedScore == null)
                                                {
                                                    <td style="background-color:#F25F5F">
                                                        @sgoScoringDetail.BasedScore
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @sgoScoringDetail.BasedScore
                                                    </td>
                                                }

                                            }
                                            @if (sgoScoringDetail.PostScore == null)
                                            {
                                                <td style="background-color:#F25F5F">
                                                    @sgoScoringDetail.PostScore
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @sgoScoringDetail.PostScore
                                                </td>
                                            }

                                            <td>
                                                <input type="checkbox" name="AchievedTarget" value="@sgoScoringDetail.SgoStudentId"
                                                       @if (sgoScoringDetail.AchievedTarget == 1) { <text> checked</text>}
                                                       @if (Model.TargetScoreType != (int)SGOTargetScoreTypeEnum.ManualScoring) { <text> disabled="disabled" </text> } />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-component-footer">
            @if (Model.TargetScoreType == (int)SGOTargetScoreTypeEnum.ManualScoring && !Model.IsTemporaryScoring)
            {
                <div slot="footer">
                    <button type="button" onclick="closePopup('popupScoringDetail')">Close</button>
                    <button id="btnSaveScore" type="button">Save</button>
                </div>
            }
            else
            {
                <div slot="footer">
                    <button type="button" onclick="closePopup('popupScoringDetail')">Close</button>
                </div>
            }
        </div>
    </div>
</section>


<script>
    $('#btnSaveScore').click(function () {
        
        var sgoScoringDetails = [];
        $.each($('input[name="AchievedTarget"]'), function (i, item) {
            sgoScoringDetails.push({
                SgoStudentId: $(item).attr('value'),
                AchievedTarget: $(item).is(":checked") ? 1 : 0
            });
        });

        var data = JSON.stringify({
            sgoId: $('#sgoId').val(),
            sgoScoringDetails: sgoScoringDetails
        });

        var url = '@Url.Action("UpdateStudentAchievedTarget")';

        $('#btnSaveScore').attr('disabled', 'disabled');

        $.ajax({
            type: "POST",
            contentType: 'application/json',
                url: url,
                data: data
            })
            .done(function(response) {
                $('#btnSaveScore').enable();

                $('ul[name="insert-success-message"]').show();
                setTimeout(function() {
                    $('ul[name="insert-success-message"]').hide();
                }, 3000);
            });
    });
</script>
