@model LinkIt.BubbleSheetPortal.Web.ViewModels.TLDSDigital.TldsProfileDigitalViewModel
<style>
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="tlds-section">
    <h2 class="tlds-print-heading tlds-print-line u-text-transform-normal">Section 2: The child</h2>
    <p>This section has been completed by the child with support from an adult they know and feel comfortable with. </p>
</div>

<table>
    <tbody>
        <tr>
            <td class="u-w-190">Name of the person assisting <b>@ViewBag.ChildName</b> to complete this section:</td>
            <td>
                @Html.Raw(Model.SectionPrint2.GuardianName)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">Relationship to the child:</td>
            <td>
                @Html.Raw(Model.SectionPrint2.Relationship)
            </td>
        </tr>
    </tbody>
</table>

<table>
    <tbody>
        <tr>
            <td class="u-w-190">At home and/or Kindergarten/Child care my favourite thing is:</td>
            <td>
                @Html.Raw(Model.SectionPrint2.Favourite)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">I think I am really good at:</td>
            <td>
                @Html.Raw(Model.SectionPrint2.Strengths)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">Sometimes I might need help to:</td>
            <td>
                @Html.Raw(Model.SectionPrint2.Weaknesses)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">Things that I am curious about:</td>
            <td>
                @Html.Raw(Model.SectionPrint2.Interested)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">I think school will be:</td>
            <td>
                @Html.Raw(Model.SectionPrint2.Expected)
            </td>
        </tr>
    </tbody>
</table>

<h4 class="tlds-print-leading">Child's drawing:</h4>

@if (!string.IsNullOrEmpty(Model.SectionPrint2.Drawing))
{
    <div class="tlds-box">
        <img id="imgChildPhoto" src="@Model.SectionPrint2.Drawing" class="tlds-box-img img-center">
    </div>
}
