@model LinkIt.BubbleSheetPortal.Web.ViewModels.TLDSDigital.TldsProfileDigitalViewModel

<div class="tlds-section">
    <h2 class="tlds-print-heading tlds-print-line u-text-transform-normal">Section 3: The family</h2>
    <p>This section has been completed by the child's family (parent/guardian).</p>
</div>

<table>
    <tbody>
        <tr>
            <td class="u-w-190">Name of person filling in this form:</td>
            <td>
                @Html.Raw(Model.SectionPrint3.GuardianName)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">Relationship to the child:</td>
            <td>
                @Html.Raw(Model.SectionPrint3.Relationship)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">What is your preferred language?</td>
            <td>
                @Html.Raw(Model.SectionPrint3.PreferredLanguage)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">Is your child Aboriginal and/or Torres Strait Islander?</td>
            <td>
                <label for="isAborigialCheckbox" class="tlds-checkbox tlds-checkbox-single">
                    <input type="checkbox" disabled id="isAborigialCheckbox" @if (Model.SectionPrint3.IsAborigial.HasValue && Model.SectionPrint3.IsAborigial.Value) { <text> checked</text> }>
                    <span>Yes</span>
                </label>
                <label for="unAborigialCheckbox" class="tlds-checkbox tlds-checkbox-single">
                    <input type="checkbox" disabled id="unAborigialCheckbox" @if (Model.SectionPrint3.IsAborigial.HasValue && !Model.SectionPrint3.IsAborigial.Value) { <text> checked</text> }>
                    <span>No</span>
                </label>
            </td>
        </tr>
        <tr>
            <td class="u-w-190">Does your child have any siblings or close relatives/kin attending the same primary school?</td>
            <td>
                <label for="haveSiblingCheckbox" class="tlds-checkbox tlds-checkbox-single">
                    <input type="checkbox" disabled id="haveSiblingCheckbox" @if (Model.SectionPrint3.HaveSiblingInSchool.HasValue && Model.SectionPrint3.HaveSiblingInSchool.Value) { <text> checked</text> }>
                    <span>Yes</span>
                </label>
                <label for="haveNoSiblingCheckbox" class="tlds-checkbox tlds-checkbox-single">
                    <input type="checkbox" disabled id="haveNoSiblingCheckbox" @if (Model.SectionPrint3.HaveSiblingInSchool.HasValue && !Model.SectionPrint3.HaveSiblingInSchool.Value) { <text> checked</text> }>
                    <span>No</span>
                </label>
            </td>
        </tr>
        <tr>
            <td class="u-w-190">If yes, please list their name/s and current grade level/s:</td>
            <td>
                @Html.Raw(Model.SectionPrint3.NameAndGradeOfSibling)
            </td>
        </tr>
    </tbody>
</table>

<p>As the child's first and most enduring teacher, a family's contributions are valued and support the relationship you will develop with your child's school. Please take some time to respond to the some or all of the questions below. </p>

<table>
    <tbody>
        <tr>
            <td class="u-w-190">What are your hopes, wishes or goals for your child at school? (Prompts: making friends; being happy; learning to read; write; etc.)</td>
            <td>
                @Html.Raw(Model.SectionPrint3.Wishes)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">What would you like to know about school? (Prompts: what to bring on the first day? Teacher's name?)</td>
            <td>
                @Html.Raw(Model.SectionPrint3.InformationSchool)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">How do you think your child will settle into school? How can we help?</td>
            <td>
                @Html.Raw(Model.SectionPrint3.HelpInformation)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">Currently my child is interested in...</td>
            <td>
                @Html.Raw(Model.SectionPrint3.Interested)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">Overall I believe my child responds and learns best when...</td>
            <td>
                @Html.Raw(Model.SectionPrint3.ConditionImprovement)
            </td>
        </tr>
        <tr>
            <td class="u-w-190">Is there anything else you would like your child's new teacher to know about your child?</td>
            <td>
                @Html.Raw(Model.SectionPrint3.OtherInformation)
            </td>
        </tr>
    </tbody>
</table>
