@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TLDSDigital.TldsProfileDigitalViewModel

<div class="tlds-section">
    <h3 class="tlds-print-heading-section">
        <b>Section 1.2: Enhanced transitions for children with a disability or developmental delay </b><i>(where applicable)</i>
    </h3>
    <p>This section has been completed by the early childhood educator (where applicable).</p>

    <div class="tlds-alert">
        <b>Details of key worker or transition support coordinator (where available):</b>
    </div>
    <table>
        <tbody>
            <tr>
                <td class="u-w-180">Key worker:</td>
                <td>@Model.NoKWName</td>
            </tr>
            <tr>
                <td class="u-w-180">Phone:</td>
                <td>@Model.NoKWPhone</td>
            </tr>
            <tr>
                <td class="u-w-180">Position:</td>
                <td>@Model.NoKWPosition</td>
            </tr>
            <tr>
                <td class="u-w-180">Email:</td>
                <td>@Model.NoKWEmail</td>
            </tr>
        </tbody>
    </table>

    <div class="tlds-alert">
        <b>Early childhood professional services details and reports:</b>
    </div>

    @if (Model.ProfessionalServices.Count > 0)
    {

        foreach (var service in Model.ProfessionalServices)
        {
            <table>
                <tbody>
                    <tr>
                        <td class="u-w-180">Name of service:</td>
                        <td>@service.Name</td>
                    </tr>
                    <tr>
                        <td class="u-w-180">Address:</td>
                        <td>@service.Address</td>
                    </tr>
                    <tr>
                        <td class="u-w-180">Contact Person:</td>
                        <td>@service.ContactPerson</td>
                    </tr>
                    <tr>
                        <td class="u-w-180">Phone:</td>
                        <td>@service.Phone</td>
                    </tr>
                    <tr>
                        <td class="u-w-180">Position:</td>
                        <td>@service.Position</td>
                    </tr>
                    <tr>
                        <td class="u-w-180">Email:</td>
                        <td>@service.Email</td>
                    </tr>
                    <tr>
                        <td class="u-w-180">Written Report available: </td>
                        <td>
                            <label for="c-1-6" class="tlds-checkbox">
                                <input disabled type="checkbox" id="c-1-6" checked="checked">
                                @if (service.WrittenReportAvailable.HasValue && service.WrittenReportAvailable.Value)
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="u-w-180">Date of report:</td>
                        @if (!Model.IsPrinting)
                        {
                            <td>@service.ReportForwardedToSchoolDate.DisplayDateWithFormat()</td>
                        }
                        else
                        {
                            <td>@service.ReportForwardedToSchoolDateFormated</td>
                        }
                    </tr>
                    <tr>
                        <td class="u-w-180">Available upon requested: </td>
                        <td>
                            <label for="c-1-7" class="tlds-checkbox">
                                <input disabled type="checkbox" id="c-1-7" checked="checked">
                                @if (service.AvailableUponRequested.HasValue && service.AvailableUponRequested.Value)
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }

    <h4 class="tlds-print-leading">Additional information to support the child's inclusion at school:</h4>

    <table class="tlds-table-header-background">
        <thead>
            <tr>
                <th class="u-w-250">Areas of note: </th>
                <th>Strategies for enhanced support</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.AdditionalInformation.Count > 0)
            {
                foreach (var infor in Model.AdditionalInformation)
                {
                    <tr>
                        <td class="u-w-250">@infor.AreasOfNote</td>
                        <td>@infor.StrategiesForEnhancedSupport</td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="2"></td>
                </tr>
            }

        </tbody>
    </table>

    <h4 class="tlds-print-leading">Other reports/plans available:</h4>
    <table class="tlds-table-header-background">
        <thead>
            <tr>
                <th>Report name</th>
                <th>Date of report</th>
                <th>Will report be sent to school?</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.OtherReportPlans.Count > 0)
            {
                foreach (var otherReportPlan in Model.OtherReportPlans)
                {
                    <tr>
                        <td>@otherReportPlan.ReportName</td>
                        <td>@otherReportPlan.ReportDateFormated</td>
                        <td>
                            <label for="c-1-100" class="tlds-checkbox">
                                <input disabled type="checkbox" id="c-1-100" checked>
                                @if (otherReportPlan.AvailableOnRequest ?? false)
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                            </label>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3"></td>
                </tr>
            }
        </tbody>
    </table>

    <h4 class="tlds-print-leading">Early ABLES Reports:</h4>
    
    <div>
        @if (Model.WasAnEarlyABLESReportCompleted == false)
        {
            <table>
                <tbody>
                    <tr>
                        <td class="u-w-200">Learning Report completed:</td>
                        <td>
                            <label for="c-1-10" class="tlds-checkbox">
                                <input disabled type="checkbox" id="c-1-10">
                                <span>Yes</span>
                            </label>
                            <label for="c-1-11" class="tlds-checkbox">
                                <input disabled type="checkbox" id="c-1-11" checked="checked">
                                <span>No</span>
                            </label>
                        </td>
                    </tr>

                </tbody>
            </table>
        }
        else
        {
            <table>
                <tbody>
                    <tr>
                        <td class="u-w-200">Learning Report completed:</td>
                        <td>
                            <label for="c-1-10" class="tlds-checkbox">
                                <input disabled type="checkbox" id="c-1-10" checked="checked">
                                <span>Yes</span>
                            </label>
                            <label for="c-1-11" class="tlds-checkbox">
                                <input type="checkbox" id="c-1-11">
                                <span>No</span>
                            </label>
                        </td>
                    </tr>
                    @if (Model.TLDSEarlyABLESReport.Count > 0)
                    {
                        foreach (var rpt in Model.TLDSEarlyABLESReport)
                        {
                            <tr>
                                <td class="u-w-200">Date of report (@(Model.TLDSEarlyABLESReport.IndexOf(rpt) + 1)):</td>
                                <td>@rpt.ReportDateFormated</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>
