@model LinkIt.BubbleSheetPortal.Web.ViewModels.TLDSDigital.TldsFormSection2ViewModel

@{
    ViewBag.Title = "TLDS Digital";
}
@{
    Layout = null;
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleTLDSDigitalSection23Bundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptTLDSDigitalSection23Bundle()

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TLDSManage/tlds-digital.js")" type="text/javascript"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TLDS Digital Section 2 & 3</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

    <div class="container-fluid">
        <div class="overflow-body hide"></div>
        @using (Html.BeginForm("ChildForm", "TLDSDigitalSection23", FormMethod.Post, new { id = "formSection2", @class = "form" }))
        {
            @Html.HiddenFor(x => x.TLDSFormSection2ID)
            @Html.HiddenFor(x => x.TLDSProfileLinkID)
            @Html.HiddenFor(x=>x.RotatePhoto, new { @class = "rotatePhoto" })

            <img src="/Content/images/loading_grey_circle.gif" alt="Loading..." class="img-loading hide" />

            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                <div class="tlds-section">
                    <h2 class="tlds-print-heading tlds-print-line u-text-transform-normal">Section 2: The child</h2>
                    <p>This section has been completed by the child with support from an adult they know and feel comfortable with. </p>
                </div>
            </div>

            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                <ul id="error-messages" class="message error" style="display:none; color: red;"></ul>
                <table>
                    <tbody>
                        <tr>
                            <td class="col-sm-2 col-xs-2">Name of the person assisting <b>@ViewBag.ChildName</b> to complete this section:</td>
                            <td class="col-sm-10 col-xs-10">
                                @Html.TextBoxFor(x => x.GuardianName, new { @class = "form-control tlds-input", @maxlength = 200, tabindex = 1 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2 col-xs-2">Relationship to the child:</td>
                            <td class="col-sm-10 col-xs-10">
                                @Html.TextBoxFor(x => x.Relationship, new { @class = "form-control tlds-input", @maxlength = 200, tabindex = 2 })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                <table>
                    <tbody>
                        <tr>
                            <td class="col-sm-2 col-xs-2">At home and/ or Kindergarten/ Child care my favourite thing is:</td>
                            <td>
                                @Html.TextAreaFor(x => x.Favourite, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 3 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2 col-xs-2">I think I am really good at:</td>
                            <td>
                                @Html.TextAreaFor(x => x.Strengths, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 4 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2 col-xs-2">Sometimes I might need help to:</td>
                            <td>
                                @Html.TextAreaFor(x => x.Weaknesses, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 5 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2 col-xs-2">Things that I am curious about:</td>
                            <td>
                                @Html.TextAreaFor(x => x.Interested, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 6 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-2 col-xs-2">I think school will be:</td>
                            <td>
                                @Html.TextAreaFor(x => x.Expected, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 7 })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                <h4 class="tlds-print-leading">Child's drawing:</h4>

                <a class='tlds-upload-file btn btn-primary' id="selectImage" href='javascript:;'>
                    Attach Child's Drawing
                </a>
                <p>We recommend your image size is under 2MB</p>
                <input id=imageUpload type="file" size="40" name="imageUpload">

                &nbsp;
                <a href="javascript:;" class="tlds-icon">
                    <span id="spanRemoveChildPhoto" class="glyphicon glyphicon-minus-sign photo-tool"></span>
                </a>

                <span id="rotate-left" class="attachment-item with-tip pointer photo-tool" title="Rotate Left 90<sup>o</sup>"><img src="/Content/themes/Constellation/images/rotate.png" style="width: 22px; padding-top: 3px;"></span>
                <span id="rotate-right" class="attachment-item with-tip pointer photo-tool" title="Rotate Right 90<sup>o</sup>"><img class="rotate-right" src="/Content/themes/Constellation/images/rotate.png" style="width: 22px; padding-top: 3px;"></span>

                <div class="tlds-box photo-box">
                    <img id="imgChildPhoto" src="@Model.DrawingWithAbsolutePath" class="tlds-box-img">
                </div>

                <canvas id="imgCanvas" class="hide"></canvas>
                <input type="hidden" name="Drawing" id="Drawing" value="@Model.Drawing" />

                <div class="button-group">
                    <button id="backButton" type="button" class="btn btn-success tlds-button"> Back</button>
                    <button id="saveButton" type="button" class="btn btn-primary tlds-button"> Save</button>
                    <button id="submitButton" type="button" class="btn btn-primary tlds-button"> Submit</button>
                </div>
            </div>
        }
    </div>

</body>
</html>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">You have not completed all questions in this section. Are you sure you would like to submit?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-yes">Yes</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">No</button>
            </div>
        </div>
    </div>
</div>

<!-- modal-dialog -->
<div class="modal fade" tabindexrole="dialog" id="custom-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <!-- modal-header -->
            <div class="modal-header" id="modal-head"></div>
            <!-- modal-body -->
            <div class="modal-body" id="modal-body"></div>
            <!-- modal-footer -->
            <div class="modal-footer" id="modal-footer"></div>
        </div>
    </div>
</div>

<script>
    var _rotate = 0;
    $(document).ready(function () {
        $("#rotate-left").on("click", function () {

            _rotate -= 90;
            $(".rotatePhoto").val(_rotate);
            $(".photo-box").css("transform", "rotate(" + _rotate + "deg)")
        });

        $("#rotate-right").on("click", function () {
            _rotate += 90;
            $(".rotatePhoto").val(_rotate);
            $(".photo-box").css("transform", "rotate(" + _rotate + "deg)")
        });
    });
</script>

<script type="text/javascript">
    // #region Form Load
    $(function () {
        var _photoPath = '@Model.DrawingWithAbsolutePath';
        if (!_photoPath)
            $('.photo-tool').hide();
        registerUploadChildPhoto();
    });
    // #endregion Form Load

    // #region Fields
    var url = window.location.protocol + '//' + window.location.host;
    // #endregion Fields

    // #region Events

    $('textarea').each(function () {
        this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });

    $('#submitButton').click(function () {
        disableButton(true);

        if (checkRequiredFields()) {
            if (showConfirmSubmit()) {
                $("#mi-modal").modal('show');
            }
            else {
                submitForm();
            }
        }
        else {
            disableButton(false);
        }
    });

    var modalConfirm = function (callback) {
        $("#btn-confirm").on("click", function () {
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-yes").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            disableButton(false);
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };

    modalConfirm(function (confirm) {
        if (confirm) {
            submitForm();
        }
    });

    $('#spanRemoveChildPhoto').click(function () {
        _rotate = 0;
        $(".photo-box").css("transform", "rotate(0deg)");
        $('#Drawing').val('');
        $('#imgChildPhoto').attr('src', '');
        $('.photo-tool').hide();
        $('#imgChildPhoto').hide();
    });

    $('#saveButton').click(function () {
        disableButton(true);
        $.ajax({
            url: url + "/TLDSDigitalSection23/AddOrUpdateSection2",
            type: 'POST',
            data: $('#formSection2').serialize(),
            success: function (response) {
                if (response.status === "success") {
                    window.location = response.newUrl;
                }
            },
            failure: function (response) {
                disableButton(false);
                alert(response);
            }
        });
    });

    $('#backButton').click(function () {
        disableButton(true);

        var profileLinkId = getUrlParameter('tldsProfileLinkId');
        location.href = 'Index/' + profileLinkId;
    });

    $('#selectImage').click(function (e) {
        e.preventDefault();
        $("#imageUpload").trigger('click');
    });
    // #endregion Events

    // #region Functions
    function registerUploadChildPhoto() {
        var canvas  = $("#imgCanvas")[0];
        var context = canvas.getContext("2d");
        function readImage() {
            var maxWidth = 1800;
            var imgSrc;

            if ( this.files && this.files[0] ) {
                var FR= new FileReader();
                var fileName = this.files[0].name;
                var getImage = function (imgFilename) {
                    return (/\.(gif|jpg|jpeg|png)$/i).test(imgFilename);
                };

                if (!getImage(fileName)) {
                    var msg = 'You have selected an unsupported file type. Please select a gif, png, jpeg or jpg file.';
                    customModal('Warning', msg, 'alert');
                    $('#imageUpload').val('');
                    return;
                }

                FR.onload = function(e) {
                    var img = new Image();
                    img.addEventListener("load", function() {
                        var selfImage = this;
                        canvas.width = selfImage.width;
                        canvas.height = selfImage.height;
                        var ratio = canvas.width / canvas.height;
                        if (canvas.width > maxWidth) {
                            canvas.width = maxWidth;
                            canvas.height = canvas.width/ratio;
                        }
                        context.drawImage(img, 0, 0, canvas.width, canvas.height);
                        imgSrc = canvas.toDataURL();
                        var profileLinkId = getUrlParameter('tldsProfileLinkId');

                        // Call API for creating image
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("UploadChildDrawing")',
                            data: {
                                'profileLinkId': profileLinkId,
                                imageSrc: imgSrc,
                                fileName: fileName
                            },
                            dataType: 'json',
                            success: function (response) {
                                if (!response.success == true) {
                                    var msg = '<div class="text-left">' + response.ErrorMessage + '</div>';
                                    customModal('Warning', msg, 'alert');
                                } else {
                                    $('#Drawing').val(response.drawing);
                                    $('#imgChildPhoto').attr('src', response.fileNameUrl);
                                    $('#imgChildPhoto').show();
                                    $('.photo-tool').show();
                                }
                                $('#imageUpload').val('');
                            },
                            error: function (err) {
                                alert('The error was: ' + err);
                                $('#imageUpload').val('');
                            }
                        });

                    });
                    img.src = e.target.result;
                };
                FR.readAsDataURL( this.files[0] );
            }
        }
        $('#imageUpload')[0] && $('#imageUpload')[0].addEventListener("change", readImage, false);
    }

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    function checkRequiredFields() {
        let errors = [];
        if (!$("#GuardianName").val()) errors.push("Required Field: Name of the person assisting the child");
        if (!$("#Relationship").val()) errors.push("Required Field: Relationship to the child");
        $("#error-messages").empty();
        for (var i = 0; i < errors.length; i++) {
            $("#error-messages").append("<li>" + errors[i] + "</li>");
            $("#error-messages").show();
            $("html, body").animate({ scrollTop: 0 }, 200);
        }

        return errors.length == 0;
    }

    function showConfirmSubmit() {
        var missInfo = false;
        if (!$("#Favourite").val()) missInfo = true;
        if (!$("#Strengths").val()) missInfo = true;
        if (!$("#Weaknesses").val()) missInfo = true;
        if (!$("#Interested").val()) missInfo = true;
        if (!$("#Expected").val()) missInfo = true;

        return missInfo;
    }

    function submitForm() {
        $.ajax({
            url: url + "/TLDSDigitalSection23/ChildForm",
            type: 'POST',
            data: $('#formSection2').serialize(),
            success: function (response) {
                if (response.status === "success") {
                    window.location = response.newUrl;
                }
            },
            failure: function (response) {
                disableButton(false);
                alert(response);
            }
        });
    }

    function disableButton(disabled) {
        $('#saveButton').attr("disabled", disabled);
        $('#submitButton').attr("disabled", disabled);
        $('#backButton').attr("disabled", disabled);
    }
    // #endregion Functions
</script>

