<section class="grid_12" style="width: 100%">
    <div class="block-border" style="z-index: 1003">
        <div class="block-content form" id="dvPrintTestOfStudent" style="z-index: 1003">
            <form id="frmPrintTestOfStudent">
                <fieldset>
                    <legend>Options</legend>
                    <div class="columns">
                        <div class="colx2-left">
                            <p>
                                @Html.CheckBox("ManuallyGradedOnly")
                                Manually Graded Only
                            </p>
                        </div>
                        <div class="colx2-left">
                            <p>
                                @Html.CheckBox("Passages", true)
                                Passages
                            </p>
                        </div>
                        <div class="colx2-left">
                            <p>
                                @Html.CheckBox("TeacherFeedback", true)
                                Teacher Feedback
                            </p>
                        </div>
                        <div class="colx2-left">
                            <p>
                                @Html.CheckBox("GuidanceAndRationale", true)
                                Guidance and Rationale
                            </p>
                        </div>
                        <div class="colx2-left">
                            <p>
                                @Html.CheckBox("TheCoverPage", true)
                                The Cover Page
                            </p>
                        </div>
                        <div class="colx2-left">
                            <p>
                                @Html.CheckBox("TheQuestionContent", true)
                                The Question Content
                            </p>
                        </div>
                        <div class="colx2-left">
                            <p>
                                @Html.CheckBox("TheCorrectAnswer", true)
                                The Correct Answer
                            </p>
                        </div>
                        <div class="colx2-left">
                            <p>
                                @Html.CheckBox("ShowQuestionPrefix", true)
                                Show Question #
                            </p>
                        </div>
                        <div class="colx2-left">
                            <p>
                                @Html.CheckBox("ShowBorderAroundQuestions", true)
                                Show Border Around Questions
                            </p>
                        </div>
                        <div class="colx2-left">
                            <p>
                                @Html.CheckBox("ExcludeTestScore", true)
                                Include Test Score
                            </p>
                        </div>
                        <div class="colx2-left">
                            <p>
                                Column:
                                @Html.RadioButton("NumberOfColumn", 1, false, new { id = "rdSingleColumn" })
                                Single
                                @Html.RadioButton("NumberOfColumn", 2, true, new { id = "rdDoubleColumn" })
                                Double
                            </p>
                        </div>
                    </div>
                    <div style="float: right; margin-top: 10px;">
                        <input type="hidden" name="VirtualTestID" value="@Model.VirtualTestID" />
                        <input type="hidden" name="QTIOnlineTestSessionID" value=""/>
                        <input type="hidden" name="QTITestClassAssignmentID" value="" />
                        <input type="hidden" name="TestName" value="" />
                        <input type="hidden" name="StudentName" value="" />
                        <input type="hidden" name="TotalPointsEarned" value="" />
                        <input type="hidden" name="TotalPointsPossible" value="" />
                        <input type="hidden" name="ManuallyGradedOnlyQuestionIds" value="" />
                        <input type="hidden" name="PrintGuidance" value="" />
                        <button id="btnPrintTestOfStudent" type="button">Create PDF</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnPrintTestOfStudent').click(function () {
            ShowBlock($('#dvPrintTestOfStudent'), 'Loading');
            var url = '@Url.Action("PrintTestOfStudent", "PrintTest")';
            var pdfUrl = '';
            $.ajax({
                type: 'POST',
                url: url,
                data: $('#frmPrintTestOfStudent').serialize(),
                success: function (response) {
                    pdfUrl = response;
                    if (pdfUrl != null && pdfUrl != '') {
                        var options = {};
                        options.Message = 'Successfully created PDF.';
                        //wait for 3 seconds to make sure pdf has been generated
                        setTimeout(function () {
                            $('#dvPrintTestOfStudent').unblock();
                            SuccessMessage(options, function () {
                                window.open(pdfUrl, '_blank');
                            });
                        }, 3000);
                    }
                },
                error: function () {
                    $('#dvPrintTestOfStudent').unblock();
                }
            });
        });
    });
</script>