@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOAddEditBandViewModel
<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="iddivAddEditBank" class='block-content form' style='z-index: 1004'>
            <p class="title-large mb-4">Change Cut Score</p>
            <button id="idbtnAddBank" class="btn btn-plus-icon btn-text float-right mb-4 btn-sgo-add-band" style="padding-left:14px" onclick="btnAddBand()">
                Add Band
            </button>
            <a id="idbtnApplyDefault" title=Apply Default" href="javascript:void(0)" class="btn btn-secondary-link float-right" style="padding-top: 11px" onclick="btnApplyDefault()">
                Apply Default
            </a>
            <div style="margin-bottom:24px">
                <div style="width: 100%; min-height: 170px">
                    <table id="tbAddEditBand" class="table">
                        <thead>
                            <tr>
                                <th>Band</th>
                                <th>Low</th>
                                <th>High</th>
                                <th class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.LstDataPointBands.Count > 0)
                            {
                                foreach (var viewModel in Model.LstDataPointBands)
                                {
                                    <text>
                                        <tr class="AddEditBand" bandid="@viewModel.Id">
                                            <td>
                                                <input class="bandName" type="text" value="@viewModel.Name" />
                                            </td>
                                            <td>
                                                <input class="bandLow" type="text" value="@viewModel.Low" />
                                            </td>
                                            <td>
                                                <input class="bandHigh" type="text" value="@viewModel.High" />
                                            </td>
                                            <td>
                                                <div class="icon icon-sgo-delete clsDeleteGroup" onclick="removeRow(this,'@viewModel.Id')"><i class="fa-solid fa-circle-xmark icon-red"></i></div>
                                            </td>
                                        </tr>
                                    </text>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <input id="hdfDataPointId" type="hidden" value="@Model.DataPointId" />
            <div class="modal-component-footer mx-n3 px-4">
                <div slot="footer">
                    <button type="button" onclick="btnClosePopupAddEditBand()">Close</button>
                    <button id="idbtnSaveCutScore" type="button" onclick="btnSaveCutScore()">Save Cut Score</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var vCounter = 1;
    $(function () {
        vCounter = @Model.LstDataPointBands.Count;
        
        $(document).on('keydown', '#tbAddEditBand .bandLow, #tbAddEditBand .bandHigh', function(event) {
            var allowedKey = [46, 8, 9, 27, 13, 190];
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(event.keyCode, allowedKey) !== -1 ||
                // Allow: Ctrl+A
               (event.keyCode == 65 && event.ctrlKey === true) ||
                // Allow: home, end, left, right
               (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && 
                    (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
        
        //Decode html GroupName
        $('#tbAddEditBand input[class=bandName]').each(function () {
            var self = $(this);
            var vDecode = htmlDecode(self.val());
            self.val(vDecode);
        });
         
    });

    function btnAddBand() {
        $('#tbAddEditBand > tbody:last-child').append(
            '<tr class="AddEditBand" bandid="0">' +
                '<td><input class="bandName" type="text" value="" /></td>'+
                '<td><input class="bandLow" type="text" value="" /></td>'+
                '<td><input class="bandHigh" type="text" value="" /></td>'+
                '<td><div class="icon icon-sgo-delete clsDeleteGroup" onclick="removeRow(this,0)"><i class="fa-solid fa-circle-xmark icon-red"></i></div></td>'+
                '</tr>' );
        vCounter = vCounter + 1;
        if (vCounter >= 10) {
            $('#idbtnAddBank').disableBt();
        }
    }

    function removeRow(e) {
        $(e).parents('tr').remove();
        vCounter = vCounter - 1;
        if (vCounter < 10) {
            $('#idbtnAddBank').enableBt();
        }
    }

</script>
