<div id="divSGONote" style="min-height:257px">
    <fieldset class="p-0 pcoolfieldset qtiItemSelector fieldset-datapoint" id="fsSGONote" name="fsSGONote">
        <p class="title-large" style="font-size: 18px !important">Notes (Optional)</p>
        <div class="columns">
            <div class="d-flex align-items-end">
                <input type="hidden" id="noteSGOId" value="@ViewBag.SGOId" />
                <textarea name="txtSGONote" id="txtSGONote" style="width: 50%; border: 2px solid var(--selectBorder); min-height:43px" cols="80" rows="10" onmouseup="resizeTextArea()">@ViewBag.SGONote</textarea>
                <button id="btnSaveNote" class="btn-blue" type="button" style="margin-left: 15px">Save Note</button>
            </div>
            <div style="font-size:smaller; font-style:italic; margin-top: 15px; font-weight: 500">*The notes are only available for on-screen viewing, and will not show up in the PDF or audit trail.</div>
        </div>
    </fieldset>
</div>

<script>    
    $('#btnSaveNote').click(function() {
        ShowBlock($('#idTopNavigation'), "Saving");
        var sgoId = @ViewBag.SGOId;
        var strSGONote =   $('#txtSGONote').val() ;
        $.post('@Url.Action("SaveNote", "SGOManage")', { sgoId: sgoId, sgoNote: strSGONote, pageName: '@ViewBag.PageName' }, function(response) {
            $('#idTopNavigation').unblock();
        }).always(function() {
            $('#idTopNavigation').unblock();
        });
    });

    function resizeTextArea() {
        var textAreaHeight = $('#txtSGONote').outerHeight();
        $('#divSGONote').css('min-height', (textAreaHeight + 75) + 'px');
    }

</script>
