@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.FinalSignOffViewModel
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.ReportItemSGOManager, "SGO Final Signoff",true);
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }

}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleSGOManageFinalSignOffBundleV2()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptSGOManageFinalSignOffBundle()

<style>
    #portal-v2-containter #txtSGONote,
    #portal-v2-containter .comment {
        border: 2px solid var(--selectBorder) !important;
        width: 50%;
        height: 14em;
    }

    #portal-v2-containter .line-hr {
        width: 100%;
        color: var(--selectBorder);
        height: 1px;
        margin: 1.5rem 0 1rem 0;
    }

    .sgo-fieldset ol,
    .sgo-fieldset ul {
        list-style: decimal;
        padding-left: 58px;
        margin-top: 12px;
        margin-bottom: 0;
    }

    .sgo-fieldset li {
        margin-bottom: 8px;
    }

    .sgo-fieldset .with-tip {
        margin-right: 10px;
        position: relative;
        top: -3px;
    }

    .sgo-fieldset p {
        display: inline;
    }

    #portal-v2-containter .sgo-fieldset {
        padding-bottom: 0 !important;
        padding-left: .3em !important;
    }

    #portal-v2-containter .direction {
        padding: 12px !important;
        background: var(--blue1);
        border: 1px solid var(--blue3);
    }
</style>

<article class="container_12" id="idTopNavigation">
    @Html.Action("LoadNavigation", "SGOManage", new { sgoId = @Model.SGOId })
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <input type="hidden" id="sgoId" value="@Model.SGOId" />
                <h2 class="header">
                    Final SignOff
                </h2>
                <ul style="display: none" id="error-messages" class="message error"></ul>
                <ul style="display: none" id="success-message" class="message success"></ul>
                <div class="box-warning">
                    <img src="/Content/images/icons/icon-info.svg" class="ico-info">
                    @Html.Raw(Model.FinalSignoffDirection)
                </div>
                <hr class="line-hr" />
                <div class="">
                    <h5 class="h5 mb-3">Comment</h5>
                    <div class="columns">
                        <textarea id="idtareaComment" rows="10" spellcheck="true" class="u-full-width comment" onchange=" DisableMessage(); ">@Html.Raw(Html.Encode(Model.comments))</textarea>
                    </div>
                </div>
                <hr class="line-hr" />
                @Html.Action("LoadSGONote", "SGOManage", new { sgoId = Model.SGOId, pageName = LinkIt.BubbleSheetPortal.Models.SGO.SGOPageNameConstant.FinalSignoff })
                <hr class="line-hr" />
                <div class="d-flex flex-row justify-content-end">
                    @if (Model.IsApprover)
                    {
                        <button id="btnFinalSignOffDeny" type="button" class="btn-blue">Deny</button>
                        <button id="btnFinalSignOffApprove" type="button" class="btn-red ms-4">Approve</button>
                    }
                    else
                    {
                        <button id="btnFinalSignOffTeacherAcknowledged" type="button" class="btn-red">Teacher Acknowledged</button>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>
</article>

<script>
    $(function() {
        breadcrumbDetailPage('.stats', '#rpSGOManager');

        initNavigationTabs(8, @Model.SGOId);

        if (@Model.PermissionAccess != 3) //Full Update
        {
            LockAllUI();
        }
    });

    $('#btnFinalSignOffDeny').click(function() {
        ShowBlock($('#idTopNavigation'), "Processing");
        DisableMessage();
        var sgoId = @Model.SGOId;
        //var strComments = htmlEncode($('#idtareaComment').val().trim());
        var strComments =  $('#idtareaComment').val() ;
        if (strComments.length === 0) {
            $('#error-messages').html('<li>Please enter reason.</li>');
            $('#error-messages').show();
            $(window).scrollTop(0);
            $('#idTopNavigation').unblock();
            return;
        }
        $.post('@Url.Action("SGOFinalSignOffDeny", "SGOManage")', { sgoId: sgoId, strComment: strComments }, function (response) {
            if (!response) {
                $('#error-messages').html('<li>Have a error, Please try again.</li>');
                $('#error-messages').show();
                $(window).scrollTop(0);
            } else {
                var url = "/SGOManage/Index";
                window.location.href = url;
            }
            $('#idTopNavigation').unblock();
        }).always(function() {
            $('#idTopNavigation').unblock();
        });
    });

    $('#btnFinalSignOffApprove').click(function() {
        ShowBlock($('#idTopNavigation'), "Processing");
        DisableMessage();
        var sgoId = @Model.SGOId;
        //var strComments = htmlEncode ($('#idtareaComment').val().trim());
        var strComments =  $('#idtareaComment').val() ;
        $.post('@Url.Action("SGOFinalSignOffApprove", "SGOManage")', { sgoId: sgoId, strComment: strComments }, function(response) {
            if (!response) {
                $('#error-messages').html('<li>Have a error, Please try again.</li>');
                $('#error-messages').show();
            } else {
                var url = "/SGOManage/Index";
                window.location.href = url;
            }
            $('#idTopNavigation').unblock();
        }).always(function() {
            $('#idTopNavigation').unblock();
        });

    });

    $('#btnFinalSignOffTeacherAcknowledged').click(function() {
        ShowBlock($('#idTopNavigation'), "Processing");
        DisableMessage();
        var sgoId = @Model.SGOId;
        //var strComments = htmlEncode ($('#idtareaComment').val().trim());
        var strComments = $('#idtareaComment').val();
        $.post('@Url.Action("SGOTeacherAcknowledged", "SGOManage")', { sgoId: sgoId, strComment: strComments }, function(response) {
            if (!response) {
                $('#error-messages').html('<li>Have a error, Please try again.</li>');
                $('#error-messages').show();
            } else {
                var url = "/SGOManage/Index";
                window.location.href = url;
            }
            $('#idTopNavigation').unblock();
        }).always(function() {
            $('#idTopNavigation').unblock();
        });
    });

    function DisableMessage() {
        $('#error-messages').hide();
        $('#success-message').hide();
    }

    function LockAllUI() {
        $('#idTopNavigation :input').attr('disabled', true);
        $('#idTopNavigation :button').attr('disabled', true);
        //if ($('#idtareaComment').length > 0) {
        //    $('#idtareaComment').hide();
        //}

        $('#txtSGONote').prop('disabled', false);
        $('#btnSaveNote').prop('disabled', false);
    }

    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }
    function supportNavigationSaveAndRedirect(param) {

    }
</script>
