@model LinkIt.BubbleSheetPortal.Web.ViewModels.TestQuestionsViewModel
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Managebubblesheets, "Correct Roster Position Error");
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }

    }
}
@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

<link href="@BundleHelper.Version("~/Content/css/v2/unreadable-scans.css")" rel="stylesheet" type="text/css" />
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleCustomBundle()

<script src="@Url.Content("~/Scripts/jquery.listSplitter.js")" type="text/javascript"></script>

<article class="container_12">
    <section class="error-detail-content">
        <div class="block-content mb-4">
            @using (@Html.BeginForm("SubmitRosterPositionError", "ErrorCorrection", FormMethod.Post, new { id = "rosterErrorForm" }))
            {
                <h1>Roster Position Error</h1>
                <ul class="message caution">
                    <li>
                        When reading the bubble sheet, the roster position was unable to be determined. Please follow
                        the steps below to manually select to correct student roster position and submit the correction
                        for grading.
                    </li>
                </ul>


            }
        </div>
        <div class="block-content mb-4">
            <div>
                <p class="title-large">Step 1</p>
                <ul class="message warning">
                    <li>View the file that caused the error. (Clicking on the image will open a larger version of the image in a new tab)</li>
                </ul>
                @if (string.IsNullOrEmpty(Model.RelatedImage))
                {
                    <img src="@Url.Content("~/Content/images/noimage.png")" width="128px" height="170px" />
                }
                else
                {
                    <a href="@Model.RelatedImage" target="_new"><img src="@Model.RelatedImage" width="128px" height="170px" /></a>
                }

            </div>
        </div>
        <div class="block-content">
            <div>
                <p class="title-large">Step 2</p>
                <ul class="message warning">
                    <li>Select one of the following students as the correct student roster position</li>
                </ul>
                <div id="studentContent" style="display: none">
                    <div class="tabs-content" style="margin-bottom: 10px;">
                        <div class="columns" id="studentsList">
                            <ul id="students" class="generate-student-list with-icon icon-user"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-btn">
                <button id="btnCancel" type="button" class="btn-blue me-3">Cancel</button>
                <button id="btnDelete" type="button" class="btn-blue me-3">Delete</button>
                <button id="btnSubmit" type="submit" class="btn-red">Submit</button>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    $(function () {
        $('#generateTab').addClass('current');

        populateStudents();

        $('#btnSubmit').click(function () {
            ShowBlock($('.grid_12'), "Submitting Error Correction");
        });

        $('#btnDelete').click(function () {
            confirmMessageV2(
                {
                    message: "Are you sure you want to delete this error?",
                    cbYesBtnFuncName: 'yesDelete()',
                    cbCancelBtnFuncName: 'closeDelete()',
                    cbCloseBtnFuncName: 'closeDelete()'
                },
                {
                    dialogAttr: {
                        attr: {
                            id: 'deleteConfirm'
                        }
                    }
                }
            )
        });

        $('#btnCancel').click(function () {
            location.href = '@Url.Action("ProcessErrors")';
        });

        $('#rosterErrorForm').submit(function (e) {
            e.preventDefault();

            var data = {
                RosterPosition: $('#.student-item[isSelected=yes]').attr('position'),
                BubbleSheetErrorId: '@Model.BubbleSheetErrorId'
            };

            $.ajax({
                url: '@Url.Action("SubmitRosterPositionError")',
                traditional: true,
                type: 'POST',
                data: data,
                success: function () {
                    $('.grid_12').unblock();
                    location.href = '@Url.Action("ProcessErrors")';
                }
            });
        });

        $('.generate-student-list li').live({
            mouseenter: function () {
                if ($(this).attr('isselected') == "yes") {
                    $(this).css('background-color', "#75B6E1");
                }
                else {
                    $(this).css('background-color', "#e0e0e0");
                }
            },
            mouseleave: function () {
                if ($(this).attr('isselected') == "yes") {
                    $(this).css('background-color', "#82CAFA");
                }
                else {
                    $(this).css('background-color', "#f2f2f2");
                }
            },
            click: function () {
                if ($(this).attr('isselected') == "yes") {
                    $(this).attr('isSelected', "no");
                    $(this).css('background-color', "#e0e0e0");
                }
                else {
                    selectNoStudents();
                    $(this).attr('isSelected', "yes");
                    $(this).css('background-color', "#75B6E1");
                }
            }
        });
    });

    function closeDelete() {
        $("#deleteConfirm").dialog("close");
    }

    function yesDelete() {
        closeDelete();
        $.post('@Url.Action("RemoveRosterPositionError")', { bubbleSheetErrorId: '@Model.BubbleSheetErrorId', rosterPosition: 0 }, function (response) {
            if (response == true) {
                location.href = '@Url.Action("ProcessErrors")';
            } else {
                alert('Error does not exist, please try again.');
            }
        });;
    }

    function populateStudents() {
        $('#studentContent').show();
        $.get('@Url.Action("GetStudentsByBubbleSheetId")', { bubbleSheetId: '@Model.BubbleSheetId' }, function (students) {
            addStudentsToList($('#students'), students);
            populateStudentList();
        });
    }

    function addStudentsToList(list, students) {
        for (var i = 0; i < students.length; i++) {
            list.html(list.html() + ("<li studentId='" + students[i].StudentId + "' position='" + (i + 1) + "'class='student-item'><a href='javascript:void(0)'>" + students[i].FullName + "</a></li>"));
        }
    }

    function populateStudentList() {
        $('#students').easyListSplitter({ colNumber: 3 });
        $('.listCol1').addClass('colx3-left');
        $('.listCol2').addClass('colx3-center');
        $('.listCol3').addClass('colx3-right');
        $('.listCol1').addClass('student-col');
        $('.listCol2').addClass('student-col');
        $('.listCol3').addClass('student-col');
    }

    function selectNoStudents() {
        $('.student-col').children().attr('isselected', "no");
        $('.student-col').children().css('background-color', "#f2f2f2");
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        breadcrumbDetailPage('#generateTab', '#errorCorrection');
    })
</script>
