@using LinkIt.BubbleSheetPortal.Web.Helpers

<div id="fdChildrenFilter">
    <div id="divChildrenFilter">
        <div class="mb-4 box-warning">
            <img src="/Content/images/icons/icon-info.svg" class="ico-info">
            <p><b>CAUTION: Test Result Deletion Guidelines</b><br></p>
            <ol>
                <li>Use filters to narrow your search before selecting test results for removal.</li>
                <li>Before deleting specific test results, verify their counts on the Reporting Dashboard or toggle the &#x27;Display by Test&#x27; switch to review sets of student results.</li>
                <li>&#x27;Remove All Results&#x27; deletes all matching results based on applied filters. Exercise caution, confirming tests and result counts before executing this action.</li>
                <li>You can delete specific test results or artifacts by selecting rows on the current page (up to 1,000) using &#x27;Remove Selected Results&#x27; or &#x27;Remove Result Artifacts&#x27;.</li>
                <li>1,000 test results will be deleted at a time. Deletions must complete before you exit the page; interruption will stop the process.</li>
            </ol>
        </div>
        <div class="row g-3 mb-3" v-if="userRole === roles.PUBLISHER || userRole === roles.NETWORKADMIN">
            <div class="col-3">
                <label>State</label>
                <div class="block-text-name w-100">
                    <select id="selectState" class="w-100" v-model="selectedState" v-on:change="selectStates">
                        <option v-for="item in states" :value="item.Id">{{item.Name}}</option>
                    </select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label>@LabelHelper.DistrictLabel</label>
                <div class="block-text-name w-100">
                    <select class="w-100" id="districtSelect" v-model="selectedDisctricts" v-on:change="selectDisctricts">
                        <option v-for="item in districts" :value="item.Id">{{item.Name}}</option>
                    </select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-3" id="pftSchoolSelect">
                <label>School</label>
                <div class="block-text-name w-100">
                    <select class="w-100" id="ftSchoolSelect" multiple>
                    </select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3" id="pftCategorySelect">
                <label>Category</label>
                <div class="block-text-name w-100">
                    <select class="w-100" id="ftCategorySelect" multiple>
                    </select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3" id="pftGradeSelect">
                <label>@LabelHelper.TestGrade</label>
                <div class="block-text-name w-100">
                    <select class="w-100" id="ftGradeSelect" multiple>
                    </select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3" id="pftSubjectSelect">
                <label>@LabelHelper.Subject</label>
                <div class="block-text-name w-100">
                    <select class="w-100" id="ftSubjectSelect" multiple>
                    </select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-3" id="pftTermSelect">
                <label>@LabelHelper.Term</label>
                <div class="block-text-name w-100">
                    <select class="w-100" id="ftTermSelect" v-model="selectedTerm" v-on:change="selectTerm">
                        <option v-for="item in terms" :value="item.Id">{{item.Name}}</option>
                    </select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3" id="pftClassSelect">
                <label>Class</label>
                <div class="block-text-name w-100">
                    <select class="w-100" id="ftClassSelect" v-model="selectedClass">
                        <option v-for="item in classes" :value="item.Id">{{item.Name}}</option>
                    </select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div id="pftTeacherSelect" class="col-3">
                <label>Teacher</label>
                <span>
                    <input v-model="teacher" type="text" class="w-100">
                </span>
            </div>
            <div id="pftStudentSelect" class="col-3">
                <label>Student</label>
                <span>
                    <input v-model="student" type="text" class="w-100">
                </span>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-3">
                <label>Result Date</label>
                <span>
                    <input type="text" id="ftResultDateSelect" class="w-100" readonly />
                </span>
            </div>
            <div class="col-3 d-none" id="ftCreatedDateContainer">
                <label>Created Date</label>
                <span>
                    <input type="text" id="ftCreatedDateSelect" class="w-100" readonly />
                </span>
            </div>
            <div class="col-3 d-none" id="ftModifiedDateContainer">
                <label>Modified Date</label>
                <span>
                    <input type="text" id="ftModifiedDateSelect" class="w-100" readonly />
                </span>
            </div>
            <div class="col-3" id="pftTestNameSelect">
                <label>Test Name</label>
                <span>
                    <input id="txtTestName" v-model="virtualTest" type="text" class="w-100">
                </span>
            </div>
        </div>
    </div>
    </div>

<style>

    #ftTestSelect {
        border-color: transparent;
    }

    .select2-container {
        width: 100% !important;
        z-index: 101;
    }

</style>
<script src=@Url.Content("~/Scripts/Lib/daterangepicker.js")></script>
<link href="@Url.Content("~/Content/libs/daterangepicker/daterangepicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/daterangepicker.custom.css")" rel="stylesheet" />
<script>

    $(function() {
        $('#selectState').marquee();
        $('#ftTestSelect').marquee();
        $('#districtSelect').marquee();
        $('#ftTermSelect').marquee();
        $('#ftClassSelect').marquee();
    })

    function LoadTestReTagToView(districtId, schoolIds, categoryIds, gradeIds, subjectNames, termId, classId, teacherName, studentName,
        fromResultDate, toResultDate, fromCreatedDate, toCreatedDate, fromUpdatedDate, toUpdatedDate, virtualTestName) {
        $('#detailDiv').empty();
        let displayByTestResults = $('#swtShowByTestResults').is(':checked');
        $('#divTestResultDisplay').load('@Url.Action("LoadTestResultByFilterV2")', {
            districtId: districtId,
            schoolIds: schoolIds,
            categoryIds: categoryIds,
            gradeIds: gradeIds,
            subjectNames: subjectNames,
            termId: termId,
            classId: classId,
            teacherName: teacherName,
            studentName: studentName,
            fromResultDate: fromResultDate,
            toResultDate: toResultDate,
            fromCreatedDate: fromCreatedDate,
            toCreatedDate: toCreatedDate,
            fromUpdatedDate: fromUpdatedDate,
            toUpdatedDate: toUpdatedDate,
            virtualTestName: virtualTestName,
            displayByTestResults: displayByTestResults
        }, function (response) {
            if (typeof (showFooter) === 'function') showFooter();
        });
    }

    function ClearAll() {
        $('#selectState').empty();
        $("#districtSelect").empty();

        $("#ftSchoolSelect").val([]);
        $('#ftSchoolSelect').trigger('change.select2');

        $("#CategorySelect").val([]);
        $('#ftSchoolSelect').trigger('change.select2');

        $("#GradeSelect").val([]);
        $('#ftSchoolSelect').trigger('change.select2');

        $("#ftSubjectlSelect").val([]);
        $('#ftSchoolSelect').trigger('change.select2');

        $("#ftClassSelect").empty();
        $("#ftTermSelect").empty();
        $("#txtStudent").val("");
        $("#txtTeacher").val("");
        $("#ftResultDateSelect").val("");
        $("#ftCreatedDateSelect").val("");
        $("#ftModifiedDateSelect").val("");
        $("#txtTestName").val("");

        $("#filterSheets").attr("disabled", "disabled");
    }
</script>
<script src="@Url.Content("~/Scripts/ManageClass/api.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RemoveTestResults/RemoveTestResultsV2.js")" type="text/javascript"></script>

