@model int
<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/dialog-draggable.css")" rel="stylesheet" type="text/css" />

<style>
    .center {
        text-align: center !important;
    }
</style>

<article class="container_12" style="margin-top: 2px; width: 700px;">
    <section class="grid_9">
        <div class="block-border">
            <div class="block-content form">
                <h1>Published @LabelHelper.DistrictLabels  
                     @if( ViewBag.IsPublisher==true)
                     {
                         <a id="shareNewDistrict" href="#" onclick="displayShareNewDistrictView(event)">
                             <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" />
                       
                             Share to new @LabelHelper.DistrictLabel
                         </a>
                     }
                    @if (ViewBag.IsDistrictAdmin)
                    {
                        <a id="shareMyDistrict" href="#" onclick="shareToMyDistrict(event)">
                            <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" />
                                Share to my @LabelHelper.DistrictLabel
                        </a>
                    }
                </h1>
                <div id="notification"></div>
                <p style="height: 5px"></p>
                <div class="no-margin last-child">
                    <table id="dataTablePublishedDistrict" class="datatable table no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" class="black-cell"><span class="loading"></span></th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    @LabelHelper.DistrictLabel Name
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    $(function () {
        var options = {
            bDestroy: true,
            bServerSide: true,
            bFilter: true,
            bPaginate: true,
            sAjaxSource: '@Url.Action("GetPublishedDistrict")?qTIBankId=@Model',
            bAutoWidth: false,
            aLengthMenu: [10, 25, 50],
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'int', sName: 'QtiBankDistrictId', bSearchable: false, bSortable: false, sWidth: '40px', sClass: 'alignRight' },
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true }
            ],
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTablePublishedDistrict'), "Loading");
                return true;
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).addClass('center');
                $('td:eq(0)', nRow).html(setIconVisibility(aData[0]));
            },
            fnDrawCallback: function () {
                $('#dataTablePublishedDistrict').unblock();
                $('.with-tip').tip();
            }
        };

        function setIconVisibility(qtiBankDistrictId) {
            var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")';
            var editString = '<a href="#" id="bnt_' + qtiBankDistrictId + '" title="Remove" class="with-tip" onclick="depublishDistrict(event,' + qtiBankDistrictId + ')"><img src="' + deleteIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

            return editString;
        }

        $("#dataTablePublishedDistrict").data("options", options);
        initializeDataTable($("#dataTablePublishedDistrict"));
        if('@ViewBag.IsDistrictAdmin'=='True') {
            if ('@ViewBag.ShareToDistrict' == 'True') {
                $('#shareMyDistrict').hide();
            }
        }
        
    });

        function depublishDistrict(event, qtiBankDistrictId) {
            event.preventDefault();
            if (confirm("Do you want to remove this @LabelHelper.DistrictLabel?")) {
                $("#bnt_" + qtiBankDistrictId).hide();

                $.post('@Url.Action("DepublishDistrict")', { qTIBankdistrictId: qtiBankDistrictId }, function (response) {
                    if (response == true) {
                        LinkIt.success('#notification', '@LabelHelper.DistrictLabel is removed');
                        ui.dataTablePublishedDistrict.fnDraw();
                        if('@ViewBag.IsDistrictAdmin'=='True') {
                            $('#shareMyDistrict').show();
                         }
                    } else {
                        alert('An error has occured. Please try again.');
                    }
                });
            }
        }

        function displayShareNewDistrictView(event) {
            event.preventDefault();
            $('#listDistrictDiv').hide();
            $('#shareDistrictDiv').show();
            $('#shareDistrictDiv').empty();
            $('#shareDistrictDiv').load('@Url.Action("LoadPublishToDistrict")', function () {
            });
        }
    function shareToMyDistrict(event) {
        var data = {
            qtiBankId: @ViewBag.QtiBankId
        };
        $.ajax({
            url: '@Url.Action("ShareToMyDistrict")',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (data) {
                if(data.Success==true) {
                    LinkIt.success('#notification', 'The bank has been published to the @LabelHelper.DistrictLabel.');
                    //$('.dialog').dialog.close();
                    //refresh table
                    ui.dataTablePublishedDistrict.fnDraw();
                    $("#shareMyDistrict").hide();
                    //setTimeout(function () {
                    //    LinkIt.success('#notification', 'The bank has been published to the district.');
                    //    $('.dialog').dialog.close();
                    //    //refresh table
                    //}, 2000);
                } else {
                    alert('An error has occured. Please try again.');
                }
                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              
            }
        });
        }
</script>
