@model LinkIt.BubbleSheetPortal.Web.Models.BubbleSheetAssignSameTestParam

@{
    ViewBag.Title = "Student";
}


<script type="text/javascript">
    var oTable;

    $(function () {

        var redirect = '@Url.Action("StudentsAssignSameTest")';
        redirectPost(redirect, {
            'IsGenericBubbleSheet': "@Model.IsGenericBubbleSheet",
            'StudentIdList': "@String.Join(",", Model.StudentIdList)",
            'ClassId': "@Model.ClassId",
            'TestId': "@Model.TestId",
            'GroupId': "@Model.GroupId",
            'IsGroupPrinting': "@Model.IsGroupPrinting",
            'TestName': "@Model.TestName"
        });
    });

    function redirectPost(location, args) {
            var form = '';
            $.each(args, function (key, value) {
                form += '<input type="hidden" name="' + key + '" value="' + value + '">';
            });
            $('<form action="' + location + '" method="POST">' + form + '</form>').appendTo($(document.body)).submit();
        }
</script>
