<div class="modal-component-manage-class">
    <div class="mb-4 mt-2">
        <div class="form mb-4">
            <div class="manage-class-toggle" v-bind:class="{ 'is-toggle': isShowFilter }">

                <div v-on:click="toggleFilter" class="u-cursor-pointer manage-class-legend d-flex justify-content-between align-items-center">
                    <span>Filter by Program, Or @LabelHelper.TestGrade</span>
                    <i class="fa-solid fa-chevron-down icon-arrow"></i>
                </div>

                <div id="filterContent" class="columns" v-if="isShowFilter">
                    <div class="w-75">
                        <h4 class="mb-3">Program</h4>
                        <div class="columns-filters">
                            <div v-for="program in manageClass.programs" class="columns-filter">
                                <label class="d-flex align-items-center">
                                    <input class="me-2" type="checkbox" v-bind:value="program.Id" v-model="manageClass.programSelected">
                                    {{ program.Name }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="w-25">
                        <h4 class="mb-3">@LabelHelper.TestGrade</h4>
                        <div class="columns-filters">
                            <div v-for="grade in manageClass.grades" class="columns-filter">
                                <label class="d-flex align-items-center">
                                    <input class="me-2" type="checkbox" v-bind:value="grade.Id" v-model="manageClass.gradesSelected">
                                    {{ grade.Name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button v-on:click="clearAllCheckBox" class="btn-blue d-block me-3">Clear Filter</button>
            <button v-on:click="applyFilter" class="btn-red d-block">Apply Filters</button>
        </div>
    </div>
    <div class="">
        <div class="form">
            <div class="block-heading mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="javascript:void(0)" class="block-heading-item d-block text-decoration-none title-large">
                        Students
                    </a>
                    <div>
                        <a id="btnAddNewUserToSchool" class="btn btn-link button-student-action p-0 me-4" v-if="isShowAddNewStudent">
                            Add new student
                            <i class="fa-solid fa-plus ms-2"></i>
                        </a>
                        <a class="btn btn-link button-student-action p-0 ms-3" v-on:click="prompAddStudentToClass" v-bind:disabled="isDisabledButton">
                            Add student(s) to class
                            <i class="fa-solid fa-plus ms-2"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="d-flex align-items-center">
                    <input type="checkbox" id="cbShowSelectedStudent" v-model="isShowSelectedStudent" v-bind:disabled="isDisabledShowSelectedStudent" class="field-checkbox m-0" />
                    <label class="label-show-selected ms-2" for="cbShowSelectedStudent"><b>Show selected students only</b></label>
                </div>
                <div v-show="isShowViewSelectedStudent">
                    <button v-bind:class="{ 'disabled': isDisabledButton }" v-on:click="removeAllSelectedStudent" class="btn btn-link p-0 button-remove-all border-0">
                        Remove All Selected Students
                        <i class="fa-solid fa-trash ms-2"></i>
                    </button>
                </div>
            </div>

            <div v-show="isShowViewSelectedStudent">
                <a id="customCheckDeactive" class="block-heading-item d-inline-flex align-items-center text-decoration-none" href="#" v-on:click="changeInactive">
                    <label class="form-check-label m-0 deactivated-title text-switch">Show Inactive:</label>
                    <span class="ms-1 me-3 text-switch">{{ showInactiveText}}</span>
                    <span class="form-check-input custom-switch" v-bind:class="{ 'active': showInactiveText === 'On' }"></span>
                </a>
            </div>

            <div style="position: relative">

                <div v-show="!isShowViewSelectedStudent">
                    <a style="position: absolute; margin-top: 18px;" id="customCheckDeactive" class="block-heading-item d-inline-flex align-items-center text-decoration-none" href="#" v-on:click="changeInactive">
                        <label class="form-check-label m-0 deactivated-title text-switch">Show Inactive:</label>
                        <span class="ms-1 me-3 text-switch">{{ showInactiveText}}</span>
                        <span class="form-check-input custom-switch" v-bind:class="{ 'active': showInactiveText === 'On' }"></span>
                    </a>

                    <div class="no-margin last-child">
                        <table id="datatablefiltermanageclass" class="datatable table no-margin datatable-filter-manage-class center-first-column" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 15px">
                                        <input type="checkbox" id="chkAllStudent" v-on:click="checkAllStudent" v-model="isCheckAllStudent" />
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        First Name
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Last Name
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Local ID
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Gender
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        @LabelHelper.StudentGrade
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div v-show="isShowViewSelectedStudent">
                    <div class="no-margin last-child">
                        <table id="datatableSelectedStudentOnly" class="datatable table no-margin" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 15px">Actions</th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        First Name
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Last Name
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Local ID
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Gender
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        @LabelHelper.StudentGrade
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-component v-bind:show.sync="isShowModalAddStudentClass" class="static" v-bind:width="420">
        <div name="close"></div>
        <div slot="header"></div>
        <div slot="body">

            <p v-html="promtMessage"></p>

        </div>
        <div slot="footer">
            <button v-on:click="closeModalConfirmAddStudent">Cancel</button>
            <button id="isShowButtonAddStudent" v-on:click="addStudentToClass">Add Students To Class</button>
        </div>
    </modal-component>
</div>

<script type="text/javascript">
    var allStudentTable;
    var selectedStudentTable;
    function displayFilterManageClass() {
        var $datatableFilterManageClass = $('#datatablefiltermanageclass');
        var sAjaxSourceUrl = ManageClassModel.getAjaxSource();

        var datatableSettings = {
            oLanguage: {sSearch: "" },
            bServerSide: true,
            sServerMethod: "GET",
            bDestroy: true,
            sAjaxSource: sAjaxSourceUrl,
            bAutoWidth: false,
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'StudentId', bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'FirstName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'LastName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'Code', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'Gender', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'Grade', bSearchable: true, bSortable: true }
            ],
            fnRowCallback: function (nRow, aData) {
                ManageClassModel.isCheckAllStudent = false;
                ManageClassModel.selectedStudents = []
                ManageClassModel.selectedStudentsObject = []
                $('td:eq(0)', nRow).html(setIconCheckBox(aData[0]));
                return nRow;
            },
            fnPreDrawCallback: function () {
                $datatableFilterManageClass.css('width', 'auto').css('width', '100%');
                ShowBlock($datatableFilterManageClass, 'Loading');
                return true;
            },
            fnDrawCallback: function () {
                $datatableFilterManageClass.unblock();
                $datatableFilterManageClass.css('width', 'auto').css('width', '100%');

                var isCheckAllStudent = false
                var checkboxes = $('INPUT[name="chkStudentId"][type=checkbox]');
                var checkedboxes = $('INPUT[name="chkStudentId"][type=checkbox]:checked');
                if(checkedboxes && checkedboxes.length) {
                    checkedboxes.each(function() {
                        $(this).parents('tr').addClass('is-selected');
                    });
                    isCheckAllStudent = checkboxes.length === checkedboxes.length;

                }
                ManageClassModel.isCheckAllStudent = isCheckAllStudent;
                $('#datatablefiltermanageclass #chkAllStudent').prop('checked', isCheckAllStudent);
                portalV2SkinCheckBox('#datatablefiltermanageclass')
            },
            fnInitComplete: function () {
                var elSearchLabel = $('#datatablefiltermanageclass_filter');
                var elSearchInput = elSearchLabel.find('input');
                elSearchInput.attr('style', 'padding-left: 32px !important; position: relative;');
                $('#datatablefiltermanageclass_filter').addClass('data-search');
            }
        }

        $datatableFilterManageClass.dataTable().fnDestroy();
        $datatableFilterManageClass.data('options', datatableSettings);
        allStudentTable = initializeDataTable($datatableFilterManageClass);
        ManageClassModel.datatableSettingAssigns = datatableSettings;
    }

    function displaySelectedStudentOnly() {
        ManageClassModel.initialDatableSelectedOnly = true;
        var $datatableSelectedStudentOnly = $('#datatableSelectedStudentOnly');
        var datatableSettings = {
            aaData: ManageClassModel.selectedStudentsObject,
            bAutoWidth: false,
            iDisplayLength: 10,
            bFilter: false,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                 { sType: 'integer', sName: 'StudentId', bSearchable: false, bSortable: false, sClass: 'col-action' },
                 { sType: 'string', sName: 'FirstName', bSearchable: false, bSortable: true },
                 { sType: 'string', sName: 'LastName', bSearchable: false, bSortable: true },
                 { sType: 'string', sName: 'Code', bSearchable: false, bSortable: true },
                 { sType: 'string', sName: 'Gender', bSearchable: false, bSortable: true },
                 { sType: 'string', sName: 'Grade', bSearchable: false, bSortable: true }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconCheckBox(aData[0]));
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($datatableSelectedStudentOnly, 'Loading');
                return true;
            },
            fnDrawCallback: function () {
                this.parent().applyTemplateSetup();
                $datatableSelectedStudentOnly.unblock();
            },
            fnInitComplete: function () {
                this.parent().applyTemplateSetup();
            },
            sDom: '<"block-controls"l<\'float-left\'<"#showUser">><f>>rti<"block-footer clearfix"<"controls-buttons"p>>'
        };

        selectedStudentTable = $datatableSelectedStudentOnly.dataTable(datatableSettings);
    }
    function setIconCheckBox(studentid) {
        var checkboxString = '<div style="text-align: center;">' + '<input style="text-align: center;" type="checkbox" name="chkStudentId" value="' + studentid + '" /></div>';
        if (ManageClassModel.isCheckAllStudent) {
            checkboxString = '<div style="text-align: center;">' + '<input style="text-align: center;" type="checkbox" checked="checked" name="chkStudentId" value="' + studentid + '" /></div>';
        }
        if (ManageClassModel.isShowSelectedStudent) {
            var deassignIcon = '<i class="custom-icon fa-solid fa-circle-xmark icon-red"></i>';
            checkboxString = '<a href="#" title="Remove" class="with-tip" onclick="removeStudent(event,' + studentid + ')">' + deassignIcon + '</a>';
        } else if (CheckSelected(studentid)) {
            checkboxString = '<div style="text-align: center;">' + '<input style="text-align: center;" type="checkbox" checked="checked" name="chkStudentId" value="' + studentid + '" /></div>';
        }
        return checkboxString;
    }

    $('input[name="chkStudentId"][type=checkbox]').live("click", function (e) {
        //get object rows data
        var data = allStudentTable.fnGetData($(this).parents('tr').index());
        var $chkAllStudent = $(this).parents("table").find('#chkAllStudent');
        var $trRow = $(this).parents('tr');

        if (this.checked) {
            $trRow.addClass('is-selected');
            if (ManageClassModel.selectedStudents.indexOf(this.value) < 0) {
                ManageClassModel.selectedStudents.push(this.value);
                ManageClassModel.selectedStudentsObject.push(data);
            }

            var checkboxes = $('INPUT[name="chkStudentId"][type=checkbox]');
            var checkall = true;
            for (var i = 0; i < checkboxes.length; i++) {
                if (!(checkboxes[i]).checked) {
                    $chkAllStudent.prop('checked', false);
                    $chkAllStudent.removeClass('input-checked-v2');
                    checkall = false;
                    //ManageClassModel.isCheckAllStudent = false;
                    break;
                }
            }

            if (checkall) {
                $chkAllStudent.prop('checked', true);
                //ManageClassModel.isCheckAllStudent = true;
            }
            var index = ManageClassModel.removeStudentSelectAll.indexOf(this.value);
            if (ManageClassModel.isCheckAllStudent && index > -1) {
                ManageClassModel.removeStudentSelectAll.splice(index, 1);
            }
        } else {
            var index = ManageClassModel.selectedStudents.indexOf(this.value);
            ManageClassModel.selectedStudents.splice(index, 1);
            ManageClassModel.selectedStudentsObject.splice(index, 1);
            //ManageClassModel.isCheckAllStudent = false;
            $chkAllStudent.prop('checked', false);
            $chkAllStudent.removeClass('input-checked-v2');
            $trRow.removeClass('is-selected');

            if (ManageClassModel.isCheckAllStudent && ManageClassModel.removeStudentSelectAll.indexOf(this.value) < 0) {
                ManageClassModel.removeStudentSelectAll.push(this.value);
            }
        }
    });

    $('#example tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected'); /// it work with selected
        var data = table.row($(this)).data();
        alert(data[1] + "  " + data[2]); ///not work , it error undefined and undefined
    });

    function getSelectedStudentIds() {
        var studentIds = '';
        $('INPUT[name="chkStudentId"][type=checkbox]:checked').each(function (i, e) {
            studentIds += $(e).val() + ',';
        });
        return studentIds.substr(0, studentIds.length - 1);
    }

    function CheckSelected(studentId) {
        if ((ManageClassModel.selectedStudents.indexOf(studentId.toString()) > -1)
            && (ManageClassModel.removeStudentSelectAll.indexOf(studentId.toString()) == -1)) {
            return true;
        }
        return false;
    }

    function removeStudent(event, studentid) {
        event.preventDefault();
        $('#tips > div').remove();
        var index = ManageClassModel.selectedStudents.indexOf(studentid.toString());
        ManageClassModel.selectedStudents.splice(index, 1);
        ManageClassModel.selectedStudentsObject.splice(index, 1);

        if (ManageClassModel.isCheckAllStudent) {
            ManageClassModel.removeStudentSelectAll.push(studentid.toString());
        }
        selectedStudentTable.fnClearTable();
        selectedStudentTable.fnAddData(ManageClassModel.selectedStudentsObject);
        selectedStudentTable.fnDraw();
    }

    function registerEvent() {
        $('#btnAddNewUserToSchool').click(function () {
            $.ajax({
                url: '@Url.Action("AddNewStudentToClass")',
                type: 'POST',
                data: { classId: ManageClassModel.classId },
                success: function (response) {
                    location.href = '@Url.Action("AddNewStudent")';
                }
            });
        });
    }
</script>
