@model LinkIt.BubbleSheetPortal.Web.Models.ResetPassword

@{
    Layout = null;
}

@Html.ValidationSummary(false)

@Html.HiddenFor(x => x.UserId, new { @class = "enableEditSIS" })
<div class="mb-3">
    <div class="pass-label">
        @Html.LabelFor(x => x.NewPassword, new { @style = "display: inline;" })
        <span class="u-c-red"> *</span>
    </div>
    <span class="relative">
        @Html.PasswordFor(x => x.NewPassword, new { @id = "password", @class = "full-width enableEditSIS" })
        @Html.ValidationMessageFor(x => x.NewPassword, " ")
    </span>
</div>
<div>
    <div class="pass-label">
        @Html.LabelFor(x => x.ConfirmNewPassword, new { @style = "display: inline;" })
        <span class="u-c-red"> *</span>
    </div>
    <span class="relative">
        @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "full-width enableEditSIS" })
        @Html.ValidationMessageFor(x => x.ConfirmNewPassword, " ")
    </span>
</div>
<div class="mt-4 d-flex justify-content-end">
    <button name="btnResetPasswordCancel" type="button" class="btn-blue enableEditSIS me-3">Cancel</button>
    <button id="btnResetPasswordSubmit" type="submit" name="Save" class="btn-red enableEditSIS">Submit</button>
</div>
<script type="text/javascript">
    $(function () {
        $(".validation-summary-errors ul").addClass("no-margin").addClass('message').addClass('error').addClass('mb-3');

        $('#resetStudentPassword button[name="btnResetPasswordCancel"]').click(function () {
            $('#testTakerPasswordContainer').hide();
        });

        $('#resetPassword button[name="btnResetPasswordCancel"]').click(function () {
            $('#portalPasswordContainer').hide();
        });
    });
</script>

<style>
    .pass-label {
        margin-bottom: 4px;
    }
</style>
