@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.DataAdmin, "Add Class");
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleDataLockerTemplateBundle()
<link href="@BundleHelper.Version("~/Content/css/v2/manage-class.css")" rel="stylesheet" type="text/css" />


<article class="container_12">
    <section style="width: 70%">
        <div class="block-border">
            <div class="block-content form">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div id="addNewClassSchool">
                    <h1>
                        Add Class
                    </h1>
                    <p v-if="errors.length">
                        <ul style="display: none" id="error-messages" class="message error">
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </p>

                    <ul style="display: none" id="success-message" class="message success">
                        <li>Class successfully added.</li>
                    </ul>
                    <div>
                        <p class="title-large">Class Detail</p>
                        <div class="columns">
                            <div class="row g-3 mb-3">
                                <div class="col-6">
                                    <label>Group/Course Name</label>
                                    <span class="relative">
                                        <input v-model="courseName" type="text" class="w-100" maxlength="49" tabindex="5">
                                    </span>
                                </div>
                            </div>
                            <div class="row g-3 mb-3">
                                <div class="col-6">
                                    <label>Section (optional)</label>
                                    <span class="relative">
                                        <input v-model="section" type="text" class="w-100" maxlength="49" tabindex="5">
                                    </span>
                                </div>
                                <div class="col-6">
                                    <label>Course Number (optional)</label>
                                    <span class="relative">
                                        <input v-model="courseNumber" type="text" class="w-100" maxlength="49" tabindex="5">
                                    </span>
                                </div>
                            </div>
                            <div class="row g-3 mb-3">
                                <div class="col-6 block-content-dropdown-marquee" v-if="userRole === roles.PUBLISHER || userRole === roles.NETWORKADMIN">
                                    <label>State</label>
                                    <div class="block-text-name w-100">
                                        <select id="selectState" v-model="selectedState" v-on:change="selectState" class="w-100">
                                            <option v-for="item in states" :value="item.Id">{{item.Name}}</option>
                                        </select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 block-content-dropdown-marquee" v-if="userRole === roles.PUBLISHER || userRole === roles.NETWORKADMIN">
                                    <label>
                                        @LabelHelper.DistrictLabel
                                    </label>
                                    <div class="block-text-name w-100">
                                        <select id="selectDistrict" v-model="selectedDistrict" v-on:change="selectDistrict" class="w-100">
                                            <option v-for="item in districts" :value="item.Id">{{item.Name}}</option>
                                        </select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row g-3 mb-3">
                                <div class="col-6 block-content-dropdown-marquee">
                                    <label>School</label>
                                    <div class="block-text-name w-100">
                                        <select id="ftSchoolSelect" v-model="selectedSchool" v-on:change="selectSchool" class="w-100">
                                            <option v-for="item in schools" :value="item.Id">{{item.Name}}</option>
                                        </select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 block-content-dropdown-marquee">
                                    <label>Teacher</label>
                                    <div class="block-text-name w-100">
                                        <select id="selectTeacher" v-model="selectedTeacher" v-on:change="selectTeacher" class="w-100">
                                            <option v-for="item in teachers" :value="item.Id">{{item.Name}}</option>
                                        </select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row g-3 mb-3">
                                <div class="col-6 block-content-dropdown-marquee">
                                    <label>@LabelHelper.Term</label>
                                    <div class="block-text-name w-100">
                                        <select id="selectTerm" v-model="selectedTerm" class="w-100">
                                            <option v-for="item in terms" :value="item.Id">{{item.Name}}</option>
                                        </select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 block-content-dropdown-marquee">
                                    <label>Class Type</label>
                                    <div class="block-text-name w-100">
                                        <select id="selectClassType" v-model="selectedClassType" class="w-100">
                                            <option v-for="item in classTypes" :value="item.Id">{{item.Name}}</option>
                                        </select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button id="btnCancel" class="btn-blue d-block me-3">Cancel</button>
                        <button v-on:click="handleSubmit()" name="Save" class="btn-red d-block">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<script>
    var districtLable = "@LabelHelper.DistrictLabel";
    var termLabel = "@LabelHelper.Term";
</script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@BundleHelper.Version("~/Scripts/ManageClass/api.js")" type="text/javascript"></script>
<script src="@BundleHelper.Version("~/Scripts/ManageClass/AddClassV2.js")" type="text/javascript"></script>
<script type="text/javascript">
    localStorage.setItem('loadHistory', true);
    $(function () {
        $('.dataadmin').addClass('current');
        $('#dtaManageClasses').addClass('current');

        $('#btnCancel').click(function () {
           if ('@ViewBag.FromManageSchools' === 'True') {
                location.href = '@Url.Action("ManageSchoolAndClass")';
           } else {
                location.href = '@Url.Action("ManageClass")';
           }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        breadcrumbDetailPage('.dataadmin', '#dtaManageClasses');
    })
</script>
