@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.DataAdmin, "Add Term");
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }

    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

<style>
    h1 {
        padding: 0 !important;
        margin-bottom: 24px !important;
    }

    .block-content {
        padding: 24px !important;
    }

    .btn-container {
        display: flex;
        gap: 18px;
        justify-content: flex-end;
    }

    .grid_7 {
        margin-left: 0;
        margin-right: 0;
    }

    .lastVisibleSection {
        margin: 0 !important;
    }
</style>
<article class="container_12">
    <section id="addTerm-block" class="grid_7">
        <div class="block-border">
            <div class="block-content form">
                <h1>
                    Add @LabelHelper.Term
                </h1>
                @using (Html.BeginForm("AddNewTerm", "ManageClasses", FormMethod.Post, new { id = "addTermForm", @class = "form" }))
                {
                    <ul style="display: none" id="error-messages" class="message error">
                    </ul>
                    <ul style="display: none" id="success-message" class="message success">
                        <li>New @LabelHelper.Term successfully created.</li>
                    </ul>
                    @Html.Action("ShowAddOrEditTermForm", new { districtId = 0 })
                }
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
    sessionStorage.setItem('ManageSchoolAndClass', true);
    $(function () {
        $('.dataadmin').addClass('current');
        $('#dtaManageSchools').addClass('current');
        breadcrumbDetailPage('.dataadmin', '#dtaManageSchools')
    });
    $('#addTermForm').submit(function (event) {
        event.preventDefault();
        $('#btnSubmit').disableBt();
        $('#success-message').hide();
        $.ajax({
            url: '@Url.Action("AddNewTerm")',
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {
                if (response.Success == true) {
                    if (typeof ResetFields == 'function') {
                        ResetFields();
                    }
                    $('#error-messages').hide();
                    $('#success-message').show();
                    $('#btnSubmit').enableBt();
                    ui.dataTableTerms.fnDraw();
                }
                else {
                    addErrorMessages(response);
                    //$('#error-messages').addClass('no-margin');
                }
                $('#btnSubmit').enableBt();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    $('#btnCancel').click(function () {
        sessionStorage.setItem('ManageSchoolAndClass', true);
        window.location.href = '@Url.Action("ManageSchoolAndClass","ManageClasses")';
    });
</script>
