@model LinkIt.BubbleSheetPortal.Web.ViewModels.UserGroup.ManageUserGroupViewModel
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Common

@{
    ViewBag.Title = "Add User Groups";
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptCustomBundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptCKEditorUtilsBundle()
<style>
    .ui-widget-content {
        background: transparent;
        border: none;
    }

        .ui-widget-content .ui-dialog-titlebar-close {
            right: 5px;
            top: 5px;
            z-index: 10;
        }

    #divManageUserGroups .add-user-group {
        cursor: pointer;
    }

    .add-user-group-column-fix {
        max-width: 110px;
        overflow-wrap: break-word;
    }
    #divManageUserGroups .no-margin.last-child {
        margin: 0
    }
    #portal-v2-containter .last-child .block-pagination {
        margin-left: 0;
        margin-right: 0;
    }
    #portal-v2-containter .icon-remove i {
        color: var(--white);
        font-size: 12px;
        text-decoration: none;
        height: 14px;
        width: 14px;
    }
    #portal-v2-containter .icon-remove {
        margin: auto;
    }
    .actionIcon {
        padding-left: 5px;
    }
    #portal-v2-containter .datatable.table {
        min-height: 75px;
    }

        #portal-v2-containter .datatable.table .removeGroup {
            display: inline-block;
            padding: 2px 2px 2px 0;
        }
</style>
<link href="/Content/css/dialog.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="~/Content/themes/Constellation/js/v2/jquery.tip.js"></script>
<article class="container_12">
    <section class="grid_12">
        <div class="block-border" id="divManageUserGroups">
            <div class="block-content block-24 form">
                <div class="d-flex flex-row justify-content-between">
                    <h1 class="ps-0 pb-0">
                        Group: @Model.Name
                    </h1>

                    <div class="d-flex flex-column">
                        <button id="btnBack" class="btn-text btn-back" style="text-align: right; padding-right: 0; margin-top: .5rem"><i class="fa-solid fa-arrow-left"></i>Back</button>
                        <button id="addUserGroupPopupBtn" class="btn-plus-icon btn-text mt-2" style="margin-top: auto">
                            Add user to group
                        </button>
                    </div>
                </div>
                <div style="display: none" id="btnShowActiveUsersBtn" class="form-check form-switch d-flex flex-row align-items-center mt-2 ps-0 float-left">
                    <label class="form-check-label mb-0 deactivated-title" for="showActiveUsersBtn">Show Inactive Users:</label>
                    <span class="ms-1 me-3" id="spanClassActive">Off</span>
                    <div>
                        <input class="form-check-input js-change-inactive-users" type="checkbox" name="showActiveUsersBtn" id="showActiveUsersBtn">
                    </div>
                </div>
                <div class="clearfix mt-3">
                    <table id="manageUserGroupTable" class="datatable table no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 60px; max-width: 58px">Actions</th>
                                <th scope="col" style="width: 18%">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Last Name
                                </th>
                                <th scope="col" style="width: 18%">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    First Name
                                </th>
                                <th scope="col" style="width: 12%">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Username
                                </th>

                                <th scope="col" style="max-width: 137px; min-width: 137px">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Role
                                </th>
                                <th scope="col" style="width: 20%">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Schools
                                </th>
                                <th scope="col" style="width: 13%">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Group
                                </th>
                                <th scope="col" style="min-width: 82px; max-width: 82px">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    var showInactive = false;

    $(document).ready(function () {

        loadUserGroupsToTable();

        $('#btnBack').click(function () {
            var url = '@Url.Action("ManageUserGroups", "Admin")';
            window.location.href = url;
        });

        $('#btnCloseClasses').on('click', function () {
            $('.ui-widget-overlay').remove();
            $('#assignAvailableClasses').remove();
        });

        $('.js-change-inactive-users').on('change', function (ev) {
            var dataTable = $('#manageUserGroupTable').dataTable();
            ev.preventDefault();
            var $self = $(this);

            if ($self.hasClass('show-inactive')) {
                showInactive = false;
                $self.removeClass('show-inactive');
                $("#spanClassActive").html('Off');
            } else {
                showInactive = true;
                $self.addClass('show-inactive');
                $("#spanClassActive").html('On');
            }
            dataTable.fnDraw();
        });

        $('#addUserGroupPopupBtn').on('click', function () {
            var worker = $('<div"></div>');
            var url = '@Url.Action("GetAvailebleUsersToAddGroupView", "Admin")';
            url = url + "?groupID=" + @Model.XLIGroupID;

            worker
                .addClass("dialog custom-dialog")
                .attr("id", "assignAvailableClasses")
                .appendTo("body")
                .load(url, function () {
                    worker.dialog({
                        title: $(this).attr("Available Users"),
                        close: function () {
                            $('.ui-widget-overlay').remove();
                            $(this).remove();
                            $('#manageUserGroupTable').dataTable().fnDraw();

                        },
                        modal: false,
                        width: 1200,
                        resizable: false
                    });
                });
            var win = $('body');
            $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; position: fixed; z-index: 1001;"></div>');

        });


        $('.removeGroup').live('click', function () {
            var dataTable = $('#manageUserGroupTable').dataTable();
            var userId = $(this).attr('UserID');
            var groupId = @Model.XLIGroupID;
            var username = $(this).attr('UserName');

            var message = 'Are you sure you want to remove this user ' + username + ' from this group?';


            confirmMessageV2(
                {
                    message,
                    cbYesBtnFuncName: 'confirmRemoveGroup(' + userId + ',' + groupId +')',
                    cbCancelBtnFuncName: 'cancelRemoveGroup()'
                },
                {
                    dialogAttr: {
                        attr: {
                            id: 'removeGroupDialog'
                        }
                    }
                }
            )
        });

    });

    function confirmAlertMessage() {
        $("#confirmAlertMessage").dialog("close");
    }

    function alertMessageV2(message) {
        confirmMessageV2(
            {
                message,
                cbYesBtnFuncName: 'confirmAlertMessage()'
            },
            {
                dialogAttr: {
                    attr: {
                        id: 'confirmAlertMessage'
                    }
                }
            }
        )
    }

    function confirmRemoveGroup(userId, groupId) {
        ShowBlock($('#manageUserGroupTable'), "Deleting");
        $.post('@Url.Action("RemoveUserFromGroup","Admin")', { userID: userId, groupID: groupId }, function (result) {
            $('#manageUserGroupTable').unblock();
            cancelRemoveGroup()
            if (result) {
                alertMessageV2('This user has been removed from the group.');
            }
            else {
                alertMessageV2('This user has not been removed from the group.');
            }
            $('#manageUserGroupTable').dataTable().fnDraw();
        });
    }

    function cancelRemoveGroup() {
        $("#removeGroupDialog").dialog("close")
    }
    function loadUserGroupsToTable() {
        var options = {
            bServerSide: true,
            sServerMethod: "POST",
            bDestroy: true,
            sAjaxSource: '@Url.Action("GetGroupUsers", "Admin")',
            fnServerParams: function (aoData) {

                var isShowInactive = $('#showActiveUsersBtn').hasClass('show-inactive');

                aoData.push(
                    { name: "DistrictID", value: @Model.DistrictID },
                    { name: "IsShowInactiveUser", value: isShowInactive },
                    { name: "XLIGroupID", value: @Model.XLIGroupID }
                );
            },

            iDisplayLength: 10,
            aoColumns: [
                { mData: 'UserId', sName: 'UserId', bSearchable: false, bSortable: false, sClass: 'col-action' },
                { mData: 'LastName', sName: 'LastName', bSearchable: true, bSortable: true, sClass: 'add-user-group-column-fix' },
                { mData: 'FirstName', sName: 'FirstName', bSearchable: true, bSortable: true, sClass: 'add-user-group-column-fix' },
                { mData: 'UserName', sName: 'UserName', bSearchable: true, bSortable: true },
                { mData: 'RoleName', sName: 'RoleName', bSearchable: true, bSortable: true },
                { mData: 'SchoolList', sName: 'SchoolList', bSearchable: true, bSortable: false },
                { mData: 'GroupName', sName: 'GroupName', bSearchable: true, bSortable: false },
                { mData: 'UserStatusId', sName: 'UserStatusId', bSearchable: false, bSortable: true },
            ],
            aaSorting: [[1, "asc"]],
            fnPreDrawCallback: function () {
                ShowBlock($('#manageUserGroupTable'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#manageUserGroupTable').unblock();
                $(".with-tip").tip();
            },
            fnRowCallback: function (nRow, aData) {
                if (aData['UserStatusId'] == '1')
                    $('td:eq(7)', nRow).html('Active');
                else
                    $('td:eq(7)', nRow).html('Inactive');

                var removeIcon = '<span class="icon fa-solid fa-circle-xmark icon-red"></span>';
                var removeStr = '<a href="javascript:void(0)" title="Remove" class="with-tip actionIcon cursor-pointer removeGroup" UserName="' + aData["UserName"] + '" UserID="' + aData["UserId"] + '">' + removeIcon + '</a>';
                $('td:eq(0)', nRow).html(removeStr);

                $('.home').removeClass('current');
            },
            fnInitComplete: function () {
                $('#manageUserGroupTable_wrapper .block-custom-header').prepend($('#btnShowActiveUsersBtn'));
                $('#btnShowActiveUsersBtn').show()
                tranformSearchInputDataTable('manageUserGroupTable_filter')
                $(".with-tip").tip();
            }
        };

        $('#manageUserGroupTable').data('options', options);
    }
</script>
<script>
    $(document).ready(function () {
        breadcrumbDetailPage('.dataadmin', '#manageUserGroupDad');
    });
</script>
