@model LinkIt.BubbleSheetPortal.Models.Program
@{
    var code = @Html.Raw(Model.Code);
}
<style type="text/css">
    #dvEditProgram fieldset{
        padding:0;
        margin:0
    }
    #dvEditProgram .footer-content {
        position: absolute;
        height: 70px;
        width: 100%;
        left: 0;
        background: var(--navyColor);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #divPredefinedTags.tag-editor-manage-program .tag-editor {
        background: none;
        padding: 0.4rem 0.65rem;
        border: 2px solid var(--selectBorder);
        border-radius: 0;
    }


        #divPredefinedTags.tag-editor-manage-program .tag-editor .tag-editor-tag {
            background-color: var(--blue3);
            font-size: 0.875rem;
            border-radius: 2px 0 0 2px;
            color: var(--navyColor);
        }

        #divPredefinedTags.tag-editor-manage-program .tag-editor div {
            padding: 0.25rem;
        }

        #divPredefinedTags.tag-editor-manage-program .tag-editor .tag-editor-delete {
            background-color: var(--blue3);
            line-height: 1 !important;
        }

    #divPredefinedTags.tag-editor-manage-program .tag-editor-tag input {
        padding: 0 !important;
        border: 0 !important;
    }

    #divPredefinedTags.tag-editor-manage-program .tag-editor li {
        display: flex;
        margin: 0;
        margin-bottom: 0.125rem
    }

    #divPredefinedTags.tag-editor-manage-program .tag-editor .tag-editor-delete i:before {
        font-size: 0.875rem;
        color: var(--navyColor);
        content: "\f00d";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }
</style>

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="dvEditProgram" class='block-content bubbleSheetSelector form' style='z-index: 1004; padding:1.5rem'>
            <h1 style="font-size: 1.375rem; padding: 0; margin-bottom: 1.5rem">Edit Program</h1>
            <ul style="display: none" id="error-messages-create" class="message error"></ul>
            <ul style="display: none" id="success-message-create" class="message success">
                <li>Program has been successfully updated.</li>
            </ul>
            @using (Html.BeginForm("EditProgram", "ManageProgram", FormMethod.Post, new { id = "editProgramForm", @class = "form" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="columns">
                        <div style="width:100%">
                            <p>
                                <label>Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "full-width", id = "inputProgramName" })
                            </p>
                            <p>
                                <label>Visible To</label>
                                @if (ViewBag.IsPublisher)
                                {
                                    @Html.DropDownListFor(x => x.AccessLevelID, new SelectListItem[]
                                                                                {
                                                                                    new SelectListItem() {Text = "Select Access Level", Value = "-1"},
                                                                                    new SelectListItem() {Text = "LinkIt Only", Value = "0"},
                                                                                    new SelectListItem() {Text = "State Users", Value = "1"},
                                                                                    new SelectListItem() {Text = @LabelHelper.DistrictLabel+" Admins Only", Value = "2"},
                                                                                    new SelectListItem() {Text = @LabelHelper.DistrictLabel+" and School Admins", Value = "3"},
                                                                                    new SelectListItem() {Text = "All Users", Value = "4"}
                                                                                })
                                }
                                else
                                {
                                    if (ViewBag.IsSchoolAdmin)
                                    {
                                        @Html.DropDownListFor(x => x.AccessLevelID, new SelectListItem[]
                                                                                   {
                                                                                    new SelectListItem() {Text = "Select Access Level", Value = "-1"},
                                                                                    new SelectListItem() {Text = @LabelHelper.DistrictLabel+" and School Admins", Value = "3"},
                                                                                    new SelectListItem() {Text = "All Users", Value = "4"}
                                                                                   })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(x => x.AccessLevelID, new SelectListItem[]
                                                                                   {
                                                                                    new SelectListItem() {Text = "Select Access Level", Value = "-1"},
                                                                                    new SelectListItem() {Text = @LabelHelper.DistrictLabel+" Admins Only", Value = "2"},
                                                                                    new SelectListItem() {Text = @LabelHelper.DistrictLabel+" and School Admins", Value = "3"},
                                                                                    new SelectListItem() {Text = "All Users", Value = "4"}
                                                                                   })
                                    }
                                }

                            </p>
                            <p>
                                <div class="tag-editor-manage-program" id="divPredefinedTags">
                                    <label for="inputCode">Code</label>
                                    <textarea id="inputCode"></textarea>
                                </div>
                                @*@Html.TextBoxFor(model => model.Code, new { @class = "full-width", id = "inputCode" })*@
                            </p>
                        </div>
                        <input type="hidden" id="hdDistrictId" name="DistrictID" value="@Model.DistrictID" />
                        <input type="hidden" id="hdId" name="Id" value="@Model.Id" />
                    </div>
                </fieldset>
                <div class="footer-content">
                        <button class="btn-cancel" type="button" id="btnCancelEditProgram" onclick=" cancelCreateProgram()">Cancel</button>
                        <button class="btn-accept" type="submit" id="btnEditProgram">OK</button>
                </div>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $('#inputCode').tagEditor({ initialTags: '@code'.split("|"), forceLowercase: false });
        $('#editProgramForm').submit(function (event) {
            event.preventDefault();
            ShowBlock($('#dvEditProgram'), "Updating Program");
            var code = encodeURIComponent($('#inputCode').tagEditor('getTags')[0].tags.join('|'));
            $.ajax({
                url: '@Url.Action("EditProgram", "ManageProgram")',
                type: 'POST',
                data: $(this).serialize() + "&Code=" + code,
                success: function (response) {
                    if (response.Success == true) {
                        $('#success-message-create').show();
                        $('#error-messages-create').hide();
                        setTimeout(function () {
                            $(".dialog").dialog("close");
                        },
                            3000);
                    } else {
                        $('#error-messages-create').html('<li> ' + response.ErrorMessage + ' </li>');
                        $('#error-messages-create').show();
                        $('#success-message-create').hide();
                        $('#btnEditProgram').enableBt();
                    }
                    $('#dvEditProgram').unblock();
                }
            });
        });
    });
</script>
