<style>
/*    .program-title {
        font-family: "Trebuchet MS, Lucida Sans Unicode, Lucida Sans, Arial, Helvetica, sans-serif";
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
    }*/

    .btn-deassign-student {
        position: absolute;
        right: 15rem;
        margin-top: 0.25rem;
    }
</style>
<style type="text/css">
    #selectFilters .columns {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: flex-end;
    }
    #selectFilters .columns > div  {
        flex:1
    }
    .footer-content {
        position: absolute;
        height: 70px;
        width: 100%;
        left: 0;
        background: var(--navyColor);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .ui-dialog-titlebar-close {
        right: 2rem !important;
        top: 0 !important;
    }
</style>

<article style="width: 100%">
    <section>
        <div class="block-border">
            <div class="block-content form">
                <div id="selectFilters" style="margin-bottom:1.5rem;">
                    <div class="block-content form student-filter" style="padding:0">
                        <h1 style="font-size: 1.375rem; padding: 0; margin-bottom: 1.5rem">Filter Students - @ViewBag.ProgramName</h1>
                        <div>
                            <div id="AssignStudentNotifications"></div>
                        </div>
                        <fieldset style="padding:0; margin:0">
                            <div class="columns">
                                <div>
                                    <label>Last Name</label>
                                    <input type="text" id="LastName" class="full-width" />

                                </div>
                                <div>
                                    <label>First Name</label>
                                    <input type="text" id="FirstName" class="full-width" />
                                </div>
                                <div>
                                    <label>Student local code</label>
                                    <input type="text" id="StudentCode" class="full-width" />
                                </div>
                            </div>
                            <div class="group-btn-actions float-right">
                                <button id="clearFilter" class="btn-blue" type="button" style="margin-right: 1rem;" onclick="clearFilter()">Clear Filter</button>
                                <button id="filterSheets" class="btn-accept" type="button" onclick="searchStudentProgram()">Apply Filters</button>
                            </div>
                        </fieldset>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="divLessons">
                    <div class="block-content form" id="divOnTop" style="padding:0">
                        <h1 style="font-size: 1.375rem; padding: 0; margin-bottom: 1.5rem">
                            Students
                            <a href="javascript:void(0)" onclick="showAssignStudentDialog()" id="hrefAssignStudents" class="float-right btn btn-link pe-0">
                                Assign new students
                                <i class="fa-solid fa-plus ms-2"></i>
                            </a>
                        </h1>
                        <div class="btn-deassign-student">
                            <button id="btnDeassignStudents" class="btn-blue" type="button" disabled="disabled">Deassign Students</button>
                        </div>
                        <div class="no-margin last-child" style="margin:0">
                            <table id="studentProgramDataTable" class="datatable table no-margin" width="100%">
                                <thead>
                                    <tr>
                                        <th scope="col" style="text-align:center"><input type="checkbox" id="chkAllStudent" /></th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Last Name
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            First Name
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Code
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="height: 60px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="footer-content">
                    <button id="btnCloseUserClick" type="button" class="btn-accept classProgramButton" data-dialog="close" onclick="closeDialogStudentProgram()">Close</button>
                </div>
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
    function LoadStudentToTable() {
        var options = {
            bServerSide: true,
            bDestroy: true,
            bProcessing: false,
            sAjaxSource: getAjaxSearchStudentProgram(),
            cache: false,
            sServerMethod: "POST",
            fnServerParams: function (aoData) {
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        if (item.value == null) {
                            item.value = '';
                        }


                        //encode search box, when user input text like <a>abc </a> will issue error
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''");
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }

                        break; //only searchbox
                    }
                }
            },
            iDisplayLength: 25,
            aaSorting: [[1, "asc"]],
            oLanguage: { "sEmptyTable": "No results found" },
            aoColumns: [
                { sType: 'int', sName: 'StudentProgramId', bSearchable: true, bSortable: false, bVisible: true, sWidth: '25px', sClass: 'col-action' },
                { sType: 'string', sClass: 'break-word-class', sName: 'LastName', bSearchable: true, bSortable: true, bVisible: true },
                { sType: 'string', sClass: 'break-word-class',sName: 'FirstName', bSearchable: true, bSortable: true, bVisible: true },
                { sType: 'string',sName: 'StudentCode', bSearchable: true, bSortable: true, bVisible: true, sWidth: '120px' }


            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibilityStudentProgram(aData[0]));
                $('td:eq(1)', nRow).html($('<div/>').text(aData[1]).html());//encode html
                $('td:eq(2)', nRow).html($('<div/>').text(aData[2]).html());//encode html
                $('td:eq(3)', nRow).html($('<div/>').text(aData[3]).html());//encode html

                return nRow;
            },
            fnPreDrawCallback: function () {
                $('#filterSheets').attr("disabled", "disabled");
                ShowBlock($('#studentProgramDataTable'), "Loading");

                return true;
            },
            fnDrawCallback: function () {
                $('#divLessons').unblock();
                $('#filterSheets').removeAttr("disabled");
                $('#studentProgramDataTable').unblock();
                $('#studentProgramDataTable').dataTable().fnSetFilteringDelay(500);

                $('#chkAllStudent').removeAttr('checked');
                var checkedboxes = $('INPUT[name="chkStudent"][type=checkbox]:checked');

                if (checkedboxes.length > 0) {
                    $('#btnDeassignStudents').prop("disabled", false);
                    if ($('INPUT[name="chkStudent"][type=checkbox]').length == checkedboxes.length) {
                        $('#chkAllStudent').attr('checked', 'checked');
                    }
                }
                else {
                    $('#btnDeassignStudents').prop("disabled", true);
                }
                portalV2SkinCheckBox()

                return true;

            },
            fnInitComplete: function () {
                tranformSearchInputDataTable('studentProgramDataTable_filter')
            }
        };

        $("#studentProgramDataTable").data("options", options);
    }
    function getAjaxSearchStudentProgram() {
        var studentCode = $('#StudentCode').val();
        studentCode = encodeURIComponent(htmlEncode(studentCode));
        var firstName = $('#FirstName').val();
        firstName = encodeURIComponent(htmlEncode(firstName));
        var lastName = $('#LastName').val();
        lastName = encodeURIComponent(htmlEncode(lastName));

        var url = '@Url.Action("GetStudentsOfProgram")?programId=@ViewBag.ProgramId' + '&studentCode=' + studentCode + '&firstName=' + firstName + '&lastName=' + lastName;
        return url;
    }
    function setIconVisibilityStudentProgram(studentId) {
        var checkboxString = '<input type="checkbox" name="chkStudent" value="' + studentId + '"  />';
        return checkboxString;
    }
    function searchStudentProgram() {
        ui.studentProgramDataTable.fnReloadAjax(getAjaxSearchStudentProgram());
    }

    function clearFilter() {
        $('.student-filter input').val('');
    }


    function getSelectedStudentIds() {
        var studentIds = '';
        $('INPUT[name="chkStudent"][type=checkbox]:checked').each(function (i, e) {
            studentIds += $(e).val() + ',';
        });
        return studentIds.substr(0, studentIds.length - 1);
    }



    var isOpenAssignStudentDialog = false;

    function showAssignStudentDialog() {
        if (@ViewBag.ProgramId == 0) {
            CustomAlert('This program has been deleted by someone already.');
            return;
        }
        //check existing
        var url = '@Url.Action("CheckProgramExisting", "ManageProgram")?programId=@ViewBag.ProgramId';
        $.ajax(
            {
                url: url,
                cache: false
            })
            .done(function(response) {
                if (response.IsExisting) {
                    url = '@Url.Action("ShowAssignStudentDialog", "ManageProgram")?programId=@ViewBag.ProgramId';
                    if (isOpenAssignStudentDialog == true) {
                        return;
                    }
                    isOpenAssignStudentDialog = true;
                    $.ajax(
                        {
                            url: url,
                            cache: false
                        })
                        .done(function(html) {

                            $("#divOnTop").append('<div id="AssignStudentDialog" class="dialog"></div>');
                            $("#AssignStudentDialog").append(html);
                            $('#AssignStudentDialog').dialog({
                                title: "",
                                open: function() {
									//Create overlay for popup
                                    $("body").append('<div id="dialogAssignStudentOverlay"class="my-overlay" style="z-index: ' + ($('.ui-dialog').last().css("z-index") - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: #000000;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                                },
                                beforeclose: function() {
                                    return true;
                                },
                                close: function() {
                                    $('#studentProgramDataTable').dataTable().fnDraw(false);
                                    $('#AssignStudentDialog').remove();
                                    $("body #dialogAssignStudentOverlay").remove();
                                    isOpenAssignStudentDialog = false;
                                },
                                modal: false,
                                width: '60vw',
                                resizable: false,
                                position: ['center', 20]
                            });

                        });

                    $(".close").unbind("click");
                    $(".close").live("click", function(e) {
                        e.preventDefault();
                    });
                } else {
                    CustomAlert('This program has been deleted by someone already.');
                }

            });


    }

    function closeDialogStudentProgram() {
        $('#dlStudentProgram' + @ViewBag.ProgramId).dialog("close");
    }

    function LoadStudentProgram() {
        $('.dataadmin').addClass('current');
        $('#manageProgramTab').addClass('current');
        LoadStudentToTable();
        initializeDataTable($("#studentProgramDataTable"));
        $.ajaxSetup({ cache: false });
        if (@ViewBag.ProgramId == 0) {
            $('#hrefAssignStudents').attr("disabled","disabled");
            $('#btnDeassignStudents').prop("disabled", true);
        }

        $('#btnDeassignStudents').die('click');
        $('#btnDeassignStudents').live("click", function (e) {
            //check existing
            var url = '@Url.Action("CheckProgramExisting", "ManageProgram")?programId=@ViewBag.ProgramId';
            // get height of parent popup
            var heightParentPopup = $('.ui-dialog').height()
            $.ajax(
                {
                    url: url,
                    cache: false
                })
                .done(function(response) {
                    if (response.IsExisting) {
                        confirmMessageV2(
                            {
                                message: "Do you want to remove the selected student(s) from this program?",
                                cbYesBtnFuncName: 'yesDeassignStudents()',
                                cbCancelBtnFuncName: 'closeDialogDeassignStudents()'
                            },
                            {
                                dialogAttr: {
                                    attr: {
                                        id: 'DialogDeassignStudents'
                                    }
                                },
                                modal: {
                                    hbody: heightParentPopup
                                }
                            }
                        )
                    } else {
                        CustomAlert('This program has been deleted by someone already.');
                    }

                });

        });

        $('INPUT[name="chkStudent"][type=checkbox]').live("click", function (e) {
            if (this.checked) {
                $('#btnDeassignStudents').prop("disabled", false);
                var checkboxes = $('INPUT[name="chkStudent"][type=checkbox]');
                var checkall = true;
                for (var i = 0; i < checkboxes.length; i++) {
                    if (!(checkboxes[i]).checked) {
                        $('#chkAllStudent').removeAttr('checked');
                        checkall = false;
                        break;
                    }
                }
                if (checkall) {
                    $('#chkAllStudent').attr('checked', 'checked');
                }

            }
            else {
                $('#chkAllStudent').removeAttr('checked');
                var checkedboxes = $('INPUT[name="chkStudent"][type=checkbox]:checked');
                if (checkedboxes.length > 0) {
                    $('#btnDeassignStudents').prop("disabled", false);
                }
                else {
                    $('#btnDeassignStudents').prop("disabled", true);
                }
            }
            portalV2SkinCheckBox()
        });

        $('#chkAllStudent').die('click');
        $('#chkAllStudent').live("click", function (e) {
            if (this.checked) {
                $('INPUT[name="chkStudent"][type=checkbox]').attr('checked', 'checked');
                $('#btnDeassignStudents').prop("disabled", false);
            }
            else {
                $('INPUT[name="chkStudent"][type=checkbox]').removeAttr('checked');
                $('#btnDeassignStudents').prop("disabled", true);
            }
            portalV2SkinCheckBox()
        });
    }
    function yesDeassignStudents() {
        closeDialogDeassignStudents()
        var selectedStudentProgramIds = getSelectedStudentIds();
        ShowBlock($('#studentProgramDataTable'), 'Deassigning');
        $.ajax({
            url: '@Url.Action("DeassignStudents", "ManageProgram")',
            data: {
                selectedStudentProgramIds: selectedStudentProgramIds
            },
            type: 'post',
            cache: false
        }).done(function (response) {
            $('#studentProgramDataTable').unblock();
            if (response.success == 'true') {
                LinkIt.success('#AssignStudentNotifications', 'Students successfully deassigned.');
                $('#studentProgramDataTable').dataTable().fnDraw();
                $('#studentProgramDataTable1').dataTable().fnDraw();
                $('#btnDeassignStudents').prop("disabled", true);
            } else {
                LinkIt.error('#AssignStudentNotifications', response.errorMessage);
            }
        })
    }
    function closeDialogDeassignStudents() {
        $("#DialogDeassignStudents").dialog("close");
    }
</script>
<style>
    html {
        overflow-x: auto;
    }

    body {
        min-width: 1035px;
    }

    .ui-widget-header {
        border: 0px solid var(--grey0) !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .sticky {
        padding-left: 500px;
    }
</style>
