@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOAddNewStudentsCustomViewModel
<article class="container_12">
    <section class="grid_12">
        <div class="block-border" id="selectFilters">
            <div id="divFilterStudents" class="block-content form bubbleSheetSelector">
                <h1>Filter Students</h1>
                <fieldset>
                    <div class="columns">
                        <div class="colx2-left">
                            @if (Model.IsPublisherOrNetworkAdmin)
                            {
                                <p>
                                    <label>State</label>
                                    <select id="selectState" class="full-width"></select>
                                </p>
                            }
                            <p>
                                <label>School</label>
                                <select id="selectSchool"></select>
                            </p>
                            <p>
                                <label>Teacher</label>
                                <select id="selectTeacher"></select>
                            </p>
                            <p>
                                <label>First Name</label>
                                <input type="text" id="selectFirstName" class="full-width" />
                            </p>
                            <p>
                                <label>Local ID</label>
                                <input type="text" id="selectLocalId" class="full-width" />
                            </p>
                            <p>
                                <label>Admin School</label>
                                <select id="selectAdminSchool" class="full-width"></select>
                            </p>
                            <p>
                                <label>@LabelHelper.StudentRace</label>
                                <select id="selectRace" class="full-width"></select>
                            </p>
                        </div>
                        <div class="colx2-right">
                            @if (Model.IsPublisherOrNetworkAdmin)
                            {
                                <p>
                                    <label>@LabelHelper.DistrictLabel</label>
                                    <select id="selectDistrict" class="full-width"></select>
                                </p>
                            }
                            <p>
                                <label>
                                    @LabelHelper.Term
                                </label>
                                <select id="selectTerm"></select>
                            </p>
                            <p>
                                <label>Class</label>
                                <select id="selectClass"></select>
                            </p>
                            <p>
                                <label>Last Name</label>
                                <input type="text" id="selectLastName" class="full-width" />
                            </p>
                            <p>
                                <label>State ID</label>
                                <input type="text" id="selectStateId" class="full-width" />
                            </p>
                            <p>
                                <label>@LabelHelper.GradeLabel</label>
                                <select id="selectGrade" class="full-width"></select>
                            </p>
                            <p>
                                <label>Gender</label>
                                <select id="selectGender" class="full-width">
                                    <option value="">Select Gender</option>
                                    <option value="25">Male</option>
                                    <option value="24">Female</option>
                                </select>
                            </p>
                        </div>
                    </div>
                </fieldset>
                <button id="filterSheets" class="float-right" type="button" disabled="disabled">Apply Filters</button>
                <button id="clearFilter" class="float-right grey" type="button" style="margin-right: 2px;">Clear Filter</button>
                <div class="clear"></div>
                <br />
                <br />
                <div class="block-content form">
                    <h1>Students</h1>
                    <div id="divNotifications"></div>
                    <div class="clear-25">
                    </div>
                    <div class="no-margin last-child">
                        <table id="AddStudentDataTable" class="datatable table no-margin" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col" class="black-cell"><span class="loading"></span></th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Last Name
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        First Name
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Local ID
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        State ID
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Admin School
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        @LabelHelper.GradeLabel
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Race
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Gender
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Status
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        CanAccess
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="height: 60px;"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div id="dialogManualGrading"></div>
    </section>
</article>
<script>

    $(function () {
        InitData();
    });

    function InitData() {
        if ('@Model.IsPublisherOrNetworkAdmin' == 'True') {
            populateStatesOnPopup();
        } else {
            populateSchools();
            populateGrades();
            populateRaces();

            InitSchool();
        }

        $('#selectState').change(function () {
            $('#selectDistrict').empty();
            $('#selectSchool').empty();
            $('#selectTeacher').empty();
            $('#selectTerm').empty();
            $('#selectClass').empty();
            if ($(this).val() != 'select') {
                populateDistrictsOnPopup();
            }
            else {
                $('#selectDistrictOnPopup').empty();
            }
        });
        $('#selectDistrict').change(function () {
            $('#selectSchool').empty();
            $('#selectTeacher')
            $('#selectTerm').empty();
            $('#selectClass').empty();
            if ($(this).val() != 'select') {
                populateSchools();
                populateGrades();
                populateRaces();
                populateSchoolsByDistrict();
            }
            else {
                $('#selectSchoolOnPopup').empty();
            }
        });

        $('#filterSheets').click(function () {
            ReloadStudentDataTable();
        });

        InitLoadStudent();
    }

    function populateStatesOnPopup() {
        var stateSelect = $('#selectState');
        stateSelect.empty();
        if ('@Model.IsPublisher' == 'True') {
            $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (response) {
                addDefaultOption(stateSelect, "State");
                addSelectListItems(stateSelect, response);
            });
        }
        if ('@Model.IsNetworkAdmin' == 'True') {
            $.get('@Url.Action("GetStatesForNetworkAdmin", "PopulateStateDistrict")', function (response) {
                addDefaultOption(stateSelect, "State");
                addSelectListItems(stateSelect, response);
            });
        }
    }

    function populateDistrictsOnPopup() {
        var districtSelect = $('#selectDistrict');
        districtSelect.empty();

        var selectedStateId = $('#selectState').val();
        if ('@Model.IsPublisher' == 'True') {
            $.get('@Url.Action("GetDistricts","PopulateStateDistrict")', { stateId: selectedStateId }, function (response) {
                addDefaultOptionDefaultValue(districtSelect, "@LabelHelper.DistrictLabel", "");
                addSelectListItems(districtSelect, response);
            });
        }
        if ('@Model.IsNetworkAdmin' == 'True') {
            $.get('@Url.Action("GetDistrictsForNetworkAdmin","PopulateStateDistrict")', { stateId: selectedStateId }, function (response) {
                addDefaultOptionDefaultValue(districtSelect, "@LabelHelper.DistrictLabel", "");
                addSelectListItems(districtSelect, response);
            });
        }

    }

    function populateSchools() {
        $('#selectAdminSchool').empty();
        if ($('#selectDistrict').length) {
            var districtValue = $('#selectDistrict').val();
            if (districtValue != 'select') {
                $.get('@Url.Action("GetAdminSchoolsByDistrict", "StudentLookup")', { districtId: districtValue }, function (schools) {
                    addDefaultOptionDefaultValue($('#selectAdminSchool'), "Admin School", "");
                    addSelectListItems($('#selectAdminSchool'), schools);
                });
            }
        } else {
            $.get('@Url.Action("GetAdminSchoolsByDistrict", "StudentLookup")', function (schools) {
                addDefaultOptionDefaultValue($('#selectAdminSchool'), "Admin School", "");
                addSelectListItems($('#selectAdminSchool'), schools);
            });
        }
    }

    function populateGrades() {
        $('#selectGrade').empty();
        var districtId = "-1";
        if ($('#selectDistrict').length) {
            var districtValue = $('#selectDistrict').val();
            if (districtValue != 'select') {
                districtId = districtValue;
            }
        }

        $.get('@Url.Action("GetGradesByDistrict", "PopulateTest")', { districtId: districtId }, function (grades) {
            addDefaultOptionDefaultValue($('#selectGrade'), "@LabelHelper.GradeLabel", "");
            addSelectListItems($('#selectGrade'), grades);
        });
    }

    function populateRaces() {
        $('#selectRace').empty();
        if ($('#selectDistrict').length) {
            var districtValue = $('#selectDistrict').val();
            if (districtValue != 'select') {
                $.get('@Url.Action("GetRacesByDistrict", "StudentLookup")', { districtId: districtValue }, function (races) {
                    addDefaultOptionDefaultValue($('#selectRace'), "@LabelHelper.StudentRace", "");
                    addSelectListItems($('#selectRace'), races);
                });
            }
        } else {
            $.get('@Url.Action("GetRacesByDistrict", "StudentLookup")', function (races) {
                addDefaultOptionDefaultValue($('#selectRace'), "@LabelHelper.StudentRace", "");
                addSelectListItems($('#selectRace'), races);
            });
        }
    }

    var studentResultDataTable = [];
    function InitLoadStudent() {
        var options = {
            bServerSide: true,
            sServerMethod: "GET",
            bDestroy: true,
            bProcessing: false,
            sAjaxSource: '@Url.Action("GetStudentResult", "SGOManage")',
            fnServerParams: function (aoData) {
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }
                aoData.push(
                    { name: "districtId", value: $('#selectDistrict').val() },
                    { name: "LastName", value: $('#selectLastName').val() },
                    { name: "FirstName", value: $('#selectFirstName').val() },
                    { name: "Code", value: $('#selectLocalId').val() },
                    { name: "StateCode", value: $('#selectStateId').val() },
                    { name: "SchoolId", value: $('#selectAdminSchool').val() },
                    { name: "GradeId", value: $('#selectGrade').val() },
                    { name: "RaceName", value: $('#selectRace').val() == null ? '' : $('#selectRace').val() },
                    { name: "GenderId", value: $('#selectGender').val() },
                    { name: "SGOId", value: '@Model.SGOID' },
                    { name: "ClassId", value: $('#selectClass').val() }
                );
            },
            iDisplayLength: 10,
            aoColumns: [
                { sType: 'int', sName: 'StudentId', bSearchable: false, bSortable: false, sWidth: '25px' },
                { sType: 'string', sName: 'LastName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'FirstName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'Code', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'StateCode', bSearchable: false, bSortable: true },
                { sType: 'string', sName: 'SchoolName', bSearchable: false, bSortable: true },
                { sType: 'string', sName: 'GradeName', bSearchable: false, bSortable: true, sWidth: '56px' },
                { sType: 'string', sName: 'RaceName', bSearchable: false, bSortable: true, sWidth: '50px' },
                { sType: 'string', sName: 'GenderCode', bSearchable: false, bSortable: true, sWidth: '64px' },
                { sType: 'int', sName: 'Status', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'bool', sName: 'CanAccess', bSearchable: false, bSortable: true, bVisible: false }
            ],
            fnRowCallback: function (nRow, aData) {
                //save data
                var student = studentResultDataTable.filter(function (dt) {
                    return dt[0] === aData[0];
                });
                if(student.length === 0){
                    studentResultDataTable.push(aData);
                }
                var checkBox = '<input type="checkbox" value="' + aData[0] + '" classId="' + $('#selectClass').val() + '"></input>';
                $('td:eq(0)', nRow).html(checkBox);
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#AddStudentDataTable'), 'Loading');
                return true;
            },
            fnDrawCallback: function () {
                $('#AddStudentDataTable').unblock();
                $('.with-tip').tip();
            },
            fnInitComplete: function () {
                $('.block-footer').append('<button id="btnAddStudentDataTable" type="button" style="float: left;margin-right:5px;" onclick="AddStudentToSGO();">Add</button><button id="btnCloseAddStudentDataTable" type="button" style="float: left;" onclick="CloseAddStudentToSGO();">Close</button>');
            }
        };

        $('#AddStudentDataTable').data("options", options);
        initializeDataTable($("#AddStudentDataTable"));
    }

    function ReloadStudentDataTable() {
        var dataTable = $('#AddStudentDataTable').dataTable();
        dataTable.fnDraw();
    }

    var allSelectedIds = [];
    function AddStudentToSGO() {
        var selectedIds = [];

        $("#AddStudentDataTable :checked").each(function () {
            var vStudentIdAndClassId = $(this).val() + ';' + $(this).attr('classId');
            selectedIds.push(vStudentIdAndClassId);
            allSelectedIds.push($(this).val());
        });

        ShowBlock($('#AddStudentDataTable'), 'Loading');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddStudentsToSGO", "SGOManage")',
            data: { 'SGOID': '@Model.SGOID', 'StudentIDs': selectedIds },
            dataType: 'json',
            traditional: true,
            success: function (data) {
                @if (Model.SGOStatusID != 1)
                {
                    <text>LogAddStudent(selectedIds);</text>
                }
                ReloadStudentDataTable();
            },
            error: function () {
                $('#AddStudentDataTable').unblock();
            }
        });
    }

    function CloseAddStudentToSGO() {
        if (allSelectedIds.length > 0) {
            var studentsToAppend = [];
            $.each(allSelectedIds, function (i, studentId) {
                var student = studentResultDataTable.filter(function (data) {
                    return data[0] == studentId;
                });
                if (student.length > 0)
                {
                    var studentName = student[0][1] + ', ' + student[0][2];
                    var studentInfo = { studentid: student[0][0], studentName: studentName, type: student[0][9] }
                    studentsToAppend.push(studentInfo);
                }
            });
            AppendStudentToGroupTable(studentsToAppend);
        }
        $("#PopupSGOAddEditBand").dialog("close");

    };

    function LogAddStudent(studentIDs) {
        var auditDetail = $('<students></students>');
        $.each(studentIDs, function (idx, studentID) {
            var studentNode = $('<studentid></studentid>');
            studentNode.text(studentID);
            auditDetail.append(studentNode);
        });

        var actionDetail = '<students>' + auditDetail.html() + '</students>';
        $.ajax({
            type: 'Post',
            url: '@Url.Action("AddAuditTrail", "SGOAuditTrail")',
            data: { SGOID: '@Model.SGOID', SGOActionTypeID: '1', ActionDetail: actionDetail },
            success: function () { }
        });
    }

    //------------------------------------------------------------
    function InitSchool() {
        $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', function (schools) {
            fillDataSchools(schools);
        });
    }

    function fillDataSchools(schools) {
        addDefaultOption($('#selectSchool'), "School");
        addSelectListItems($('#selectSchool'), schools);
    }

    $('#selectSchool').change(function () {
        $('#selectTeacher').empty();
        $('#selectTerm').empty();
        $('#selectClass').empty();
        if ($('#selectSchool').val() !== 'select') {
            populateTeachers();
        }
    });

    function populateTeachers() {
        $('#selectTeacher').empty();
        var schoolValue = $('#selectSchool').val();
        if (schoolValue !== 'select') {
            $.get('@Url.Action("GetTeachers", "PopulateSchoolTeacher")', { schoolId: schoolValue, hasTermOnly: 'True' }, function (teachers) {
                addDefaultOption($('#selectTeacher'), "Teacher");
                addSelectListWithDefaultValue($('#selectTeacher'), teachers, 'select', function (item) {
                    return (item.FirstName) ? item.LastName + ", " + item.FirstName + " (" + item.Name + ")" : item.LastName + " (" + item.Name + ")";
                });
            });
        }
    }

    $('#selectTeacher').change(function () {
        $('#selectTerm').empty();
        $('#selectClass').empty();
        populateTermsByTeacherAndSchool();

    });

    function populateTermsByTeacherAndSchool() {
        $('#selectTerm').empty();
        var teacherValue = $('#selectTeacher').val();
        var schoolValue = $('#selectSchool').val();
        if (teacherValue !== 'select') {
            $.get('@Url.Action("GetTerms", "PopulateStudent")', { userId: teacherValue, schoolId: schoolValue }, function (terms) {
                addDefaultOption($('#selectTerm'), "@LabelHelper.Term");
                addSelectListItems($('#selectTerm'), terms);
            });
        }
    }

    function fillDataTerms(terms) {
        addDefaultOption($('#selectTerm'), "@LabelHelper.Term");
        addSelectListItems($('#selectTerm'), terms);
    }

    $('#selectTerm').change(function () {
        populateClasses();
    });

    function populateClasses() {
        $('#selectClass').empty();
        //$('#studentsList').html($('#studentsTemplate').html());
        var termValue = $('#selectTerm').val();
        var teacherValue = $('#selectTeacher').val();
        if (termValue !== 'select' && teacherValue !== 'select') {
            $.get('@Url.Action("GetClasses", "PopulateStudent")', { termId: termValue, userId: teacherValue }, function (classes) {
                addDefaultOption($('#selectClass'), "Class");
                addSelectListItems($('#selectClass'), classes);
            });
        }
    }

    $('#selectClass').change(function () {
        var $btnFilter = $('#filterSheets');
        var classValue = $('#selectTeacher').val();
        if (classValue !== 'select') {
            $btnFilter.prop('disabled', false);
        } else {
            $btnFilter.prop('disabled', true);
        }
    });

    function populateSchoolsByDistrict() {
        $('#selectSchool').empty();
        $('#selectTeacher')
        $('#selectTerm').empty();
        $('#selectClass').empty();
        var districtValue = $('#selectDistrict').val();
        if (districtValue == null || districtValue === 'select' || districtValue <= 0) {
            return;
        }
        if (districtValue != 'select') {
            $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtValue }, function (schools) {
                fillDataSchools(schools);
            });
        }
    }

    //------------------------------------------------------------
</script>
