<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsSGONote" name="fsSGONote">
    <legend>Notes (Optional)</legend>
    <div class="columns sgo-columns">
        <div style="padding-bottom:10px;">            
            <input type="hidden" id="noteSGOId" value="@ViewBag.SGOId" />
            <textarea name="txtSGONote" id="txtSGONote" style="width: 99%; height: 100px;">@ViewBag.SGONote</textarea>
            <div style="font-size:smaller; font-style:italic">The notes are only available for on-screen viewing, and will not show up in the PDF or audit trail.</div>
        </div>
        <button id="btnSaveNote" class="float-right" type="button">Save Note</button>
        <div class="clear"></div>
    </div>
</fieldset>

<script>    
    $('#btnSaveNote').click(function() {
        ShowBlock($('#idTopNavigation'), "Save");
        var sgoId = @ViewBag.SGOId;
        var strSGONote =   $('#txtSGONote').val() ;
        $.post('@Url.Action("SaveNote", "SGOManage")', { sgoId: sgoId, sgoNote: strSGONote, pageName: '@ViewBag.PageName' }, function(response) {
            $('#idTopNavigation').unblock();
        }).always(function() {
            $('#idTopNavigation').unblock();
        });
    });
</script>