@model LinkIt.BubbleSheetPortal.Web.ViewModels.ManageTestViewModel
<style>
    #portal-v2-containter #dvCreateTestBank label {
        font-weight: 500;
    }
    #portal-v2-containter #dvCreateTestBank .btn-cancel {
        background-color: var(--red) !important;
        border: none;
        padding: 10px;
        margin-left: 15px;
    }
    #portal-v2-containter #dvCreateTestBank .btn-popup {
        height: 48px;
    }
    #portal-v2-containter #dvCreateTestBank .blockMsg.blockElement {
        width: 100% !important;
        left: 0 !important;
    }
</style>

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="dvCreateTestBank" class='block-content block-24 bubbleSheetSelector form' style='z-index: 1004'>
            <h2 class="header">
                Create Form Bank
            </h2>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <ul style="display: none" id="success-message" class="message success">
                <li>Form bank created.</li>
            </ul>
            <fieldset class="p-2">
                <div class="columns">
                    @if (Model.IsPublisher || Model.IsNetWorkAdmin)
                    {
                        <p>
                            <label>State:</label>
                            <select id="selectState1" style="width: 390px;"></select>
                        </p>
                    }
                    <p>
                        <label>@LabelHelper.TestGrade</label>
                        <select id="selectGrade" style="width: 390px;"></select>
                    </p>
                    <p>
                        <label>@LabelHelper.Subject</label>
                        <select id="selectSubject" style="width: 390px;"></select>
                    </p>
                    <p>
                        <label>Bank Name</label>
                        <input type="text" id="inputTestBankName" style="min-width: 100%" />
                    </p>
                </div>
            </fieldset>
            <div class="modal-component-footer" style="margin: 0 -24px -24px -24px">
                <div slot="footer">
                    <button type="button" class="" id="btnCancelCreateTestBank" onclick="cancelCreateTestBank()">Cancel</button>
                    <button type="button" class="btn-popup" id="btnCreateTestBank" onclick="createTestBank()">Create</button>
                </div>
            </div>
            <input id="hdfStateId" type="hidden" value="@Model.StateId" />
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        @if (Model.IsPublisher || Model.IsNetWorkAdmin)
        {
            <text>
        populateSate();
        </text>
        }
        else {
            <text>
        PopularGrade();
        </text>
        }
    });

    function populateSate() {
        $('#selectState1').empty();
        $.get('@Url.Action("GetStateByPublisherOrNetworkAdmin", "PopulateStateDistrict")', function (states) {
            AddSelectListItems($('#selectState1'), states, 'Select State');
        });
    }

    function PopularGrade() {
        $('#selectGrade').empty();
        var vStateId = $('#hdfStateId').val();
        if (vStateId < 0) {
            vStateId = $('#selectState1').val();
        }
        $.get('@Url.Action("GetGradesByStateId", "PopulateTest")', { stateId: vStateId }, function (grades) {
            AddSelectListItems($('#selectGrade'), grades, 'Select @LabelHelper.TestGrade');
        });
    }

    function populateSubject() {
        $('#selectSubject').empty();
        var vStateId = $('#hdfStateId').val();
        if (vStateId < 0) {
            vStateId = $('#selectState1').val();
        }
        var vGradeId = $('#selectGrade').val();
        $.get('@Url.Action("GetSubjectByStateIdAndGradeId", "PopulateTest")', { stateId: vStateId, gradeId: vGradeId }, function (subjects) {
            AddSelectListItems($('#selectSubject'), subjects, 'Select @LabelHelper.Subject');
        });
    }

    $('#selectState1').change(function () {
        $('#selectGrade').empty();
        $('#selectSubject').empty();
        if ($('#selectState1').val() != '-1') {
            PopularGrade();
        }
    });

    $('#selectGrade').change(function () {
        $('#selectSubject').empty();
        if ($('#selectGrade').val() != '-1') {
            populateSubject();
        }
    });
</script>
