@model IEnumerable<LinkIt.BubbleSheetPortal.Web.ViewModels.MasterStandardViewModel>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            var id = string.Format("chk-{0}", item.MasterStandardID);
            <li class="treeview-list-item @(item.DescendantItemCount > 0 ? "is-child is-expanded" : "")">
                @if (item.DescendantItemCount > 0)
                {
                    <span class="treeview-list-item-icon" data-id="@item.MasterStandardID" data-isloaded="0"></span>
                }
                <input type="checkbox" id="@id" name="chkStandard" value="@item.MasterStandardID" data-name="@item.Number" parentId="@item.ParentId">
                <label for="@id">
                    <span>@(string.IsNullOrEmpty(item.Number) ? "" : item.Number + " -") @item.Description</span>
                </label>
                <ul class="treeview-list" id="ulChild-@item.MasterStandardID"></ul>
            </li>
        }
    }

<script type="text/javascript">
    function setAllChildeNodeCheck(parentChkId) {
        if (parentChkId == undefined) {
            return;
        }
        if (parentChkId == 0) {
            return;
        }
        var checked = $('[id="chk-'+ parentChkId+ '"]').is(':checked');
        //set checked/unchecked for child nodes
        $('[parentId="'+ parentChkId +'"]').each(function(i, val) {
            var childCheckbox = $(val);
            childCheckbox.prop('checked', checked);
        });
    }
</script>
