@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TLDSAddNewStudentsCustomViewModel
<style>
    #portal-v2-containter .form fieldset.custom-toggle {
        padding: 0;
    }

    #portal-v2-containter .form fieldset.custom-toggle legend {
        margin: 0;
        background: none;
        float: none;
        box-shadow: none;
        padding: 0.75rem 1rem;
        background-color: var(--blue1);
        color: var(--navyColor);
        border: 1px solid var(--blue3);
        border-radius: 0;
    }

    #portal-v2-containter .form fieldset.custom-toggle .toggle-content {
        padding: 0.75rem 1rem;
        background-color: var(--white);
        color: var(--navyColor);
        border: 1px solid var(--blue3);
        border-top: 0;
    }

    #portal-v2-containter .form fieldset.custom-toggle:not(.collapsed) .wraper-btns {
        display: flex;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupTLDSAddEditBand"] {
        padding: 0;
        border: 0;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupTLDSAddEditBand"] #PopupTLDSAddEditBand {
        padding: 0;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupTLDSAddEditBand"] .ui-dialog-titlebar {
        padding: 0;
        top: 0;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupTLDSAddEditBand"] .ui-dialog-title,
    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupTLDSAddEditBand"] .ui-icon-closethick {
        display: none;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupTLDSAddEditBand"] .ui-dialog-titlebar-close {
        top: 38px;
        height: 14px;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-PopupTLDSAddEditBand"] .ui-dialog-titlebar-close.ui-state-hover {
        border: 0;
    }

    #portal-v2-containter .block-footer {
        display: none;
    }

    #btnShowAssociatedStudent:hover {
        color: unset
    }

    #portal-v2-containter .last-child table .icon-tlds-link.is-grey {
        background: url(/Content/themes/Constellation/images/icons/icon-link-grey.svg) no-repeat;
        background-size: 16px 16px;
    }

    .filter-link-students:not(.collapsed) .icon-arrow {
        transform: rotate(180deg);
    }
</style>

<section class="m-0">
    <div id="selectFilters">
        <div id="divFilterStudents" class="block-content form p-4">
            <div class="block-heading">
                <h1 class="block-heading-item is-active p-0 mb-4">
                    Link Students
                </h1>
            </div>
            <div class="mb-4">
                <fieldset class="coolfieldset p-0">
                    @* <legend class="js-collaped">Submitted Student</legend>*@
                    <div class="d-flex">
                        <div class="me-4">
                            <b class="me-1">Submitted Student:</b>
                            <span>@Model.SubmittedStudentName</span>
                        </div>
                        <div class="me-4">
                            <b class="me-1">Date of birth:</b>
                            <span>@Model.DOBString</span>
                        </div>
                        <div>
                            <b class="me-1">Gender:</b>
                            <span>@Model.Gender</span>
                        </div>
                    </div>
                </fieldset>
            </div>

            <fieldset class="coolfieldset collapsed m-0 custom-toggle mb-4 filter-link-students">
                <legend class="js-collaped d-flex justify-content-between">
                    <span>Filter</span>
                    <i class="fa-solid fa-chevron-down icon-arrow"></i>
                </legend>
                <div class="toggle-content">
                    <div class="row g-3 mb-4">
                        @if (Model.IsPublisherOrNetworkAdmin)
                        {
                            <div class="col-6">
                                <label>State</label>
                                <div class="block-text-name w-100">
                                    <select id="selectState" class="w-100"></select>
                                    <div class="box-select">
                                        <span class="overlay"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label>@LabelHelper.DistrictLabel</label>
                                <div class="block-text-name w-100">
                                    <select id="selectDistrict" class="w-100"></select>
                                    <div class="box-select">
                                        <span class="overlay"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-6">
                            <label>School</label>
                            <div class="block-text-name w-100">
                                <select id="selectSchool" class="w-100"></select>
                                <div class="box-select">
                                    <span class="overlay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>@LabelHelper.Term</label>
                            <div class="block-text-name w-100">
                                <select id="selectTerm" class="w-100"></select>
                                <div class="box-select">
                                    <span class="overlay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Teacher</label>
                            <div class="block-text-name w-100">
                                <select id="selectTeacherPopup" class="w-100"></select>
                                <div class="box-select">
                                    <span class="overlay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Class</label>
                            <div class="block-text-name w-100">
                                <select id="selectClass" class="w-100"></select>
                                <div class="box-select">
                                    <span class="overlay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>First Name</label>
                            <input type="text" id="selectFirstName" class="w-100" />
                        </div>
                        <div class="col-6">
                            <label>Last Name</label>
                            <input type="text" id="selectLastName" class="w-100" />
                        </div>
                        <div class="col-6">
                            <label>Student Identifier</label>
                            <input type="text" id="selectLocalId" class="w-100" />
                        </div>
                        <div class="col-6">
                            <label>@LabelHelper.StudentGrade</label>
                            <div class="block-text-name w-100">
                                <select id="selectGrade" class="w-100"></select>
                                <div class="box-select">
                                    <span class="overlay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Gender</label>
                            <div class="block-text-name w-100">
                                <select id="selectGender" class="w-100">
                                    <option value="">Select Gender</option>
                                    <option value="25">Male</option>
                                    <option value="24">Female</option>
                                </select>
                                <div class="box-select">
                                    <span class="overlay"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wraper-btns justify-content-end">
                        <button id="clearFilter" class="btn-blue d-block me-3" type="button">Clear Filter</button>
                        <button id="filterSheets" class="btn-red d-block" type="button">Apply Filters</button>
                    </div>
                </div>

            </fieldset>

            <div class="form">
                <div class="block-heading">
                    <a href="javascript:void(0)" id="btnShowAssociatedStudent" class="block-heading-item text-decoration-none d-flex align-items-center form-switch p-0" style="visibility: hidden">
                        Show Linked Students:
                        <span id="showAssociatedStudentText" class="ms-1 me-3">Off</span>
    
                        <input id="inActiveLinkedStudentBtn" class="form-check-input" type="checkbox">
               
                    </a>
                </div>
                <div id="divNotifications"></div>

                <div class="last-child">
                    <table id="AddStudentDataTable" class="datatable table" width="100%">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Last Name</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Student Identifier</th>
                                <th scope="col">School</th>
                                <th scope="col">@LabelHelper.GradeLabel</th>
                                <th scope="col">Gender</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="height: 60px;"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="modal-component-footer">
            <div slot="footer">
                <button id="btnCloseAddStudentDataTable" type="button" onclick="CloseAddStudentToTLDS();">Close</button>
            </div>
        </div>
    </div>
    <div id="dialogManualGrading"></div>
</section>


<script>

    $(function () {
        InitData();
    });

    function InitData() {
        if ('@Model.IsPublisherOrNetworkAdmin' == 'True') {
            populateStatesOnPopup();
        } else {
            populateSchools();
            populateGrades();
            populateRaces();

            InitSchool();
        }

        $('#selectState').change(function () {
            $('#selectDistrict').empty();
            $('#selectSchool').empty();
            $('#selectTeacherPopup').empty();
            $('#selectTerm').empty();
            $('#selectClass').empty();
            if ($(this).val() != 'select') {
                populateDistrictsOnPopup();
            }
            else {
                $('#selectDistrictOnPopup').empty();
            }
        });
        $('#selectDistrict').change(function () {
            $('#selectSchool').empty();
            $('#selectTeacherPopup').empty();
            $('#selectTerm').empty();
            $('#selectClass').empty();
            if ($(this).val() != 'select') {
                populateSchools();
                populateGrades();
                populateRaces();
                populateSchoolsByDistrict();
            }
            else {
                $('#selectSchoolOnPopup').empty();
            }
        });

        $('#filterSheets').click(function () {
            ReloadStudentDataTable();
        });

        InitLoadStudent();
    }

    function populateStatesOnPopup() {
        var stateSelect = $('#selectState');
        stateSelect.empty();
        if ('@Model.IsPublisher' == 'True') {
            $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (response) {
                addDefaultOption(stateSelect, "State");
                addSelectListItems(stateSelect, response);
            });
        }
        if ('@Model.IsNetworkAdmin' == 'True') {
            $.get('@Url.Action("GetStatesForNetworkAdmin", "PopulateStateDistrict")', function (response) {
                addDefaultOption(stateSelect, "State");
                addSelectListItems(stateSelect, response);
            });
        }
    }

    function populateDistrictsOnPopup() {
        var districtSelect = $('#selectDistrict');
        districtSelect.empty();

        var selectedStateId = $('#selectState').val();
        if ('@Model.IsPublisher' == 'True') {
            $.get('@Url.Action("GetDistricts","PopulateStateDistrict")', { stateId: selectedStateId }, function (response) {
                addDefaultOptionDefaultValue(districtSelect, "@LabelHelper.DistrictLabel", "");
                addSelectListItems(districtSelect, response);
            });
        }
        if ('@Model.IsNetworkAdmin' == 'True') {
            $.get('@Url.Action("GetDistrictsForNetworkAdmin","PopulateStateDistrict")', { stateId: selectedStateId }, function (response) {
                addDefaultOptionDefaultValue(districtSelect, "@LabelHelper.DistrictLabel", "");
                addSelectListItems(districtSelect, response);
            });
        }

    }

    function populateSchools() {
        $('#selectAdminSchool').empty();
        if ($('#selectDistrict').length) {
            var districtValue = $('#selectDistrict').val();
            if (districtValue != 'select') {
                $.get('@Url.Action("GetAdminSchoolsByDistrict", "StudentLookup")', { districtId: districtValue }, function (schools) {
                    addDefaultOptionDefaultValue($('#selectAdminSchool'), "Admin School", "");
                    addSelectListItems($('#selectAdminSchool'), schools);
                });
            }
        } else {
            $.get('@Url.Action("GetAdminSchoolsByDistrict", "StudentLookup")', function (schools) {
                addDefaultOptionDefaultValue($('#selectAdminSchool'), "Admin School", "");
                addSelectListItems($('#selectAdminSchool'), schools);
            });
        }
    }

    function populateGrades() {
        $('#selectGrade').empty();
        var districtId = "-1";
        if ($('#selectDistrict').length) {
            var districtValue = $('#selectDistrict').val();
            if (districtValue != 'select') {
                districtId = districtValue;
            }
        }

        $.get('@Url.Action("GetGradesToFilter", "TLDSManage")', { districtId: districtId }, function (grades) {
            addDefaultOptionDefaultValue($('#selectGrade'), "@LabelHelper.GradeLabel", "");
            addSelectListItems($('#selectGrade'), grades);
            $('#selectGrade').val(-1);
        });
    }

    function populateRaces() {
        $('#selectRace').empty();
        if ($('#selectDistrict').length) {
            var districtValue = $('#selectDistrict').val();
            if (districtValue != 'select') {
                $.get('@Url.Action("GetRacesByDistrict", "StudentLookup")', { districtId: districtValue }, function (races) {
                    addDefaultOptionDefaultValue($('#selectRace'), "@LabelHelper.StudentRace", "");
                    addSelectListItems($('#selectRace'), races);
                });
            }
        } else {
            $.get('@Url.Action("GetRacesByDistrict", "StudentLookup")', function (races) {
                addDefaultOptionDefaultValue($('#selectRace'), "@LabelHelper.StudentRace", "");
                addSelectListItems($('#selectRace'), races);
            });
        }
    }

    function InitLoadStudent() {
        var options = {
            bServerSide: true,
            sServerMethod: "GET",
            bDestroy: true,
            bProcessing: false,
            oLanguage: { sSearch: "" },
            sAjaxSource: '@Url.Action("SearchStudentToAssociate", "TLDSManage")',
            fnServerParams: function (aoData) {
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }
                aoData.push(
                    { name: "districtId", value: $('#selectDistrict').val() },
                    { name: "LastName", value: $('#selectLastName').val() },
                    { name: "FirstName", value: $('#selectFirstName').val() },
                    //{ name: "Code", value: $('#selectLocalId').val() },
                    { name: "StateCode", value: $('#selectLocalId').val() },//Now selectLocalId is used to filter State code
                    { name: "SchoolId", value: $('#selectAdminSchool').val() },
                    { name: "GradeId", value: $('#selectGrade').val() },
                    { name: "RaceName", value: $('#selectRace').val() == null ? '' : $('#selectRace').val() },
                    { name: "GenderId", value: $('#selectGender').val() },
                    { name: "TLDSProfileID", value: '@Model.ProfileId' },
                    { name: "ClassId", value: $('#selectClass').val() },
                    { name: "showAssociatedStudent", value: $("#showAssociatedStudentText").html() }

                );
            },
            iDisplayLength: 10,
            aoColumns: [
                { sType: 'int', sName: 'StudentId', bSearchable: false, bSortable: false, sWidth: '25px' },
                { sType: 'string', sName: 'LastName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'FirstName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'Code', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'SchoolName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'GradeName', bSearchable: true, bSortable: true, sWidth: '56px' },
                { sType: 'string', sName: 'GenderCode', bSearchable: true, bSortable: true, sWidth: '64px' },
                { sType: 'string', sName: 'ProfileID', bSearchable: false, bSortable: false,bVisible:false }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconAssociateStudent(aData[0], @Model.ProfileId,aData[7]));

                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#selectFilters'), 'Loading');
                return true;
            },
            fnDrawCallback: function () {
                $('#selectFilters').unblock();
                $('.with-tip').tip();
            },
            fnInitComplete: function () {
                //$('.block-footer').append('<button id="btnCloseAddStudentDataTable" type="button" style="float: left;" onclick="CloseAddStudentToTLDS();">Close</button>');
                var elSearchLabel = $('#AddStudentDataTable_filter');
                var elSearchInput = elSearchLabel.find('input');
                elSearchInput.attr('style', 'padding-left: 32px !important; position: relative;');
                $('#AddStudentDataTable_filter').addClass('data-search');

                var elDeactivate = $('#btnShowAssociatedStudent');
                elDeactivate.css({ position: 'absolute', marginTop: '10px', visibility: 'visible' });
                $('#AddStudentDataTable_wrapper .block-custom-header').prepend(elDeactivate);
            }
        };

        $('#AddStudentDataTable').data("options", options);
        initializeDataTable($("#AddStudentDataTable"));
    }

    function ReloadStudentDataTable() {
        var dataTable = $('#AddStudentDataTable').dataTable();
        dataTable.fnDraw();
    }

    function setIconAssociateStudent(studentId, profileId,associatedProfileId) {
        if (associatedProfileId == null || associatedProfileId == 0) {
            return '<a href="javascript:void(0)" title="Link Student" studentId="' + studentId + '" profileId="' + profileId + '" class="with-tip associateStudent"><i class="custom-icon fa-solid fa-link icon-grey"></i></a>';
        } else {
            return '<a href="javascript:void(0)" title="This student is already associated with a TLDS form" studentId="' + studentId + '" associatedProfileId="' + associatedProfileId + '" class="with-tip"><i class="custom-icon fa-solid fa-link-slash icon-grey"></i></a>';
        }
    }

    function CloseAddStudentToTLDS() {
        $("#PopupTLDSAddEditBand").dialog("close");
    };

    //------------------------------------------------------------
    function InitSchool() {
        $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', function (schools) {
            fillDataSchools(schools);
        });
    }

    function fillDataSchools(schools) {
        addDefaultOption($('#selectSchool'), "School");
        addSelectListItems($('#selectSchool'), schools);
        $('#selectSchool').val(-1);
    }

    $('#selectSchool').change(function () {
        $('#selectTeacherPopup').empty();
        $('#selectTerm').empty();
        $('#selectClass').empty();
        if ($('#selectSchool').val() !== 'select') {
            populateTeachers();
        }
    });

    function populateTeachers() {
        $('#selectTeacherPopup').empty();
        var schoolValue = $('#selectSchool').val();
        if (schoolValue !== 'select') {
            $.get('@Url.Action("GetTeachers", "PopulateSchoolTeacher")', { schoolId: schoolValue, hasTermOnly: 'True' }, function (teachers) {
                addDefaultOption($('#selectTeacherPopup'), "Teacher");
                addSelectListWithDefaultValue($('#selectTeacherPopup'), teachers, 'select', function (item) {
                    return (item.FirstName) ? item.LastName + ", " + item.FirstName + " (" + item.Name + ")" : item.LastName + " (" + item.Name + ")";
                });
            });
        }
    }

    $('#selectTeacherPopup').change(function () {
        $('#selectTerm').empty();
        $('#selectClass').empty();
        populateTermsByTeacherAndSchool();
    });

    function populateTermsByTeacherAndSchool() {
        $('#selectTerm').empty();
        var teacherValue = $('#selectTeacherPopup').val();
        var schoolValue = $('#selectSchool').val();
        if (teacherValue !== 'select') {
            $.get('@Url.Action("GetTerms", "PopulateStudent")', { userId: teacherValue, schoolId: schoolValue }, function (terms) {
                addDefaultOption($('#selectTerm'), "@LabelHelper.Term");
                addSelectListItems($('#selectTerm'), terms);
            });
        }
    }

    function fillDataTerms(terms) {
        addDefaultOption($('#selectTerm'), "@LabelHelper.Term");
        addSelectListItems($('#selectTerm'), terms);
    }

    $('#selectTerm').change(function () {
        populateClasses();
    });

    function populateClasses() {
        $('#selectClass').empty();
        //$('#studentsList').html($('#studentsTemplate').html());
        var termValue = $('#selectTerm').val();
        var teacherValue = $('#selectTeacherPopup').val();
        var schoolValue = $('#selectSchool').val();
        if (termValue !== 'select' && teacherValue !== 'select') {
            $.get('@Url.Action("GetClasses", "PopulateStudent")', { termId: termValue, userId: teacherValue, schoolId: schoolValue }, function (classes) {
                addDefaultOption($('#selectClass'), "Class");
                addSelectListItems($('#selectClass'), classes);
            });
        }
    }

    $('#selectClass').change(function () {
        var $btnFilter = $('#filterSheets');
        var classValue = $('#selectTeacherPopup').val();
        //if (classValue !== 'select') {
        //    $btnFilter.prop('disabled', false);
        //} else {
        //    $btnFilter.prop('disabled', true);
        //}
    });

    function populateSchoolsByDistrict() {
        $('#selectSchool').empty();
        $('#selectTeacherPopup').empty();
        $('#selectTerm').empty();
        $('#selectClass').empty();
        var districtValue = $('#selectDistrict').val();
        if (districtValue == null || districtValue === 'select' || districtValue <= 0) {
            return;
        }
        if (districtValue != 'select') {
            $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtValue }, function (schools) {
                fillDataSchools(schools);
            });
        }
    }

    //------------------------------------------------------------
    $(".associateStudent").die("click");
    $('.associateStudent').live('click', function () {
            var profileId = @Model.ProfileId;
            var studentId = $(this).attr('studentId');
            $(this).hide();
            ShowBlock($('#AddStudentDataTable'), 'Loading');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AssociateStudentToProfile", "TLDSManage")',
                data: { 'ProfileId': '@Model.ProfileId', 'StudentID': studentId },
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    $('#AddStudentDataTable').unblock();
                    if (data.Success) {
                        ReloadStudentDataTable();
                    } else {
                        alert(data.error);
                    }
                },
                error: function () {
                    $('#AddStudentDataTable').unblock();
                }
            });


    });
    $('#btnShowAssociatedStudent').click(function () {
        var text = $("#showAssociatedStudentText").html();
        if (text.toLowerCase() == 'off') {
            text = 'On';
            $("#inActiveLinkedStudentBtn").addClass('input-checked-v2');
        } else {
            text = 'Off';
            $("#inActiveLinkedStudentBtn").removeClass('input-checked-v2');
        }
        $("#showAssociatedStudentText").html(text);
        //Reload data
        ReloadStudentDataTable();
    });

    // Collapsed the filter students
    $('.js-collaped').on('click', function () {
      var $self = $(this);

      if ($self.parent().hasClass('collapsed')) {
        $self.parent().removeClass('collapsed');
        $('#selectState').marquee();
        $('#selectDistrict').marquee();
        $('#selectSchool').marquee();
        $('#selectTerm').marquee();
        $('#selectTeacherPopup').marquee(); 
        $('#selectClass').marquee();
        $('#selectGrade').marquee();
        $('#selectGender').marquee();
      } else {
        $self.parent().addClass('collapsed');
      }
    })

    // Clear Filter
    $('#clearFilter').click(function () {
        if('@Model.IsPublisherOrNetworkAdmin' === "True") {
            $("#selectSchool").empty();
        } else {
            $("#selectSchool").val("select");
        }
        $("#selectState").val("select");
        $("#selectDistrict").empty();
        $("#selectTerm").empty();
        $("#selectFirstName").val('');
        $("#selectLastName").val('');
        $("#selectLocalId").val('');
        $("#selectTeacherPopup").empty();
        $("#selectClass").empty();
        $("#selectGrade").empty();
        $("#selectGender").empty();
    });
</script>
