@using LinkIt.BubbleSheetPortal.Models.Enum
@using LinkIt.BubbleSheetPortal.Web.Helpers
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel

<link href="@BundleHelper.Version("~/Content/css/v2/sgo-navigations.css")" rel="stylesheet" />

<section class="grid_12 mb-4">
    <div class="block-border form">
        <div class="block-content form">
            <ul class="sgo-nav p-0 m-0">
                <li class="sgo-nav-item">
                    <a id="idSgoNavigationStep1" class="sgo-nav-link" href="@Url.Action("Index", "TLDSManage")">
                        <div class="me-2">
                            <input type="checkbox" class="sgo-checkbox" readonly checked="checked" disabled />
                        </div>
                        <span>
                            TLDS Home
                        </span>
                    </a>
                </li>
                <li class="sgo-nav-item">
                    <a id="idSgoNavigationStep2" class="sgo-nav-link" href="@Url.Action("Edit", "TLDSManage")/?profileId=@Model.ProfileId">
                        <div class="me-2">
                            <input type="checkbox" class="sgo-checkbox" readonly disabled checked="@(Model.ProfileId > 0 ? true : false)" />
                        </div>
                        <span>
                            TLDS Information
                        </span>
                    </a>
                </li>
                <li class="sgo-nav-item">
                    <a id="idSgoNavigationStep3" class="sgo-nav-link @if (Model.Status < (int)TLDSProfileStatusEnum.Draft) { <text>disabled</text>}" href="@Url.Action("ContextSpecificInfor","TLDSManage")/?profileId=@Model.ProfileId">
                        <div class="me-2">
                            <input type="checkbox" class="sgo-checkbox" readonly disabled checked="@(Model.Status < (int)TLDSProfileStatusEnum.Draft ? false : true)" />
                        </div>
                        <span>
                            Section 1
                        </span>
                    </a>
                </li>
                <li class="sgo-nav-item">
                    <a id="idSgoNavigationStep4" class="sgo-nav-link @if (!Model.Step4IsEnable) { <text>disabled</text>}" href="@Url.Action("DevelopmentOutcome","TLDSManage")/?profileId=@Model.ProfileId">
                        <div class="me-2">
                            <input type="checkbox" class="sgo-checkbox" readonly disabled @(Model.ContextSpecificInforHasBeenSaved ? "checked=\"checked\"" : "") />
                        </div>
                        <span>
                            Section 1.1
                        </span>
                    </a>
                </li>
                <li class="sgo-nav-item">
                    <a id="idSgoNavigationStep5" class="sgo-nav-link @if (!Model.Step5IsEnable) { <text>disabled</text>}" href="@Url.Action("EnhancedTransitions","TLDSManage")/?profileId=@Model.ProfileId">
                        <div class="me-2">
                            <input type="checkbox" class="sgo-checkbox" readonly disabled checked="@(!Model.Step5IsEnable ? false : true)" />
                        </div>
                        <span>
                            Section 1.2
                        </span>
                    </a>
                </li>
                <li class="sgo-nav-item">
                    <a id="idSgoNavigationStep6" class="sgo-nav-link @if (!Model.Step6IsEnable) { <text>disabled</text>}" href="@Url.Action("ChildFamily","TLDSManage")/?profileId=@Model.ProfileId">
                        <div class="me-2">
                            <input type="checkbox" class="sgo-checkbox" readonly disabled checked="@(!Model.Step6IsEnable ? false : true)" />
                        </div>
                        <span>
                            Sections 2 &amp; 3
                        </span>
                    </a>
                </li>
                <li class="sgo-nav-item last">
                    <a id="idSgoNavigationStep7" class="sgo-nav-link @if (!Model.Step7IsEnable) { <text>disabled</text>}" href="@Url.Action("UpcomingSchoolSubmit","TLDSManage")/?profileId=@Model.ProfileId">
                        <div class="me-2">
                            <input type="checkbox" class="sgo-checkbox" readonly disabled checked="@(!Model.Step7IsEnable ? false : true)" />
                        </div>
                        <span>
                            Submission
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('.sgo-checkbox[type="checkbox"][readonly]').click(function () {
            return false;
        });
    });

    function tldsDisableInputControls() {
        $('input').prop('disabled', true).addClass('is-disabled');
        $('select').prop('disabled', true).addClass('is-disabled');
        $('textarea').prop('disabled', true).addClass('is-disabled');
        $('#btnDownloadPDFForm').prop('disabled', true).addClass('is-disabled');
        $('#btnCreateNewLink').prop('disabled', true).addClass('is-disabled');
    }
    $(document).ready(function () {
        var navElements = $(".sgo-nav-item .sgo-nav-link");
        _.forEach(navElements, function (value, index) {
            var pathname = window.location.pathname;
            var currentUrl = $(value).attr('href');
            var isMatched = currentUrl.includes(pathname);

            if (isMatched) {
                $(value).parent().addClass('active');
                $(value).addClass('active');
                $(`#idSgoNavigationStep${index}`).addClass('prevActive');
                var currentIndex = index;

                for (let i = 1; i <= currentIndex; i++) {
                    $(`#idSgoNavigationStep${i} input[type="checkbox"]`).prop('checked', true);
                }
            }
        });
    });
</script>
