@using LinkIt.BubbleSheetPortal.Models.Enum
@model LinkIt.BubbleSheetPortal.Models.Enum.AccessRightEnum
@{
    ViewBag.Title = "TLDS Manager";
}

<style>
    #dataTable_wrapper .block-footer {
        display: none;
    }

    .title-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .link-container {
        display: flex;
        gap: 24px;
    }

    #idTopNavigation .blockMsg {
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        width: auto !important;
        margin-left: -60px !important;
        transform: translateY(-50%);
    }

</style>
<article class="container_12" id="idTopNavigation">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form" id="divOnTop">
                <div class="title-heading mb-4">
                    <h1>TLDS Home</h1>
                    @if (Model == AccessRightEnum.Create)
                    {
                        <div class="link-container">
                            <a href="@Url.Action("Edit", "TLDSManage")" class="CreateNewSGO btn btn-link pe-0">
                                Add new TLDS
                                <i class="fa-solid fa-plus ms-2"></i>
                            </a>
                            <a href="@Url.Action("Configuration","TLDSManage")" class="CreateNewSGO btn btn-link pe-0">
                                Service Details
                                <i class="fa-solid fa-thumbtack ms-2"></i>
                            </a>
                        </div>
                    }
                </div>
                
                <ul id="tlds-manage-success-message" class="message success u-m-t-20" style="display: none">
                    <li></li>
                </ul>
                <ul id="tlds-manage-success-error-message" class="message error u-m-t-20" style="display: none">
                    <li> </li>
                </ul>

                <div class="no-margin last-child">
                    <table id="dataTable" class="datatable table no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Last Name</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Teacher Profile</th>
                                <th scope="col">Status</th>
                                <th scope="col">Last Modified</th>
                                <th scope="col">School</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>


<script type="text/javascript">
    var oTable;
    $(function () {
        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: getAjaxSourceTLDSProfileOther(),
            fnServerParams: function (aoData) {
                aoData.push(
                    //{ name: "districtId", value: GetDistrictId() }
                );
            },
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength: 25,
            aaSorting: [[5, 'desc']],
            aoColumns: [
                { sType: 'integer', sName: 'ProfileId', bSearchable: false, bSortable: false, sWidth: '40px' },
                { sType: 'string', sName: 'LastName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'FirstName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'ECSCompletingFormEducatorName', bSearchable: false, bSortable: true },
                { sType: 'int', sName: 'Status', bSearchable: false, bSortable: true },
                { sType: 'string', sName: 'LastStatusDate', bSearchable: false, bSortable: true },
                { sType: 'string', sName: 'School', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'Viewable', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'Updateable', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'StatusName', bSearchable: false, bVisible: false },
                { sType: 'string', sName: 'OnlyView', bSearchable: false, bVisible: false },
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData[0], aData[7], aData[8], aData[4], aData[1], aData[2]));
                $('td:eq(4)', nRow).html(getStatusName(aData[4]));
                $('td:eq(5)', nRow).html(displayDateWithFormat(aData[5], true));
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTable'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTable').unblock();
                $('.with-tip').tip();

                var dataTable = $('#dataTable').dataTable();
                dataTable.fnSetFilteringDelay(500);
            },
            fnInitComplete: function () {
                var elSearchLabel = $('#dataTable_filter label');
                var elSearchInput = elSearchLabel.find('input');

                elSearchInput.css({ paddingLeft: '35px', position: 'relative' });
                elSearchInput.get(0).style.setProperty('padding-left', '32px', 'important');

                elSearchLabel.replaceWith(elSearchInput);
                $('#dataTable_filter').addClass('data-search');
            }
        };

        $("#dataTable").data("options", options);

        function setIconVisibility(profileId,viewable,updateable,statusId,lastName,firstName) {

            if (lastName == null) {
                lastName = '';
            }
            if (firstName == null) {
                firstName = '';
            }
            var str = '';

            var printNew = '<a href="javascript:void(0)" title="Print PDF" class="with-tip Icon icon-sgo-main disabled"><i class="custom-icon fa-solid fa-print icon-grey"></i></a>';
            if (updateable == 'True') {
                var editString = '<a href="@Url.Action("Edit","TLDSManage")/?profileId=' + profileId + '" title="Edit" profileId="' + profileId + '" class="with-tip EditTDLS sgo-icon-action Icon"><i class="custom-icon fa-solid fa fa-pencil-square icon-grey"></i></a>';
                if (statusId != 30 && statusId != 40) {
                    var deleteIconString = '<a href="javascript:void(0)" lastName="' + lastName + '" firstName="' + firstName + '" title="Delete Profile" profileId="' + profileId + '" class="with-tip DeleteTLDS Icon"><i class="custom-icon fa-solid fa-circle-xmark icon-red"></i></a>';

                    str = '<div>' + editString + '</div><div>' + deleteIconString + '</div> <div style="float:left;width:40%" onclick="tldsPrintConfirm(' + profileId + ')">' + printNew + '</div>';
                    return '<div style="display: flex; align-items: center;">' + str + '</div>';
                } else {

                    var deleteIconString = '<a href="javascript:void(0)" lastName="' + lastName + '" firstName="' + firstName + '"  profileId="' + profileId + '" class="with-tip Icon" title="CANNOT DELETE SUBMITTED PROFILE"><i class="custom-icon fa-solid fa-circle-xmark icon-red"></i></a>';

                    str = '<div>' + editString + '</div><div>' + deleteIconString + '</div> <div style="float:left;width:40%" onclick="tldsPrintConfirm(' + profileId + ')">' + printNew + '</div>';
                    return '<div style="display: flex; align-items: center;">' + str + '</div>';
                }

            } else {
                if (viewable == 'True') {
                    var viewDetailIcon = '@Url.Content("~/Content/images/icons/text_snippet.svg")';
                    var viewDetailString = '<a href="@Url.Action("Edit","TLDSManage")/?profileId=' + profileId + '" title="View" profileId="' + profileId + '" class="with-tip ViewTDLS Icon icon-sgo-main"><img src="' + viewDetailIcon + '" width="16" height="16" style="margin-top: 4px; vertical-align: unset !important"></a>';
                    str = '<div>' + viewDetailString + '</div> <div  onclick="tldsPrintConfirm(' + profileId + ')">' + printNew + '</div>';
                    return '<div style="display: flex; align-items: center;">' + str + '</div>';
                }
            }



        }
        function getStatusName(statusId) {
            switch (statusId) {
                case 10: return "Draft";
                case 20: return "Completed but not submitted";
                case 30: return "Completed and submitted";
                case 40: return "Linked with Student";
                case 50: return "Returned By School";
                default: return "";
            }
        }

    });

    function getAjaxSourceTLDSProfileOther() {
        var url = '@Url.Action("GetTDLSProfile")';
        if ($('#selectTeacher').length > 0) {
            var selectedTeacherId = $('#selectTeacher').val();
            if (selectedTeacherId != 'select') {
                url = url + '?CreatedUserId=' + selectedTeacherId;
            }
        }
        return url;

    }

    function tldsPrintConfirm(profileId) {

        var url = '@Url.Action("LoadPrintConfirm", "TLDSManage")?profileId=' + profileId;
        $.ajax({ url: url, cache: false })
            .done(function (html) {
                $("#divOnTop").append('<div id="idPopupTLDSPrintConfirm" class="dialog"></div>');
                $("#idPopupTLDSPrintConfirm").append(html);
                $('#idPopupTLDSPrintConfirm').dialog({
                    title: "",
                    open: function () {
                        $(this).parents('.ui-dialog').find('.ui-dialog-titlebar-close').remove();
                        //Create overlay for popup
                        $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                    },
                    beforeclose: function () {
                        return true;
                    },
                    close: function () {
                        $('#idPopupTLDSPrintConfirm').remove();
                        $("body .my-overlay").remove();
                    },
                    modal: false,
                    width: 360,
                    resizable: false
                });
            });
    }
    function closeTLDSPrintPopup() {
        $("#idPopupTLDSPrintConfirm").dialog("close");
        $('#idTopNavigation').unblock();
    }
    function populateTeacherSubmittedFilter() {
        $('#selectTeacher').empty();
        $.get('@Url.Action("GetTeachersSubmitted", "TLDSManage")', function (teachers) {
            addDefaultOption($('#selectTeacher'), "Teacher");
            addSelectListItemsWithSelectedValue($('#selectTeacher'), teachers);
        });
    }
    $('#btnFilterSubmit').click(function () {
        var dataTable = $('#dataTable').dataTable();
        dataTable.fnSettings().sAjaxSource = getAjaxSourceTLDSProfileOther();
        dataTable.fnDraw();
    });
    function printreportTLDS(profileId) {
        ShowBlock($('#idTopNavigation'), "Generating PDF");
        $('#idPopupTLDSPrintConfirm').parent().hide();
        //var reportFileName = "SGO_" + sgoName + '_' + userId + '_' + (new Date()).getTime() + "_.pdf";
        var reportFileName = "demo_blank.pdf";
        var data = {
            profileId: profileId,
            ReportFileName: reportFileName,
            TimezoneOffset: new Date().getTimezoneOffset()
        };
        $.ajax({
            url: '@Url.Action("Generate", "TLDSReport")',
            traditional: true,
            type: 'POST',
            data: data,
            success: function (response) {
                getTLDSReportS3File(response.fileName,profileId);
            },
            failure: function (response) {
                CustomAlert(response);
            },
            timeout: 300000
        });

    }
    function getTLDSReportS3File(checkUrl,profileId) {

        $.ajax({
            url: '@Url.Action("GetTLDSReportS3File", "TLDSReport")',
            type: 'POST',
            data: { fileName: checkUrl, profileId:profileId },
            success: function (response) {
                if (response.Result != true) {
                    setTimeout(function () {
                        getTLDSReportS3File(checkUrl, profileId);//try again
                    }, 3000);
                } else {
                    $('#idPopupTLDSPrintConfirm').parent().show();
                    $('#idTopNavigation').unblock();

                    $('#idlinkSGOFilePrint').attr('href', response.Url);
                    $('#idlinkSGOFilePrint').show();
                    $('#idTopNavigation').unblock();
                    $('#idPopupTLDSPrintConfirm').parent().unblock();
                    $('#idbtnSGOSavePDFFile').prop('disabled', true);

                }
            }
        });
    }
    $('.DeleteTLDS').live('click', function () {
        var profileId = $(this).attr('profileId');
        var firstName = $(this).attr('firstName');
        var lastName = $(this).attr('lastName');
        if (firstName == null) {
            firstName = '';
        }
        if (lastName == null) {
            lastName = '';
        }
        var fullName = '';
        if (firstName.length > 0 && lastName.length > 0) {
            fullName = lastName + ', ' + firstName;
        } else {
            fullName = lastName + firstName;
        }
        var message = 'Do you want to delete "' + fullName  + '"';
        CustomConfirm({
            message: message,
            yes: function () {
                $('#tlds-manage-success-error-message').hide();
                $('#tlds-manage-success-success-message').hide();
                //call action to delete
                $(this).hide();
                ShowBlock($('#idTopNavigation'), 'Deleting');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteProfile", "TLDSManage")',
                    data: { 'ProfileId': profileId },
                    dataType: 'json',
                    traditional: true,
                    success: function (data) {

                        if (data.Success) {
                            $('#tlds-manage-success-message').show();

                            $('#tlds-manage-success-message').html('<li>Profile has been deleted successfuly.</li>');
                            setTimeout(function() {
                                $('#tlds-manage-success-message').hide();
                                //reload table
                                var dataTable = $('#dataTable').dataTable();
                                dataTable.fnSettings().sAjaxSource = getAjaxSourceTLDSProfileOther();
                                dataTable.fnDraw();
                                $('#idTopNavigation').unblock();
                            }, 3000);

                        } else {
                            $('#tlds-manage-error-message').show();
                            $('#tlds-manage-error-message').html('<li>' + data.error + '</li>');
                            $('#idTopNavigation').unblock();
                        }
                    },
                    error: function () {
                        $('#TLDSSchoolAdminHome').unblock();
                    }
                });
            },
            no: function () {
            },
        });
    });

</script>
