@model LinkIt.BubbleSheetPortal.Models.TLDS.TLDSUserConfigurations
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.ReportItemTLDSManager, "TLDS Configuration",true);
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}
@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

@*@MvcHtmlString.Create(
    Bundle.Css()
        .Add(@Url.Content("~/Content/css/custom.css"))
        .Add(@Url.Content("~/Content/css/sgohome.css"))
        .Render("/Content/themes/Constellation/css/c_combined_#.css")
     )*@

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleTDLSConfigurationBundle()

<style>
    .form select {
        height: 30px;
    }

    .wtSpreader, .wtHider, .htCore {
        width: 100% !important;
    }

    .wtHider {
        height: auto !important;
    }

    .form {
        padding-bottom: 40px;
    }

    .block-content h1 a {
        display: initial;
        position: unset;
    }

    .ui-widget-header {
        background: none repeat scroll 0 0 transparent !important;
        border: 0 solid var(--grey0) !important;
        position: relative;
        top: 27px;
    }

    .ui-dialog {
        background: none repeat scroll 0 0 transparent;
        border: 0 none;
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        height: 40px;
        width: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        background: none repeat scroll 0 0 transparent !important;
        border: 0 none;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        height: 42px;
        width: 30px;
    }

    .pointer {
        cursor: pointer;
    }

    .sub-list {
        list-style: disc;
        margin-left: 40px;
    }

        .sub-list li {
            margin: 4px;
            line-height: normal;
        }
</style>

<article class="container_12">
    <section class="m-0">
        <div>
            <div class="" id="divOnTop">
                @using (Html.BeginForm("Configuration", "TLDSManage", FormMethod.Post, new { id = "editTDLSConfigurationsForm", @class = "form" }))
                {
                    <div class="block-content form mb-4">
                        <h1>Service Details</h1>
                        @if (ViewBag.HasBeenSavedSuccess != null && (bool)ViewBag.HasBeenSavedSuccess)
                        {
                            <ul id="success-messages" class="message success">
                                <li> Successfully saved</li>
                            </ul>
                        }
                        <ul id="fe-error-messages" class="message error u-m-t-20" style="display:none">
                            <li>Email Address in invalid format</li>
                        </ul>
                        <div>
                            <p class="title-large">Early Childhood Service Details</p>
                            <div class="row g-3">
                                <div class="col-3">
                                    <label>Name of service</label>
                                    <div>
                                        @Html.TextBoxFor(m => m.EarlyChildHoodServiceConfiguration.NameOfService, new { @class = "full-width", @maxlength = "500" })
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label>Address of service</label>
                                    <div>
                                        @Html.TextBoxFor(m => m.EarlyChildHoodServiceConfiguration.AddressOfService, new { @class = "full-width", @maxlength = "200" })
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label>Service approval number</label>
                                    <div>
                                        <input id="EarlyChildHoodServiceConfiguration_ServiceApprovalNumber" maxlength="50" name="EarlyChildHoodServiceConfiguration.ServiceApprovalNumber" type="text" value="@Model.EarlyChildHoodServiceConfiguration.ServiceApprovalNumber" onkeypress="validateTLDSServiceNumber(event)" class="full-width" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label>Phone</label>
                                    <div>
                                        @Html.TextBoxFor(m => m.EarlyChildHoodServiceConfiguration.Phone, new { @class = "full-width", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label>Email</label>
                                    <div>
                                        @Html.TextBoxFor(m => m.EarlyChildHoodServiceConfiguration.Email, new { @class = "full-width", @maxlength = "200" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-content form mt-0 mb-4">
                        @Html.Partial("v2/_ListProfileTeachers")
                    </div>

                    <div class="block-content form mt-0 mb-4">
                        @Html.Partial("v2/_ListGroups")
                    </div>


                    <div class="block-content form mt-0">
                        <div>
                            <p class="title-large">Context of early years setting/s</p>
                            <div>
                                <p>
                                    Please provide a brief description of the learning environment.
                                    This should cover:
                                    <ul class="sub-list">
                                        <li>Name and type of each relevant early childhood setting</li>
                                        <li>A description of program delivery (e.g. five-hour sessions, three times a week)</li>
                                        <li>Total number of children in group</li>
                                        <li>Information about staffing changes or the child's participation that may have impacted continuity of learning.</li>
                                    </ul>
                                </p>
                                @Html.TextAreaFor(m => m.ContextSpecificConfiguration.ContextOfEarlyYearsSetting, new { @class = "w-100 first-focus", @rows = "10", @cols = "100" })
                            </div>
                        </div>
                        <div class="alert-warning mt-2">Click <b>Save</b> before you leave this page. If you click <b>Back to TLDS Home</b> your changes will not be saved.</div>
                        <div class="text-end mt-4">
                            <button id="btnTLDSHome" class="btn-blue me-3" type="button">Back to TLDS Home</button>
                            <button id="btnSave" class="btn-red" type="button">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</article>
<script>
    var informationFromSerializeString = '';

    $(function () {
        $('.stats').addClass('current');
        $('#rpTLDSManager').addClass('current');
        $('#EarlyChildHoodServiceConfiguration_QualificationId').val('@Model.EarlyChildHoodServiceConfiguration.QualificationId');

        informationFromSerializeString = getInformationFromSerializeString();

        $('#EarlyChildHoodServiceConfiguration_Email').on("keypress keyup blur", function (event) {
            $("#fe-error-messages").hide();
        });

        $('#EarlyChildHoodServiceConfiguration_Phone').on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
    });


    $('#btnSave').click(function () {
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        const email = $("#EarlyChildHoodServiceConfiguration_Email").val();
        const isValid = regex.test(email.toLowerCase());

        if (email && !isValid) {
            $("#success-messages").hide();
            $("#fe-error-messages").show();
            $("html, body").scrollTop(0);
            return;
        }

        $('#editTDLSConfigurationsForm').submit();
    });

    $('#btnTLDSHome').click(function () {
        if (getInformationFromSerializeString() != informationFromSerializeString) {
            CustomConfirm({
                message: 'Changes have been made. Are you sure you would like to leave without saving?',
                yes: function () {
                    var url = '@Url.Action("Index", "TLDSManage")';
                    window.location.href = url;
                },
                no: function () {
                },
                open: function () {
                },
                close: function () {
                },
            });
        } else {
            var url = '@Url.Action("Index", "TLDSManage")';
            window.location.href = url;
        }
    });

    function validateTLDSServiceNumber(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /^[a-zA-Z0-9-_]+$/;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    function getInformationFromSerializeString() {
        return $("#editTDLSConfigurationsForm").find("textarea, input").serialize();
    }

    function searchDelay(inputFilter, dataTable) {
        var delay = null;

        inputFilter.off('keyup.DT input.DT');

        inputFilter.on("keyup", function () {
            var search = inputFilter.val();
            clearTimeout(delay);
            delay = setTimeout(function () {
                if (search != null) {
                    dataTable.dataTable().fnFilter(search);
                }
            }, 1000);
        });
    }

</script>
