@using LinkIt.BubbleSheetPortal.Common
@using LinkIt.BubbleSheetPortal.Models.Enum
@using LinkIt.BubbleSheetPortal.Web.Helpers
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel
@using LinkIt.BubbleSheetPortal.Models

@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.ReportItemTLDSManager, "TLDS Edit",true);
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleTDLSEditBundleV2()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptTDLSEditBundle()
<link href="@Url.Content("~/Content/css/select2.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/Lib/handsontable/pro/handsontable.full.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/Lib/handsontable/pro/handsontable.full.min.css")" rel="stylesheet" type="text/css">
<script src="@Url.Content("~/Scripts/ckUpDownNumber.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")" type="text/javascript"></script>*@
<script src=@Url.Content("~/Scripts/select2.full.min.js")></script>

<style>

    :root {
        --inputHeight: 42px;
    }

    .wtSpreader, .wtHider, .htCore {
        width: 100% !important;
    }

    .wtHider {
        height: auto !important;
    }

        .wtHider th {
            height: 50px;
        }

    #portal-v2-containter table thead th {
        border-bottom: 0 none;
    }

    #portal-v2-containter table tbody td {
        border-bottom: 0 none;
    }

        #portal-v2-containter table thead th:not(:first-child),
        #portal-v2-containter table tbody td:not(:first-child) {
            border-left: 0 none;
        }

    #portal-v2-containter .handsontable table tbody tr:last-child td {
        border-bottom: 1px solid var(--borderColor);
    }

    #selectEnrolmentYear {
        width: 100px;
    }

    .select2 {
        width: 100%;
    }

    select:disabled {
        background-color: var(--disabledColorBg) !important;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 0;
    }

    .select2-selection {
        height: var(--inputHeight) !important;
        border: 2px solid var(--selectBorder) !important;
    }

    .select2-dropdown {
        border-radius: 0;
        border-width: 2px;
    }

    .select2-search--dropdown {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
    }

    .portal-v2-containter .select2-results__option {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
    }

    .rotate-right {
        transform: rotateY(-180deg);
    }

    .pointer {
        cursor: pointer;
    }

    .photo-box {
        width: 400px;
        height: 400px;
        overflow: hidden;
    }

    .ckUpDownNumber-custom .ckUDNumber {
        height: 50%;
        border-radius: 0;
        border: 2px solid var(--selectBorder);
    }

        .ckUpDownNumber-custom .ckUDNumber.ckUpNum {
            border-bottom-width: 1px;
        }

        .ckUpDownNumber-custom .ckUDNumber.ckDownNum {
            border-top-width: 1px;
        }

    .ui-datepicker-days-cell-over {
        background-color: var(--blue2) !important;
        color: var(--white) !important;
    }

        .ui-datepicker-days-cell-over a {
            color: var(--white) !important;
        }

    .ui-datepicker .ui-datepicker-title select {
        border-radius: 0;
    }

    .ui-datepicker .ui-datepicker-month {
        text-align: center;
        margin-right: 2px !important;
        border: 1px solid var(--grey);
    }

    .ui-datepicker .ui-datepicker-year {
        text-align: center;
        border: 1px solid var(--grey);
    }

    .select2-container--default.select2-container--disabled .select2-selection--single {
        background-color: var(--disabledColorBg);
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        background-color: transparent !important;
    }

    select:disabled ~ .box-select,
    select.is-disabled ~ .box-select,
    select:disabled ~ .box-select *,
    select.is-disabled ~ .box-select * {
        background: var(--disabledColorBg) !important;
        color: var(--selectColor) !important;
    }

    select.is-disabled,
    select:disabled {
        color: var(--selectColor) !important;
    }

    .ui-dialog[aria-labelledby^="ui-dialog-title-CustomConfirmDialog_"] {
        width: 460px !important;
    }

    .img-flag {
        width: 12px;
        height: auto;
        position: relative;
        top: -8px;
    }
</style>

<article class="container_12" id="idTopNavigation">
    @Html.Partial("v2/_NavigationTabs", Model)
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form" id="divOnTop">
                <div class="d-flex mb-3">
                    <h3 class="h3 mb-0">
                        @if (Model.ProfileId > 0)
                        {
                            <text>TLDS Edit</text>
                        }
                        else
                        {
                            <text>Create New TLDS</text>
                        }
                    </h3>
                    @if (Model.Section102HasBeenSaved)
                    {
                        <img class="ms-2 img-flag" src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/flag.svg")" width="9" height="12" />
                    }
                </div>
                <ul id="fe-error-messages" class="message error mb-3" style="display:none"></ul>
                @if (Model.ErrorList != null && Model.ErrorList.Count > 0)
                {
                    <ul id="error-messages" class="message error u-m-t-20">
                        @foreach (var error in Model.ErrorList)
                        {
                            <li>@error</li>
                        }
                    </ul>
                }
                else
                {
                    if (Model.SaveSuccessful)
                    {
                        <ul id="success-messages" class="message success mb-3">
                            <li> Successfully saved</li>
                        </ul>
                    }
                }

                @using (Html.BeginForm("Edit", "TLDSManage", FormMethod.Post, new { id = "editTDLSForm", @class = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <h5 class="h5 mb-3">Child's Information</h5>
                        <input id="profileId" name="ProfileId" type="hidden" value="@Model.ProfileId" />
                        <input id="rotatePhoto" name="RotatePhoto" type="hidden" value="@Model.RotatePhoto" />
                        <div class="row g-3">
                            <div class="col-3">
                                <label>
                                    Child's first name <span class="required-field">(*)</span>
                                </label>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "full-width first-focus", @maxlength = "100" })
                            </div>
                            <div class="col-3">
                                <label>
                                    Surname <span class="required-field">(*)</span>
                                </label>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "full-width", @maxlength = "100" })
                            </div>

                            <div class="col-3">
                                <label>
                                    Child's date of birth <span class="required-field">(*)</span>
                                </label>
                                <input id="DateOfBirth" name="DateOfBirth" type="text" value="@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.DisplayDateWithFormat() : "")" class="full-width sgo-datetime" readonly="readonly" />
                                <input type="hidden" value="" id="DateOfBirthString" name="DateOfBirthString" />
                            </div>
                            <div class="col-3">
                                <label>
                                    Gender
                                </label>
                                @Html.DropDownListFor(m => m.GenderId, Model.Genders, "Select Gender", new { id = "selectGender", @class = "full-width" })
                            </div>

                            <div class="col-6">
                                <label>
                                    Primary school where the child is enrolled (if known)
                                </label>
                                @Html.TextBoxFor(m => m.PrimarySchool, new { @class = "full-width", @maxlength = "100" })
                            </div>
                            <div class="col-6">
                                <label>
                                    Outside school hours care service (if known)
                                </label>
                                @Html.TextBoxFor(m => m.OutsideSchoolHoursCareService, new { @class = "full-width", @maxlength = "100" })
                            </div>
                            <div class="col-3">
                                <label>
                                    Expected year of enrolment <span class="required-field">(*)</span>
                                </label>
                                <input id="selectEnrolmentYear" name="EnrolmentYear" type="text" value="@(Model.EnrolmentYear.HasValue ? Model.EnrolmentYear.Value : (@DateTime.Now.Year + 1))" class="full-width sgo-datetime" maxlength="4" />
                            </div>
                            <div class="col-3">
                                <label>
                                    Child's Photo
                                </label>
                                <div class="relative">
                                    @if (Model.AccessRight == AccessRightEnum.Create || Model.AccessRight == AccessRightEnum.Update)
                                    {

                                        <label>
                                            <span id="btnUploadChildPhoto" class="btn-blue text-center mb-2 d-block cursor-pointer text-bold">Attach Child's Photo</span>
                                            <input id="imageUpload" type="file" class="hide" name="imageUpload" />
                                            <label>We recommend your image size is under 2MB</label>
                                        </label>
                                    }

                                    <input type="hidden" name="PhotoURL" id="PhotoURL" value="@Model.PhotoURL" />
                                    <input type="hidden" name="FileName" id="FileName" value="@Model.FileName" />

                                    @if (Model.AccessRight == AccessRightEnum.Create || Model.AccessRight == AccessRightEnum.Update)
                                    {
                                        if (string.IsNullOrEmpty(Model.PhotoURL))
                                        {
                                            <span id="spanRemoveChildPhoto" style="display: none;" class="attachment-item with-tip spanRemoveChildPhoto" title="Remove Child Photo"><span class="icon fa-solid fa-circle-minus icon-red" style="width: 22px; height: 22px; font-size: 1.125rem "></span></span>
                                            <span id="rotate-left" style="display: none;" class="attachment-item with-tip pointer spanRemoveChildPhoto" title="Rotate Left 90<sup>o</sup>"><img src="/Content/themes/Constellation/images/rotate.svg" width="22" height="22"></span>
                                            <span id="rotate-right" style="display: none;" class="attachment-item with-tip pointer spanRemoveChildPhoto" title="Rotate Right 90<sup>o</sup>"><img class="rotate-right" src="/Content/themes/Constellation/images/rotate.svg" width="22" height="22"></span>
                                        }
                                        else
                                        {
                                            <span id="spanRemoveChildPhoto" class="attachment-item with-tip pointer spanRemoveChildPhoto" title="Remove Child Photo"><span class="icon fa-solid fa-circle-minus icon-red" style="width: 22px; height: 22px; font-size: 1.125rem "></span></span>
                                            <span id="rotate-left" class="attachment-item with-tip pointer spanRemoveChildPhoto" title="Rotate Left 90<sup>o</sup>"><img src="/Content/themes/Constellation/images/rotate.svg" width="22" height="22"></span>
                                            <span id="rotate-right" class="attachment-item with-tip pointer spanRemoveChildPhoto" title="Rotate Right 90<sup>o</sup>"><img class="rotate-right" src="/Content/themes/Constellation/images/rotate.svg" width="22" height="22"></span>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="photo-box">
                                    @if (string.IsNullOrEmpty(Model.PhotoURL))
                                    {
                                        <img id="imgChildPhoto" src="" alt="Child Photo" style="max-width: 400px; max-height: 400px; display: none;" />
                                    }
                                    else
                                    {
                                        <img id="imgChildPhoto" src="@Model.PhotoURL" alt="Child Photo" style="max-width: 400px; max-height: 400px;" />
                                    }
                                    <canvas id="imgCanvas" class="hide"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-9 mb-4">
                        <h5 class="h5 mb-3">Parent/Guardian contact details</h5>
                        <p>
                            <i style="font-size: 14px !important; ">More than one parent/guardian contact details can be recorded (if required)</i>
                        </p>
                        <div name="guardianContactDetail"></div>
                    </div>

                    <div class="mb-4">
                        <h5 class="h5 mb-3">Early Childhood Service contact details</h5>
                        <p>
                            <i style="font-size: 14px !important; ">Service Details, educator profiles and groups can be created and managed in the Service Details tab on the TLDS Home page.</i>
                        </p>
                        <div class="row g-3">
                            <div class="col-3">
                                <label>
                                    Name of service <span class="required-field">(*)</span>
                                </label>
                                <div id="marqueeTemplate"></div>
                                @Html.TextBoxFor(m => m.ECSName, new { @class = "full-width template-input-height", @maxlength = "500" })
                            </div>
                            <div class="col-3">
                                <label>
                                    Address of service <span class="required-field">(*)</span>
                                </label>
                                @Html.TextBoxFor(m => m.ECSAddress, new { @class = "full-width", @maxlength = "200" })
                            </div>

                            <div class="col-3">
                                <label>
                                    Service approval number <span class="required-field">(*)</span>
                                </label>
                                <input type="text" name="ECSApprovalNumber" id="ECSApprovalNumber" value="@Model.ECSApprovalNumber" maxlength="50" class="full-width" onkeypress='validateTLDSServiceNumber(event)' />
                            </div>
                            <div class="col-3">
                                <label>
                                    Name of educator/s completing this form
                                </label>
                                <select class="full-width" id="teacherProfileList"></select>
                                @Html.HiddenFor(m => m.ECSCompletingFormEducatorName)
                                @*<span class="relative">
                                        @Html.TextBoxFor(m => m.ECSCompletingFormEducatorPosition, new { @class = "full-width", @maxlength = "500" })
                                    </span>*@
                            </div>
                            <div class="col-3">
                                <label>
                                    Position
                                </label>
                                @Html.TextBoxFor(m => m.ECSCompletingFormEducatorPosition, new { @class = "full-width", @maxlength = "500" })
                            </div>
                            <div class="col-3">
                                <label>
                                    Highest level of qualification completed
                                </label>
                                <div class="block-text-name">
                                    @Html.DropDownListFor(m => m.ECSCompletingFormEducatorQualificationId, Model.QualificationList)
                                    <div class="box-select">
                                        <span class="overlay"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <label>
                                    Phone <span class="required-field">(*)</span>
                                </label>
                                @Html.TextBoxFor(m => m.ECSCompletingFormEducatorPhone, new { @class = "full-width", @maxlength = "50" })
                            </div>
                            <div class="col-3">
                                <label>
                                    Email <span class="required-field">(*)</span>
                                </label>
                                @Html.TextBoxFor(m => m.ECSCompletingFormEducatorEmail, new { @class = "full-width", @maxlength = "100" })
                            </div>
                            @if (Model.TLDSGroupSelectedItem.Count > 0)
                            {
                                <div class="col-3">
                                    <label>
                                        Group
                                    </label>
                                    <div class="block-text-name">
                                        @Html.DropDownListFor(m => m.TldsGroupId, Model.TLDSGroupSelectedItem)
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                    <div class="text-end">
                        <input type="hidden" id="IsContinue" name="isContinue" value="false" />
                        <button id="btnContinue" class="ms-3 @(Model.AccessRight == AccessRightEnum.Create || Model.AccessRight == AccessRightEnum.Update ? "btn-blue" : "btn-red")" type="button" @if (Model.Status < (int)TLDSProfileStatusEnum.Draft) { <text> disabled</text>}>Continue</button>
                        @if (Model.AccessRight == AccessRightEnum.Create || Model.AccessRight == AccessRightEnum.Update)
                        {
                            <button id="btnSaveAndContinue" class="ms-3 btn-blue" type="button">Save And Continue</button>
                            <button id="btnSave" class="ms-3 btn-red" type="button">Save</button>
                        }
                        <input type="hidden" id="GuardiantContactJSONData" name="GuardiantContactJSONData" />
                    </div>
                }
            </div>
        </div>
    </section>
</article>

<script>
    var _rotate = 0;
    $(document).ready(function () {
        $("#rotate-left").on("click", function () {

            _rotate -= 90;
            $("#rotatePhoto").val(_rotate);
            $(".photo-box").css("transform", "rotate(" + _rotate + "deg)")
        });

        $("#rotate-right").on("click", function () {
            _rotate += 90;
            $("#rotatePhoto").val(_rotate);
            $(".photo-box").css("transform", "rotate(" + _rotate + "deg)")
        });

        var marqueeTemplateEl = $('#marqueeTemplate').width() || 250;
        $('#TldsGroupId').marquee({ widthSelected: marqueeTemplateEl });
        $('#ECSCompletingFormEducatorQualificationId').marquee({ widthSelected: marqueeTemplateEl });

        setSelect2Height();
    });

    function setSelect2Height() {
        var inputHeight = $('.template-input-height').outerHeight() || 42;
        inputHeight = `${inputHeight}px`;

        setTimeout(function () {
            var select2Input = document.querySelector('.select2-selection');
            select2Input.style.setProperty("--inputHeight", inputHeight);
        }, 300)
    }
</script>


<script>
    var isAccessRight = '@Model.AccessRight' == '@AccessRightEnum.Create' || '@Model.AccessRight' == '@AccessRightEnum.Update';
    var informationFromSerializeString = '';
    var handsonGuardianContactDetail = [];
    var isConfirmEndrolmentYear = false;
    var completedChange = false;
    var tableGuardianContactChange = false;
    var tldsProfileId = 0;
    var teacherProfileList = [];

    $.fn.select2.amd.require._defined['select2/selection/search'].prototype.update = function (a, b) {
        var c = this.$search[0] == document.activeElement;
        this.$search.attr("placeholder", "");
        a.call(this, b);
        this.$selection.find(".select2-selection__rendered").append(this.$searchContainer);
        this.resizeSearch();
        if (c) {
            var self = this;
            window.setTimeout(function () {
                self.$search.focus();
            }, 0);
        }
    };

    $(function () {
        if ('@Model.ContextSpecificInforHasBeenSaved' === 'False') {
            $('#idSgoNavigationStep4').addClass('disabled');
        }
        $('#editTDLSForm').find(':input').each(function (index, value) {
            $(this).data('val', $(this).val());
        });

        setInterval(autoSaving, 60000);

        $("#selectEnrolmentYear").ckUpDownNumber({
            width: 100,
            height: 'auto'
        });
        breadcrumbDetailPage('.stats', '#rpTLDSManager');
        $('#ECSCompletingFormEducatorQualificationId').val('@Model.ECSCompletingFormEducatorQualificationId').trigger('change');
        $('#TldsGroupId').val('@Model.TldsGroupId').trigger('change');

        var year = new Date().getFullYear();
        var minDate =  new Date('01 01,' + (year -7));
        $('input[name="DateOfBirth"]').datepicker({
            changeMonth: true,
            changeYear: true,
            maxDate:  new Date(),
            minDate: minDate,
            dateFormat: jqueryDatePickerFormat(),
            beforeShow: function (input, inst) {
                $('#ui-datepicker-div').addClass('datepicker-sgo');
            }
        });

        $('#ECSCompletingFormEducatorPhone').on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        $('#ECSCompletingFormEducatorEmail').on("keypress keyup blur", function (event) {
            $("#fe-error-messages").hide();
        });

        loadGuardianContactDetail('@Model.ProfileId');
        registerUploadChildPhoto();

        informationFromSerializeString = getInformationFromSerializeString();

        if (!isAccessRight) {
            // Disable all controls
            tldsDisableInputControls();
        }

        $("input").on("keypress keyup blur", function (event) {
            $("#fe-error-messages").empty();
            $("#fe-error-messages").hide();
        });

        $("#selectEnrolmentYear").keydown(false);

        $("#selectEnrolmentYear").change(function () {
            isConfirmEndrolmentYear = false;
        });

        if ('@Model.PhotoURL' == '') {
            $('.photo-box').hide();
        }

        initTeacherProfileControl();
    });

    function initTeacherProfileControl() {
        var teacherProfiles = [];
        var data = JSON.parse('@Html.Raw(Json.Encode(Model.TLDSProfileTeacherSelectedItem))');
        var currentData = "@Html.Raw(Model.ECSCompletingFormEducatorName)";
        var selected = -1;

        if (data && data.length > 0 && data[0].Value == 0) {
            data.shift();
        }

        for (var i = 0; i < data.length; i++) {
            teacherProfiles.push({ id: data[i].Value, text: data[i].Text });

            if (data[i].Text == currentData) {
                selected = data[i].Value;
            }
        }

        if (selected == -1) {
            teacherProfiles.push({ id: -1, text: currentData });
        }

        $("#teacherProfileList").select2({
            tags: true,
            data: teacherProfiles
        });

        teacherProfileList = data;

        $("#teacherProfileList").val(selected).trigger('change');
    }

    function validEmail(isSave) {
        if ($("#selectEnrolmentYear").val() <= (new Date()).getFullYear() && !isConfirmEndrolmentYear) {
            CustomConfirm({
                message: 'The recorded Expected year of Enrolment is in the past. This field should contain the year the student is expected to begin school. Please confirm you would like to record a year in the past.',
                customClass: 'new-style-popup',
                yes: function () {
                    isConfirmEndrolmentYear = true;
                    if (isSave) {
                        $("#btnSave").trigger("click");
                    } else {
                        $("#btnSaveAndContinue").trigger("click");
                    }
                },
                no: function () {

                }
            });

            return;
        }

        let errors = [];
        if (!$("#FirstName").val()) errors.push("Child's first name is required.");
        if (!$("#LastName").val()) errors.push("Surname is required.");
        if (!$("#DateOfBirth").val()) errors.push("Child's date of birth is required.");
        if (!$("#selectEnrolmentYear").val()) errors.push("Year of enrolment is required.");
        if (!$("#ECSName").val()) errors.push("Name of service is required.");
        if (!$("#ECSAddress").val()) errors.push("Address of service is required.");
        if (!$("#ECSApprovalNumber").val()) errors.push("Service approval number is required.");
        if (!$("#ECSCompletingFormEducatorPhone").val()) errors.push("Phone is required.");
        if (!$("#ECSCompletingFormEducatorEmail").val()) errors.push("Email is required.");


        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        const email = $("#ECSCompletingFormEducatorEmail").val();
        isValid = regex.test(email.toLowerCase());

        if (email && !isValid) {
            errors.push("Email is wrong format.");
        }
        $("#fe-error-messages").empty();
        for (var i = 0; i < errors.length; i++) {
            $("#fe-error-messages").append("<li>" + errors[i] + "</li>");
            $("#fe-error-messages").show();
            $("html, body").scrollTop(0);
        }

        return errors.length == 0;
    }

    function validateTLDSServiceNumber(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode( key );
        var regex = /^[a-zA-Z0-9-_]+$/;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    function registerUploadChildPhoto() {
        var auth = '@(Request.Cookies[FormsAuthentication.FormsCookieName] == null ? string.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)';
        var canvas  = $("#imgCanvas")[0];
        var context = canvas.getContext("2d");
        function readImage() {
            var maxWidth = 400;
            var imgSrc;

            if ( this.files && this.files[0] ) {
                var FR= new FileReader();
                var fileName = this.files[0].name;
                var getImage = function (imgFilename) {
                    return (/\.(gif|jpg|jpeg|png)$/i).test(imgFilename);
                };

                if (!getImage(fileName)) {
                    var msg = 'You have selected an unsupported file type. Please select a gif, png, jpeg or jpg file.';
                    popupAlertMessage('alert', msg, 400, 200);
                    $('#imageUpload').val('');
                    $('#divOnTop').unblock();
                    return;
                }

                ShowBlock($('#divOnTop'), 'Upload Attachment');

                FR.onload = function(e) {
                    var img = new Image();
                    img.addEventListener("load", function() {
                        var selfImage = this;
                        canvas.width = selfImage.width;
                        canvas.height = selfImage.height;
                        var ratio = canvas.width / canvas.height;
                        if (canvas.width > maxWidth) {
                            canvas.width = maxWidth;
                            canvas.height = canvas.width/ratio;
                        }
                        context.drawImage(img, 0, 0, canvas.width, canvas.height);
                        imgSrc = canvas.toDataURL();

                        // Call API for creating image
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("UploadChildPhotoEnhancement")',
                            data: {
                                'AUTHID': auth,
                                'profileId': @Model.ProfileId,
                                imageSrc: imgSrc,
                                fileName: fileName
                            },
                            dataType: 'json',
                            success: function (response) {
                                if (!response.Success == true) {
                                    var msg = '<div class="text-left">' + response.ErrorMessage + '</div>';
                                    popupAlertMessage('alert', msg, 310, 500);
                                } else {
                                    $('#PhotoURL').val(response.fileNameUrl);
                                    $('#FileName').val(response.FileName);
                                    $('#imgChildPhoto').attr('src', response.fileNameUrl);
                                    $('.spanRemoveChildPhoto').show();
                                    $('.photo-box').show();
                                    $('#imgChildPhoto').show();
                                }
                                $('#imageUpload').val('');
                                $('#divOnTop').unblock();
                            },
                            error: function (err) {
                                alert('The error was: ' + err);
                                $('#imageUpload').val('');
                                $('#divOnTop').unblock();
                            }
                        });

                    });
                    img.src = e.target.result;
                };
                FR.readAsDataURL( this.files[0] );
            }
        }
        $('#imageUpload')[0] && $('#imageUpload')[0].addEventListener("change", readImage, false);
    }

    $('#editTDLSForm').on('change paste', ':input', function (e) {
        $(this).data('val', $(this).val());
        completedChange = true;
    });

    $('#editTDLSForm').on('keyup', ':input', function (e) {
        if ($(this).val() != $(this).data('val')) {
            $(this).data('val', $(this).val());
            completedChange = true;
        }
    });

    $('#spanRemoveChildPhoto').click(function () {
        _rotate = 0;
        $(".photo-box").css("transform", "rotate(0deg)");
        $('#PhotoURL').val('');
        $('#FileName').val('');
        $('#imgChildPhoto').attr('src', '');
        $('.spanRemoveChildPhoto').hide();
        $('.photo-box').hide();
        $('#imgChildPhoto').hide();
    });

    $('#btnSave').click(function () {
        const isValidEmail = validEmail(true);
        if (!isValidEmail) return;

        $('#IsContinue').val('false');
        $('#DateOfBirthString').val($('#DateOfBirth').val());
        $('#ECSCompletingFormEducatorName').val($("#teacherProfileList").select2('data')[0].text);
        if (!checkGuardiantContactData()) {
            return;
        }
        $('#GuardiantContactJSONData').val(JSON.stringify(getGuardiantContactJSONData()));
        var profileId = $('#profileId').val();
        if (profileId === '0' && tldsProfileId !== 0) {
            $('#profileId').val(tldsProfileId);
        }
        ShowBlock($('#divOnTop'), 'Saving');
        $('#editTDLSForm').submit();
        informationFromSerializeString = getInformationFromSerializeString();
    });

    $('#btnSaveAndContinue').click(function () {
        const isValidEmail = validEmail();
        if (!isValidEmail) return;
        $('#IsContinue').val('true');
        $('#DateOfBirthString').val($('#DateOfBirth').val());
       // $('#ECSCompledDateString').val($('#ECSCompledDate').val());
        if (!checkGuardiantContactData()) {
            return;
        }
        $('#GuardiantContactJSONData').val(JSON.stringify(getGuardiantContactJSONData()));
        var profileId = $('#profileId').val();
        if (profileId === '0' && tldsProfileId !== 0) {
            $('#profileId').val(tldsProfileId);
        }
        ShowBlock($('#divOnTop'), 'Saving');
        $('#editTDLSForm').submit();
    });

    $('#btnContinue').click(function () {
        var contextSpecificInforUrl = '@Url.Action("ContextSpecificInfor", "TLDSManage")/?profileId=@Model.ProfileId';

        if (isAccessRight) {
            if ($('#profileId').val() == '0') {
                //the new profile
                $( "#btnSaveAndContinue" ).trigger( "click" );
                return;
            }

            var newUpdatedInformationFromSerializeString = getInformationFromSerializeString();
            if (newUpdatedInformationFromSerializeString != informationFromSerializeString) {
                //Show a confirmation dialog
                CustomConfirm({
                    message: 'Would you like to save changes before moving continue?',
                    customClass: 'new-style-popup',
                    yes: function() {
                        $( "#btnSaveAndContinue" ).trigger( "click" );
                    },
                    no: function() {
                        //continue
                        if ($('#profileId').val() == '0') {
                            //the new profile
                            $( "#btnSaveAndContinue" ).trigger( "click" );
                        } else {
                            location.href = contextSpecificInforUrl;
                        }
                    }
                });
            } else {
                if ($('#profileId').val() == '0') {
                    //the new profile
                    $("#btnSaveAndContinue").trigger("click");
                } else {
                    location.href = contextSpecificInforUrl;
                }
            }
        } else {
            location.href = contextSpecificInforUrl;
        }
    });

    var isPageLoaded = false;
    $("#teacherProfileList").die("change");
    $('#teacherProfileList').change(function () {
        if (isPageLoaded) {
            var profileTeacherId = $('#teacherProfileList').val();
        var value = profileTeacherId === "-1" ? "" : $("#teacherProfileList").select2('data')[0].text;
        $("#ECSCompletingFormEducatorName").val(value);

        if (profileTeacherId > 0) {
            $.get('@Url.Action("GetProfileTeacherById", "TLDSManage")', { tldsProfileTeacherId: profileTeacherId }, function (profileTeacher) {
            if (profileTeacher) {
                $('#ECSCompletingFormEducatorPosition').val(profileTeacher.Position);
                $('#ECSCompletingFormEducatorQualificationId').val(profileTeacher.TLDSLevelQualificationID);
            }
        });
        }
        }
        isPageLoaded = true;
    });

    var handsonGuardianContactDetail = [];

    function loadGuardianContactDetail(profileId) {
        var container = $('div[name="guardianContactDetail"]');
        Handsontable.editors.TextEditor.prototype.hideEditableElement = function() {
            this.textareaParentStyle.position = 'fixed';
            this.textareaParentStyle.top = '-99999px';
            this.textareaParentStyle.left = '0px';
            this.textareaParentStyle.zIndex = '-1';
        };

        Handsontable.editors.TextEditor.prototype.showEditableElement = function() {
            this.textareaParentStyle.position = 'absolute';
            this.textareaParentStyle.visibility = 'visible';

            this.textareaParentStyle.zIndex = this.holderZIndex >= 0 ? this.holderZIndex : '';
        };
        buildHandsonGuardianContactDetail([]);

        if (!isAccessRight) {
            var hot = container.handsontable('getInstance');
            hot.updateSettings({ readOnly: true });
        }

        ShowBlock(container, "Loading");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetGuardianContactDetail", "TLDSManage")',
            data: {
                profileId: @Model.ProfileId
            },
            success: function (response) {
                handsonGuardianContactDetail = [];
                $.each(response.guardiantContactDetails, function (i, item) {
                    if (item["FullName"] !== null) {
                        handsonGuardianContactDetail.push([
                            item["GuardiantContactDetailId"],
                            item["ProfileId"],
                            item["FullName"],
                            item["RelationshipToChild"],
                            item["Phone"],
                            item["Email"]
                        ]);
                    }
                });

                buildHandsonGuardianContactDetail(handsonGuardianContactDetail.sort());
                container.unblock();
                informationFromSerializeString = getInformationFromSerializeString();
            }
        });
    }
    function getInformationFromSerializeString() {
        return $("#editTDLSForm").serialize() + JSON.stringify(getGuardiantContactJSONData());
    }
    function getGuardiantContactJSONData() {
        var data = [];
        if (handsonGuardianContactDetail != undefined && handsonGuardianContactDetail != null && handsonGuardianContactDetail.length > 0) {
            $.each($('div[name="guardianContactDetail"]').handsontable('getData'), function (i, item) {
                if (item[0] !== null) {
                    data.push({
                        GuardiantContactDetailId: handsonGuardianContactDetail[i][0],
                        ProfileId: handsonGuardianContactDetail[i][1],
                        FullName: item[0],
                        RelationshipToChild: item[1],
                        Phone: item[2],
                        Email: item[3],
                    });
                }
            });
        }

        return data;
    }
    function checkGuardiantContactData() {
        //check required data
        var data = getGuardiantContactJSONData();
        for (var i = 0; i < data.length; i++) {
            var item = data[i];
            var hasPhoneOrEmail = false;
            if ((item.Phone != null && item.Phone.trim().length > 0)
                || (item.Email != null && item.Email.trim().length > 0)) {
                hasPhoneOrEmail = true;
            }
            if (hasPhoneOrEmail && (item.FullName == null || item.FullName.trim().length == 0)) {
                CustomAlert('Parent/Guardian contact details -> row ' + (i+1) + ': Full name is required');
                return false;
            }
            if (hasPhoneOrEmail && (item.RelationshipToChild == null || item.RelationshipToChild.trim().length == 0)) {
                CustomAlert('Parent/Guardian contact details -> row ' + (i+1) + ': Relationship is required');
                return false;
            }
        }

        return true;
    }

    function refreshGuardianContactDetail() {
        var container = $('div[name="guardianContactDetail"]');

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetGuardianContactDetail", "TLDSManage")',
            data: {
                profileId: @Model.ProfileId === 0 ? tldsProfileId : @Model.ProfileId
            },
            success: function (response) {
                handsonGuardianContactDetail = [];
                $.each(response.guardiantContactDetails, function (i, item) {
                    if (item["FullName"] !== null) {
                        handsonGuardianContactDetail.push([
                            item["GuardiantContactDetailId"],
                            item["ProfileId"],
                            item["FullName"],
                            item["RelationshipToChild"],
                            item["Phone"],
                            item["Email"]
                        ]);
                    }
                });
                buildHandsonGuardianContactDetail(handsonGuardianContactDetail);

                container.unblock();
                informationFromSerializeString = getInformationFromSerializeString();
            }
        });
    }

    function autoSaving() {
        //const isValidEmail = validEmail(true);
        //if (!isValidEmail) return;

        if (completedChange) {
            $('#IsContinue').val('false');
            $('#DateOfBirthString').val($('#DateOfBirth').val());
            if (!checkGuardiantContactData()) {
                return;
            }
            $('#GuardiantContactJSONData').val(JSON.stringify(getGuardiantContactJSONData()));
            $('#ECSCompletingFormEducatorName').val($("#teacherProfileList").select2('data')[0].text);

            var formData = $("#editTDLSForm").serializeArray();
            formData.push({ name: "AutoSaving", value: true });
            formData[1].value = @Model.ProfileId === 0 ? tldsProfileId : @Model.ProfileId;
            $.ajax({
                url: '@Url.Action("Edit")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.Success) {
                        tldsProfileId = response.tldsProfileId;
                        if (tableGuardianContactChange) {
                            refreshGuardianContactDetail();
                            tableGuardianContactChange = false;
                        }

                        $("#rotatePhoto").val(0);
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });

            informationFromSerializeString = getInformationFromSerializeString();
            completedChange = false;
        }
    }

    function handsonTableAfterChange(changes, source) {
        if (source === 'edit' && changes.length) {
            tableGuardianContactChange = true;
            completedChange = true;
        }
    }

    function SortByName(a, b) {
        var aName = a.name.toLowerCase();
        var bName = b.name.toLowerCase();
        return ((aName < bName) ? -1 : ((aName > bName) ? 1 : 0));
    }

    function buildHandsonGuardianContactDetail(data) {
        while (data.length < 3) {
            data.push(['', '', '', '']);
        }

        var container = $('div[name="guardianContactDetail"]');

        container.handsontable({
            data: data,
            minSpareRows: 1,
            colHeaders: ["Full name", "Relationship to child", "Phone", "Email"],
            colWidths: [209, 210, 208, 208],
            columns: [
                { data: 2 },
                { data: 3 },
                { data: 4 },
                { data: 5 }
            ],
            contextMenu: false,
            cells: function (row, col, prop) {
                var cellProperties = {};
                return cellProperties;
            },
            licenseKey: 'a70f6-b55ab-a3862-0471e-e915a',
            afterChange: function (changes, source) {
                if (source === 'edit' && changes.length) {
                    tableGuardianContactChange = true;
                    completedChange = true;

                    var hot = container.handsontable('getInstance');
                    var row = changes[0][0];
                    var totalRow = hot.countRows();
                    if (totalRow > 3 && hot.isEmptyRow(row)) {
                        hot.alter('remove_row', row);
                    }
                }
            },
        });
    }
</script>
