@using LinkIt.BubbleSheetPortal.Common
@using LinkIt.BubbleSheetPortal.Models.Enum
@using LinkIt.BubbleSheetPortal.Web.Helpers
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.ReportItemTLDSManager, "TLDS Section 1.2",true);
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}
@section jQuery {
    @BundleHelper.jQueryUpgrade()
}
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleTDLSEnhancedTransitionsBundleV2()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptTDLSEnhancedTransitionsBundle()
<script src="@Url.Content("~/Scripts/Lib/handsontable/pro/handsontable.full.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/Lib/handsontable/pro/handsontable.full.min.css")" rel="stylesheet" type="text/css">

<style>
    .wtSpreader, .wtHider, .htCore {
        width: 100% !important;
    }

    .wtHider {
        height: auto !important;
    }

        .wtHider th {
            height: 50px;
        }

    #portal-v2-containter .handsontable table thead th {
        border-bottom: 0 none;
    }

    #portal-v2-containter .handsontable table tbody td {
        border-bottom: 0 none;
    }

        #portal-v2-containter .handsontable table thead th:not(:first-child),
        #portal-v2-containter .handsontable table tbody td:not(:first-child) {
            border-left: 0 none;
        }

    #portal-v2-containter .handsontable .handsontable table tbody tr:last-child td {
        border-bottom: 1px solid var(--borderColor);
    }

    .block-table {
        min-height: 60px;
    }

    .ui-dialog[aria-labelledby^="ui-dialog-title-CustomConfirmDialog_"] {
        width: 460px !important;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] {
        width: 440px !important;
    }

        .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] section {
            float: none;
            display: block;
        }

        .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] .block-border {
            width: auto !important;
        }

        .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] .ui-dialog-titlebar,
        .ui-dialog[aria-labelledby="ui-dialog-title-divUrlPreviewOnlinePanel"] .ui-dialog-titlebar {
            display: none;
        }

        .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] .block-content {
            padding: var(--spacingDefault) !important;
        }

            .ui-dialog[aria-labelledby="ui-dialog-title-CustomAlertDialog"] .block-content > div {
                line-height: normal !important;
                display: flex;
                text-align: left !important;
                justify-content: center;
            }

    .pika-table th {
        border: 0 none !important;
        background-color: transparent !important;
        color: #999 !important;
        font-size: 12px !important;
        line-height: 25px !important;
    }

        .pika-table th * {
            font-size: 12px !important;
            line-height: 25px !important;
        }

    .pika-table td, .pika-table th {
        padding: 0 !important;
        border: 0 none !important;
    }

    .is-today .pika-button {
        color: var(--navyColor) !important;
        font-weight: 700 !important;
    }

    .is-selected .pika-button {
        color: var(--white) !important;
        font-weight: 700 !important;
        background: var(--navyColor) !important;
    }

    .is-rtl .pika-next, .pika-prev {
        min-width: inherit !important;
        border: 0 none !important;
        background: none !important;
        background-size: 80% 80% !important;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==") !important;
    }

    .is-rtl .pika-prev, .pika-next {
        min-width: inherit !important;
        border: 0 none !important;
        background: none !important;
        background-size: 80% 80% !important;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=") !important;
    }

    .pika-button {
        border-radius: 0;
        min-width: inherit !important;
        border: 0 none !important;
        font-size: 12px !important;
    }

    .group-checkbox {
        padding: 8px 16px;
        background: var(--blue1);
    }

        .group-checkbox label {
            line-height: 26px !important;
            margin-left: 4px;
            font-weight: bold !important;
        }

        .group-checkbox input[type="checkbox"] {
            position: relative;
            top: 2px;
        }

    .handsontable .ht_clone_left thead, .handsontable .ht_master thead, .handsontable .ht_master tr th {
        visibility: visible;
    }

    @@media (max-width: 1399px) {
        .group-checkbox input[type="checkbox"] {
            top: 3px;
        }
    }
</style>

<article class="container_12" id="idTopNavigation">
    @Html.Partial("v2/_NavigationTabs", Model)
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form bg-transparent p-0" id="divOnTop">
                <div class="p-4 bg-white mb-4">
                    <h3 class="h3 mb-3">Section 1.2</h3>
                    <ul id="success-messages" class="message success mb-3" style="display:none">
                        <li> Successfully saved</li>
                    </ul>
                    <p class="mb-2">
                        It is recommended that this section only be completed for a child with a disability and/or developmental delay.
                    </p>
                    <p class="mb-2">If this section is not relevant for this child, select 'continue' to move to the next section.</p>
                    <div class="group-checkbox">
                        <input type="checkbox" id="cr-1" />
                        <label for="cr-1">This section is required for this child</label>
                    </div>
                </div>
                @using (Html.BeginForm("SaveEnhancedTransition", "TLDSManage", FormMethod.Post, new { id = "saveEnhancedTransition", @class = "form" }))
                {
                    <div class="bg-white p-4">
                        <div class="group-visible mb-3">
                            <h5 class="h5 mb-3">Name of key worker or transition support coordinator (where available)</h5>
                            <input type="hidden" id="profileId" value="@Model.ProfileId" />
                            <div class="row g-3 mb-3">
                                <div class="col-3">
                                    <label>
                                        Key worker
                                    </label>
                                    <span class="relative">
                                        @Html.TextBoxFor(m => m.NoKWName, new { @class = "full-width first-focus", @maxlength = "100" })
                                    </span>
                                </div>
                                <div class="col-3">
                                    <label>
                                        Position
                                    </label>
                                    <span class="relative">
                                        @Html.TextBoxFor(m => m.NoKWPosition, new { @class = "full-width", @maxlength = "100" })
                                    </span>
                                </div>
                                <div class="col-3">
                                    <label>
                                        Phone
                                    </label>
                                    <span class="relative">
                                        @Html.TextBoxFor(m => m.NoKWPhone, new { @class = "full-width", @maxlength = "50" })
                                    </span>

                                </div>
                                <div class="col-3">
                                    <label>
                                        Email
                                    </label>
                                    <span class="relative">
                                        @Html.TextBoxFor(m => m.NoKWEmail, new { @class = "full-width", @maxlength = "400" })
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="group-visible mb-3">
                            <h5 class="h5 mb-3">Additional specialised professional services details and reports</h5>
                            <p>
                                (e.g. diagnosing psychologist/medical report; speech pathologist, occupational therapist, preschool field officer,
                                early childhood intervention, psychologist, physiotherapist, audiologist, social worker or other support service)
                            </p>
                            <div class="block-table" name="professionalService"></div>
                            <ul class="tlds-notes mb-3">
                                <li class="tlds-notes-item"><b>W.R.A.</b>: Written Report available</li>
                                <li class="tlds-notes-item"><b>A.U.R.</b>: Available upon request</li>
                            </ul>
                        </div>

                        <div class="group-visible mb-3">
                            <h5 class="h5 mb-3">Additional information to support the child's inclusion at school</h5>
                            <p>
                                This section is designed to provide information in addition to that provided in Section 1 (it is not necessary to repeat
                                information from Section 1 here). It can include general information to note, for example about sleep, diet, ability to cope
                                with change etc.
                            </p>
                            <div class="block-table" name="additionalInformation"></div>
                        </div>

                        <div class="group-visible mb-3">
                            <h5 class="h5 mb-3">Other reports/plans available</h5>
                            <p>
                                List of reports or plans that are relevant and useful to support the child's transition and inclusion at school (for example,
                                Behavioural support plan, Adaptive skill assessment; Hearing test etc.)
                            </p>
                            <div class="block-table" name="otherReportPlan"></div>
                        </div>

                        <div class="group-visible mb-4">
                            <h5 class="h5 mb-3">Early ABLES Reports</h5>
                            <p>
                                The Early ABLES reports provide useful information for completing Section 1.1 of the Statement (with permission from the child's
                                parent/guardian). Copies of the learning reports may also be provided to the school with permission.
                            </p>

                            <div class="group-checkbox">
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto"><b>Was an Early ABLES report completed for this child?:</b></div>
                                    <div class="col-auto">
                                        <input type="checkbox" id="ABLESReportCompleted_Yes" name="ABLESReportCompleted" />
                                        <label for="ABLESReportCompleted_Yes">Yes</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="checkbox" id="ABLESReportCompleted_No" name="ABLESReportCompleted" />
                                        <label for="ABLESReportCompleted_No">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="block-table mt-3" name="earlyABLESReports"></div>
                        </div>
                        <div class="text-end">
                            <input type="hidden" id="IsContinue" name="isContinue" value="false" />
                            <button id="btnContinue" class="ms-3 @(Model.AccessRight == AccessRightEnum.Update ? "btn-blue" : "btn-red")" type="button" @if (Model.Status < (int)TLDSProfileStatusEnum.Draft) { <text> disabled</text>}>
                                Continue
                            </button>
                            @if (Model.AccessRight == AccessRightEnum.Update)
                            {
                                <button id="btnSaveAndContinue" class="ms-3 btn-blue" type="button">Save And Continue</button>
                                <button id="btnSave" class="ms-3 btn-red" type="button">Save</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</article>


<script>
    var isAccessRight = '@Model.AccessRight' == '@AccessRightEnum.Create' || '@Model.AccessRight' == '@AccessRightEnum.Update';
    var handsonOtherReportPlanData = [];
    var handsonAddtionalInformationData = [];
    var handsonProfessionalServiceData = [];
    var handsonEarlyABLESReportsnData = [];
    var enhancedTransitionsFormSerializeString = '';
    var completedChange = false;
    var tableProfessionalServiceChange = false;
    var tableAdditionalInformationChange = false;
    var tableOtherReportChange = false;
    var tableEarlyAblesReportChange = false;
    var section102IsRequired = '';
    var formBlank = false;
    section102IsRequired = '@Model.Section102IsNotRequired'.toLowerCase() === 'true' ? false : true;
    $(document).ready(function () {
        $('#saveEnhancedTransition').find(':input').each(function (index, value) {
            $(this).data('val', $(this).val());
        });

        setInterval(autoSaving, 60000);

        if ('@Model.SectionChildParentCompleted' == 'True') {
            $("#idSgoNavigationStep7").removeClass("disabled");
        }
    });
    $(function () {
        breadcrumbDetailPage('.stats', '#rpTLDSManager');
        // All functions are at index.cshtml file
        $('input[name="EARReportDate"]').datepicker({
            dateFormat: jqueryDatePickerFormat(),
            beforeShow: function (input, inst) {
                $('#ui-datepicker-div').addClass('datepicker-sgo');
            }
        });

        loadProfessionalService('@Model.ProfileId');
        loadAdditionalInformation('@Model.ProfileId');
        loadOtherReportPlan('@Model.ProfileId');
        loadEarlyABLESReports('@Model.ProfileId');

        changeStatusControlersSection12(section102IsRequired);

        if ('@Model.WasAnEarlyABLESReportCompleted'.toLowerCase() == 'true') {
            $("#ABLESReportCompleted_Yes").prop('checked', true);
        } else if ('@Model.WasAnEarlyABLESReportCompleted'.toLowerCase() == 'false') {
            $("#ABLESReportCompleted_No").prop('checked', true);
        } else {
            $("#ABLESReportCompleted_Yes").prop('checked', false);
            $("#ABLESReportCompleted_No").prop('checked', false);
        }

        enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
        if (section102IsRequired) {
            $("#cr-1").prop('checked', true);
            changeStatusControlersSection12(true);
            $('#saveEnhancedTransition .group-visible').show()
        } else {
            $("#cr-1").prop('checked', false);
            changeStatusControlersSection12(false);
            $('#saveEnhancedTransition .group-visible').hide();
        }


        showABLEReport();
        $('#ABLESReportCompleted_Yes').change(function () {
            $('#ABLESReportCompleted_Yes').removeClass('input-checked-v2');
            $('#ABLESReportCompleted_No').removeClass('input-checked-v2');
            showABLEReport();
        });
        $('#ABLESReportCompleted_No').change(function () {
            $('#ABLESReportCompleted_Yes').removeClass('input-checked-v2');
            $('#ABLESReportCompleted_No').removeClass('input-checked-v2');
            showABLEReport();
        });

        if (!isAccessRight) {
            // Disable all controls
            tldsDisableInputControls();
        }
        formBlank = checkHasData();
    });

    function loadOtherReportPlan(profileId) {
        var container = $('div[name="otherReportPlan"]');
        Handsontable.editors.TextEditor.prototype.hideEditableElement = function() {
            this.textareaParentStyle.position = 'fixed';
            this.textareaParentStyle.top = '-99999px';
            this.textareaParentStyle.left = '0px';
            this.textareaParentStyle.zIndex = '-1';
        };

        Handsontable.editors.TextEditor.prototype.showEditableElement = function() {
            this.textareaParentStyle.position = 'absolute';
            this.textareaParentStyle.visibility = 'visible';

            this.textareaParentStyle.zIndex = this.holderZIndex >= 0 ? this.holderZIndex : ''; // default
        };

        container.handsontable({
            data: [],
            minSpareRows: 1,
            colHeaders: ["Report Name", "Date of report", "Available on request"],
            colWidths: [278, 279, 278],
            contextMenu: false,
            cells: function (row, col, prop) {
                var cellProperties = {};
                return cellProperties;
            },
            beforeKeyDown: function(e) {
                var selection = container.handsontable('getSelected');
                var element = container.handsontable('getDataType',selection[0][0], selection[0][1], selection[0][2], selection[0][3]);
                if(element === 'date') {
                    if(e.keyCode === 8 || e.keyCode === 46) {
                        container.handsontable('setDataAtCell', selection[0][0], selection[0][1], '');
                    }
                    e.returnValue = false;
                }
            },
            licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
        });

        if (!isAccessRight) {
            var hot = container.handsontable('getInstance');
            hot.updateSettings({ readOnly: true });
        }

        ShowBlock(container, "Loading");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetOtherReportPlan", "TLDSManage")',
            data: {
                profileId: $('#profileId').val()
            },
            success: function (response) {

                handsonOtherReportPlanData = [];
                $.each(response.otherReportPlans, function (i, item) {
                    handsonOtherReportPlanData.push([
                        item["OtherReportPlanId"],
                        item["ProfileId"],
                        item["ReportName"],
                        item["ReportDateString"],
                        item["AvailableOnRequest"]
                    ]);
                });

                container.handsontable({
                    data: handsonOtherReportPlanData,
                    minSpareRows: 1,
                    colHeaders: ["Report Name", "Date of report", "Available on request"],
                    colWidths: [278, 279, 278],
                    columns: [
                        { data: 2 },
                        { data: 3, type: 'date', dateFormat: '@Model.DateFormatModel.HandsonTableDateFormat', correctFormat: true },
                        { data: 4, type: "checkbox" }
                    ],
                    contextMenu: false,
                    beforeKeyDown: function(e) {
                        var selection = container.handsontable('getSelected');
                        var element = container.handsontable('getDataType',selection[0][0], selection[0][1], selection[0][2], selection[0][3]);
                        if(element === 'date') {
                            if(e.keyCode === 8 || e.keyCode === 46) {
                                container.handsontable('setDataAtCell', selection[0][0], selection[0][1], '');
                            }
                            e.returnValue = false;
                        }
                    },
                    cells: function (row, col, prop) {
                        var cellProperties = {};

                        if (container.handsontable('getData')[row] != null) {
                        }

                        return cellProperties;
                    },
                    licenseKey: 'a70f6-b55ab-a3862-0471e-e915a',
                    afterChange: tableOtherReportPlanAfterChange,
                })

                container.unblock();

                if (!isAccessRight) {
                    var hot = container.handsontable('getInstance');
                    hot.updateSettings({ readOnly: true });
                }

                enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
            }
        });
    }

    function tableOtherReportPlanAfterChange(changes, source) {
        if (source === 'edit' && changes.length) {
            tableOtherReportChange = true;
            completedChange = true;
        }
    }

    function loadAdditionalInformation(profileId) {
        var container = $('div[name="additionalInformation"]');
        container.handsontable({
            data: [],
            minSpareRows: 1,
            colHeaders: ["Areas of note", "Strategies for enhanced support"],// "Report Name", "Date of report", "Attached", "Available on request"
            colWidths: [418, 418],
            contextMenu: false,
            cells: function (row, col, prop) {
                var cellProperties = {};
                return cellProperties;
            },
            beforeKeyDown: function(e) {
                var selection = container.handsontable('getSelected');
                var element = container.handsontable('getDataType',selection[0][0], selection[0][1], selection[0][2], selection[0][3]);
                if(element === 'date') {
                    if(e.keyCode === 8 || e.keyCode === 46) {
                        container.handsontable('setDataAtCell', selection[0][0], selection[0][1], '');
                    }
                    e.returnValue = false;
                }
            },
            licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
        });

        if (!isAccessRight) {
            var hot = container.handsontable('getInstance');
            hot.updateSettings({ readOnly: true });
        }

        ShowBlock(container, "Loading");

        handsonAddtionalInformationData = [];
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAdditionalInformation", "TLDSManage")',
            data: {
                profileId: $('#profileId').val()
            },
            success: function (response) {
                $.each(response.addtionalInformation, function (i, item) {
                    handsonAddtionalInformationData.push([
                        item["AdditionalInformationId"],
                        item["ProfileId"],
                        item["AreasOfNote"],
                        item["StrategiesForEnhancedSupport"],
                        item["DateCreated"]
                    ]);
                });

                container.handsontable({
                    data: handsonAddtionalInformationData,
                    minSpareRows: 1,
                    colHeaders: ["Areas of note", "Strategies for enhanced support"],
                    colWidths: [418, 418],
                    columns: [
                        { data: 2 },
                        { data: 3 }
                    ],
                    contextMenu: false,
                    cells: function (row, col, prop) {
                        var cellProperties = {};

                        if (container.handsontable('getData')[row] != null) {

                        }

                        return cellProperties;
                    },
                    licenseKey: 'a70f6-b55ab-a3862-0471e-e915a',
                    afterChange: tableAdditionalInformationAfterChange
                });

                container.unblock();

                if (!isAccessRight) {
                    var hot = container.handsontable('getInstance');
                    hot.updateSettings({ readOnly: true });
                }

                enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
            }
        });
    }

    function tableAdditionalInformationAfterChange(changes, source) {
        if (source === 'edit' && changes.length) {
            tableAdditionalInformationChange = true;
            completedChange = true;
        }
    }

    function loadProfessionalService(profileId) {
        var container = $('div[name="professionalService"]');

        container.handsontable({
            data: [],
            minSpareRows: 1,
            colHeaders: ["Name of service", "Address", "Contact person", "Position", "Phone", "Email", "W.R.A.", "Date of report", "A.U.R."],
            colWidths: [107, 107, 107, 107, 107, 105, 46, 107, 42],
            contextMenu: false,
            cells: function (row, col, prop) {
                var cellProperties = {};
                return cellProperties;
            },
            beforeKeyDown: function(e) {
                var selection = container.handsontable('getSelected');
                var element = container.handsontable('getDataType',selection[0][0], selection[0][1], selection[0][2], selection[0][3]);
                if(element === 'date') {
                    if(e.keyCode === 8 || e.keyCode === 46) {
                        container.handsontable('setDataAtCell', selection[0][0], selection[0][1], '');
                    }
                    e.returnValue = false;
                }
            },
            licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
        });

        if (!isAccessRight) {
            var hot = container.handsontable('getInstance');
            hot.updateSettings({ readOnly: true });
        }

        ShowBlock(container, "Loading");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetProfessionalService", "TLDSManage")',
            data: {
                profileId: $('#profileId').val()
            },
            success: function (response) {

                handsonProfessionalServiceData = [];
                $.each(response.professionalServices, function (i, item) {
                    handsonProfessionalServiceData.push([
                        item["ProfessionalServiceId"],
                        item["ProfileId"],
                        item["Name"],
                        item["Address"],
                        item["ContactPerson"],
                        item["Position"],
                        item["Phone"],
                        item["Email"],
                        item["WrittenReportAvailable"],
                        item["ReportForwardedToSchoolDateString"],
                        item["AvailableUponRequested"]
                    ]);
                });

                container.handsontable({
                    data: handsonProfessionalServiceData,
                    minSpareRows: 1,
                    colHeaders: ["Name of service", "Address", "Contact person", "Position", "Phone", "Email", "W.R.A.", "Date of report", "A.U.R."],
                    colWidths: [107, 107, 107, 107, 107, 105, 46, 107, 42],
                    columns: [
                        { data: 2 },
                        { data: 3 },
                        { data: 4 },
                        { data: 5 },
                        { data: 6 },
                        { data: 7 },
                        { data: 8, type: "checkbox" },
                        {
                            data: 9, type: 'date', dateFormat: '@Model.DateFormatModel.HandsonTableDateFormat', correctFormat: true, className: 'colDate', datePickerConfig: {
                                onOpen: function (date) {
                                    var htDatepickerHolderEl = $('.htDatepickerHolder');
                                    if (!htDatepickerHolderEl) return;
                                    var inputDateWidth = $('.colDate').outerWidth();
                                    var dateWidth = htDatepickerHolderEl.outerWidth();
                                    var positionLeft = dateWidth - inputDateWidth - 2;
                                    positionLeft = `-${positionLeft}px`
                                    htDatepickerHolderEl.css({ "margin-left": positionLeft });
                                }
                            }
                        },
                        { data: 10, type: "checkbox" }
                    ],
                    headerTooltips: {
                        rows: false,
                        columns: true,
                        onlyTrimmed: true
                    },
                    contextMenu: false,
                    cells: function (row, col, prop) {
                        var cellProperties = {};

                        if (container.handsontable('getData')[row] != null) {
                        }

                        return cellProperties;
                    },
                    beforeKeyDown: function(e) {
                        var selection = container.handsontable('getSelected');
                        var element = container.handsontable('getDataType',selection[0][0], selection[0][1], selection[0][2], selection[0][3]);
                        if(element === 'date') {
                            if(e.keyCode === 8 || e.keyCode === 46) {
                                container.handsontable('setDataAtCell', selection[0][0], selection[0][1], '');
                            }
                            e.returnValue = false;
                        }
                    },
                    licenseKey: 'a70f6-b55ab-a3862-0471e-e915a',
                    afterChange: tableProfessionalServiceAfterChange,
                });

                container.unblock();

                if (!isAccessRight) {
                    var hot = container.handsontable('getInstance');
                    hot.updateSettings({ readOnly: true });
                }

                enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
            }
        });
    }

    function tableProfessionalServiceAfterChange(changes, source) {
        if (source === 'edit' && changes.length) {
            tableProfessionalServiceChange = true;
            completedChange = true;
        }
    }

    function checkProfessionalServicesValid(professionalServices) {
        var $divContainer = $('div[name="professionalService"]');
        var $rowArray = $divContainer.find('table tbody tr');

        //check required data
        var section102IsRequired = $("#cr-1").is(':checked');
        if (section102IsRequired) {
            for (var i = 0; i < professionalServices.length; i++) {
                var item = professionalServices[i];
                var isEmptyRow = true;
                if (item.Name != null && item.Name.trim().length > 0) {
                    isEmptyRow = false;
                }
                if (item.Address != null && item.Address.trim().length > 0) {
                    isEmptyRow = false;
                }

                if (item.ContactPerson != null && item.ContactPerson.trim().length > 0) {
                    isEmptyRow = false;
                }

                if (item.Position != null && item.Position.trim().length > 0) {
                    isEmptyRow = false;
                }

                if (item.Phone != null && item.Phone.trim().length > 0) {
                    isEmptyRow = false;
                }

                if (item.Email != null && item.Email.trim().length > 0) {
                    isEmptyRow = false;
                }

                if (item.WrittenReportAvailable != null && item.WrittenReportAvailable.toString().toLowerCase() == 'true') {
                    isEmptyRow = false;
                }
                if (item.ReportForwardedToSchoolDateString != null && item.ReportForwardedToSchoolDateString.trim().length > 0) {
                    isEmptyRow = false;
                }
                if (item.AvailableUponRequested != null && item.AvailableUponRequested.toString().toLowerCase() == 'true') {
                    isEmptyRow = false;
                }
                if (isEmptyRow == false) {
                    //user has input data for row
                    //check required field
                    //Check name
                    if (item.Name == null || item.Name.trim().length == 0) {
                        $rowArray.eq(i).find('td:nth-child(1)').addClass('is-error');
                        CustomAlert('Name is required');
                        return false;
                    }
                    else {
                        $rowArray.eq(i).find('td:nth-child(1)').removeClass('is-error');
                    }
                }
            }
        }
        return true;
    }
    function checkOtherReportPlansJSONDataValid(otherReportPlans) {
        var $divContainer = $('div[name="otherReportPlan"]');
        var $rowArray = $divContainer.find('table tbody tr');

        //check required data
        var section102IsRequired = $("#cr-1").is(':checked');
        if (section102IsRequired) {
            for (var i = 0; i < otherReportPlans.length; i++) {
                var item = otherReportPlans[i];
                var isEmptyRow = true;
                if (item.ReportName != null && item.ReportName.trim().length > 0) {
                    isEmptyRow = false;
                }
                if (item.ReportDateString != null && item.ReportDateString.trim().length > 0) {
                    isEmptyRow = false;
                }
                if (item.AvailableOnRequest != null && item.AvailableOnRequest.toString().toLowerCase() == 'true') {
                    isEmptyRow = false;
                }

                if (isEmptyRow == false) {
                    //user has input data for row
                    //check required field
                    //Check name
                    if (item.ReportName == null || item.ReportName.trim().length == 0) {
                        $rowArray.eq(i).find('td:nth-child(1)').addClass('is-error');
                        CustomAlert('Report Name is required');
                        return false;
                    }
                    else {
                        $rowArray.eq(i).find('td:nth-child(1)').removeClass('is-error');
                    }
                }
            }
        }
        return true;
    }
    function checkEarlyABLESReportsJSONDataValid(earlyABLESReports) {
        var reportcompleted = $("#ABLESReportCompleted_Yes").is(':checked');
        if (reportcompleted == false) {
            return true;//no need to check
        }
        var $divContainer = $('div[name="earlyABLESReports"]');
        var $rowArray = $divContainer.find('table tbody tr');

        //check required data
        var section102IsRequired = $("#cr-1").is(':checked');
        if (section102IsRequired) {
            for (var i = 0; i < earlyABLESReports.length; i++) {
                var item = earlyABLESReports[i];
                var isEmptyRow = true;
                if (item.ReportName != null && item.ReportName.trim().length > 0) {
                    isEmptyRow = false;
                }
                if (item.ReportDateString != null && item.ReportDateString.trim().length > 0) {
                    isEmptyRow = false;
                }
                if (item.LearningReadinessReportCompleted != null && item.LearningReadinessReportCompleted.toString().toLowerCase() == 'true') {
                    isEmptyRow = false;
                }
                if (item.AvailableOnRequest != null && item.AvailableOnRequest.toString().toLowerCase() == 'true') {
                    isEmptyRow = false;
                }

                if (isEmptyRow == false) {
                    //user has input data for row
                    //check required field
                    //Check name
                    if (item.ReportName == null || item.ReportName.trim().length == 0) {
                        $rowArray.eq(i).find('td:nth-child(1)').addClass('is-error');
                        CustomAlert('Report Name is required');
                        return false;
                    }
                    else {
                        $rowArray.eq(i).find('td:nth-child(1)').removeClass('is-error');
                    }
                }
            }
        }
        return true;
    }
    function saveEnhancedTransition() {
        $('#success-messages').hide();
        var professionalServices = getProfessionalServicesJSONData();
        var additionalInformation = getAdditionalInformationJSONData();
        var otherReportPlans = getOtherReportPlansJSONData();
        var earlyABLESReports = getEarlyABLESReportsJSONData();

        if (checkProfessionalServicesValid(professionalServices) == false) {
            return;
        }
        if (checkOtherReportPlansJSONDataValid(otherReportPlans) == false) {
            return;
        }
        if (checkEarlyABLESReportsJSONDataValid(earlyABLESReports) == false) {
            return;
        }

        var earlyABLESReportCompleted = getValueABLESReportCompleted();
        var section102IsRequired = $("#cr-1").is(':checked');
        var data = {
            profileId: $('#profileId').val(),
            professionalServiceData: JSON.stringify(professionalServices),
            additionalInformationData: JSON.stringify(additionalInformation),
            otherReportPlanData: JSON.stringify(otherReportPlans),
            TLDSEarlyABLESReportData: JSON.stringify(earlyABLESReports),
            section102IsNotRequired: !section102IsRequired,
            NoKWName: $('#NoKWName').val(),
            NoKWPhone: $('#NoKWPhone').val(),
            NoKWPosition: $('#NoKWPosition').val(),
            NoKWEmail: $('#NoKWEmail').val(),
            EARReportDate: $('#EARReportDate').val(),
            EARReportCompleted: $('#EARReportCompleted').is(':checked'),
            EARAttachmentURL: $('#EARAttachmentURL').is(':checked'),
            EARAvailableUponRequest: $('#EARAvailableUponRequest').is(':checked'),
            WasAnEarlyABLESReportCompleted: earlyABLESReportCompleted
        };

        var url = '@Url.Action("SaveEnhancedTransition", "TLDSManage")';

        ShowBlock($('#divOnTop'), "Saving");

        $.ajax({
            type: "POST",
            url: url,
            data: data
        })
            .done(function (response) {
                $('#divOnTop').unblock();

                if ($('#IsContinue').val() == 'true') {
                    location.href = "@Url.Action("ChildFamily", "TLDSManage")/?profileId=@Model.ProfileId";
                } else {
                    loadProfessionalService('@Model.ProfileId');
                    loadAdditionalInformation('@Model.ProfileId');
                    loadOtherReportPlan('@Model.ProfileId');
                    loadEarlyABLESReports('@Model.ProfileId');
                    $('#btnSubmit').enableBt();
                    $('#success-messages').show();
                }
                enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
                completedChange = false;
            });
    }

    function getValueABLESReportCompleted() {
        var completedYes = $("#ABLESReportCompleted_Yes").is(':checked');
        var completedNo = $("#ABLESReportCompleted_No").is(':checked');
        if (completedYes == true) {
            return true;
        } else if (completedNo == true) {
            return false;
        } else {
            return null;
        }
    }

    function refreshProfessionalService() {
        var container = $('div[name="professionalService"]');

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetProfessionalService", "TLDSManage")',
            data: {
                profileId: $('#profileId').val()
            },
            success: function (response) {

                handsonProfessionalServiceData = [];
                $.each(response.professionalServices, function (i, item) {
                    handsonProfessionalServiceData.push([
                        item["ProfessionalServiceId"],
                        item["ProfileId"],
                        item["Name"],
                        item["Address"],
                        item["ContactPerson"],
                        item["Position"],
                        item["Phone"],
                        item["Email"],
                        item["WrittenReportAvailable"],
                        item["ReportForwardedToSchoolDateString"],
                        item["AvailableUponRequested"]
                    ]);
                });

                container.handsontable({
                    data: handsonProfessionalServiceData,
                    minSpareRows: 1,
                    colHeaders: ["Name of service", "Address", "Contact person", "Position", "Phone", "Email", "W.R.A.", "Date of report", "A.U.R."],
                    colWidths: [107, 107, 107, 107, 107, 105, 46, 107, 42],
                    columns: [
                        { data: 2 },
                        { data: 3 },
                        { data: 4 },
                        { data: 5 },
                        { data: 6 },
                        { data: 7 },
                        { data: 8, type: "checkbox" },
                        { data: 9, type: 'date', dateFormat: '@Model.DateFormatModel.HandsonTableDateFormat', correctFormat: true },
                        { data: 10, type: "checkbox" }
                    ],
                    headerTooltips: {
                        rows: false,
                        columns: true,
                        onlyTrimmed: true
                    },
                    contextMenu: false,
                    cells: function (row, col, prop) {
                        var cellProperties = {};

                        if (container.handsontable('getData')[row] != null) {
                        }

                        return cellProperties;
                    },
                    beforeKeyDown: function(e) {
                        var selection = container.handsontable('getSelected');
                        var element = container.handsontable('getDataType',selection[0][0], selection[0][1], selection[0][2], selection[0][3]);
                        if(element === 'date') {
                            if(e.keyCode === 8 || e.keyCode === 46) {
                                container.handsontable('setDataAtCell', selection[0][0], selection[0][1], '');
                            }
                            e.returnValue = false;
                        }
                    },
                    licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
                });

                container.unblock();

                if (!isAccessRight) {
                    var hot = container.handsontable('getInstance');
                    hot.updateSettings({ readOnly: true });
                }

                enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
            }
        });
    }

    function refreshAdditionalInformation() {
        var container = $('div[name="additionalInformation"]');

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAdditionalInformation", "TLDSManage")',
            data: {
                profileId: $('#profileId').val()
            },
            success: function (response) {

                handsonAddtionalInformationData = [];
                $.each(response.addtionalInformation, function (i, item) {
                    handsonAddtionalInformationData.push([
                        item["AdditionalInformationId"],
                        item["ProfileId"],
                        item["AreasOfNote"],
                        item["StrategiesForEnhancedSupport"],
                        item["DateCreated"]
                    ]);
                });

                container.handsontable({
                    data: handsonAddtionalInformationData,
                    minSpareRows: 1,
                    colHeaders: ["Areas of note", "Strategies for enhanced support"],
                    colWidths: [418, 418],
                    columns: [
                        { data: 2 },
                        { data: 3 }
                    ],
                    contextMenu: false,
                    cells: function (row, col, prop) {
                        var cellProperties = {};

                        if (container.handsontable('getData')[row] != null) {
                        }

                        return cellProperties;
                    },
                    licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
                });

                container.unblock();

                if (!isAccessRight) {
                    var hot = container.handsontable('getInstance');
                    hot.updateSettings({ readOnly: true });
                }

                enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
            }
        });
    }

    function refreshOtherReport() {
        var container = $('div[name="otherReportPlan"]');

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetOtherReportPlan", "TLDSManage")',
            data: {
                profileId: $('#profileId').val()
            },
            success: function (response) {

                handsonOtherReportPlanData = [];
                $.each(response.otherReportPlans, function (i, item) {
                    handsonOtherReportPlanData.push([
                        item["OtherReportPlanId"],
                        item["ProfileId"],
                        item["ReportName"],
                        item["ReportDateString"],
                        item["AvailableOnRequest"]
                    ]);
                });

                container.handsontable({
                    data: handsonOtherReportPlanData,
                    minSpareRows: 1,
                    colHeaders: ["Report Name", "Date of report", "Available on request"],
                    colWidths: [278, 279, 278],
                    columns: [
                        { data: 2 },
                        { data: 3, type: 'date', dateFormat: '@Model.DateFormatModel.HandsonTableDateFormat', correctFormat: true },
                        { data: 4, type: "checkbox" }
                    ],
                    contextMenu: false,
                    beforeKeyDown: function(e) {
                        var selection = container.handsontable('getSelected');
                        var element = container.handsontable('getDataType',selection[0][0], selection[0][1], selection[0][2], selection[0][3]);
                        if(element === 'date') {
                            if(e.keyCode === 8 || e.keyCode === 46) {
                                container.handsontable('setDataAtCell', selection[0][0], selection[0][1], '');
                            }
                            e.returnValue = false;
                        }
                    },
                    cells: function (row, col, prop) {
                        var cellProperties = {};

                        if (container.handsontable('getData')[row] != null) {
                        }

                        return cellProperties;
                    },
                    licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
                })

                container.unblock();

                if (!isAccessRight) {
                    var hot = container.handsontable('getInstance');
                    hot.updateSettings({ readOnly: true });
                }

                enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
            }
        });
    }

    function refreshEarlyAblesReport() {
        var container = $('div[name="earlyABLESReports"]');

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetEarlyABLESReportData", "TLDSManage")',
            data: {
                profileId: $('#profileId').val()
            },
            success: function (response) {
                handsonEarlyABLESReportsnData = [];
                $.each(response.earlyABLESReports, function (i, item) {
                    handsonEarlyABLESReportsnData.push([
                        item["EarlyABLESReportId"],
                        item["ProfileId"],
                        item["ReportName"],
                        item["ReportDateString"],
                        item["LearningReadinessReportCompleted"],
                        item["AvailableOnRequest"]
                    ]);
                });

                container.handsontable({
                    data: handsonEarlyABLESReportsnData,
                    minSpareRows: 1,
                    colHeaders: ["Report Name", "Date of report", "Learning Readiness Report completed", "Available on request"],
                    colWidths: [199, 200, 239, 198],
                    columns: [
                        { data: 2 },
                        { data: 3, type: 'date', dateFormat: '@Model.DateFormatModel.HandsonTableDateFormat', correctFormat: true },
                        { data: 4, type: "checkbox" },
                        { data: 5, type: "checkbox" }
                    ],
                    contextMenu: false,
                    cells: function (row, col, prop) {
                        var cellProperties = {};

                        if (container.handsontable('getData')[row] != null) {
                        }

                        return cellProperties;
                    },
                    beforeKeyDown: function(e) {
                        var selection = container.handsontable('getSelected');
                        var element = container.handsontable('getDataType',selection[0][0], selection[0][1], selection[0][2], selection[0][3]);
                        if(element === 'date') {
                            if(e.keyCode === 8 || e.keyCode === 46) {
                                container.handsontable('setDataAtCell', selection[0][0], selection[0][1], '');
                            }
                            e.returnValue = false;
                        }
                    },
                    licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
                });

                container.unblock();

                if (!isAccessRight) {
                    var hot = container.handsontable('getInstance');
                    hot.updateSettings({ readOnly: true });
                }

                enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
            }
        });
    }

    function autoSaving() {
        if (completedChange) {
            var professionalServices = getProfessionalServicesJSONData();
            var additionalInformation = getAdditionalInformationJSONData();
            var otherReportPlans = getOtherReportPlansJSONData();
            var earlyABLESReports = getEarlyABLESReportsJSONData();

            if (checkProfessionalServicesValid(professionalServices) == false) {
                return;
            }
            if (checkOtherReportPlansJSONDataValid(otherReportPlans) == false) {
                return;
            }
            if (checkEarlyABLESReportsJSONDataValid(earlyABLESReports) == false) {
                return;
            }

        var earlyABLESReportCompleted = getValueABLESReportCompleted();
            var section102IsRequired = $("#cr-1").is(':checked');
            var data = {
                profileId: $('#profileId').val(),
                professionalServiceData: JSON.stringify(professionalServices),
                additionalInformationData: JSON.stringify(additionalInformation),
                otherReportPlanData: JSON.stringify(otherReportPlans),
                TLDSEarlyABLESReportData: JSON.stringify(earlyABLESReports),
                section102IsNotRequired: !section102IsRequired,
                NoKWName: $('#NoKWName').val(),
                NoKWPhone: $('#NoKWPhone').val(),
                NoKWPosition: $('#NoKWPosition').val(),
                NoKWEmail: $('#NoKWEmail').val(),
                EARReportDate: $('#EARReportDate').val(),
                EARReportCompleted: $('#EARReportCompleted').is(':checked'),
                EARAttachmentURL: $('#EARAttachmentURL').is(':checked'),
                EARAvailableUponRequest: $('#EARAvailableUponRequest').is(':checked'),
                WasAnEarlyABLESReportCompleted: earlyABLESReportCompleted
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveEnhancedTransition")',
                data: data
            }).done(function (response) {
                if (tableProfessionalServiceChange) {
                    refreshProfessionalService();
                    tableProfessionalServiceChange = false;
                }

                if (tableAdditionalInformationChange) {
                    refreshAdditionalInformation();
                    tableAdditionalInformationChange = false;
                }

                if (tableOtherReportChange) {
                    refreshOtherReport();
                    tableOtherReportChange = false;
                }

                if (tableEarlyAblesReportChange) {
                    refreshEarlyAblesReport();
                    tableEarlyAblesReportChange = false;
                }
                enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
            });

            completedChange = false;
        }
    }


    $('#btnSave').click(function () {
        $('#IsContinue').val('false');
        saveEnhancedTransition();
    });

    $('#btnSaveAndContinue').click(function () {
        if ($('#cr-1').is(":checked") && !checkHasData()) {
            CustomAlert('You have indicated that Section 1.2 is required for this child. Please include any relevant supporting information before proceeding');
        }
        else {
            $('#IsContinue').val('true');
            saveEnhancedTransition();
        }
    });

    $('#btnContinue').click(function () {
        var childFamilyUrl = '@Url.Action("ChildFamily", "TLDSManage")/?profileId=' + $('#profileId').val();

        if ($('#cr-1').is(":checked") && !checkHasData()) {
            CustomAlert('You have indicated that Section 1.2 is required for this child. Please include any relevant supporting information before proceeding');
        }
        else {
            if (isAccessRight) {
                var formData = getEnhancedTransitionsFormSerializeString();
                if (formData != enhancedTransitionsFormSerializeString) {
                    CustomConfirm({
                        message: 'Would you like to save changes before moving continue?',
                        customClass: 'new-style-popup',
                        yes: function () {
                            $("#btnSaveAndContinue").trigger("click");
                        },
                        no: function () {
                            //continue
                            if (!$('#cr-1').is(":checked") && !formBlank) {
                                CustomAlert('You have indicated that Section 1.2 is required for this child. Please include any relevant supporting information before proceeding');
                            }
                            else {
                                location.href = childFamilyUrl;
                            }
                        }
                    });
                } else {
                    location.href = childFamilyUrl;
                }
            } else {
                location.href = childFamilyUrl;
            }
        }
    });

    $('input[name=ABLESReportCompleted]').on('change', function () {
        $('input[name=ABLESReportCompleted]').not(this).prop('checked', false);
        var yes = $("#ABLESReportCompleted_Yes").is(':checked');
        var no = $("#ABLESReportCompleted_No").is(':checked');
        var container = $('div[name="earlyABLESReports"]');

        if (yes) {
            container.handsontable({
                columns: [
                    { data: 2 },
                    { data: 3, type: 'date', dateFormat: '@Model.DateFormatModel.HandsonTableDateFormat', correctFormat: true },
                    { data: 4, type: 'checkbox' },
                    { data: 5, type: 'checkbox' }
                ],
                licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
            });
        }

        if (no) {
            container.handsontable({
                columns: [
                    { data: 2, readOnly: true, disableVisualSelection: true },
                    { data: 3, type: 'date', dateFormat: '@Model.DateFormatModel.HandsonTableDateFormat', correctFormat: true, readOnly: true, disableVisualSelection: true },
                    { data: 4, type: 'checkbox', readOnly: true, disableVisualSelection: true },
                    { data: 5, type: 'checkbox', readOnly: true, disableVisualSelection: true }
                ],
                licenseKey: 'a70f6-b55ab-a3862-0471e-e915a',
            });
        }
    });

    $('#cr-1').change(function () {
        if (!$(this).is(':checked') && checkHasData()) {
            var confirmMessage = "If this section is not applicable for this child, the filled-in information will be removed. Are you sure you want to remove this section?";
            CustomConfirm({
                message: confirmMessage,
                customClass: 'new-style-popup',
                yes: function () {
                    $('#NoKWName').val('');
                    $('#NoKWPhone').val('');
                    $('#NoKWPosition').val('');
                    $('#NoKWEmail').val('');
                    // clear handsonProfessionalServiceData
                    for (var i = 0; i < handsonProfessionalServiceData.length; i++) {
                        for (var j = 1; j < handsonProfessionalServiceData[i].length; j++) {
                            handsonProfessionalServiceData[i][j] = null;
                        }
                    }
                    $('div[name="professionalService"]').handsontable({ data: handsonProfessionalServiceData });
                    $('div[name="professionalService"]').handsontable('render');

                    // clear handsonAddtionalInformationData
                    for (var i = 0; i < handsonAddtionalInformationData.length; i++) {
                        handsonAddtionalInformationData[i][2] = null;
                        handsonAddtionalInformationData[i][3] = null;
                    }
                    $('div[name="additionalInformation"]').handsontable({ data: handsonAddtionalInformationData });
                    $('div[name="additionalInformation"]').handsontable('render');

                    // clear handsonOtherReportPlanData
                    for (var i = 0; i < handsonOtherReportPlanData.length; i++) {
                        handsonOtherReportPlanData[i][2] = null;
                        handsonOtherReportPlanData[i][3] = null;
                        handsonOtherReportPlanData[i][4] = null;
                    }
                    $('div[name="otherReportPlan"]').handsontable({ data: handsonOtherReportPlanData });
                    $('div[name="otherReportPlan"]').handsontable('render');

                    // clear handsonEarlyABLESReportsnData
                    for (var i = 0; i < handsonEarlyABLESReportsnData.length; i++) {
                        for (var j = 1; j < handsonEarlyABLESReportsnData[i].length; j++) {
                            handsonEarlyABLESReportsnData[i][j] = null;
                        }
                    }
                    $('div[name="earlyABLESReports"]').handsontable({ data: handsonEarlyABLESReportsnData });
                    $('div[name="earlyABLESReports"]').handsontable('render');
                    changeStatusControlersSection12($(this).is(":checked"));
                    $('#saveEnhancedTransition .group-visible').hide();
                },
                no: function () {
                    $("#cr-1").prop('checked', true);
                },
                open: function () {
                },
                close: function () {
                },
            });
        } else if (!$(this).is(':checked')) {
            $('#saveEnhancedTransition .group-visible').hide();
        } else {
            $('#saveEnhancedTransition .group-visible').show();
            changeStatusControlersSection12(true);
        }

    });

    $('#saveEnhancedTransition').on('change paste', ':input', function (e) {
        $(this).data('val', $(this).val());
        completedChange = true;
    });

    $('#saveEnhancedTransition').on('keyup', ':input', function (e) {
        if ($(this).val() != $(this).data('val')) {
            $(this).data('val', $(this).val());
            completedChange = true;
        }
    });

    function loadEarlyABLESReports(profileId) {
        var container = $('div[name="earlyABLESReports"]');

        container.handsontable({
            data: [],
            minSpareRows: 1,
            colHeaders: ["Report Name", "Date of report", "Learning Readiness Report completed", "Available on request"],
            colWidths: [199, 200, 239, 198],
            contextMenu: false,
            cells: function (row, col, prop) {
                var cellProperties = {};
                return cellProperties;
            },
            beforeKeyDown: function(e) {
                var selection = container.handsontable('getSelected');
                var element = container.handsontable('getDataType',selection[0][0], selection[0][1], selection[0][2], selection[0][3]);
                if(element === 'date') {
                    if(e.keyCode === 8 || e.keyCode === 46) {
                        container.handsontable('setDataAtCell', selection[0][0], selection[0][1], '');
                    }
                    e.returnValue = false;
                }
            },
            licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
        });

        if (!isAccessRight) {
            var hot = container.handsontable('getInstance');
            hot.updateSettings({ readOnly: true });
        }

        ShowBlock(container, "Loading");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetEarlyABLESReportData", "TLDSManage")',
            data: {
                profileId: $('#profileId').val()
            },
            success: function (response) {
                handsonEarlyABLESReportsnData = [];
                $.each(response.earlyABLESReports, function (i, item) {
                    handsonEarlyABLESReportsnData.push([
                        item["EarlyABLESReportId"],
                        item["ProfileId"],
                        item["ReportName"],
                        item["ReportDateString"],
                        item["LearningReadinessReportCompleted"],
                        item["AvailableOnRequest"]
                    ]);
                });

                container.handsontable({
                    data: handsonEarlyABLESReportsnData,
                    minSpareRows: 1,
                    colHeaders: ["Report Name", "Date of report", "Learning Readiness Report completed", "Available on request"],
                    colWidths: [199, 200, 239, 198],
                    columns: [
                        { data: 2 },
                        { data: 3, type: 'date', dateFormat: '@Model.DateFormatModel.HandsonTableDateFormat', correctFormat: true },
                        { data: 4, type: "checkbox" },
                        { data: 5, type: "checkbox" }
                    ],
                    contextMenu: false,
                    cells: function (row, col, prop) {
                        var cellProperties = {};

                        if (container.handsontable('getData')[row] != null) {
                        }

                        return cellProperties;
                    },
                    beforeKeyDown: function(e) {
                        var selection = container.handsontable('getSelected');
                        var element = container.handsontable('getDataType',selection[0][0], selection[0][1], selection[0][2], selection[0][3]);
                        if(element === 'date') {
                            if(e.keyCode === 8 || e.keyCode === 46) {
                                container.handsontable('setDataAtCell', selection[0][0], selection[0][1], '');
                            }
                            e.returnValue = false;
                        }
                    },
                    licenseKey: 'a70f6-b55ab-a3862-0471e-e915a',
                    afterChange: tableAblesReportAfterChange,
                });

                container.unblock();

                if (!isAccessRight) {
                    var hot = container.handsontable('getInstance');
                    hot.updateSettings({ readOnly: true });
                }

                enhancedTransitionsFormSerializeString = getEnhancedTransitionsFormSerializeString();
            }
        });
    }

    function tableAblesReportAfterChange(changes, source) {
        if (source === 'edit' && changes.length) {
            tableEarlyAblesReportChange = true;
            completedChange = true;
        }
    }

    function getEnhancedTransitionsFormSerializeString() {
        var formData = $("#saveEnhancedTransition").serialize();
        //add more data from table
        var professionalServicesJSONData = getProfessionalServicesJSONData();
        formData = formData + JSON.stringify(professionalServicesJSONData) + JSON.stringify(getAdditionalInformationJSONData())
        + JSON.stringify(getOtherReportPlansJSONData()) + JSON.stringify(getEarlyABLESReportsJSONData());
        return formData;
    }
    function getProfessionalServicesJSONData() {
        var professionalServices = [];
        if (handsonProfessionalServiceData != undefined && handsonProfessionalServiceData != null && handsonProfessionalServiceData.length > 0) {
            $.each($('div[name="professionalService"]').handsontable('getData'), function (i, item) {
                professionalServices.push({
                    ProfessionalServiceId: handsonProfessionalServiceData[i][0],
                    ProfileId: handsonProfessionalServiceData[i][1],
                    Name: item[0],
                    Address: item[1],
                    ContactPerson: item[2],
                    Position: item[3],
                    Phone: item[4],
                    Email: item[5],
                    WrittenReportAvailable: item[6],
                    ReportForwardedToSchoolDateString: item[7],
                    AvailableUponRequested: item[8]
                });
            });
        }

        return professionalServices;
    }

    function getAdditionalInformationJSONData() {
        var additionalInformation = [];
        if (handsonAddtionalInformationData != undefined && handsonAddtionalInformationData != null && handsonAddtionalInformationData.length > 0) {
            $.each($('div[name="additionalInformation"]').handsontable('getData'), function (i, item) {
                additionalInformation.push({
                    AdditionalInformationId: handsonAddtionalInformationData[i][0],
                    ProfileId: handsonAddtionalInformationData[i][1],
                    AreasOfNote: item[0],
                    StrategiesForEnhancedSupport: item[1],
                    DateCreated: item[2]
                });
            });
        }

        return additionalInformation;
    }

    function getOtherReportPlansJSONData() {
        var otherReportPlans = [];
        if (handsonOtherReportPlanData != undefined && handsonOtherReportPlanData != null && handsonOtherReportPlanData.length > 0) {
            $.each($('div[name="otherReportPlan"]').handsontable('getData'), function (i, item) {
                otherReportPlans.push({
                    OtherReportPlanId: handsonOtherReportPlanData[i][0],
                    ProfileId: handsonOtherReportPlanData[i][1],
                    ReportName: item[0],
                    ReportDateString: item[1],
                    AvailableOnRequest: item[2]
                });
            });
        }

        return otherReportPlans;
    }

    function getEarlyABLESReportsJSONData() {

        var earlyABLESReports = [];
        if (handsonEarlyABLESReportsnData != undefined && handsonEarlyABLESReportsnData != null && handsonEarlyABLESReportsnData.length > 0) {
            $.each($('div[name="earlyABLESReports"]').handsontable('getData'), function (i, item) {
                earlyABLESReports.push({
                    EarlyABLESReportId: handsonEarlyABLESReportsnData[i][0],
                    ProfileId: handsonEarlyABLESReportsnData[i][1],
                    ReportName: item[0],
                    ReportDateString: item[1],
                    LearningReadinessReportCompleted: item[2],
                    AvailableOnRequest: item[3]
                });
            });
        }

        return earlyABLESReports;
    }

    function showABLEReport() {
        var yes = $("#ABLESReportCompleted_Yes").is(':checked');
        if (yes) {
            $('div[name="earlyABLESReports"]').show();
        } else {
            $('div[name="earlyABLESReports"]').hide();
        }
    }

    function changeStatusControlersSection12(sectionIsRequired) {
        var professionalService = $('div[name="professionalService"]').handsontable("getInstance");
        var additionalInformation = $('div[name="additionalInformation"]').handsontable("getInstance");
        var otherReportPlan = $('div[name="otherReportPlan"]').handsontable("getInstance");
        var earlyABLESReports = $('div[name="earlyABLESReports"]').handsontable("getInstance");

        if (!sectionIsRequired) {
            $('#NoKWName').prop('disabled', true).addClass('is-disabled');
            $('#NoKWPhone').prop('disabled', true).addClass('is-disabled');
            $('#NoKWPosition').prop('disabled', true).addClass('is-disabled');
            $('#NoKWEmail').prop('disabled', true).addClass('is-disabled');
            $('#EARReportDate').prop('disabled', true).addClass('is-disabled');
            $('#ABLESReportCompleted_Yes').prop('disabled', true).addClass('is-disabled');
            $('#ABLESReportCompleted_No').prop('disabled', true).addClass('is-disabled');

            professionalService.updateSettings({
                readOnly: true
            });
            additionalInformation.updateSettings({
                readOnly: true
            });
            otherReportPlan.updateSettings({
                readOnly: true
            });
            earlyABLESReports.updateSettings({
                readOnly: true
            });
        }
        else {
            $('#NoKWName').prop('disabled', false).removeClass('is-disabled');
            $('#NoKWPhone').prop('disabled', false).removeClass('is-disabled');
            $('#NoKWPosition').prop('disabled', false).removeClass('is-disabled');
            $('#NoKWEmail').prop('disabled', false).removeClass('is-disabled');
            $('#EARReportDate').prop('disabled', false).removeClass('is-disabled');
            $('#ABLESReportCompleted_Yes').prop('disabled', false).removeClass('is-disabled');
            $('#ABLESReportCompleted_No').prop('disabled', false).removeClass('is-disabled');

            professionalService.updateSettings({
                readOnly: false
            });
            additionalInformation.updateSettings({
                readOnly: false
            });
            otherReportPlan.updateSettings({
                readOnly: false
            });
            earlyABLESReports.updateSettings({
                readOnly: false
            });
        }
    }

    function checkHasData() {
        var professionalServices = getProfessionalServicesJSONData();
        var otherReportPlans = getOtherReportPlansJSONData();
        var earlyABLESReports = getEarlyABLESReportsJSONData();
        var additionalInformations = getAdditionalInformationJSONData();

        if (professionalServicesHasValues(professionalServices)) {
            return true;
        }
        if (additionalInformationHasValues(additionalInformations)) {
            return true;
        }
        if (otherReportPlansHasValues(otherReportPlans)) {
            return true;
        }
        if (earlyABLESReportsHasValues(earlyABLESReports)) {
            return true;
        }

        if ($('#NoKWName').val() !== '') return true;
        if ($('#NoKWPhone').val() !== '') return true;
        if ($('#NoKWPosition').val() !== '') return true;
        if ($('#NoKWEmail').val() !== '') return true;
    }

    function professionalServicesHasValues(professionalServices) {
        for (var i = 0; i < professionalServices.length; i++) {
            var item = professionalServices[i];
            if ((item.Name != null && item.Name.trim().length > 0) ||
                (item.Address != null && item.Address.trim().length > 0) ||
                (item.ContactPerson != null && item.ContactPerson.trim().length > 0) ||
                (item.Position != null && item.Position.trim().length > 0) ||
                (item.Phone != null && item.Phone.trim().length > 0) ||
                (item.Email != null && item.Email.trim().length > 0) ||
                (item.WrittenReportAvailable != null && item.WrittenReportAvailable.toString().toLowerCase() == 'true') ||
                (item.ReportForwardedToSchoolDateString != null && item.ReportForwardedToSchoolDateString.trim().length > 0) ||
                (item.AvailableUponRequested != null && item.AvailableUponRequested.toString().toLowerCase() == 'true')) {
                return true;
            }
        }
        return false;
    }

    function otherReportPlansHasValues(otherReportPlans) {
        for (var i = 0; i < otherReportPlans.length; i++) {
            var item = otherReportPlans[i];
            if ((item.ReportName != null && item.ReportName.trim().length > 0) ||
                (item.ReportDateString != null && item.ReportDateString.trim().length > 0) ||
                (item.AvailableOnRequest != null && item.AvailableOnRequest.toString().toLowerCase() == 'true')) {
                return true;
            }
        }
        return false;
    }

    function earlyABLESReportsHasValues(earlyABLESReports) {
        for (var i = 0; i < earlyABLESReports.length; i++) {
            var item = earlyABLESReports[i];
            if ((item.ReportName != null && item.ReportName.trim().length > 0) ||
                (item.ReportDateString != null && item.ReportDateString.trim().length > 0) ||
                (item.LearningReadinessReportCompleted != null && item.LearningReadinessReportCompleted.toString().toLowerCase() == 'true') ||
                (item.AvailableOnRequest != null && item.AvailableOnRequest.toString().toLowerCase() == 'true')) {
                return true;
            }
        }
        return false;
    }

    function additionalInformationHasValues(additionalInformations) {
        for (var i = 0; i < additionalInformations.length; i++) {
            var item = additionalInformations[i];
            if ((item.AreasOfNote != null && item.AreasOfNote.trim().length > 0) ||
                (item.StrategiesForEnhancedSupport != null && item.StrategiesForEnhancedSupport.trim().length > 0)) {
                return true;
            }
        }
        return false;
    }
</script>
