@model LinkIt.BubbleSheetPortal.Web.ViewModels.TLDSDigital.TldsViewTheParentResponseViewModel
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.ReportItemTLDSManager, "View the parent response", true);
    Layout = null;
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleTLDSDigitalSection23Bundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptTLDSDigitalSection23Bundle()
<style>
    p {
        font-size: 14px;
    }

    .u-w-190 p {
        font-size: 14px;
    }

    .tlds-alert a {
        color: #0c0c0c;
    }

        .tlds-alert a:hover {
            color: var(--blue8);
        }

    .tlds-alert span {
        color: white;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>View the parent response</title>
</head>
<body>

    <div class="container-fluid">
        <div class="col-sm-7 col-sm-offset-2 col-xs-12 custom-offset">
            <article class="container_12">
                <!--Section 2-->
                <div class="tlds-section">
                    <h2 class="tlds-print-heading tlds-print-line u-text-transform-normal">Section 2: The child</h2>
                    <div class="tlds-alert">
                        <p><span class="u-text-italic">It is important that the child feels comfortable and is not rushed when completing this section. If the child doesn't feel like filling it in, please try again or opt out of completing this section. Your child's early childhood educator will advise if you need to fill in this section with your child or not. </span></p>
                    </div>
                    <br />
                    <p>This section is completed by the child with the support of an adult they know and feel comfortable with. It reflects their feelings and perspectives around starting primary school. </p>
                    <br />
                </div>

                <table>
                    <tbody>
                        <tr>
                            <td class="u-w-190">
                                <p>Name of the person assisting <b>@ViewBag.ChildName</b> to complete this section:</p>
                            </td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection2.GuardianName)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190">
                                <p>Relationship to the child:</p>
                            </td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection2.Relationship)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                        <tr>
                            <td class="u-w-190">
                                <p>At home and/or Kindergarten/Child care my favourite thing is:</p>
                            </td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection2.Favourite)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190">
                                <p>I think I am really good at:</p>
                            </td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection2.Strengths)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190">
                                <p>Sometimes I might need help to:</p>
                            </td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection2.Weaknesses)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>Things that I am curious about:</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection2.Interested)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>I think school will be:</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection2.Expected)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h4 class="tlds-print-leading">Child's drawing:</h4>
                @if (!string.IsNullOrEmpty(Model.TldsFormSection2.Drawing))
                {
                    <div class="tlds-box">
                        <img id="imgChildPhoto" src="@Model.TldsFormSection2.Drawing" class="tlds-box-img img-center">
                    </div>
                }

                <!--Section 3-->
                <div class="tlds-section">
                    <h2 class="tlds-print-heading tlds-print-line u-text-transform-normal">Section 3: The family</h2>
                    <div class="tlds-alert">
                        <p>
                            <span class="u-text-italic">
                                This statement will be retained by the early childhood service, primary school and Outside School Hours Care (OSHC) service (if applicable), in accordance with Victorian privacy laws. If you have any questions around this, refer to the Introduction to transition information sheet, available at the Department of Education and Training's website in many different languages: <a target="_blank" href="https://www.education.vic.gov.au/childhood/professionals/learning/Pages/family.aspx">Transition resources for families </a>
                            </span>
                        </p>
                    </div>
                    <br />
                    <p>
                        This section is optional and should be completed by you, as the child's parent or guardian. Schools have reported that this is section is a valuable tool to assist your child to settle into school. Please take the time to fill in as much as you want.
                    </p>
                    <p>There is helpful information available to assist you to fill in this section on the Department of Education and Training's website in many different languages: <a target="_blank" href="https://www.education.vic.gov.au/childhood/professionals/learning/Pages/family.aspx">Guidelines to help families complete the Transition Learning and Development Statement </a></p>
                    <p>If you need assistance completing this section, please contact your child's early childhood educator.</p>
                    <br />
                </div>

                <table>
                    <tbody>
                        <tr>
                            <td class="u-w-190"><p>Name of person filling in this form:</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection3.GuardianName)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>Relationship to the child:</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection3.Relationship)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>What is your preferred language?</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection3.PreferredLanguage)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>Is your child Aboriginal and/or Torres Strait Islander?</p></td>
                            <td>
                                <label for="isAborigialCheckbox" class="tlds-checkbox tlds-checkbox-single">
                                    <input type="checkbox" disabled id="isAborigialCheckbox"
                                           @if (Model.TldsFormSection3.IsAborigial.HasValue && Model.TldsFormSection3.IsAborigial.Value) { <text> checked</text> }>
                                    <span>Yes</span>
                                </label>
                                <label for="unAborigialCheckbox" class="tlds-checkbox tlds-checkbox-single">
                                    <input type="checkbox" disabled id="unAborigialCheckbox"
                                           @if (Model.TldsFormSection3.IsAborigial.HasValue && !Model.TldsFormSection3.IsAborigial.Value) { <text> checked</text> }>
                                    <span>No</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>Does your child have any siblings or close relatives/kin attending the same primary school?</p></td>
                            <td>
                                <label for="haveSiblingCheckbox" class="tlds-checkbox tlds-checkbox-single">
                                    <input type="checkbox" disabled id="haveSiblingCheckbox"
                                           @if (Model.TldsFormSection3.HaveSiblingInSchool.HasValue && Model.TldsFormSection3.HaveSiblingInSchool.Value) { <text> checked</text> }>
                                    <span>Yes</span>
                                </label>
                                <label for="haveNoSiblingCheckbox" class="tlds-checkbox tlds-checkbox-single">
                                    <input type="checkbox" disabled id="haveNoSiblingCheckbox"
                                           @if (Model.TldsFormSection3.HaveSiblingInSchool.HasValue && !Model.TldsFormSection3.HaveSiblingInSchool.Value) { <text> checked</text> }>
                                    <span>No</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>If yes, please list their name/s and current grade level/s:</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection3.NameAndGradeOfSibling)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>As the child's first and most enduring teacher, a family's contributions are valued and support the relationship you will develop with your child's school. Please take some time to respond to the some or all of the questions below. </p>

                <table>
                    <tbody>
                        <tr>
                            <td class="u-w-190"><p>What are your hopes, wishes or goals for your child at school? (Prompts: making friends; being happy; learning to read; write; etc.)</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection3.Wishes)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>What would you like to know about school? (Prompts: what to bring on the first day? Teacher's name?)</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection3.InformationSchool)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>How do you think your child will settle into school? How can we help?</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection3.HelpInformation)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>Currently my child is interested in...</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection3.Interested)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>Overall I believe my child responds and learns best when...</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection3.ConditionImprovement)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="u-w-190"><p>Is there anything else you would like your child's new teacher to know about your child?</p></td>
                            <td>
                                <p>@Html.Raw(Model.TldsFormSection3.OtherInformation)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </div>


</body>
</html>
