@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.ResultsEntryDataLocker, "Add Attachment");
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }

    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

<script>
    var globalConfig = {};
    Object.defineProperty(globalConfig, "CurrentUserId", {
        value: @ViewBag.CurrentUserId,
        writable: false
    });
    Object.defineProperty(globalConfig, "FileTypeGroups", {
        value: JSON.parse('@(Html.Raw(ViewBag.AssessmentArtifactFileTypeGroups))'),
        writable: false
    });
</script>
<script src="@BundleHelper.Version("~/Scripts/edm-helper.js")"></script>
<script src="@BundleHelper.Version("~/Scripts/jquery.listSplitter.js")" type="text/javascript"></script>
<script src="@BundleHelper.Version("~/FeLibs/jquery-coolfieldset/js/jquery.coolfieldset.js")" type="text/javascript"></script>
<script src="@BundleHelper.Version("~/Scripts/date.js")" type="text/javascript"></script>
<script src="@BundleHelper.Version("~/Scripts/moment.min.js")" type="text/javascript"></script>
<script src="@BundleHelper.Version("~/Scripts/Qtip/jquery.qtip.js")"></script>
<link rel="stylesheet" href="@BundleHelper.Version("/Scripts/Qtip/jquery.qtip.css")">
<script src="@BundleHelper.Version("~/Scripts/Lib/vue.min.2.5.js")"></script>
<script src="@BundleHelper.Version("~/Scripts/Lib/vue-modal.js")"></script>
<script src="@BundleHelper.Version("~/Scripts/Lib/vue-confirm-dialog.js")"></script>
<script src="@BundleHelper.Version("~/Scripts/RecordRTC/RecordRTC.js")"></script>
<script src="@BundleHelper.Version("~/Scripts/RecordRTC/RecordRTCBase.js")"></script>
<script src="@BundleHelper.Version("~/Scripts/RecordRTC/plugin.js")"></script>
<script src="@BundleHelper.Version("~/Scripts/DataLockerForStudent/v2/common.js")" type="text/javascript"></script>
@Html.Partial("~/Views/DataLockerForStudent/v2/_StudentAttachmentsDialog.cshtml")
@Html.Partial("~/Views/DataLockerForStudent/Components/_TabRecordAudio.cshtml")
@Html.Partial("~/Views/DataLockerForStudent/Components/v2/_TabCaptureVideo.cshtml")
@Html.Partial("~/Views/DataLockerForStudent/Components/_TabCaptureImage.cshtml")
@Html.Partial("~/Views/DataLockerForStudent/Components/_TabAddAttachments.cshtml")
@Html.Partial("~/Views/DataLockerForStudent/Components/_AttachmentsList.cshtml")
@Html.Partial("~/Views/DataLockerForStudent/Components/_ItemPreviewDialog.cshtml")

<script src="@BundleHelper.Version("~/Scripts/DataLockerForStudent/DataLockerStudentAttachment.js")" type="text/javascript"></script>
<link href="@BundleHelper.Version("~/Content/css/v2/attachment-for-students.css")" rel="stylesheet" type="text/css" />

<div class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <h1>Add Attachment</h1>
                <div class="no-margin last-child">
                    <table id="classDataTable" class="datatable table table-assignment no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Result Date
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Data Locker Form
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Teacher
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Class
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Attachment Name
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Attachments
                                </th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="height: 60px;"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <input id="hdfDistrictId" value="@ViewBag.DistrictId" type="hidden" />
        <input id="hdfEnableSameTab" value="@ViewBag.EnableSameTab" type="hidden" />
    </section>
</div>
<script type="text/javascript">
    var customCategoryType = 'PortalType';
    function formatDateTime(tickDateTime, displayHour) {
        if (!tickDateTime && tickDateTime != 0) {
            return '';//default US
        }
        tickDateTime = tickDateTime.indexOf('/Date(') > -1 ? tickDateTime.replace(/\/Date\((\d+)\)\//g, "$1"):tickDateTime;
        var defaultDateFormat = readCookie('DefaultDateFormat') ?? 'MM/dd/yyyy';
        var defaultTimeFormat = readCookie('DefaultTimeFormat') ?? 'h:mm tt';

        if (displayHour != undefined && displayHour) {
            defaultDateFormat = defaultDateFormat + ' ' + defaultTimeFormat;
        }
        var date = new Date(parseFloat(tickDateTime));
        date = date.addMinutes(new Date().getTimezoneOffset());
        return date.toString(defaultDateFormat);
    }
    $(function () {
        LoadAttachmentForStudent();
    });
    function LoadAttachmentForStudent() {
        var options = {
            bServerSide: true,
            sServerMethod: "GET",
            bDestroy: true,
            bProcessing: false,
            sAjaxSource: '@Url.Action("GetAttachmentForStudent")',
            iDisplayLength: 25,
            aoColumns: [
                { sName: 'ResultDate', mData: 'ResultDate', bSearchable: true, bSortable: true, bVisible: true, sWidth: '58px' },
                { sName: 'VirtualTestName', mData: 'VirtualTestName', bSearchable: false, bSortable: true, bVisible: true, sWidth: '100px' },
                { sName: 'TeacherName', mData: 'TeacherName', bSearchable: false, bSortable: true, bVisible: true, sWidth: '75px' },
                { sName: 'ClassName', mData: 'ClassName', bSearchable: false, bSortable: true, bVisible: true, sWidth: '75px' },
                { sName: 'AttachmentName', mData: 'AttachmentName', bSearchable: false, bSortable: true, bVisible: true, sWidth: '90px' },
                { sName: 'Attachments', mData: 'Attachments', bSearchable: false, bSortable: true, bVisible: true, sWidth: '82px' },
                { sName: 'VirtualTestId', mData: 'VirtualTestId', bSearchable: false, bSortable: false, bVisible: false },
                { sName: 'TeacherID', mData: 'TeacherID', bSearchable: false, bSortable: false, bVisible: false },
                { sName: 'ClassId', mData: 'ClassId', bSearchable: false, bSortable: false, bVisible: false },
                { sName: 'FileNumber', mData: 'FileNumber', bSearchable: false, bSortable: false, bVisible: false },
                { sName: 'FilterJson', mData: 'FilterJson', bSearchable: false, bSortable: false, bVisible: false },
                { sName: 'TestResultScoreID', mData: 'TestResultScoreID', bSearchable: false, bSortable: false, bVisible: false },
                { sName: 'TestResultSubScoreID', mData: 'TestResultSubScoreID', bSearchable: false, bSortable: false, bVisible: false },
                { sName: 'Artifacts', mData: 'Artifacts', bSearchable: false, bSortable: false, bVisible: false },
                { sName: 'Status', mData: 'Status', bSearchable: false, bSortable: false, bVisible: false },
                { sName: 'MetaData', mData: 'MetaData', bSearchable: false, bSortable: false, bVisible: false },
            ],
            aaSorting: [[0, "desc"],[1,"asc"]],
            fnRowCallback: function (nRow, aData) {
                try {
                    var jsonFilter = JSON.parse(aData["FilterJson"]);
                    var resultDate = "<span class='tooltipBox'>" + formatDateTime(aData["ResultDate"]) + "</span>";
                    $('td:eq(0)', nRow).html(resultDate);
                    if (jsonFilter["PublishingToStudentPortal"]["AllowPublishing"] == "1") {
                        $('td:eq(1)', nRow).html(aData["VirtualTestName"]);
                        $('td:eq(2)', nRow).html(aData["TeacherName"].replace(',', ''));
                        $('td:eq(3)', nRow).html(aData["ClassName"]);
                        var suportFileTypes = [];
                        try {
                            var metaData = JSON.parse(aData["MetaData"]);
                            suportFileTypes = metaData.UploadFileTypes.split(',');
                        } catch {}
                        suportFileTypes = suportFileTypes.reduce(function (items, name) {
                            var type = globalConfig.FileTypeGroups.find(function (i) {
                                return i.Name === name
                            });
                            if (type) {
                                items = items.concat(type.SupportFileType);
                            }
                            return items;
                        }, []);
                        if (metaData.Description) {
                            var tooltipContent = '<a href="javascript:void(0)" title="' + metaData.Description + '" style="padding-left:4px" class="with-tip"><img style="margin-top:-2px;" src="/Content/images/icons/icon-info.svg"></a>'
                            $('td:eq(4)', nRow).append(tooltipContent);
                        }
                        var attachmentConfig = {
                            allowAudio: jsonFilter.AudioRecording.AllowRecording == '1',
                            allowVideo: jsonFilter.VideoRecording.AllowRecording == '1',
                            allowImage: jsonFilter.CameraCapture.AllowCapture == '1',
                            allowFile: jsonFilter.Upload.AllowUpload == '1',
                            allowModification: jsonFilter.ModificationUploadedArtifacts.AllowModification == '1',
                            suportFileTypes: suportFileTypes,
                        };
                        var allowAddAttachment = Object.keys(attachmentConfig).some(function (key) { return attachmentConfig[key]});
                        if (allowAddAttachment) {
                            var fileNumber = aData["FileNumber"];

                            var hyperLinkCode = '<button class="btn-blue custom-btn">Add Attachment</button>';
                            if (fileNumber) {
                                var img = '<img style="width:24px" src="@Url.Content("~/Content/images/icons/icon-shortcut-folder.png")" alt="" />'
                                hyperLinkCode = '<button class="btn-blue custom-btn btn-add-attachment">' + '<span>[' + fileNumber + ']</span>' + img + '</button>'
                            }
                            $('td:eq(5)', nRow).html('<div class="attachemt-cell">' + hyperLinkCode + '</div>');
                            $('td:eq(5)', nRow).on('click', 'button', function (e) {
                                e.preventDefault();
                                attachmentDialogVM.config = attachmentConfig;
                                attachmentDialogVM.attachmentsList = aData["Artifacts"] || [];
                                attachmentDialogVM.activeTab = 0;
                                attachmentDialogVM.showDialog = true;
                                attachmentDialogVM.scoreID = aData["TestResultSubScoreID"] ? null : aData["TestResultScoreID"];
                                attachmentDialogVM.subScoreID = aData["TestResultSubScoreID"] || null;
                            });
                        }
                    }
                    else {
                        $('td:eq(5)', nRow).html("");
                    }
                } catch (ex) { }
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#classDataTable'), 'Loading');
                $('#filterSheets').attr("disabled", "disabled");
                return true;
            },
            fnDrawCallback: function () {
                $('#classDataTable').unblock();
                $('.with-tip').tip();
                $('#filterSheets').removeAttr("disabled");

                if ($(".dataTables_empty")[0]) {
                    $('#btnExportTestAssignment').addClass("is-disabled");
                } else {
                    $('#btnExportTestAssignment').removeClass("is-disabled");
                }

                return true;
            },
            fnInitComplete: function () {
                var elSearchLabel = $('#classDataTable_filter label');
                var elSearchInput = elSearchLabel.find('input');

                elSearchInput.css({ paddingLeft: '35px', position: 'relative' });
                elSearchInput.get(0).style.setProperty('padding-left', '32px', 'important');

                elSearchLabel.replaceWith(elSearchInput);
                $('#classDataTable_filter').addClass('data-search');
            }
        };
        $("#classDataTable").data("options", options);
    }

    function ApplyFilter() {
        var dataTable = $('#classDataTable').dataTable();
        dataTable.fnDraw();
    }
</script>

<style>
    .modal-component-container .btn-action {
        background-image: linear-gradient(#e74c3c 0%,#9c190b 100%);
        height: 24px;
        width: 24px;
        border-radius: 12px;
        border: none;
        padding: 4px;
    }

        .modal-component-container .btn-action img {
            width: 100%;
            margin-bottom: 0;
        }

    .modal-component-container .btn-action--recording {
        background-image: linear-gradient(#5f6368 0%,#82878f 100%);
    }

    .attachemt-cell, .btn-add-attachment {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

        .btn-add-attachment img {
            width: 24px;
        }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

    .modal-component-container .modal-component-footer {
        display: flex;
        align-items: center;
    }

    .modal-component-footer .actions .flex-grow-1 {
        display: none;
    }

    .modal-component {
        background-color: rgba(0, 0, 0, .3) !important;
    }
</style>
