@model LinkIt.BubbleSheetPortal.Web.ViewModels.AuthorGroup.AddAuthorGroupUserSchoolDistrictViewModel
<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/dialog-draggable.css")" rel="stylesheet" type="text/css" />

<style>
    .center {
        text-align: center !important;
    }

    #addNewSchool {
        display: flex;
        justify-content: flex-end;
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        position: relative;
    }

    #closeBtn {
        top: 0 !important;
        right: 0 !important;
    }
</style>

<article class="container_12" style="margin-top: -10px; width: 700px;">
    <section class="grid_9">
        <div class="class-title">@Model.GroupName</div>
        <div class="block-border" id="reviewList">
            <div class="block-content form">
                <div class="title-container">
                    <p class="title-large mb-0">Manage Schools in Group</p>
                    <a id="closeBtn" href="#closeBtn" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a>
                </div>
                @if (Model.CanEditGroup)
                {
                    <a id="addNewSchool" href="javascript:void(0)" onclick="loadAddAuthorGroupSchool(event, '@Model.AuthorGroupId');" class="btn btn-link pe-0 mb-3">
                        Add school
                        <i class="fa-solid fa-plus ms-2"></i>
                    </a>
                }
                @Html.Partial("v2/_ListAuthorGroupSchoolList")
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    function loadAddAuthorGroupSchool(event, authorGroupId) {
        event.preventDefault();
        $('#listSchoolDiv').hide();
        $('#addSchoolDiv').show();
        $('#addSchoolDiv').empty();
        $('#addSchoolDiv').load('@Url.Action("GetSchoolForAuthorGroup")/?authorGroupId=' + authorGroupId, function () {
        });
    }

    $('#closeBtn').live('click', function () {
        $('.ui-widget-overlay').remove();
        $('#AssignParentForm').remove();
    });
</script>
