@model IEnumerable<LinkIt.BubbleSheetPortal.Models.TLDS.TLDSProfileLink>

    <style>
        .ellipis .copyToClipboard {
            display: inline-block;
            float: left;
            max-width: 16px;
            cursor: pointer;
        }

        .ellipis a:not(.copyToClipboard) {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            display: inline-block;
            float: left;
            max-width: 260px;
            margin-left: 5px;
        }

        .ui-dialog[aria-labelledby^="ui-dialog-title-CustomConfirmDialog_"]{
            width: 460px !important;
        }

        .ui-dialog .popup-alert-border {
            border: 0 none;
            background: none;
            box-shadow: none;
            padding: 0;
            border-radius: 0;
        }

        .ui-dialog .popup-alert-content {
            border: 0 none;
            border-radius: 0;
            box-shadow: none;
            padding: 0;
        }

        .ui-dialog .popup-alert-table td {
            border: 0 none !important;
            padding: 24px !important;
        }

            .ui-dialog .popup-alert-table td p{
                margin: 0;
                font-weight: bold;
            }

            .ui-dialog .popup-alert-table tr:last-child td {
                background-color: var(--navyColor) !important;
                color: white;
                padding: 10px !important;
            }

        .ui-dialog .popup-alert-controls {
            margin-top: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        #portal-v2-containter .ui-dialog .popup-alert-controls button {
            height: 48px;
            width: fit-content;
            text-align: center;
            border: none;
            margin: 0;
            color: var(--white);
        }

            #portal-v2-containter .ui-dialog .popup-alert-controls button:first-child {
                background-color: var(--btnAcceptBackground);
                order: 1;
            }

            #portal-v2-containter .ui-dialog .popup-alert-controls button:hover:first-child {
                background-color: var(--red2);
            }

                #portal-v2-containter .ui-dialog .popup-alert-controls button:hover:first-child:disabled, #portal-v2-containter .ui-dialog .popup-alert-controls button:first-child:disabled {
                    background-color: var(--redDisabled) !important;
                    color: #f3dbe1 !important;
                    border-color: var(--redDisabled) !important;
                    border: 2px solid var(--redDisabled) !important;
                    touch-action: none;
                    cursor: auto;
                }

        .new-style-popup .confirm-content{
            text-align: left !important;
        }

    </style>
    <link rel="stylesheet" href="/Scripts/Qtip/jquery.qtip.css">
    <link href="/Content/css/tlds.css" rel="stylesheet" />
    <div id="divNotifications" style="margin-top: 10px;"></div>
    <div id="divTLDSProfileLink"></div>
    <table style="width:100%;margin: 10px auto;" class="table no-margin">
        <thead>
            <tr>
                <th scope="col" style="min-width: 100px;text-align: center;"></th>
                <th scope="col" style="min-width: 60px;text-align: center;">Parent/Guardian</th>
                <th scope="col" style="min-width: 30px;text-align: center;">Section Completed</th>
                <th scope="col" style="min-width: 280px;text-align: center;">Profile's URL</th>
                <th scope="col" style="min-width: 70px;text-align: center;">Expiry Date</th>
                <th scope="col" style="min-width: 70px;text-align: center;">Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 0;
                var formatDate = ViewBag.FormatDate;
            }
            @foreach (var item in Model)
            {
                index += 1;
                <tr>
                    <td>
                        @if (item.IsShowActivate)
                        {
                            <a href="javascript:void(0);" title="Activate" onclick="activateTLDSProfileLink(event, '@item.TLDSProfileLinkID')" class="with-tip me-1">
                                <span class="fa-solid fa-circle-plus icon-green"></span>
                            </a>
                        }
                        @if (item.IsShowDeactivate)
                        {
                            <a href="javascript:void(0);" title="Deactivate" onclick="deactivateTLDSProfileLink(event,'@item.TLDSProfileLinkID')" class="with-tip me-1">
                                <span class="fa-solid fa-circle-minus icon-red"></span>
                            </a>
                        }
                        @if (item.IsShowRefresh)
                        {
                            <a href="javascript:void(0);" title="Refresh" onclick="refreshTLDSProfileLink(event,'@item.TLDSProfileLinkID')" class="with-tip me-1">
                                <span class="icon-grey fa-solid fa-rotate"></span>

                            </a>
                        }
                        <a href="/TLDSManage/ViewTheParentResponse?tldsProfileLinkId=@item.TLDSProfileLinkID" target="_blank" title="View" class="with-tip me-1">
                            <span class="fa-solid fa-eye icon-grey"></span>
                        </a>
                        @if (!item.IsReadOnly)
                        {
                            if (item.ProfileStatus == 10 || item.ProfileStatus == 40 || item.ProfileStatus == 50 || item.ProfileStatus == 60)
                            {
                                <a href="javascript:void(0);" target="_blank" title="Delete" onclick="deleteTLDSProfileLink(event,'@item.TLDSProfileLinkID')" class="with-tip me-1">
                                    <span class="fa-solid fa-circle-xmark icon-red"></span>
                                </a>
                            }
                        }

                    </td>
                    <td>@item.Guardian</td>
                    <td>@item.SectionCompleted</td>
                    <td class="ellipis">
                        <a index=@index class="copyToClipboard">
                            <img class="icon" style="height:16px;" src="@Url.Content("~/Content/themes/Constellation/images/icons/icon-link.svg")" />
                        </a>
                        <a target="_blank" class=@string.Format("link-{0}",index) href=@item.LinkUrl>...@item.LinkUrl.Split('/')[3]</a>
                    </td>
                    <td>@item.ExpiredDate.ToString(formatDate)</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript">
        $('.with-tip').tip();
        var activate = false;
        function deactivateTLDSProfileLink(event, tldsProfileLinkId) {
            event.preventDefault();
            if (@ViewBag.ProfileStatus === 30) {
                var vMessage = 'This TLDS profile is submitted, you cannot edit this TLDS profile link.';
                popupAlertMessage('alert', vMessage, 300, 500);
            }
            else {
                activate = false;
                var confirmMessage = "Do you want to deactivate this TLDSProfileLink?";
                popupAlertMessageV2('confirm', confirmMessage, 450, 500, 'confirmUpdateStatusTLDSProfileLink', tldsProfileLinkId);
            }
        }

        function confirmUpdateStatusTLDSProfileLink(e) {
            var $self = $(e);
            ShowBlock($('#divTLDSProfileLink'), 'Loading');
            var tldsProfileLinkId = $self.attr('valueInfor');
            $.post('@Url.Action("UpdateStatusTLDSProfileLink")', { tldsProfileLinkId: tldsProfileLinkId, value: activate }, function (response) {
                $('#divTLDSProfileLink').unblock();

                if (response.result == true) {
                    if (activate == true) {
                        LinkIt.success('#divNotifications', 'This TLDSProfileLink is Activate');
                    } else {
                        LinkIt.success('#divNotifications', 'This TLDSProfileLink is Deactivated');
                    }
                } else {
                    var vMessage = 'An error has occured. Please try again.';
                    popupAlertMessage('alert', vMessage, 300, 500);
                }
                LoadNewLink();
            });
            $self.parents('.ui-dialog').remove();
        }

        function activateTLDSProfileLink(event, tldsProfileLinkId) {
            event.preventDefault();
            if (@ViewBag.ProfileStatus === 30) {
                var vMessage = 'This TLDS profile is submitted, you cannot edit this TLDS profile link.';
                popupAlertMessage('alert', vMessage, 300, 500);
            }
            else {
                activate = true;
                var confirmMessage = "Do you want to Activate this TLDSProfileLink?";
                popupAlertMessageV2('confirm', confirmMessage, 450, 500, 'confirmUpdateStatusTLDSProfileLink', tldsProfileLinkId);
            }
        }

        $(document).on('click', '.copyToClipboard', function () {
            var element = $('.link-' + $(this).attr('index'))
            copyToClipboard(element);
            $("#divNotifications").empty();
            LinkIt.success('#divNotifications', 'This url has been copied to clipboard.');
        });

        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).attr('href')).select();
            document.execCommand("copy");
            $temp.remove();
        }

        function refreshTLDSProfileLink(event, tldsProfileLinkId) {
            var $self = $(event);
            event.preventDefault();
            if (@ViewBag.ProfileStatus === 30) {
                var vMessage = 'This TLDS profile is submitted, you cannot edit this TLDS profile link.';
                popupAlertMessage('alert', vMessage, 300, 500);
            }
            else {
                ShowBlock($('#divTLDSProfileLink'), 'Loading');
                $.post('@Url.Action("RefreshTSLDProfileLink")', { tldsProfileLinkId: tldsProfileLinkId }, function (response) {
                    $('#divTLDSProfileLink').unblock();

                    if (response.result == true) {
                        LinkIt.success('#divNotifications', 'This TLDSProfileLink has been extended day');
                    } else {
                        var vMessage = 'An error has occured. Please try again.';
                        popupAlertMessage('alert', vMessage, 300, 500);
                    }
                    LoadNewLink();
                });
                $self.parents('.ui-dialog').remove();
            }
        }

        function deleteTLDSProfileLink(event, tldsProfileLinkId) {
            var $self = $(event);
            event.preventDefault();
            CustomConfirm({
                message: 'Deleting this link will also delete any associated data submitted via this link?',
                customClass: 'new-style-popup',
                yes: function () {
                    ShowBlock($('#divTLDSProfileLink'), 'Loading');
                    $.post('@Url.Action("DeleteTldsProfileLink")', { tldsProfileLinkId: tldsProfileLinkId }, function (response) {
                        $('#divTLDSProfileLink').unblock();

                        if (response.Result) {
                            LinkIt.success('#divNotifications', 'This TLDS Profile Link has been deleted');
                        } else {
                            var vMessage = 'Has no right to delete this link';
                            popupAlertMessage('alert', vMessage, 300, 500);
                        }
                        LoadNewLink();
                    });
                    $self.parents('.ui-dialog').remove();
                },
                no: function () {

                }
            });
        }
    </script>
