@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TLDSDigital.TldsProfileDigitalViewModel

@{
    var hasEYALT = (Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeId == 6 && !string.IsNullOrEmpty(x.OriginalFileName) && !string.IsNullOrEmpty(x.S3FileName)) != null);
}

<div class="tlds-section">
    <h4 class="tlds-print-leading">Context of early years setting/s:</h4>
    @if (Model.ContextOfEarlyYearsSetting == null || Model.ContextOfEarlyYearsSetting == "")
    {
        <div class="tlds-box-background tlds-box-160"></div>
    }
    else
    {
        <div class="">@Html.Raw(Model.ContextOfEarlyYearsSetting)</div>
    }

    <h4 class="tlds-print-leading">Specific information:</h4>
    @if (Model.SpecificInformation == null || Model.SpecificInformation == "")
    {
        <div class="tlds-box-background tlds-box-220"></div>
    }
    else
    {
        <div class="">@Html.Raw(Model.SpecificInformation)</div>
    }

    <p>This Transition Learning and Development Statement includes:</p>

    <table>
        <tbody>
            <tr>
                <td style="border: none" class="u-w-110 u-text-center" style="vertical-align: middle;">
                    <label for="c-1-1" class="tlds-checkbox" style="margin-top: 20px">
                        <input type="checkbox" disabled id="c-1-1" @if (Model.DevelopmentOutcomeHasBeenSaved) { <text> checked</text> }>
                        <span></span>
                    </label>
                </td>
                <td>
                    <span class="u-c-red">
                        <b>Section 1: Child and Service Details </b><i>(mandatory)</i> summary of child and family contact
                        information including service context and specific information about the child and family that may impact on the child's continuity of learning.
                    </span>
                </td>
            </tr>
            <tr style="border: none">
                <td class="u-w-110 u-text-center" style="vertical-align: middle; border: none; padding-bottom: 0">
                    <label class="tlds-checkbox">
                        <input type="checkbox" @if (Model.DevelopmentOutcomeHasBeenSaved && !hasEYALT) { <text> checked</text> }>
                        <span></span>
                    </label>
                </td>
                <td style="background: none; border: none; padding-bottom: 0">
                    <p class="u-c-red" style="font-size: 16px">
                        <b>Section 1.1: Outcomes and Teaching Strategies </b><i>(mandatory)</i>
                    </p>
                    <p class="u-c-red" style="font-size: 16px">
                        summary by an early childhood educator of the child's abilities in each
                        of the Victorian Early Years Learning and Development Framework (VEYLDF) learning and
                        development outcomes and the Victorian Curriculum F-2 (as appropriate) and intentional teaching strategies to support the child's learning and development.
                    </p>
                    <p class="u-c-red" style="font-size: 16px"> OR</p>
                </td>
            </tr>
            <tr>
                <td class="u-w-110 u-text-center" style="vertical-align: middle; padding-top: 0">
                    <label class="tlds-checkbox">
                        <input type="checkbox" @if (Model.DevelopmentOutcomeHasBeenSaved && hasEYALT) { <text> checked</text> }>
                        <span></span>
                    </label>
                </td>
                <td style="background: none; padding-top: 0">
                    <p class="u-c-red" style="font-size: 16px">
                        uploaded EYALT Transitions report with at least the recommended minimum number of assessment modules completed for this child. Report contains intentional teaching strategies to support the child's learning and development.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="u-w-110 u-text-center">
                    <label for="c-1-2" class="tlds-checkbox">
                        <input type="checkbox" disabled id="c-1-2" @if (!Model.Section102IsNotRequired.HasValue || Model.Section102IsNotRequired.Value == false) { <text> checked</text> }>
                        <span></span>
                    </label>
                </td>
                <td>
                    <b>Section 1.2: Enhanced Transitions </b><i>(where applicable)</i>  information to support a child with a disability or developmental
                    delay who requires enhanced transition.
                </td>
            </tr>
            <tr>
                <td class="u-w-110 u-text-center">
                    <label for="c-1-3" class="tlds-checkbox">
                        <input type="checkbox" disabled id="c-1-3" @if (Model.Section2CheckedCompleted.HasValue && Model.Section2CheckedCompleted.Value) { <text> checked</text> }>
                        <span></span>
                    </label>

                </td>

                <td><b>Section 2: The child - </b>completed with the child.</td>
            </tr>

            <tr>
                <td class="u-w-110 u-text-center">
                    <label for="c-1-4" class="tlds-checkbox">
                        <input type="checkbox" disabled id="c-1-4" @if (Model.Section3CheckedCompleted.HasValue && Model.Section3CheckedCompleted.Value) { <text> checked</text> }>
                        <span></span>
                    </label>
                </td>
                <td><b>Section 3: The family - </b>completed by the family.</td>
            </tr>

            <tr>
                <td class="u-w-110 u-text-center">
                    <label for="c-1-4" class="tlds-checkbox">
                        <input type="checkbox" disabled id="c-1-4" @if (Model.Status != 10) { <text> checked</text> }>
                        <span></span>
                    </label>
                </td>
                <td>
                    <b>Section 4: Sharing the Transition Learning and Development Statement </b><i>(mandatory).</i>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<div class="tlds-section">
    <h3 class="tlds-print-heading-section u-text-transform-normal tlds-print-line">
        <b>Section 1.1: Outcomes and Teaching Strategies </b><i>(Mandatory)</i>
    </h3>

    @if (!hasEYALT)
    {
        @Html.Partial("_Section1.1", Model)
    }
    else
    {
        foreach (var image in Model.EYALTFileImages)
        {
            <text>
                <div class="tlds-section-document">
                    <img src="@image" />
                </div>
            </text>
        }
    }
</div>

@if (!Model.Section102IsNotRequired.HasValue || Model.Section102IsNotRequired.Value == false)
{
    @Html.Partial("_SectionPrint102")
}
