@model LinkIt.BubbleSheetPortal.Web.ViewModels.TLDSDigital.TldsFormSection3ViewModel

@{
    ViewBag.Title = "TLDS Digital";
}
@{
    Layout = null;
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleTLDSDigitalSection23Bundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptTLDSDigitalSection23Bundle()

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TLDS Digital Section 2 & 3</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="overflow-body hide"></div>

        @{Html.EnableClientValidation(true);}
        @{Html.EnableUnobtrusiveJavaScript();}

        @using (Html.BeginForm("FamilyForm", "TLDSDigitalSection23", FormMethod.Post, new { id = "formSection3", @class = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.TLDSFormSection3ID)
            @Html.HiddenFor(x => x.TLDSProfileLinkID)

            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                <img src="/Content/images/loading_grey_circle.gif" alt="Loading..." class="img-loading hide" />

                <div class="tlds-section">
                    <h2 class="tlds-print-heading tlds-print-line u-text-transform-normal">Section 3: The family</h2>
                    <p>This section has been completed by the child's family (parent/guardian).</p>
                </div>
            </div>

            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                <ul id="error-messages" class="message error" style="display: none; color: var(--red);"></ul>
                <table>
                    <tbody>
                        <tr>
                            <td class="col-xs-2">Name of person filling in this form:</td>
                            <td>
                                @Html.TextBoxFor(x => x.GuardianName, new { @class = "form-control tlds-input", @maxlength = 200, tabindex = 1 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">Relationship to the child:</td>
                            <td>
                                @Html.TextBoxFor(x => x.Relationship, new { @class = "form-control tlds-input", @maxlength = 200, tabindex = 2 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">What is your preferred language?</td>
                            <td>
                                @Html.TextBoxFor(x => x.PreferredLanguage, new { @class = "form-control tlds-input", @maxlength = 200, tabindex = 3 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">Is your child Aboriginal and/or Torres Strait Islander?</td>
                            <td>
                                <label for="isAborigialCheckbox" class="tlds-checkbox tlds-checkbox-single">
                                    <input type="checkbox" id="isAborigialCheckbox" name="aborigialCheckbox" value="true" tabindex="4"
                                           @if (Model.IsAborigial.HasValue && Model.IsAborigial.Value) { <text> checked</text> }>
                                    <span>Yes</span>
                                </label>
                                <label for="unAborigialCheckbox" class="tlds-checkbox tlds-checkbox-single">
                                    <input type="checkbox" id="unAborigialCheckbox" name="aborigialCheckbox" value="false" tabindex="5"
                                           @if (Model.IsAborigial.HasValue && !Model.IsAborigial.Value) { <text> checked</text> }>
                                    <span>No</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">Does your child have any siblings or close relatives/kin attending the same primary school?</td>
                            <td>
                                <label for="haveSiblingCheckbox" class="tlds-checkbox tlds-checkbox-single">
                                    <input type="checkbox" id="haveSiblingCheckbox" name="siblingCheckbox" value="true" tabindex="6"
                                           @if (Model.HaveSiblingInSchool.HasValue && Model.HaveSiblingInSchool.Value) { <text> checked</text> }>
                                    <span>Yes</span>
                                </label>
                                <label for="haveNoSiblingCheckbox" class="tlds-checkbox tlds-checkbox-single">
                                    <input type="checkbox" id="haveNoSiblingCheckbox" name="siblingCheckbox" value="false" tabindex="7"
                                           @if (Model.HaveSiblingInSchool.HasValue && !Model.HaveSiblingInSchool.Value) { <text> checked</text> }>
                                    <span>No</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">If yes, please list their name/s and current grade level/s:</td>
                            <td>
                                @Html.TextAreaFor(x => x.NameAndGradeOfSibling, new { @class = "form-control tlds-input", @maxlength = 500, tabindex = 8 })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                <p>As the child's first and most enduring teacher, a family's contributions are valued and support the relationship you will develop with your child's school. Please take some time to respond to the some or all of the questions below. </p>

                <table>
                    <tbody>
                        <tr>
                            <td class="col-xs-2">What are your hopes, wishes or goals for your child at school? (Prompts: making friends; being happy; learning to read; write; etc.)</td>
                            <td>
                                @Html.TextAreaFor(x => x.Wishes, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 9 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">What would you like to know about school? (Prompts: what to bring on the first day? Teacher's name?)</td>
                            <td>
                                @Html.TextAreaFor(x => x.InformationSchool, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 10 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">How do you think your child will settle into school? How can we help?</td>
                            <td>
                                @Html.TextAreaFor(x => x.HelpInformation, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 11 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">Currently my child is interested in...</td>
                            <td>
                                @Html.TextAreaFor(x => x.Interested, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 12 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">Overall I believe my child responds and learns best when...</td>
                            <td>
                                @Html.TextAreaFor(x => x.ConditionImprovement, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 13 })
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-2">Is there anything else you would like your child's new teacher to know about your child?</td>
                            <td>
                                @Html.TextAreaFor(x => x.OtherInformation, new { @class = "form-control tlds-input", @maxlength = 2000, tabindex = 14 })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                <div class="button-group">
                    <button id="backButton" type="button" class="btn btn-success tlds-button"> Back</button>
                    <button id="saveButton" type="button" class="btn btn-primary tlds-button"> Save</button>
                    <button id="submitButton" type="button" class="btn btn-primary tlds-button"> Submit</button>
                </div>
            </div>
        }
    </div>

</body>
</html>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">You have not completed all questions in this section. Are you sure you would like to submit?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-yes">Yes</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">No</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // #region Fields
    var url = window.location.protocol + '//' + window.location.host;
    var isAborigial = null;
    var haveSiblingInSchool = null;
    // #endregion Fields

    // #region Form Load
    $(function () {
        getControlValues();
    });
    // #endregion Form Load

    // #region Events

    $('textarea').each(function () {
        this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });

    $('#submitButton').click(function () {
        disableButton(true);
        if (checkRequiredFields()) {
            if (showConfirmSubmit()) {
                $("#mi-modal").modal('show');
            }
            else {
                submitForm();
            }
        }
        else {
            disableButton(false);
        }
    });

    var modalConfirm = function (callback) {
        $("#btn-confirm").on("click", function () {
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-yes").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            disableButton(false);
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };

    modalConfirm(function (confirm) {
        if (confirm) {
            submitForm();
        }
    });

    $("input:checkbox").change(function () {
        var name = $(this).attr("name");
        var id = $(this).attr("id");
        var isChecked = $(this).is(':checked');

        var group = "input:checkbox[name='" + name + "']";
        $(group).attr("checked", false);
        if (isChecked) {
            $(this).prop('checked', true);
        }

        var atLeastOneIsChecked = $(group + ":checked").length > 0;
        if (atLeastOneIsChecked) {
            $.each($(group + ":checked"), function () {
                if (name === 'aborigialCheckbox') {
                    isAborigial = $(this).val();
                }
                if (name === 'siblingCheckbox') {
                    haveSiblingInSchool = $(this).val();
                }
            });
        }
        else {
            if (name === 'aborigialCheckbox') {
                isAborigial = null;
            }
            if (name === 'siblingCheckbox') {
                haveSiblingInSchool = null;
            }
        }

        if (id === 'haveSiblingCheckbox') {
            $('#NameAndGradeOfSibling').attr('disabled', false);
        }
        if (id === 'haveNoSiblingCheckbox') {
            $('#NameAndGradeOfSibling').attr('disabled', true);
        }
    });

    $('#saveButton').click(function () {
        disableButton(true);
        var formData = $("#formSection3").serializeArray();
        formData.push({ name: "IsAborigial", value: isAborigial });
        formData.push({ name: "HaveSiblingInSchool", value: haveSiblingInSchool });
        if (!haveSiblingInSchool) {
            formData.NameAndGradeOfSibling = null;
        }

        $.ajax({
            url: url + "/TLDSDigitalSection23/AddOrUpdateSection3",
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.status === "success") {
                    window.location = response.newUrl;
                }
            },
            failure: function (response) {
                disableButton(false);
                alert(response);
            }
        });
    });

    $('#backButton').click(function () {
        disableButton(true);
        var profileLinkId = getUrlParameter('tldsProfileLinkId');
        location.href = 'Index/' + profileLinkId;
    });
    // #endregion Events

    // #region Functions
    var getControlValues = function () {
        $.each($("input:checkbox[name='aborigialCheckbox']:checked"), function () {
            isAborigial = $(this).val();
        });

        $.each($("input:checkbox[name='siblingCheckbox']:checked"), function () {
            haveSiblingInSchool = $(this).val();

            if (haveSiblingInSchool === 'false') {
                $('#NameAndGradeOfSibling').attr('disabled', true);
            }
        });
    };

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    function checkRequiredFields() {
        let errors = [];
        if (!$("#GuardianName").val()) errors.push("Required Field: Name of person filling in this form");
        if (!$("#Relationship").val()) errors.push("Required Field: Relationship to the child");
        $("#error-messages").empty();
        for (var i = 0; i < errors.length; i++) {
            $("#error-messages").append("<li>" + errors[i] + "</li>");
            $("#error-messages").show();
            $("html, body").animate({ scrollTop: 0 }, 200);
        }

        return errors.length == 0;
    }

    function showConfirmSubmit() {
        var missInfo = false;
        if (!$("#PreferredLanguage").val()) missInfo = true;
        if (!$("#Wishes").val()) missInfo = true;
        if (!$("#InformationSchool").val()) missInfo = true;
        if (!$("#HelpInformation").val()) missInfo = true;
        if (!$("#Interested").val()) missInfo = true;
        if (!$("#ConditionImprovement").val()) missInfo = true;
        if (!$("#OtherInformation").val()) missInfo = true;

        return missInfo;
    }

    function submitForm() {
        var formData = $('#formSection3').serializeArray();
        formData.push({ name: "IsAborigial", value: isAborigial });
        formData.push({ name: "HaveSiblingInSchool", value: haveSiblingInSchool });
        if (!haveSiblingInSchool) {
            formData.NameAndGradeOfSibling = null;
        }

        $.ajax({
            url: url + "/TLDSDigitalSection23/FamilyForm",
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.status === "success") {
                    window.location = response.newUrl;
                }
            },
            failure: function (response) {
                disableButton(false);
                alert(response);
            }
        });
    }

    function disableButton(disabled) {
        $('#saveButton').attr("disabled", disabled);
        $('#submitButton').attr("disabled", disabled);
        $('#backButton').attr("disabled", disabled);
    }
    // #endregion Functions
</script>

