@model LinkIt.BubbleSheetPortal.Web.ViewModels.TLDSDigital.TldsWelcomeViewModel

@{
    ViewBag.Title = "TLDS Digital";
}
@{
    Layout = null;
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleTLDSDigitalSection23Bundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptTLDSDigitalSection23Bundle()

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TLDS Digital Section 2 & 3</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid" id="container">

        <div class="carousel-inner banner" role="listbox">
            <div class="col-sm-10 col-xs-12 col-sm-offset-1">
                <h2 class="title">Welcome to the Online TLDS</h2>
                <p>
                    Your child's early childhood service is required to write a Transition Learning and Development Statement (TLDS) to support your child's transition to school.
                    </p>
                <p>The TLDS:</p>
                    <ul>
                        <li>
                            <p style="margin-bottom: -1px;">summarises your child's learning and development</p>
                        </li>
                        <li>
                            <p style="margin-bottom: -1px;">identifies their individual approaches to learning and their interests</p>
                        </li>
                        <li>
                            <p>indicates how they can be supported to continue learning. </p>
                        </li>
                    </ul>
                    <p>The information in the TLDS helps prep teachers get to know the children entering their classes and prepare appropriate learning and teaching programs. The TLDS is not a report card.</p>
                    <p>This TLDS will be shared with your child's school and, if applicable, the Outside School Hours Care service (OSHC). However, if you wish to opt out of having this TLDS shared, please speak with your child's early childhood educator.</p>
                    <p>Your child's early childhood educator has completed their part of this TLDS and is now seeking your input. Once completed, they will provide you with a final copy.</p>
                    <p>Please read the information your child's early childhood educator has provided in Section 1.1 (and 1.2, if applicable). Please speak with your child's early childhood educator if you have any questions about the information written in these sections of the TLDS.</p>
                    <p>You should have received the <i>Introduction to transition information sheet</i> from your child's early childhood educator, which provides information about the online platform and privacy. If you have not received this, it is available at the Department of Education and Training website in many different languages: <a target="_blank" href="https://www.education.vic.gov.au/childhood/professionals/learning/Pages/family.aspx">Transition resources for families</a></p>
                <br />
            </div>
            <div class="item active">
                <div class="col-sm-10 col-xs-12 col-sm-offset-1 slide">
                    <h2>Your child's TLDS</h2>
                    <p> Section 1 (and 1.2 if your child has a disability or developmental delay) has been completed by your child's early childhood educator. It captures details about your child and the early childhood service. </p>
                    <button id="viewChildInfoButton" class="btn btn-primary">View >></button>
                </div>
            </div>
            <div class="item active">
                <div class="col-sm-10 col-xs-12 col-sm-offset-1 slide">
                    <h2>Section 2 - The child</h2>
                    <p> This section is completed by your child with the support of an adult they know and feel comfortable with. It reflects their feelings and perspectives around starting primary school. </p>

                    @if (Model.FormSection2Status.IsSubmitted)
                    {
                        <button id="section2Button" class="btn btn-secondary" disabled>@Model.FormSection2Status.ButtonText</button>
                    }
                    else
                    {
                        if (ViewBag.ReadOnly)
                        {
                            <button id="section2Button" class="btn btn-primary" disabled> @Model.FormSection2Status.ButtonText >></button>
                        }
                        else
                        {
                            <button id="section2Button" class="btn btn-primary"> @Model.FormSection2Status.ButtonText >></button>
                        }
                    }
                </div>
            </div>
            <div class="item active">
                <div class="col-sm-10 col-xs-12 col-sm-offset-1 slide">
                    <h2>Section 3 - The family</h2>
                    <p> This optional section should be completed by you, as the child's parent or guardian. Schools have reported that this information is valuable for them to assist your child to settle into school. Please take the time to fill in as much as you want. If you need assistance completing this section, please contact your child's early childhood educator. </p>
                    @if (Model.FormSection3Status.IsSubmitted)
                    {
                        <button id="section3Button" class="btn btn-secondary" disabled>@Model.FormSection3Status.ButtonText</button>
                    }
                    else
                    {
                        if (ViewBag.ReadOnly)
                        {
                            <button id="section3Button" class="btn btn-primary" disabled> @Model.FormSection3Status.ButtonText >></button>
                        }
                        else
                        {
                            <button id="section3Button" class="btn btn-primary"> @Model.FormSection3Status.ButtonText >></button>
                        }
                    }
                </div>
            </div>
        </div>

    </div>

</body>
</html>

<script type="text/javascript">
    // #region Fields
    var url = window.location.protocol + '//' + window.location.host;
    var id = '@ViewBag.TldsProfileLinkID';
    // #endregion Fields

    // #region Events
    $("#viewChildInfoButton").on("click", function () {
        var newUrl = url + "/TLDSDigitalSection23/ChildInformation/" + id;
        window.location = newUrl;
    });

    $("#section2Button").on("click", function () {
        var newUrl = url + "/TLDSDigitalSection23/ChildForm?tldsProfileLinkId=" + id;
        window.location = newUrl;
    });

    $("#section3Button").on("click", function () {
        var newUrl = url + "/TLDSDigitalSection23/FamilyForm?tldsProfileLinkId=" + id;
        window.location = newUrl;
    });
    // endregion Events
</script>

