@using LinkIt.BubbleSheetPortal.Models;
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SecuritySettingsMap
@using LinkIt.BubbleSheetPortal.Web.Helpers

<link href="@BundleHelper.Version("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" type="text/css" />
<link href="@BundleHelper.Version("~/Content/css/v2/testPreferenceSettingArea.css")" rel="stylesheet" type="text/css" />

<style>
    .w-35 {
        width: 35%;
    }

    #accordion-security-setting .accordion-content {
        overflow: hidden;
    }
</style>
<div class="accordion-scroll mt-3">
    <div id="accordion-security-setting" class="accordion">
        @if (ViewBag.CurrentLevelId == (int)SecurityPreferenceLevel.Enterprise)
        {
            <div id="accordion-title-publisher" class="accordion-title">
                <h3>Publisher</h3>
                <div>
                    <span class="clock-settings-area">
                        <input type="checkbox" id="chklockPublisher" />
                        <label for="chklockPublisher">Lock/Unlock Settings</label>
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div id="accordion-content-publisher" class="accordion-content">
                <table class="table table-accordion u-w-p-100">
                    <tbody>
                        <tr>
                            <td class="table-accordion-title">Enable MFA via Email</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="enableMFAEmail_publisher" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_enableMFAEmail_publisher" /> OFF
                                    <input type="radio" value="1" name="_enableMFAEmail_publisher" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)SecurityPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockEnableMFAEmail_publisher" />
                                        <label for="chklockEnableMFAEmail_publisher">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="accordion-title">
                <h3>Network Admin</h3>
                <div>
                    <span class="clock-settings-area">
                        <input type="checkbox" id="chklockNetworkAdmin" />
                        <label for="chklockNetworkAdmin">Lock/Unlock Settings</label>
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="accordion-content">
                <table class="table table-accordion u-w-p-100">
                    <tbody>
                        <tr>
                            <td class="table-accordion-title">Enable MFA via Email</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="enableMFAEmail_networkAdmin" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_enableMFAEmail_networkAdmin" /> OFF
                                    <input type="radio" value="1" name="_enableMFAEmail_networkAdmin" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)SecurityPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockEnableMFAEmail_networkAdmin" />
                                        <label for="chklockEnableMFAEmail_networkAdmin">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }

        @if (ViewBag.CurrentLevelId == (int)SecurityPreferenceLevel.Enterprise || ViewBag.CurrentLevelId == (int)SecurityPreferenceLevel.District)
        {
            <div id="accordion-title-district-admin" class="accordion-title">
                <h3>District Admin</h3>
                <div>
                    <span class="clock-settings-area">
                        <input type="checkbox" id="chklockDistrictAdmin" />
                        <label for="chklockDistrictAdmin">Lock/Unlock Settings</label>
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div id="accordion-content-district-admin" class="accordion-content">
                <table class="table table-accordion u-w-p-100">
                    <tbody>
                        <tr>
                            <td class="table-accordion-title">Enable MFA via Email</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="enableMFAEmail_districtAdmin" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_enableMFAEmail_districtAdmin" /> OFF
                                    <input type="radio" value="1" name="_enableMFAEmail_districtAdmin" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)SecurityPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockEnableMFAEmail_districtAdmin" />
                                        <label for="chklockEnableMFAEmail_districtAdmin">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }

        @if (ViewBag.CurrentLevelId == (int)SecurityPreferenceLevel.Enterprise || ViewBag.CurrentLevelId == (int)SecurityPreferenceLevel.District)
        {
            <div id="accordion-title-school-admin" class="accordion-title">
                <h3>School Admin</h3>
                <div>
                    <span class="clock-settings-area">
                        <input type="checkbox" id="chklockSchoolAdmin" />
                        <label for="chklockSchoolAdmin">Lock/Unlock Settings</label>
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div id="accordion-content-school-admin" class="accordion-content">
                <table class="table table-accordion u-w-p-100">
                    <tbody>
                        <tr>
                            <td class="table-accordion-title">Enable MFA via Email</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="enableMFAEmail_schoolAdmin" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_enableMFAEmail_schoolAdmin" /> OFF
                                    <input type="radio" value="1" name="_enableMFAEmail_schoolAdmin" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)SecurityPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockEnableMFAEmail_schoolAdmin" />
                                        <label for="chklockEnableMFAEmail_schoolAdmin">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="accordion-title">
                <h3>Teacher</h3>
                <div>
                    <span class="clock-settings-area">
                        <input type="checkbox" id="chklockTeacher" />
                        <label for="chklockTeacher">Lock/Unlock Settings</label>
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="accordion-content">
                <table class="table table-accordion u-w-p-100">
                    <tbody>
                        <tr>
                            <td class="table-accordion-title">Enable MFA via Email</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="enableMFAEmail_teacher" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_enableMFAEmail_teacher" /> OFF
                                    <input type="radio" value="1" name="_enableMFAEmail_teacher" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)SecurityPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockEnableMFAEmail_teacher" />
                                        <label for="chklockEnableMFAEmail_teacher">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="accordion-title">
                <h3>Parent</h3>
                <div>
                    <span class="clock-settings-area">
                        <input type="checkbox" id="chklockParent" />
                        <label for="chklockParent">Lock/Unlock Settings</label>
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="accordion-content">
                <table class="table table-accordion u-w-p-100">
                    <tbody>
                        <tr>
                            <td class="table-accordion-title">Enable MFA via Email</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="enableMFAEmail_parent" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_enableMFAEmail_parent" /> OFF
                                    <input type="radio" value="1" name="_enableMFAEmail_parent" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)SecurityPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockEnableMFAEmail_parent" />
                                        <label for="chklockEnableMFAEmail_parent">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="accordion-title">
                <h3>Student</h3>
                <div>
                    <span class="clock-settings-area">
                        <input type="checkbox" id="chklockStudent" />
                        <label for="chklockStudent">Lock/Unlock Settings</label>
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="accordion-content">
                <table class="table table-accordion u-w-p-100">
                    <tbody>
                        <tr>
                            <td class="table-accordion-title">Enable MFA via Email</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="enableMFAEmail_student" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_enableMFAEmail_student" /> OFF
                                    <input type="radio" value="1" name="_enableMFAEmail_student" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)SecurityPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockEnableMFAEmail_student" />
                                        <label for="chklockEnableMFAEmail_student">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }

        @if (ViewBag.CurrentLevelId == (int)SecurityPreferenceLevel.User)
        {
            <div id="accordion-title-user" class="accordion-title">
                <h3>User</h3>
                <div>
                    <span class="clock-settings-area">
                        <input type="checkbox" id="chklockUser" />
                        <label for="chklockUser">Lock/Unlock Settings</label>
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div id="accordion-content-user" class="accordion-content">
                <table class="table table-accordion u-w-p-100">
                    <tbody>
                        <tr>
                            <td class="table-accordion-title">Enable MFA via Email</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="enableMFAEmail_user" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_enableMFAEmail_user" /> OFF
                                    <input type="radio" value="1" name="_enableMFAEmail_user" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)SecurityPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockEnableMFAEmail_user" />
                                        <label for="chklockEnableMFAEmail_user">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
<div class="text-end">
    <button class="w70 me-0" id="btnSecuritySettingSubmit" type="button" disabled>Apply</button>
</div>

<script>
    $(function () {

        $('select').on('change', function () {
            $("#btnSecuritySettingSubmit").attr('disabled', false);
        });

        activeAccordion();

    });

    function getAllSectionCheckBoxes() {
        return [
            'chklockPublisher',
            'chklockNetworkAdmin',
            'chklockDistrictAdmin',
            'chklockSchoolAdmin',
            'chklockTeacher',
            'chklockParent',
            'chklockStudent',
            'chklockUser'
        ];
    }

    function getChildrenCheckBoxes(sectionId) {
        switch (sectionId) {
            case 'chklockPublisher':
                return [
                    'chklockEnableMFAEmail_publisher'
                ];
            case 'chklockNetworkAdmin':
                return [
                    'chklockEnableMFAEmail_networkAdmin'
                ];
            case 'chklockDistrictAdmin':
                return [
                    'chklockEnableMFAEmail_districtAdmin'
                ];
            case 'chklockSchoolAdmin':
                return [
                    'chklockEnableMFAEmail_schoolAdmin'
                ];
            case 'chklockTeacher':
                return [
                    'chklockEnableMFAEmail_teacher'
                ];
            case 'chklockParent':
                return [
                    'chklockEnableMFAEmail_parent'
                ];
            case 'chklockStudent':
                return [
                    'chklockEnableMFAEmail_student'
                ];
            case 'chklockUser':
                return [
                    'chklockEnableMFAEmail_user'
                ];
        }

        return [];
    }

    function toogleCheckBox(elementId, checked) {
        let element = $(`#${elementId}`);
        if (element.length && element.is(':checked') !== checked) {
            element.prop('checked', checked);
            if (checked) {
                element.addClass('input-checked-v2');
            }
            else {
                element.removeClass('input-checked-v2');
            }
        }
    }

    function isEnabled(elementId) {
        return !$(`#${elementId}`).is(':disabled');
    }

    function isExisted(elementId) {
        return $(`#${elementId}`).length > 0;
    }

    function activeAccordion() {
        var settingType = $('#selectSettingType').val();
        switch (settingType) {
            case '1':
                $('#accordion-title-publisher').addClass('active');
                $('#accordion-content-publisher').addClass('active');
                break;
            case '2':
                $('#accordion-title-district-admin').addClass('active');
                $('#accordion-content-district-admin').addClass('active');
                break;
            case '3':
                $('#accordion-title-user').addClass('active');
                $('#accordion-content-user').addClass('active');
                break;
        }
    }

</script>

<script type="text/javascript">
    (function ($) {
        'use strict';

        $('#accordion-security-setting .accordion-title').on('click', function (e) {
            var $self = $(this);
            var clockSettings = $self.find('.clock-settings-area');
            if (clockSettings.length > 0 && $.contains(clockSettings[0], e.target)) {
                e.stopPropagation();
            }
            else {
                var $accordionContent = $self.next();
                if ($self.hasClass('active')) {
                    $self.removeClass('active');
                    $accordionContent.slideUp();
                } else {
                    $self.addClass('active');
                    $accordionContent.slideDown();
                }
            }
        });

    }(jQuery));
</script>

<script>
    securityPreferenceModel = @Html.Raw(Json.Encode(Model.SecuritySettingModel));
    $('#lastUpdateInfor').empty();
    if ('@ViewBag.LastUpdatedDate' && '@ViewBag.LastUpdatedDate' != '') {
        $('#lastUpdateInfor').append('<label><b>Last Update:</b> @ViewBag.LastUpdatedDate</label>');
    }

    FillDataToLayout($('#selectSettingType').val());

    function initLockAllSettings(checkDisabled = true) {
        var sectionIds = getAllSectionCheckBoxes().filter(e => isExisted(e));
        sectionIds.forEach(sectionId => {
            var checkboxIds = getChildrenCheckBoxes(sectionId).filter(e => isExisted(e));
            if (checkboxIds.length > 0) {
                var section = $(`#${sectionId}`);
                section.change(function (e) {
                    checkboxIds.forEach(checkboxId => {
                        if (isEnabled(checkboxId)) {
                            toogleCheckBox(checkboxId, this.checked);
                        }
                    });
                    var allEnabledChecked = sectionIds.filter(e => isEnabled(e)).every(sectionId => $(`#${sectionId}`).is(':checked'));
                    var allChecked = sectionIds.every(sectionId => $(`#${sectionId}`).is(':checked'));
                    toogleCheckBox('chkAllSettings', allEnabledChecked || allChecked);
                });
                checkboxIds.forEach(checkboxId => {
                    $(`#${checkboxId}`).change(function () {
                        var enabledSectionChecked = checkboxIds.filter(e => isEnabled(e)).every(id => $(`#${id}`).is(':checked'));
                        var sectionChecked = checkboxIds.every(id => $(`#${id}`).is(':checked'));
                        toogleCheckBox(sectionId, enabledSectionChecked || sectionChecked);

                        var allEnabledChecked = sectionIds.filter(e => isEnabled(e)).every(sectionId => $(`#${sectionId}`).is(':checked'));
                        var allChecked = sectionIds.every(sectionId => $(`#${sectionId}`).is(':checked'));
                        toogleCheckBox('chkAllSettings', allEnabledChecked || allChecked);
                    });
                });
                var allEnabledCheckboxesChecked = checkboxIds.filter(e => isEnabled(e)).every(id => $(`#${id}`).is(':checked'));
                var allCheckboxesChecked = checkboxIds.every(id => $(`#${id}`).is(':checked'));
                toogleCheckBox(sectionId, allEnabledCheckboxesChecked || allCheckboxesChecked);
                if (checkDisabled) {
                    var sectionEnabled = checkboxIds.some(checkboxId => isEnabled(checkboxId));
                    section.prop('disabled', !sectionEnabled);
                }
            }
            else {
                $(`#${sectionId}`).parent().children().addClass('d-none');
            }
        });

        var showCheckAll = sectionIds.some(id => !$(`#${id}`).hasClass('d-none'));
        var allSettings = $('#chkAllSettings');
        if (showCheckAll) {
            allSettings.parent().children().removeClass('d-none');
            var allEnabledSectionsChecked = sectionIds.filter(e => isEnabled(e)).every(sectionId => $(`#${sectionId}`).is(':checked'));
            var allSectionsChecked = sectionIds.every(sectionId => $(`#${sectionId}`).is(':checked'));
            toogleCheckBox('chkAllSettings', allEnabledSectionsChecked || allSectionsChecked);
            if (checkDisabled) {
                var enableCheckAll = sectionIds.some(sectionId => isEnabled(sectionId));
                $('#chkAllSettings').prop('disabled', !enableCheckAll);
                if (enableCheckAll) {
                    allSettings.change(function () {
                        sectionIds.forEach(sectionId => {
                            if (isEnabled(sectionId)) {
                                toogleCheckBox(sectionId, this.checked);
                            }
                            var checkboxIds = getChildrenCheckBoxes(sectionId).filter(e => isExisted(e));
                            checkboxIds.forEach(checkboxId => {
                                if (isEnabled(checkboxId)) {
                                    toogleCheckBox(checkboxId, this.checked);
                                }
                            });
                        });
                    });
                }
            }
        }
        else {
            allSettings.parent().children().addClass('d-none');
        }
    }
</script>
