@model LinkIt.BubbleSheetPortal.Web.ViewModels.AddEditPrintingGroupViewModel
<article class="container_10">
    <section class="grid_20">
        <div id="divAddEditGroup" class="block-border" style="position: static">
            <div class="block-content form" style="position: static">
                @if (Model.GroupId > 0)
                {
                    <div class="title-header mb-4">
                        <p class="title-large" style="margin-bottom: 0">
                            Edit Group
                        </p>
                    </div>
                }
                else
                {
                    <div class="title-header mb-4">
                        <p class="title-large" style="margin-bottom: 0">
                            Add New Group
                        </p>
                    </div>
                }

                <ul style="display: none" id="error-messages-AddEdit" class="message error">
                    <li>Error message</li>
                </ul>

                <div class="row mt-16">
                    <label>Group Name</label>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span class="relative" style="position: relative; z-index: 9999">
                            @Html.TextBoxFor(x => x.Name, new { @class = "full-width group-name-input", tabindex = "1" })
                            @Html.ValidationMessageFor(x => x.Name, "Group name is require.")
                        </span>
                    </div>
                    <div class="col-6" style="text-align: right; gap: 18px; display: flex; justify-content: flex-end;">
                        <button id="btnAddClass" type="button" name="AddClass" class="btn-blue">
                            Add Classes
                        </button>
                        <button id="btnRemove" type="button" name="Remove" class="grey btn-blue">
                            Remove
                        </button>
                    </div>

                </div>

                <fieldset id="fdMemberClasses" class="mx-2 mt-3" style="padding: 0 !important">
                    @*<legend>Member Classes</legend>*@
                    <div>
                        <table id="dataTableAddEditGroup" class="datatable table border-0" width="875px">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Schools
                                    </th>
                                    <th scope="col">
                                        Terms
                                    </th>
                                    <th scope="col">
                                        <input type="checkbox" id="chTeacherSelectAll" />
                                        Teachers
                                    </th>
                                    <th scope="col" width="180px">
                                        <input type="checkbox" id="chClassSelectAll" />
                                        Classes
                                    </th>
                                    <th scope="col" width="180px">
                                        <input type="checkbox" id="chClassInGroupSelectAll" />
                                        Classes in Group
                                    </th>
                                </tr>
                                <tr>
                                    <td scope="col" width="175px" style="padding: 0">
                                        <div style="overflow-y: auto; width: auto; height: 328px">
                                            <table id="tbSchools" style="width: 100%; overflow-x: hidden;">
                                                <tbody style="cursor: pointer">
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td scope="col" width="175px" style="padding: 0">
                                        <div style="overflow-y: auto; width: auto; height: 328px">
                                            <table id="tbTerms" style="width: 100%; overflow-x: hidden;">
                                                <tbody style="cursor: pointer">
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td scope="col" width="175px" style="padding: 0">
                                        <div style="overflow-y: auto; width: auto; height: 328px">
                                            <table id="tbTeachers" style="width: 100%; overflow-x: hidden;">
                                                <tbody style="cursor: pointer">
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td scope="col" width="180px" style="padding: 0">
                                        <div style="overflow-y: auto; width: auto; height: 328px">
                                            <table id="tbClasses" style="width: 100%; overflow-x: hidden;">
                                                <tbody style="cursor: pointer">
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td scope="col" style="padding: 0">
                                        <div style="overflow-y: auto; width: auto; height: 328px">
                                            <table id="tbGroupClass" style="width: 100%; overflow-x: hidden;">
                                                <tbody style="cursor: pointer">
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="background: #E4E4DC; border: 0; padding-bottom: 10px; padding-top: 10px;">
                                        <div id="divClassesInGroupDetail" style="float: right; font-size:16px;">
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div style="background: var(--navyColor); height: 4em; padding: 0.5em 0em;">
                <div class="row">
                    <div class="col-6">
                        <button id="btnCancel" type="button" name="Cancel" class="grey btn-cancel" style="margin-left: 60px;">
                            Cancel
                        </button>
                    </div>
                    <div class="col-6" style="text-align: right;">
                        <button id="btnContinue" type="button" name="Continue" class="btn-accept" style="margin-right: 69px;">
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<style type="text/css">
    article
    {
        margin-top: 0 !important;
    }
    
    .block-content .no-margin
    {
        margin-left: -0.667em !important;
    }

    .table thead td {
        color: #000 !important;
        text-shadow: 0 0px;
        background: none !important;
        text-align: left !important;
        border: 1px solid #F0F0F0;
    }
    .ui-widget-header{ position:relative; z-index:9999}

    table thead tr > th {
        padding: 16px !important;
        background: var(--blue3);
    }

    table tbody td {
        padding: 1em !important;
        line-height: 26px !important;
        color: var(--groupTextColor) !important;
    }

</style>
<script type="text/javascript">
    $(function () {
        ShowBlock($('#fdMemberClasses'), "Loading Schools");
        var districtId = $('#selectDistrict').val();
        if (districtId == 'select' || districtId == '0' || districtId < 0) {
            districtId = null;
        }
        $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtId }, function (schools) {
            FillDataToTable(schools, "tbSchools", "school");
            $('#fdMemberClasses').unblock();
        });

        $.get('@Url.Action("GetClassInGroupByGroupId")?groupId=@Model.GroupId', function (classesInGroup) {
            FillDataToTable(classesInGroup, "tbGroupClass", "groupclass");
        });
    });

    function ValidGroupName() {
        //check empty or duplicate
        ShowBlock($('#divAddEditGroup'), "Saving");
        $("#error-messages-AddEdit").hide();
        var groupName = $("#Name").val();
        if (groupName.length == 0) {
            //CustomAlert("Group name is require.");
            CustomAlert("Group name is required.");
            $('#divAddEditGroup').unblock();
            return;
        }
        else {
            $.get('@Url.Action("CheckUniqueGroupName")?groupId=@Model.GroupId&strGroupName=' + groupName, function(response) {
                if (response.Success == false) {
                    CustomAlert(response.Message);
                    $('#divAddEditGroup').unblock();
                    return;
                } else {
                    AddEditPrintingGroup();
                }
            });
        }
    }

    function AddEditPrintingGroup() {
        $("#error-messages-AddEdit").hide();
        var classIdAddToGroup = [];
        var teacherIdAddToGroup = [];
        $("#tbGroupClass tr").each(function () {
            var key = $(this).attr("keyvalue");
            var teacher = $(this).attr("teacherId");
            classIdAddToGroup.push(key);
            teacherIdAddToGroup.push(teacher);
        });
        if (classIdAddToGroup.length == 0) {
            CustomAlert("Group must have a class");
            $('#divAddEditGroup').unblock();
            return;
        }

        if ('@Model.DistrictId' == '0') {
            $("h1.title_edit_group").css('top', '0em');
            $("#error-messages-AddEdit").html("<li>Please select a @LabelHelper.DistrictLabel first</li>");
            $("#error-messages-AddEdit").show();
            $('#divAddEditGroup').unblock();
            return;
        }
        var vdata =
        {
            ClassIdList: classIdAddToGroup,
            TeacherIdList: teacherIdAddToGroup,
            DistrictId: '@Model.DistrictId',
            CreatedUserId: '@Model.CreatedUserId',
            Name: $('#Name').val(), //'@Model.Name',
            GroupId: '@Model.GroupId'
        };

        $.ajax({
            url: '@Url.Action("AddEditPrintingGroup")',
            traditional: true,
            type: 'POST',
            data: vdata,
            success: function (response) {
                if (response.Success != false) {
                    //reload printingGroup and close popup
                    $(".dialog").dialog("close");

                    ui.dataTable.fnDraw();

                    selectGroupPrintingRow = response.Id;
                    $('#selectedPrintingGroupContainer')[0].style.visibility = 'visible';
                    $('#currentlySelectedPrintingGroup').html(response.GroupName);
                }
                else {
                    $("#error-messages-AddEdit").html("<li>" + response.ErrorMessage + "</li>");
                    $("#error-messages-AddEdit").show();
                }
                $('#divAddEditGroup').unblock();
            },
            failure: function (response) {
                $('#divAddEditGroup').unblock();
                CustomAlert(response);
                //alert(response);
            }
        });
    }

    //////
    var vSchoolValue = 0;
    var vTeacherValue = 0;
    var vTermValue = 0;
    var vClassValue = 0;
    var vGroupClass = 0;
    var loadTermAndClass = false;

    function FillDataToTable(items, tableId, type) {
        var table = $('#' + tableId + ' tbody');
        table.empty();
        if (items.length > 0) {
            $.each(items, function (i, item) {
                var vValue = item.Name;
                var trId = tableId + item.Id;
                switch (type) {
                    case "school":
                        {
                            table.append('<tr id="' + trId + '" keyName="' + trId + '" keyvalue="' + item.Id + '" onclick="SchoolsSelected (this.id)" ><td style="" >' + vValue + ' </td> </tr>');
                        } break;
                    case "teacher":
                        {
                            table.append('<tr id="' + trId + '" keyName=' + trId + ' keyvalue="' + item.Id + '" onclick="TeachersSelected (this.id)" ><td style="" > <input type="checkbox" name="chTeachers" id="chTeachers' + item.Id + '"> ' + vValue + ' </td> </tr>');
                        } break;
                    case "term":
                        {
                            table.append('<tr id="' + trId + '" keyName=' + trId + ' keyvalue="' + item.Id + '" onclick="TermsSelected (this.id)"><td style="" >' + vValue + ' </td> </tr>');
                        } break;
                    case "class":
                        {
                            table.append('<tr detail="' + item.Detail + '" id="' + trId + '" keyName=' + trId + ' keyvalue="' + item.Id + '" teacherId="' + item.UserId + '" onclick="ClassesSelected (this.id)"><td style="" ><input type="checkbox" name="chClasses" id="chClasses' + item.Id + '"> ' + vValue + ' </td> </tr>');
                        } break;
                    case "groupclass":
                        {
                            // It's a strike to make sure that the same tooltip of 2 tr next together are show correctly
                            var tooltipSpace = "";
                            if ($('#' + tableId + ' tr').length % 2 != 0) {
                                tooltipSpace = " ";
                            }

                            table.append('<tr detail="' + item.Detail + '" id="' + trId + '" keyName=' + trId + ' keyvalue="' + item.Id + '" teacherId="' + item.UserId + '" onclick="GroupClassesSelected (this.id)" title="' + DetectTeacherName(item.Detail) + tooltipSpace + '"><td style="">' + vValue + '</td></tr>');
                        } break;
                }
            });
            portalV2SkinCheckBox();
        }
        else {
            if (type != 'groupclass') {
                DefaultData(table);
            }
        }
    }

    function DetectTeacherName(classDetail) {
        var teacherName = '';
        var details = classDetail.split(',');
        if (details.length == 4) {
            teacherName = details[1];
        } else if (details.length == 5) {
            teacherName = details[1] + ', ' + details[2];
        }

        return teacherName;
    }

    function SchoolsSelected(itemselectedId) {
        $("#error-messages-AddEdit").hide();
        ShowBlock($('#fdMemberClasses'), "Loading Terms");
        $('#tbSchools tr').removeAttr('choose');
        $('#tbSchools td').attr("style", "background-color:; color:black;");
        $('#tbTerms tbody').empty();
        vTermValue = 0;
        $('#tbClasses tbody').empty();
        vClassValue = 0;
        $('#tbTeachers tbody').empty();

        vSchoolValue = $('#' + itemselectedId).attr("keyvalue");
        $('#' + itemselectedId).attr("choose", "1");
        $('#' + itemselectedId + ' td').attr("style", "background-color:var(--blue3) !important;color:var(--groupTextColor) !important;");

        $.get('@Url.Action("GetTerms", "PopulateSchoolTeacher")?schoolId=' + vSchoolValue, function (terms) {
            $('#chTeacherSelectAll').prop('checked', false);
            FillDataToTable(terms, "tbTerms", "term");
            $('#fdMemberClasses').unblock();
        });
    }

    function GetClasses() {
        $('#chClassSelectAll').prop('checked', false);

        var selectedTeacherIds = "";
        $('#tbTeachers tr[choose="1"]').each(function () {
            selectedTeacherIds += $(this).attr("keyvalue") + ';';
        });

        if (selectedTeacherIds != "")
            selectedTeacherIds = selectedTeacherIds.substring(0, selectedTeacherIds.length - 1);
        else {
            CustomAlert('Please select a teacher');
            return;
        }

        var selectedTermIds = "";
        $('#tbTerms tr[choose="1"]').each(function () {
            selectedTermIds += $(this).attr("keyvalue") + ';';
        });

        if (selectedTermIds != "")
            selectedTermIds = selectedTermIds.substring(0, selectedTermIds.length - 1);
        else {
            CustomAlert('Please select a @LabelHelper.Term!');
            return;
        }

        ShowBlock($('#fdMemberClasses'), "Loading Classes");
        $.get('@Url.Action("GetClassesBySchoolAndTermsAndUsers", "GroupPrinting")?schoolId=' + vSchoolValue + '&termIds=' + selectedTermIds + '&userIds=' + selectedTeacherIds, function (classes) {
            FillDataToTable(classes, "tbClasses", "class");
            $('#fdMemberClasses').unblock();

            $('input[name="chClasses"]').unbind('click');
            $('input[name="chClasses"]').click(function (event) {
                if (event.stopPropagation) {
                    event.stopPropagation();
                }

                var trselectedId = $(this).attr('id').replace('chClasses', 'tbClasses');
                var isChecked = !!$(this).prop('checked');
                if (isChecked) {
                    $('#' + trselectedId).attr("choose", "1");
                    $('#' + trselectedId + ' td').attr("style", "background-color:var(--blue3) !important; color:var(--groupTextColor) !important;");
                } else {
                    $('#' + trselectedId).removeAttr('choose');
                    $('#' + trselectedId + ' td').attr("style", "background-color:; color:black;");
                }
                $('#' + trselectedId + ' td input[type="checkbox"]').prop('checked', isChecked);
                setCheckBoxClassV2Skin(isChecked, '#' + trselectedId + ' td input[type="checkbox"]');

                // Check select all
                var isSelectingAll = $('#tbClasses tr').length == $('#tbClasses tr[choose=1]').length;
                $('#chClassSelectAll').prop('checked', isSelectingAll);
                setCheckBoxClassV2Skin(isSelectingAll, '#chClassSelectAll');
            });
        });
        loadTermAndClass = false;
    }

    function TeachersSelected(itemselectedId) {

        $("#error-messages-AddEdit").hide();

        $('#chTeacherSelectAll').attr("selected", false);

        vTermValue = $('#' + itemselectedId).attr("keyvalue");

        var checkboxSelector = '#' + itemselectedId + ' td input[type="checkbox"]';
        if ($('#' + itemselectedId).attr("choose") == "1") {
            $('#' + itemselectedId).removeAttr("choose");
            $('#' + itemselectedId + ' td').attr("style", "background-color:; color:black;");
            $(checkboxSelector).prop('checked', false);
            setCheckBoxClassV2Skin(false, checkboxSelector);
        } else {
            $('#' + itemselectedId).attr("choose", "1");
            $('#' + itemselectedId + ' td').attr("style", "background-color:var(--blue3) !important; color:var(--groupTextColor) !important;");
            $(checkboxSelector).prop('checked', true);
            setCheckBoxClassV2Skin(true, checkboxSelector);
        }

        if ($('#tbTeachers tr').length == $('#tbTeachers tr[choose=1]').length) {
            $('#chTeacherSelectAll').prop('checked', true);
            setCheckBoxClassV2Skin(true, '#chTeacherSelectAll');
        } else {
            $('#chTeacherSelectAll').prop('checked', false);
            setCheckBoxClassV2Skin(false, '#chTeacherSelectAll');
        }

        GetClasses();
    }

    $('#chTeacherSelectAll').click(function (event) {
        if (event.stopPropagation) {
            event.stopPropagation();
        }
        else if (window.event) {
            window.event.cancelBubble = true;
        }

        if ($(this).prop('checked')) {
            $('#tbTeachers tr').attr("choose", "1");
            $('#tbTeachers td').attr("style", "background-color:var(--blue3) !important; color:var(--groupTextColor) !important;");
            $('#tbTeachers td input[type="checkbox"]').prop('checked', true)
            setCheckBoxClassV2Skin(true, '#tbTeachers td input[type="checkbox"]');
            GetClasses();
        } else {
            $('#tbTeachers tr').removeAttr('choose');
            $('#tbTeachers td').attr("style", "background-color:; color:black;");
            $('#tbTeachers td input[type="checkbox"]').prop('checked', false);
            setCheckBoxClassV2Skin(false, '#tbTeachers td input[type="checkbox"]');
            $('#tbClasses tbody').empty();
            $('#chClassSelectAll').prop('checked', false);
            setCheckBoxClassV2Skin(false, '#chClassSelectAll');
        }
    });

    function SeletedDefaultTermItem() {
        $("#error-messages-AddEdit").hide();
        var vFirstItem = $('#tbTerms tr:first').attr("keyvalue");
        if (vFirstItem.length > 0) {
            TermsSelected($('#tbTerms tr:first').attr("id"));
        }
    }

    function TermsSelected(itemselectedId) {
        $("#error-messages-AddEdit").hide();
        ShowBlock($('#fdMemberClasses'), "Loading Teachers");
        $('#tbTerms tr').removeAttr('choose');
        $('#tbTerms td').attr("style", "background-color:; color:black;");

        $('#tbClasses tbody').empty();
        vClassValue = 0;
        $('#tbTeachers tbody').empty();

        vTermValue = $('#' + itemselectedId).attr("keyvalue");
        $('#' + itemselectedId).attr("choose", "1");
        $('#' + itemselectedId + ' td').attr("style", "background-color:var(--blue3) !important; color:var(--groupTextColor) !important;");

        $.get('@Url.Action("GetTeachersByTerm", "PopulateSchoolTeacher")?schoolId=' + vSchoolValue + '&districtTermId=' + vTermValue, function (teachers) {
            $('#chTeacherSelectAll').prop('checked', false);
            FillDataToTable(teachers, "tbTeachers", "teacher");
            $('#fdMemberClasses').unblock();
        });
    }

    $('#chClassSelectAll').click(function (event) {
        if (event.stopPropagation) {
            event.stopPropagation();
        }
        else if (window.event) {
            window.event.cancelBubble = true;
        }

        if ($(this).prop('checked')) {
            $('#tbClasses tr').attr("choose", "1");
            $('#tbClasses td').attr("style", "background-color:var(--blue3) !important; color:var(--groupTextColor) !important;");
            $('#tbClasses input[name="chClasses"]').prop('checked', true);
            setCheckBoxClassV2Skin(true, '#tbClasses input[name="chClasses"]');
        } else {
            $('#tbClasses tr').removeAttr('choose');
            $('#tbClasses td').attr("style", "background-color:; color:black;");
            $('#tbClasses input[name="chClasses"]').prop('checked', false);
            setCheckBoxClassV2Skin(false, '#tbClasses input[name="chClasses"]');
        }
    });

    $('#chClassInGroupSelectAll').click(function (event) {
        if (event.stopPropagation) {
            event.stopPropagation();
        }
        else if (window.event) {
            window.event.cancelBubble = true;
        }

        if ($(this).prop('checked')) {
            $('#tbGroupClass tr').attr("choose", "1");
            $('#tbGroupClass td').attr("style", "background-color:var(--blue3) !important; color:var(--groupTextColor) !important;");
        } else {
            $('#tbGroupClass tr').removeAttr('choose');
            $('#tbGroupClass td').attr("style", "background-color:; color:black;");
        }
    });

    function ClassesSelected(itemselectedId) {

        $("#error-messages-AddEdit").hide();

        var checkboxSelector = '#' + itemselectedId + ' td input[type="checkbox"]';
        if ($('#' + itemselectedId).attr("choose") == "1") {
            $('#' + itemselectedId).removeAttr('choose');
            $('#' + itemselectedId + ' td').attr("style", "background-color:; color:black;");
            $(checkboxSelector).prop('checked', false);
            setCheckBoxClassV2Skin(false, checkboxSelector);
        } else {
            $('#' + itemselectedId).attr("choose", "1");
            $('#' + itemselectedId + ' td').attr("style", "background-color:var(--blue3) !important; color:var(--groupTextColor) !important;");
            $(checkboxSelector).prop('checked', true);
            setCheckBoxClassV2Skin(true, checkboxSelector);
        }

        if ($('#tbClasses tr').length == $('#tbClasses tr[choose=1]').length) {
            $('#chClassSelectAll').prop('checked', true);
            setCheckBoxClassV2Skin(true, '#chClassSelectAll');
        } else {
            $('#chClassSelectAll').prop('checked', false);
            setCheckBoxClassV2Skin(false, '#chClassSelectAll');
        }
    }

    function GroupClassesSelected(itemselectedId) {
        $("#error-messages-AddEdit").hide();
        $("#divClassesInGroupDetail").html($('#' + itemselectedId).attr("detail"));

        if ($('#' + itemselectedId).attr("choose") == "1") {
            $('#' + itemselectedId).removeAttr('choose');
            $('#' + itemselectedId + ' td').attr("style", "background-color:; color:black;");
        } else {
            $('#' + itemselectedId).attr("choose", "1");
            $('#' + itemselectedId + ' td').attr("style", "background-color:var(--blue3) !important; color:var(--groupTextColor) !important;border-bottom: 1px solid white;");
        }

        if ($('#tbGroupClass tr').length == $('#tbGroupClass tr[choose=1]').length) {
            $('#chClassInGroupSelectAll').prop('checked', true);
            setCheckBoxClassV2Skin(true, '#chClassInGroupSelectAll');
        } else {
            $('#chClassInGroupSelectAll').prop('checked', false);
            setCheckBoxClassV2Skin(false, '#chClassInGroupSelectAll');
        }
    }

    function AddClassToGroup() {
        $("#error-messages-AddEdit").hide();
        if ($('#tbClasses tr[choose=1]').length > 0) {

            $('#chClassSelectAll').prop('checked', false);
            $('#chClassInGroupSelectAll').prop('checked', false);

            var alreadyExistedClasses = '';

            $('#tbClasses tr[choose=1]').each(function() {
                var detail = $.trim($(this).attr('detail'));

                var vId = $(this).attr("keyvalue");
                var vValue = $(this).text();
                var teacherId = $(this).attr("teacherId");
                var trId = "tbGroupClass" + vId;
                var table = $('#tbGroupClass tbody');

                if ($('#tbGroupClass tr[id=' + trId + ']').length == 0) {

                    // It's a strike to make sure that the same tooltip of 2 tr next together are show correctly
                    var tooltipSpace = "";
                    if ($('#tbGroupClass tr').length % 2 != 0) {
                        tooltipSpace = " ";
                    }

                    table.append('<tr detail="' + detail + '" id="' + trId + '" keyName=' + trId + ' keyvalue="' + vId + '" teacherId="' + teacherId + '" onclick="GroupClassesSelected (this.id)" title="' + DetectTeacherName(detail) + tooltipSpace + '"><td style="">' + vValue + ' </td></tr>');
                } else {
                    alreadyExistedClasses += '  - ' + detail.substring(detail.lastIndexOf(',') + 2) + ' (' + detail.substring(0, detail.lastIndexOf(',')) + ')</br>';
                }
            });

            if (alreadyExistedClasses != '') {
                CustomAlert('Some class(es) are not added because they are already in this group: </br>' + alreadyExistedClasses);
            }
        }
        else {
            CustomAlert("Please select a class to add.");
        }
    }

    function RemoveClassInGroupSelected() {
        $("#error-messages-AddEdit").hide();

        if ($('#tbGroupClass tr[choose=1]').length > 0)
        {
            $('#chClassSelectAll').prop('checked', false);
            $('#chClassInGroupSelectAll').prop('checked', false);

            $('#tbGroupClass tr[choose=1]').remove();
            $("#divClassesInGroupDetail").html('');
        }
        else {
            CustomAlert("Please select a class to remove.");
        }
    }

    function DefaultData(table) {
        table.append('<tr> <td >No Results Found</td> </tr>');
    }

    $('#closeBtn').live('click', function () {
        $('.ui-widget-overlay').remove();
        $('#divAddEditGroup').remove();
    });

    function CustomAlert(message, isLongMessage) {
        if (message == null) {
            message = '';
        }
        var yesButton = '<button class="btn-accept" style="width:63px;margin-left:0px;>" onclick="YesClick(this);">OK</button>';
        var messageTextAlign = 'center';
        var messageBoxWidth = 265;
        var diaglogWidth = 300;

        if ((typeof isLongMessage != "undefined" && isLongMessage == true) || message.length > 90) {
            messageTextAlign = 'left';
            messageBoxWidth = 540;
            diaglogWidth = 600;
        }
        var strHtml = '<section>' +
            '<div class="block-border">' +
            '<div class="block-content form" style="padding-bottom: 1em;text-align:center;"><div style="text-align:' + messageTextAlign + ';line-height: 18px; font-weight:700">' + message +
            '</div></div><div style="text-align:center;padding: 8px;background: var(--navyColor);">' + yesButton + '</div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", "CustomAlertDialog")
            .appendTo("body")

            .dialog({
                close: function () { $(this).remove(); },
                modal: true,
                width: diaglogWidth,
                maxheight: 400,
                resizable: false,
                open: function () { $("#CustomAlertDialog").parent().find('.ui-dialog-titlebar-close').hide(); }
            });
    }

    function YesClick(item) {
        $("#CustomAlertDialog").dialog("close");
        var url = $(item).attr('url');
        if (url != undefined && $.trim(url) != '') window.open(url);
    }
</script>
