@using LinkIt.BubbleSheetPortal.Common.Enum
@using LinkIt.BubbleSheetPortal.Web.ViewModels.ACTSummaryReport
@using LinkIt.BubbleSheetPortal.Web.Helpers;

@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTSummaryReport.ActSingleTestReportViewModel
           
@{
    var testClassCol = "col" + (3 - Model.Index % 3).ToString();        
}


<div id="baseline" class="@testClassCol">
    
    @{
        var colCount = Model.ReportType == ActSummaryReportType.ClassLevel ? 7 : 8;
        var isDisplayName = Model.Index % 3 == 0;

        if (Model.VirtualTestSubTypeId == (int) VirtualTestSubType.NewACT)
        {
            colCount--; // Do not display E/W column
        }
    }
    <div class="right-col">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td></td>
                <td colspan="@colCount">@Model.TestName</td>
            </tr>
            <tr>
                <td></td>
                <td>C</td>
                <td>E</td>
                <td>M</td>
                <td>R</td>
                <td>S</td>
                <td>W</td>                
                @if (Model.VirtualTestSubTypeId == (int)VirtualTestSubType.ACT)
                {
                    <td>E/W</td>    
                }
                
                @if (Model.ReportType != ActSummaryReportType.ClassLevel)
                {
                    <text>
                        <td>#</td>
                    </text>
                }
                
            </tr>


            @foreach (var dataInTest in Model.ListDataInTest)
            {
                <tr>
                    <td style="word-wrap: break-word;">@dataInTest.DisplayName</td>
                    <td>@Util.FormatACTSummaryScore(dataInTest.CompositeScore, Model.ReportType)</td>
                    <td>@Util.FormatACTSummaryScore(dataInTest.EnglishScore, Model.ReportType)</td>
                    <td>@Util.FormatACTSummaryScore(dataInTest.MathScore, Model.ReportType)</td>
                    <td>@Util.FormatACTSummaryScore(dataInTest.ReadingScore, Model.ReportType)</td>
                    <td>@Util.FormatACTSummaryScore(dataInTest.ScienceScore, Model.ReportType)</td>
                    <td>@Util.FormatACTSummaryScore(dataInTest.WritingScore, Model.ReportType)</td>
                    @if (Model.VirtualTestSubTypeId == (int) VirtualTestSubType.ACT)
                    {
                        <td>@Util.FormatACTSummaryScore(dataInTest.EWScore, Model.ReportType)</td>
                    }

                    @if (Model.ReportType != ActSummaryReportType.ClassLevel)
                    {
                        <text>
                    <td>@(dataInTest.TotalStudents == 0?"-":dataInTest.TotalStudents.ToString())</td>
                        </text>
                    }
                </tr>
            }
            <tr>
                <td>
                    Average
            </td>

                <td>@Util.FormatACTSummaryScore(Model.AverageScores.CompositeScore, Model.ReportType)</td>
                <td>@Util.FormatACTSummaryScore(Model.AverageScores.EnglishScore, Model.ReportType)</td>
                <td>@Util.FormatACTSummaryScore(Model.AverageScores.MathScore, Model.ReportType)</td>
                <td>@Util.FormatACTSummaryScore(Model.AverageScores.ReadingScore, Model.ReportType)</td>
                <td>@Util.FormatACTSummaryScore(Model.AverageScores.ScienceScore, Model.ReportType)</td>
                <td>@Util.FormatACTSummaryScore(Model.AverageScores.WritingScore, Model.ReportType)</td>
                @if (Model.VirtualTestSubTypeId == (int) VirtualTestSubType.ACT)
                {
                    <td>@Util.FormatACTSummaryScore(Model.AverageScores.EWScore, Model.ReportType)</td>
                }
                @if (Model.ReportType != ActSummaryReportType.ClassLevel)
                {
                    <text>
                <td>@(Model.AverageScores.TotalStudents == 0?"-":Model.AverageScores.TotalStudents.ToString())</td>
                    </text>
                }
                
            </tr>
        </table>
    </div>
</div>

