
@model LinkIt.BubbleSheetPortal.Web.ViewModels.AssignmentRetake.AssignmentRetakeViewModel

<div class="student-table">
    <div class="no-margin last-child table-container">
        <table id="studentsDataTable" class="datatable table table-assignment no-margin scroll" width="100%">
            <thead class="fixed-header">
                <tr>
                    <th scope="col" style="width: 38px">
                        <input type="checkbox" id="chkAllStudents" />
                    </th>
                    <th scope="col" style="min-width: 199px">
                        Student
                    </th>
                    @foreach (var testDisplay in Model.VirtualTestsDisplay)
                    {
                    <th scope="col" style="text-align: center; min-width: 130px">
                        @Html.Raw(HttpUtility.HtmlDecode(testDisplay))
                    </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StudentRetakes)
                {
                    <tr @(item.IsValid ? "data-student-id=" + item.StudentID + "" : "") data-class-id="@item.ClassID">
                        <td scope="col" style="width: 40px">
                            <div class="custom-checkbox-disabled">
                                <input type="checkbox" class="select-student" @(!item.IsValid ? "disabled" : "") />
                                <span></span>
                            </div>
                        </td>
                        <td scope="col" style="min-width: 200px">
                            @item.FullName
                        </td>
                        @foreach (var test in item.VirtualTests)
                        {
                            <td scope="col" class="test-info-cell" style="background: @test.StatusColor; min-width: 130px">
                                @test.TestStatusDisplay
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    var testRetakeNumber = @(Model.TestRetakeNumber);
</script>
