@using LinkIt.BubbleSheetPortal.Common
@using LinkIt.BubbleSheetPortal.Web.ViewModels
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TestAssignResultViewModel

<style>
    .tablePrint {
        table-layout: fixed;
        width: 100%;
        text-align: center;
        border: 0;
        border-bottom: 1px solid #444;
        padding-bottom: 15px;
        margin-bottom: 10px;
        page-break-inside: avoid;
    }

    .tablePrint th,
    .tablePrint td {
        border: 0;
    }

    .tablePrint thead {
        display: table-row-group;
    }

    .tablePrint tr {
        page-break-inside: avoid;
    }

    .u-w-100 {
        width: 100px;
    }

    .u-w-140 {
        width: 140px;
    }

    .u-w-160 {
        width: 160px;
    }

    .u-clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .u-m-t-10 {
        margin-top: 10px;
    }

    .u-m-b-40 {
        margin-bottom: 40px;
    }

    .u-fl {
        float: left;
    }

    .u-fr {
        float: right;
    }
</style>
<div class="u-m-t-10">
    <div>
        @if (Model.PringtType == 2 || Model.PringtType == 3)
        {
            <text><div class="u-clearfix u-m-b-40"></text>
        }
        else
        {
            <text><div class="u-clearfix"></text>
        }

        <div class="u-fl">
            Date Assigned: @ViewBag.CurrentDateAssigned
        </div>
        <div class="u-fr">
            Test Assigned: @Model.TestAssingCustomName
        </div>
    </div>

    @if (Model.ListClassAssign != null && Model.ListClassAssign.Count > 0 && Model.PringtType == 1)
    {
        <table class="tablePrint" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Assigned</th>
                    <th>Assignment</th>
                    <th>Teacher</th>
                    <th>Class</th>
                    <th class="u-w-180">Assignment Code</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TestClassAssignResultViewModel testClassAssignResultViewModel in @Model.ListClassAssign)
                {
                    <tr>
                        <td>
                            @testClassAssignResultViewModel.AssignmentDate
                        </td>
                        <td>
                            @testClassAssignResultViewModel.Test
                        </td>
                        <td>
                            @testClassAssignResultViewModel.TeacherName
                        </td>
                        <td>
                            @testClassAssignResultViewModel.ClassName
                        </td>
                        <td>
                            @testClassAssignResultViewModel.TestCode
                            <br />
                            @testClassAssignResultViewModel.Tutorial
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
    @if (Model.ListStudentAssign != null && Model.ListStudentAssign.Count > 0 && Model.PringtType == 2)
    {
        foreach (TestStudentAssignResultViewModel testStudentAssignResultViewModel in @Model.ListStudentAssign)
        {
            <table class="tablePrint" width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="u-w-160">Assigned</th>
                        <th class="u-w-140">Assignment</th>
                        <th class="u-w-100">Class</th>
                        <th class="u-w-160">Student</th>
                        <th class="u-w-100">Student Code</th>
                        <th class="u-w-160">Assignment Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @testStudentAssignResultViewModel.AssignmentDate
                        </td>
                        <td>
                            @testStudentAssignResultViewModel.Test
                        </td>
                        <td>
                            @testStudentAssignResultViewModel.ClassName
                        </td>
                        <td>
                            @testStudentAssignResultViewModel.StudentName
                        </td>
                        <td>@testStudentAssignResultViewModel.StudentCode</td>
                        <td>
                            @testStudentAssignResultViewModel.TestCode
                            <br />
                            @testStudentAssignResultViewModel.Tutorial
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }
    @if (Model.ListGroupStudent != null && Model.ListGroupStudent.Count > 0 && Model.PringtType == 3)
    {
        foreach (TestGroupStudentAssignResultViewModel testGroupStudent in @Model.ListGroupStudent)
        {
            <table class="tablePrint" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #ccc;">
                <thead>
                    <tr>
                        <th class="u-w-160">Assigned</th>
                        <th class="u-w-140">Assignment</th>
                        <th class="u-w-100">Class</th>
                        <th class="u-w-160">Student</th>
                        <th class="u-w-100">Student Code</th>
                        <th class="u-w-160">Assignment Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @testGroupStudent.AssignmentDate
                        </td>
                        <td>
                            @testGroupStudent.Test
                        </td>
                        <td>
                            @testGroupStudent.ClassName
                        </td>
                        <td>
                            @testGroupStudent.StudentName
                        </td>
                        <td>@testGroupStudent.StudentCode</td>
                        <td>
                            @testGroupStudent.TestCode
                            <br />
                            @testGroupStudent.Tutorial
                        </td>
                    </tr>
                </tbody>

            </table>
        }
    }
</div>
</div>
