<style>
    .w-35 {
        width: 35%;
    }

    .w-30 {
        width: 30%;
    }

    .sectionLvl-hide {
        display: none !important;
    }

    .cb__sectionLevel {
        display: inline-block;
        margin-left: 15px;
    }

    .sectionsAvailabilityList {
        padding-left: 30px;
    }

        .sectionsAvailabilityList table {
            width: 100%;
        }

    .testPreferences__panel {
        margin-top: 15px;
        font-weight: 700;
        display: inline-block;
    }

    .btn__setting {
        background: #eee;
        color: #39c;
        cursor: pointer;
        border-radius: 6px 6px 0px 0px;
        padding: 10px 5px;
        font-size: 10pt;
        border-right: 1px solid #3399cc;
        width: 135px;
        text-align: center;
        display: block;
        float: left;
    }

        .btn__setting span {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: border-box;
        }

        .btn__setting:last-child {
            border-right: 0;
        }

    .sections__main {
        display: none;
        min-height: 645px;
    }

    .sections__wrapper--inner {
        min-height: 645px;
        position: relative;
    }

    .btn__setting.active__state {
        background: #4d93c5;
        border-bottom: none;
        color: #fff;
        background: -webkit-gradient( linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4) );
    }

    .scrollHorizontal__wrapper {
        text-align: right;
        width: 855px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
</style>
<div class="block-border" id="divAssignmentSettingl1" style="position: static; z-index: 1002">
    <div id="divAssignmentSettingl2" class="block-content form bubbleSheetSelector" style="z-index: 1002;">
        <fieldset class="grey-bg" style="z-index: 1002">
            <legend>Assignment Setting</legend>
            <div id="lastUpdateInformation" style="float: right;"></div>
            <br />

            <div class="scrollHorizontal__wrapper clearfix">
                <div class="clearfix testPreferences__panel testPreferences__panel--TestAssignmentReview">
                    <div class="btn__overall btn__setting active__state">
                        <span>Overall Test</span>
                    </div>
                </div>
            </div>

            <div class="accordion-scroll">
                <div class="sections__main">
                    <div id="settings_sections">
                        <sections_wrapper></sections_wrapper>
                    </div>
                </div>
                <div id="accordion-assignment-setting" class="accordion overall__settings">
                    <div class="accordion-title first active">
                        <h3>Navigation/Display</h3>
                    </div>
                    <div class="accordion-content active">
                        <table class="table table-accordion u-w-p-100">
                            <tbody>
                                <tr>
                                    <td class="w-30 table-accordion-title">
                                        Section-Based Testing
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="sectionBasedTesting" id="sectionBasedTesting1" /> <label for="sectionBasedTesting1">OFF</label>
                                        <input type="radio" value="1" name="sectionBasedTesting" id="sectionBasedTesting2" /> <label for="sectionBasedTesting2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockSectionBasedTesting" />
                                            <label for="chklockSectionBasedTesting">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Auto Advance</td>
                                    <td class="">
                                        <input type="radio" value="0" name="autoAdvanceTest" id="autoAdvanceTest1" /> <label for="autoAdvanceTest1">OFF</label>
                                        <input type="radio" value="1" name="autoAdvanceTest" id="autoAdvanceTest2" /> <label for="autoAdvanceTest2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockAutoAdvance" />
                                            <label for="chklockAutoAdvance">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Must Answer All Questions</td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="mustAnswerAllQuestions" id="mustAnswerAllQuestions1" /> <label for="mustAnswerAllQuestions1">OFF</label>
                                                <input type="radio" value="1" name="mustAnswerAllQuestions" id="mustAnswerAllQuestions2" /> <label for="mustAnswerAllQuestions2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="mustAnswerAllQuestionsSectionItems" class='chkSetAtSectionLevel' data-order='1' />
                                                <label for="mustAnswerAllQuestionsSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockMustAnswerAllQuestions" />
                                            <label for="chklockMustAnswerAllQuestions">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Can Pause Test</td>
                                    <td>
                                        <input id="rdcanPauseTestOff" type="radio" value="0" name="canPauseTest" /> <label for="rdcanPauseTestOff">OFF</label>
                                        <input id="rdcanPauseTestOn" type="radio" value="1" name="canPauseTest" /> <label for="rdcanPauseTestOn">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockCanPauseTest" />
                                            <label for="chklockCanPauseTest">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Display Answer Labels</td>
                                    <td>
                                        <input type="checkbox" id="DisplayAnswerLabelSingleSelect" name="DisplayAnswerLabels" />
                                        <label for="DisplayAnswerLabelSingleSelect">Single Select</label>

                                        <input type="checkbox" id="DisplayAnswerLabelMultiselect" name="DisplayAnswerLabels" />
                                        <label for="DisplayAnswerLabelMultiselect">Multi-select</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockDisplayAnswerLabels" />
                                            <label for="chklockDisplayAnswerLabels">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Display Question Number
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="displayQuestionNumber" id="displayQuestionNumber1" /> <label for="displayQuestionNumber1">OFF</label>
                                        <input type="radio" value="1" name="displayQuestionNumber" id="displayQuestionNumber2" /> <label for="displayQuestionNumber2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockdisplayQuestionNumber" />
                                            <label for="chklockdisplayQuestionNumber">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Answer Label Format</td>
                                    <td>
                                        <input type="radio" value="0" name="answerLabelFormat" id="answerLabelFormat1" /> <label for="answerLabelFormat1">Letter (A, B, C...)</label>
                                        <br>
                                        <input type="radio" value="1" name="answerLabelFormat" id="answerLabelFormat2" /> <label for="answerLabelFormat2">Numbers (1, 2, 3...)</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockAnswerLabelFormat" />
                                            <label for="chklockAnswerLabelFormat">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Passage Position in Test Taker</td>
                                    <td>
                                        <input type="radio" value="1" name="passagePositioninTestTaker" id="passagePositioninTestTaker1" /> <label for="passagePositioninTestTaker1">LEFT</label>
                                        <input type="radio" value="0" name="passagePositioninTestTaker" id="passagePositioninTestTaker2" /> <label for="passagePositioninTestTaker2">RIGHT</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockPassagePositioninTestTaker" />
                                            <label for="chklockPassagePositioninTestTaker">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Display Answer Choice Guidance</td>
                                    <td>
                                        <input type="radio" value="0" name="displayAnswerChoiceGuidance" id="displayAnswerChoiceGuidance1" /> <label for="displayAnswerChoiceGuidance1">OFF</label>
                                        <input type="radio" value="1" name="displayAnswerChoiceGuidance" id="displayAnswerChoiceGuidance2" /> <label for="displayAnswerChoiceGuidance2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockdisplayAnswerChoiceGuidance" />
                                            <label for="chklockdisplayAnswerChoiceGuidance">Lock</label>
                                        </div>
                                    </td>
                                </tr>

                                @if (ViewBag.IsSupportQuestionGroup == true)
                                {
                                    <tr>
                                        <td class="table-accordion-title">Question Number Labeling for Grouped Questions</td>
                                        <td>
                                            <input type="radio" value="0" name="questiongrouplabelschema" id="questiongrouplabelschema1" /> <label for="questiongrouplabelschema1">1a, 1b, 1c...</label>
                                            <input type="radio" value="1" name="questiongrouplabelschema" id="questiongrouplabelschema2" /> <label for="questiongrouplabelschema2">1.1, 1.2, 1.3...</label>
                                        </td>
                                        <td>
                                            <div style="visibility:hidden;">
                                                <input type="checkbox" id="chklockquestiongrouplabelschema" />
                                                <label for="chklockquestiongrouplabelschema">Lock</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-accordion-title">Question Group Multiple Choices Numbering</td>
                                        <td>
                                            <input type="radio" value="0" name="questiongroupmultiplechoicesnumbering" id="questiongroupmultiplechoicesnumbering1" /> <label for="questiongroupmultiplechoicesnumbering1">Restart</label>
                                            <input type="radio" value="1" name="questiongroupmultiplechoicesnumbering" id="questiongroupmultiplechoicesnumbering2" /> <label for="questiongroupmultiplechoicesnumbering2">Continue</label>
                                        </td>
                                        <td>
                                            <div style="visibility:hidden;">
                                                <input type="checkbox" id="chklockquestiongroupmultiplechoicesnumbering" />
                                                <label for="chklockquestiongroupmultiplechoicesnumbering">Lock</label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                <tr class='sectionAvailability__wrapper'>
                                    <td class="table-accordion-title">
                                        Section Availability
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="sectionAvailability" checked="checked" id="sectionAvailability1" /> <label for="sectionAvailability1">OFF</label>
                                        <input type="radio" value="1" name="sectionAvailability" id="sectionAvailability2" /> <label for="sectionAvailability2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockSectionAvailability" />
                                            <label for="chklockSectionAvailability">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class='sectionAvailability__wrapper'>
                                    <td colspan="2">
                                        <div class="sectionsAvailabilityList">
                                            <table></table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="accordion-title">
                        <h3>Security and Privacy</h3>
                    </div>
                    <div class="accordion-content">
                        <table class="table table-accordion u-w-p-100">
                            <tbody>
                                <tr>
                                    <td class="w-30 table-accordion-title">@LocalizeHelper.Localized("STUDENT_AGREEMENT_TITLE")</td>
                                    <td>
                                        <input type="radio" value="0" name="requireHonorCode" id="requireHonorCode1" /> <label for="requireHonorCode1">OFF</label>
                                        <input type="radio" value="1" name="requireHonorCode" id="requireHonorCode2" /> <label for="requireHonorCode2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockRequireHonorCode" />
                                            <label for="chkRequireHonorCode">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Require Password</td>
                                    <td class="">
                                        <input type="radio" value="0" name="verifyStudent" id="verifyStudent1" /> <label for="verifyStudent1">OFF</label>
                                        <input type="radio" value="1" name="verifyStudent" id="verifyStudent2" /> <label for="verifyStudent2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockVerifyStudent" />
                                            <label for="chklockVerifyStudent">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Shuffle Questions</td>
                                    <td>
                                        <input type="radio" value="0" name="shuffleQuestions" id="shuffleQuestions1" /> <label for="shuffleQuestions1">OFF</label>
                                        <input type="radio" value="1" name="shuffleQuestions" id="shuffleQuestions2" /> <label for="shuffleQuestions2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockShuffleQuestions" />
                                            <label for="chklockShuffleQuestions">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Shuffle Multiple Choice Answers</td>
                                    <td>
                                        <input type="radio" value="0" name="shuffleAnswers" id="shuffleAnswers1" /> <label for="shuffleAnswers1">OFF</label>
                                        <input type="radio" value="1" name="shuffleAnswers" id="shuffleAnswers2" /> <label for="shuffleAnswers2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockShuffleAnswers" />
                                            <label for="chklockShuffleAnswers">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Full Screen Browser Mode
                                    </td>
                                    <td>
                                        <input id="rdlockedDownTestTakerOff" type="radio" value="0" name="lockedDownTestTaker" /> <label for="rdlockedDownTestTakerOff">OFF</label>
                                        <input id="rdlockedDownTestTakerOn" type="radio" value="1" name="lockedDownTestTaker" /> <label for="rdlockedDownTestTakerOn">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockLockedDownTestTaker" />
                                            <label for="chklockLockedDownTestTaker">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Override Auto Graded Items
                                    </td>
                                    <td>
                                        @if (ViewBag.IsPreventEditOverrideGrade == null || ViewBag.IsPreventEditOverrideGrade == false)
                                        {
                                            <text>
                                                <input type="radio" value="0" name="overrideAutoGradedTextEntry" id="overrideAutoGradedTextEntry1" /> <label for="overrideAutoGradedTextEntry1">OFF</label>
                                                <input type="radio" value="1" name="overrideAutoGradedTextEntry" id="overrideAutoGradedTextEntry2" /> <label for="overrideAutoGradedTextEntry2">ON</label>
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <input type="radio" value="0" name="overrideAutoGradedTextEntry" id="overrideAutoGradedTextEntry1" disabled /> <label for="overrideAutoGradedTextEntry1">OFF</label>
                                                <input type="radio" value="1" name="overrideAutoGradedTextEntry" id="overrideAutoGradedTextEntry2" disabled /> <label for="overrideAutoGradedTextEntry2">ON</label>
                                            </text>
                                        }
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockOverrideAutoGradedTextEntry" />
                                            <label for="chklockOverrideAutoGradedTextEntry">Lock</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="table-accordion-title">
                                        Browser Lockdown Mode
                                    </td>
                                    <td>
                                        <input id="rdbrowserLockdownModeOff" type="radio" value="0" name="browserLockdownMode" /> <label for="rdbrowserLockdownModeOff">OFF</label>
                                        <input id="rdbrowserLockdownModeOn" type="radio" value="1" name="browserLockdownMode" /> <label for="rdbrowserLockdownModeOn">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chkLockBrowserLockdownMode" />
                                            <label for="chkLockBrowserLockdownMode">Lock</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="table-accordion-title">
                                        Anonymized Scoring
                                    </td>
                                    <td>
                                        <input id="rdAnonymizedScoringOff" type="radio" value="0" name="anonymizedScoring" /> <label for="rdAnonymizedScoringOff">OFF</label>
                                        <input id="rdAnonymizedScoringOn" type="radio" value="1" name="anonymizedScoring" /> <label for="rdAnonymizedScoringOn">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chkLockAnonymizedScoring" />
                                            <label for="chkLockAnonymizedScoring">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="accordion-title">
                        <h3>Accommodations</h3>
                    </div>
                    <div class="accordion-content">
                        <table class="table table-accordion u-w-p-100">
                            <tbody>
                                <tr>
                                    <td class="w-35 table-accordion-title">Time Limit</td>
                                    <td class="w-35">
                                        <input id="rdTimeLimitOFF" type="radio" value="0" name="timeLimit" /> <label for="rdTimeLimitOFF">OFF</label>
                                        <input id="rdTimeLimitON" type="radio" value="1" name="timeLimit" /> <label for="rdTimeLimitON">ON</label>
                                        <div id="idTimeLimitON" style="padding-top:10px; display: none;">
                                            <input id="enableDurationOption" name="TimeLimitON" type="radio" title="Duration" value="on" checked="checked" />
                                            <label for="enableDurationOption">Duration</label>
                                            <input id="enableDeadline" name="TimeLimitON" type="radio" title="Deadline" />
                                            <label for="enableDeadline">Deadline</label>
                                        </div>
                                        <div class="clear" style="height: 10px"></div>
                                        <div id="divDuration" style="float: left;display: none;">
                                            <input id="durationId" type="text" maxlength="6" style="width: 105px;" />
                                            Minutes
                                            <div id="showTimeLimitWarningON" style="display: block; clear: both; padding-top: 21px;">
                                                <input type="radio" value="1" name="timeLimitDurationType" checked="checked" id='TimeRemaininglbl'> <label for="TimeRemaininglbl">Time Remaining</label>
                                                <input type="radio" value="2" name="timeLimitDurationType" id='TimeSpentlbl'> <label for="TimeSpentlbl">Time Spent</label>
                                            </div>
                                        </div>
                                        <div id="divDeadline" style="float: left; display: none;">
                                            <input type="text" id="selectDeadline" class="datepicker" style="width: 105px;" readonly="readonly" />
                                            <select id="selectHouse" style="min-width: 50px !important;">
                                                <option value="0">12 AM</option>
                                                <option value="1">1 AM</option>
                                                <option value="2">2 AM</option>
                                                <option value="3">3 AM</option>
                                                <option value="4">4 AM</option>
                                                <option value="5">5 AM</option>
                                                <option value="6">6 AM</option>
                                                <option value="7">7 AM</option>
                                                <option value="8">8 AM</option>
                                                <option value="9">9 AM</option>
                                                <option value="10">10 AM</option>
                                                <option value="11">11 AM</option>
                                                <option value="12">12 PM</option>
                                                <option value="13">1 PM</option>
                                                <option value="14">2 PM</option>
                                                <option value="15">3 PM</option>
                                                <option value="16">4 PM</option>
                                                <option value="17">5 PM</option>
                                                <option value="18">6 PM</option>
                                                <option value="19">7 PM</option>
                                                <option value="20">8 PM</option>
                                                <option value="21">9 PM</option>
                                                <option value="22">10 PM</option>
                                                <option value="23">11 PM</option>
                                            </select>
                                            <select id="selectMunite" style="min-width: 50px !important;"></select>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="cb__sectionLevel">
                                            <input type="checkbox" id="timeLimitSectionItems" class='chkSetAtSectionLevel' data-order='2' />
                                            <label for="timeLimitSectionItems">Set at Section Level</label>
                                        </div>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockTimeLimit" />
                                            <label for="chklockTimeLimit">Lock</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr id="trShowTimeLimitWarning">
                                    <td class="table-accordion-title">
                                        Show Time Limit Warning
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="showTimeLimitWarning" id="OFF_showTimeLimitWarning" /> <label for="OFF_showTimeLimitWarning">OFF</label>
                                        <input type="radio" value="1" name="showTimeLimitWarning" id="ON_showTimeLimitWarning" /> <label for="ON_showTimeLimitWarning">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockShowTimeLimitWarning" />
                                            <label for="chklockShowTimeLimitWarning">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="trShowTimeLimitWarning1">
                                    <td class="table-accordion-title"></td>
                                    <td></td>
                                </tr>
                                <tr style="display:none"></tr>
                                @Html.Partial("~/Views/TestPreference/_TestSchedule.cshtml")

                                <tr>
                                    <td class="table-accordion-title">Multiple Choice Click Method</td>
                                    <td>
                                        <input type="radio" value="0" name="multipleChoiceClickMethod" id="clkBtnradio" /> <label for="clkBtnradio">Click Button</label>
                                        <br>
                                        <input type="radio" value="1" name="multipleChoiceClickMethod" id="clkAnsradio" /> <label for="clkAnsradio">Click Answer</label>
                                        <br>
                                        <input type="radio" value="2" name="multipleChoiceClickMethod" id="clkAnsBtnradio" /> <label for="clkAnsBtnradio">Click Answer and Button</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockMultipleChoiceClickMethod" />
                                            <label for="chklockMultipleChoiceClickMethod">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Enable Video Controls</td>
                                    <td>
                                        <input type="radio" value="0" name="enableVideoControls" id="OFF_enableVideoControls" /> <label for="OFF_enableVideoControls">OFF</label>
                                        <input type="radio" value="1" name="enableVideoControls" id="ON_enableVideoControls" /> <label for="ON_enableVideoControls">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockEnableVideoControls" />
                                            <label for="chklockEnableVideoControls">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Enable Audio
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="enableAudio" id="enableAudio1" /> <label for="enableAudio1">OFF</label>
                                        <br>
                                        <input type="radio" value="2" name="enableAudio" id="enableAudio2" /> <label for="enableAudio2">Simple Audio</label>
                                        <br>
                                        <input type="radio" value="1" name="enableAudio" id="enableAudio3" />  <label for="enableAudio3">Advanced Audio</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockEnableAudio" />
                                            <label for="chklockEnableAudio">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Font Size
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="supportFontsize" id="supportFontsize1" /> <label for="supportFontsize1">OFF</label>
                                        <input type="radio" value="1" name="supportFontsize" id="supportFontsize2" /> <label for="supportFontsize2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklocksupportFontsize" />
                                            <label for="chklocksupportFontsize">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Zoom
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="supportZoom" id="supportZoom1" /> <label for="supportZoom1">OFF</label>
                                        <input type="radio" value="1" name="supportZoom" id="supportZoom2" /> <label for="supportZoom2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklocksupportZoom" />
                                            <label for="chklocksupportZoom">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Contrast
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="supportContrast" id="supportContrast1" /> <label for="supportContrast1">OFF</label>
                                        <input type="radio" value="1" name="supportContrast" id="supportContrast2" /> <label for="supportContrast2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklocksupportContrast" />
                                            <label for="chklocksupportContrast">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Line Reader
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="supportLineReader" id="supportLineReader1" /> <label for="supportLineReader1">OFF</label>
                                        <input type="radio" value="1" name="supportLineReader" id="supportLineReader2" /> <label for="supportLineReader2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklocksupportLineReader" />
                                            <label for="chklocksupportLineReader">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Enable Text-To-Speech
                                    </td>
                                    <td>
                                        <input id="rdTextToSpeedOptionOff" type="radio" value="0" name="displayTexttospeechOption" />
                                        <label for="rdTextToSpeedOptionOff">OFF</label>
                                        <br>
                                        <input id="rdTextToSpeedOptionOn" type="radio" value="1" name="displayTexttospeechOption" />
                                        <label for="rdTextToSpeedOptionOn">All Content</label>
                                        <br>
                                        <input id="rdTextToSpeedOptionOnPassage" type="radio" value="2" name="displayTexttospeechOption" />
                                        <label for="rdTextToSpeedOptionOnPassage">Passage Only</label>
                                        <br>
                                        <input id="rdTextToSpeedOptionOnQuestion" type="radio" value="3" name="displayTexttospeechOption" />
                                        <label for="rdTextToSpeedOptionOnQuestion">Instructions/Questions Only</label>

                                        <div class="clear" style="height: 10px"></div>
                                        <div id="idTestToSpeedOptionON" style="float: left; display: none;">
                                            Rate
                                            <select id="selectRate" style="min-width: 50px !important;">
                                                <option value="0.8">Normal </option>
                                                <option value="0.7">Slow</option>
                                            </select>
                                            Volume
                                            <select id="selectVolume" style="min-width: 50px !important;">
                                                <option value="0.0">0</option>
                                                <option value="0.1">1</option>
                                                <option value="0.2">2</option>
                                                <option value="0.3">3</option>
                                                <option value="0.4">4</option>
                                                <option value="0.5">5</option>
                                                <option value="0.6">6</option>
                                                <option value="0.7">7</option>
                                                <option value="0.8">8</option>
                                                <option value="0.9">9</option>
                                                <option value="1">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockdisplayTexttospeechOption" />
                                            <label for="chklockdisplayTexttospeechOption">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="accordion-title">
                        <h3>Tools</h3>
                    </div>
                    <div class="accordion-content">
                        <table class="table table-accordion u-w-p-100">
                            <tbody>
                                <tr>
                                    <td class="w-30 table-accordion-title">Basic Science Palette</td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="simplePalette" id="simplePalette1" /> <label for="simplePalette1">OFF</label>
                                                <input type="radio" value="1" name="simplePalette" id="simplePalette2" /> <label for="simplePalette2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="simplePaletteSectionItems" class='chkSetAtSectionLevel' data-order='3' />
                                                <label for="simplePaletteSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklocksimplePalette" />
                                            <label for="chklocksimplePalette">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Math/Science Palette</td>
                                    <td class="">
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="mathPalette" id="mathPalette1" /> <label for="mathPalette1">OFF</label>
                                                <input type="radio" value="1" name="mathPalette" id="mathPalette2" /> <label for="mathPalette2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="mathPaletteSectionItems" class='chkSetAtSectionLevel' data-order='4' />
                                                <label for="mathPaletteSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockmathPalette" />
                                            <label for="chklockmathPalette">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Spanish Palette</td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="spanishPalette" id="spanishPalette1" /> <label for="spanishPalette1">OFF</label>
                                                <input type="radio" value="1" name="spanishPalette" id="spanishPalette2" /> <label for="spanishPalette2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="spanishPaletteSectionItems" class='chkSetAtSectionLevel' data-order='5' />
                                                <label for="spanishPaletteSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockspanishPalette" />
                                            <label for="chklockspanishPalette">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">French Palette</td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="frenchPalette" id="frenchPalette1" /> <label for="frenchPalette1">OFF</label>
                                                <input type="radio" value="1" name="frenchPalette" id="frenchPalette2" /> <label for="frenchPalette2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="frenchPaletteSectionItems" class='chkSetAtSectionLevel' data-order='6' />
                                                <label for="frenchPaletteSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockfrenchPalette" />
                                            <label for="chklockfrenchPalette">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Protractor</td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="protractor" id="protractor1" /> <label for="protractor1">OFF</label>
                                                <input type="radio" value="1" name="protractor" id="protractor2" /> <label for="protractor2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="protractorSectionItems" class='chkSetAtSectionLevel' data-order='7' />
                                                <label for="protractorSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockprotractor" />
                                            <label for="chklockprotractor">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">6" Ruler</td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="ruler6inch" id="6-inch-off" /> <label for="6-inch-off">OFF</label>
                                                <input type="radio" value="1" name="ruler6inch" id="6-inch-on" /> <label for="6-inch-on">ON</label>
                                            </div>
                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="ruler6inchSectionItems" class='chkSetAtSectionLevel' data-order='8' />
                                                <label for="ruler6inchSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockprotractor6inch" />
                                            <label for="chklockprotractor6inch">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">12" Ruler</td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="ruler12inch" id="12-inch-off" /> <label for="12-inch-off">OFF</label>
                                                <input type="radio" value="1" name="ruler12inch" id="12-inch-on" /> <label for="12-inch-on">ON</label>
                                            </div>
                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="ruler12inchSectionItems" class='chkSetAtSectionLevel' data-order='9' />
                                                <label for="ruler12inchSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockprotractor12inch" />
                                            <label for="chklockprotractor12inch">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">15cm Ruler</td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="ruler15cm" id="15cm-off" /> <label for="12-inch-off">OFF</label>
                                                <input type="radio" value="1" name="ruler15cm" id="15cm-on" /> <label for="15cm-on">ON</label>
                                            </div>
                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="ruler15cmSectionItems" class='chkSetAtSectionLevel' data-order='10' />
                                                <label for="ruler15cmSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockprotractor15cm" />
                                            <label for="chklockprotractor15cm">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">30cm Ruler</td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="ruler30cm" id="30cm-off" /> <label for="30cm-off">OFF</label>
                                                <input type="radio" value="1" name="ruler30cm" id="30cm-on" /> <label for="30cm-on">ON</label>
                                            </div>
                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="ruler30cmSectionItems" class='chkSetAtSectionLevel' data-order='11' />
                                                <label for="ruler30cmSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockprotractor30cm" />
                                            <label for="chklockprotractor30cm">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Standard Calculator
                                    </td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="supportCalculator" id="supportCalculator1" /> <label for="supportCalculator1">OFF</label>
                                                <input type="radio" value="1" name="supportCalculator" id="supportCalculator2" /> <label for="supportCalculator2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="supportCalculatorSectionItems" class='chkSetAtSectionLevel' data-order='12' />
                                                <label for="supportCalculatorSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockSupportCalculator" />
                                            <label for="chklockSupportCalculator">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Scientific Calculator
                                    </td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="scientificCalculator" id="scientificCalculator1" /> <label for="scientificCalculator1">OFF</label>
                                                <input type="radio" value="1" name="scientificCalculator" id="scientificCalculator2" /> <label for="scientificCalculator2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="scientificCalculatorSectionItems" class='chkSetAtSectionLevel' data-order='13' />
                                                <label for="scientificCalculatorSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chkLockScientificCalculator" />
                                            <label for="chkLockScientificCalculator">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                @if (ViewBag.HideSupportHighlightText != null && ViewBag.HideSupportHighlightText == "false")
                                {<text>
                                        <tr>
                                            <td class="table-accordion-title">
                                                Support Highlight Text
                                            </td>
                                            <td>
                                                <div class="wrapper flex_space-bettween">
                                                    <div>
                                                        <input type="radio" value="0" name="supportHighlightText" id="supportHighlightText1" /> <label for="supportHighlightText1">OFF</label>
                                                        <br>
                                                        <input type="radio" value="1" name="supportHighlightText" id="supportHighlightText2" /> <label for="supportHighlightText2">ON</label>
                                                        <br>
                                                        <input type="radio" value="2" name="supportHighlightText" id="supportHighlightText3" /> <label for="supportHighlightText3">ON ( Only Student )</label>
                                                    </div>

                                                    <div class="cb__sectionLevel">
                                                        <input type="checkbox" id="supportHighlightTextSectionItems" class='chkSetAtSectionLevel' data-order='14' />
                                                        <label for="supportHighlightTextSectionItems">Set at Section Level</label>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>
                                                <div style="visibility:hidden;">
                                                    <input type="checkbox" id="chklockSupportHighlightText" />
                                                    <label for="chklockSupportHighlightText">Lock</label>
                                                </div>
                                            </td>
                                        </tr>
                                </text>}
                                <tr>
                                    <td class="table-accordion-title">
                                        Eliminate Choice Tool
                                    </td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="eliminateChoiceTool" id="eliminateChoiceTool1" /> <label for="eliminateChoiceTool1">OFF</label>
                                                <input type="radio" value="1" name="eliminateChoiceTool" id="eliminateChoiceTool2" /> <label for="eliminateChoiceTool2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="eliminateChoiceToolSectionItems" class='chkSetAtSectionLevel' data-order='15' />
                                                <label for="eliminateChoiceToolSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockEliminateChoiceTool" />
                                            <label for="chklockEliminateChoiceTool">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Flag Item Tool
                                    </td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="flagItemTool" id="flagItemTool1" /> <label for="flagItemTool1">OFF</label>
                                                <input type="radio" value="1" name="flagItemTool" id="flagItemTool2" /> <label for="flagItemTool2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="flagItemToolSectionItems" class='chkSetAtSectionLevel' data-order='16' />
                                                <label for="flagItemToolSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockFlagItemTool" />
                                            <label for="chklockFlagItemTool">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Equation Editor
                                    </td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="equationeditor" id="equationeditor1" /> <label for="equationeditor1">OFF</label>
                                                <input type="radio" value="1" name="equationeditor" id="equationeditor2" /> <label for="equationeditor2">ON</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="equationeditorSectionItems" class='chkSetAtSectionLevel' data-order='17' />
                                                <label for="equationeditorSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockEquationeditor" />
                                            <label for="chklockEquationeditor">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Drawing Tool
                                    </td>
                                    <td>
                                        <div class="wrapper flex_space-bettween">
                                            <div>
                                                <input type="radio" value="0" name="drawingTool" id="drawingTool1" /> <label for="drawingTool1">Free Formatted</label>
                                                <br>
                                                <input type="radio" value="1" name="drawingTool" id="drawingTool2" /> <label for="drawingTool2">Graphing and Labeling</label>
                                            </div>

                                            <div class="cb__sectionLevel">
                                                <input type="checkbox" id="drawingToolSectionItems" class='chkSetAtSectionLevel' data-order='18' />
                                                <label for="drawingToolSectionItems">Set at Section Level</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockDrawingTool" />
                                            <label for="chklockDrawingTool">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="accordion-title last">
                        <h3>Other</h3>
                    </div>
                    <div class="accordion-content">
                        <table class="table table-accordion u-w-p-100 last">
                            <tbody>
                                <tr>
                                    <td class="w-30 table-accordion-title">
                                        Can Review Test
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="canReviewTest" id="canReviewTest1" /> <label for="canReviewTest1">OFF</label>
                                        <input type="radio" value="1" name="canReviewTest" id="canReviewTest2" /> <label for="canReviewTest2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockCanReviewTest" />
                                            <label for="chklockCanReviewTest">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">Hide Correct Answers and Grading Results in Student Review</td>
                                    <td>
                                        <input type="radio" value="0" name="hideCorrectAnswerAndGrading" id="hideCorrectAnswerAndGrading1" /> <label for="hideCorrectAnswerAndGrading1">OFF</label>
                                        <input type="radio" value="1" name="hideCorrectAnswerAndGrading" id="hideCorrectAnswerAndGrading2" /> <label for="hideCorrectAnswerAndGrading2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockhideCorrectAnswerAndGrading" />
                                            <label for="chklockhideCorrectAnswerAndGrading">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                @if (ViewBag.TestExtractOptions != null && ViewBag.TestExtractOptions.IsUseTestExtract == true)
                                {
                                    <tr id="trTestExtractID">
                                        <td class="table-accordion-title">
                                            Test Extract
                                        </td>
                                        <td>
                                            @if (ViewBag.TestExtractOptions.CleverApi)
                                            {
                                                <input type="radio" value="0" checked name="testExtract_clever" id="testExtract_clever_off" /> <label for="testExtract_clever_off">OFF</label>
                                                <input type="radio" value="1" name="testExtract_clever" id="testExtract_clever_on" /> <label for="testExtract_clever_on">ON</label>
                                            }
                                            else
                                            {
                                                if (ViewBag.TestExtractOptions.Gradebook)
                                                {
                                                    <input type="checkbox" value="0" name="testExtract_gradebook" id="testExtract_gradebook" /> <label for="testExtract_gradebook">Gradebook</label>
                                                }
                                                if (ViewBag.TestExtractOptions.StudentRecord)
                                                {
                                                    <input type="checkbox" value="0" name="testExtract_studentRecord" id="testExtract_studentRecord" /> <label for="testExtract_studentRecord">Student Record</label>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <div style="visibility:hidden;">
                                                <input type="checkbox" id="chklockTestExtract" />
                                                <label for="chklockTestExtract">Lock</label>
                                            </div>
                                        </td>
                                    </tr>
                                    if (ViewBag.TestExtractOptions.ShowRawOrPercentOption)
                                    {
                                        <tr>
                                            <td class=" table-accordion-title">Exported Score</td>
                                            <td class="">
                                                <input type="radio" value="0" name="testExtractExportRawScore" /> Percent
                                                <input type="radio" value="1" name="testExtractExportRawScore" /> Raw
                                            </td>
                                            <td>
                                                <div style="visibility:hidden;">
                                                    <input type="checkbox" id="chklockTestExtractExportRawScore" />
                                                    <label for="chkestExtractExportRawScore">Lock</label>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr id="trAdaptiveTestID" style="display: none;">
                                    <td class="table-accordion-title">
                                        Adaptive Test
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="adaptiveTest" id="adaptiveTest1" /> <label for="adaptiveTest1">OFF</label>
                                        <input type="radio" value="1" name="adaptiveTest" id="adaptiveTest2" /> <label for="adaptiveTest2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockAdaptiveTest" />
                                            <label for="chklockAdaptiveTest">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                @if (@ViewBag.NavigationMethodID == (int)LinkIt.BubbleSheetPortal.Common.Enum.NavigationMethodEnum.NORMAL_BRANCHING ||
                                    @ViewBag.NavigationMethodID == (int)LinkIt.BubbleSheetPortal.Common.Enum.NavigationMethodEnum.SECTION_BASE_BRANCHING ||
                                    @ViewBag.NavigationMethodID == (int)LinkIt.BubbleSheetPortal.Common.Enum.NavigationMethodEnum.ALGORITHMIC_BRANCHING)
                                {
                                    <tr id="trbranchingTestID">
                                        <td class="table-accordion-title">
                                            Navigation Method
                                        </td>
                                        <td>
                                            @if (@ViewBag.NavigationMethodID == (int)LinkIt.BubbleSheetPortal.Common.Enum.NavigationMethodEnum.NORMAL_BRANCHING)
                                            {
                                                <span id="idinputNormalBranching">
                                                    <input readonly="readonly" type="radio" value="1" name="branchingTest" /> Normal Branching
                                                </span>
                                            }
                                            @if (@ViewBag.NavigationMethodID == (int)LinkIt.BubbleSheetPortal.Common.Enum.NavigationMethodEnum.SECTION_BASE_BRANCHING)
                                            {

                                                <span id="idbranchingTestlet">
                                                    <input readonly="readonly" type="radio" value="3" name="branchingTest" /> Section Based Branching
                                                </span>
                                            }
                                            @if (@ViewBag.NavigationMethodID == (int)LinkIt.BubbleSheetPortal.Common.Enum.NavigationMethodEnum.ALGORITHMIC_BRANCHING)
                                            {
                                                <span id="idbranchingTestMultipart">
                                                    <input readonly="readonly" type="radio" value="2" name="branchingTest" /> Algorithmic Branching
                                                </span>
                                            }
                                        </td>
                                        <td>
                                            <div style="visibility:hidden;">
                                                <input type="checkbox" id="chklockBranchingTest" />
                                                <label for="chklockBranchingTest">Lock</label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td class="table-accordion-title">
                                        Show Test Instructions
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="showTestInstructions" id="showTestInstructions1" /> <label for="showTestInstructions1">OFF</label>
                                        <input type="radio" value="1" name="showTestInstructions" id="showTestInstructions2" /> <label for="showTestInstructions2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockshowTestInstructions" />
                                            <label for="chklockshowTestInstructions">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-accordion-title">
                                        Show Incomplete Answer Warning
                                    </td>
                                    <td>
                                        <input type="radio" value="0" name="showIncompleteAnswerWarning" id="showIncompleteAnswerWarning1" /> <label for="showIncompleteAnswerWarning1">OFF</label>
                                        <input type="radio" value="1" name="showIncompleteAnswerWarning" id="showIncompleteAnswerWarning2" /> <label for="showIncompleteAnswerWarning2">ON</label>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden;">
                                            <input type="checkbox" id="chklockshowIncompleteAnswerWarning" />
                                            <label for="chklockshowIncompleteAnswerWarning">Lock</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button class="float-right" style="width: 100px;" id="btnSubmitUpdatePreference" type="button" disabled>Set</button>
            <button class="float-right" style="width: 100px;" id="btnTestSettingCancel" type="button">Cancel</button>
        </fieldset>
    </div>
</div>

<script>
    $('#btnTestSettingCancel').unbind('click');
    $('#btnTestSettingCancel').live("click", function () {
        $(".dialog").dialog("close");
        if ($('#lbltestSchedule').text() == "OFF") {
            $(".test-schedule-container").hide();
        }
    });
    //------------------------------------------------------------
    $(function () {
        testSchedule.init(testPreferenceModel.OptionTags, '5');
        $('#lastUpdateInformation').empty();
        if (lastUpdatedString != '')
            $('#lastUpdateInformation').append(lastUpdatedString);

        $("#selectDeadline").datepicker({
            dateFormat: '@ViewBag.DateFormat',
            beforeShow: function (input) {
                $(input).css({
                    "position": "relative",
                    "z-index": '2000'
                });

                var tagActive = $(input).parents('body').find('#ui-datepicker-div');
                tagActive.find('.ui-state-highlight').css('min-height', 'auto');
                tagActive.addClass('customCssDataPickerPreference');
            }
        });
        $("#selectDeadline").mask("99/99/9999");

        $("#durationId").keydown(function (event) {
            if (event.shiftKey) {
                event.preventDefault();
            }
            if ((event.keyCode == 110 || event.keyCode == 190) && $('#durationId').val().indexOf('.') >= 0) {
                event.preventDefault();
                return;
            }
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 110 || event.keyCode == 190) {
            } else {
                if (event.keyCode < 95) {
                    if (event.keyCode < 48 || event.keyCode > 57) {
                        event.preventDefault();
                    }
                } else {
                    if (event.keyCode < 96 || event.keyCode > 105) {
                        event.preventDefault();
                    }
                }
            }
        });

        $('#rdTimeLimitOFF').unbind('click');
        $('#rdTimeLimitOFF').click(function () {
            $('#idTimeLimitON').hide();
            $('#divDuration').hide();
            $('#divDeadline').hide();
            //$('#trShowTimeLimitWarning').hide();
            //\
            //var row = '<tr id="trShowTimeLimitWarning1" style="display: none;"><td></td><td></td></tr>';
            //$("#trShowTimeLimitWarning").closest("tr").after(row);

            $("#trMathPalette").addClass("tr-even");
            $("#trMathPalette").removeClass("tr-odd");

            $("#trSpanishPalette").addClass("tr-odd");
            $("#trSpanishPalette").removeClass("tr-even");

        });

        $('#rdTimeLimitON').unbind('click');
        $('#rdTimeLimitON').click(function () {
            //$('#trShowTimeLimitWarning1').remove();
            //$('#trShowTimeLimitWarning').show();
            $('#idTimeLimitON').show();
            if ($('#enableDurationOption:checked').length > 0) {
                $('#divDuration').show();
                $('#divDeadline').hide();
            } else {
                $('#divDuration').hide();
                $('#divDeadline').show();
            }

            $("#trMathPalette").addClass("tr-odd");
            $("#trMathPalette").removeClass("tr-even");

            $("#trSpanishPalette").addClass("tr-even");
            $("#trSpanishPalette").removeClass("tr-odd");

        });

        $('#enableDurationOption').unbind('click');
        $('#enableDurationOption').click(function () {
            $('#divDuration').show();
            $('#divDeadline').hide();
        });

        $('#enableDeadline').unbind('click');
        $('#enableDeadline').click(function () {
            $('#durationId').val(0);
            $('#divDuration').hide();
            $('#divDeadline').show();
        });

        InitTime();
        //Fill data
        FillDataToLayout(preferece_level.TEST_ASSIGNMENT);

        $('#rdTextToSpeedOptionOff').click(function () {
            $('#idTestToSpeedOptionON').hide();

        });
        $('#rdTextToSpeedOptionOn').click(function () {
            $('#idTestToSpeedOptionON').show();
            $('#selectVolume').val(0.5);
        });
        $('#rdTextToSpeedOptionOnPassage, #rdTextToSpeedOptionOnQuestion').click(function () {
            if($(this).attr('id') === 'rdTextToSpeedOptionOnQuestion') {
                $('#idTestToSpeedOptionON').css({
                    'left': '0',
                    'position': 'relative'
                });
            } else {
                $('#idTestToSpeedOptionON').css({
                    'left': '0',
                    'position': 'static'
                });
            }
            $('#idTestToSpeedOptionON').show();
            $('#selectVolume').val(0.5);
        });

        $('#divAssignmentSettingl2').on('click change', 'input:radio, input:checkbox, input:button', function () {
            $("#btnSubmitUpdatePreference").attr('disabled', false);
        });

        if ('@ViewBag.IsPreventEditOverrideGrade' === 'True') {
            $('input[name="overrideAutoGradedTextEntry"]').attr('disabled', 'disabled');
            $('input[name="overrideAutoGradedTextEntryCkb"]').attr('disabled', 'disabled');
            $('#chklockOverrideAutoGradedTextEntry').attr('disabled', 'disabled');
        }
    });

    function InitTime() {
        for (i = 0; i < 60; i++) {
            var text = i.toString();
            if (i < 10) {
                text = '0' + i;
            }
            var option = new Option(text, i);
            $('#selectMunite').append($(option));
        }
    }

    function checkNullMinutes() {
        if ($("#durationId").val().length == 0) {
            $("#durationId").val('1');
        }
    }
    const genSectionSettings = (tag_key, section, option_or_tool_tag) => {
        let timeLimitParams = [
            {
                "Key": "sectionId",
                "Value": `${section.VirtualSectionId}`
            },
            {
                "Key": "duration",
                "Value": section[option_or_tool_tag][`duration_${tag_key}`]
            },
            {
                "Key": "timeLimitDurationType",
                "Value": section[option_or_tool_tag][`timeLimitDurationType_${tag_key}`]
            },
            {
                "Key": "on",
                "Value": section[option_or_tool_tag][tag_key] == "1" ? "1" : "0"
            },
            {
                "Key": "lock",
                "Value": section[option_or_tool_tag][`chklock_${tag_key}`]
            }
        ]
        let onOffParams = [
            {
                "Key": "sectionId",
                "Value": `${section.VirtualSectionId}`
            },
            {
                "Key": "on",
                "Value": `${section[option_or_tool_tag][tag_key]}`
                //"Value": section[option_or_tool_tag][tag_key] == "1" ? "1" : "0"
            },
            {
                "Key": "lock",
                "Value": section[option_or_tool_tag][`chklock_${tag_key}`]
            }
        ]

        return tag_key == 'timeLimitSectionItems' ? timeLimitParams : onOffParams
    }

    const updateSectionsAttrsOfCurrentTags = (tags, option_or_tool_tag) => {
        let customTags = tags.map(tag => {
            return  {
                "Key": tag.Key,
                "Value": "",
                "Attributes": [],
                "SectionItems": [
                //section list
                    ...customSectionsSettting.map(section => ({
                                "Key": "sectionItem",
                                "Value": "",
                                "SectionItems": [],
                                "Attributes": genSectionSettings(tag.Key, section, option_or_tool_tag)
                    }))
                ]
            }
        })

        return customTags
    }

    const customDataHaveSectionsItem = () => {
        let optionTagsRemoveItems = testPreferenceModel.OptionTags.filter(opt => !opt.Key.includes("SectionItems"))
        let toolTagsRemoveItems = testPreferenceModel.ToolTags.filter(opt => !opt.Key.includes("SectionItems"))
        let currentOptionTags = sectionsOptionsToolsTags.filter( a => ["timeLimitSectionItems", 'mustAnswerAllQuestionsSectionItems'].includes(a.Key) )
        let currentToolTags = sectionsOptionsToolsTags.filter( a => !["timeLimitSectionItems", 'mustAnswerAllQuestionsSectionItems'].includes(a.Key) )

        let getUpdatedValsCurrentOptionTags = updateSectionsAttrsOfCurrentTags(currentOptionTags, 'option_tags')
        let getUpdatedValsCurrentToolTags = updateSectionsAttrsOfCurrentTags(currentToolTags, 'tool_tags')

        return {
            OptionTags: [...optionTagsRemoveItems, ...getUpdatedValsCurrentOptionTags],
            ToolTags:  [...toolTagsRemoveItems, ...getUpdatedValsCurrentToolTags],
            VirtualSections: [...testPreferenceModel.VirtualSections]
        }
    }

    function customDataSectionAvailability() {
        let currentChecked = $("input[name='sectionAvailability']:checked").val()
        let sectionAvailability = testPreferenceModel.OptionTags.filter(o => o.Key == "sectionAvailability")[0]

        if (!sectionAvailability) {
            testPreferenceModel.OptionTags.push({
                "Key": "sectionAvailability",
                "Value": "",
                "Attributes": [],
                "SectionItems": []
            })

            sectionAvailability = testPreferenceModel.OptionTags.filter(o => o.Key == "sectionAvailability")[0]
        }

        let sectionItems = testSections.map(s => (
            {
                "Key": "sectionItem",
                "Value": "",
                "Attributes": [
                    {
                    "Key": "sectionId",
                    "Value": `${s.VirtualSectionId}`
                    },
                    {
                    "Key": "open",
                    "Value": `${$(`input[name='section_${s.VirtualSectionId}_open']:checked`).val()}`
                    },
                    {
                    "Key": "lock",
                    "Value": "True"
                    }
                ],
                "SectionItems": []
            }
        ))


        if (currentChecked == 1) {
            sectionAvailability[`SectionItems`] = [...sectionItems]
        } else {
            sectionAvailability[`SectionItems`] = []
        }
        sectionAvailability.Attributes = [
                {
                    "Key": "on",
                    "Value": `${currentChecked}`
                },
                 {
                    "Key": "lock",
                    "Value": `${$(`#chklockSectionAvailability`).is(":checked")}`
                },
        ]
        sectionAvailability.Value = ''

    }

    function customDateTimeLimit() {
        let timeLimitSectionItemsChecked = $("#timeLimitSectionItems").is(":checked")
        let deadline = testPreferenceModel.OptionTags.filter(o => o.Key == "deadline")[0]
        let duration = testPreferenceModel.OptionTags.filter(o => o.Key == "duration")[0]

        duration.Value = `${duration.Value}`
        if (timeLimitSectionItemsChecked) {
            deadline.Value = ''
            duration.Value = '1'
            $('#hdfDurationId').val('1')
        }
    }

    $("#btnSubmitUpdatePreference").unbind('click');
    $("#btnSubmitUpdatePreference").click(function () {
        $("#btnSubmitUpdatePreference").attr('disabled', true);
        if (!testSchedule.validateTestScheduleForm()) return;
        ShowBlock($('#divAssignmentSettingl1'), "Update Setting");
        var errorMsg = UpdateTestPreferenceModel();

        if (errorMsg != '') {
            CustomAlert(errorMsg);
            $('#divAssignmentSettingl1').unblock();
            return;
        }

        FillReadOnlyPreferences()

        let validates_passed = false
        let timeLimitSectionItems_ON = customSectionsSettting.map(s => s.option_tags).filter(s => s.timeLimitSectionItems == 1)

        if (timeLimitSectionItems_ON.length > 0) {
            let timeLimitSectionItems_ON_duration = timeLimitSectionItems_ON.filter( s => s.duration_timeLimitSectionItems > 0 )
            if (timeLimitSectionItems_ON.length == timeLimitSectionItems_ON_duration.length) {
                validates_passed = true
            } else {
                CustomAlert('Section level: Time limit must be provided.');
                $('#divAssignmentSettingl1').unblock();
            }
        } else {
            validates_passed = true
        }

        if (!validates_passed) {
            return;
        }

        if (customSectionsSettting.length > 1) {
            let finalDataCustom = customDataHaveSectionsItem()
            testPreferenceModel = finalDataCustom
            customDataSectionAvailability()


        }

        customDateTimeLimit()

        reLoadBlockDefaultSettings(true, customSectionsSettting)

        $('#divAssignmentSettingl1').unblock();
        $(".dialog").dialog("close");
    });
</script>
<script type="text/javascript">
    (function ($) {
        'use strict';

        $('#accordion-assignment-setting .accordion-title').on('click', function () {
            var $self = $(this);
            var $accordionContent = $self.next();

            if ($self.hasClass('active')) {
                $self.removeClass('active');
                $accordionContent.slideUp();
            } else {
                $self.addClass('active');
                $accordionContent.slideDown();
            }
        });
    }(jQuery));
</script>
<script>
    var testSections = testSectionsDefaultSettings || []
    var sectionsOptionsToolsTags = sectionsOptionsToolsTagsDefaultSettings
    var customSectionsSettting = customSectionsSetttingDefaultSettings
    var CAN_EDIT = true
    var CURRENTPAGE = 'TestAssignmentReview'
</script>

<script src="@Url.Content("~/Scripts/TestPreferences/testPreferencesEvents.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TestPreferences/testPreferencesVue.js")" type="text/javascript"></script>
