@using LinkIt.BubbleSheetPortal.Web.Helpers
@{
    ViewBag.Title = "Upload Help";
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }

    }
}
@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleHelpResourceBundle()
<link href="@BundleHelper.Version("~/Content/css/v2/upload-help-resource.css")" rel="stylesheet" type="text/css" />

<article class="container_12">
    <section>
        <div class="block-border" id="divAddResource">
            <div class="form">
                <div class="block-section-custom mb-4">
                    <h1 data-bind="text: HelpResourceUploadTitle"></h1>
                    <fieldset id="locationFieldset">
                        <p class="title-large">Resource Info</p>
                        <div class="columns">
                            <div style="flex: 1">
                                <p>
                                    <label>Categories</label>
                                    <select class="full-width" data-bind="value: HelpResourceCategoryID, options: Categories, optionsText: 'DisplayText', optionsValue: 'ID'"></select>
                                </p>
                            </div>
                            <div style="flex: 1">
                                <p>
                                    <label>Activities</label>
                                    <select class="full-width" data-bind="value: HelpResourceTypeID, options: HelpResourceTypes, optionsText: 'DisplayText', optionsValue: 'ID'"></select>
                                </p>
                            </div>
                            <div style="flex: 1">
                                <p>
                                    <label>Topic</label>
                                    <input type="text" class="full-width" data-bind="value: Topic, attr: {style: TopicStyleAttr}" />
                                </p>
                            </div>
                        </div>
                        <div class="desc-container">
                            <p>
                                <label>Description</label>
                                <textarea data-bind="value: Description" rows="5" id="descriptionArea" cols="75" style="width: 100%" maxlength="1000"></textarea>
                            </p>
                            <p>
                                <label style="width:100%">Keyword <i>(Optional where comma ',' is used to delimit keywords or keyword phrases)</i></label>
                                <textarea rows="5" data-bind="value: KeyWords" id="keywordsArea" cols="75" style="width: 100%" maxlength="1000"></textarea>
                            </p>
                        </div>
                    </fieldset>
                </div>
                <div class="block-section-custom mb-4">
                    <fieldset id="LessonFileFieldset">
                        <p class="title-large">Resource Path</p>
                        <div>
                            <div class="group-radio-container">
@**@                                <label><input type="radio" name="radioHelpResourceLinkOrFile" data-bind="checked: HelpResourceLinkOrFile" value="link" />Link </label>
                                <label><input type="radio" name="radioHelpResourceLinkOrFile" data-bind="checked: HelpResourceLinkOrFile" value="file" />File</label>
                            </div>


                            <div data-bind="visible: LinkPanelVisible" style="width: 610px">
                                <label>Resource Path</label>
                                <div class="u-m-b-10">
                                    <input type="text" style="width:560px;" data-bind="value: HelpResourceLink" />
                                    <div class="u-inline-block u-v-align-middle">
                                        <i class="icon fa-solid fa-circle-check icon-green ms-1" data-bind="visible: ResoureLinkValidVisible" style="display: none;"></i>
                                        <i class="icon fa-solid fa-circle-xmark icon-red ms-1" data-bind="visible: ResoureLinkInValidVisible" id="imgResoureLinkInvalid" style="display: none;"></i>
                                    </div>
                                </div>
                                <button data-bind="click: ValidateLinkClickHandler" type="button" class="btn-blue">Validate Link</button>
                            </div>

                            <div data-bind="visible: FilePanelVisible" style="display:none;">
                                <input id="file_upload" name="file_upload" type="file" />
                                <a href="javascript:void(0);" class="tooltipBox u-inline-block u-m-t-10" data-bind="text: HelpResourceFileName, click: HelpResourceFileNameClickHandler, visible: HelpResourceFileNameVisible"></a>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="block-section-custom btn-container">
                    <button id="btnCancel" type="button" class="grey btn-blue" data-bind="click: CancelClickHandler">Cancel</button>
                    <button type="submit" data-bind="click: SubmitClickHandler, enable: SubmitButtonEnable" class="btn-red">Submit</button>
                </div>
            </div>
    </section>
</article>

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptHelpResourceUploadBundle()

<script type="text/javascript">

    var viewModel = new HelpResourceUploadViewModel();

    $(function () {
        viewModel.DownloadUrl('@Url.Action("Download", "HelpResourceUpload")');
        viewModel.UploadUrl('@Url.Action("UploadHelpResource", "HelpResourceUpload")');
        viewModel.HelpResourceUrl('@Url.Action("Admin", "HelpResource")');
        viewModel.HelpResourceValidateLinkUrl('@Url.Action("ValidateLink", "HelpResourceUpload")');

        viewModel.HelpResourceLinkIDConst(@((int)LinkIt.BubbleSheetPortal.Models.HelpResource.HelpResourceFileTypeEnum.Link));

        ShowBlock($(viewModel.AddHelpResourceDivSelector()), 'Loading');

        var getCategoriesPromise = viewModel.PostAjax('@Url.Action("GetHelpResourceCategories", "HelpResource")', null, function (allData) {
            $(viewModel.AddHelpResourceDivSelector()).unblock();
            var mappedObjects = $.map(allData, function (item) {
                return new Category(item);
            });
            viewModel.Categories(mappedObjects);
        }, null);

        var getResourceTypesPromise = viewModel.PostAjax('@Url.Action("GetHelpResourceTypes", "HelpResource")', null, function (allData) {
            $(viewModel.AddHelpResourceDivSelector()).unblock();
            var mappedObjects = $.map(allData, function (item) {
                return new HelpResourceType(item);
            });
            viewModel.HelpResourceTypes(mappedObjects);
        }, null);

        $.when(getCategoriesPromise, getResourceTypesPromise).done(function (a1, a2) {
            viewModel.PostAjax('@Url.Action("GetHelpResourceByID", "HelpResourceUpload")', { 'helpResourceID': '@ViewBag.HelpResourceID' }, function (data) {
                viewModel.Description(data.Description);
                viewModel.HelpResourceFilePath(data.HelpResourceFilePath);
                viewModel.HelpResourceID(data.HelpResourceID);
                viewModel.HelpResourceLink(data.HelpResourceLink);
                viewModel.HelpResourceTypeID(data.HelpResourceTypeID);
                viewModel.HelpResourceFileTypeID(data.HelpResourceFileTypeID);
                viewModel.Topic(data.Topic);
                viewModel.HelpResourceCategoryID(data.HelpResourceCategoryID);
                viewModel.KeyWords(data.KeyWords);
                viewModel.DisplayResourceLinkValidStatus(data.HelpResourceLinkValid);

                if (viewModel.HelpResourceFileTypeID() != null && viewModel.HelpResourceFileTypeID() == viewModel.HelpResourceLinkIDConst()) {
                    viewModel.HelpResourceLinkOrFile('link');
                } else {
                    viewModel.HelpResourceLinkOrFile('file');
                    portalV2SkinRadio();
                }

            }, null);
        });
        ko.applyBindings(viewModel);
    });

    $('#file_upload').uploadifive(BuildUploadifiveOptions());

    function BuildUploadifiveOptions() {
        var result = {
            'uploadLimit': 1,
            'queueSizeLimit': 1,
            'uploadScript': '@Url.Action("UploadHelpResource", "HelpResourceUpload")',
            'overrideEvents': ['onDialogClose'],
            'buttonText': 'Select File',
            'fileObjName': 'postedFile',
            'multi': false,
            'removeCompleted': true,
            'width': 100,
            'auto': false,
            'fileSizeLimit': '102400',
            'fileType': false,
            'overrideEvents': ['onError'],
            'onCancel': function (file) {
                if (viewModel.TotalFileInQueue() == 1)
                    viewModel.TotalFileInQueue(viewModel.TotalFileInQueue() - 1);
            },
            'onAddQueueItem': function (file) {
                if (viewModel.TotalFileInQueue() == 0)
                    viewModel.TotalFileInQueue(viewModel.TotalFileInQueue() + 1);
            },
            'onUpload': function (file) {
                ShowBlock($(viewModel.AddHelpResourceDivSelector()), 'Loading');
            },
            'onUploadComplete': function (file, data) {
                $(viewModel.AddHelpResourceDivSelector()).unblock();
                var allData = JSON.parse(data);
                if (allData.success) {
                    ConfirmDiaglog({ 'Message': 'Upload Successful.', 'width': 400, 'YesButtonCaption': 'Ok', 'ShowNoButton': false, 'HideCloseButton': 1 }, function (options) {
                        location.reload();
                    }, null);
                } else {
                    ConfirmDiaglog({ 'Message': allData.errorMessage, 'width': 400, 'YesButtonCaption': 'Ok', 'ShowNoButton': false, 'HideCloseButton': 1 }, function () {
                        $('#file_upload').uploadifive('destroy');
                        $('#file_upload').uploadifive(BuildUploadifiveOptions());
                    }, null);
                }

            },
            'onError': function (errorType, file) {
            }
        };
        return result;
    }

</script>
