  @model LinkIt.BubbleSheetPortal.Web.ViewModels.StudentLoginViewModel

@{
    Layout = "~/Views/Shared/_LogOnPartial_v2.cshtml";
}

<style>
    .info-resgistration-code {
        padding: 1rem;
        background-image: url(/Content/images/icons/icon-info.svg);
        background-repeat: no-repeat;
        background-color: var(--blue1);
        border: 1px solid var(--blue1) ;
        background-position: 1rem 1rem;
        padding-left: 3rem;
        margin-bottom: 1.5rem
    }
</style>

<section id="login-block" class="box-shadow">
    <div class="block-border">
        <div class="@("block-header " + (Model.IsStudentLogin ? "bg-student-login" : "bg-parent-login"))">Hello @Model.FirstName</div>
        <div class="block-content">
            <form class="form" id="r-code-rcode" method="post" action="@Url.Action("RegistrationCodeStep2", "Student")">
                <div class="info-resgistration-code">
                    <p>
                        By clicking the "Next" button, you confirm you are <b>@Model.FirstName @Model.LastName</b>. Otherwise, please close this browser page and contact @(Model.IsStudentLogin ? "your teacher" : "a district administrator" ) for a new registration code. Creating an account on behalf of another user may result in disciplinary actions.
                    </p>
                </div>
                <div style="height: 45px;">
                    <button id="btnRegistrationCode" type="submit" class="float-right btn-accept">Next</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $('#r-code-rcode').submit(function (event) {
        event.preventDefault();

        var data = {
            rcode: '@Model.RCode',
            isStudentLogin: '@Model.IsStudentLogin'
        };

        $.ajax({
            url: '@Url.Action("RegistrationCodeStep2", "Student")',
            type: 'POST',
            data: data,
            success: function (result) {
                if (result.type == 'error') {
                    $('#login-block').removeBlockMessages({animate: false}).blockMessage(result.message, { type: 'error', animate: false });
                }
                else {
                    $('#login-block').replaceWith(result);
                }
            }
        });
    });
</script>
