@using LinkIt.BubbleSheetPortal.Models
@using LinkIt.BubbleSheetPortal.Web.Helpers
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.SurveyModule, "Review Surveys");
}

<script src="@Url.Content("~/Scripts/knockout-3.0.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/FeLibs/jquery-coolfieldset/js/jquery.coolfieldset.js")" type="text/javascript"></script>
<script src="@Url.Content("/Content/themes/AssignmentRegrader/js/css_browser_selector.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/constants.js")" type="text/javascript"></script>

<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/linkit-utility/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<style>
    .bntCreate {
        margin-right: 10px;
    }

    #selectFilters select {
        max-width: 300px;
        min-width: 300px;
    }
</style>

<article class="container_12">
    <section class="grid_12">
        <div class="block-border" id="selectFilters">
            <div class="block-content form bubbleSheetSelector">
                <h1>
                    Review Surveys
                </h1>

                @if (ViewBag.IsPublisher || ViewBag.IsNetworkAdmin)
                {
                    <fieldset id="publisherContent" class="grey-bg">
                        <legend>Select State/@LabelHelper.DistrictLabel</legend>
                        <div class="columns">
                            <div class="colx2-left">
                                <p>
                                    <label>State</label>
                                    <select id="selectState"></select>
                                </p>
                            </div>
                            <div class="colx2-right">
                                <p>
                                    <label>@LabelHelper.DistrictLabel</label>
                                    <select id="selectDistrict"></select>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                }
                else
                {
                    <input id="hdfDistrictId" value="@ViewBag.DistrictId" type="hidden" />
                }


                <fieldset>
                    <div class="columns">
                        <div class="colx2-left">
                            <p>
                                <label>Survey Bank</label>
                                <select id="selectBank"></select>
                            </p>

                            <p>
                                <label>
                                    @LabelHelper.Term
                                </label>
                                <select id="selectDistrictTerm"></select>
                            </p>

                        </div>
                        <div class="colx2-right">
                            <p>
                                <label>Survey</label>
                                <select id="selectSurvey"></select>
                            </p>

                            <p>
                                <label>Assignment Type</label>
                                <select id="selectAssignmentType"></select>
                            </p>

                        </div>
                    </div>
                </fieldset>

                <button id="filterSheets" class="float-right" type="submit" onclick="filterSheet();">Apply Filters</button>
                <button id="clearFilter" class="float-right grey bntCreate" type="button" onclick="clearFilter();">Clear Filters</button>
                <div class="clear"></div>
            </div>
        </div>
        <br />
        <br />
        <div class="block-border" id="reviewList">
            <div class="block-content form">
                <h1>
                    Survey Assignments
                    <div class="clearfix"></div>
                    <a href="javascript:void(0)" id="btnActiveTestClassAssignment" style="margin-left: 7px; margin-top: 1px;" class="off">
                        Show Deactivated:
                        <span id="spanClassActive">Off</span>
                    </a>
                </h1>

                <p style="height: 5px"></p>
                <div class="no-margin last-child">
                    <!--Table-->
                    <table id="dataTable" class="datatable table no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" class="black-cell"><input type="checkbox" id="rcodeCheckAll" style="position:absolute; top:24px;" /> <span class="loading"></span></th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Survey
                                </th>

                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    @LabelHelper.Term
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    School
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Assignment Type
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    # Assignments
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Most Recent Response
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    var showActiveAssignment = true;

    function KeyValuePair(data) {
        var self = this;
        self.Text = ko.observable(data.Name);
        self.Value = ko.observable(data.Id);
    }

    function getDistrictId() {
        if (isPublisherOrNetworkAdmin()) {
            return $('#selectDistrict').val();
        } else {
            var districtId = $('#selectDistrict').val();
            if (districtId == null || districtId == 'select') {
                districtId = $('#hdfDistrictId').val();
            }

            return districtId;
        }
    }

    function loadData() {
        var options = {
            bDestroy: true,
            bServerSide: true,
            sAjaxSource: getAjaxSource(),
            fnServerParams: function (aoData) {
            },
            bAutoWidth: false,
            iDisplayLength: 10,
            aLengthMenu: [10, 50, 100, 500, 1000],
            aaSorting: [[7, "desc"]],
            oLanguage: { "sEmptyTable": "No results meet your search criteria" },
            aoColumns: [
                { sType: 'int', sName: 'VirtualTestId', bSearchable: false, bSortable: false, bVisible: false, sWidth: '1px' },
                { sType: 'string', sName: 'SurveyName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'TermName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'SchoolName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'AssignmentType', bSearchable: true, bSortable: true, sWidth: '130px' },
                { sType: 'string', sName: 'Assignments', bSearchable: true, bSortable: true, sWidth: '120px', sClass: 'columnRight' },
                { sType: 'string', sName: 'MostRecentResponse', bSearchable: true, bSortable: true, sWidth: '100px' },
                { sType: 'string', sName: 'UrlAssignSurvey', bSearchable: false, bSortable: false, bVisible: false, sWidth: '1px'  }
            ],
            aaSorting: [[1, "asc"]],
            bStateSave: false,
            fnRowCallback: function (nRow, aData) {
                var stateId = $('#selectState').val();
                var districtId = getDistrictId();
                var queryParmas = `${aData[7]}`;

                if (stateId) {
                    queryParmas += `&stateId=${stateId}`;
                }

                if (districtId) {
                    queryParmas += `&districtId=${districtId}`;
                }

                $('td:eq(4)', nRow).html('<a href="@Url.Action("Index", "AssignSurvey")' + queryParmas + '">' + aData[5] + '</a>');
                $('td:eq(5)', nRow).html(displayDateWithFormat(aData[6]));

                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTable'), 'Loading');

                $('#filterSheets').attr("disabled", "disabled");

                return true;
            },
            fnDrawCallback: function () {
                $('#dataTable').unblock();
                $('.with-tip').tip();
                $('#filterSheets').removeAttr("disabled");
            }
        };

        $("#dataTable").data("options", options);
        oaTable = initializeDataTable($("#dataTable"));
    }

    function getAjaxSource() {
        var districtId = getDistrictId();
        return `@Url.Action("GetSurveyAssignments", "ReviewSurvey")/?districtId=${districtId}&surveyBankId=${$('#selectBank').val()}&surveyId=${$('#selectSurvey').val()}&TermId=${$('#selectDistrictTerm').val()}&SurveyAssignmentType=${$('#selectAssignmentType').val()}&showActiveAssignment=${showActiveAssignment}`;
    }

    function refreshList() {
        var oTable = $("#dataTable").dataTable();
        oTable.fnSettings().sAjaxSource = getAjaxSource();
        oTable.fnDraw();
    }

    function filterSheet()
    {
        var districtId = getDistrictId();
        if (districtId && districtId != 'select') {
            refreshList();
        }
    }

    function clearFilter() {
        if (isPublisherOrNetworkAdmin()) {
            $('#selectState').val('');
            $('#selectDistrict').empty();
        }

        $('#selectBank').val('');
        $('#selectSurvey').empty();

        $('#selectDistrictTerm').val('');
        $('#selectAssignmentType').val('');

        refreshList();
    }

    // Populates
    function populateDistricts() {
        $('#selectDistrict').empty();
        var stateValue = $('#selectState').val();
        if (stateValue != 'select') {
            if ('@ViewBag.IsPublisher' === 'True') {
                $.get('@Url.Action("GetDistricts", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                    addDefaultOption($('#selectDistrict'), "@LabelHelper.DistrictLabel");
                    addSelectListItems($('#selectDistrict'), districts);
                });
            }
            if ('@ViewBag.IsNetworkAdmin' === 'True') {
                $.get('@Url.Action("GetDistrictsForNetworkAdmin", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                    addDefaultOption($('#selectDistrict'), "@LabelHelper.DistrictLabel");
                    addSelectListItems($('#selectDistrict'), districts);
                });
            }
        }
    }

    function populateTerm() {
        $('#selectDistrictTerm').empty();
        var districtId = getDistrictId();
        if (districtId && districtId != 'select') {
            $.get(`@Url.Action("GetTermDistrict", "ManageClasses")?`, { districtId: districtId }, function (terms) {
                terms = terms.sort(function (a, b) { return a.Name.localeCompare(b.Name); });
                addDefaultOption($('#selectDistrictTerm'), "@LabelHelper.Term");
                addSelectListItems($('#selectDistrictTerm'), terms);
            });
        }
    }

    function populateAssignmentTypes() {
        $('#selectAssignmentType').empty();
        var districtId = getDistrictId();
        if (districtId && districtId != 'select') {
            $.get(`@Url.Action("GetSurveyAssignmentTypes", "ReviewSurvey")`, function (types) {
                addDefaultOption($('#selectAssignmentType'), "Assignment Type");
                addSelectListItems($('#selectAssignmentType'), types);
            });
        }
    }

    function populateBanks() {
        resetBanks();
        var districtId = getDistrictId();

        $.get('@Url.Action("GetAssignSurveyBanks", "AssignSurvey")', { districtId: districtId }, function (banks) {
            addDefaultOption($('#selectBank'), "Bank");
            addSelectListItems($('#selectBank'), banks);
        });
    }

    function populateSurvey() {
        $('#selectSurvey').empty();
        var bankValue = $('#selectBank').val();

        var districtId = getDistrictId();

        if (!districtId) districtId = 0;

        if (bankValue != 'select') {
            $.get('@Url.Action("GetTestsForTestAssignmentCustomOrder", "PopulateTest")', { bankId: bankValue, districtId: districtId, isSurvey: true, moduleCode: RestrictionModule.ASSIGNTEST }, function (surveys) {
                surveys = surveys.sort(function (a, b) { return a.Name.localeCompare(b.Name); });

                addDefaultOption($('#selectSurvey'), "Survey");
                addSelectListItemsForTestAssignment($('#selectSurvey'), surveys);
            });
        }
    }

    function populateStates(states) {
        addDefaultOption($('#selectState'), "State");
        addSelectListItems($('#selectState'), states);
    }

    function populateDistrictTerms(terms) {
        var districtId = $("#selectDistrict").val();
        if (districtId == null) {
            districtId = $("#hdfDistrictId").val();
        }
        $.get('@Url.Action("GetTermsByDistrict", "AssignSurvey")', { districtId: districtId }, function (terms) {
            terms = terms.sort(function (a, b) { return a.Name.localeCompare(b.Name); });
            addDefaultOption($('#selectDistrictTerm'), "@LabelHelper.Term");
            addSelectListItems($('#selectDistrictTerm'), terms);
        });
    }

    //Reset
    function resetBanks() {
        $('#selectBank').empty();
        $('#selectSurvey').empty();
    }

    function isPublisherOrNetworkAdmin() {
        return '@ViewBag.IsPublisher' === 'True' || '@ViewBag.IsNetworkAdmin' === 'True';
    }

    $(function () {
        if (isPublisherOrNetworkAdmin()) {
            $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (states) {
                populateStates(states);
            });
        }
        else {
             populateBanks();
             populateTerm();
             populateAssignmentTypes();
        }

        if (isPublisherOrNetworkAdmin()) {
            $('#selectState').change(function () {
                $('#selectDistrict').empty();
                $('#selectBank').empty();
                $('#selectSurvey').empty();
                $('#selectDistrictTerm').empty();
                $('#selectAssignmentType').empty();

                if ($('#selectState').val() != 'select') {
                    populateDistricts();
                }
            });

            $('#selectDistrict').change(function () {
                $('#selectBank').empty();
                $('#selectSurvey').empty();
                $('#selectDistrictTerm').empty();
                $('#selectAssignmentType').empty();

                if ($('#selectDistrict').val() != 'select') {
                    populateBanks();
                    populateTerm();
                    populateAssignmentTypes();
                }
            });
        }

        $('#selectBank').change(function () {
            populateSurvey();
        });

        $('#btnActiveTestClassAssignment').click(function () {
            showActiveAssignment = !showActiveAssignment;

            $("#spanClassActive").html(!showActiveAssignment ? "on" : "off");
            $('#btnActiveTestClassAssignment').attr("class", !showActiveAssignment ? "off" : "on");

            filterSheet();
        });

        loadData();
    });
</script>
