@model LinkIt.BubbleSheetPortal.Web.ViewModels.ItemTagCategoryViewModel
<section>
    <div class="block-border" id="divCreateEditItemTagCategory">
        <div class="block-content">
            <h1>Update @LabelHelper.DistrictLabel Category</h1>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <ul style="display: none" id="success-message" class="message success">
                <li>Update @LabelHelper.DistrictLabel Category successfully.</li>
            </ul>
            <table class="form full-width">
                 @if(Model.IsPublisher||Model.IsNetworkAdmin)
                {
                 <tr>
                    <td class="u-text-right u-p-r-10">
                        @LabelHelper.DistrictLabel:
                    </td>
                     <td>
                         <div class="u-m-b-10">
                             <select id="selectDistrict1" class="full-width u-m-w-250"></select>
                         </div>
                    </td>
                </tr>
                }
                <tr>
                    <td class="u-text-right u-p-r-10">
                        Name:
                    </td>
                    <td>
                        <div class="u-m-b-10">
                            @Html.TextBoxFor(x => x.Name, new {id = "inputItemTagCategoryName", @class = "full-width u-m-w-250"})
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="u-text-right u-p-r-10">
                        Description:
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.Description, new {id = "inputItemTagCategoryDescription", @class = "full-width u-m-w-250"})
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="button" id="btnUpdateItemTagCategory" class="u-m-t-15 u-m-l-5">Update</button>
                        <button type="button" id="btnCancelUpdateItemTagCategory">Cancel</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $.browser.chrome = /chrome/.test(navigator.userAgent.toLowerCase());

        @if(Model.IsPublisher||Model.IsNetworkAdmin)
        {
            <text>
        var dropdownSelector = '#selectDistrict1';
        $.ajax({
            url: '@Url.Action("GetAllDistrict", "Admin")',
                dataType: 'json',
                async: false,
                success: function (districts) {

                    addSelectListWithDefaultValue($(dropdownSelector), districts, @Model.DistrictId);
                },
                beforeSend: function () {
                },
                complete: function () {
                }
            });

        </text>
        }
    });

    $("#inputItemTagCategoryName").keypress(function( event) {
        if($.browser.msie||$.browser.chrome) {
            var limit = 500;
            var len = $("#inputItemTagCategoryName").val().length ;
            if(len+1>limit) {
                event.preventDefault();
            }
        }
    });

    $("#inputItemTagCategoryDescription").keypress(function( event) {
        if($.browser.msie||$.browser.chrome) {
            var limit = 1000;
            var len = $("#inputItemTagCategoryDescription").val().length ;
            if(len+1>limit) {
                event.preventDefault();
            }
        }
    });
    $('#btnCancelUpdateItemTagCategory').die('click');
    $('#btnCancelUpdateItemTagCategory').live('click', function () {
        $(".dialog").dialog("close");
    });

    $('#btnUpdateItemTagCategory').die('click');
    $('#btnUpdateItemTagCategory').live('click', function () {

        var categoryName = $("#inputItemTagCategoryName").val();
        categoryName = categoryName.trim();

        var description = $("#inputItemTagCategoryDescription").val();
        var districtId = 0;
        @if(Model.IsPublisher||Model.IsNetworkAdmin)
        {
            <text>
            districtId = $('#selectDistrict1').val();
            </text>
        }
        if(districtId=='select') {
            districtId = 0;
        }
        if (categoryName.length > 0) {

            $('#btnUpdateItemTagCategory').attr('disabled', true);

            $.post('@Url.Action("UpdateItemTagCategory")', {itemTagCategoryID:@Model.ItemTagCategoryID, districtId:districtId, categoryName: encodeURIComponent(categoryName),description:encodeURIComponent(description) }, function (response) {
                if (response == true) {
                    $('#success-message').show();
                    setTimeout(function () { $(".dialog").dialog("close"); }, 2000);
                } else {
                    addErrorMessages(response);
                    $('#btnUpdateItemTagCategory').removeAttr('disabled');
                }
            });
        } else {
            var response = { ErrorList:[{ErrorMessage:'Please input Item Tag Category Name'}]};
            addErrorMessages(response);
        }
    });

</script>
