@model LinkIt.BubbleSheetPortal.Web.Models.ChangeQuestionAnswer

@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#change-questionAnswer').submit(function (event) {
            event.preventDefault();

            var data = {
                Password: $('#Password').val(),
                SelectedQuestion: $('#Questions option:selected').text(),
                Answer: $('#Answer').val()
            };

            $.ajax({
                url: '@Url.Action("ChangeQuestionAnswer", "Account")',
                dataType: 'json',
                type: 'POST',
                data: data,
                success: function (result) {
                    $('#question-answer-change').removeBlockMessages({ animate: false }).blockMessage(result.message, { type: result.type, animate: false  });
                    if(result.type != 'error') {
                        clearTextFields();
                    }
                },
                error: function () {
                    $('#question-answer-change').removeBlockMessages({ animate: false }).blockMessage('An error has occured.  Please try again.', { type: 'error', animate: false  });
                    clearTextFields();
                }
            });
        });
    });

    function clearTextFields() {
        $('#Password').val('');
        $('#Question').val('');
        $('#Answer').val('');
    }
</script>

<div id="question-answer-change" class="grid_6 g-settings">
    <div class="block-border">
        @using (Html.BeginForm("ChangeQuestionAnswer", "Account", FormMethod.Post, new { @class = " block-content form", id = "change-questionAnswer" }))
        {
            <h1>Change Question/Answer</h1>
            <p>
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @class = "full-width", id = "Password", @maxlength = "50" })
            </p>
            <p>
                @Html.LabelFor(x => x.CurrentSecurityQuestion)
                @Model.CurrentSecurityQuestion
            </p>
            <p>
                @Html.LabelFor(x => x.Questions)
                @Html.DropDownList("Questions", Model.Questions, new { @class = "full-width" })
            </p>
            <p>
                @Html.LabelFor(x => x.Answer)
                @Html.TextBoxFor(x => x.Answer, new { @class = "full-width", id = "Answer", @maxlength = "50" })
            </p>
            <div class="button-container">
                <button class="btn-accept" type="submit">Submit</button>
            </div>

        }
    </div>
</div>
