@using System.Configuration
@model LinkIt.BubbleSheetPortal.Web.Models.ChangePassword

@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#NewPassword').blur(function () {
            var regex = new RegExp('@ConfigurationManager.AppSettings["PasswordRegex"]');
            var errorMessage = '@ConfigurationManager.AppSettings["PasswordRequirements"]';
            if (regex.test($(this).val())) {
                $('#password-change').removeBlockMessages({ animate: false });
            }
            else {
                $('#password-change').removeBlockMessages({ animate: false }).blockMessage(errorMessage, { type: 'error', animate: false  });
            }
        });

        $("#change-password").submit(function (event) {
            event.preventDefault();

            if ($('#OldPassword').val() == '' || $('#NewPassword').val() == '' || $('#ConfirmPassword').val() == '') {
                $('#password-change').removeBlockMessages({ animate: false }).blockMessage('All fields must be filled out properly.', { type: 'error', animate: false });
                return;
            }
            $.ajax({
                url: '@Url.Action("ChangePassword", "Account")',
                dataType: 'json',
                type: 'POST',
                data: $(this).serialize(),
                success: function (result) {
                    $('#password-change').removeBlockMessages({ animate: false }).blockMessage(result.message, { type: result.type, animate: false });
                    clearTextFields();
                },
                error: function () {
                    $('#password-change').removeBlockMessages({ animate: false }).blockMessage('An error has occured.  Please try again.', { type: 'error', animate: false  });
                    clearTextFields();
                }
            });
        });

        function clearTextFields() {
            $('#OldPassword').val('');
            $('#NewPassword').val('');
            $('#ConfirmPassword').val('');
        }
    });
</script>

<div id="password-change" class="grid_6 g-settings">
    <div class="block-border">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = " block-content form", id = "change-password" }))
        {
            <h1>Change Password</h1>
            <p>
                @Html.LabelFor(x => x.OldPassword)
                @Html.PasswordFor(x => x.OldPassword, new { @class = "full-width first-focus", id = "OldPassword" })
            </p>
            <p>
                @Html.LabelFor(x => x.NewPassword)
                @Html.PasswordFor(x => x.NewPassword, new { @class = "full-width", id = "NewPassword" })
            </p>
            <p>
                @Html.LabelFor(x => x.ConfirmPassword)
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "full-width", id = "ConfirmPassword" })
            </p>
            <div class="button-container">
                <button class="btn-accept" type="submit">Submit</button>
            </div>
        }
    </div>
</div>
