@using LinkIt.BubbleSheetPortal.Web.Helpers;

@model LinkIt.BubbleSheetPortal.Web.ViewModels.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_LogOnPartial_v2.cshtml";
}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#recovery-by-email").on('change', function () {
            if ($(this).is(':checked')) {
                $(".recovery-by-email").show();
                $(".recovery-by-question").hide();
            } else {
                $(".recovery-by-email").hide();
                $(".recovery-by-question").show();
            }
        });

        $("#recovery-by-question").on('change', function () {
            if ($(this).is(':checked')) {
                $(".recovery-by-email").hide();
                $(".recovery-by-question").show();
            } else {
                $(".recovery-by-email").show();
                $(".recovery-by-question").hide();
            }
        });
    });
</script>
<style type="text/css">
    .reset-header {
        margin-bottom: 1.5rem
    }

    input {
        margin-right: 0.25rem;
    }
</style>
<section id="login-block" class="box-shadow">
    <div class="block-border">
        <div class="block-header">Reset Password</div>
        <div class="block-content">
            @if (Model.PasswordHasBeenReset)
            {
                <div class="text-center">
                    <p>
                        <label><span>Your password has been reset</span></label>
                    </p>

                    <a href="@Url.Action("LogOn")">
                        <button type="button" class="btn-accept">Return to Login</button>
                    </a>
                </div>
            }
            else if (!Model.SubmittedCorrectPasswordAnswer)
            {
                <div class="reset-password-form">
                    @if (Model.HasEmailAddress)
                    {
                        <div class="reset-method-item">
                            <div class="reset-header">
                                <input type="radio" id="recovery-by-email" checked="checked" name="recovery-password" />
                                <label for="recovery-by-email">Option 1: Get reset password link via email </label>
                            </div>
                            <div class="reset-body recovery-by-email">
                                @using (Html.BeginForm("SendTemporaryPassword", "Account", FormMethod.Post, new { @class = "form" }))
                                {
                                    @Html.HiddenFor(x => x.UserName)
                                    <div class="reset-body-message">
                                        <ul class="message">
                                            <li>
                                                To access your account, click the button below. You will receive an email with a link to reset your password. <br/><b>Note:</b> If you do not receive the email within <b>one hour</b>, please check your spam/junk mail folder before sending another reset request.
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="divCaptcha" style="display:block;" class="g-recaptcha recatcha" data-sitekey="6Lf7ggwTAAAAABY1PZKfYruOIvY8oZae2obJH0os" data-callback="enableBtnSend" data-expired-callback="recaptchaExpired"></div>
                                }
                            </div>
                        </div>
                    }
                    @if (Model.HasSecurityQuestion)
                    {
                        <div class="reset-method-item">
                            <div class="reset-header" id="reset-header-HasSecurityQuestion">
                                <input type="radio" id="recovery-by-question" name="recovery-password" /> <label for="recovery-by-question">Option 2: Answer security question </label>
                            </div>
                            <div class="reset-body recovery-by-question" style="display: none">
                                @using (Html.BeginForm("SubmitPasswordAnswer", "Account", FormMethod.Post, new { @class = "form" }))
                                {
                                    @Html.HiddenFor(x => x.UserName)
                                    @Html.ValidationSummary()

                                    <div class="reset-body-message">
                                        <ul class="message">
                                            <li>
                                                To change your password, enter the correct answer, then click the button below. to change your password, enter the correct answer, then click the button below.
                                            </li>
                                        </ul>
                                        <div class="reset-sub-header">
                                            Security Question
                                        </div>
                                        <div class="reset-sub-description">
                                            @Model.PasswordQuestion
                                        </div>
                                        <div class="reset-sub-header">
                                            Security Answer
                                        </div>
                                        <div class="reset-sub-description">
                                            @Html.TextBoxFor(x => x.PasswordAnswer, new { @id = "passwordAnswer", @class = "full-width", @maxlength = "50" })
                                        </div>
                                        <div id="divCaptcha" style="display:none;" class="g-recaptcha recatcha" data-sitekey="6Lf7ggwTAAAAABY1PZKfYruOIvY8oZae2obJH0os"></div>
                                    </div>
                                }
                            </div>
                        </div>

                        if (SessionManager.ShowCaptcha)
                        {
                            <script>
                                $(function () {
                                    $('#divCaptcha').show();
                                });
                            </script>
                        }
                        if (ViewBag.IsSubmitPasswordAnswer != null && (bool)ViewBag.IsSubmitPasswordAnswer)
                        {
                            <script>
                                $(function () {
                                    $("#recovery-by-email").prop('checked', false);
                                    $("#recovery-by-question").prop('checked', true);
                                    $(".recovery-by-email").hide();
                                    $(".recovery-by-question").show();
                                });
                            </script>
                        }
                    }
                </div>
                <div class="reset-button-content d-flex justify-content-between">
                    @Html.ActionLink("Cancel", "LogOn", null, new { @class = "btn-blue" })
                    @if (Model.HasEmailAddress)
                    {
                        <button id="btnSend" class="btn-accept" type="submit" disabled>Send</button>
                    }
                    else
                    {
                        <button id="btnPasswordAnswer" class="btn-accept" type="submit">Send</button>
                    }
                </div>
            }
            else
            {
                using (Html.BeginForm("SubmitPasswordReset", "Account", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.HiddenFor(x => x.UserName)
                    @Html.HiddenFor(x => x.PasswordAnswer)
                    @Html.ValidationSummary()
                    <div class="submit-new-password-container">
                        <h1 style="margin: 0; padding: 0;margin-bottom:1.5rem">Submit new password</h1>
                        <p>
                            <label for="login"><span class="big">New Password</span></label>
                            @Html.PasswordFor(x => x.NewPassword, new { @class = "full-width" })
                        </p>
                        <p>
                            <label for="pass"><span class="big">Confirm New Password</span></label>
                            @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "full-width" })
                        </p>

                    </div>
                    <div class="reset-button-content d-flex justify-content-between">
                        @Html.ActionLink("Cancel", "LogOn", null, new { @class = "btn-blue" })
                        <button type="submit" class="btn-accept">Submit</button>
                    </div>
                }


            }
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        portalV2SkinRadio();
        setTimeout(function () {
            $("#divCaptcha iframe").attr("height", "100");
        }, 2000);
    });

    function enableBtnSend() {
        var capcharResponse = $("#g-recaptcha-response").val();
        $("#btnSend").enableBt();
    }

    function recaptchaExpired() {
        $('#btnSend').disableBt();
    }

    $("#btnSend").on('click', function (e) {
        e.preventDefault();
        $('#btnSend').disableBt();
        $('#login-block').removeBlockMessages({ animate: false }).blockMessage('Please wait, sending request change password...', { type: 'loading' ,animate:false});
        var username = $("#UserName").val();
        $.get('SendTemporaryPassword?username=' + username, function (res) {
            if (res.type === 'error') {
                $('#btnSend').enableBt();
                $('#login-block').removeBlockMessages({animate:false}).blockMessage("Sorry the mail couldn't be sent. Please try again later.", { type: 'error',animate:false });
            } else {
                window.location.href = window.location.origin + '/Account/LogOn?hasTemporaryPassword=true';
            }
        });

    })
    function portalV2SkinRadio() {
        var elRadio = $('input[type=radio]');
        for (var i = 0; i < elRadio.length; i++) {
            if ($(elRadio[i]).is(':checked') || $(elRadio[i]).attr('checked') == 'checked') {
                $(elRadio[i]).addClass('input-checked-v2');
            } else {
                $(elRadio[i]).removeClass('input-checked-v2');
            }

            $(elRadio[i]).change(function () {
                var nameRadio = $(this).get(0).name;
                var queryString = 'input[type=radio][name=' + nameRadio + ']';
                var radioItem = $(queryString);
                for (var j = 0; j < radioItem.length; j++) {
                    $(radioItem.get(j)).removeClass('input-checked-v2');
                }
                $(this).addClass('input-checked-v2');
            })
        }
    }
</script>



