@model List<LinkIt.BubbleSheetPortal.Models.SGO.SGOGroup>
<style>
    .table-sgo-new input[type="text"][name="txtGroupTargetScore"] {
        width: 150px;
    }

    .table-sgo-new {
        border: 0;
    }

    #portal-v2-containter .table-sgo-new thead th {
        border: 0;
        background-color: unset;
        padding-bottom: 8px;
    }

    #portal-v2-containter .table-sgo-new thead th:first-child {
        width: 200px;
    }

    #portal-v2-containter .table-sgo-new tbody td {
        border: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    #portal-v2-containter .table-sgo-new tbody td:first-child {
        padding-right: 8px;
    }
</style>

<section style='z-index: 2004'>
    <div style='z-index: 2004' id="divIdSetTargetScoreTop">
        <div class='block-content p-4' style='z-index: 1004;'>
            <p class="title-large mb-4">Setup Target Scores</p>
            <div class="form">
                <table class="table-sgo-new">
                    <thead>
                        <tr>
                            <th>
                                Group
                            </th>
                            <th>
                                @if (ViewBag.TargetScoreType == 4)
                                {
                                    <text>
                                        Manual Scoring Target
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        Manual Target Score(Minimum Expectation)
                                    </text>
                                }

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sgoGroup in Model)
                        {
                            <tr>
                                <td>
                                    <b>@sgoGroup.Order - @Html.Raw(sgoGroup.Name)</b>
                                </td>
                                <td>
                                    @if (ViewBag.TargetScoreType == 4)
                                    {
                                        <input type="text" name="txtGroupTargetScore" data="@sgoGroup.SGOGroupID" value="@sgoGroup.TargetScoreCustom" style="width: 320px;" />
                                    }
                                    else
                                    {
                                        <b><text>&ge;</text></b>
                                        <input class="mx-3" type="text" name="txtGroupTargetScore" data="@sgoGroup.SGOGroupID" value="@string.Format("{0:0.###}", sgoGroup.TargetScore)" />
                                    }

                                    <span id="lblToBeCreated-@sgoGroup.SGOGroupID"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-component-footer">
            <div slot="footer">
                <button type="button" onclick="closePopup('popupSetTargetScore')" class="">Close</button>
                <button id="btnSaveTargetScore" type="button">Save Target Scores</button>
            </div>
        </div>
    </div>
</section>


<script>
    $(function () {
        @if (ViewBag.TargetScoreType != 4)
        {
            <text>
                $('input[name="txtGroupTargetScore"]').numeric({ decimal: ".", negative: false, decimalPlaces: 3 });
            </text>            
        }

        if ($("#idQuantifiableType3").is(":checked")) {
            if ($('#idScorePostAssessmentToBeCreated').length > 0) {
                $('span[id^="lblToBeCreated-"]').html('/' + $('#idScorePostAssessmentToBeCreated').val());
            } else {
                if ($('#idPointPossiblePostAssessmentLinkit').val() != '')
                    $('span[id^="lblToBeCreated-"]').html('/' + $('#idPointPossiblePostAssessmentLinkit').val());
                else
                    $('span[id^="lblToBeCreated-"]').html('');
            }
        }
    });
</script>
