@using DevExpress.Data.Linq
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SetAttainmentViewModel
<style>
    .table-sgo-new input[type="text"][name="txtGoalValue"] {
        width: 150px;
    }

    .table-sgo-new {
        border: 0;
    }

    #portal-v2-containter .table-sgo-new thead th {
        border: 0;
        background-color: unset;
        padding-bottom: 8px;
    }

        #portal-v2-containter .table-sgo-new thead th:first-child {
            width: 200px;
        }

    #portal-v2-containter .table-sgo-new tbody td {
        border: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    #portal-v2-containter .table-sgo-new tbody td:first-child {
        padding-right: 8px;
    }
</style>

<section style='z-index: 2004'>
    <div style='z-index: 2004' id="divIdSetAttainmentTop">
        <div class='block-content p-4' style='z-index: 1004;'>
            <input type="hidden" value="@Model.SgoAttainmentGoal.SGOAttainmentGoalId" id="sgoAttainmentId" />
            <p class="title-large mb-4">@Model.SgoAttainmentGoal.Name</p>
            <div class="form">
                <table class="table-sgo-new">
                    <thead>
                        <tr>
                            <th>Group</th>
                            <th>Goal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sgoGroup in Model.SgoGroups)
                        {
                            <tr>
                                <td>
                                    <b>@sgoGroup.Order - @Html.Raw(sgoGroup.Name)</b>
                                </td>
                                <td>
                                    <b>@LinkIt.BubbleSheetPortal.Common.StringExtensions.ParseSgoComparisonTypeToHtmlCharacter(Model.SgoAttainmentGoal.ComparisonType)</b>
                                    @{
                                        var goalValue = Model.SgoAttainmentGroups.Any(x => x.SGOGroupId == sgoGroup.SGOGroupID) ?
                                            Model.SgoAttainmentGroups.FirstOrDefault(x => x.SGOGroupId == sgoGroup.SGOGroupID).GoalValue.GetValueOrDefault()
                                            : Model.SgoAttainmentGoal.DefaultGoal;
                                    }
                                    <input class="mx-3" type="text" name="txtGoalValue" data="@sgoGroup.SGOGroupID" value="@goalValue" />
                                    @if (Model.TargetScoreType == 1)
                                    {
                                        <span>
                                            % of students in this group will achieve a score of
                                            <b>
                                                &ge; @sgoGroup.TargetScore
                                            </b>
                                            on the post assessment
                                        </span>
                                    }
                                    else if (Model.TargetScoreType == 2)
                                    {
                                        <span>
                                            % of students will improve by
                                            <b>
                                                &ge; @sgoGroup.TargetScore
                                            </b>
                                            on the post assessment
                                        </span>
                                    }
                                    else if (Model.TargetScoreType == 3)
                                    {
                                        <span>
                                            % of students will achieve
                                            <b>
                                                &ge; @sgoGroup.TargetScore
                                            </b>
                                            out of <b id="idToBeCreatedTotalPointPossible-@sgoGroup.SGOGroupID">@Model.TotalPointsPossibleOfPostAssessmentValue</b> on the post assessment
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-component-footer">
            <div slot="footer">
                <button type="button" onclick="closePopup('popupSetAttainment')">Close</button>
                <button id="btnSaveAttainment" type="button">Save @Model.SgoAttainmentGoal.Name Goals</button>
            </div>
        </div>
    </div>
</section>

<script>
    $(function() {
        $('input[name="txtGoalValue"]').numeric({ decimal: false, negative: false });
         
        if ($("#idQuantifiableType3").is(":checked") && $('#idScorePostAssessmentToBeCreated').length > 0) {
            $('b[id^="idToBeCreatedTotalPointPossible-"]').html($('#idScorePostAssessmentToBeCreated').val());
        }
    });
</script>
