
<fieldset>
    <legend>Early Childhood Educator Details</legend>
    <div class="block-border">
        <div class="block-content form" id="divOnTopTeacherProfile">
            <h1 class="pointer" id="btnCreateProfileTeacher">
                <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" />
                Add Educator Profile
            </h1>

            <p style="height: 5px"></p>
            <table id="dataTableProfileTeachers" width="100%" cellspacing="0" class="datatable table no-margin">
                <thead>
                    <tr>
                        <th scope="col" style="width: 38px">
                        </th>
                        <th scope="col">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Educator Name
                        </th>
                        <th scope="col">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Level of Qualification
                        </th>
                        <th scope="col">
                            <span class="column-sort">
                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                            </span>
                            Position
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height: 60px;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</fieldset>

<script type="text/javascript">
    $(function () {
        var textSearch = sessionStorage.getItem('textSearch') === null ? '' : sessionStorage.getItem('textSearch');
        var options = {
            bServerSide: true,
            sAjaxSource: '@Url.Action("ListProfileTeachers")',
            bInfo: true,
            oSearch: {
                sSearch: textSearch
            },
            bAutoWidth: true,
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            columns: [
                { sType: 'integer', sName: 'TLDSProfileTeacherID', bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'EducatorName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'TLDSLevelQualificationName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'Position', bSearchable: true, bSortable: true }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData[0], aData));
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableProfileTeachers'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableProfileTeachers').unblock();
                $('.with-tip').tip();
                searchDelay($("#dataTable_filter input[type='text']"), $("#dataTableProfileTeachers"));
            },
            bDestroy: true,
        };

        $("#dataTableProfileTeachers").data("options", options);

        initializeDataTable($("#dataTableProfileTeachers"));

        function setIconVisibility(tldsProfileTeacherID) {
            var editIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
            var editElement = '<a href="javascript:void()" title="Edit" class="with-tip pIcon pointer" onclick="editProfileTeacher(' + tldsProfileTeacherID + ')"><img src="' + editIcon + '" width="16" height="16"></a>';
        
            var deactiveIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")';
            var iconString = '<a href="javascript:void()" title="Remove" class="with-tip pIcon pointer" onclick="removeTeacherProfle('+tldsProfileTeacherID+')"><img src="' + deactiveIcon + '" width="16" height="16"></a>';

            return editElement + '&nbsp;' + iconString;
        }
    });

    function editProfileTeacher(profileId) {
        var data = $('#dataTableProfileTeachers').dataTable().fnGetData();
        var profile = null;
        for (var i = 0; i < data.length; i++) {
            if (data[i][0] == profileId) {
                profile = {
                    id: data[i][0],
                    name: data[i][1],
                    level: data[i][2],
                    position: data[i][3]
                };
                break;
            }
        }

        openProfileTeacherForm(profile);
    }

    function removeTeacherProfle(teacherProlfieId) {
        var url = '/TLDSManage/RemoveTeacherProfile?teacherprofileid=' + teacherProlfieId;
        //ShowBlock($('#dataTableProfileTeachers'), "Loading");
        $.ajax({
            url: url,
        }).done(function (res) {
            if (res.success) {
                 var dataTable = $('#dataTableProfileTeachers').dataTable();
                 dataTable.fnDraw();
            } else {
                //$('#dataTableProfileTeachers').unblock();
                alert(res.message);
            }
        });
    };

    $('#btnCreateProfileTeacher').click(function () {
        openProfileTeacherForm();
    });

    function openProfileTeacherForm(profile) {
        var url = '@Url.Action("CreateProfileTeacher")';
        $.ajax(
            {
                url: url,
                cache: false
            })
            .done(function (html) {

                $("#divOnTopTeacherProfile").append('<div id="popupCreateProfileTeacher" class="dialog"></div>');
                $("#popupCreateProfileTeacher").append(html);
                $('#popupCreateProfileTeacher').dialog({
                    title: "",
                    open: function () {
                        isOpeningLoadCreateProgramDialog = false;
                        //Create overlay for popup
                        $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                    },
                    beforeclose: function () {
                        //TODO if you want do anything after close popup.
                        return true;
                    },
                    close: function () {
                        $('#dataTableProfileTeachers').dataTable().fnDraw(false);
                        $('#popupCreateProfileTeacher').remove();
                        $("body .my-overlay").remove();
                    },
                    modal: false,
                    width: 500,
                    resizable: false
                });
                if (profile) {
                    $("#frmAddTeacherProfileTitle").text("Edit Educator Profile");
                    $("#TLDSProfileTeacherID").val(profile.id);
                    $("#EducatorName").val(profile.name);
                    $("#Position").val(profile.position);

                    var levleElements = $("#TLDSLevelQualificationID option");
                    for (var i = 0; i < levleElements.length; i++) {
                        if ($(levleElements[i]).text() == profile.level) {
                            $("#TLDSLevelQualificationID").val($(levleElements[i]).val());
                        }
                    }
                }

            });
        }
</script>

