@using LinkIt.BubbleSheetPortal.Models.Enum
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel
<style>
  .sgo-nav {
    background: none;
    border-radius: 4px;
    border: 0;
  }

  .sgo-nav-link-inner {
      position: relative;
      z-index: 2;
  }

  .sgo-nav-item {
    display: block;
    position: relative;
    width: calc(99% / 7);
    padding: 0 0 0 35px;
    background: rgb(96, 180, 217);
    background: linear-gradient(180deg, rgba(96, 180, 217, 1) 0%, rgba(15, 98, 167, 1) 100%);
    z-index: unset;
  }

  .sgo-nav-item:last-child {
    background: rgb(96, 180, 217);
    background: linear-gradient(180deg, rgba(96, 180, 217, 1) 0%, rgba(15, 98, 167, 1) 100%);
  }

  .sgo-nav-item:first-child {
    padding-left: 0;
    border-radius: 4px 0 0 4px;
    /*to match with the parent's radius*/
  }

  .sgo-nav-item:first-child:before {
    left: 14px;
  }

  .sgo-nav-item:last-child {
    border-radius: 0 4px 4px 0;
    /*this was to prevent glitches on hover*/
    padding-right: 20px;
    padding-left: 35px;
  }

  /*hover/active styles*/
  .sgo-nav-item.active,
  .sgo-nav-item:hover,
  .sgo-nav-item.active .sgo-nav-number,
  .sgo-nav-item:hover .sgo-nav-number {
    background: rgb(241, 241, 241);
    background: linear-gradient(180deg, rgba(241, 241, 241, 1) 0%, rgba(153, 153, 153, 1) 100%);
  }

  .sgo-nav-item.active:after,
  .sgo-nav-item:hover:after {
    background: rgb(241, 241, 241);
    background: linear-gradient(135deg, rgba(241, 241, 241, 1) 0%, rgba(153, 153, 153, 1) 100%);
  }

  /*adding the arrows for the breadcrumbs using rotated pseudo elements*/
  .sgo-nav-item:after {
    display: block;
    content: '';
    position: absolute;
    top: 2px;
    right: -25px; /*half of square's length*/
    width: 50px;
    height: 50px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: rgb(96, 180, 217);
    background: linear-gradient(135deg, rgba(96, 180, 217, 1) 0%, rgba(15, 98, 167, 1) 100%);
    box-shadow:
      2px -2px 0 2px rgba(0, 0, 0, 0.4),
      3px -3px 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 0 4px 0 50px;
  }

  .sgo-nav-item:last-child:after {
    content: none;
  }
</style>

<section class="grid_12">
    <ul class="sgo-nav">
        <li class="sgo-nav-item">
            <a id="idSgoNavigationStep1" class="sgo-nav-link" href="@Url.Action("Index","TLDSManage")">
                <span class="sgo-nav-link-inner">
                    <span class="sgo-nav-number">
                        1
                    </span>
                    TLDS Home
                </span>
            </a>
        </li>
        <li class="sgo-nav-item">
            <a id="idSgoNavigationStep2" class="sgo-nav-link" href="@Url.Action("Edit", "TLDSManage")/?profileId=@Model.ProfileId">
                <span class="sgo-nav-link-inner">
                    <span class="sgo-nav-number">
                        2
                    </span>
                    TLDS Information
                </span>
            </a>
        </li>
        <li class="sgo-nav-item">
            <a id="idSgoNavigationStep3" class="sgo-nav-link @if (Model.Status < (int)TLDSProfileStatusEnum.Draft) { <text>disabled</text>}" href="@Url.Action("ContextSpecificInfor","TLDSManage")/?profileId=@Model.ProfileId">
                <span class="sgo-nav-link-inner">
                    <span class="sgo-nav-number">
                        3
                    </span>
                    Section 1
                </span>
            </a>
        </li>
        <li class="sgo-nav-item">
            <a id="idSgoNavigationStep4" class="sgo-nav-link @if (!Model.Step4IsEnable) { <text>disabled</text>}" href="@Url.Action("DevelopmentOutcome","TLDSManage")/?profileId=@Model.ProfileId">
                <span class="sgo-nav-link-inner">
                    <span class="sgo-nav-number">
                        4
                    </span>
                    Section 1.1
                </span>
            </a>
        </li>
        <li class="sgo-nav-item">
            <a id="idSgoNavigationStep5" class="sgo-nav-link @if (!Model.Step5IsEnable) { <text>disabled</text>}" href="@Url.Action("EnhancedTransitions","TLDSManage")/?profileId=@Model.ProfileId">
                <span class="sgo-nav-link-inner">
                    <span class="sgo-nav-number">
                        5
                    </span>
                    Section 1.2
                </span>
            </a>
        </li>
        <li class="sgo-nav-item">
            <a id="idSgoNavigationStep6" class="sgo-nav-link @if (!Model.Step6IsEnable) { <text>disabled</text>}" href="@Url.Action("ChildFamily","TLDSManage")/?profileId=@Model.ProfileId">
                <span class="sgo-nav-link-inner">
                    <span class="sgo-nav-number">
                        6
                    </span>
                    Sections 2 &amp; 3
                </span>
            </a>
        </li>
        <li class="sgo-nav-item">
            <a id="idSgoNavigationStep7" class="sgo-nav-link @if (!Model.Step7IsEnable) { <text>disabled</text>}" href="@Url.Action("UpcomingSchoolSubmit","TLDSManage")/?profileId=@Model.ProfileId">
                <span class="sgo-nav-link-inner">
                    <span class="sgo-nav-number">
                        7
                    </span>
                    Submission
                </span>
            </a>
        </li>
    </ul>
</section>
<script>
    function tldsDisableInputControls() {
        $('input').prop('disabled', true).addClass('is-disabled');
        $('select').prop('disabled', true).addClass('is-disabled');
        $('textarea').prop('disabled', true).addClass('is-disabled');
        $('#btnDownloadPDFForm').prop('disabled', true).addClass('is-disabled');
        $('#btnCreateNewLink').prop('disabled', true).addClass('is-disabled');
    }
    $(document).ready(function () {
        var navElements = $(".sgo-nav-item .sgo-nav-link");
        _.forEach(navElements, function (value) {
            var pathname = window.location.pathname;
            var currentUrl = $(value).attr('href');
            var isMatched = currentUrl.includes(pathname);

            if (isMatched) {
                $(value).parent().addClass('active');
            }
        });
    });
</script>
