<script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.js")"></script>
<style type="text/css">
    tr.even.row_selected td {
        background-color: var(--blue7) !important;
    }
    tr.odd.row_selected td {
        background-color: var(--blue7) !important;
    }
</style>

<style>
    .dataTableMasterStandardStyle tbody tr td,
    .dataTableAssignedMasterStandardStyle tbody tr td {
        /*word-break: break-all;*/
        word-wrap: break-word;
    }

    #portal-v2-containter #dataTableMasterStandard_wrapper,
    #portal-v2-containter #dataTableAssignedMasterStandard_wrapper {
        margin: 0;
    }

    #portal-v2-containter #dataTableMasterStandard_wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    #portal-v2-containter #dataTableMasterStandard {
        flex-grow: 1;
        border-left: 1px solid var(--borderColor);
        border-right: 1px solid var(--borderColor);
    }

    #portal-v2-containter .block-footer {
        display: none;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] {
        width: 80% !important;
        padding: 0;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] .dialog {
        height: 100% !important;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] .ui-dialog-content {
        padding: 0;
    }

    #portal-v2-containter #dataTableMasterStandard thead th:nth-child(1),
    #portal-v2-containter #dataTableMasterStandard thead th:nth-child(5),
    #portal-v2-containter #dataTableMasterStandard tbody td:nth-child(1),
    #portal-v2-containter #dataTableMasterStandard tbody td:nth-child(5) {
        width: 50px;
    }

    #portal-v2-containter #dataTableMasterStandard thead th:nth-child(2),
    #portal-v2-containter #dataTableMasterStandard tbody td:nth-child(2) {
        width: 75px;
    }

    #portal-v2-containter #dataTableMasterStandard thead th:nth-child(3),
    #portal-v2-containter #dataTableMasterStandard tbody td:nth-child(3) {
        width: 40%;
    }

    #portal-v2-containter #dataTableMasterStandard thead th:nth-child(4),
    #portal-v2-containter #dataTableMasterStandard tbody td:nth-child(4) {
        width: 60%;
    }

    #portal-v2-containter #dataTableAssignedMasterStandard thead th:nth-child(1),
    #portal-v2-containter #dataTableAssignedMasterStandard tbody td:nth-child(1) {
        width: 75px;
    }

    #portal-v2-containter #dataTableAssignedMasterStandard thead th:nth-child(2),
    #portal-v2-containter #dataTableAssignedMasterStandard tbody td:nth-child(2) {
        width: 40%;
    }

    #portal-v2-containter #dataTableAssignedMasterStandard thead th:nth-child(3),
    #portal-v2-containter #dataTableAssignedMasterStandard tbody td:nth-child(3) {
        width: 60%;
    }

    #portal-v2-containter .title-assign {
        font-size: 28px;
        font-weight: 700;
        line-height: 114%;
        margin-bottom: 32px;
    }

    #portal-v2-containter .title-large {
        position: absolute;
        margin-top: 10px;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] .ui-dialog-titlebar-close:after, #portal-v2-containter .ui-dialog-titlebar-close:after {
        bottom: -10px;
        right: 4px;
    }

    #portal-v2-containter .wrapper-left {
        display: flex;
        flex-direction: column;
    }

    #portal-v2-containter .table-content-left {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    #portal-v2-containter .assigned-standard-wrapper #dataTableAssignedMasterStandard_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #portal-v2-containter #dataTableAssignedMasterStandard {
        flex-grow: 1;
        border-left: 1px solid var(--borderColor);
        border-right: 1px solid var(--borderColor);
        max-height: unset;
    }

    #portal-v2-containter #dataTableAssignedMasterStandard thead th:first-child {
        border-left: 0;
    }

    #portal-v2-containter #dataTableMasterStandard thead th:last-child,
    #portal-v2-containter #dataTableAssignedMasterStandard thead th:last-child {
        border-right: 0;
    }

    #portal-v2-containter #dataTableAssignedMasterStandard tr td:first-child {
        border-left: 0;
    }

    #portal-v2-containter #dataTableMasterStandard tr td:last-child,
    #portal-v2-containter #dataTableAssignedMasterStandard tr td:last-child {
        border-right: 0;
    }

    #portal-v2-containter .table-scroll thead,
    #portal-v2-containter .table-scroll tbody {
        table-layout: fixed;
    }

    #portal-v2-containter .table-scroll tr:first-child td {
        border-top: 0;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] {
        top: 120px !important;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"],
    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] .dialog {
        padding: 0;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] .ui-dialog-titlebar {
        width: 100%;
        padding: 0;
        top: 0 !important;
        right: 0 !important;
        min-height: 0 !important;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] .ui-dialog-title,
    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] .ui-icon-closethick {
        display: none;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] .ui-dialog-titlebar-close {
        margin: 0;
        padding: 0;
        top: 32px;
        right: 24px;
        width: 10px;
        height: 14px;
        border: 0 !important;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialog"] .ui-dialog-titlebar-close:after {
        bottom: unset;
        right: unset
    }

    #portal-v2-containter .delete-border-left-table {
        border-left: 0 !important;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialogItemLibrary"] {
        width: 80% !important;
        padding: 0;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialogItemLibrary"] .dialog {
        height: 100% !important;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialogItemLibrary"] .ui-dialog-content {
        padding: 0;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialogItemLibrary"],
    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialogItemLibrary"] .dialog {
        padding: 0;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialogItemLibrary"] .ui-dialog-titlebar {
        width: 100%;
        padding: 0;
        top: 0 !important;
        right: 0 !important;
        min-height: 0 !important;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialogItemLibrary"] .ui-dialog-title,
    .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialogItemLibrary"] .ui-icon-closethick {
        display: none;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialogItemLibrary"] .ui-dialog-titlebar-close {
        margin: 0;
        padding: 0;
        top: 32px;
        right: 24px;
        width: 10px;
        height: 14px;
        border: 0 !important;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-addStandardDialogItemLibrary"] .ui-dialog-titlebar-close:after {
        bottom: unset;
        right: unset
    }
</style>
 
<section class="m-0 h-100">   
    <div id="divListMasterStandardMany" class="block-content form p-4 h-100">
        <p class="title-assign">Assign Standard</p>

        <div id="masterStandardNotInLessonNotifications"></div>

        <div class="last-child" >
            <div class="row columns"  id="lmsColumn">
                <div class="col-6 wrapper-left" style="z-index: 2;">
                    <div class="row g-3 mb-5">
                        <div id="states" class="col-6">
                            <label class="d-block">State</label>
                            <div class="block-text-name w-100">
                                <select id="selectState" class="qtiItemSelector w-100" data-bind="options: listStates, optionsText:'Name', optionsCaption: 'Select State', optionsValue: 'Id', value: stateId"></select>
                                <div class="box-select">
                                    <span class="overlay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="d-block">@LabelHelper.Subject</label>
                            <div class="block-text-name w-100">
                                <select class="w-100" id="selectSubject" data-bind="options: listSubjects, optionsText: 'SubjectName', optionsCaption: 'Select @LabelHelper.Subject', optionsValue: 'SubjectName', value: subjectName"></select>
                                <div class="box-select">
                                    <span class="overlay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="d-block">@LabelHelper.TestGrade</label>
                            <div class="block-text-name w-100">
                                <select class="w-100" id="selectGrade" data-bind="options: listGrades, optionsText: 'GradeName', optionsCaption: 'Select @LabelHelper.TestGrade', optionsValue: 'GradeName', value: grade"></select>
                                <div class="box-select">
                                    <span class="overlay"></span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="table-content-left">
                        <label class="title-large">Standards</label>
                        <table id="dataTableMasterStandard" class="datatable table table-scroll" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">
                                    </th>
                                    <th scope="col">Action</th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Number
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Description
                                    </th>
                                    <th scope="col">
                                    </th>
                                    <th scope="col">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-6 wrapper-right" style="z-index: 1;">
                    <label class="title-large">Shared Standards</label>   
                    <div class="assigned-standard-wrapper table-content-right">
                        <table id="dataTableAssignedMasterStandard" class="datatable table table-scroll">
                            <thead>
                                <tr>
                                    <th scope="col">
                                            <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                    </th>
                                    <th scope="col">Action</th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Number
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-component-footer mx-n4">
            <div slot="footer">
                <button id="btnCloseUserClick" type="button" class="btn-red classProgramButton" data-dialog="close">Close</button>
                <input type="hidden" id="SelectedParentMasterStandardGUID" />
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="QtiItemAssignedStandardIdString"/>
<script type="text/javascript">
    var vm;
    var viewModel = function() {
        var self = this;
        self.listStates = ko.observableArray([]);
        self.listSubjects = ko.observableArray([]);
        self.listGrades = ko.observableArray([]);
        self.stateId = ko.observable();
        self.subjectName = ko.observable();
        self.grade = ko.observable();

        $.ajax({
            url: "@Url.Action("GetStateStandardWithCC", "PopulateStateDistrict")",
            type: "get",
            async: false,
            success: function(data) {
                var array = [];
                $.each(data, function(index, value) {
                    array.push(value);
                });
                self.listStates(array);
            }
        });

        self.stateId.subscribe(function (selectedState) {
            ui.dataTableMasterStandard.fnReloadAjax(getAjaxSourceForMasterStandard());
            if (selectedState > 0) {
                $.ajax({
                    url: '@Url.Action("GetStandardSubjectByStateId", "MasterStandard")',
                    type: 'post',
                    data: { stateId: selectedState },
                    success: function(response) {
                        if (response.Success == true) {
                            var data = response.Data;
                            var array = [];
                            $.each(data, function(index, value) {
                                array.push(value);
                            });
                            self.listSubjects(array);
                            if (selectSubjectId != null && selectSubjectId.length > 0) {
                                $('#selectSubject').val(selectSubjectId);
                                $('#selectSubject').trigger('change');
                            }
                        }
                    }
                });
            } else {
                self.listSubjects([]);
            }
        });

        self.subjectName.subscribe(function (selectedSubject) {
            ui.dataTableMasterStandard.fnReloadAjax(getAjaxSourceForMasterStandard());
            if (selectedSubject != null) {
                $.ajax({
                    url: '@Url.Action("GetStandardGradeByStateAndSubject", "MasterStandard")',
                    type: 'post',
                    data: { stateId: self.stateId, subject: selectedSubject },
                    success: function (response) {
                        if (response.Success == true) {
                            var data = response.Data;
                            var array = [];
                            $.each(data, function (index, value) {
                                array.push(value);
                            });
                            self.listGrades(array);
                            if (selectGradeId != null && selectGradeId.length > 0) {
                                $('#selectGrade').val(selectGradeId);
                                $('#selectGrade').trigger('change');
                            }
                        }
                    }
                });
            } else {
                self.listGrades([]);
            }
        });

        self.grade.subscribe(function (selectedGrade) {
            ui.dataTableMasterStandard.fnReloadAjax(getAjaxSourceForMasterStandard());
            parentId = 0;
            //if (selectedGrade != null) {

            //    if (parentId != null && parentId > 0) {
            //        GetStandardNextLevelOnLoad();
            //    }
            //    if (childId != null && childId > 0) {
            //        GetStandardPreviousLevelOnLoad();
            //    }

            //}
        });
    };


    $(function () {
        vm = new viewModel();
        ko.cleanNode(document.getElementById("divListMasterStandardMany"));
        ko.applyBindings(vm, document.getElementById("divListMasterStandardMany"));

        bindEvents();
        //$.get('@Url.Action("GetAssignStandardIdStringMany", "MasterStandard")/?qtiItemIdString=@ViewBag.QtiItemIdString', function (data) {
        $.get('@Url.Action("GetMutualStandardIdStringMany", "MasterStandard")/?qtiItemIdString=@ViewBag.QtiItemIdString', function (data) {
            if (data.QtiItemAssignedStandardIdString.length > 0) {
                $("#QtiItemAssignedStandardIdString").val(data.QtiItemAssignedStandardIdString);
            }
            LoadStandardTable();
            LoadAssignedStandardTable();
        });
        if (selectStateId > 0) {
            $('#selectState').val(selectStateId);
            $('#selectState').trigger('change');
        }

    });

    var standardTable = null;
    function LoadStandardTable() {
        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: getAjaxSourceForMasterStandard(),
            fnServerParams: function (aoData) {
                //TuanVo:encode text in filter searchbox
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }

            },
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength: 100,
            aaSorting: [[1, "asc"]],
            oLanguage: { sSearch: "" },
            aoColumns: [
                { sType: 'string', sName: 'GUID', bSearchable: false, bSortable: false },
                { sType: 'integer', sName: 'MasterStandardID', bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'Number', bSearchable: true, bSortable: true},
                { sType: 'string', sName: 'Description', bSearchable: true, bSortable: true },
                { sType: 'integer', sName: 'Level', bSearchable: false, bSortable: false },
                { sType: 'integer', sName: 'Children', bSearchable: false, bSortable: false, bVisible: false }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconViewParentStandards(aData[1],aData[4]));
                $('td:eq(1)', nRow).html(setIconVisibilityMasterStandard(aData[1], aData[4], aData[5]));
                if (aData[0] == null || aData[0] == '') {
                    $('td:eq(4)', nRow).html('');
                } else {
                    $('td:eq(4)', nRow).html(setIconViewChildStandards(aData[1], aData[5]));

                }
                //Add word-break: break-all; to td which has long text ,such as text_123_456_789_1011
                addWordBreakToTableCell($('td:eq(2)', nRow), 15, aData[2]);
                addWordBreakToTableCell($('td:eq(3)', nRow), 25, aData[3]);
                $('td:eq(0)', nRow).addClass('text-center');
                $('td:eq(1)', nRow).addClass('text-center');
                $('td:eq(4)', nRow).addClass('text-center');

                $(nRow).each(function () {
                    $(this).draggable({
                        revert: "invalid", // when not dropped, the item will revert back to its initial position
                        containment: "document",
                        helper: "clone",
                        cursor: "move",
                        zIndex: 99999,
                        stop: function (event, ui) {
                            $(this).parents("#lmsColumn .wrapper-left").attr({ "style": "" });
                            $('.restoreItemTable').css('z-index', '0');
                            $('.table-content-left .table-scroll').css({
                                'overflow-x': 'hidden',
                                'overflow-y': 'auto',
                            });
                        },
                        drag: function (event, ui) {
                            $(this).parents("#lmsColumn .wrapper-left").css({
                                'z-index': '2',
                            });
                            $('.table-content-left .table-scroll').css({
                                'overflow-x': 'visible',
                                'overflow-y': 'visible',
                            });
                            $('.table-content-left tr.ui-draggable-dragging ').css({
                                'background-color': '#F4FAFF'
                            });
                            $('.restoreItemTable').css('z-index', '0');
                        }

                    });
                });
                // let the be droppable, accepting items
                $containDrap.droppable({
                    accept: "#dataTableMasterStandard tbody tr",
                    activeClass: "ui-state-highlight",
                    tolerance: "pointer",
                    drop: function (event, ui) {
                        dragItem(ui.draggable);
                        $('.table-content-left .table-scroll').css({
                            'overflow-x': 'hidden',
                            'overflow-y': 'auto',
                        });
                    }
                });

                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableMasterStandard'), "Loading");

                var elSearchLabel = $('#dataTableMasterStandard_filter');
                var elSearchInput = elSearchLabel.find('input');
                elSearchInput.attr('style', 'padding-left: 32px !important; position: relative;');
                elSearchLabel.addClass('data-search');
                elSearchLabel.find('label').css("margin", 0);
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableMasterStandard').unblock();
                $('.with-tip').tip();
                var dataTable = oTable.fnGetData();
                modifyColumnViewTable(dataTable);
                modifyFirstColumnTable('dataTableMasterStandard');
            }
        };

        $("#dataTableMasterStandard").data("options", options);
        standardTable = initializeDataTable($("#dataTableMasterStandard"));
        $('#dataTableMasterStandard').on('draw.dt', function () {
            var heightTbAssignedStandard = $('.wrapper-left')[0].clientHeight - $('#dataTableAssignedMasterStandard_wrapper .block-controls')[0].clientHeight - $('#dataTableMasterStandard_wrapper #dataTableMasterStandard_info')[0].clientHeight - $('#dataTableAssignedMasterStandard_wrapper .block-pagination')[0].clientHeight - 24;
            $('#dataTableAssignedMasterStandard').css('height', heightTbAssignedStandard);
        });
        oTable = $('#dataTableMasterStandard').dataTable();
    }

    // drag and drop
    var $containDrap = $('#dataTableAssignedMasterStandard');
    var $ContainRestore = $('#dataTableMasterStandard');

    function dragItem($item) {
        var dragged = $item.clone(true);

        dragged.fadeOut(function () {
            var $tbody = $("tbody", $containDrap).length ?
              $("tbody", $containDrap) :
              $("<tbody class='gallery ui-helper-reset'></tbody>").appendTo($containDrap);

            dragged.find('.assignMasterStandard').trigger('click');
            dragged.find('td:eq(0),td:eq(4)').hide();
            dragged.find('.assignMasterStandard').hide().end()
                   .find('.removeAssignedMasterStandard').addClass('btnRemove').show();
            dragged
                //.appendTo( $tbody )
                .fadeIn();
        });

        // $('.dataTables_empty').hide();
    }
    // restore items
    function restoreItems($item) {
        var $restoreItem = $item.clone(true);
        $restoreItem.fadeOut(function () {
            $item.find('a[title="Remove Standard"]').trigger('click');

            $restoreItem.find(".assignMasterStandard").show().end()
                        .find('.removeAssignedMasterStandard').hide().end()
                        .find('td:eq(0),td:eq(4)').show().end()
                        //.appendTo($ContainRestore)
                        .fadeIn();
        });
    }

    function LoadAssignedStandardTable() {
        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: getAjaxSourceForAssignedMasterStandard(),
            fnServerParams: function (aoData) {
                //TuanVo:encode text in filter searchbox
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }

            },
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength: 100,
            aaSorting: [[1, "asc"]],
            oLanguage: { sSearch: "" },
            aoColumns: [
                { sType: 'string', sName: 'GUID', bSearchable: false, bSortable: false,sWidth: '0px',bVisible:false },
                { sType: 'integer', sName: 'MasterStandardID', bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'Number', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'Description', bSearchable: true, bSortable: true}
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconRemoveMasterStandard(aData[1]));
                //Add word-break: break-all; to td which has long text ,such as text_123_456_789_1011
                addWordBreakToTableCell($('td:eq(1)', nRow), 15, aData[2]);
                addWordBreakToTableCell($('td:eq(2)', nRow), 25, aData[3]);
                $('td:eq(0)', nRow).addClass('text-center');

                $(nRow).each(function () {
                    $(this).draggable({
                        revert: "invalid", // when not dropped, the item will revert back to its initial position
                        containment: "document",
                        helper: "clone",
                        cursor: "move",
                        zIndex: 99999,
                        stop: function (event, ui) {
                            $('.table-content-right .table-scroll').css({
                                'overflow-x': 'hidden',
                                'overflow-y': 'auto',
                            });
                            $(this).parents("#lmsColumn .wrapper-right").attr({ "style": "" });
                        },
                        drag: function (event, ui) {
                            $('.table-content-right .table-scroll').css({
                                'overflow-x': 'visible',
                                'overflow-y': 'visible',
                            });
                            $('.table-content-right tr.ui-draggable-dragging ').css({
                                'background-color': '#F4FAFF'
                            });
                            $(this).parents("#lmsColumn .wrapper-right").css({
                                'z-index': '3',
                            });
                        }
                    });
                });

                // let the be droppable, accepting items
                $ContainRestore.droppable({
                    accept: "#dataTableAssignedMasterStandard tbody > tr",
                    activeClass: "ui-state-highlight",
                    tolerance: "pointer",
                    drop: function (event, ui) {
                        restoreItems(ui.draggable);
                        $('.table-content-right .table-scroll').css({
                            'overflow-x': 'hidden',
                            'overflow-y': 'auto',
                        });
                    }
                });
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableAssignedMasterStandard'), "Loading");

                var elSearchLabel = $('#dataTableAssignedMasterStandard_filter');
                var elSearchInput = elSearchLabel.find('input');
                elSearchInput.attr('style', 'padding-left: 32px !important; position: relative;');
                elSearchLabel.addClass('data-search');
                elSearchLabel.find('label').css("margin", 0);
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableAssignedMasterStandard').unblock();
                $('.with-tip').tip();
            }
        };

        $("#dataTableAssignedMasterStandard").data("options", options);
        initializeDataTable($("#dataTableAssignedMasterStandard"));
    }

    function getAjaxSourceForMasterStandard() {
        if (vm.stateId() != null && vm.subjectName() != null && vm.grade() != null) {
            return '@Url.Action("GetStandardByStateAndSubjectAndGradeTopLevel", "MasterStandard")/?stateId=' + vm.stateId() + '&subject=' + vm.subjectName() + '&grade=' + vm.grade();
        } else {
            return '@Url.Action("GetStandardByStateAndSubjectAndGradeTopLevel", "MasterStandard")/?stateId=0&subject=0&grade=0';
        }
    }
    function getAjaxSourceForAssignedMasterStandard() {
        var standardIdString = $("#QtiItemAssignedStandardIdString").val();
        //alert($("#QtiItemAssignedStandardIdString").val());
        return '@Url.Action("GetMultiStandardsByStandardIdString", "MasterStandard")/?standardIdString=' + standardIdString;
    }

    function setIconVisibilityMasterStandard(masterStandardId, level, children) {
        var addDisplayed = 'none';
        var deleteDisplayed = 'none';
        var standardIdList = $("#QtiItemAssignedStandardIdString").val();
        if (standardIdList == null) {
            standardIdList = '';
        }

        if (standardIdList.indexOf(',-'+masterStandardId + '-') >= 0) {
            deleteDisplayed = 'inline';
        } else {
            addDisplayed = 'inline';//if standard has not been assigned, display green icon,else display the red icon
        }
        //AddIcon must be visible and deleteIcon is invisible because when user selectes both item A,B but only A is assigned to standard and B is not assigned then addIcon must be visible to allow use assign this standard to B
        addDisplayed = 'inline';
        deleteDisplayed = 'none';

        var addIcon = '<i class="custom-icon fa-solid fa-circle-plus icon-green"></i>';
        var addString = '<a id="iconAdd_' + masterStandardId + '" href="javascript:void(0)" onclick="AssignStandard(this);" title="<p style=\'font-size: 12px;\'>Assign Standard</p>" masterStandardId="' + masterStandardId + '" class="with-tip assignMasterStandard" style="display:' + addDisplayed  + '">' + addIcon + '</a>';

            @*var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-red.png")';
        var deleteString = '<a id="iconDelete_' + masterStandardId + '" href="javascript:void(0)" onclick="RemoveStandard(this);" title="Remove" operation="1" masterStandardId="' + masterStandardId + '" class="with-tip actionIcon removeAssignedMasterStandard" style="display:' + deleteDisplayed  + '"><img src="' + deleteIcon + '" width="16" height="16"></a>';*@
        //Linkit does not want delete icon, just the check icon
        var deleteIcon = '<i class="custom-icon fa-sharp fa-solid fa-circle-check icon-green"></i>';
        var deleteString = '<a id="iconDelete_' + masterStandardId + '" href="javascript:void(0)" operation="1" masterStandardId="' + masterStandardId + '" style="display:' + deleteDisplayed + '">' + deleteIcon + '</a>';

        var result = '';
        result = addString + deleteString;
        return result;

    }
    function setIconViewParentStandards(masterStandardId, level) {
        if(level > 1) {
            var backIcon = '<i class="custom-icon fa-solid fa-circle-chevron-left icon-grey"></i>';
            var backString = '<a masterStandardId="' + masterStandardId + '" href="javascript:void(0);" onclick="GetStandardPreviousLevel(this);" title="<p style=\'font-size: 12px;\'>Back</p>" class="with-tip">' + backIcon + '</a>';
            return backString;
        } else {
            return '';
        }
    }
    function setIconViewChildStandards(masterStandardId, countChildren) {

        if (countChildren > 0) {
            var nextIcon = '<i class="custom-icon fa-solid fa-circle-chevron-right icon-grey"></i>';
            var nextString = '<a masterStandardId="' + masterStandardId + '" href="javascript:void(0);" onclick="GetStandardNextLevel(this);" title="<p style=\'font-size: 12px;\'>Next</p>" class="with-tip">' + nextIcon + '</a>';
            return nextString;
        } else {
            return '';
        }

    }
    function setIconRemoveMasterStandard(masterStandardId) {
        var removeIcon = '<i class="custom-icon fa-solid fa-circle-minus icon-red"></i>';
        var removeString = '<a masterStandardId="' + masterStandardId + '" href="javascript:void(0);" onclick="RemoveStandard(this);" title="<p style=\'font-size: 12px;\'>Remove Standard</p>" class="with-tip">' + removeIcon + '</a>';
         return removeString;
    }


    function GetStandardNextLevel(control) {
        $('#tips').empty();
        var self = $(control);
        var masterStandardId = self.attr('masterStandardId');
        parentId = masterStandardId;// parentId is declared in _ItemListNormalView
        childId = 0;
        var url = '@Url.Action("GetStandardByParentStandardId", "MasterStandard")/?parentId=' + masterStandardId;
        ui.dataTableMasterStandard.fnReloadAjax(url, function () {
            $('#dataTableMasterStandard_filter input').val('');
            standardTable.fnFilter('');
        });
    }

    function GetStandardPreviousLevel(control) {
        $('#tips').empty();
        var self = $(control);
        var masterStandardId = self.attr('masterStandardId');
        childId = masterStandardId; // childId is declared in _ItemListNormalView
        parentId = 0;

        var gradeText = $("#selectGrade option:selected").text();
        var url = '@Url.Action("GetStandardByChildStandardId", "MasterStandard")/?childId=' + masterStandardId + '&grade=' + encodeURIComponent(gradeText);;;
        ui.dataTableMasterStandard.fnReloadAjax(url, function () {
            $('#dataTableMasterStandard_filter input').val('');
            standardTable.fnFilter('');
        });
    }
    function AssignStandard(control) {
        var self = $(control);
        var masterStandardId = self.attr('masterStandardId');

        $.post('@Url.Action("AssignStandardForManyQtiItems","MasterStandard")', { qtiItemIdString: '@ViewBag.QtiItemIdString',masterStandardId:masterStandardId}, function(response) {
            if (response.Success == 'Success') {

                LinkIt.success('#masterStandardNotInLessonNotifications', 'Master standard assigned');
                var standardIdList = $("#QtiItemAssignedStandardIdString").val();
                if (standardIdList == null) {
                    standardIdList = '';
                }
                standardIdList = standardIdList + ",-" + masterStandardId + "-";
                $("#QtiItemAssignedStandardIdString").val(standardIdList);
                $("#iconAdd_" + masterStandardId).hide();
                $("#iconDelete_" + masterStandardId).show();
                //ui.dataTableAssignedMasterStandard.fnDraw();
                ui.dataTableAssignedMasterStandard.fnReloadAjax(getAjaxSourceForAssignedMasterStandard());
            } else {
                //alert(response.errorMessage);
                CustomAlert(response.errorMessage);
            }

        });
    }
    function RemoveStandard(control) {
        $('#tips').empty();
        var self = $(control);
        var masterStandardId = self.attr('masterStandardId');
        confirmMessageV2(
            {
                message: "Do you want to remove this standard?",
                cbYesBtnFuncName: 'yesDeleteStandard(' + masterStandardId + ')',
                cbCancelBtnFuncName: 'closeDeleteStandard()',
                cbCloseBtnFuncName: 'closeDeleteStandard()'
            },
            {
                dialogAttr: {
                    attr: {
                        id: 'deleteStandardConfirm'
                    }
                }
            }
        )
    }
    function closeDeleteStandard() {
        $("#deleteStandardConfirm").dialog("close");
    }
    function yesDeleteStandard(masterStandardId) {
        closeDeleteStandard();
        $.post('@Url.Action("RemoveStandardForManyQtiItems","MasterStandard")', { qtiItemIdString: '@ViewBag.QtiItemIdString', masterStandardId: masterStandardId }, function(response) {
            if (response.Success == 'Success') {

                LinkIt.success('#masterStandardNotInLessonNotifications', 'Master standard removed');

                var standardIdList = $("#QtiItemAssignedStandardIdString").val();
                if (standardIdList == null) {
                    standardIdList = '';
                }
                standardIdList = standardIdList.replace(',-' + masterStandardId + '-','');
                $("#QtiItemAssignedStandardIdString").val(standardIdList);

                $("#iconAdd_" + masterStandardId).show();
                $("#iconDelete_" + masterStandardId).hide();
                //ui.dataTableAssignedMasterStandard.fnDraw();
                ui.dataTableAssignedMasterStandard.fnReloadAjax(getAjaxSourceForAssignedMasterStandard());
            } else {
                //alert(response.errorMessage);
                CustomAlert(response.errorMessage);
            }
        });
    }
    function bindEvents() {
        $('button[data-dialog="close"]').die('click');
        $(document).on('click', 'button[data-dialog="close"]', function (e) {
            var self = $(e.target);
            self.closest('.dialog').dialog('close');
            $('.ui-widget-overlay').remove();

        });

    }
    function GetStandardNextLevelOnLoad() {
        $('#tips').empty();
        if (parentId == null || parentId <= 0) {
            return;
        }
        var url = '@Url.Action("GetStandardByParentStandardId", "MasterStandard")/?parentId=' + parentId;
        ui.dataTableMasterStandard.fnReloadAjax(url);
    }

    function GetStandardPreviousLevelOnLoad() {
        $('#tips').empty();
        if (childId == null || childId <= 0) {
            return;
        }
        var gradeText = $("#selectGrade option:selected").text();
        var url = '@Url.Action("GetStandardByChildStandardId", "MasterStandard")/?childId=' + childId + '&grade=' + encodeURIComponent(gradeText);;
        ui.dataTableMasterStandard.fnReloadAjax(url);
    }

    function modifyColumnViewTable(dataTable) {
        var columnDataViewParentDom = $('#dataTableMasterStandard_wrapper table thead tr th:first-child, #dataTableMasterStandard_wrapper table tbody tr td:first-child:not(".dataTables_empty")')
        var columnDataViewChildDom = $('#dataTableMasterStandard_wrapper table thead tr th:last-child, #dataTableMasterStandard_wrapper table tbody tr td:last-child:not(".dataTables_empty")')
        if (dataTable.length) {
            var isShowChildColumn = false;
            for (var i = 0, len = dataTable.length; i < len; i++) {
                if (dataTable[i][5] !== 0) isShowChildColumn = true;
            }
            if (dataTable[0][4] === 1) {
                columnDataViewParentDom.hide()
            } else {
                columnDataViewParentDom.show()
            }
            if (isShowChildColumn) {
                columnDataViewChildDom.show()
            } else {
                columnDataViewChildDom.hide()
            }
        } else {
            columnDataViewParentDom.hide()
            columnDataViewChildDom.hide()
        }
    }

    function modifyFirstColumnTable(id) {
        $('#' + id + ' thead th').removeClass("delete-border-left-table");
        $('#' + id + ' thead td').removeClass("delete-border-left-table");
        //Update Header: first column
        $('#' + id + ' thead th:visible:first').each(function () {
            $(this).addClass('delete-border-left-table')
        })
        //Update Tbody: first column
        $('#' + id + ' tbody tr').each(function () {
            $(this).find('td:visible:first').addClass('delete-border-left-table');
        });
    }
</script>
