@model LinkIt.BubbleSheetPortal.Web.ViewModels.PrintTestRequest
<section class="grid_10">
    <div id="divconfigGenerateTest" class="block-border" style="z-index: 1003;">
        <div class="block-content form" style="z-index: 1003;">
            <div id="tabGenerateTest" style="width: 100%; margin-bottom: 10px;">
                <button id="btnPDFTest" type="button" style="width: 50%; float: left; margin-left: 0;"
                    onclick="ShowHideAnswerKey(false)" class="active_tab">
                    Test</button>
                <button id="btnPDFAnswerKey" type="button" style="width: 23%; float: left; margin-left: 0;"
                        onclick="ShowHideAnswerKey(true)" class="deactive_tab">
                    Answer Key</button>
                
            </div>
            <div class="clear"></div>
            <div id="divPDFTest" style="border-width: 1px; width: 100%; margin-top: 10px;">
                <div style="border-width: 1px; margin-bottom: 5px; float: left; width: 49%;">
                    <fieldset class="grey-bg">
                        <legend>Columns</legend>
                        <div class="columns">
                            <div class="colx2-left-popup">
                                <p>
                                    <label>
                                        <input id="idSingleColumn" name="Column" type="radio" />
                                        Single Column
                                    </label>

                                </p>
                            </div>
                            <div class="colx2-right-popup">
                                <p>
                                    <label>
                                        <input id="idTowColumns" name="Column" type="radio" checked="checked" />
                                        Two Columns
                                    </label>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="grey-bg">
                        <div class="columns">
                            <div class="colx2-left-popup">
                                <p>
                                    Options
                                </p>
                            </div>
                            <div class="colx2-right-popup">
                                <p>
                                    <label>
                                        <input type="checkbox" id="idIncludeCoverPage" checked="checked" />
                                        Include Cover Page    
                                    </label>

                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" id="idShowSelectionHeading" />
                                        Show Section headings    
                                    </label>

                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" id="idShowBorderAroundQuestion" checked="checked" />
                                        Show Border Around  Questions    
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" id="idShadeReference" checked="checked" />
                                        Shade reference Background    
                                    </label>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="grey-bg">
                        <div class="columns">
                            <div>
                                <div class="colx2-left-popup popupLineheight print_left">Test Title</div>
                                <div class="colx2-right-popup">
                                    @Html.TextBoxFor(o => o.TestTitle)
                                    @Html.HiddenFor(o => o.VirtualTestID)
                                </div>
                            </div>
                            <div class="clear clear-10"></div>
                            <div>
                                <div class="colx2-left-popup popupLineheight print_left">Test Instructions</div>
                                <div class="colx2-right-popup">
                                    <input id="idTestInstructions" type="text" />
                                </div>
                            </div>
                            <div class="clear clear-10"></div>
                            <div>
                                <div class="colx2-left-popup popupLineheight print_left">Teacher's Name</div>
                                <div class="colx2-right-popup">
                                    <input id="idTeacherName" type="text" />
                                </div>
                            </div>
                            <div class="clear clear-10"></div>
                            <div>
                                <div class="colx2-left-popup popupLineheight print_left">Class Name</div>
                                <div class="colx2-right-popup">
                                    <input id="idClassName" type="text" />
                                </div>
                            </div>
                            <div class="clear clear-10"></div>
                        </div>
                    </fieldset>

                </div>
                <div style="border-width: 1px; float: right; width: 49%">
                    <fieldset class="grey-bg">
                        <legend>Question Prefix: </legend>
                        <div class="columns">
                            <div class="colx2-left-popup">
                                <p>
                                    <input id="idQuestionPrefix" type="text" value="Question" />
                                </p>
                            </div>
                            <div class="colx2-right-popup popupLineheight">
                                <p>
                                    <span id="idSpanPrefix">Question #</span>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="grey-bg">
                        <div class="columns">
                            <div class="colx2-left-popup">
                                <p>
                                    Open Ended Items:
                                </p>
                            </div>
                            <div class="colx2-right-popup">

                                <p>
                                    <label>
                                        <input id="idAnswerOn" type="checkbox" />
                                        Answer on Separate Sheet
                                    </label>

                                    Number of Lines: 
                                    <select id="idSelectLines">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </p>
                                <p>
                                    <label>
                                        <input id="idShowLine" type="checkbox" />
                                        Show Line    
                                    </label>

                                </p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="grey-bg">
                        <div class="columns">
                            <div class="colx2-left-popup">
                                <p>
                                    Answer Label Format:
                                </p>
                            </div>
                            <div class="colx2-right-popup">
                                <p>
                                    <label>
                                        <input type="radio" id="idUppercaseAlpha" name="AnserLable" checked="checked" />
                                        Uppercase Alpha (A,B,C,D)    
                                    </label>

                                </p>
                                <p>
                                    <label>
                                        <input type="radio" id="idNumberic" name="AnserLable" />
                                        Numeric (1,2,3,4)    
                                    </label>
                                </p>

                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="grey-bg ">
                        <div class="columns">
                            <div class="colx2-left-popup">
                                <p>
                                    Page Numbering:
                                </p>
                            </div>
                            <div class="colx2-right-popup">
                                <p>
                                    <label>
                                        <input type="checkbox" id="idcbIncludePageNumber" checked="checked" />
                                        Include page Numbers    
                                    </label>

                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" id="idStartCounting" checked="checked" />
                                        Start Counting On Cover    
                                    </label>

                                </p>

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="clear"></div>
            <div id="divPDFAnserKey" style="display: none; width: 100%; margin-top: 10px; margin-bottom: 10px;">
                <fieldset class="grey-bg">
                    <div class="columns">
                        <div class="colx2-left-popup">
                            <p>
                                Options
                            </p>
                        </div>
                        <div class="colx2-right-popup">
                            <p>
                                <label>
                                    <input type="checkbox" id="idIncludeStandards" />
                                    Include Standards 
                                </label>

                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" id="idIncludeTags" />
                                    Include Tags
                                </label>

                            </p>

                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="clear"></div>
            <div style="float: left; margin-top: 10px;">
                @if (!string.IsNullOrEmpty(Model.RubricKey))
                {
                    <button id="btnGenericRubric" type="button" style="float: left; margin-left: 0;"
                        onclick="GenerecRubric('@Model.RubricLink');" class="active_tab">Rubric</button>
                    @*<a id="aGenericRubric" style="width: 23%; float: left; margin-left: 0; text-align: center;"
                    class="LinkitStypeButton big-button" href="@Model.RubricLink" >Rubric</a>*@
                }
            </div>
            <div style="float: right; margin-top: 10px;">
                <button id="btnCreatePDFGray" disabled="disabled" style="display: none;">Create PDF</button>
                <button id="btnCreatePDF" type="submit" onclick="createPDF(event)">Create PDF</button>
                <!-- function createPDF is define in parent page PrintTest/Index.cshtml to make sure only one function will be called when user click on this button (no use jquery live)-->
                <button id="btnCloseCreatePDF" type="submit">Close</button>
                <input type="hidden" id="hdfPDFType" value="test" />
                @Html.Hidden("hdfPrintAnswerKeyURL", Model.PrintAnswerKeyURL)
                @Html.Hidden("hdfPrintTestURL", Model.PrintTestURL)
                @Html.Hidden("hdfIsLockedbank", Model.IsLockbank)
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
<style type="text/css">
    .grid_10 {
        width: 965px !important;
        z-index: 1003 !important;
    }

    .grey-bg {
        z-index: 1003 !important;
    }

    .block-content div, .block-content p {
        z-index: 1003 !important;
    }

    .popupLineheight p {
        line-height: 3em;
    }
</style>
<script>

    $(function () {
      
        $('#idSelectLines').val(8);

        if ($('#hdfIsLockedbank').val() == '1' || $('#hdfIsLockedbank').val() == 'True') {
            $('#btnPDFAnswerKey').hide();
        } else {
            $('#btnPDFAnswerKey').show();
        }
        
        //Use JS adjust width of tab
        var bntTab = $("#tabGenerateTest button"),
            totalButton = 0;
            bntTab.each(function() {
                if ($(this).css("display") != "none") {
                    totalButton += 1;
                }
            });
            if (totalButton != 0) {
                widthBnt = 100 / totalButton;
                bntTab.css({ "width": widthBnt + "%" });
            }
    });

    $("#btnCloseCreatePDF").live("click", function (e) {
        e.preventDefault();
        $(".dialog").dialog("close");
    });

    $('#idQuestionPrefix').keyup(function () {
        var v = "'" + $(this).val() + " #.'";
        $('#idSpanPrefix').html(v);
    });

    $('#idAnswerOn').change(function () {
        if ($('#idAnswerOn:checked').val() == 'on') {
            $('#idSelectLines').prop('disabled', true);
            $('#idShowLine').prop('disabled', true);
        } else {
            $('#idSelectLines').prop('disabled', false);
            $('#idShowLine').prop('disabled', false);
        }
    });

    function ShowHideAnswerKey(isAnswerKey) {

        if (isAnswerKey) {
            $('#divPDFTest').hide();
            $('#divPDFAnserKey').show();
            $('#hdfPDFType').val('anwserkey');

            $('#btnPDFTest').removeAttr("class");
            $('#btnPDFAnswerKey').removeAttr("class");

            $('#btnPDFAnswerKey').addClass("active_tab");
            $('#btnPDFTest').addClass("deactive_tab");
            if ($('#hdfIsLockedbank').val() == '1' || $('#hdfIsLockedbank').val() == 'True') {
                $('#btnCreatePDF').hide();
                $('#btnCreatePDFGray').show();
            } else {
                $('#btnCreatePDF').show();
                $('#btnCreatePDFGray').hide();
            }
        } else {
            $('#divPDFTest').show();
            $('#divPDFAnserKey').hide();
            $('#hdfPDFType').val('test');

            $('#btnPDFTest').removeAttr("class");
            $('#btnPDFAnswerKey').removeAttr("class");

            $('#btnPDFTest').addClass("active_tab");
            $('#btnPDFAnswerKey').addClass("deactive_tab");
            //alway show Create PDF
            $('#btnCreatePDF').show();
            $('#btnCreatePDFGray').hide();
        }
    }

    function GenerecRubric(rubricLink) {
        window.location = rubricLink;
    }
</script>

