@model LinkIt.BubbleSheetPortal.Web.ViewModels.TestSettingsMap
<div class="block-border" id="divLockBankFilterl1" style="position: static; z-index: 1002">
    <div id="divLockBankFilterl2" class="block-content form bubbleSheetSelector" style="z-index: 1002;">
        <fieldset class="grey-bg" style="z-index: 1002">
            <legend>Assignment Setting</legend>
            <table class="table">
                <tr>
                    <td style="width: 250px">
                        Verify Student
                    </td>
                    <td style="width: 350px">
                        @Html.RadioButton("vStudent", "OFF", !Model.TestSettingViewModel.VerifyStudent.Equals("1")) OFF
                        @Html.RadioButton("vStudent", "ON", Model.TestSettingViewModel.VerifyStudent.Equals("1")) ON
                    </td>
                </tr>
                <tr>
                    <td style="width: 250px">
                        Require Test Taker Authentication
                    </td>
                    <td style="width: 350px">
                        @Html.RadioButton("requireTestTakerAuthentication", "OFF", !Model.TestSettingViewModel.RequireTestTakerAuthentication.Equals("1")) OFF
                        @Html.RadioButton("requireTestTakerAuthentication", "ON", Model.TestSettingViewModel.RequireTestTakerAuthentication.Equals("1")) ON
                    </td>
                </tr>
                <tr>
                    <td>
                        Shuffle Questions
                    </td>
                    <td>
                        @Html.RadioButton("ShuffleQuestions", "OFF", !Model.TestSettingViewModel.ShuffleQuestions.Equals("1")) OFF
                        @Html.RadioButton("ShuffleQuestions", "ON", Model.TestSettingViewModel.ShuffleQuestions.Equals("1")) ON
                    </td>
                </tr>
                <tr>
                    <td>
                        Shuffle Multiple Choice Answers
                    </td>
                    <td>
                        @Html.RadioButton("ShuffleAnswers", "OFF", !Model.TestSettingViewModel.ShuffleAnswers.Equals("1")) OFF
                        @Html.RadioButton("ShuffleAnswers", "ON", Model.TestSettingViewModel.ShuffleAnswers.Equals("1")) ON
                    </td>
                </tr>
                <tr>
                    <td>
                        Auto Advance
                    </td>
                    <td>
                        @Html.RadioButton("AutoAdvance", "OFF", !Model.TestSettingViewModel.AutoAdvanceTest.Equals("1")) OFF
                        @Html.RadioButton("AutoAdvance", "ON", Model.TestSettingViewModel.AutoAdvanceTest.Equals("1")) ON
                    </td>
                </tr>

                <tr>
                    <td>
                        Must Answer All Questions
                    </td>
                    <td>
                        @Html.RadioButton("AnswerAllQuestions", "OFF", !Model.TestSettingViewModel.MustAnswerAllQuestions.Equals("1")) OFF
                        @Html.RadioButton("AnswerAllQuestions", "ON", Model.TestSettingViewModel.MustAnswerAllQuestions.Equals("1")) ON
                    </td>
                </tr>
                <tr>
                    <td>
                        Can Review Test
                    </td>
                    <td>
                        @Html.RadioButton("CanReviewTest", "OFF", !Model.TestSettingViewModel.CanReviewTest.Equals("1")) OFF
                        @Html.RadioButton("CanReviewTest", "ON", Model.TestSettingViewModel.CanReviewTest.Equals("1")) ON
                    </td>
                </tr>
                <tr>
                    <td>
                        Can Pause Test
                    </td>
                    <td>
                        @Html.RadioButton("CanPauseTest", "OFF", !Model.TestSettingViewModel.CanPauseTest.Equals("1")) OFF
                        @Html.RadioButton("CanPauseTest", "ON", Model.TestSettingViewModel.CanPauseTest.Equals("1")) ON
                    </td>
                </tr>
                <tr>
                    <td>
                        Display Answer Labels
                    </td>
                    <td>
                        @Html.RadioButton("DisplayAnswerLabels", "OFF", !Model.TestSettingViewModel.DisplayAnswerLabels.Equals("1")) OFF
                        @Html.RadioButton("DisplayAnswerLabels", "ON", Model.TestSettingViewModel.DisplayAnswerLabels.Equals("1")) ON
                    </td>
                </tr>
                <tr>
                    <td>
                        Answer Label Format
                    </td>
                    <td>
                        @Html.RadioButton("AnswerLabelFormat", "OFF", !Model.TestSettingViewModel.AnswerLabelFormat.Equals("1")) Letter (A, B, C...)
                        @Html.RadioButton("AnswerLabelFormat", "ON", Model.TestSettingViewModel.AnswerLabelFormat.Equals("1")) Numbers (1, 2, 3...)

                    </td>
                </tr>
                <tr>
                    <td>
                        Override Auto Graded Text Entry
                    </td>
                    <td>
                        @Html.RadioButton("OverrideAutoGradedTextEntry", "OFF", !Model.TestSettingViewModel.OverrideAutoGradedTextEntry.Equals("1")) OFF
                        @Html.RadioButton("OverrideAutoGradedTextEntry", "ON", Model.TestSettingViewModel.OverrideAutoGradedTextEntry.Equals("1")) ON

                    </td>
                </tr>
                <tr>
                    <td>
                        Passage Position in Test Taker
                    </td>
                    <td>
                        @Html.RadioButton("PassagePositioninTestTaker", "LEFT", Model.TestSettingViewModel.PassagePositioninTestTaker.Equals("1")) LEFT
                        @Html.RadioButton("PassagePositioninTestTaker", "RIGHT", !Model.TestSettingViewModel.PassagePositioninTestTaker.Equals("1")) RIGHT
                    </td>
                </tr>

                <tr>
                    <td>
                        Math Palette
                    </td>
                    <td>
                        @Html.CheckBox("mathPalette", Model.TestSettingToolViewModel.MathPalette.Equals("1"))
                    </td>
                </tr>
                <tr>
                    <td>
                        Spanish Palette
                    </td>
                    <td>
                        @Html.CheckBox("spanishPalette", Model.TestSettingToolViewModel.SpanishPalette.Equals("1"))
                    </td>
                </tr>
            </table>
            <button class="float-right w70" id="btnTestSettingSubmit" type="button">Set</button>
            <button class="float-right mgright10 w70" id="btnTestSettingCancel" type="button">Cancel</button>
            @Html.Hidden("hdfIsLockedBankId", Model.TestSettingViewModel.IslockedBank)
        </fieldset>
    </div>
</div>


<script>
    $('#btnTestSettingCancel').unbind('click');
    $('#btnTestSettingCancel').live("click", function () {
        $(".dialog").dialog("close");
        if ($('#lbltestSchedule').text() == "OFF") {
            $(".test-schedule-container").hide();
        }
    });

</script>
