@using LinkIt.BubbleSheetPortal.Models.SGO
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel

<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsRationalGuiden" name="fsRationalGuiden" datapoint="@Model.DataPointIndex">
    <p class="title-large" style="font-size: 16px !important">Rationale and Post Assessment Guidance</p>
    <div class="columns">
        <div>
            @if (!string.IsNullOrEmpty(Model.DirectionConfigurationValue))
            {
                <div class="mb-3 box-warning">
                    <img src="/Content/images/icons/icon-info.svg" class="ico-info">
                    <p class="m-b-7">@Html.Raw(Model.DirectionConfigurationValue)</p>
                    <a id="linkRationale" href="javascript:void(0)">Assessment and Rationale for SGO/Standards Chosen</a>
                </div>
            }
            else
            {
                <div class="mb-3">
                    <a id="linkRationale" href="javascript:void(0)">Assessment and Rationale for SGO/Standards Chosen</a>
                </div>
            }

            <textarea name="rationaleInstruction" datapoint="@Model.DataPointIndex" style="width: 50%; border: 2px solid var(--selectBorder);" cols="80" rows="10">@Model.RationaleGuidance</textarea>
        </div>
    </div>
</fieldset>           

<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectPostHistoricalTest">
    <p class="title-large" style="font-size: 16px !important">Select LinkIt! Test</p>
    
    <input type="hidden" name="txtHiddenSubjectName" value="@Model.SubjectName" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenGradeId" value="@Model.GradeId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenVirtualTestId" value="@Model.VirtualTestId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenScoreType" value="@Model.ScoreType" dataPoint="@Model.DataPointIndex" />    
    <input type="hidden" name="txtHiddenClusterScoreFilters" value="@Model.ClusterScoreFilters" dataPoint="@Model.DataPointIndex"/>        
    <input type="hidden" name="txtRemainingAjaxRequest" value="1" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenAttachScoreUrl" value="@Model.AttactScoreUrl" datapoint="@Model.DataPointIndex" />

    <div class="columns" id="divItemCriteria">
        <div class="row">
            <div class="col-3">
                <label>@LabelHelper.Subject</label>
                <select name="selectSubjectPostAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
            </div>
            <div class="col-3">
                <label>@LabelHelper.TestGrade</label>
                <select name="selectGradePostAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
            </div>
            <div class="col-3">
                <label>Test</label>
                <div class="block-text-name w-100">
                    <select id="selectTestPostAssessmentHistorical-@Model.DataPointIndex" name="selectTestPostAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
              
            </div>
            <div class="col-3">
                <label>Score Type</label>
                <select name="selectScoreTypePostAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsFilterByTag" name="fsFilterByTag" dataPoint="@Model.DataPointIndex">
    <p class="title-large mb-4" style="font-size: 16px !important">Filter by Cluster/Strands (Optional)</p>
    <article id="divPostHistorical">
        <div class="d-flex flex-column">
            <div id="divTopic" >
                <div class="form divItem">
                    <div class="block-filter">
                        <table name="dataTableClusterScore" id="dataTableClusterScore@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="datatable table no-margin noPadding dataTableDefaultTagStyle table-sgo-filter">
                            <colgroup>
                                <col style="width: 10%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox" name="chkAllClusterScore" datapoint="@Model.DataPointIndex" />
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Cluster/Strands
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="cursor: pointer"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
</fieldset>

<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsEnterOrAttachScore">
    <p class="title-large" style="font-size: 16px !important">Optional: Attach Scores</p>
    <button class="btn-blue" name="btnAttachStudentScore" id="btnAttachStudentScore@(Model.DataPointIndex)" datapoint="@Model.DataPointIndex" type="button">Attach Results</button>
    <div class="mt-3" name="divAttachResultInfo" datapoint="@Model.DataPointIndex"
         @if (string.IsNullOrEmpty(Model.AttactScoreUrl)) { <text>
         style="display: none; visibility: hidden;"
         </text> }>
        <span class="attachment-item" name="spanAttachResultFileName" datapoint="@Model.DataPointIndex" attactscoredownloadlink="@Model.AttactScoreDownloadLink">
            @if (Model != null && !string.IsNullOrEmpty(Model.AttactScoreUrl))
            {
                @Model.AttactScoreUrl.Substring(@Model.AttactScoreUrl.IndexOf('_') + 1)
            }
        </span>
        <span class="custom-icon fa-solid fa-circle-xmark icon-red attachment-item with-tip" style="cursor: pointer" title="Remove Attach Results" onclick="removeAttachResult(@Model.DataPointIndex)"></span>
    </div>
</fieldset>

<div class="btn-wrapper">
    <button name="btnRemoveDataPoint" dataPoint="@Model.DataPointIndex" class="btn-blue bntCreate " type="button">Remove Data Point</button>
    <button name="btnSaveDataPoint" dataPoint="@Model.DataPointIndex" class="btn-red" type="button">Save Data Point</button>
</div>

<style>
    #divPostHistorical .form .block-footer {
        display: none !important;
    }

    #divPostHistorical .form table tbody .dataTables_empty {
        vertical-align: middle;
        text-align: center !important;
    }

    .divItem {
        width: 50%;
    }

    .divItem .block-controls {
        display: none !important;
    }

    .divItem table {
        display: block;
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .divItem table tbody {
        border-collapse: collapse;
        width: 100%;
        display: table;
    }

    .divItem table thead {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 12;
        border-collapse: collapse;
        display: table;
    }

    .divItem table tbody tr td:first-child,
    .divItem table thead tr th:first-child {
        text-align: center !important;
        width: 50px;
    }

    .divItem table tbody tr td:first-child input,
    .divItem table thead tr th:first-child input {
        margin: 0 !important;
    }

    .divItem table thead tr th {
        border-bottom: none;
    }
</style>

<script>
    $(function () {
        // All functions are at index.cshtml file
        $('#selectTestPostAssessmentHistorical-' + '@Model.DataPointIndex').marquee();
        populateSubjectsPostAssessmentHistorical('@Model.DataPointIndex');
        LoaddataTestResultSubScoreTable('@Model.DataPointIndex');

        registerUploadAttachResult('@Model.DataPointIndex');
        validateShowHideUploadAttachResult('@Model.DataPointIndex');

        var downloadElement = $('span[name="spanAttachResultFileName"]');
        downloadElement.unbind('click');
        downloadElement.click(function () {
            var element = $(this);
            var url = element.attr('attactscoredownloadlink');
            window.open(url, 'Download');
        });
    });
</script>
