@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel
    <fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsRationalGuiden" name="fsRationalGuiden" datapoint="@Model.DataPointIndex">
        <p class="title-large" style="font-size: 16px !important">Rationale and Post Assessment Guidance</p>

        @if (Model.SubjectName != null)
        {
            <input type = "hidden" name = "txtHiddenSubjectName" value = "@Model.SubjectName" datapoint = "@Model.DataPointIndex" />
        }
        else
        {
            <input type = "hidden" name = "txtHiddenSubjectName" value = "select" datapoint = "@Model.DataPointIndex" />
        }
        @if (Model.GradeId > 0)
        {
            <input type="hidden" name="txtHiddenGradeId" value="@Model.GradeId" datapoint="@Model.DataPointIndex" />
        }
        else
        {
            <input type = "hidden" name = "txtHiddenGradeId" value = "select" datapoint = "@Model.DataPointIndex" />
        }
        <input type="hidden" name="txtHiddenVirtualTestId" value="@Model.VirtualTestId" datapoint="@Model.DataPointIndex" />
        <input type="hidden" name="txtHiddenAttachScoreUrl" value="@Model.AttactScoreUrl" datapoint="@Model.DataPointIndex" />
        <input type="hidden" name="txtRemainingAjaxRequest" value="1" datapoint="@Model.DataPointIndex" />

        <div class="columns">
            <div id="divDirection">
                <div class="mb-3 box-warning">
                    <img src="/Content/images/icons/icon-info.svg" class="ico-info">
                    <p class="m-b-7">@Html.Raw(Model.DirectionConfigurationValue)</p>
                    <a id="linkRationale" href="javascript:void(0)">Assessment and Rationale for SGO/Standards Chosen</a>
                </div>
                <textarea name="rationaleInstruction" datapoint="@Model.DataPointIndex" style="width: 50%; border: 2px solid var(--selectBorder);" cols="80" rows="10">@Model.RationaleGuidance</textarea>
            </div>
        </div>
    </fieldset>

<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectPostCreatedTest">
    <p class="title-large" style="font-size: 16px !important">Specify Test Descriptions</p>
    <div class="columns" id="divItemCriteria">
        <div class="row">
            <div class="col-3">
                <label>@LabelHelper.Subject</label>
                <select name="selectSubjectPostAssessmentToBeCreated" datapoint="@Model.DataPointIndex"></select>
            </div>
            <div class="col-3">
                <label>@LabelHelper.GradeLabel</label>
                <select name="selectGradePostAssessmentToBeCreated" datapoint="@Model.DataPointIndex"></select>
            </div>
            <div class="col-3">
                <label>Test</label>
                <input style="font-size: 1.083em; padding: 0.65rem 1rem 0.65rem .59rem; width: 100%; border: 2px solid var(--selectBorder) !important;" name="txtTestNamePostAssessmentToBeCreated" datapoint="@Model.DataPointIndex" value="@Model.Name" style="  font-size: 1.083em; padding: 0.385em; width: 95%;" />
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsEnterOrAttachScore">
    <p class="title-large" style="font-size: 16px !important">Optional: Attach Scores</p>
    <div class="d-flex align-center" style="gap: 10px">
        <button class="btn-blue" name="btnAttachStudentScore" id="btnAttachStudentScore@(Model.DataPointIndex)" datapoint="@Model.DataPointIndex" type="button">Attach Results</button>
        <div name="divAttachResultInfo" datapoint="@Model.DataPointIndex"
             @if (string.IsNullOrEmpty(Model.AttactScoreUrl)) { <text>
             style="display: none; visibility: hidden;"
             </text> }>
            <span class="attachment-item" name="spanAttachResultFileName" datapoint="@Model.DataPointIndex" attactscoredownloadlink="@Model.AttactScoreDownloadLink">
                @if (Model != null && !string.IsNullOrEmpty(Model.AttactScoreUrl))
                {
                    @Model.AttactScoreUrl.Substring(@Model.AttactScoreUrl.IndexOf('_') + 1)
                }
            </span>
            <span class="custom-icon fa-solid fa-circle-xmark icon-red attachment-item with-tip" style="cursor: pointer" title="Remove Attach Results" onclick="removeAttachResult(@Model.DataPointIndex)"></span>
        </div>
    </div>
</fieldset>

<div class="btn-wrapper">
    <button name="btnRemoveDataPoint" datapoint="@Model.DataPointIndex" class="btn-blue bntCreate" type="button">Remove Data Point</button>
    <button name="btnSaveDataPoint" datapoint="@Model.DataPointIndex" class="btn-red" type="button">Save Data Point</button>
</div>
<script>
    $(function () {
        //\Edit
        var vRationale = $('textarea[name="rationaleInstruction"][datapoint="' + '@Model.DataPointIndex' + '"]').value;
        if (vRationale !== '') {
            $('#idhdfRationalTobeCreate').val($('textarea[name="rationaleInstruction"][datapoint="' + '@Model.DataPointIndex' + '"]').text());
        }
        //\End
        // All functions are at index.cshtml file

        AssignDataPointLegentName('@Model.DataPointIndex', '@Model.Name');
        populateSubjectsPostAssessmentToBeCreated('@Model.DataPointIndex');
        registerUploadAttachResult('@Model.DataPointIndex');

        var downloadElement = $('span[name="spanAttachResultFileName"]');
        downloadElement.unbind('click');
        downloadElement.click(function () {
            var element = $(this);
            var url = element.attr('attactscoredownloadlink');
            window.open(url, 'Download');
        });
    });
</script>
