@using LinkIt.BubbleSheetPortal.Models.SGO
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel
<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectHistoricalTest">
    <p class="title-large" style="font-size: 16px !important">Select LinkIt! Test</p>
    
    <input type="hidden" name="txtHiddenSubjectName" value="@Model.SubjectName" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenGradeId" value="@Model.GradeId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenVirtualTestId" value="@Model.VirtualTestId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenScoreType" value="@Model.ScoreType" dataPoint="@Model.DataPointIndex" />    
    <input type="hidden" name="txtHiddenClusterScoreFilters" value="@Model.ClusterScoreFilters" dataPoint="@Model.DataPointIndex"/>        
    <input type="hidden" name="txtRemainingAjaxRequest" value="1" dataPoint="@Model.DataPointIndex"/>

    <div class="columns" id="divItemCriteria">
        <div class="row">
            <div class="col-3">
                <label>@LabelHelper.Subject</label>
                <select name="selectSubjectPreAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
            </div>
            <div class="col-3">
                <label>@LabelHelper.GradeLabel</label>
                <select name="selectGradePreAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
            </div>
            <div class="col-3">
                <label>Test</label>              
                <div class="block-text-name w-100">
                    <select id="selectTestPreAssessmentHistorical-@Model.DataPointIndex" name="selectTestPreAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label>Score Type</label>
                <select name="selectScoreTypePreAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsFilterByTag" name="fsFilterByTag" datapoint="@Model.DataPointIndex">
    <p class="title-large mb-4" style="font-size: 16px !important">Filter by Cluster/Strands (Optional)</p>
    <article id="divPreHistorical" >
        <div class="d-flex flex-column">
            <div id="divTopic">
                <div class="form divItem">
                    <div class="block-filter">
                        <table name="dataTableClusterScore" id="dataTableClusterScore@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="datatable table no-margin noPadding dataTableDefaultTagStyle table-sgo-filter">
                            <colgroup>
                                <col style="width: 10%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox" name="chkAllClusterScore" datapoint="@Model.DataPointIndex" />
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Cluster/Strands
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
</fieldset>

<div class="btn-wrapper">
    <button name="btnRemoveDataPoint" dataPoint="@Model.DataPointIndex" class="btn-blue bntCreate" type="button">Remove Data Point</button>
    <button name="btnSaveDataPoint" dataPoint="@Model.DataPointIndex" class="btn-red" type="button">Save Data Point</button>
</div>

<style>
    #divPreHistorical .form .block-footer {
        display: none !important;
    }

    #divPreHistorical .form table tbody .dataTables_empty {
        vertical-align: middle;
        text-align: center !important;
    }

    .divItem {
        width: 50%;
    }

    .divItem .block-controls {
        display: none !important;
    }

    .divItem table tbody tr td:first-child,
    .divItem table thead tr th:first-child {
        text-align: center !important;
    }

    .divItem table tbody tr td:first-child input,
    .divItem table thead tr th:first-child input {
        margin: 0 !important;
    }

    .divItem table {
        display: block;
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .divItem table tbody {
        border-collapse: collapse;
        width: 100%;
        display: table;
    }

    .divItem table thead {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 12;
        border-collapse: collapse;
        display: table;
    }

    .divItem table tbody tr td:first-child {
        text-align: center !important;
        width: 50px;
    }

    .divItem table tbody tr td:first-child input {
        margin: 0 !important;
    }

    .divItem table thead tr th {
        border-bottom: none;
    }
</style>

<script>
    $(function () {
        // All functions are at index.cshtml file
        $('#selectTestPreAssessmentHistorical-' + '@Model.DataPointIndex').marquee();
        populateSubjectsPreAssessmentHistorical('@Model.DataPointIndex');
        LoaddataTestResultSubScoreTable('@Model.DataPointIndex');
    });
</script>
