@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel
<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectLinkitTest">
    <p class="title-large" style="font-size: 16px !important">Select LinkIt! Test</p>
    
    <input type="hidden" name="txtHiddenSubjectName" value="@Model.SubjectName" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenGradeId" value="@Model.GradeId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenVirtualTestId" value="@Model.VirtualTestId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenScoreType" value="@Model.ScoreType" dataPoint="@Model.DataPointIndex"/>    
    <input type="hidden" name="txtHiddenStateStandardFilters" value="@Model.StateStandardFilters" dataPoint="@Model.DataPointIndex"/>    
    <input type="hidden" name="txtHiddenTopicFilters" value="@Model.TopicFilters" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenSkillFilters" value="@Model.SkillFilters" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenOtherFilters" value="@Model.OtherFilters" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtRemainingAjaxRequest" value="4" dataPoint="@Model.DataPointIndex"/>

    <div class="columns" id="divItemCriteria">
        <div class="row">
            <div class="col-3">
                <label>@LabelHelper.Subject</label>
                <select name="selectSubjectPreAssessment" datapoint="@Model.DataPointIndex"></select>
            </div>
            <div class="col-3">
                <label>@LabelHelper.GradeLabel</label>
                <select name="selectGradePreAssessment" datapoint="@Model.DataPointIndex"></select>
            </div>
            <div class="col-3">
                <label>Test</label>
                <div class="block-text-name w-100">
                    <select id="selectTestPreAssessment-@Model.DataPointIndex" name="selectTestPreAssessment" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div> 
            </div>
            <div class="col-3">
                <label>Score Type</label>
                <select name="selectScoreTypePreAssessment" datapoint="@Model.DataPointIndex">
                </select>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsFilterbyStandard" name="fsFilterbyStandard" dataPoint="@Model.DataPointIndex">
    <legend id="title-deading">Filter by Standards (Optional)<i class="fa-solid fa-chevron-down ml-10" style="float: right"></i></legend>
    <article id="divStateStandards">
        <div class="d-flex">
            <div class="row p-4 flex-column" style="gap: 15px; width: 40%">
                <div>
                    <label>State</label>
                    <select name="selectStateStandard" datapoint="@Model.DataPointIndex"></select>
                </div>
                <div>
                    <label>@LabelHelper.Subject</label>
                    <select name="selectSubjectStandard" datapoint="@Model.DataPointIndex"></select>
                </div>
                <div>
                    <label>@LabelHelper.GradeLabel</label>
                    <select name="selectGradeStandard" datapoint="@Model.DataPointIndex"></select>
                </div>
            </div>
            <div style="width: 60%;">
                <div class="form p-4" id="divStandardWrapper">
                    <table name="dataTableMasterStandard" id="dataTableMasterStandard@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="datatable table no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" name="chkAllStandard" datapoint="@Model.DataPointIndex" />
                                </th>
                                <th scope="col"></th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Number
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Description
                                </th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
    <input type="hidden" id="hiddenSelectedMasterStandardName" />
</fieldset>

<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsFilterByTag" name="fsFilterByTag" dataPoint="@Model.DataPointIndex">
    <legend id="title-deading">Filter by Tags (Optional)<i class="fa-solid fa-chevron-down ml-10" style="float: right"></i></legend>
    
    <article id="divTag" >
        <div class="d-flex flex-column">
            <p class="title-large p-4 mb-0" style="font-size: 16px !important">
                Associated Tags
            </p>
            <div class="d-flex justify-content-around pb-4 px-4" style="gap: 20px">
                <div id="divTopic" style="flex: 1">
                    <div class="form">
                        <div class="block-filter">
                            <table name="dataTableTopic" id="dataTableTopic@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="datatable table no-margin noPadding dataTableDefaultTagStyle table-sgo-filter">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" name="chkAllTopic" datapoint="@Model.DataPointIndex" />
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Topics
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="divSkill" style="flex: 1">
                    <div class="form">
                        <div class="block-filter">
                            <table name="dataTableSkill" id="dataTableSkill@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="datatable table no-margin noPadding dataTableDefaultTagStyle table-sgo-filter">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" name="chkAllSkill" datapoint="@Model.DataPointIndex" />
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Skills
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="divOther" style="flex: 1">
                    <div class="form">
                        <div class="block-filter">
                            <table name="dataTableOther" id="dataTableOther@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="datatable table no-margin noPadding dataTableDefaultTagStyle table-sgo-filter">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" name="chkAllOther" datapoint="@Model.DataPointIndex" />
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Other
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </article>
</fieldset>
<div class="btn-wrapper">
    <button name="btnRemoveDataPoint" dataPoint="@Model.DataPointIndex" class="btn-blue bntCreate " type="button">Remove Data Point</button>
    <button name="btnSaveDataPoint" dataPoint="@Model.DataPointIndex" class="btn-red" type="button">Save Data Point</button>
</div>

<style>
    #divStateStandards,
    #divTag {
        border: 2px solid var(--blue3);
        border-top: none !important
    }

    #divStateStandards .form .block-footer,
    #divTag .form .block-footer {
        display: none !important;
    }

    #divStateStandards .form table tbody .dataTables_empty,
    #divTag .form table tbody .dataTables_empty {
        vertical-align: middle;
        text-align: center !important;
    }

    .collapsed #divStateStandards {
        border-bottom: none !important;
    }

    #divTopic .block-controls,
    #divSkill .block-controls,
    #divOther .block-controls {
        display: none !important;
    }

    #divTopic table tbody tr td:first-child,
    #divSkill table tbody tr td:first-child,
    #divOther table tbody tr td:first-child,
    #divTopic table thead tr th:first-child,
    #divSkill table thead tr th:first-child,
    #divOther table thead tr th:first-child,
    #divStandardWrapper .last-child table thead tr th:first-child,
    #divStandardWrapper .last-child table tbody tr td:first-child,
    #divStandardWrapper .last-child table tbody tr td:nth-of-type(2) {
        text-align: center !important;
    }


    #divTopic table,
    #divSkill table,
    #divOther table {
        display: block;
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #divTopic table tbody,
    #divSkill table tbody,
    #divOther table tbody {
        border-collapse: collapse;
        width: 100%;
        display: table;
    }

    #divTopic table thead,
    #divSkill table thead,
    #divOther table thead {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 12;
        border-collapse: collapse;
        display: table;
    }

    #divTopic table tbody tr td:first-child,
    #divSkill table tbody tr td:first-child,
    #divOther table tbody tr td:first-child {
        text-align: center !important;
        width: 50px;
    }

    #divTopic table tbody tr td:first-child input,
    #divSkill table tbody tr td:first-child input,
    #divOther table tbody tr td:first-child input,
    #divTopic table thead tr th:first-child input,
    #divSkill table thead tr th:first-child input,
    #divOther table thead tr th:first-child input {
        margin: 0 !important;
    }

    #divTopic table thead tr th,
    #divSkill table thead tr th,
    #divOther table thead tr th {
        border-bottom: none;
    }
</style>

<script>
$(function () {
    // All functions are at index.cshtml file
    $('#selectTestPreAssessment-' + '@Model.DataPointIndex').marquee();
    populateSubjectsPreAssessment('@Model.DataPointIndex');

    LoadStandardTable('@Model.DataPointIndex');
    LoadTopicTable('@Model.DataPointIndex');
    LoadSkillTable('@Model.DataPointIndex');
    LoadOtherTable('@Model.DataPointIndex');

    $('fieldset[name="fsFilterbyStandard"][datapoint=@Model.DataPointIndex]').coolfieldset({ collapsed: true });
    $('fieldset[name="fsFilterByTag"][datapoint=@Model.DataPointIndex]').coolfieldset({ collapsed: true });
});
</script>
