@using LinkIt.BubbleSheetPortal.Models.SGO
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel
<fieldset class="p-0 coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectCustomTest">
    <p class="title-large" style="font-size: 16px !important">Select LinkIt! Test</p>

    <input type="hidden" name="txtHiddenSubjectName" value="@Model.SubjectName" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenGradeId" value="@Model.GradeId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenVirtualTestId" value="@Model.VirtualTestId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenClusterScoreFilters" value="@Model.ClusterScoreFilters" dataPoint="@Model.DataPointIndex" subScoreId="@Model.VirtualTestCustomSubScoreId"/>
    <input type="hidden" name="txtRemainingAjaxRequest" value="1" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenScoreType" value="@Model.ScoreType" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenSubScoreId" value="@Model.VirtualTestCustomSubScoreId" dataPoint="@Model.DataPointIndex"/>

    <div class="columns" id="divItemCriteria">
        <div class="row">
            <div class="col-3">
                <label>@LabelHelper.Subject</label>
                <select name="selectSubjectPreAssessmentCustom" datapoint="@Model.DataPointIndex"></select>
            </div>
            <div class="col-3">
                <label>@LabelHelper.GradeLabel</label>
                <select name="selectGradePreAssessmentCustom" datapoint="@Model.DataPointIndex"></select>
            </div>
            <div class="col-3">
                <label>Test</label>
                <div class="block-text-name w-100">
                    <select id="selectTestPreAssessmentCustom-@Model.DataPointIndex" name="selectTestPreAssessmentCustom" datapoint="@Model.DataPointIndex"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label>Score Type</label>
                <select name="selectScoreTypePreAssessmentCustom" datapoint="@Model.DataPointIndex">
                </select>
            </div>
        </div>
    </div>
</fieldset>

<div class="btn-wrapper">
    <button name="btnRemoveDataPoint" dataPoint="@Model.DataPointIndex" class="btn-blue bntCreate " type="button">Remove Data Point</button>
    <button name="btnSaveDataPoint" dataPoint="@Model.DataPointIndex" class="btn-red" type="button">Save Data Point</button>
</div>

<script>
$(function () {
    // All functions are at index.cshtml file
    $('#selectTestPreAssessmentCustom-' + '@Model.DataPointIndex').marquee();
    populateSubjectsPreAssessmentCustom('@Model.DataPointIndex');
    populateScoreTypesPreAssessmentCustom('@Model.DataPointIndex');
});
</script>
