@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel
<fieldset id="fsDataPoint" class="p-0 coolfieldset qtiItemSelector mb-3" name="fsDataPoint" dataPoint="@Model.DataPointIndex">
    <legend id="title-deading" name="legendTestName" dataPoint="@Model.DataPointIndex">
        Data Point #       
    </legend>
    <input type="hidden" name="sgoDataPointId" value="@Model.SGODataPointId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="temporaryEditPostAssessment" value="false" dataPoint="@Model.DataPointIndex"/> 
    <fieldset class="coolfieldset qtiItemSelector fieldset-datapoint mb-0" id="fsSelectVirtualTest">
        <ul style="display: none" name="error-messages" dataPoint="@Model.DataPointIndex" class="message error"></ul>
        <ul style="display: none" name="insert-success-message" dataPoint="@Model.DataPointIndex" class="message success">
            <li>Data Point successfully updated.</li>
        </ul>
        <p class="title-large" style="font-size: 16px !important">Select Test Type</p>
        <div class="columns" id="divItemCriteria">
            <div class="row">
                <div class="col-3">
                    <label>Type</label>
                    <div class="block-text-name w-100">
                        <select id="selectTestType-@Model.DataPointIndex" name="selectTestType" datapoint="@Model.DataPointIndex"></select>
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div id="divDataPointContent" name="divDataPointContent" dataPoint="@Model.DataPointIndex">
    </div>
</fieldset>
<style>
    .expanded #title-deading .fa-chevron-down {
        transition: .3s transform ease-in-out;
        transform: rotate(180deg);
    }

    .collapsed #title-deading .fa-chevron-down {
        transition: .3s transform ease-in-out;
        transform: rotate(0);
    }

    #fsDataPoint {
        display: flex;
        flex-direction: column;
        padding: 24px;
    }

    #fsSelectVirtualTest {
        padding: 24px !important;
        border: 2px solid var(--blue3) !important;
        border-top: none !important;
        border-radius: unset !important;
        margin-bottom: 0 !important;
        border-bottom: none !important;
    }

    #divDataPointContent {
        border: 2px solid var(--blue3) !important;
        border-top: none !important;
        padding: 0 24px 24px 24px !important;
    }
</style>
<script>
    $(function () {
        $('#selectTestType-' + '@Model.DataPointIndex').marquee();
        if ($('#keyframe-bouncing-text_' + ('selectTestType-' + '@Model.DataPointIndex')).length) {
            $('#keyframe-bouncing-text_' + ('selectTestType-' + '@Model.DataPointIndex')).remove();
        }
        if ('@Model.SGODataPointId' != '0') {
            $('fieldset[name="fsDataPoint"]').coolfieldset({ collapsed: true });
        } else {
            $('fieldset[name="fsDataPoint"]').coolfieldset();
        }

        $('fieldset[name="fsDataPoint"][dataPoint="@Model.DataPointIndex"]').classChange(function () {
            // Fix bug student data point table is collapse when loading page
            var studentListContainer = $('div[name="studentsList"][datapoint="' + '@Model.DataPointIndex' + '"]');
            if (studentListContainer.length > 0) {
                studentListContainer.handsontable({
                    stretchH: "all",
                    licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
                });
            }
            if ($('select:disabled').length) {
                $('.box-select').addClass('disableMarquee');
            }

            if ($('fieldset[name="fsDataPoint"][dataPoint="@Model.DataPointIndex"]').hasClass('expanded')) {
                setMarqueeWhenInitData('selectTestPreAssessment', @Model.DataPointIndex);
                setMarqueeWhenInitData('selectTestPreAssessmentHistorical', @Model.DataPointIndex);
                setMarqueeWhenInitData('selectTestPreAssessmentCustom', @Model.DataPointIndex);
                 setMarqueeWhenInitData('selectTestPostAssessment', @Model.DataPointIndex);
                setMarqueeWhenInitData('selectTestPostAssessmentHistorical', @Model.DataPointIndex);
                setMarqueeWhenInitData('selectTestPostAssessmentExternal', @Model.DataPointIndex);
                setMarqueeWhenInitData('selectTestPostAssessmentCustom', @Model.DataPointIndex);
            }
        });

        // All functions are at index.cshtml file
        populateTestType('@Model.DataPointIndex', '@Model.TestType', '@Model.DataPointGroupType', @Model.HasReview);
        AssignDataPointLegentName('@Model.DataPointIndex', '@Model.Name');
    });

    function setMarqueeWhenInitData(selectedId, dataPointIndex) {
        if ($('#' + selectedId + '-' + dataPointIndex).parent('.block-text-name').find('.box-select span').length) {
            if ($('#keyframe-bouncing-text_' + (selectedId + '-' + dataPointIndex)).length) {
                $('#keyframe-bouncing-text_' + (selectedId + '-' + dataPointIndex)).remove();
            }

            $('#' + selectedId + '-' + dataPointIndex).marquee();

            if ($('#' + selectedId + '-' + dataPointIndex).parent('.block-text-name').find('.box-select span')[0].offsetWidth > $('#' + selectedId + '-' + dataPointIndex).parent('.block-text-name').find('.box-select')[0].offsetWidth) {
                $('#' + selectedId + '-' + dataPointIndex).parent('.block-text-name').find('.box-select').removeClass('short-text')
            }

        }
    }
</script>
