@model LinkIt.BubbleSheetPortal.Web.ViewModels.AddEditTermViewModel
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<fieldset>
    <legend>@LabelHelper.Term Detail</legend>
    @Html.HiddenFor(m => m.TermID, new { @id = "hdTermId" })
    @Html.HiddenFor(m => m.DistrictID, new { @id = "hdDistrictId" })
    <p>
        <label>
            Name</label>
        @Html.TextBoxFor(m => m.Name, new { @id = "txtTermName", @class = "full-width", maxlength = 99  })
    </p>
    <p>
        <label>
            Start Date</label>
        @Html.TextBoxFor(m => m.DateStart, new { @id = "txtTermDateStart", @class = "datepicker full-width"  })
    </p>
    <p>
        <label>
            End Date</label>
        @Html.TextBoxFor(m => m.DateEnd, new { @id = "txtTermDateEnd", @class = "datepicker full-width"  })
    </p>
</fieldset>
<button id="btnSubmit" type="submit" name="Save">
    Submit</button>
<button id="btnCancel" type="button" class="grey">
    Back</button>
<script type="text/javascript">
    function ResetFields() {
        $('#txtTermName').val('');
        $('#txtTermDateStart').val('');
        $('#txtTermDateEnd').val('');
    }
    $(document).on('ready', function() {
        var idEdit = $('#hdTermId').attr('value');
        if(idEdit === '0') {
            $('#btnCancel').text('Cancel');
        }
    })

    $(function () {
        $(".datepicker").datepicker();
    });
</script>
