@model int
<article class="container_12" style="margin-top:2em">
    <section class="grid_7">
        <div class="block-border">
            <div class="block-content form">
                <ul style="display: none" id="error-messages-teacherList" class="message error">
                </ul>
                <h1>
                    Teachers
                </h1>
                <p style="height: 5px"></p>
                <table id="teacherDataTable" width="100%" cellspacing="0" class="datatable table no-margin">
                    <thead>
                        <tr>
                            <th class="table-actions sorting_disabled" scope="col">Actions</th>
                            <th scope="col" style="width: 21%">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up"class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>First Name
                            </th>
                            <th scope="col" style="width: 20%">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up"class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>Last Name
                            </th>
                            <th scope="col" style="width: 21%">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up"class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>User Name
                            </th>
                            <th scope="col" style="width: 38%">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up"class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>Class
                            </th>
                        </tr>
                    </thead>
                    <tbody style="cursor: pointer;">
                        <tr><td style="height: 60px;"></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section id="move-teacher-block" class="grid_5" style="display: none">
        <div class="block-border">
            <div class="block-content" style="padding-bottom:45px;">
                <h1>
                    Move Teacher
                    <a id="moveTeacherCancel" href="javascript:void(0)">
                        <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")" />
                        Cancel
                    </a>
                </h1>
                <div style="margin-bottom: 4px; margin-left: -10px;">
                    <ul style="display: none" id="move-teacher-error-messages" class="message error">
                    </ul>
                </div>
                <div style="padding: 10px;background: #E6E6E6;border: 1px solid #999999;border-radius: 0.25em 0.25em 0.25em 0.25em;margin-left: -10px;">
                    @using (Html.BeginForm("MoveTeacher", "ManageClasses", FormMethod.Post, new { id = "moveTeacherForm", @class = "form" }))
                    {
                        <div style="padding-bottom:10px">
                            Teacher: <span id="spTeacherNameToMove"></span>
                        </div>
                        <div>
                            School<br />
                            <select id="selectSchoolToMove" style="margin-top:5px"></select>
                        </div>
                        <p style="margin-bottom: -35px;">
                            <button id="btnSubmitMoveTeacher" type="submit" name="Submit" style="position: relative; right: -230px;top: 15px;">Submit</button>
                        </p>
                    }    
                </div>                
            </div>
        </div>
    </section>
    <section id="assign-teacher-block" class="grid_5" style="display: none">
        <div class="block-border">
            <div class="block-content" style="padding-bottom:45px;">
                <h1>
                    Assign Class
                    <a id="assignTeacherCancel" href="javascript:void(0)">
                        <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")" />
                        Cancel
                    </a>
                </h1>
                <div style="margin-bottom: 4px; margin-left: -10px;">
                    <ul style="display: none" id="assign-class-error-messages" class="message error">
                    </ul>
                </div>
                <div style="padding: 10px;background: #E6E6E6;border: 1px solid #999999;border-radius: 0.25em 0.25em 0.25em 0.25em;margin-left: -10px;">
                    @using (Html.BeginForm("AssignTeacher", "ManageClasses", FormMethod.Post, new { id = "assignClassForm", @class = "form" }))
                    {
                        <div style="padding-bottom:10px">
                            Teacher: <span id="spTeacherNameToAssign"></span>
                        </div>
                        <div>
                            Class<br />
                            <select id="selectClassToAssign" style="margin-top:5px"></select>
                        </div>
                        <p style="margin-bottom: -35px;">
                            <button id="btnSubmitAssignClass" type="submit" name="Submit" style="position: relative; right: -230px;top: 15px;">Submit</button>
                        </p>
                    }    
                </div>                
            </div>
        </div>
    </section>
</article>
<input type="hidden" id="hidTeacherId" value="" />
<script type="text/javascript">
    function LoadSchoolToTable() {
        var teacherTableOptions = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: '@Url.Action("GetTeacherBySchoolId")?schoolId=@Model',
            bAutoWidth: false,
            iDisplayLength: 10,
            aaSorting: [[0, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'UserID', bVisible: true, bSearchable: false, bSortable: false, sWidth: "17%" },
                { sType: 'string', sName: 'FirstName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'LastName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'UserName', bVisible: true, bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'ClassName', bVisible: true, bSearchable: true, bSortable: true },
                { sType: 'integer', sName: 'SchoolID', bVisible: false, bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'ClassID', bVisible: false, bSearchable: false, bSortable: false },
                { sType: 'bool', sName: 'Active', bVisible: false, bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'Action', bVisible: false, bSearchable: false, bSortable: false }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibilityForTeacher(aData[0], aData[1], aData[2], aData[5], aData[7], aData[8]));
                $('td:eq(4)', nRow).html(setDisplayClassName(aData[4], aData[6]));
                return nRow;
            },
            fnPreDrawCallback: function() { 
                ShowBlock($('#teacherDataTable'), "Loading");
                return true;
            }
            ,fnDrawCallback: function() {
                $('#teacherDataTable').unblock();
                $('.with-tip').tip();
            }
        };
        $("#teacherDataTable").data("options", teacherTableOptions);
        initializeDataTable($("#teacherDataTable"));
    }

    function setDisplayClassName(classNames, classIds) {
        if(classNames == null || classIds == null) {
            return "";
        }
        var listName = classNames.split(",");
        var listId = classIds.split(",");
        if (listName.length < listId.length) {
            return classNames + "...";
        }
        else {
            return classNames;
        }
    }

    function setIconVisibilityForTeacher(userID, firstName, lastName, schoolId, isActive, action) {
        var assignIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/assign-icon.png")';
        var assignString = '<a href="javascript:void(0)" title="Assign" userID="' + userID + '" teacherName="' + firstName + ' ' + lastName + '" schoolId="' + schoolId +'" class="with-tip assignTeacherBySchool"><img src="' + assignIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

        var moveIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/move-icon.png")';
        var moveString = '<a href="javascript:void(0)" title="Transfer" userID="' + userID + '" teacherName="' + firstName + ' ' + lastName + '" class="with-tip moveTeacherBySchool"><img src="' + moveIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

        var activateIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")';
        var activateString = '<a href="javascript:void(0)" title="Activate" userID="' + userID + '" teacherName="' + firstName + ' ' + lastName + '" class="with-tip activateTeacher" onclick="activateTeacher(this)"><img src="' + activateIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

        var deactivateIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-move.png")';
        var deactivateString = '<a href="javascript:void(0)" title="Deactivate" userID="' + userID + '" teacherName="' + firstName + ' ' + lastName + '" class="with-tip deactivateTeacher" onclick="deactivateTeacher(this)"><img src="' + deactivateIcon + '" width="16" height="16"></a>';

        var result = '';
        if (isActive == "True") {
            result = result + assignString ;
            // School Admin don't have permission to move teacher to another school
            if (action != null && action.indexOf('move') != -1) {
                result = result + moveString;
            }
            return result + deactivateString;
        } else {
            return result + activateString;
        }
    }

    $(".assignTeacherBySchool").die("click");
    $('.assignTeacherBySchool').live('click', function() {
        $('#move-teacher-block').hide();
        removeErrorMessages('error-messages-teacherList');
        removeErrorMessages('assign-class-error-messages');
        var userID = $(this).attr('userID');
        var teacherName = $(this).attr('teacherName');
        var schoolId = $(this).attr('schoolId');

        $('#spTeacherNameToAssign').html(teacherName);
        $('#hidTeacherId').val(userID);
        
        populateClassToAssign(schoolId);
        $('#assign-teacher-block').show();
    });

    $(".moveTeacherBySchool").die("click");
    $('.moveTeacherBySchool').live('click', function() {
        $('#assign-teacher-block').hide();
        removeErrorMessages('error-messages-teacherList');
        removeErrorMessages('move-teacher-error-messages');

        var userID = $(this).attr('userID');
        var teacherName = $(this).attr('teacherName');

        $('#spTeacherNameToMove').html(teacherName);
        $('#hidTeacherId').val(userID);
        populateSchoolToMove();
        $('#move-teacher-block').show();
    });

    $('#moveTeacherCancel').click(function () {
        $('#move-teacher-block').hide();
    });

    $('#assignTeacherCancel').click(function () {
        $('#assign-teacher-block').hide();
    });

    function activateTeacher(e)
    {
        removeErrorMessages('error-messages-teacherList');
        var userID = $(e).attr('userID');
        $.ajax({
            url: '@Url.Action("ActivateTeacher")',
            type: 'POST',
            data: { userId: userID },
            success: function (response) {
                if (response.Success != false) {
                    if (typeof refreshTable == 'function') {
                        refreshTable("#teacherDataTable");
                    }
                }
                else {
                    addErrorMessagesToList(response, "error-messages-teacherList");
                }
            },
            failure: function (response) {
                alert(response);
            }
        });
    }

    function deactivateTeacher(e)
    {
        removeErrorMessages('error-messages-teacherList');
        var userID = $(e).attr('userID');
        $.ajax({
            url: '@Url.Action("DeactivateTeacher")',
            type: 'POST',
            data: { userId: userID },
            success: function (response) {
                if (response.Success != false) {
                     if (typeof refreshTable == 'function') {
                        $('#assign-teacher-block').hide();
                        refreshTable("#teacherDataTable");
                    }
                }
                else {
                    addErrorMessagesToList(response, "error-messages-teacherList");
                }
            },
            failure: function (response) {
                alert(response);
            }
        });
    }

    function populateClassToAssign(schoolId) {
        $('#selectClassToAssign').empty();
        $.get('@Url.Action("GetClassInSchool")', { schoolId: schoolId }, function (classes) {
            addDefaultOption($('#selectClassToAssign'), "Class");
            addSelectListItems($('#selectClassToAssign'), classes);
        });
    }

    function populateSchoolToMove() {
        $('#selectSchoolToMove').empty();
        $.get('@Url.Action("GetSchools", "Admin")', function (schools) {
            addDefaultOption($('#selectSchoolToMove'), "School");
            addSelectListItems($('#selectSchoolToMove'), schools);
        });
    }

    function addDefaultOption(selectList, objectText) {
        selectList
            .append($("<option></option>")
            .attr("value", "select")
            .text("Select " + objectText));
    }

    function addSelectListItems(selectList, results) {
        if (results.length == 0) {
            selectList.html('<option>No Results Found</option>');
            return;
        }
        $.each(results, function (i, value) {
            selectList
                .append($("<option></option>")
                        .attr("value", value.Id)
                        .text(value.Name));
        });
    }

    $('#moveTeacherForm').submit(function (event) {
        event.preventDefault();
        if ($('#selectSchoolToMove').val() == 'select') {
            var messageList = $('#move-teacher-error-messages');
            messageList.empty();
            messageList.append('<li>Please select a school to move</li>');
            messageList.show();
            return;
        }

        $('#btnSubmitMoveTeacher').disableBt();

        $.ajax({
            url: '@Url.Action("MoveTeacher")',
            type: 'POST',
            data: { oldSchoolId: @Model, newSchoolId: $('#selectSchoolToMove').val(), teacherId: $('#hidTeacherId').val() },
            success: function (response) {
                if (response.Success != false) {
                    $('#move-teacher-block').hide();
                     if (typeof refreshTable == 'function') {
                        refreshTable("#teacherDataTable");
                    }
                }
                else {
                    addErrorMessagesToList(response, 'move-teacher-error-messages');
                }
                $('#btnSubmitMoveTeacher').enableBt();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    $('#assignClassForm').submit(function (event) {
        event.preventDefault();

        if ($('#selectClassToAssign').val() == 'select') {
            var messageList = $('#assign-class-error-messages');
            messageList.empty();
            messageList.append('<li>Please select a class to assign</li>');
            messageList.show();
            return;
        }

        $('#btnSubmitAssignClass').disableBt();

        $.ajax({
            url: '@Url.Action("AssignTeacher")',
            type: 'POST',
            data: { classId: $('#selectClassToAssign').val(), teacherId: $('#hidTeacherId').val() },
            success: function (response) {
                if (response.Success != false) {
                    $('#assign-teacher-block').hide();
                     if (typeof refreshTable == 'function') {
                        refreshTable("#teacherDataTable");
                    }
                }
                else {
                    addErrorMessagesToList(response, 'assign-class-error-messages');
                }
                $('#btnSubmitAssignClass').enableBt();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    $(function () {
        LoadSchoolToTable();
    });
</script>