@model LinkIt.BubbleSheetPortal.Web.Models.ResetPassword

@{
    Layout = null;
}

@Html.ValidationSummary(false)

@Html.HiddenFor(x => x.UserId, new { @class = "enableEditSIS" })
<p>
    @Html.LabelFor(x => x.NewPassword)
    <span class="relative">
        @Html.PasswordFor(x => x.NewPassword, new { @id = "password", @class = "full-width enableEditSIS" })
        @Html.ValidationMessageFor(x => x.NewPassword, " ")
    </span>
</p>
<p>
    @Html.LabelFor(x => x.ConfirmNewPassword)
    <span class="relative">
        @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "full-width enableEditSIS" })
        @Html.ValidationMessageFor(x => x.ConfirmNewPassword, " ")
    </span>
</p>
<button id="btnResetPasswordSubmit" type="submit" name="Save" class="enableEditSIS">Submit</button>
<button name="btnResetPasswordCancel" type="button" class="grey enableEditSIS">Cancel</button>

<script type="text/javascript">
    $(function () {
        $(".validation-summary-errors ul").addClass("no-margin").addClass('message').addClass('error');

        $('#resetStudentPassword button[name="btnResetPasswordCancel"]').click(function () {
            $('#testTakerPasswordContainer').hide();
        });

        $('#resetPassword button[name="btnResetPasswordCancel"]').click(function () {
            $('#portalPasswordContainer').hide();
        });
    });
</script>