@{
    ViewBag.Title = "AddClass";
}

<div>
    <article class="container_12">
        <section class="grid_7">
            <div class="block-border">
                <div class="block-content form">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div id="addNewClassSchool">
                        <h1>
                            Add Class
                        </h1>
                        <p v-if="errors.length">
                            <ul style="display: none" id="error-messages" class="message error">
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </p>

                        <ul style="display: none" id="success-message" class="message success">
                            <li>Class successfully added.</li>
                        </ul>
                        <fieldset>
                            <legend>Class Detail</legend>
                            <div class="columns">
                                <p>
                                    <label>Group/Course Name</label>
                                    <span class="relative">
                                        <input v-model="courseName" type="text" class="full-width" maxlength="49" tabindex="5">
                                    </span>
                                </p>
                                <p>
                                    <label>Section (optional)</label>
                                    <span class="relative">
                                        <input v-model="section" type="text" class="full-width" maxlength="49" tabindex="5">
                                    </span>
                                </p>
                                <p>
                                    <label>CourseNumber (optional)</label>
                                    <span class="relative">
                                        <input v-model="courseNumber" type="text" class="full-width" maxlength="49" tabindex="5">
                                    </span>
                                </p>

                                <p v-if="userRole === roles.PUBLISHER || userRole === roles.NETWORKADMIN">
                                    <label>State</label>
                                    <select v-model="selectedState" v-on:change="selectState" class="full-width">
                                        <option v-for="item in states" :value="item.Id">{{item.Name}}</option>
                                    </select>
                                </p>
                                <p v-if="userRole === roles.PUBLISHER || userRole === roles.NETWORKADMIN">
                                    <label>
                                        @LabelHelper.DistrictLabel
                                    </label>
                                    <select id="districtSelect" v-model="selectedDistrict" v-on:change="selectDistrict" class="full-width">
                                        <option v-for="item in districts" :value="item.Id">{{item.Name}}</option>
                                    </select>
                                </p>

                                <p>
                                    <label>School</label>
                                    <select id="ftSchoolSelect" v-model="selectedSchool" v-on:change="selectSchool" class="full-width">
                                        <option v-for="item in schools" :value="item.Id">{{item.Name}}</option>
                                    </select>
                                </p>
                                <p>
                                    <label>Teacher</label>
                                    <select v-model="selectedTeacher" v-on:change="selectTeacher" class="full-width">
                                        <option v-for="item in teachers" :value="item.Id">{{item.Name}}</option>
                                    </select>
                                </p>
                                <p>
                                    <label>@LabelHelper.Term</label>
                                    <span class="relative">
                                        <select v-model="selectedTerm" class="full-width">
                                            <option v-for="item in terms" :value="item.Id">{{item.Name}}</option>
                                        </select>
                                    </span>
                                </p>
                                <p>
                                    <label>Class Type</label>
                                    <select v-model="selectedClassType" class="full-width">
                                        <option v-for="item in classTypes" :value="item.Id">{{item.Name}}</option>
                                    </select>
                                </p>
                            </div>
                        </fieldset>
                        <p>
                            <button v-on:click="handleSubmit()" name="Save">Submit</button>
                            <button id="btnCancel" class="grey">Cancel</button>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>
<script>
    var districtLable = "@LabelHelper.DistrictLabel";
</script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ManageClass/api.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ManageClass/AddClass.js")" type="text/javascript"></script>
<script type="text/javascript">
    localStorage.setItem('loadHistory', true);
    $(function () {
        $('.dataadmin').addClass('current');
        $('#dtaManageClasses').addClass('current');

        $('#btnCancel').click(function () {
           if ('@ViewBag.FromManageSchools' === 'True') {
                location.href = '@Url.Action("ManageSchoolAndClass")';
           } else {
                location.href = '@Url.Action("ManageClass")';
           }
        });
    });
</script>
