@using LinkIt.BubbleSheetPortal.Common.DataFileUpload
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ShowPassageFormViewModel
<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/dialog-draggable.css")" rel="stylesheet" type="text/css" />
<style>
    .u-clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        right: 12px !important;
        /*top: 30px;*/
    }

</style>
<input type="hidden" value="@Model.ShownItemXml" id="hiddenMatchItemXml" />

<div class="modal-component-content">
    <div class="modal-passage-body p-4 form">
        <div class="row g-3">
            @if (Model.Is3pItem)
            {
                if (Model.Qti3pSourceID == (int)QTI3pSourceEnum.Progress)
                {
                    <div class="col-6">
                        @Html.Partial("v2/_ListItemOnePasssageProgress", Model)
                    </div>
                }
                else
                {
                    <div class="col-6">
                        @Html.Partial("v2/_ListItemOnePasssage", Model)
                    </div>
                }
            }
            else
            {
                <div class="col-6">
                    @Html.Partial("v2/_ListItemOnePasssageNew", Model)
                </div>
            }

            <div class="col-6">
                @Html.Partial("v2/_ListItemPopup", Model)
            </div>
        </div>
    </div>
</div>

