@model  LinkIt.BubbleSheetPortal.Models.ListItem
<style type="text/css">
    .imageHotspotInteraction img {
        max-width: none;
    }
</style>
<style type="text/css">

    .qtiItemDataTableView .dataTables_empty {
        height: 366px;
        text-align: center;
    }

    .qtiItemDataTableView {
        min-height: 100px;
    }
</style>
<p style="color: gray; font-style: italic; font-weight: bold; padding-left: 4px; margin-bottom: 0; margin-top: 8px;">
    @Model.Name
</p>
<table id='virtualSectionPopup-@Model.Id' class="datatable table no-margin w-100 qtiItemDataTableView sectionTablePopup" width="100%">
    <thead>
        <tr>
            <th scope="col" style="text-align: center;">
                <span class="column-sort">
                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                </span>
                Order
            </th>
            <th scope="col" style="text-align: center;">
                <span class="column-sort">
                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                </span>
                Content
            </th>
            <th scope="col" style="text-align: center;">
                <span class="column-sort">
                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                </span>

            </th>
            <th style="display: none"></th>
            <th style="display: none"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="height: 60px;"></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        LoadSectionItemsToTablePopup('@Model.Id');
    });

    var oTableQtiItemPopup;

    function LoadSectionItemsToTablePopup(virtualSectionId) {
        var virtualTestId = $('#hiddenVirtualTestId').val();// hiddenVirtualTestIdOnIndexPage is defined in VirtualTest/Index.cshtml
        var options = {
            bServerSide: true,
            bFilter: false,
            sServerMethod: "POST",
            bDestroy: true,
            bProcessing: false,
            sAjaxSource: '@Url.Action("GetSectionItem")',
            fnServerParams: function (aoData) {
                aoData.push(
                    { name: "VirtualSectionId", value: virtualSectionId },
                    { name: "virtualTestId", value: virtualTestId }
                );

                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'iDisplayLength') {
                        item.value = 10000;
                    }
                }
            },
            iDisplayLength: 1000,
            bPaginate: false,
            aoColumns: [
                { sType: 'string', sName: 'Order', bSearchable: true, bSortable: false, bVisible: true, sClass: 'col-action', sWidth: '75px'},
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: false, bVisible: true,},
                { sType: 'string', sName: 'QtiItemId', bSearchable: true, bSortable: false, bVisible: false,},
                { sType: 'string', sName: 'QuestionOrder', bSearchable: true, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'SectionOrder', bSearchable: true, bSortable: false, bVisible: false }
            ],

            aaSorting: [[0, "asc"]],
            fnRowCallback: function (nRow, aData) {
                var title = '';
                $(aData[1]).find('.itemBody, itemBody, itembody').each(function () {
                    var itemBody = $(this);
                    itemBody.find("videolinkit").replaceWith(function () {
                        return $('');
                    });

                    if ($(aData[1]).find("responsedeclaration").attr("partialgrading") == "1") {
                        itemBody.find("sourcetext").each(function () {
                            if ($(this).attr("pointvalue") > 0) {
                                $(this).addClass("marker-correct");
                            }
                        });
                    } else {
                        $(aData[1]).find("correctResponse").each(function () {
                            var id = $(this).attr("identifier");
                            itemBody.find("sourcetext[identifier=\"" + id + "\"]").addClass("marker-correct");
                        });
                    }

                    title = itemBody.html();
                });
                title = title.replace(/<videolinkit/g, "<video").replace(/<\/videolinkit>/g, "</video>").replace(/<sourcelinkit /g, "<source ").replace(/<\/sourcelinkit>/g, "</source>");
                title = title.replaceAll("<object", "<object style='display: none;'");
                var divTitle = '<div style="max-height:60px; overflow:hidden;">' + title + '</div>';
                $('td:eq(1)', nRow).html(divTitle);
                $('td:eq(1)', nRow).attr("onclick", 'showQtiItemPopupSectionItemPopup(' + aData[2] + ',1)');
                if(aData[4] > 1) //not the first section
                {
                    //Add the (QuestionOrder)
                    $('td:eq(0)', nRow).html(aData[0] + ' (' + aData[3] + ')');
                    $('td:eq(0)', nRow).addClass('sectionRow');
                }
                $('td:eq(1)', nRow).addClass("cursor-pointer");
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#virtualSectionPopup-' + virtualSectionId), 'Loading');
            },
            fnDrawCallback: function () {
                $('#virtualSectionPopup-' + virtualSectionId).unblock();
                $('.with-tip').tip();
                var tableId = 'virtualSectionPopup-' + virtualSectionId;
                $('#' + tableId + '_wrapper .block - controls').css('marginTop', '100px');

                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                LoadImages('#' + tableId);

                //fraction is broken in new line
                $('#' + tableId).find('span[class="math-tex"]').each(function (index, value) {
                    var span = $(value);
                    //add display:inline-block
                    span.css('display', 'inline-block');
                });

                loadContentImageHotSpot('#' + tableId);
                loadContentNumberLineHotspot('#' + tableId);
                loadContentDragAndDrop('#' + tableId);

                calculatorSequenceWidth('#' + tableId + ' partialsequence');
            }
        };
        $('#virtualSectionPopup-' + virtualSectionId).data("options", options);
        initializeDataTable($('#virtualSectionPopup-' + virtualSectionId));
        oTableQtiItemPopup = $('#virtualSectionPopup-' + virtualSectionId).dataTable();
    }
    function parseXmlContentSectionItemPopup(xmlContent) {
        var title = '';
        $(xmlContent).find('.itemBody, itemBody, itembody').each(function () {
            var itemBody = $(this);
            itemBody.find("videolinkit").replaceWith(function () {
                var videoLink = $(this);
                videoLink.removeAttr("autoplay");
                videoLink.removeAttr("controls");
                videoLink.attr("preload", "none");
                return $(videoLink.outerHTML());
            });

            title = itemBody.html();
        });
        title = title.replace(/<videolinkit/g, "<video").replace(/<\/videolinkit>/g, "</video>").replace(/<sourcelinkit /g, "<source ").replace(/<\/sourcelinkit>/g, "</source>");
        title = title.replaceAll("<object", "<object style='display: none;'");
        var divTitle = '<div style="max-height:60px; overflow:hidden;">' + title + '</div>';///LNKT-5785
        return divTitle;
    }
    function showQtiItemPopupSectionItemPopup(qtiItemId, showPassage) {
        $.ajax({
            url: '@Url.Action("CheckQtiItemExists", "ItemBank")',
            data: { qtiItemId: qtiItemId },
            type: 'get',
            cache: false
        }).done(function (response) {
            if (response.Exists == 'False') {
                alert(response.errorMessage);
                return;
            } else {

                //Show popup
                var tableId = 'virtualSectionPopup-' + '@Model.Id';
                ShowBlock($('#' + tableId), "Opening Item");
                var worker = $('<div />');
                worker
                    .addClass("dialog EditQtiItemPopUpDialogCSS")
                    .attr("id", "editQtiItemDialog")
                    .appendTo("body")
                    .load('@Url.Action("ShowEditQtiItemItem","ItemBank")\?qtiItemId=' + +qtiItemId + '&showPassage=' + showPassage, function () {
                worker.dialog({
                    title: $(this).attr("Standard"),
                    open: function() {
                        //a new overlay will be generated when opening an dialog
                        //set zindex of new overlay to make it cover Filter Item From Library Popup
                        var z_index = $("#editQtiItemDialog").parent().css('z-index');
                        if (z_index == undefined) {
                            z_index = $("#editQtiItemDialog").parent().css('z-index');
                        }
                        $('.ui-widget-overlay:first').css('z-index', parseInt(z_index) + 1);
                        $("#editQtiItemDialog").parent().css('z-index', parseInt(z_index) + 2);
                        $("#editQtiItemDialog").prev().css('top', '30px');
                        $('.ui-widget-overlay:first').height(2000);
                        $('#' + tableId).unblock();
                        AdjustQtiItemDetail(); //declared in _QtiItemDetail.cshtml

                        var qtiItemHTML = $('#divQtiItemDetail').html();
                        qtiItemHTML = qtiItemHTML.replace(/<videolinkit/g, "<video").replace(/<\/videolinkit>/g, "</video>").replace(/<sourcelinkit /g, "<source ").replace(/<\/sourcelinkit>/g, "</source>");
                        $('#divQtiItemDetail').html(qtiItemHTML);
                        
                        // Load content in file qtiItemLoadMedia.js
                        loadContentNumberLineHotspot('#divQtiItemDetail');
                        loadContentImageHotSpot('#divQtiItemDetail');
                        loadContentDragAndDrop('#divQtiItemDetail');
                        loadContentGlossary('#divQtiItemDetail', '#glossaryMessage');
                        $('#divQtiItemDetail').find('video').trigger('play');
                    },
                    close: function() {
                        $('.ui-widget-overlay:first').remove();
                        $(this).remove();
                        $('#tips').html('');
                    },
                    modal: false,
                    width: 640,
                    resizable: false,
                    position: {
                        my: "center",
                        at: "center",
                        of: window
                    }
                });
            });
        showModalDialogBG();
            }
        }).error(function (request) {
        });

    }
</script>
