<style type="text/css">
    .ui-widget-header {
        top: 70px;
        right:0px !important
    }
    #categories-dropdown {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
    }
    #categories-dropdown span {
        margin-right: 1rem;
    }
    #categories-dropdown select {
        width: 265px !important;
    }
    .is-invalid .qtiItemSelector {
        border-color: red !important;
    }
    .error-message {
        color: var(--red);
        display: none;
        font-size: 85%;
        margin-top: 0.25rem;
    }
    .is-invalid .error-message {
        display: block;
    }
    .d-none {
        display: none !important;
    }
    .ui-widget-header {
        top: 70px;
        right: 0px !important
    }

    .radio-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-addTagDialog"] {
        width: 1090px !important;
        padding: 0 !important;
    }

    .btn-container {
        background: var(--navyColor);
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title-heading-popup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #closeBtn {
        top: 0 !important;
        right: 0 !important;
    }

    #closeBtn::after {
        right: 0 !important;
    }

    .ui-dialog-titlebar {
        display: none !important;
    }

    #addTagDialog {
        padding: 0;
    }

    #txtTextToSearch {
        width: 100%
    }

    .btn-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .btn-clear-filter {
        color: var(--red) !important;
        margin: 0;
        border: none !important;
    }
</style>

<article id="divListMasterTagMany" class="container_12" style="width: 100%">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <div id="divPassageFilter" class="bubbleSheetSelector" style="margin-top:0px">
                    <div class="title-heading-popup mb-4">
                        <p class="title-large mb-0">Add Tag</p>
                        <a id="closeBtn" href="#closeBtn" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a>
                    </div>
                    <div id="divLinkitDefaultTagNotifications"></div>
                    <div class="radio-wrapper mb-4">
                        <div class="d-flex">
                            <div style="margin-right: 16px;">
                                <input style="margin-right: 10px" id="radioLinkitDefaultCategories" type="radio" name="VirtualQuestionItemTagCategory" checked="checked" class="VirtualQuestionItemTagCategory" />
                                Linkit Default Category
                            </div>
                            <div>
                                <input style="margin-right: 10px" id="radioDistrictCategories" type="radio" name="VirtualQuestionItemTagCategory" class="VirtualQuestionItemTagCategory" />
                                @LabelHelper.DistrictLabel Category
                            </div>
                        </div>
                        
                        <div id="categories-dropdown" data-bind="
                                        css: {
                                            'd-none': !isShowSelectCategory()
                                        }
                                    ">
                            <span>Rubric Category</span>
                            <div data-bind="
                                        css: {
                                            'is-invalid': isInvalidCategory
                                        }
                                    ">
                                <select id="selectCategories"
                                        class="qtiItemSelector"
                                        data-bind="
                                                options: rubricQuestionCategories,
                                                optionsText: 'Name',
                                                optionsValue: 'Id',
                                                value: selectedCategoryId
                                            "
                                        style="width: 350px"></select>
                                <p class="error-message">Please select at least one category from the category list to assign tag.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Render  _TagLinkitDefault.cshtml here -->
                    <div id="divLinkitDefaultTag"></div>
                    <div id="divDistrictTag">
                        @if (ViewBag.IsPublisher || (ViewBag.IsNetworkAdmin != null && ViewBag.IsNetworkAdmin))
                        {
                            <div class="row">
                                <div class="col-4">
                                    <label>State</label>
                                    <select id="selectState"></select>
                                </div>
                                <div class="col-4">
                                    <label>@LabelHelper.DistrictLabel</label>
                                    <select id="selectDistrict" onchange="loadDistrictCategory()"></select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <label>Category</label>
                                    <select id="selectCategory"></select>
                                </div>
                                <div class="col-4">
                                    <label>Tag/Description</label>
                                    <input type="text" id="txtTextToSearch" />
                                </div>
                                <div class="col-4 btn-wrapper">
                                    <button id="clearFilterTag" class="btn-clear-filter" type="button">
                                        Reset <i class="fa-solid fa-arrow-rotate-right ms-1"></i>
                                    </button>
                                    <button id="setFilterTag" class="btn-red" type="submit">Apply</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-4">
                                    <label>Category</label>
                                    <select id="selectCategory"></select>
                                </div>
                                <div class="col-4">
                                    <label>Tag/Description</label>
                                    <input type="text" id="txtTextToSearch" />
                                </div>
                                <div class="col-4 btn-wrapper">
                                    <button id="clearFilterTag" class="btn-clear-filter" type="button">
                                        Reset <i class="fa-solid fa-arrow-rotate-right ms-1"></i>
                                    </button>
                                    <button id="setFilterTag" class="btn-red" type="submit">Apply</button>
                                </div>
                            </div>
                        }
                        <div class="d-flex mt-4" style="gap: 20px">
                            <div id="divTagAvailable" style="width: 50%">
                            </div>
                            <div id="divTagAssigned" style="width: 50%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <button id="btnCloseUserClick" type="button" class="btn-red classProgramButton" data-dialog="close">Close</button>
            </div>
        </div>
    </section>
</article>

<input type="hidden" id="MutualTopicIdString"/>
<input type="hidden" id="MutualSkillIdString"/>
<input type="hidden" id="MutualOtherIdString"/>
<input type="hidden" id="MutualItemTagIdString"/>

<script type="text/javascript">
    ko.bindingHandlers.select2 = {
        init: function (element, valueAccessor, allBindingsAccessor) {
            var obj = valueAccessor(),
                allBindings = allBindingsAccessor(),
                lookupKey = allBindings.lookupKey;

            $(element).select2(obj);
            if (lookupKey) {
                var value = ko.utils.unwrapObservable(allBindings.value);
                $(element).select2('data', ko.utils.arrayFirst(obj.data.results, function (item) {
                    return item[lookupKey] === value;
                }));
            }

            ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
                $(element).select2('destroy');
            });
        },
        update: function (element) {
            $(element).trigger('change');
        }
    };

    var vm;
    var viewModel = function() {
        var self = this;
        self.selectedTagCategoryId = ko.observable(null);
        self.rubricQuestions = ko.observableArray(null);
        self.rubricQuestionCategories = ko.observableArray(null);
        self.selectedCategoryId = ko.observable();
        self.isRubricBasedQuestion = ko.computed(function() {
            return !IsNullOrEmpty(self.rubricQuestionCategories());
        });
        self.isMultipleQuestion = ko.observable('@ViewBag.IsMultipleQuestion' === 'True' ? true : false);
        self.isShowSelectCategory = ko.computed(function() {
            return !self.isMultipleQuestion() && self.isRubricBasedQuestion();
        });
        self.isInvalidCategory = ko.observable(false);
        self.isReadyToAssign = ko.computed(function() {
            var hasCategories = !IsNullOrEmpty(self.selectedCategoryId());
            var isMultipleQuestion = self.isMultipleQuestion();
            var isRubricBasedQuestion = self.isRubricBasedQuestion();

            return isMultipleQuestion
                ? true
                : (!isRubricBasedQuestion || (isRubricBasedQuestion && hasCategories))
                    ? true
                    : false;
        });
        self.questionCategoryTags = ko.computed(function() {
            var copyedRubricQuestions = JSON.parse(JSON.stringify(self.rubricQuestions()));
            var selectedCategoryId = self.selectedCategoryId() ? self.selectedCategoryId().toString() : '';
            var allCategoryIds = ko.utils.arrayMap(self.rubricQuestionCategories(), function(category) {
                return category.Id;
            });
            var selectedCategoryIds = selectedCategoryId;

            return !self.isRubricBasedQuestion()
                ? null
                : self.isMultipleQuestion()
                    ? copyedRubricQuestions
                    : ko.utils.arrayMap(copyedRubricQuestions, function(question) {
                        return {
                            VirtualQuestionID:  question.VirtualQuestionID,
                            RubricQuestionCategoryIDs: selectedCategoryIds
                        }
                    });
        });

        self.selectedCategoryId.subscribe(function(newValue) {
            var isDefaultCategory = $('#radioLinkitDefaultCategories').is(':checked');
            var isDistrictCategory = $('#radioDistrictCategories').is(':checked');

            if (isDefaultCategory) {
                if (!IsNullOrEmpty(ui) && !IsNullOrEmpty(ui.dataTableTopic)) {
                    ui.dataTableTopic.fnDraw();
                }
                if (!IsNullOrEmpty(ui) && !IsNullOrEmpty(ui.dataTableSkill)) {
                    ui.dataTableSkill.fnDraw();
                }
                if (!IsNullOrEmpty(ui) && !IsNullOrEmpty(ui.dataTableOther)) {
                    ui.dataTableOther.fnDraw();
                }
            }
            
            if (isDistrictCategory) {
                if (!IsNullOrEmpty(ui) && !IsNullOrEmpty(ui.dataTableAssignedDistrictTag)) {
                    ui.dataTableAssignedDistrictTag.fnReloadAjax(getAjaxSourceForAssignedDistrictTag());
                }
            }

            if (!IsNullOrEmpty(newValue)) {
                self.isInvalidCategory(false);
            }
        });

        getCategories(function(questions, categories) {
            self.rubricQuestions(questions);
            self.rubricQuestionCategories(categories);
        });
    };

    $(function () {
        vm = new viewModel();
        ko.cleanNode(document.getElementById("divListMasterTagMany"));
        ko.applyBindings(vm, document.getElementById("divListMasterTagMany"));
    });

    function getCategories(callback) {
        callback = callback || function() {};

        $.ajax({
            url: "@Url.Action("GetRubricCategoryByQuestionIds", "VirtualTest")?virtualQuestionIds=@ViewBag.VirtualQuestionIdString",
            type: "get",
            async: false,
            success: function(data) {
                var mappedCategories = [];
                var mappedQuestions = [];

                $.each(data, function(index, question) {
                    var categories = question.RubricQuestionCategories;
                    var categoryIds = [];

                    $.each(categories, function(index, category) {
                        mappedCategories.push({
                            Id: category.RubricQuestionCategoryID,
                            Name: category.CategoryName
                        });

                        categoryIds.push(category.RubricQuestionCategoryID);
                    });

                    if (mappedCategories.length) {
                        mappedCategories.unshift({
                            Id: categoryIds.join(','),
                            Name: 'All Categories'
                        });
                    }

                    mappedQuestions.push({
                        VirtualQuestionID: question.VirtualQuestionID,
                        RubricQuestionCategoryIDs: categoryIds.join(',')
                    })
                });

                callback(mappedQuestions, mappedCategories);
            }
        });
    };

    function getAssignedDistrictTagIds() {
        var assignedTags = ui.dataTableAssignedDistrictTag.fnGetData();
        var assignedTagIds = assignedTags.map(function(tag) {
            return tag[0];
        });

        return assignedTagIds;
    }
    
    function getAvailabelDistrictTagIds() {
        var availabelTags = ui.dataTableDistrictTagAvailable.fnGetData();
        var availabelTagIds = availabelTags.map(function(tag) {
            return tag[0];
        });

        return availabelTagIds;
    }

    function updateAssignDistrictButtonStatus() {
        var assignedTagIds = getAssignedDistrictTagIds();
        var availabelTagIds = getAvailabelDistrictTagIds();

        availabelTagIds.forEach(function(tagId) {
            var isExisted = assignedTagIds.indexOf(tagId) != -1;
            if (isExisted) {
                $("#iconDelete_" + tagId).show();
                $("#iconAdd_" + tagId).hide();
            } else {
                $("#iconDelete_" + tagId).hide();
                $("#iconAdd_" + tagId).show();
            }
        });
    }
</script>
<script type="text/javascript">
    $(function () {

        if ($('#divLinkitDefaultTag').html().trim().length == 0) {
            var url = '@Url.Action("LoadTagLinkitDefaultPartialView")?virtualQuestionIdString=' + '@ViewBag.VirtualQuestionIdString';
            $.ajax({
                url: url,
                cache: false
            })
                .done(function (html) {
                    $('#divLinkitDefaultTag').html(html);
                });
        }
        $('#divLinkitDefaultTag').show();
        $('#divDistrictTag').hide();

        $.get('@Url.Action("GetMutualAssignedDistrictTagIdString")/?virtualQuestionIdString=' + '@ViewBag.VirtualQuestionIdString', function (data) {

            $("#MutualItemTagIdString").val(data.MutualItemTagIdString);
            if ($('#radioDistrictCategories').is(':checked')) {
                LoadDistrictTag();

            }

        });

        $('.VirtualQuestionItemTagCategory').die('click');
        $('.VirtualQuestionItemTagCategory').live("click", function (e) {
            if ($('#radioLinkitDefaultCategories').is(':checked')) {
                LoadLinkitDefaultTag();
            }
            if ($('#radioDistrictCategories').is(':checked')) {
                LoadDistrictTag();
            }
        });

        $('#setFilterTag').die('click');
        $('#setFilterTag').live("click", function (e) {
            if ($('#radioDistrictCategories').is(':checked')) {
                ReloadDistrictTagAvailable();//defined in _ListDistrictTagAvailable
            }
        });

        $('#clearFilterTag').die('click');
        $('#clearFilterTag').live("click", function (e) {
            if ($('#radioLinkitDefaultCategories').is(':checked')) {
            }
            if ($('#radioDistrictCategories').is(':checked')) {
                @if (ViewBag.IsPublisher || ViewBag.IsNetworkAdmin)
                {
                    <text>
                $('#selectDistrict').val(0);
                </text>
                }
                $('#selectCategory').val(0);
                //$('#txtTextToSearch').val('');
            }
        });

        $("#selectState").die("change");
        $('#selectState').change(function () {
            if ($('#selectState').val() != 'select') {
                $('#selectDistrict').empty();
                $('#selectCategory').empty();
                var stateValue = $('#selectState').val();
                if (stateValue != '-1') {
                    if ('@ViewBag.IsNetworkAdmin' == 'True') {
                        $.get('@Url.Action("GetDistrictsForNetworkAdmin", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                            addDefaultOption($('#selectDistrict'), "@LabelHelper.DistrictLabel");
                            addSelectListItems($('#selectDistrict'), districts);
                        });
                    } else {
                        $.get('@Url.Action("GetDistricts", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                            addDefaultOption($('#selectDistrict'), "@LabelHelper.DistrictLabel");
                            addSelectListItems($('#selectDistrict'), districts);
                            if (selectDistrictId_dt != null && selectDistrictId_dt > 0) {
                                $('#selectDistrict').val(selectDistrictId_dt);
                                $('#selectDistrict').trigger('change');
                            }
                        });
                    }
                }
            }
        });

        $('#selectCategory').die('change');
        $('#selectCategory').change(function () {
            $('#setFilterTag').attr('disabled', 'disabled');
            var category = $('#selectCategory').val();
            if (category != null && category != '' && category != 'select') {
                $('#setFilterTag').removeAttr('disabled');
            }

        });
    });
    function loadDistrictCategory() {
        $('#selectCategory').empty();
        var districtId = $('#selectDistrict').val();
        if (districtId == 'select' || districtId == 'undefined') {
            districtId = 0;
        }

        var dropdownSelector = '#selectCategory';
        $.ajax({
            url: '@Url.Action("GetAllDistrictCategory", "ItemTag")?districtId=' + districtId,
            dataType: 'json',
            async: false,
            success: function (data) {
                addDefaultOption($(dropdownSelector), "Category");
                addSelectListWithDefaultValue($(dropdownSelector), data, 0);
                if (selectCategoryId_dt != null && selectCategoryId_dt > 0) {
                    $('#selectCategory').val(selectCategoryId_dt);
                    if (textToSearch_dt != null && textToSearch_dt.length > 0) {
                        $('#txtTextToSearch').val(textToSearch_dt);
                    }
                    $('#selectCategory').trigger('change');

                    $('#setFilterTag').trigger('click');

                }

            },
            beforeSend: function () {
            },
            complete: function () {

            }
        });
    }
    function LoadLinkitDefaultTag() {
        $('#divLinkitDefaultTag').show();
        $('#divDistrictTag').hide();
        $('#setFilterTag').removeAttr('disabled');
    }

    function LoadDistrictTag() {
        var url = '@Url.Action("LoadListDistrictTagAvailablePartialView")?virtualQuestionIdString=' + '@ViewBag.VirtualQuestionIdString';
        $.ajax({
            url: url,
            cache: false,
            async: false, // Make sure that these content is loaded before other functions are called
        })
            .done(function (html) {
                $('#divTagAvailable').html(html);
            });

        //load assigned tags
        url = '@Url.Action("LoadListDistrictTagAssignedPartialView")?virtualQuestionIdString=' + '@ViewBag.VirtualQuestionIdString';
        $.ajax({
            url: url,
            cache: false,
            async: false, // Make sure that these content is loaded before other functions are called
        })
            .done(function (html) {
                $('#divTagAssigned').html(html);
            });

        $('#divLinkitDefaultTag').hide();
        $('#divDistrictTag').show();
        $('#setFilterTag').attr('disabled', 'disabled');
        @if (ViewBag.IsPublisher)
        {
            <text>
        //load state for publisher
        $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (states) {
            AddSelectListItems($('#selectState'), states, 'Select State');
            if (selectStateId_dt != null && selectStateId_dt > 0) {
                $('#selectState').val(selectStateId_dt);
                $('#selectState').trigger('change');
            }
        });
        </text>
        }
        else if (ViewBag.IsNetworkAdmin)
        {
            <text>
        $.get('@Url.Action("GetStatesForNetworkAdmin", "PopulateStateDistrict")', function (states) {
            AddSelectListItems($('#selectState'), states, 'Select State');
            $('#selectState').val(@ViewBag.StateId);
            $('#selectState').trigger('change');
        });

        </text>
        }
        else
        {
             <text>
        loadDistrictCategory();
        </text>
        }

        
    }
</script>
<script type="text/javascript">

    function AddSelectListItems(selectList, results, defaultValue) {
        if (results.length == 0) {
            return;
        }
        selectList.append($("<option></option>").attr("value", "-1").text(defaultValue));
        $.each(results, function (i, value) {
            selectList
                .append($("<option></option>")
                    .attr("value", value.Id)
                    .text(value.Name));
        });

    }

    $('#closeBtn').live('click', function () {
        $('.ui-widget-overlay').remove();
        $('#addTagDialog').remove();
    });
</script>   
