<style type="text/css">
    .divChooseTemplateDialog {
        z-index: 1004;
        padding: 24px !important;
    }

    #chooseTemplateDialog {
        min-width: 640px !important;
    }

    #selectedTemplateId {
        max-width: 440px !important;
        padding-right: 24px !important;
    }

    .btn-wrapper {
        background: var(--navyColor);
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: -24px;
        margin-top: 24px;
    }

    .block-content h1 {
        padding: 0;
        margin-bottom: 24px;
    }

    .blockOverlay {
        z-index: 1005 !important;
    }
</style>

<section>
    <div class="block-border">
        <div class="block-content divChooseTemplateDialog" id="divdivChooseTemplateDialogContent">
            <div class="form">
                <h1 class="title-large">Choose Template</h1>
                <div class="form-body">
                    <p>Choose a template to use for scoring conversion.</p>
                    <div class="block-text-name wrapper-btn-upload mt-2">
                        <select id="selectedTemplateId">
                            @foreach (var template in ViewBag.Templates)
                            {
                                if (template.Id == ViewBag.TemplateId)
                                {
                                    <option selected value="@template.Id">@template.Name</option>
                                }
                                else
                                {
                                    <option value="@template.Id">@template.Name</option>
                                }
                            }
                        </select>
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <button class="btn-cancel" onclick="cancel()">Cancel</button>
                    <button class="btn-red" onclick="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $("#selectedTemplateId").marquee({ widthSelected: 440 });
    });

    $('#closeBtn').live('click', function () {
        $('.my-overlay').remove();
        $(".dialog").dialog("close");
    });

    function cancel() {
        $(".dialog").dialog("close");
    }

    function save() {
        var templateId = $("#selectedTemplateId").val();
        if (@ViewBag.TemplateId == templateId) return;

        ShowBlock($('#chooseTemplateDialog'), "Save Template");

        $.post('@Url.Action("SaveTemplateForVirtualTest", "ManageTest")',
            {
                templateId,
                virtualTestId: @ViewBag.VirtualTestId
            },
            function (success) {
                if (success) {
                    loadVirtualTestProperties();
                    $(".dialog").dialog("close");
                }
                $('#chooseTemplateDialog').unblock();
            }
        );
    }

    function loadVirtualTestProperties() {
        var url = '@Url.Action("LoadPropertiesVirtualTest","ManageTest")?virtualTestId=' + '@ViewBag.VirtualTestId';
        ShowBlock($('#divPropertiy'), 'Loading');
        $('#divVirtualTestProperties').load(url, function () {
            $('#divPropertiy').unblock();
        });
    }

</script>
