@using LinkIt.BubbleSheetPortal.Models;
@using System.Collections.Generic;
@model  List<TestRestrictionModuleDTO>
    @if (Model.Count > 0)
    {
        <table id="retricttable">
            <colgroup>
                <col style="width: 37%"/>
            </colgroup>
            <tr>
                <th class="clfirst">
                    Module/Role
                </th>
                @for (int i = 0; i < Model[0].ListRoles.Count; i++)
                {
                    <th>
                        @Model[0].ListRoles[i].RoleDisplayName
                    </th>
                }
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td style="width:25%">
                        @Model[i].ModuleDisplayName
                    </td>
                    @for (int j = 0; j < Model[i].ListRoles.Count; j++)
                    {
                        <td>
                            @if (Model[i].ListRoles[j].IsShown)
                            {
                                if (j == 0)
                                {
                                    @Html.Raw(string.Format("<input class='{0}' moduleid='{1}' {2} module-code='{3}' {4} type='checkbox'/> ", "ckrolemoduleall ckrolemoduleall" +
                                         Model[i].ModuleId, Model[i].ModuleId, Model[i].ListRoles[j].IsChecked ? "checked" : "", Model[i].ModuleName,
                                         Model[i].ListRoles[j].IsDisable ? "disabled" : ""));
                                }
                                else
                                {
                                    @Html.Raw(string.Format("<input class='{0}' moduleid='{1}' {2} roleid='{3}' {4} module-code='{5}' type='checkbox'/> ", "ckrolemodule",
                                         Model[i].ModuleId, Model[i].ListRoles[j].IsChecked ? "checked" : "",
                                         Model[i].ListRoles[j].RoleID, Model[i].ListRoles[j].IsDisable ? "disabled" : "", Model[i].ModuleName));
                                }
                            }
                        </td>
                    }
                </tr>
            }

        </table>
    }
   
<script type="text/javascript">

    var issaving = false;
    var frbankid = "@ViewBag.bankId";
    var frtestid = "@ViewBag.testId";
    var frdistrictid = "@ViewBag.districtId";
    $(".ckrolemodule").change(function () {
        var moduleid = $(this).attr("moduleid");
        var isallcheck = true;
        $(".ckrolemodule").each(function (index1, object1) {
            if ($(object1).is(':checked')==false && $(object1).attr("moduleid") == moduleid) {
                isallcheck = false;

            }
        });
        $(".ckrolemoduleall" + moduleid).attr("checked", false);
        if (isallcheck)
            $(".ckrolemoduleall" + moduleid).attr("checked", true);

        var moduleCode = $(this).attr("module-code");
        if (moduleCode === 'review') {
            var ischeck = $(this).is(':checked');
            var roleid = $(this).attr("roleid");
            if (ischeck) {
                $("input[module-code='view_grade'][roleid='" + roleid + "']").attr("checked", !ischeck);
            }

            $("input[module-code='view_grade'][roleid='" + roleid + "']").attr("disabled", ischeck);
        }

        });
    $(".ckrolemoduleall").change(function () {
        var moduleid = $(this).attr("moduleid");
        var isallcheck = $(this).is(':checked');
        $(".ckrolemodule").each(function (index1, object1) {
            if ($(object1).attr("moduleid") == moduleid && !$(object1).is(':disabled')) {
                $(object1).attr("checked", isallcheck);
            }
        });

        var modulecode = $(this).attr("module-code");

        if (modulecode === 'review') {
            $("input[module-code='view_grade']").each(function (index1, object1) {
                if (isallcheck) {
                    $(object1).attr("checked", !isallcheck);
                }
                $(object1).attr("disabled", isallcheck);
            });
        }
    });

    BindingReviewAndViewGrade();

    function BindingReviewAndViewGrade() {
        $("input[module-code='review']").each(function (index, item) {
            const isCheck = $(this).is(':checked');

            if (isCheck) {
                const roleId = $(this).attr('roleid');
                $("input[roleid='" + roleId + "'][module-code='view_grade']").attr('checked', false);
                $("input[roleid='" + roleId + "'][module-code='view_grade']").attr('disabled', true);
            }
        });

        const isCheckAll = $(".ckrolemoduleall[module-code='review']").is(':checked');

        if (isCheckAll) {
            $(".ckrolemoduleall[module-code='view_grade']").attr('checked', false);
            $(".ckrolemoduleall[module-code='view_grade']").attr('disabled', true);
        }
    }

</script>
