@model LinkIt.BubbleSheetPortal.Web.ViewModels.AuthorGroup.AuthorGroupListViewModel
@{
    ViewBag.Title = "Manage Author Groups";
}

<style>
    .center {
        text-align: center !important;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-AssignAuthorGroups"] {
        max-width: none !important;
        width: 1065px !important;
    }

    .ui-dialog[aria-labelledby="ui-dialog-title-AssignAuthorGroups"] .ui-dialog-titlebar {
        display: none !important;
    }

    #dataTableAuthorGroup_wrapper {
        max-height: calc(100vh - 400px);
        overflow-y: auto;
    }

    #dataTableAuthorGroup_wrapper .block-footer {
        display: none;
    }

    .title-heading-popup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #closeBtnSearchAuthorGroups {
        top: 0 !important;
        right: 0 !important;
    }

    #closeBtnSearchAuthorGroups::after {
        right: 0 !important;
    }

    #portal-v2-containter .line-break {
        width: 100%;
        height: 1px;
        background: #F0F0F0;
        margin: 32px 0;
    }

    #portal-v2-containter fieldset {
        padding: 0 !important;
    }
</style>

<article id="divSearchAuthorGroups">
    <section>
        <div class="block-border">
            <div class="block-content form">
                <div class="title-heading-popup mb-4">
                    <p class="title-large m-0">
                        Filter Author Groups
                    </p>
                    <a id="closeBtnSearchAuthorGroups" href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a>
                </div>
                <ul style="display: none" id="author-success-message" class="message success">
                    <li>The bank has been published to the author group.</li>
                </ul>
                <ul style="display: none" id="error-messages" class="message error"></ul>

                @if (Model.IsPublisher || Model.IsNetworkAdmin)
                {
                    <text>
                        <div id="publisherContent">
                            <div class="row">
                                <div class="col-4">
                                    <label>State</label>
                                    <div class="block-text-name w-100">
                                        <select class="w-100" id="selectStateOnPopup"></select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>@LabelHelper.DistrictLabel</label>
                                    <div class="block-text-name w-100">
                                        <select class="w-100" id="selectDistrictOnPopup"></select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>School</label>
                                    <div class="block-text-name w-100">
                                        <select class="w-100" id="selectSchoolOnPopup"></select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </text>
                }
                @if (Model.IsDistrictAdmin || Model.IsSchoolAdmin)
                {
                    <text>
                        <fieldset id="publisherContent" class="m-0">
                            <div class="row">
                                <div class="col-4">
                                    <label>School</label>
                                    <div class="block-text-name w-100">
                                        <select class="w-100" id="selectSchoolOnPopup"></select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </text>
                }
                <div class="clear"></div>
                <div class="line-break"></div>
                <div class="no-margin last-child">
                    <div id="title-author-group" style="display: none; float: left; margin-top: 8px;">
                        <p class="title-large">Author Groups</p>
                    </div>
                    <table id="dataTableAuthorGroup" class="datatable table no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" class="black-cell">Actions</th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Name of Author Group
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Users in the Group
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Schools in the Group
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    @LabelHelper.DistrictLabels in the Group
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="height: 30px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">

    //declare global variables
    var districtId = 0;
    var stateId = 0;
    var schoolId = 0;
    var itemBankId = '@ViewBag.ItemBankId';
    var itemSetId = '@ViewBag.ItemSetId';
    var addFor = '@ViewBag.AddFor';

    $(function () {

        @if (Model.IsPublisher || Model.IsNetworkAdmin)
        {
            <text>
        LoadDataTables();
        @if(Model.IsNetworkAdmin)
        {
             <text>
        $.get('@Url.Action("GetStatesForNetworkAdmin", "PopulateStateDistrict")', function (states) {
                populateStates(states);
            });
            </text>
        }
        else
        {
            <text>
            $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (states) {
            populateStates(states);
            });
            </text>
        }


        $('#selectStateOnPopup').change(function () {
            $('#selectDistrictOnPopup').empty();
            $('#selectSchoolOnPopup').empty();
            if ($('#selectStateOnPopup').val() != 'select') {
                populateDistricts();
                assignStateDistrictSchool($('#selectStateOnPopup').val(), 0, 0);
                LoadDataTables();
                $("#dataTableAuthorGroup").dataTable().fnReloadAjax(getAjaxSource());
            }
        });
        $('#selectDistrictOnPopup').change(function () {
            $('#selectSchoolOnPopup').empty();
            if ($('#selectDistrictOnPopup').val() != 'select') {
                populateSchoolsByDistrict();
                assignStateDistrictSchool($('#selectStateOnPopup').val(), $('#selectDistrictOnPopup').val(), 0);
                //LoadDataTables();
                $("#dataTableAuthorGroup").dataTable().fnReloadAjax(getAjaxSource());
            }
            else
            {
                assignStateDistrictSchool($('#selectStateOnPopup').val(), 0, 0);
                $("#dataTableAuthorGroup").dataTable().fnReloadAjax(getAjaxSource());
            }
        });
        $('#selectSchoolOnPopup').change(function () {
            if ($('#selectSchoolOnPopup').val() != 'select') {
                assignStateDistrictSchool($('#selectStateOnPopup').val(), $('#selectDistrictOnPopup').val(), $('#selectSchoolOnPopup').val());
                //LoadDataTables();
                $("#dataTableAuthorGroup").dataTable().fnReloadAjax(getAjaxSource());
            }
            else
            {
                assignStateDistrictSchool($('#selectStateOnPopup').val(), $('#selectDistrictOnPopup').val() == 'select' ? 0 : $('#selectDistrictOnPopup').val(), 0);
                $("#dataTableAuthorGroup").dataTable().fnReloadAjax(getAjaxSource());
            }
        });

        </text>
        }
        @if (Model.IsDistrictAdmin)
        {
<text>
        stateId = '@Model.StateId';
        districtId = '@Model.DistrictId';
        LoadDataTables();
        $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtId }, function (schools) {
            populateSchools(schools);
        });
        $('#selectSchoolOnPopup').change(function () {
            if ($('#selectSchoolOnPopup').val() != 'select') {
                assignStateDistrictSchool(stateId, districtId, $('#selectSchoolOnPopup').val());
                //LoadDataTables();
                $("#dataTableAuthorGroup").dataTable().fnReloadAjax(getAjaxSource());
            }
            else
            {
                assignStateDistrictSchool(stateId, districtId, 0);
                //LoadDataTables();
                $("#dataTableAuthorGroup").dataTable().fnReloadAjax(getAjaxSource());
            }
        });
        </text>
        }
        @if (Model.IsSchoolAdmin)
        {
        <text>
        stateId = '@Model.StateId';
        districtId = '@Model.DistrictId';
        LoadDataTables();
        $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { }, function (schools) {
            populateSchools(schools);
        });
        $('#selectSchoolOnPopup').change(function () {
            if ($('#selectSchoolOnPopup').val() != 'select') {
                assignStateDistrictSchool(stateId, districtId, $('#selectSchoolOnPopup').val());
            }
            else {
                assignStateDistrictSchool(stateId, districtId, 0);
            }

            $("#dataTableAuthorGroup").dataTable().fnReloadAjax(getAjaxSource());
        });

        </text>
        }
        @if (Model.IsTeacher)
        {
<text>
        stateId = '@Model.StateId';
        districtId = '@Model.DistrictId';
        schoolId = '@Model.SchoolId';
        LoadDataTables();
        </text>
        }
    });

    function assignStateDistrictSchool(selectedState, selectedDistrict, selectedSchool) {
        stateId = selectedState;
        districtId = selectedDistrict;
        schoolId = selectedSchool;
    }

    function populateStates(states) {
        addDefaultOption($('#selectStateOnPopup'), "State");
        addSelectListItems($('#selectStateOnPopup'), states);
    }

    function populateDistricts() {
        $('#selectDistrictOnPopup').empty();
        var stateValue = $('#selectStateOnPopup').val();
        if (stateValue != 'select') {
            if ('@Model.IsNetworkAdmin' == 'True') {
                $.get('@Url.Action("GetDistrictsForNetworkAdmin", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                    addDefaultOption($('#selectDistrictOnPopup'), "@LabelHelper.DistrictLabel");
                    addSelectListItems($('#selectDistrictOnPopup'), districts);
                });
            }
            else {
                $.get('@Url.Action("GetDistricts", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                    addDefaultOption($('#selectDistrictOnPopup'), "@LabelHelper.DistrictLabel");
                    addSelectListItems($('#selectDistrictOnPopup'), districts);
                });
            }

        }
        $('#selectStateOnPopup').marquee();
    }

    function populateSchoolsByDistrict() {
        $('#selectSchoolOnPopup').empty();
        var districtValue = $('#selectDistrictOnPopup').val();
        if (districtValue != 'select') {
            $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtValue }, function (schools) {
                populateSchools(schools);
            });
        }
        $('#selectDistrictOnPopup').marquee();
    }

    function populateSchools(schools) {
        addDefaultOption($('#selectSchoolOnPopup'), "School");
        addSelectListItems($('#selectSchoolOnPopup'), schools);
        $('#selectSchoolOnPopup').marquee();
    }

    function LoadDataTables() {

        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: getAjaxSource(),
            fnServerParams: function (aoData) {
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }

            },
            bAutoWidth: false,
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'AuthorGroupId', bSearchable: false, bSortable: false, sWidth: '50px' },
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'UserList', bSearchable: true, bSortable: true, sWidth: '180px' },
                { sType: 'string', sName: 'SchoolList', bSearchable: true, bSortable: true, sWidth: '180px' },
                { sType: 'string', sName: 'DistrictList', bSearchable: true, bSortable: true, sWidth: '180px', bVisible: ('@Model.IsPublisher' == 'True') || ('@Model.IsNetworkAdmin' == 'True') }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).addClass('action-cell text-center').html(setIconVisibilityAuthorGroupList(aData[0]));
                displayTitle($('td:eq(2)', nRow));
                displayTitle($('td:eq(3)', nRow));
                displayTitle($('td:eq(4)', nRow));
                return nRow;
            },
            fnPreDrawCallback: function () {
                var elSearchLabel = $('#dataTableAuthorGroup_filter label');
                if (elSearchLabel.length) {
                    var elSearchInput = elSearchLabel.find('input');
                    elSearchInput.css({ paddingLeft: '35px', position: 'relative' })
                        .get(0).style.setProperty('padding-left', '32px', 'important');
                    elSearchLabel.replaceWith(elSearchInput);
                    $('#dataTableAuthorGroup_filter').addClass('data-search');
                }
                ShowBlock($('#dataTableAuthorGroup'), 'Loading');
                $('#dataTableAuthorGroup_wrapper .block-custom-header').prepend($('#title-author-group'));
                $('#title-author-group').show()
                return true;
            },
            fnDrawCallback: function () {
                $('.with-tip').tip();
                $('#dataTableAuthorGroup').unblock();

                var element = $('#dataTableAuthorGroup_wrapper');
                if (element.get(0).scrollHeight > element.innerHeight()) {
                    element.css('padding-right', '10px');
                }
            }
        };

        $("#dataTableAuthorGroup").data("options", options);
        initializeDataTable($("#dataTableAuthorGroup"));
    }

    function getAjaxSource() {
        return '@Url.Action("GetAuthorGroupsNotInBank", "Assessment")/?stateId=' + stateId + '&districtId=' + districtId + '&schoolId=' + schoolId + '&bankID=@Model.BankID';
    }

    @if (Model.IsPublisher || Model.IsDistrictAdmin||Model.IsNetworkAdmin)
    {
        <text>
        function setIconVisibilityAuthorGroupList(authorGroupId) {
            var addAuthorGroupString = '<a href="javascript:void(0)" title="Add Author Group" itembankId="' + itemBankId + '" authorGroupId="' + authorGroupId + '" class="with-tip" onclick="AddAuthorGroup(this);"><i class="custom-icon fa-solid fa-circle-plus icon-green"></i></a>';
            return addAuthorGroupString;
        }
        </text>
    }
    else if (Model.IsSchoolAdmin)
    {
        <text>
        function setIconVisibilityAuthorGroupList(authorGroupId) {
            var addAuthorGroupString = '<a href="javascript:void(0)" title="Add Author Group" itembankId="' + itemBankId + '" authorGroupId="' + authorGroupId + '" class="with-tip" onclick="AddAuthorGroup(this);"><i class="custom-icon fa-solid fa-circle-plus icon-green"></i></a>';
            return addAuthorGroupString;
        }
        </text>
    }
    else
    {
        <text>
        function setIconVisibilityAuthorGroupList(authorGroupId) {
            var addAuthorGroupString = '<a href="javascript:void(0)" title="Add Author Group" itembankId="' + itemBankId + '" authorGroupId="' + authorGroupId + '" class="with-tip" onclick="AddAuthorGroup(this);"><i class="custom-icon fa-solid fa-circle-plus icon-green"></i></a>';
            return addAuthorGroupString;
        }
        </text>
    }


    function AddAuthorGroup(control) {
        var self = $(control);
        var authorGroupId = self.attr('authorGroupId');
        self.hideTip();
        self.remove();

        var key = authorGroupId + '_' + '@Model.BankID';
        var currentTask = { Key: key, Value: false };
        addAuthorGroupBankTasks.push(currentTask);

        $.ajax({
            url: '@Url.Action("AddAuthorGroupBank", "ManageTest")',
            type: 'post',
            data: { id: '@Model.BankID', authorGroupID: authorGroupId }
        }).done(function () {
            currentTask.Value = true;
            $('#author-success-message').show();
            ShowBlock($("#dataTableAuthorGroup"), 'Loading');
            var scrollContent = $('#divSearchAuthorGroups .scroll-content');
            scrollContent.css('max-height', (scrollContent.height() - $('#author-success-message').height() - 24) + 'px');
            //reload table
            //$("#dataTableAuthorGroup").dataTable().fnReloadAjax(getAjaxSource());
            //show message
            setTimeout(function () {
                $('#author-success-message').hide();
                scrollContent.css('max-height', '');
                //return to  the list
                CloseDivSearchAuthorGroups();
            }, 2000);
        });
    }

    function displayTitle(td) {
        var content = td.html();
        var tooltip = '';
        if (content == null) {
            content = '';
        }
        if (content.length > 0) {
            tooltip = content.replace(/\, /g, '<br>');// add line break for each item
            if (content.length > 50) {
                content = content.substring(0, 50);
                content = content + ' ...';

                td.html(content);
                td.addClass('with-tip');
                td.attr("title", tooltip);
            }
        }

    }

    function CloseDivSearchAuthorGroups() {
        ShowBlock($('#divSearchAuthorGroups'), 'Loading');
        var interval = setInterval(function () {
            var completed = true;
            $.each(addAuthorGroupBankTasks, function(index, item) {
                if (!item.Value) completed = false;
            });
            if (completed) {
                clearInterval(interval);
                $('#divSearchAuthorGroups').unblock();

                $('#divSearchAuthorGroups').remove();
                $('#dataTableAuthorGroupBanks').dataTable().fnDraw();
                $('#articleAuthorGroupBanks').show();
            }
        }, 1000);
    }

    $('#closeBtnSearchAuthorGroups').unbind().live("click", function (e) {
        CloseDivSearchAuthorGroups();
    });
</script>

