<style type="text/css">
    tr.even.row_selected td {
        background-color: var(--blue7) !important;
    }

    tr.odd.row_selected td {
        background-color: var(--blue7) !important;
    }
     #dataTableTestBank td {
         word-wrap: break-word;
         /*word-break: break-all;*/ /* Not apply for whole table, just apply for long word in each td*/
     }

    /* No data available in table */
     .dataTableTestBankStyle .dataTables_empty div {
         width: 364px !important;
     }
    .dataTableTestBankStyle tr td {
        padding-left: 0px;
        padding-right: 0px;
    }
    .dataTableTestBankStyle td img {
        padding-left: 3px;
        padding-right: 3px;
    }
    /* Padding content inside div */
    .dataTableTestBankStyle tbody tr td div {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    .dataTableTestBankStyle tbody td:nth-of-type(1) div {
        width: 156px;
    }
    .dataTableTestBankStyle tbody td:nth-of-type(2) div
    {
        width: 117px;
    }
    .dataTableTestBankStyle tbody td:nth-of-type(3) div
    {
        width: 62px;
    }

    /*IE9*/
    #dataTableTestBank tbody tr {
         height: 100% !important;/* Fix for IE9 */
    }
    .scrolldataTableTestBankStyleIE9,.noscrolldataTableTestBankStyleIE9 {
        height: auto !important;
    }
    .scrolldataTableTestBankStyleIE9 tbody td:nth-of-type(1) div {
        width: 157px !important;
    }
    .scrolldataTableTestBankStyleIE9 tbody td:nth-of-type(2) div {
        width: 116px !important;
    }
    .scrolldataTableTestBankStyleIE9 tbody td:nth-of-type(3) div {
        width: 90px !important;
    }
    #divdataTableTestBank {
        height: 367px !important;
        margin-top: -20px !important;
    }
    #divShowArchived p {
        display: inline;
        color: var(--grey);
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    #divShowArchived input {
        display: inline;
    }
</style>
<script src="@Url.Content("~/Scripts/constants.js")" type="text/javascript"></script>
<div>
    <section>
        <div class="block-content form" id="divOnTop">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <p class="title-large p-0 m-0">Test Banks</p>
                <a href="javascript:void(0)" class="CreateNewTestBank btn btn-link p-0">
                    Add new test bank
                    <i class="fa-solid fa-plus ms-2"></i>
                </a>
            </div>
            @if (ViewBag.IsNetworkAdmin)
            {
                <div class="row g-3 mb-4">
                    <div class="col-6">
                        <div>
                            <label>State</label>
                            <select id="selectState" class="w-100"></select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <label>@LabelHelper.DistrictLabel</label>
                            <select id="selectDistrict" class="w-100"></select>
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.AbleToViewHideTeacherBanks)
            {
                <div class="d-flex mb-2 group-checkboxs">
                    <div class="me-4 mb-3">
                        <div class="d-flex">
                            <input class="d-block me-2 flex-shrink-0" type="checkbox" id="ckbHideTeacherBanks" checked="checked"><!-- Hide banks created by teachers-->
                            <span>Hide banks created by teachers</span>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex">
                            <input class="d-block me-2 flex-shrink-0" type="checkbox" id="ckbHideOtherPeopleBanks"><!-- Hide banks created by other people-->
                            <span>Hide banks created by other people</span>
                        </div>
                    </div>
                </div>
            }
                <div class="mb-4 single-checkbox">
                    <div class="d-flex">
                        <input class="d-block me-2 flex-shrink-0" type="checkbox" id="ckbHideBankOnlyForm" checked="checked">
                        <span>Hide banks with only forms</span>
                    </div>
                </div>

                <div style="display: none;" id="formCheckDeactivate" class="form-check form-switch d-flex flex-row align-items-center mt-2 ps-0 float-left">
                    <label class="form-check-label mb-0 deactivated-title" for="chkShowArchived">Show Archived:</label>
                    <span class="ms-1 me-3" id="spanClassActive">Off</span>
                    <div id="divShowArchived">
                        <input class="form-check-input" type="checkbox" name="chkShowArchived" id="chkShowArchived">
                    </div>
                </div>

                <div class="last-child">
                    <table id="dataTableTestBank" class="datatable table customTableTest">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Name
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    @LabelHelper.Subject
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    @LabelHelper.TestGrade
                                </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody style="cursor: pointer"></tbody>
                    </table>
                </div>
            </div>
    </section>
</div>
<input type="hidden" id="selectedbanktestid" />
<script type="text/javascript">
    var oTableTestBank;
    var testBankId = 0;

    $(function () {
        if ('@ViewBag.IsNetworkAdmin' === 'True') {
            $.get('@Url.Action("GetStatesForNetworkAdmin", "PopulateStateDistrict")', function (states) {
                addDefaultOption($('#selectState'), "State");
                addSelectListItems($('#selectState'), states);
                $('#selectState').val(@ViewBag.StateId);
                $('#selectState').trigger('change');
            });

            $('#selectState').change(function () {
                populateDistricts();
            });

            $('#selectDistrict').change(function () {
                if ($('#selectDistrict').val() != 'select') {
                    oTableTestBank.fnDraw();
                }
            });
        }

        // Create new test bank
        $('.CreateNewTestBank').on('click', function () {
            var url = '@Url.Action("LoadCreateTestBank", "ManageTest")';
            $.ajax(
                {
                    url: url,
                    cache: false
                })
                .done(function (html) {
                    $("#divOnTop").append('<div id="PopupCreateTestBank" class="dialog"></div>');
                    $("#PopupCreateTestBank").append(html);
                    $('#PopupCreateTestBank').dialog({
                        title: "",
                        open: function () {
                            //Create overlay for popup
                            $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                        },
                        beforeclose: function () {
                            //TODO if you want do anything after close popup.
                            return true;
                        },
                        close: function () {
                            $('#dataTableTestBank').dataTable().fnDraw(false);
                            $('#PopupCreateTestBank').remove();
                            $("body .my-overlay").remove();
                        },
                        modal: false,
                        width: 500,
                        resizable: false
                    });

                });

            $(".close").unbind("click");
            $(".close").live("click", function (e) {
                e.preventDefault();
            });
        });

        // Load virtual test
        $('#dataTableTestBank tbody').on('click', function (event) {
            var target = event.target;
            var targetId = target.id;
            var targetTagName = target.tagName;
            var targetParent = target.parentNode;
            var targetParentId = targetParent.id;
            var targetParentTagName = targetParent.tagName;
            var isTarget = targetTagName.toUpperCase() == 'TD' && targetId != null && targetId.length > 0;
            var isTargetParent = targetParentTagName.toUpperCase() == 'TD' && targetParentId != null && targetParentId.length > 0;
            var urlLoadPropertiesVirtualTest = '@Url.Action("LoadPropertiesVirtualTest","ManageTest")?virtualTestId=';

            $(oTableTestBank.fnSettings().aoData).each(function () {
                $(this.nTr).removeClass('row_selected');
            });

            if (isTarget) {
                $(targetParent).addClass('row_selected');
                testBankId = targetId;
                $("#SelectedTestBankId").val(testBankId);
                oTableVirtualTest.fnReloadAjax('@Url.Action("LoadVirtualTests")?bankId=' + testBankId);
                LoadBankProperty(testBankId);
            }

            // now there is always a div inside td
            // event.target is now div not td
            if (isTargetParent) {
                $(targetParent.parentNode).addClass('row_selected');
                testBankId = targetParentId;
                $("#SelectedTestBankId").val(testBankId);
                oTableVirtualTest.fnReloadAjax('@Url.Action("LoadVirtualTests")?bankId=' + testBankId);
                LoadBankProperty(testBankId);
            }
        });

        var optionsTestBank = {
            bServerSide: true,
            bDestroy: true,
            bStateSave: false,
            sAjaxSource: getAjaxSource(),
            fnServerParams: function (aoData) {
                var isShowArchived = $('#chkShowArchived').is(':checked');
                var isHideTeacherBanks = $('#ckbHideTeacherBanks').is(':checked');
                var isHideOtherPeopleBanks = $('#ckbHideOtherPeopleBanks').is(':checked');
                var isHideBankOnlyForm = $('#ckbHideBankOnlyForm').is(':checked');

                aoData.push(
                    { name: 'showArchived', value: isShowArchived },
                    { name: 'hideTeacherBanks', value: isHideTeacherBanks },
                    { name: 'hideOtherPeopleBanks', value: isHideOtherPeopleBanks },
                    {name: 'moduleCode', value: RestrictionModule.MANAGE },
                    { name: 'hideBankOnlyForm', value: isHideBankOnlyForm }
                );

                if ('@ViewBag.IsNetworkAdmin' === 'True') {
                    var stateIdVal = $('#selectState').val();
                    var districtIdVal = $('#selectDistrict').val();
                    if (districtIdVal != null && districtIdVal != 'select') {
                        aoData.push(
                            { name: 'stateId', value: stateIdVal },
                            { name: 'districtId', value: districtIdVal }
                        );
                    }
                }

                //TuanVo:encode text in filter searchbox
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }
            },
            bAutoWidth: false,
            iDisplayLength: 100,
            oLanguage: { sSearch: "" },
            aaSorting: [[0, "asc"]],
            aoColumns: [
                { sType: 'string', sName: 'BankName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'Subject', bSearchable: true, bSortable: true },
                { sType: 'integer', sName: 'GradeOrder', bSearchable: true, bSortable: true },
                { sType: 'integer', sName: 'BankID', bSearchable: false, bSortable: false, sWidth: "0px", bVisible: false },
                { sType: 'string', sName: 'Grade', bSearchable: true, bSortable: true, sWidth: "0px", bVisible: false },
                { sType: 'string', sName: 'Archived', bSearchable: false, bSortable: false, sWidth: "0px", bVisible: false }

            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).attr('id', aData[3]);
                $('td:eq(1)', nRow).attr('id', aData[3]);
                $('td:eq(2)', nRow).attr('id', aData[3]);
                $('td:eq(2)', nRow).html(aData[4]);
                // Add word-break: break-all; to td which has long BankName ,such as NewBankDemo_123_456_789_1011
                addWordBreakToTableCell($('td:eq(0)', nRow), 20, aData[0]);
                addWordBreakToTableCell($('td:eq(1)', nRow), 13, aData[0]);
                $('td:eq(2)', nRow).html(setIconVisibility(aData[4],aData[3], aData[5]));
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableTestBank'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableTestBank').unblock();
                $('.with-tip').tip();
                formatTableForAddingVertialScrollBar('dataTableTestBank', 'scrolldataTableTestBankStyle', 'noscrolldataTableTestBankStyle',
                    'scrolldataTableTestBankStyleIE9', 'noscrolldataTableTestBankStyleIE9');

                if ($("input[name='inputTestType']:checked").val() == 'selectTestBank') {
                    $('#btnCreateTest').disableBt();
                }
            },
            fnInitComplete: function () {
                $('#dataTableTestBank_wrapper .block-custom-header').prepend($('#formCheckDeactivate'));
                $('#formCheckDeactivate').show();

                var elSearchLabel = $('#dataTableTestBank_filter');
                var elSearchInput = elSearchLabel.find('input');
                elSearchInput.attr('style', 'padding-left: 32px !important; position: relative;');
                $('#dataTableTestBank_filter').addClass('data-search');
                $('#dataTableTestBank_filter label').css('margin', 0);
            }
        };

        var $dataTableTestBank = $('#dataTableTestBank');
        $dataTableTestBank.data('options', optionsTestBank);
        oTableTestBank = $dataTableTestBank.dataTable();

        $('#ckbHideTeacherBanks').on('change', function () {
            oTableTestBank.fnDraw();
        });

        $('#ckbHideOtherPeopleBanks').on('change', function () {
            oTableTestBank.fnDraw();
        });

        $('#chkShowArchived').on('change', function () {
            if ($('#chkShowArchived').is(':checked')) {
                $('#spanClassActive').html('On')
            } else {
                $('#spanClassActive').html('Off')
            }
            oTableTestBank.fnDraw();
        });
        $('#ckbHideBankOnlyForm').on('change', function () {
            oTableTestBank.fnDraw();
        });
    });

    function getAjaxSource() {
        if ('@ViewBag.IsNetworkAdmin' === 'True') {
            return '@Url.Action("LoadTestBanksForNetworkAdmin")';
        }

        return '@Url.Action("LoadTestBanks")';
    }

    function populateDistricts() {
        $('#selectDistrict').empty();
        var stateValue = $('#selectState').val();
        if (stateValue != 'select') {
            $.get('@Url.Action("GetDistrictsForNetworkAdmin", "PopulateStateDistrict")', { stateId: stateValue }, function(districts) {
                addDefaultOption($('#selectDistrict'), "@LabelHelper.DistrictLabel");
                addSelectListItems($('#selectDistrict'), districts);
            });
        } else {
            oTableTestBank.fnDraw();
        }
    }

    function createTestBank() {
        if ($('#selectState').length > 0) {
            var stateId = $('#selectState').val();
            if (stateId == null || stateId == 'select' || stateId <= 0) {
                $('#error-messages').html('<li> Please select State. </li>');
                $('#error-messages').show();
                $('#success-message').hide();
                return;
            }
        }
        var gradeId = $('#selectGrade').val();
        if (gradeId == null || gradeId == 'select' || gradeId <= 0) {
            $('#error-messages').html('<li> Please select @LabelHelper.TestGrade. </li>');
            $('#error-messages').show();
            $('#success-message').hide();
            return;
        }

        var vSubjectId = $('#selectSubject').val();
        if (vSubjectId == null || vSubjectId == 'select' || vSubjectId <= 0) {
            $('#error-messages').html('<li> Please select @LabelHelper.Subject. </li>');
            $('#error-messages').show();
            $('#success-message').hide();
            return;
        }

        var vTestBankName = $('#inputTestBankName').val();
        if (vSubjectId == '-1' || vTestBankName.trim() == '') {
            $('#error-messages').html('<li> Please enter the Bank Name. </li>');
            $('#error-messages').show();
            $('#success-message').hide();
            return;
        }
        ShowBlock($('#dvCreateTestBank'), "Create Bank");
        $.post('@Url.Action("CreateTestBank", "ManageTest")', { subjectId: vSubjectId, strTestName: encodeURIComponent(vTestBankName) }, function (response) {
            if (response.Success == true) {
                $('#success-message').show();
                $('#error-messages').hide();
                setTimeout(function () {
                    $(".dialog").dialog("close");
                },
                    3000);
            } else {
                $('#error-messages').html('<li> ' + response.Error + ' </li>');
                $('#error-messages').show();
                $('#success-message').hide();
            }
            $('#dvCreateTestBank').unblock();
        });
    }

    function cancelCreateTestBank() {
        $(".dialog").dialog("close");
    }

    function LoadGradeByStateID(selecterGrade, stateId, gradeId, subjectId, selecterSubject) {
        $.get('@Url.Action("GetGradesByStateId", "PopulateTest")', { stateId: stateId }, function (grades) {
            AddSelectListItems(selecterGrade, grades, 'Select @LabelHelper.TestGrade');
            selecterGrade.val(gradeId);

            LoadSubjectByGradeId(selecterSubject, stateId, gradeId, subjectId);
        });
    }

    function LoadSubjectByGradeId(selecter, stateId, gradeId, subjectId) {
        $.get('@Url.Action("GetSubjectByStateIdAndGradeId", "PopulateTest")', { stateId: stateId, gradeId: gradeId }, function (subjects) {
            AddSelectListItems(selecter, subjects, 'Select @LabelHelper.Subject');
            selecter.val(subjectId);
        });
    }

    function SaveTestBankProperty(vbankId) {
        var vTestBankName = $('#TestBankName').val();
        var vSubjectId = $('#selectSubjectTestBank').val();
        if (vTestBankName.trim() != '' && vSubjectId != '-1') {
            $.post('@Url.Action("UpdateTestBank", "ManageTest")', { strTestBankName: vTestBankName, subjectId: vSubjectId, bankId: vbankId }, function () {
                $('#dataTableTestBank').dataTable().fnDraw(false);
            });
        }
    }

    function DeleteTestBank(vBankId) {
        var vTestName = $('#TestBankName').val();
        var url = '@Url.Action("LoadConfirmDeleteBank", "ManageTest")';
        $.ajax(
            {
                url: url,
                cache: false,
                data: { bankId: vBankId, bankName: vTestName }
            })
            .done(function (html) {
                $("#divOnTop").append('<div id="PopupConfirmDeleteBank" class="dialog"></div>');
                $("#PopupConfirmDeleteBank").append(html);
                $('#PopupConfirmDeleteBank').dialog({
                    title: "",
                    open: function () {
                        //Create overlay for popup
                        $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                    },
                    beforeclose: function () {
                        //TODO if you want do anything after close popup.
                        return true;
                    },
                    close: function () {
                        $('#PopupConfirmDeleteBank').remove();
                        $("body .my-overlay").remove();
                    },
                    modal: false,
                    width: 400,
                    resizable: false
                });

            });

        $(".close").unbind("click");
        $(".close").live("click", function (e) {
            e.preventDefault();
        });
    }

    function DeleteTestBankByID(vbankId) {
        $.post('@Url.Action("DeleteTestBank", "ManageTest")', { bankId: vbankId }, function () {
            $('#dataTableTestBank').dataTable().fnDraw(false);
            $('#dataTableVirtualTest').dataTable().fnDraw(false);
            $('#divTestBankProperties').html('');
            $(".dialog").dialog("close");
        });
    }

    function LoadBankProperty(bankId) {
        ShowBlock($('#divTestBankProperties'), 'Loading');
        $('#divTestBankProperties').load('@Url.Action("LoadPropertiesTestBank","ManageTest")?bankId=' + bankId, function () {
            $('#divVirtualTestProperties').html('');
            $('#divTestBankProperties').focus();
            $('#divTestBankProperties').unblock();
        });

    }

    function refreshTestBankList() {
        $("#dataTableTestBank").dataTable().fnReloadAjax(getAjaxSource());
    }

    function setIconVisibility(grade,bankId, archived) {
        var checkboxString = '';
        if (archived == 'True') {
            checkboxString = grade + '<input type="checkbox" style="display:none" class="BankArchived" name="chkBankArchived" id="' + bankId + '" checked />';
        } else {
            checkboxString = grade + '<input type="checkbox" style="display:none" class="BankArchived" name="chkBankArchived" id="' + bankId + '" />';
        }
        return checkboxString;
    }
</script>
