@model LinkIt.BubbleSheetPortal.Web.ViewModels.SATReport.SATReportMasterViewModel
@*<div class="boxtitle">
    Student Information
</div>*@

<div>
    <table class="datatable table utility-table big_line">
        <tr>
            <td class="utility" style="width: 80px;"><b>Student ID</b></td>
            <td class="utility">@Model.StudentInformation.StudentID</td>
        </tr>
        <tr>
            <td class="utility"><b>Student</b></td>
            <td class="utility" id="@Model.StudentInformation.StudentID">@Model.StudentInformation.StudentName</td>
        </tr>
        <tr>
            <td class="utility"><b>Class</b></td>
            <td class="utility">
                @if (!string.IsNullOrEmpty(Model.StudentInformation.ReportClassName))
                {
                    <text>
                        @Model.StudentInformation.ReportClassName
                    </text>
                }
                else
                {
                    <text>
                        @Model.StudentInformation.TestResultClassName
                    </text>
                }
            </td>
        </tr>
        <tr>
            <td class="utility"><b>Teacher</b></td>
            <td class="utility">
                @if (!string.IsNullOrEmpty(Model.StudentInformation.ReportTeacherName))
                {
                    <text>
                        @Model.StudentInformation.ReportTeacherName
                    </text>
                }
                else
                {
                    <text>
                        @Model.StudentInformation.TestResultTeacherName
                    </text>
                }                
            </td>
        </tr>
    </table>
</div>
