@model LinkIt.BubbleSheetPortal.Web.ViewModels.PassageDeleteViewModel

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>


        <div @(Model.CanDelete ? "id=divConfirmDeletepassage" : "id=divWarningDeletepassage") class='block-content bubbleSheetSelector p-4' style='z-index: 1004'>
            @if (!Model.CanDelete)
            {
                <p class="title-large mb-4">Warning </p>
            }

            @if (Model.VirtualTestCount > 0)
            {
                <p style="text-align: left; margin-bottom: 1.5rem; font-weight: 700; color: var(--navyColor)!important">
                    <i class="fa-solid fa-triangle-exclamation text-warning me-1"></i>
                    Passage is used on test(s):
                    <br />
                    @foreach (var item in Model.VirtualTests)
                    {
                        <span>@item.Name</span><br />
                    }
                </p>
            }

            @if (Model.Id == 0)
            {
                <p style="text-align: left; margin-bottom: 1.5rem; font-weight: 700; color: var(--navyColor) !important">
                    @Model.Name
                </p>
            }
            else
            {
                if (Model.CanDelete)
                {
                    <p style="text-align: left; margin-bottom: 1.5rem; font-weight: 700; color: var(--navyColor) !important">
                        Are you sure you want to delete passage @Model.Name?
                    </p>
                }
            }
            @if (Model.Id > 0)
            {
                <div class="modal-component-footer mx-n4 px-4" style="height: 70px; display: flex; justify-content: space-around; align-items: center; background: var(--navyColor); }">
                    @if (Model.CanDelete)
                    {

                        <button id="btnCancelDeletePassage" class="btn-cancel" onclick="cancelDeletePassage();" type="button" name="cancel">
                            Cancel
                        </button>
                        <button id="btnconfirmDeletePassage" class="btn-accept" onclick="DeletePassageByID('@Model.Id');" type="button" name="ok">
                            OK
                        </button>
                    }
                    else
                    {
                        <button id="btnCancelDeletePassage" class="btn-accept" onclick="cancelDeletePassage();" type="button" name="cancel">
                            Close
                        </button>
                    }
                </div>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    function cancelDeletePassage() {
        $(".dialog").dialog("close");
    }
</script>

<style>
    .ui-widget-header {
        border: 0px solid var(--grey0) !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
            z-index: 10000 !important;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }
</style>
