@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Web

<div class="popup-fullpage-grading-shortcuts">
    <div class="popup-fullpage-content">
        <h1 class="popup-fullpage-title">@LabelHelper.CodingLabel Shortcuts</h1>
        <form class="form">
            <fieldset data-bind="showblock: IsLoadingGradingShortcuts">
                <legend>Options</legend>
                <div class="columns u-m-t-15">
                    <div class="colx3-left">
                        Select Manually <br /> @LabelHelper.CodedLabel Items:
                    </div>
                    <div class="colx3-left">
                        <input type="radio" name="gradingShortcutsGraded" id="gradingShortcutsGradedAll" value="all" data-bind="checked: ShortcutGradeBy">
                        <label for="gradingShortcutsGradedAll">All</label>
                    </div>
                    <div class="colx3-left">
                        <input type="radio" name="gradingShortcutsGraded" id="gradingShortcutsGradedOnly" value="item" data-bind="checked: ShortcutGradeBy">
                        <label for="gradingShortcutsGradedOnly">Selected Item Only</label>
                    </div>
                </div>
                <div class="columns">
                    <div class="colx3-left">
                        Assign @LabelHelper.PointsLabel <br /> Earned:
                    </div>
                    <div class="colx3-left">
                        <input type="radio" name="gradingShortcutsPoints" id="gradingShortcutsPointsZero" value="zero" data-bind="checked: ShortcutAssignType">
                        <label for="gradingShortcutsPointsZero">Zero</label>
                    </div>
                    <div class="colx3-left">
                        <input type="radio" name="gradingShortcutsPoints" id="gradingShortcutsPointsMax" value="max" data-bind="checked: ShortcutAssignType">
                        <label for="gradingShortcutsPointsMax">Max @LabelHelper.PointsLabel Possible</label>
                    </div>
                </div>
                <div class="columns">
                    <div class="colx3-left">
                        Item Status:
                    </div>
                    <div class="colx3-left">
                        <input type="checkbox" name="gradingShortcutsStatus" id="gradingShortcutsStatusUnanswered" data-bind="checked: ShortcutUnAnswered">
                        <label for="gradingShortcutsStatusUnanswered">Unanswered</label>
                    </div>
                    <div class="colx3-left">
                        <input type="checkbox" name="gradingShortcutsStatus" id="gradingShortcutsStatusAnswered" data-bind="checked: ShortcutAnswered">
                        <label for="gradingShortcutsStatusAnswered">Answered</label>
                    </div>
                </div>
                <div class="columns columns-special">
                    <p><b>Caution:</b> Points will be assigned to <b>ALL</b> students contained within the <b>Filter Student By</b> group that you have selected. Any points previously assigned to this group will be overwritten. This update will only apply to manually @LabelHelper.CodedLabel.ToLower() items.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <div class="columns columns-special">
                    <div class="u-text-right u-m-b-15">
                        <button type="button" data-bind="click: CloseGradingShortcutsPopup">Cancel</button>
                        <button type="button" data-bind="click: AssignPointsGradingShortcuts, enable: AssignPointsGradingShortcutsVisible">Assign @LabelHelper.PointsLabel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
