@{
    ViewBag.Title = "Index";
}
<article class="container_12" style="padding-bottom: 0px">
    <section class="grid_12">
        <div class="block-border" id="selectFilters">
            <div id="divFilterLessons" class="block-content form bubbleSheetSelector" style="padding-top:5px !important;padding-bottom:5px">
                <fieldset>
                    <div class="columns">
                        <div class="colx2-left">
                            <p>
                                <input id="radioLinkitDefaultCategories" type="radio" name="QtiItemTagCategory" checked="checked" class="QtiItemTagCategory"/>
                                <label for="radioLinkitDefaultCategories">Linkit Default Category</label>
                                <input id="radioDistrictCategories" type="radio" name="QtiItemTagCategory" class="QtiItemTagCategory"/>
                                <label for="radioDistrictCategories">@LabelHelper.DistrictLabel Category</label>
                            </p>
                        </div>
                        <div class="colx2-right">
                        </div>
                    </div>
                </fieldset>
                
            </div>
        </div>
        <br />
        <br />
    </section>
</article>
<div style="margin-top: -20px">
<div id="divLinkitDefaultTagFilter">
    @Html.Partial("_LinkitDefaultTagFilter")
</div>
<div id="divDistrictFilter">
    
</div>
    </div>
<script type="text/javascript">
    $(function () {
        var selectedOption = '@ViewBag.SelectOption';
        if (selectedOption == 'DistrictTag') {//recover @LabelHelper.DistrictLabel Category search
            $("#radioDistrictCategories").attr("checked", true);
            LoadItemTagCategory();
        }
    });
    
    $('.QtiItemTagCategory').die('click');
    $('.QtiItemTagCategory').live("click", function(e) {
        if ($('#radioLinkitDefaultCategories').is(':checked')) {
            $('#divLinkitDefaultTagFilter').show();
            $('#divDistrictFilter').hide();
        }
        if ($('#radioDistrictCategories').is(':checked')) {
            LoadItemTagCategory();
        }
    });

    function LoadItemTagCategory() {
        $('#divLinkitDefaultTagFilter').hide();
        $('#divDistrictFilter').show();
        var url = '@Url.Action("LoadItemTagCategory","ItemTag")?\stateId=@ViewBag.StateId'+ '&districtId=@ViewBag.DistrictId' + '&searchBoxText=' + encodeURIComponent('@ViewBag.searchBoxText');
        $.ajax({
            url: url,
            cache: false
        })
            .done(function(html) {
                $('#divDistrictFilter').html(html);
            });
    }

</script>
