@{
    ViewBag.Title = "Take Surveys";
}

<script src="@Url.Content("~/Scripts/jquery.listSplitter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/FeLibs/jquery-coolfieldset/js/jquery.coolfieldset.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Qtip/jquery.qtip.js")"></script>
<link rel="stylesheet" href="/Scripts/Qtip/jquery.qtip.css">

<div class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <h1>Survey List</h1>
                <div class="no-margin last-child u-m-t-40">
                    <table id="assignmentDataTable" class="datatable table table-assignment no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Assigned
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Survey
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Identity
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Action
                                </th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="height: 60px;"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <input id="hdfDistrictId" value="@ViewBag.DistrictId" type="hidden" />
        <input id="hdfEnableSameTab" value="@ViewBag.EnableSameTab" type="hidden" />
    </section>
</div>
<script type="text/javascript">
    $(function () {
        LoadTesClassAssignmentToTable();
    });
    function LoadTesClassAssignmentToTable() {
        setTimeout(function () {
            searchDelay();
        }, 2000);

        var options = {
            bServerSide: true,
            sServerMethod: "POST",
            bDestroy: true,
            bProcessing: false,
            sAjaxSource: '@Url.Action("GetQtiAssignment")',
            iDisplayLength: 25,
            searchDelay: 5000,
            aoColumns: [
                { sType: 'string', sName: 'AssignmentDate', bSortable: true, bVisible: true, sWidth: '78px' },
                { sType: 'string', sName: 'TestName', bSearchable: true, bSortable: true, bVisible: true, sWidth: '125px' },
                { sType: 'string', sName: 'Identity', bSearchable: true, bSortable: true, bVisible: true, sWidth: '75px' },
                { sType: 'string', sName: 'Code', bSortable: true, bVisible: true, sWidth: '68px' },
                { sType: 'string', sName: 'Status', bSortable: false, bVisible: false},
                { sType: 'string', sName: 'RedirectUrl', bSortable: false, bVisible: false },
                { sType: 'bool', sName: 'IsValid', bVisible: false },
                { sType: 'string', sName: 'AssignmentGUID', bVisible: false },
                { sType: 'int', sName: 'QTITestClassAssignmentId', bVisible: false },
                { sType: 'int', sName: 'QTIOnlineTestSessionId', bVisible: false },
                { sType: 'int', sName: 'ClassId', bVisible: false },
                { sType: 'int', sName: 'SurveyAssignmentType', bVisible: false },
                { sType: 'int', sName: 'StudentId', bVisible: false },
                { sType: 'string', sName: 'ErrorMsg', bVisible: false }
            ],
            aaSorting: [[0, "desc"],[1,"asc"]],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(1)', nRow).html(aData[1]);
                $('td:eq(2)', nRow).html(aData[2].replace(',', ''));
                $('td:eq(3)', nRow).html(aData[3]);

                var assignmentUser = "<span class='tooltipBox'>" + displayDateWithFormat(aData[0]) + "</span>";
                $('td:eq(0)', nRow).html(assignmentUser);

                var actionName = 'Continue';
                if (aData[4] == 'NS') {
                    actionName = 'Launch';
                }

                var isValidRow = aData[6];
                var hyperLinkCode = '<a target="_blank" href="' + aData[5] + '">' + actionName + '</a >';

                if (isValidRow === "False") {
                    hyperLinkCode = actionName;
                    var errorMsg = aData[12];
                    $('td:eq(3)', nRow).html(hyperLinkCode);

                    $('td:eq(3)', nRow).qtip({
                        overwrite: false,
                        content: {
                            text: errorMsg
                        },
                        position: {
                            my: 'bottom center',
                            at: 'top center'
                        }
                    });

                } else {
                    var enableSameTab = $('#hdfEnableSameTab').val();
                    if (enableSameTab === 'true')
                        hyperLinkCode = '<a href="' + aData[5] + '">' + actionName + '</a >';
                    $('td:eq(3)', nRow).html(hyperLinkCode);
                }
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#assignmentDataTable'), 'Loading');
                $('#filterSheets').attr("disabled", "disabled");
                return true;
            },
            fnDrawCallback: function () {
                $('#assignmentDataTable').unblock();
                $('#filterSheets').removeAttr("disabled");

                if ($(".dataTables_empty")[0]) {
                    $('#btnExportTestAssignment').addClass("is-disabled");
                } else {
                    $('#btnExportTestAssignment').removeClass("is-disabled");
                }

                return true;
            },
            fnInitComplete: function () {
                //$('.block-footer').append('<span><b>*NS = Not Started, IP = In Progress</b></span>');
            }
        };

        function searchDelay() {
            var inputFilter = $("#dataTable_filter input[type='text']");
            var dataTable = $("#assignmentDataTable");
            var delay = null;

            inputFilter.off('keyup.DT input.DT');

            inputFilter.on("keyup", function () {
                var search = inputFilter.val();
                clearTimeout(delay);
                debugger;
                delay = setTimeout(function () {
                    if (search != null) {
                        dataTable.dataTable().fnFilter(search);

                    }
                }, 1000);
            });
        }
        $("#assignmentDataTable").data("options", options);
    }

    function ApplyFilter() {
        var dataTable = $('#assignmentDataTable').dataTable();
        dataTable.fnDraw();
    }
</script>
