@using LinkIt.BubbleSheetPortal.Models;
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TestSettingsMap
@using LinkIt.BubbleSheetPortal.Web.Helpers

<link href="@BundleHelper.Version("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" type="text/css" />
<link href="@BundleHelper.Version("~/Content/css/test-schedule.css")" rel="stylesheet" type="text/css" />
<link href="@BundleHelper.Version("~/Content/css/v2/testPreferenceSettingArea.css")" rel="stylesheet" type="text/css" />

<style>
    .accordion-scroll #testSchedule0:not(:checked) {
        margin-left: 6px;
    }

    .w-35 {
        width: 35%;
    }

    #accordion-assignment-setting .accordion-content {
        overflow: hidden;
    }
</style>
<div class="accordion-scroll mt-3">
    <div id="accordion-assignment-setting" class="accordion">
        <div class="accordion-title active">
            <h3>Navigation/Display</h3>
            <div>
                <span class="clock-settings-area">
                    <input type="checkbox" id="chklockNavigationDisplay" />
                    <label for="chklockNavigationDisplay">Lock/Unlock Settings</label>
                </span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        <div class="accordion-content active">
            <table class="table table-accordion u-w-p-100">
                <tbody>
                    <tr>
                        <td class="table-accordion-title">
                            Section-Based Testing
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="sectionBasedTesting" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_sectionBasedTesting" /> OFF
                                <input type="radio" value="1" name="_sectionBasedTesting" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td></td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">Auto Advance</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="autoAdvanceTest" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_autoAdvanceTest" /> OFF
                                <input type="radio" value="1" name="_autoAdvanceTest" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockAutoAdvance" />
                                    <label for="chklockAutoAdvance">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">Must Answer All Questions</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="mustAnswerAllQuestions" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_mustAnswerAllQuestions" /> OFF
                                <input type="radio" value="1" name="_mustAnswerAllQuestions" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockMustAnswerAllQuestions" />
                                    <label for="chklockMustAnswerAllQuestions">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">Can Pause Test</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="canPauseTest" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input id="rdcanPauseTestOff" type="radio" value="0" name="_canPauseTest" /> OFF
                                <input id="rdcanPauseTestOn" type="radio" value="1" name="_canPauseTest" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockCanPauseTest" />
                                    <label for="chklockCanPauseTest">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">Display Answer Labels</td>
                        <td>
                            <div class="group-input">
                                <input type="checkbox" id="DisplayAnswerLabelSingleSelect" name="DisplayAnswerLabels" />
                                <label for="DisplayAnswerLabelSingleSelect">Single Select</label>
                                <input type="checkbox" id="DisplayAnswerLabelMultiselect" name="DisplayAnswerLabels" />
                                <label for="DisplayAnswerLabelMultiselect">Multi-select</label>
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockDisplayAnswerLabels" />
                                    <label for="chklockDisplayAnswerLabels">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">
                            Display Question Number
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="displayQuestionNumber" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_displayQuestionNumber" /> OFF
                                <input type="radio" value="1" name="_displayQuestionNumber" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockdisplayQuestionNumber" />
                                    <label for="chklockdisplayQuestionNumber">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">Answer Label Format</td>
                        <td>
                            <div class="group-input">
                                <input type="radio" value="0" name="answerLabelFormat" id="_answerLabelFormatOn" />
                                <label for="_answerLabelFormatOn">Letter (A, B, C...)</label>
                                <input type="radio" value="1" name="answerLabelFormat" id="_answerLabelFormatOff" />
                                <label for="_answerLabelFormatOff">Numbers (1, 2, 3...)</label>
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockAnswerLabelFormat" />
                                    <label for="chklockAnswerLabelFormat">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>

                    @if (!Model.IsSurvey)
                    {
                        <tr>
                            <td class="table-accordion-title">Passage Position in Test Taker</td>
                            <td>
                                <div class="group-input">
                                    <input type="radio" value="1" name="passagePositioninTestTaker" id="passagePositioninTestTakerLeft" />
                                    <label for="passagePositioninTestTakerLeft">Left</label>
                                    <input type="radio" value="0" name="passagePositioninTestTaker" id="passagePositioninTestTakerRight" />
                                    <label for="passagePositioninTestTakerRight">Right</label>
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockPassagePositioninTestTaker" />
                                        <label for="chklockPassagePositioninTestTaker">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td class="table-accordion-title">Display Answer Choice Guidance</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="displayAnswerChoiceGuidance" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_displayAnswerChoiceGuidance" /> OFF
                                    <input type="radio" value="1" name="_displayAnswerChoiceGuidance" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockdisplayAnswerChoiceGuidance" />
                                        <label for="chklockdisplayAnswerChoiceGuidance">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                    @if (Model.IsSupportQuestionGroup || Model.SettingLevelID == 1)
                    {
                        <tr>
                            <td class="table-accordion-title">Question Number Labeling for Grouped Questions</td>
                            <td>
                                <div class="group-input">
                                    <input type="radio" value="0" name="questiongrouplabelschema" id="questiongrouplabelschema1" />
                                    <label for="questiongrouplabelschema1">1a, 1b, 1c...</label>
                                    <input type="radio" value="1" name="questiongrouplabelschema" id="questiongrouplabelschema2" />
                                    <label for="questiongrouplabelschema2">1.1, 1.2, 1.3...</label>
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockquestiongrouplabelschema" />
                                        <label for="chklockquestiongrouplabelschema">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>

                        <tr>
                            <td class="table-accordion-title">Question Group Multiple Choices Numbering</td>
                            <td>
                                <div class="group-input">
                                    <input type="radio" value="0" name="questiongroupmultiplechoicesnumbering" id="questiongroupmultiplechoicesnumberingRestart" />
                                    <label for="questiongroupmultiplechoicesnumberingRestart">Restart</label>
                                    <input type="radio" value="1" name="questiongroupmultiplechoicesnumbering" id="questiongroupmultiplechoicesnumberingContinue" />
                                    <label for="questiongroupmultiplechoicesnumberingContinue">Continue</label>
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockquestiongroupmultiplechoicesnumbering" />
                                        <label for="chklockquestiongroupmultiplechoicesnumbering">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (!Model.IsSurvey)
        {
            <div class="accordion-title">
                <h3>Security and Privacy</h3>
                <div>
                    <span class="clock-settings-area">
                        <input type="checkbox" id="chklockSecurityPrivacy" />
                        <label for="chklockSecurityPrivacy">Lock/Unlock Settings</label>
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="accordion-content">
                <table class="table table-accordion u-w-p-100">
                    <tbody>
                        <tr>
                            <td class=" table-accordion-title">@LocalizeHelper.Localized("STUDENT_AGREEMENT_TITLE")</td>
                            <td class="">
                                <label class="switch">
                                    <input type="checkbox" name="requireHonorCode" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_requireHonorCode" /> OFF
                                    <input type="radio" value="1" name="_requireHonorCode" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockRequireHonorCode" />
                                        <label for="chkRequireHonorCode">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class=" table-accordion-title">Require Password</td>
                            <td class="">
                                <label class="switch">
                                    <input type="checkbox" name="verifyStudent" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_verifyStudent" /> OFF
                                    <input type="radio" value="1" name="_verifyStudent" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockVerifyStudent" />
                                        <label for="chklockVerifyStudent">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class=" table-accordion-title">Require Test Taker Authentication</td>
                            <td class="">
                                <label class="switch">
                                    <input type="checkbox" name="requireTestTakerAuthentication" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_requireTestTakerAuthentication" /> OFF
                                    <input type="radio" value="1" name="_requireTestTakerAuthentication" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chkLockRequireTestTakerAuthentication" />
                                        <label for="chkLockRequireTestTakerAuthentication">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">Shuffle Questions</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="shuffleQuestions" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_shuffleQuestions" /> OFF
                                    <input type="radio" value="1" name="_shuffleQuestions" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockShuffleQuestions" />
                                        <label for="chklockShuffleQuestions">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">Shuffle Multiple Choice Answers</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="shuffleAnswers" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_shuffleAnswers" /> OFF
                                    <input type="radio" value="1" name="_shuffleAnswers" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockShuffleAnswers" />
                                        <label for="chklockShuffleAnswers">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">
                                Full Screen Browser Mode
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="lockedDownTestTaker" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input id="rdlockedDownTestTakerOff" type="radio" value="0" name="_lockedDownTestTaker" /> OFF
                                    <input id="rdlockedDownTestTakerOn" type="radio" value="1" name="_lockedDownTestTaker" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockLockedDownTestTaker" />
                                        <label for="chklockLockedDownTestTaker">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">
                                Override Auto Graded Items
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="overrideAutoGradedTextEntry" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_overrideAutoGradedTextEntry" /> OFF
                                    <input type="radio" value="1" name="_overrideAutoGradedTextEntry" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockOverrideAutoGradedTextEntry" />
                                        <label for="chklockOverrideAutoGradedTextEntry">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">
                                Browser Lockdown Mode
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="browserLockdownMode" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input id="rdbrowserLockdownModeOff" type="radio" value="0" name="_browserLockdownMode" /> OFF
                                    <input id="rdbrowserLockdownModeOn" type="radio" value="1" name="_browserLockdownMode" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chkLockBrowserLockdownMode" />
                                        <label for="chkLockBrowserLockdownMode">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">
                                Anonymized Scoring
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="anonymizedScoring" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input id="rdAnonymizedScoringOff" type="radio" value="0" name="_anonymizedScoring" /> OFF
                                    <input id="rdAnonymizedScoringOn" type="radio" value="1" name="_anonymizedScoring" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chkLockAnonymizedScoring" />
                                        <label for="chkLockAnonymizedScoring">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }

        <div class="accordion-title">
            <h3>Accommodations</h3>
            <div>
                <span class="clock-settings-area">
                    <input type="checkbox" id="chklockAccommodations" />
                    <label for="chklockAccommodations">Lock/Unlock Settings</label>
                </span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        <div class="accordion-content">
            <table class="table table-accordion u-w-p-100">
                <tbody>
                    <tr>
                        <td class=" table-accordion-title">Time Limit</td>
                        <td class="">
                            <label class="switch">
                                <input type="checkbox" name="timeLimitCkb">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input id="rdTimeLimitOFF" type="radio" value="0" name="timeLimit" /> OFF
                                <input id="rdTimeLimitON" type="radio" value="1" name="timeLimit" /> ON
                            </div>
                            @Html.Hidden("hdfDurationId", Model.Duration)
                            @Html.Hidden("hdfDdeadlineId", Model.Deadline)

                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockTimeLimit" />
                                    <label for="chklockTimeLimit">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr id="timeLimitTr" style="display: none;">
                        <td class="table-accordion-title">
                            <div></div>
                        </td>
                        <td class="accommodations-column-style">
                            <div id="idTimeLimitON" style="padding-top: 10px; display: none;">
                                <div class="group-input">
                                    <input id="enableDurationOption" name="TimeLimitON" type="radio" title="Duration" checked="checked" />
                                    <label for="enableDurationOption">Duration</label>
                                    <input id="enableDeadline" name="TimeLimitON" type="radio" title="Deadline" />
                                    <label for="enableDeadline">Deadline</label>
                                </div>
                            </div>
                            <div id="divDuration" style="display: none;">
                                <input id="durationId" type="text" maxlength="6" style="width: 105px;" />
                                Minutes
                                <div id="showTimeLimitWarningON" style="display: block; padding-top: 21px;">
                                    <div class="group-input">
                                        <input type="radio" value="1" name="timeLimitDurationType" id="_timeLimitDurationType" checked="checked">
                                        <label for="_timeLimitDurationType">Time Remaining</label>
                                        <input type="radio" value="2" name="timeLimitDurationType" id="_timeLimitDurationType">
                                        <label for="_timeLimitDurationType">Time Spent</label>
                                    </div>
                                </div>
                            </div>
                            <div id="divDeadline" style="display: none; padding-top: 10px">
                                <input type="text" id="selectDeadline" class="datepicker" style="width: 105px;" readonly="readonly" />
                                <select id="selectHouse" style="min-width: 70px !important;">
                                    <option value="0">12 AM</option>
                                    <option value="1">1 AM</option>
                                    <option value="2">2 AM</option>
                                    <option value="3">3 AM</option>
                                    <option value="4">4 AM</option>
                                    <option value="5">5 AM</option>
                                    <option value="6">6 AM</option>
                                    <option value="7">7 AM</option>
                                    <option value="8">8 AM</option>
                                    <option value="9">9 AM</option>
                                    <option value="10">10 AM</option>
                                    <option value="11">11 AM</option>
                                    <option value="12">12 PM</option>
                                    <option value="13">1 PM</option>
                                    <option value="14">2 PM</option>
                                    <option value="15">3 PM</option>
                                    <option value="16">4 PM</option>
                                    <option value="17">5 PM</option>
                                    <option value="18">6 PM</option>
                                    <option value="19">7 PM</option>
                                    <option value="20">8 PM</option>
                                    <option value="21">9 PM</option>
                                    <option value="22">10 PM</option>
                                    <option value="23">11 PM</option>
                                </select>
                                <select id="selectMunite" style="min-width: 70px !important;"></select>
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input"></div>
                            </td>
                        }
                    </tr>
                    <tr id="trShowTimeLimitWarning">
                        <td class="table-accordion-title">
                            Show Time Limit Warning
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="showTimeLimitWarning" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_showTimeLimitWarning" /> OFF
                                <input type="radio" value="1" name="_showTimeLimitWarning" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockShowTimeLimitWarning" />
                                    <label for="chklockShowTimeLimitWarning">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr id="trShowTimeLimitWarning1" style="display: none;">
                        <td class="table-accordion-title"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    @Html.Partial("v2/_TestSchedule") @*TestScheduleStep 1*@

                    <tr>
                        <td class="table-accordion-title">Multiple Choice Click Method</td>
                        <td>
                            <div class="group-input">
                                <input type="radio" value="0" name="multipleChoiceClickMethod" id="_multipleChoiceClickMethodButton" />
                                <label for="_multipleChoiceClickMethodButton">Click Button</label>

                                <input type="radio" value="1" name="multipleChoiceClickMethod" id="_multipleChoiceClickMethodAnswer" />
                                <label for="_multipleChoiceClickMethodAnswer">Click Answer</label>

                                <input type="radio" value="2" name="multipleChoiceClickMethod" id="_multipleChoiceClickMethodBoth" />
                                <label for="_multipleChoiceClickMethodBoth">Click Answer and Button</label>
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockMultipleChoiceClickMethod" />
                                    <label for="chklockMultipleChoiceClickMethod">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">Enable Video Controls</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="enableVideoControls" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_enableVideoControls" /> OFF
                                <input type="radio" value="1" name="_enableVideoControls" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockEnableVideoControls" />
                                    <label for="chklockEnableVideoControls">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">
                            Enable Audio
                        </td>
                        <td>
                            <div class="group-input">
                                <input type="radio" value="0" name="enableAudio" id="_enableAudioOFF" />
                                <label for="_enableAudioOFF">OFF</label>

                                <input type="radio" value="2" name="enableAudio" id="_enableAudioAudio" />
                                <label for="_enableAudioAudio">Simple Audio</label>

                                <input type="radio" value="1" name="enableAudio" id="_enableAudioAdvanced" />
                                <label for="_enableAudioAdvanced">Advanced Audio</label>
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockEnableAudio" />
                                    <label for="chklockEnableAudio">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">
                            Font Size
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="supportFontsize" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_supportFontsize" /> OFF
                                <input type="radio" value="1" name="_supportFontsize" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklocksupportFontsize" />
                                    <label for="chklocksupportFontsize">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">
                            Zoom
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="supportZoom" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_supportZoom" /> OFF
                                <input type="radio" value="1" name="_supportZoom" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklocksupportZoom" />
                                    <label for="chklocksupportZoom">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">
                            Contrast
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="supportContrast" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_supportContrast" /> OFF
                                <input type="radio" value="1" name="_supportContrast" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklocksupportContrast" />
                                    <label for="chklocksupportContrast">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">
                            Line Reader
                        </td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" name="supportLineReader" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_supportLineReader" /> OFF
                                <input type="radio" value="1" name="_supportLineReader" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklocksupportLineReader" />
                                    <label for="chklocksupportLineReader">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title" style="vertical-align: top;">
                            Enable Text-To-Speech
                        </td>
                        <td>
                            <div class="group-input">
                                <input id="rdTextToSpeedOptionOff" type="radio" value="0" name="displayTexttospeechOption" />
                                <label for="rdTextToSpeedOptionOff">OFF</label>

                                <input id="rdTextToSpeedOptionOn" type="radio" value="1" name="displayTexttospeechOption" />
                                <label for="rdTextToSpeedOptionOn">All Content</label>

                                <input id="rdTextToSpeedInstructionOnly" type="radio" value="4" name="displayTexttospeechOption" />
                                <label for="rdTextToSpeedInstructionOnly">Instructions Only</label>
                                @if (!Model.IsSurvey)
                                {
                                    <input id="rdTextToSpeedOptionOnPassage" type="radio" value="2" name="displayTexttospeechOption" />
                                    <label for="rdTextToSpeedOptionOnPassage">Passage Only</label>
                                }
                                <input id="rdTextToSpeedOptionOnQuestion" type="radio" value="3" name="displayTexttospeechOption" />
                                <label for="rdTextToSpeedOptionOnQuestion">Instructions/Questions Only</label>
                            </div>
                            <div class="clear" style="height: 10px"></div>
                            <div id="idTestToSpeedOptionON" style="float: right; display: none;">
                                Rate
                                <select id="selectRate" style="min-width: 85px !important; margin-right: 20px; margin-left: 10px">
                                    <option value="0.8">Normal </option>
                                    <option value="0.7">Slow</option>
                                </select>
                                Volume
                                <select id="selectVolume" style="min-width: 70px !important; margin-left: 10px">
                                    <option value="0.0">0</option>
                                    <option value="0.1">1</option>
                                    <option value="0.2">2</option>
                                    <option value="0.3">3</option>
                                    <option value="0.4">4</option>
                                    <option value="0.5">5</option>
                                    <option value="0.6">6</option>
                                    <option value="0.7">7</option>
                                    <option value="0.8">8</option>
                                    <option value="0.9">9</option>
                                    <option value="1">10</option>
                                </select>
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td style="vertical-align: top;">
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockdisplayTexttospeechOption" />
                                    <label for="chklockdisplayTexttospeechOption">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        @if (!Model.IsSurvey)
        {
            <div class="accordion-title">
                <h3>Tools</h3>
                <div>
                    <span class="clock-settings-area">
                        <input type="checkbox" id="chklockTools" />
                        <label for="chklockTools">Lock/Unlock Settings</label>
                    </span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="accordion-content">
                <table class="table table-accordion u-w-p-100">
                    <tbody>
                        <tr>
                            <td class=" table-accordion-title">Basic Science Palette</td>
                            <td class="">
                                <label class="switch">
                                    <input type="checkbox" name="simplePalette" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_simplePalette" /> OFF
                                    <input type="radio" value="1" name="_simplePalette" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklocksimplePalette" />
                                        <label for="chklocksimplePalette">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class=" table-accordion-title">Math/Science Palette</td>
                            <td class="">
                                <label class="switch">
                                    <input type="checkbox" name="mathPalette" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_mathPalette" /> OFF
                                    <input type="radio" value="1" name="_mathPalette" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockmathPalette" />
                                        <label for="chklockmathPalette">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">Spanish Palette</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="spanishPalette" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_spanishPalette" /> OFF
                                    <input type="radio" value="1" name="_spanishPalette" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockspanishPalette" />
                                        <label for="chklockspanishPalette">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">French Palette</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="frenchPalette" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_frenchPalette" /> OFF
                                    <input type="radio" value="1" name="_frenchPalette" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockfrenchPalette" />
                                        <label for="chklockfrenchPalette">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">Protractor</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="protractor" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_protractor" /> OFF
                                    <input type="radio" value="1" name="_protractor" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockprotractor" />
                                        <label for="chklockprotractor">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">6" Ruler</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="ruler6inch" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_ruler6inch" /> OFF
                                    <input type="radio" value="1" name="_ruler6inch" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockprotractor6inch" />
                                        <label for="chklockprotractor6inch">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">12" Ruler</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="ruler12inch" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_ruler12inch" /> OFF
                                    <input type="radio" value="1" name="_ruler12inch" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockprotractor12inch" />
                                        <label for="chklockprotractor12inch">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">15cm Ruler</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="ruler15cm" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_ruler15cm" /> OFF
                                    <input type="radio" value="1" name="_ruler15cm" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockprotractor15cm" />
                                        <label for="chklockprotractor15cm">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">30cm Ruler</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="ruler30cm" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_ruler30cm" /> OFF
                                    <input type="radio" value="1" name="_ruler30cm" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockprotractor30cm" />
                                        <label for="chklockprotractor30cm">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">
                                Standard Calculator
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="supportCalculator" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_supportCalculator" /> OFF
                                    <input type="radio" value="1" name="_supportCalculator" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockSupportCalculator" />
                                        <label for="chklockSupportCalculator">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">
                                Scientific Calculator
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="scientificCalculator" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_scientificCalculator" /> OFF
                                    <input type="radio" value="1" name="_scientificCalculator" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chkLockScientificCalculator" />
                                        <label for="chkLockScientificCalculator">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        @if (ViewBag.HideSupportHighlightText != null && ViewBag.HideSupportHighlightText == "false")
                        {<text>
                                <tr>
                                    <td class="table-accordion-title">
                                        Support Highlight Text
                                    </td>
                                    <td>
                                        <div class="group-input">
                                            <input type="radio" value="0" name="supportHighlightText" id="_supportHighlightTextOFF" />
                                            <label for="_supportHighlightTextOFF">OFF</label>

                                            <input type="radio" value="1" name="supportHighlightText" id="_supportHighlightTextON" />
                                            <label for="_supportHighlightTextON">ON</label>

                                            <input type="radio" value="2" name="supportHighlightText" id="_supportHighlightTextOnly" />
                                            <label for="_supportHighlightTextOnly">ON ( Only Student )</label>
                                        </div>
                                    </td>
                                    @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                                    {
                                        <td>
                                            <div class="lock-input">
                                                <input type="checkbox" id="chklockSupportHighlightText" />
                                                <label for="chklockSupportHighlightText">Lock</label>
                                            </div>
                                        </td>
                                    }
                                </tr>
                        </text>}
                        <tr>
                            <td class="table-accordion-title">
                                Eliminate Choice Tool
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="eliminateChoiceTool" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_eliminateChoiceTool" /> OFF
                                    <input type="radio" value="1" name="_eliminateChoiceTool" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockEliminateChoiceTool" />
                                        <label for="chklockEliminateChoiceTool">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">
                                Flag Item Tool
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="flagItemTool" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_flagItemTool" /> OFF
                                    <input type="radio" value="1" name="_flagItemTool" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockFlagItemTool" />
                                        <label for="chklockFlagItemTool">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">
                                Equation Editor
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="equationeditor" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_equationeditor" /> OFF
                                    <input type="radio" value="1" name="_equationeditor" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockEquationeditor" />
                                        <label for="chklockEquationeditor">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">
                                Drawing Tool
                            </td>
                            <td>
                                <div class="group-input">
                                    <input type="radio" value="0" name="drawingTool" /> <label>Free Formatted</label>
                                    <input type="radio" value="1" name="drawingTool" /> <label>Graphing and Labeling</label>
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockDrawingTool" />
                                        <label for="chklockDrawingTool">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }

        <div class="accordion-title">
            <h3>Other</h3>
            <div>
                <span class="clock-settings-area">
                    <input type="checkbox" id="chklockOther" />
                    <label for="chklockOther">Lock/Unlock Settings</label>
                </span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        <div class="accordion-content">
            <table class="table table-accordion u-w-p-100">
                <tbody>
                    @if (!Model.IsSurvey)
                    {
                        <tr>
                            <td class=" table-accordion-title">
                                Can Review Test
                            </td>
                            <td class="other-td-style">
                                <label class="switch">
                                    <input type="checkbox" name="canReviewTest" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_canReviewTest" /> OFF
                                    <input type="radio" value="1" name="_canReviewTest" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockCanReviewTest" />
                                        <label for="chklockCanReviewTest">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="table-accordion-title">Hide Correct Answers and Grading Results in Student Review</td>
                            <td class="other-td-style">
                                <label class="switch">
                                    <input type="checkbox" name="hideCorrectAnswerAndGrading" value="1">
                                    <span class="slider round"></span>
                                </label>
                                <div class="hide-input">
                                    <input type="radio" value="0" name="_hideCorrectAnswerAndGrading" /> OFF
                                    <input type="radio" value="1" name="_hideCorrectAnswerAndGrading" /> ON
                                </div>
                            </td>
                            @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                            {
                                <td>
                                    <div class="lock-input">
                                        <input type="checkbox" id="chklockhideCorrectAnswerAndGrading" />
                                        <label for="chklockhideCorrectAnswerAndGrading">Lock</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        if (Model.TestExtractOptions.IsUseTestExtract || Model.SettingLevelID == 1)
                        {
                            <tr>
                                <td class="table-accordion-title">
                                    Test Extract
                                </td>

                                @if (Model.SettingLevelID == 1)
                                {
                                    <td class="other-td-style">
                                        <label class="switch">
                                            <input type="checkbox" name="TestExtract" id="testExtract" value="1">
                                            <span class="slider round"></span>
                                        </label>
                                        <div class="hide-input">
                                            <input type="radio" value="0" name="testExtract" id="_testExtract" /> <label for="testExtract">OFF</label>
                                            <input type="radio" value="1" name="testExtract" id="_testExtract" /> <label for="testExtract">ON</label>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="other-td-style">
                                        @if (Model.TestExtractOptions.CleverApi || Model.SettingLevelID == 1)
                                        {
                                            <label class="switch">
                                                <input type="checkbox" name="testExtract_clever" value="1">
                                                <span class="slider round"></span>
                                            </label>
                                            <div class="hide-input">
                                                <input type="radio" value="0" name="_testExtract_clever" id="testExtract_clever" /> <label for="testExtract_clever">OFF</label>
                                                <input type="radio" value="1" name="_testExtract_clever" id="testExtract_clever" /> <label for="testExtract_clever">ON</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="group-input">
                                                @if (Model.TestExtractOptions.Gradebook || Model.SettingLevelID == 1)
                                                {
                                                    <input type="checkbox" value="0" name="testExtract_gradebook" id="testExtract_gradebook" /> <label for="testExtract_gradebook">Gradebook</label>
                                                }
                                                @if (Model.TestExtractOptions.StudentRecord || Model.SettingLevelID == 1)
                                                {
                                                    <input type="checkbox" value="0" name="testExtract_studentRecord" id="testExtract_studentRecord" /> <label for="testExtract_studentRecord">Student Record</label>
                                                }
                                            </div>
                                        }
                                    </td>
                                }
                                @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                                {
                                    <td>
                                        <div class="lock-input">
                                            <input type="checkbox" id="chklockTestExtract" />
                                            <label for="chklockTestExtract">Lock</label>
                                        </div>
                                    </td>
                                }
                            </tr>
                            if (Model.TestExtractOptions.ShowRawOrPercentOption)
                            {
                                <tr>
                                    <td class="w-370 table-accordion-title">Exported Score</td>
                                    <td class="w-380 other-td-style">
                                        <div class="group-input">
                                            <input type="radio" value="0" name="testExtractExportRawScore" id="_testExtractExportRawScore" />
                                            <label for="_testExtractExportRawScore">Percent</label>
                                            <input type="radio" value="1" name="testExtractExportRawScore" id="_testExtractExportRawScore" class="ms-1" />
                                            <label for="_testExtractExportRawScore">Raw</label>
                                        </div>
                                    </td>
                                    @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                                    {
                                        <td>
                                            <div class="lock-input">
                                                <input type="checkbox" id="chklockTestExtractExportRawScore" />
                                                <label for="chkestExtractExportRawScore">Lock</label>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        if (Model.VirtualTestSubTypeID == 4 || Model.SettingLevelID == 1)
                        {
                            <tr>
                                <td class="table-accordion-title">
                                    Adaptive Test
                                </td>
                                <td class="other-td-style">
                                    <label class="switch">
                                        <input type="checkbox" name="adaptiveTest" value="1">
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="hide-input">
                                        <input type="radio" value="0" name="_adaptiveTest" /> OFF
                                        <input type="radio" value="1" name="_adaptiveTest" /> ON
                                    </div>
                                </td>
                                @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                                {
                                    <td>
                                        <div class="lock-input">
                                            <input type="checkbox" id="chklockAdaptiveTest" />
                                            <label for="chklockAdaptiveTest">Lock</label>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    }


                    <tr>
                        <td class=" table-accordion-title">
                            Show Test Instructions
                        </td>
                        <td class="other-td-style">
                            <input type="hidden" value="0" name="branchingTest" checked="checked" />
                            <label class="switch">
                                <input type="checkbox" name="showTestInstructions" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_showTestInstructions" /> OFF
                                <input type="radio" value="1" name="_showTestInstructions" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockshowTestInstructions" />
                                    <label for="chklockshowTestInstructions">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="table-accordion-title">
                            Show Incomplete Answer Warning
                        </td>
                        <td class="other-td-style">
                            <label class="switch">
                                <input type="checkbox" name="showIncompleteAnswerWarning" value="1">
                                <span class="slider round"></span>
                            </label>
                            <div class="hide-input">
                                <input type="radio" value="0" name="_showIncompleteAnswerWarning" /> OFF
                                <input type="radio" value="1" name="_showIncompleteAnswerWarning" /> ON
                            </div>
                        </td>
                        @if (ViewBag.CurrentLevelId != (int)TestPreferenceLevel.User)
                        {
                            <td>
                                <div class="lock-input">
                                    <input type="checkbox" id="chklockshowIncompleteAnswerWarning" />
                                    <label for="chklockshowIncompleteAnswerWarning">Lock</label>
                                </div>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="text-end">
    <button class="w70 me-0" id="btnTestSettingSubmit" type="button" disabled>Apply</button>
</div>

<script>
    $(function () {
        $("#selectDeadline").datepicker({
            dateFormat: '@ViewBag.DateFormat' ? '@ViewBag.DateFormat' : 'M d, yy',
            beforeShow: function (input) {
                $(input).css({
                    "position": "relative",
                    "z-index": '2000'
                });

                var tagActive = $(input).parents('body').find('#ui-datepicker-div');
                tagActive.find('.ui-state-highlight').css('min-height', 'auto');
                tagActive.addClass('customCssDataPickerPreference');
            }
        });

        $("#durationId").keydown(function (event) {
            if (event.shiftKey) {
                event.preventDefault();
            }
            if ((event.keyCode == 110 || event.keyCode == 190) && $('#durationId').val().indexOf('.') >= 0) {
                event.preventDefault();
                return;
            }
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 110 || event.keyCode == 190) {
            } else {
                if (event.keyCode < 95) {
                    if (event.keyCode < 48 || event.keyCode > 57) {
                        event.preventDefault();
                    }
                } else {
                    if (event.keyCode < 96 || event.keyCode > 105) {
                        event.preventDefault();
                    }
                }
            }
        });

        InitTime();

        $('#rdTimeLimitOFF').click(function () {
            $('#idTimeLimitON').hide();
            $('#divDuration').hide();
            $('#divDeadline').hide();
            $('#trShowTimeLimitWarning').hide();
            //\
            var row = '<tr id="trShowTimeLimitWarning1" style="display: none;"><td></td><td></td></tr>';
            $("#trShowTimeLimitWarning").closest("tr").after(row);
        });

        $('#rdTimeLimitON').click(function () {
            $('#idTimeLimitON').show();
            if ($('#enableDurationOption:checked').length > 0) {
                $('#divDuration').show();
                $('#divDeadline').hide();
            } else {
                $('#divDuration').hide();
                $('#divDeadline').show();
                $('#divDeadline')[0].style.display = 'flex';
                $('#divDeadline')[0].style.gap = '10px';

            }
            $('#trShowTimeLimitWarning1').remove();
            $('#trShowTimeLimitWarning').show();

        });

        $('#enableDurationOption').click(function () {
            $('#divDuration').show();
            $('#divDeadline').hide();
        });

        $('#enableDeadline').click(function () {
            $('#divDuration').hide();
            $('#divDeadline').show();
            $('#divDeadline')[0].style.display = 'flex';
            $('#divDeadline')[0].style.gap = '10px';
        });

        $('#rdTextToSpeedOptionOff').click(function () {
            $('#idTestToSpeedOptionON').hide();

        });
        $('#rdTextToSpeedOptionOn').click(function () {
            $('#idTestToSpeedOptionON').show();
            $('#selectVolume').val(0.5);
            $('#selectRate').val(0.8);
        });
        $('#rdTextToSpeedOptionOnPassage, #rdTextToSpeedOptionOnQuestion, #rdTextToSpeedInstructionOnly').click(function () {
             if($(this).attr('id') === 'rdTextToSpeedOptionOnQuestion') {
                $('#idTestToSpeedOptionON').css({
                    'left': '0',
                    'position': 'relative'
                });
            } else {
                $('#idTestToSpeedOptionON').css({
                    'left': '0',
                    'position': 'static'
                });
            }
            $('#idTestToSpeedOptionON').show();
            $('#selectRate').val(0.8);
            $('#selectVolume').val(0.5);
        });

        $('select').on('change', function () {
            $("#btnTestSettingSubmit").attr('disabled', false);
        });

    });

    function getAllSectionCheckBoxes() {
        return [
            'chklockNavigationDisplay',
            'chklockSecurityPrivacy',
            'chklockAccommodations',
            'chklockTools',
            'chklockOther'
        ];
    }

    function getChildrenCheckBoxes(sectionId) {
        switch (sectionId) {
            case 'chklockNavigationDisplay':
                return [
                    'chklockAutoAdvance',
                    'chklockMustAnswerAllQuestions',
                    'chklockCanPauseTest',
                    'chklockDisplayAnswerLabels',
                    'chklockdisplayQuestionNumber',
                    'chklockAnswerLabelFormat',
                    'chklockPassagePositioninTestTaker',
                    'chklockdisplayAnswerChoiceGuidance',
                    'chklockquestiongrouplabelschema',
                    'chklockquestiongroupmultiplechoicesnumbering'
                ];
            case 'chklockSecurityPrivacy':
                return [
                    'chklockRequireHonorCode',
                    'chklockVerifyStudent',
                    'chkLockRequireTestTakerAuthentication',
                    'chklockShuffleQuestions',
                    'chklockShuffleAnswers',
                    'chklockLockedDownTestTaker',
                    'chklockOverrideAutoGradedTextEntry',
                    'chkLockBrowserLockdownMode',
                    'chkLockAnonymizedScoring'
                ];
            case 'chklockAccommodations':
                return [
                    'chklockTimeLimit',
                    'chklockShowTimeLimitWarning',
                    'chklockTestSchedule',
                    'chklockMultipleChoiceClickMethod',
                    'chklockEnableVideoControls',
                    'chklockEnableAudio',
                    'chklocksupportFontsize',
                    'chklocksupportZoom',
                    'chklocksupportZoom',
                    'chklocksupportContrast',
                    'chklocksupportLineReader',
                    'chklockdisplayTexttospeechOption'
                ];
            case 'chklockTools':
                return [
                    'chklocksimplePalette',
                    'chklockmathPalette',
                    'chklockspanishPalette',
                    'chklockfrenchPalette',
                    'chklockprotractor',
                    'chklockprotractor6inch',
                    'chklockprotractor12inch',
                    'chklockprotractor15cm',
                    'chklockprotractor30cm',
                    'chklockSupportCalculator',
                    'chkLockScientificCalculator',
                    'chklockSupportHighlightText',
                    'chklockEliminateChoiceTool',
                    'chklockFlagItemTool',
                    'chklockEquationeditor',
                    'chklockDrawingTool'
                ];
            case 'chklockOther':
                return [
                    'chklockCanReviewTest',
                    'chklockhideCorrectAnswerAndGrading',
                    'chklockTestExtract',
                    'chklockTestExtractExportRawScore',
                    'chklockAdaptiveTest',
                    'chklockshowTestInstructions',
                    'chklockshowIncompleteAnswerWarning'
                ];
        }

        return [];
    }

    function toogleCheckBox(elementId, checked) {
        let element = $(`#${elementId}`);
        if (element.length && element.is(':checked') !== checked) {
            element.prop('checked', checked);
            if (checked) {
                element.addClass('input-checked-v2');
            }
            else {
                element.removeClass('input-checked-v2');
            }
        }
    }

    function isEnabled(elementId) {
        return !$(`#${elementId}`).is(':disabled');
    }

    function isExisted(elementId) {
        return $(`#${elementId}`).length > 0;
    }

    function InitTime() {
        $('#selectMunite').empty();
        for (i = 0; i < 60; i++) {
            var text = i.toString();
            if (i < 10) {
                text = '0' + i;
            }
            var option = new Option(text, i);
            $('#selectMunite').append($(option));
        }
    }

    function checkNullMinutes() {
        if ($("#durationId").val().length == 0) {
            $("#durationId").val('1');
        }
    }
</script>

<script type="text/javascript">
    (function ($) {
        'use strict';

        $('#accordion-assignment-setting .accordion-title').on('click', function (e) {
            var $self = $(this);
            var clockSettings = $self.find('.clock-settings-area');
            if (clockSettings.length > 0 && $.contains(clockSettings[0], e.target)) {
                e.stopPropagation();
            }
            else {
                var $accordionContent = $self.next();
                if ($self.hasClass('active')) {
                    $self.removeClass('active');
                    $accordionContent.slideUp();
                } else {
                    $self.addClass('active');
                    $accordionContent.slideDown();
                }
            }
        });
    }(jQuery));
</script>

<script>
    testPreferenceModel = @Html.Raw(Json.Encode(Model.TestPreferenceModel));
    // TestScheduleStep 4
    $('#lastUpdateInfor').empty();
    if ('@ViewBag.LastUpdatedDate' && '@ViewBag.LastUpdatedDate' != '') {
        $('#lastUpdateInfor').append('<label><b>Last Update:</b> @ViewBag.LastUpdatedDate</label>');
    }
    testSchedule.init(testPreferenceModel.OptionTags, $('#selectSettingType').val());
    FillDataToLayout($('#selectSettingType').val());

    function initLockAllSettings(checkDisabled = true) {
        var sectionIds = getAllSectionCheckBoxes().filter(e => isExisted(e));
        sectionIds.forEach(sectionId => {
            var checkboxIds = getChildrenCheckBoxes(sectionId).filter(e => isExisted(e));
            if (checkboxIds.length > 0) {
                var section = $(`#${sectionId}`);
                section.change(function (e) {
                    checkboxIds.forEach(checkboxId => {
                        if (isEnabled(checkboxId)) {
                            toogleCheckBox(checkboxId, this.checked);
                        }
                    });
                    var allEnabledChecked = sectionIds.filter(e => isEnabled(e)).every(sectionId => $(`#${sectionId}`).is(':checked'));
                    var allChecked = sectionIds.every(sectionId => $(`#${sectionId}`).is(':checked'));
                    toogleCheckBox('chkAllSettings', allEnabledChecked || allChecked);
                });
                checkboxIds.forEach(checkboxId => {
                    $(`#${checkboxId}`).change(function () {
                        var enabledSectionChecked = checkboxIds.filter(e => isEnabled(e)).every(id => $(`#${id}`).is(':checked'));
                        var sectionChecked = checkboxIds.every(id => $(`#${id}`).is(':checked'));
                        toogleCheckBox(sectionId, enabledSectionChecked || sectionChecked);

                        var allEnabledChecked = sectionIds.filter(e => isEnabled(e)).every(sectionId => $(`#${sectionId}`).is(':checked'));
                        var allChecked = sectionIds.every(sectionId => $(`#${sectionId}`).is(':checked'));
                        toogleCheckBox('chkAllSettings', allEnabledChecked || allChecked);
                    });
                });
                var allEnabledCheckboxesChecked = checkboxIds.filter(e => isEnabled(e)).every(id => $(`#${id}`).is(':checked'));
                var allCheckboxesChecked = checkboxIds.every(id => $(`#${id}`).is(':checked'));
                toogleCheckBox(sectionId, allEnabledCheckboxesChecked || allCheckboxesChecked);
                if (checkDisabled) {
                    var sectionEnabled = checkboxIds.some(checkboxId => isEnabled(checkboxId));
                    section.prop('disabled', !sectionEnabled);
                }
            }
            else {
                $(`#${sectionId}`).parent().children().addClass('d-none');
            }
        });

        var showCheckAll = sectionIds.some(id => !$(`#${id}`).hasClass('d-none'));
        var allSettings = $('#chkAllSettings');
        if (showCheckAll) {
            allSettings.parent().children().removeClass('d-none');
            var allEnabledSectionsChecked = sectionIds.filter(e => isEnabled(e)).every(sectionId => $(`#${sectionId}`).is(':checked'));
            var allSectionsChecked = sectionIds.every(sectionId => $(`#${sectionId}`).is(':checked'));
            toogleCheckBox('chkAllSettings', allEnabledSectionsChecked || allSectionsChecked);
            if (checkDisabled) {
                var enableCheckAll = sectionIds.some(sectionId => isEnabled(sectionId));
                $('#chkAllSettings').prop('disabled', !enableCheckAll);
                if (enableCheckAll) {
                    allSettings.change(function () {
                        sectionIds.forEach(sectionId => {
                            if (isEnabled(sectionId)) {
                                toogleCheckBox(sectionId, this.checked);
                            }
                            var checkboxIds = getChildrenCheckBoxes(sectionId).filter(e => isExisted(e));
                            checkboxIds.forEach(checkboxId => {
                                if (isEnabled(checkboxId)) {
                                    toogleCheckBox(checkboxId, this.checked);
                                }
                            });
                        });
                    });
                }
            }
        }
        else {
            allSettings.parent().children().addClass('d-none');
        }
    }

    if ('@Model.CanEditOverrideAutoGradedItems' == 'False' || $('#selectSettingType').val() == preferece_level.TEST_DESGIN || '@ViewBag.IsTeacherOrSchoolAdmin' == 'True') {
        $('input[name="overrideAutoGradedTextEntry"]').attr('disabled', 'disabled');
    }

    var timeLimitChecked = $("input[name=timeLimitCkb]").is(":checked");
    if (timeLimitChecked) {
        $('#timeLimitTr').show();
    }
    else {
        $('#timeLimitTr').hide();
    }

    BindNewCkbValue("timeLimit", "timeLimitCkb");
    $('input[name="timeLimitCkb"]').change(function () {
        var value = $('input[name="timeLimit"]:checked').val();
        if (value == "1") {
        $('#rdTimeLimitON').trigger('click');
        $('#timeLimitTr').show();
        } else {
        $('#rdTimeLimitOFF').trigger('click');
        $('#timeLimitTr').hide();
        }
    });
    $('input[name="timeLimitCkb"]').trigger('change');
</script>
<script src="@Url.Content("~/Scripts/TestPreferences/v2/testPreferencesEvents.js")" type="text/javascript"></script>
