@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleCustomBundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptCKEditorUtilsBundle()
@using LinkIt.BubbleSheetPortal.Web.Helpers

<link rel="stylesheet" href="/Scripts/Qtip/jquery.qtip.css">
<script src="@Url.Content("~/Scripts/tipped/tipped.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Qtip/jquery.qtip.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/dialog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/vue-components/vue-modal.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/vue-components/vue-component-manage-class.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
    html {
        overflow-x: auto;
    }

    .plButton {
        text-align: center;
        position: relative;
        top: 47px;
    }

    #btnOk {
        width: 79px;
        margin-right: 10px;
    }


    .tipSchoolNameDetail:hover {
        color: dodgerblue;
        font-weight: bold;
    }
</style>


<article class="container_12" id="add-or-edit-parent">
    <section class="" id="block-content">
        <div class="block-border" id="selectFilters">
            <div id="divFilterParents" class="block-content form">
                <h1>
                    {{editOrAddTitle}}
                    <a id="btnResetPassword" href="javascript:void(0)" v-if="currentlyEditing" v-on:click="resetPassword" class="is-header-small">
                        Reset Password
                    </a>
                </h1>
                <ul id="error-messages" class="message error no-margin" v-show="errorList && errorList.length >0" style="display:none">
                    <li v-for="error in errorList">{{error.ErrorMessage}}</li>
                </ul>
                <fieldset v-show="canEditLocationInfo">
                    <legend>Location Info</legend>
                    <div class="colx2-left">
                        <p>
                            <label>
                                Select State
                                <span class="u-c-red"> *</span>
                            </label>
                            <span class="relative">
                                <select class="full-width" id="selectState" name="stateId" v-model="parentData.stateId" v-bind:disabled="currentlyEditing" tabindex="0">
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="colx2-right">
                        <p>
                            <label>
                                Select District
                                <span class="u-c-red"> *</span>
                            </label>
                            <span class="relative">
                                <select class="full-width" id="selectDistrict" name="districtId" v-model="parentData.districtId" v-bind:disabled="currentlyEditing" tabindex="1">
                                </select>
                            </span>
                        </p>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Account Info</legend>
                    <div class="colx2-left">
                        <p>
                            <label>
                                Username/Email Address
                                <span class="u-c-red"> *</span>
                            </label>
                            <span class="relative">
                                <input type="text" class="full-width" id="selectUserName" name="userName" v-model="parentData.userName" tabindex="2">
                            </span>
                        </p>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Personal Info</legend>
                    <div class="colx2-left">
                        <p>
                            <label>
                                First Name
                                <span class="u-c-red"> *</span>
                            </label>
                            <span class="relative">
                                <input type="text" class="full-width" id="selectFirstName" name="firstName" v-model="parentData.firstName" tabindex="3">
                            </span>
                        </p>
                        <p>
                            <label>
                                Code
                                <span class="u-c-red"> *</span>
                            </label>
                            <span class="relative">
                                <input type="text" class="full-width" id="selectCode" name="code" v-model="parentData.code" tabindex="5">
                            </span>
                        </p>
                    </div>
                    <div class="colx2-right">
                        <p>
                            <label>
                                Last Name
                                <span class="u-c-red"> *</span>
                            </label>
                            <span class="relative">
                                <input type="text" class="full-width" id="selectLastName" name="lastName" v-model="parentData.lastName" tabindex="4">
                            </span>
                        </p>
                    </div>
                </fieldset>
                <fieldset class="last" v-if="parentData.parentMetaDatas.length > 0">
                    <legend>Other Parent Data</legend>
                    <div class="fieldset-column" v-for="field in parentData.parentMetaDatas" >
                        <label v-text="field.Label"></label>
                        <span class="relative">
                            <input type="text" class="full-width" v-model="field.Value" />
                        </span>
                    </div>
                </fieldset>
                <div class="u-text-right">
                </div>
            </div>
            <br />
            <br />
            <div class="block-border" id="divStudent">
                <div class="block-content form">
                    <h1>
                        Students
                        <a href="javascript:void(0)" v-on:click="showAssignStudentPopup">
                            <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" />
                            Assign New Student
                        </a>
                    </h1>
                    <div id="divNotifications"></div>
                    <div class="clear-25">
                    </div>
                    <div class="no-margin last-child">
                        <table id="studentTable" class="datatable table no-margin" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col" class="black-cell"></th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Name
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        @LabelHelper.StudentGrade
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        School
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Relationship
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Data Access
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="height: 60px;"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <button id="btnSubmit" type="submit" v-on:click="submitParentInfo" name="Save">Submit</button>
            <button id="btnCancel" type="button" v-on:click="goBack" class="grey">Back</button>
        </div>
    </section>
    <div id="sideContainer"></div>
    <modal-component v-bind:show.sync="isShowModalAssignStudent" v-bind:width="800" style="display: none;">
        <div slot="header">
            <a href="#" v-on:click="closeModalAddStudentClass" class="modal-component-close">Close</a>
        </div>
        <div slot="body" id="available-student">
            @Html.Partial("_AvailableStudentsEnhancements")
        </div>
        <div slot="footer">
            <div class="u-text-right">
                <button v-on:click="closeModalAddStudentClass">Close</button>
            </div>
        </div>
    </modal-component>
</article>

<script src="/Scripts/ManageParent/AddOrEditParent.js"></script>

<script>
    var liststudentAddedToCurrentParent = [];
    var tempStudentParentAdd = [];

    var parentUserId = @ViewBag.parentUserId;
    $(document).ready(function () {
        liststudentAddedToCurrentParent = [];
        tempStudentParentAdd = [];

        AddOrEditParent.startBindingData(parentUserId);
        SetStudentsOptions();
        AddOrEditParent.currentRoleId = @ViewBag.roleId;
         
    });
    function SetStudentsOptions() {
          var options = {
            bDestroy: true,
            bServerSide: true,
            sAjaxSource: '@Url.Action("GetChildrenList", "ManageParent")',
              oLanguage: { "sZeroRecords": "No children have been added" },
            fnServerParams: function (aoData) {
                aoData.push(
                    { name: "parentUserId", value: AddOrEditParent.parentData.userId || parentUserId},
                    { name: "studentIdsThatBeAddedOnCommit", value: AddOrEditParent.parentData.studentIdsThatBeAddedOnCommit },
                );
            },
            bAutoWidth: false,
            iDisplayLength: 50,
            aLengthMenu: [50, 100, 500, 1000],
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'int', sName: 'StudentId',mData:"StudentId", bSearchable: false, bSortable: false, sWidth: '60px' },
                { sType: 'string', sName: 'StudentFullName', mData: 'StudentFullName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'GradeName', mData: 'GradeName', bSearchable: false, bSortable: true, sWidth: '114px' },
                { sType: 'string', sName: 'SchoolName', mData: 'SchoolName', bSearchable: false, bSortable: true, sWidth: '114px' },
                { sType: 'string', sName: 'Relationship', mData: 'Relationship', bSearchable: false, bSortable: true, sWidth: '114px' },
                { sType: 'string', sName: 'StudentDataAccess', mData: 'StudentDataAccess', bSearchable: false, bSortable: true, sWidth: '114px' },
                { sType: 'string', sName: 'StudentParentId', mData: 'StudentParentId', bSearchable: false, bSortable: true, bVisible: false}
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(buildStudentActionsHtml(aData['StudentId'], aData['StudentParentId']));                
                $('td:eq(4)', nRow).html(buildRelationshipHtml(aData['StudentId'], aData['Relationship'], aData['StudentParentId']));
                $('td:eq(5)', nRow).html(buildStudentDataAccessHtml(aData['StudentId'], aData['StudentDataAccess'], aData['StudentParentId']));
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#divStudent'), 'Loading');
                return true;
            },
            fnDrawCallback: function () {
                $('#divStudent').unblock();
                $('.with-tip').tip();
            }
        }

        $("#studentTable").data("options", options);
    }
    function buildStudentActionsHtml(studentId, studentParentId) {
        return '<a href="/ManageClasses/EditStudent?id=' + studentId + '&returnUrl=' + window.location.href+'" title="Edit Student" class="with-tip"><img src="/Content/themes/Constellation/images/icons/fugue/pencil.png" width="16" height="16" style="margin-right: 4px"></a><a href="javascript:void(0)" title="Unassign" studentid="' + studentId + '" class="with-tip deleteStudent" onclick="unassignStudent(' + studentId + ')"><img src="/Content/themes/Constellation/images/icons/fugue/cross-circle.png" width="16" height="16"></a>'
    }
    function unassignStudent(studentId) {
        AddOrEditParent.unassignStudent(studentId);
    }

    function loadParentMeta(districtId) {
        $.get('@Url.Action("GetParentMetaData", "ManageParent")', { parentId: 0, districtId:districtId},
                function (response) {
                    AddOrEditParent.fields = htmlDecode(response.data) || [];
                });
    }

    function buildStudentDataAccessHtml(studentId, studentDataAccess, studentParentId) {

        if (studentParentId == 0 && tempStudentParentAdd.length > 0) {
            tempStudentParentAdd.forEach(function (e)
            {
                if (studentId == e.studentId) {
                    studentDataAccess = e.studentDataAccess;
                }
            });            
        }
        if (studentDataAccess == true) {
            return '<input type="checkbox" id="cbStudentDataAccessStudentParent_' + studentId + '" checked />';
        } else {
            return '<input type="checkbox" id="cbStudentDataAccessStudentParent_' + studentId + '" />';
        }       
    }
    function buildRelationshipHtml(studentId, relationship, studentParentId) {
        if (!liststudentAddedToCurrentParent.includes(studentId)) {
            liststudentAddedToCurrentParent.push(studentId);
        }

        if (studentParentId == 0 && tempStudentParentAdd.length > 0) {
            tempStudentParentAdd.forEach(function (e) {
                if (studentId == e.studentId) {
                    relationship = e.relationship
                }
            });            
        }
        return '<input type="text" id="txtRelationshipStudentParent_' + studentId + '" value="' + relationship + '"/>';        
    }     
</script>

