@using LinkIt.BubbleSheetPortal.Web
@using LinkIt.BubbleSheetPortal.Common

@model string
@{
    var printModels = (List<PrintBubbleSheetDownloadModel>) ViewBag.PrintModels;
    if (printModels != null)
    {
        printModels = printModels.OrderByDescending(x => x.GeneratedDateTime).ToList();
    }
}

<style>
    .col-test-name, .col-class-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
    }

    .col-teacher-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }

    .progressIndicator {
        border: 5px solid var(--red);
        border-radius: 50%;
        border-top: 5px solid var(--white);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: unset;
        position: absolute;
        right: 4%;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    #loadingFieldSet {
        margin-bottom: 0;
    }
</style>

@if (printModels != null && printModels.Any())
{
    <fieldset id="loadingFieldSet" class="grey-bg">
        <p class="title-large" id="statusLegend">Bubble Sheet Download</p>
        <ul class="message warning no-margin" style="max-width: none !important">
            <li>Prior to printing and scanning, please review the <a target="_new" href="https://linkit.atlassian.net/wiki/display/LPUG02/Grading+-+Bubble+Sheet+Best+Practices">Bubble Sheet Best Practices</a></li>
        </ul>

        <div id="divTabBubbleSheetDownload" style="display: block;">
            <table class="table" width="100%">
                <colgroup>
                    <col style="width: 10%">
                    <col style="width: 30%">
                    <col style="width: 10%">
                    <col style="width: 10%">
                    <col style="width: 10%">
                </colgroup>
                <thead>
                    <tr>
                        <th>Generated</th>
                        <th>Test</th>
                        <th>Class/Group</th>
                        <th>Teacher</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    @if (printModels != null)
                    {
                        foreach (var item in printModels)
                        {
                            <tr>
                                <td class="toLocalTime">
                                    @item.GeneratedDateTime
                                </td>
                                <td>
                                    <div>
                                        @item.TestName
                                    </div>
                                </td>
                                <td>
                                    <div class="col-class-name">
                                        @item.GroupName
                                        @item.ClassName
                                    </div>
                                </td>
                                <td>
                                    <div class="col-teacher-name">
                                        @item.TeacherName
                                    </div>
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.DownloadUrl))
                                    {
                                        <a target="_new" href="@item.DownloadUrl">Click to download</a>
                                    }
                                    else
                                    {
                                        <p class="float-left mb-0" id="url">Generating...</p>
                                        <div class="progressIndicator float-right" id="progressIndicatorId"></div>
                                    }
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </fieldset>

<fieldset style="display: none;">
    <p class="title-large">Options</p>
    <ul class="message no-margin info">
        <li>You can wait for your sheet to finish (a link will appear) or select one of the options below
        </li>
    </ul>
    <ul class="shortcuts-list">
        <li>
            <a href="@Url.Action("Generate", "GenerateBubbleSheet")">
                <img src="@Url.Content("~/Content/themes/Constellation/images/icons/web-app/48/Modify.png")"/>
                Generate Bubble Sheet
            </a>
        </li>
        <li style="padding-left: 15px">
            <a href="@Url.Action("Index", "BubbleSheetReview")">
                <img src="@Url.Content("~/Content/themes/Constellation/images/icons/web-app/48/Modify.png")"/>
                View Full List
            </a>
        </li>
    </ul>
</fieldset>
}


@if (!string.IsNullOrEmpty(Model))
{
    <!-- Do not call GetDownloadUrl when just refresh page -->
    <script type="text/javascript">
        $(function() {
            var finished = false;
            getDownloadUrl();
            if (finished) {
                return;
            }
            setInterval(function() {
                if (!finished) {
                    getDownloadUrl();
                } else {
                    return;
                }
            }, 5000);

            function getDownloadUrl() {
                $.get('@Url.Action("GetDownloadUrl")', { id: '@Model' }, function(response) {
                    if (response.notValidTicket === true) {
                        $('#url').html('Invalid ticket');
                        $('#loadingFieldSet #progressIndicatorId').remove();
                        finished = true;
                        return;
                    }
                    if (response.downloadUrl != "" && response !== false) {
                        $('#url').html('<a target="_new">Click to download</a>');
                        $('#url a').attr('href', response.downloadUrl);
                        $('#loadingFieldSet #progressIndicatorId').remove();
                        finished = true;
                    }
                });
            }
        });
    </script>
}
