@using LinkIt.BubbleSheetPortal.Common.Enum
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportMasterViewModel
<style>
    .col_StudentHistory .tblDiagnostic {
        width: 635px !important;
    }
    @if (Model.VirtualTestSubTypeId == (int) VirtualTestSubType.ACT)
    {
        <text>
        .tblDiagnostic thead th {
            padding: 10px 7px !important;
        }
        </text>
    }
        
</style>
<div>
    <div class="boxtitle">
        Diagnostic History
    </div>

    <table class="datatable table utility-table tblDiagnostic big_line">
        <thead>
            <tr>
                <th class="utility" style="width: 80px;">Test Date &nbsp;</th>
                <th class="utility" style="width: 250px;">Diag Form</th>
                <th class="utility">Composite</th>
                <th class="utility">English</th>
                <th class="utility">Math</th>
                <th class="utility">Reading</th>
                <th class="utility">Science</th>
                <th class="utility">Writing</th>
                @if (Model.VirtualTestSubTypeId == (int)VirtualTestSubType.ACT && Model.UseNewACTStudentFormat == false)
                {
                    <th class="utility">E/W</th>    
                }                
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Count; i++)
            {
                var item = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels[i];
                string style = "";
                string cssClass = "";
                if (item.IsSelected)
                {
                    style = "font-weight:bold; font-style:italic;";
                    cssClass = "question-detail-answer";
                }
                <tr class="@cssClass">
                    <td class="utility" style="@style; width: 80px"><p style="width: 80px">@item.TestDateText</p></td>
                    <td class="utility" style="@style word-break:break-all;">@item.TestName</td>
                    <td class="utility" style="@style text-align: right;">@item.CompositeScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.EnglishScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.MathScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.ReadingScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.ScienceScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.WritingScoreText</td>
                    @if (Model.VirtualTestSubTypeId == (int) VirtualTestSubType.ACT && Model.UseNewACTStudentFormat == false)
                    {
                        <td class="utility" style="@style text-align:right;">@item.EnglishWritingScoreText</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>