<script src="@Url.Content("~/Scripts/TagIt/js/tag-it.js")" type="text/javascript"></script>
<link  href="@Url.Content("~/Scripts/TagIt/css/jquery.tagit.css")" rel="stylesheet" type="text/css"/>
<link  href="@Url.Content("~/Scripts/TagIt/css/tagit.ui-zendesk.css")" rel="stylesheet" type="text/css"/>

@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportViewModel
@if (Model.IsPublisher)
{
    <fieldset id="publisherContentSummarySAT" class="grey-bg">
        <legend>Select State/@LabelHelper.DistrictLabel</legend>
        <div class="columns">
            <div class="colx2-left">
                <p>
                    <label>State</label>
                    <select id="selectStateSummarySAT"></select>
                </p>
            </div>
            <div class="colx2-right">
                <p>
                    <label>@LabelHelper.DistrictLabel</label>
                    <select id="selectDistrictSummarySAT"></select>
                </p>
            </div>
        </div>
    </fieldset>
}
<fieldset class="grey-bg">
    <legend>Select Test</legend>
    <div class="columns">
        <div class="wraptag" style="max-width: 686px; padding-bottom: 15px;">
            <ul id="selectedTestListSummarySAT" class="tagit ui-widget ui-widget-content ui-corner-all"></ul>
        </div>
        <div class="colx2-left">
            <p>
                <label>@LabelHelper.GradeLabel</label>
                <select id="selectGradeSummarySAT"></select>
            </p>
            <p>
                <label>@LabelHelper.Subject</label>
                <select id="selectSubjectSummarySAT"></select>
            </p>
        </div>
        <div class="colx2-right">
            <p>
                <label>Bank</label>
                <select id="selectBankSummarySAT"></select>
            </p>
            <p>
                <label>Test</label>
                <select id="selectTestSummarySAT"></select>
            </p>
        </div>
    </div>
</fieldset>
<div class="clear"></div>
<fieldset class="grey-bg">
    <legend>Select Students</legend>
    <div id="divSingleClassSummarySAT" class="columns">
        <div class="colx2-left">
            <p>
                <label>School</label>
                <select id="selectSchoolSummarySAT"></select>
            </p>
            <p>
                <label>Teacher</label>
                <select id="selectTeacherSummarySAT"></select>
            </p>
        </div>
        <div class="colx2-right">
            <p>
                <label>
                    @LabelHelper.Term
                </label>
                <select id="selectTermSummarySAT"></select>
            </p>
            <p>
                <label>Class</label>
                <select id="selectClassSummarySAT"></select>
            </p>
        </div>
    </div>
    <div id="studentContentSummarySAT" style="display: none">
        <div class="tabs-content" style="margin-bottom: 10px;">
            <div class="columns" id="studentsListSummarySAT">
                <ul id="studentsSummarySAT" class="generate-student-list generate-student-list-custom with-icon icon-user student-col"></ul>
            </div>
            <div class="clear"></div>
        </div>
        <div>
            <button type="button" name="select-all" onclick="selectAllStudentsSummarySAT()">Select All</button>
            <button type="button" name="select-none" onclick="selectNoStudentsSummarySAT()">Select None</button>
            <button type="button" name="invert-select" onclick="invertSelectedStudentsSummarySAT()">Invert Selection</button>
        </div>
    </div>
    <div id="divMultiClassSummarySAT" style="display: none;">
    </div>
</fieldset>

<fieldset class="grey-bg">
    <legend>Select Option</legend>
    <div class="columns">
        <div class="colx2-left">
            <p>
                <label>Improvement</label>
                <select id="selectOptionSummarySAT">
                    <option value="select">Select All</option>
                    <option value="Practice">Improvement I (Practice)</option>
                    <option value="Real">Improvement II (Real)</option>
                </select>
            </p>
        </div>
    </div>
</fieldset>

<button class="float-right" id="btnSubmitSummarySAT" type="submit">Generate</button>
<div class="clear"></div>

<script type="text/javascript">
    var selectedTagsDict = {};
    $.ajaxSetup({ cache: false });

    $(document).ready(function () {
        $("#selectedTestListSummarySAT").tagit({
            beforeTagAdded: function(event, ui) {
                var tagId = $('#selectTestSummarySAT').val();
                if (tagId != undefined) {
                    selectedTagsDict[$('#selectTestSummarySAT option:selected').text()] = tagId; //remember Id of selected tag
                }
            },
            beforeTagRemoved: function(event, ui) {
                //clear the selected tag out of memory
                delete selectedTagsDict[ui.tagLabel];
                populateTestsSummarySAT();
            }
        });

        $('#selectedTestListSummarySAT').find('.ui-autocomplete-input').attr('readonly', true); // Disallow to type into selected test tagit
    });

    function getSelectedTagsSAT() {
        var x = '';
        for (var key in selectedTagsDict) {
            x += selectedTagsDict[key] + ',';
        }

        if (x.length > 0)
            return x.substring(0, x.length - 1);
        return '';
    }

    $(function () {
        @if (Model.IsPublisher)
        {
            <text>
        $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (states) {
            populateStatesSummarySAT(states);
        });

        </text>
        }
        else
        {
            <text>

        $.get('@Url.Action("GetGrades", "PopulateReporting")', { districtId: '-1', virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (grades) {
            populateGradesSummarySAT(grades);
        });

        $.get('@Url.Action("GetSchools", "PopulateReporting")', { virtualTestSubTypeId: getVirtualTestSubTypeId()}, function (schools) {
            populateSchoolsSummarySAT(schools);
        });
        </text>
        }

        $('#selectStateSummarySAT').change(function () {
            $('#selectDistrictSummarySAT').empty();
            $('#selectGradeSummarySAT').empty();
            $('#selectSubjectSummarySAT').empty();
            $('#selectBankSummarySAT').empty();
            $('#selectTestSummarySAT').empty();
            selectedTagsDict = {};
            $('#selectedTestListSummarySAT .tagit-choice').hide();

            $('#selectSchoolSummarySAT').empty();
            $('#selectTeacherSummarySAT').empty();
            $('#selectTermSummarySAT').empty();
            $('#selectClassSummarySAT').empty();
            $('#studentContentSummarySAT').hide();
            $('#studentsSummarySAT').html('');
            if ($('#selectStateSummarySAT').val() != 'select') {
                populateDistrictsSummarySAT();
            }
        });

        $('#selectDistrictSummarySAT').change(function () {
            $('#selectGradeSummarySAT').empty();
            $('#selectSubjectSummarySAT').empty();
            $('#selectBankSummarySAT').empty();
            $('#selectTestSummarySAT').empty();
            selectedTagsDict = {};
            $('#selectedTestListSummarySAT .tagit-choice').hide();

            $('#selectSchoolSummarySAT').empty();
            $('#selectTeacherSummarySAT').empty();
            $('#selectTermSummarySAT').empty();
            $('#selectClassSummarySAT').empty();
            $('#studentContentSummarySAT').hide();
            $('#studentsSummarySAT').html('');
            populateGradesByDistrictSummarySAT();
            populateSchoolsByDistrictSummarySAT();
            populateTermsSummarySAT();
        });

        $('#selectGradeSummarySAT').change(function () {
            $('#selectSubjectSummarySAT').empty();
            $('#selectBankSummarySAT').empty();
            $('#selectTestSummarySAT').empty();
            populateSubjectsSummarySAT();
        });

        $('#selectSubjectSummarySAT').change(function () {
            $('#selectBankSummarySAT').empty();
            $('#selectTestSummarySAT').empty();

            populateBanksSummarySAT();
        });

        $('#selectBankSummarySAT').change(function () {
            $('#selectTestSummarySAT').empty();
            populateTestsSummarySAT();
        });

        $('#selectTestSummarySAT').change(function () {
            var testId = $('#selectTestSummarySAT').val();

            if(testId != 'select' && testId != '') {
                $("#selectedTestListSummarySAT").tagit("createTag", $('#selectTestSummarySAT option:selected').text());
                $('#selectTestSummarySAT option:selected').remove();
            }
        });

        $('#selectSchoolSummarySAT').change(function () {
            $('#selectTeacherSummarySAT').empty();
            $('#selectTermSummarySAT').empty();
            $('#selectClassSummarySAT').empty();
            $('#studentContentSummarySAT').hide();
            if ($('#selectSchoolSummarySAT').val() != 'select') {
                populateTeachersSummarySAT();
            }

            populateTermsSummarySAT();
        });

        $('#selectTeacherSummarySAT').change(function () {
            $('#selectClassSummarySAT').empty();
            $('#selectTermSummarySAT').empty();
            $('#studentContentSummarySAT').hide();
            $('#studentsSummarySAT').html('');
            populateTermsSummarySAT();
        });

        $('#selectTermSummarySAT').change(function () {
            populateClassesSummarySAT();
        });

        $('#selectClassSummarySAT').change(function () {
            populateStudentsSummarySAT();
        });

        $('#btnSubmitSummarySAT').click(function (e) {
            e.preventDefault();

            var studentsIdSelected = [];

            $(".student-item[isSelected=yes]").each(function () {
                studentsIdSelected.push($(this).attr('studentId'));
            });

            if (getSelectedTagsSAT() == '') {
                CustomAlert('Please select at least one Test');
                return;
            }

            if ($('#selectClassSummarySAT').val() != null && $('#selectClassSummarySAT').val() != 'select' && studentsIdSelected.length == 0) {
                CustomAlert('Please select at least one Student');
                return;
            }

            //clear error message
            $("#error-messages").html('');
            $("#error-messages").hide();
            $('#btnSubmitSummarySAT').disableBt();
            ShowBlock($('#ACTPageContent'), "Generating reports");



            var timezoneOffset = new Date().getTimezoneOffset();
            var suffix = displayDateWithFormat((new Date()).getTime(), true);
            suffix = replace(suffix, '/', '-');
            suffix = replace(suffix, ':', '-');
            suffix = replace(suffix, ' ', '-');
            var reportFileName = "SAT_Summary_Report_" + suffix + "_" + getRandomString() + ".pdf";
            var data = {
                TestId: $('#selectTestSummarySAT').val(),
                DistrictId: $('#selectDistrictSummarySAT').val(),
                SchoolId: $('#selectSchoolSummarySAT').val(),
                TeacherId: $('#selectTeacherSummarySAT').val(),
                ClassId: $('#selectClassSummarySAT').val(),
                DistrictTermId: $('#selectTermSummarySAT').val(),
                StudentIdList: studentsIdSelected,
                StrTestIdList: getSelectedTagsSAT(),
                ImprovementOption: $('#selectOptionSummarySAT').val(),
                TimezoneOffset: timezoneOffset,
                reportFileName: reportFileName,
                VirtualTestSubTypeId: getVirtualTestSubTypeId()
            };

            $.ajax({
                url: '@Url.Action("Generate","SATSummaryReport")',
                traditional: true,
                type: 'POST',
                data: data,
                success: function (response) {
                    console.log(response.Url);
                    // Do nothing here, file will be downloaded when existed on S3 using getACTS3File function
                },
                failure: function (response) {
                    CustomAlert(response);
                    $('#ACTPageContent').unblock();
                    $('#btnSubmitSummarySAT').enableBt();
                },
                timeout: 300000
            });

            getSATS3FileSummary(reportFileName);
        });
    });

    function getRandomString() {
        return Math.random().toString(36).substring(2, 14);
    }

    function getSATS3FileSummary(checkUrl) {
        $.ajax({
            url: '@Url.Action("CheckSATS3FileExisted","SATSummaryReport")',
            type: 'POST',
            data: { fileName: checkUrl },
            success: function (response) {
                if (response.Result != true) {
                    setTimeout(function () {
                        getSATS3FileSummary(checkUrl);
                    }, 3000);
                }
                else {

                    $("#aGeneratePDFSuccessSAT").live("click", function (e) {
                        $(this).attr("href", response.Url);
                        $("#popupConfirmSAT").dialog("close");
                    });

                    var dialog = $("#popupConfirmSAT")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () {
                            //$(this).remove();
                        },
                        modal: true,
                        width: 330,
                        resizable: false
                    })
                    .load(this.href, function () { });

                    $('#ACTPageContent').unblock();
                    $('#btnSubmitSummarySAT').enableBt();
                }
            }
        });
    }

    function populateGradesByDistrictSummarySAT() {
        $('#selectGradeSummarySAT').empty();
        $('#selectSubjectSummarySAT').empty();
        var districtValue = $('#selectDistrictSummarySAT').val();
        if (districtValue != 'select') {
            $.get('@Url.Action("GetGrades", "PopulateReporting")', { districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (grades) {
                populateGradesSummarySAT(grades);
            });
        }
    }

    function populateDistrictsSummarySAT() {
        $('#selectDistrictSummarySAT').empty();
        var stateValue = $('#selectStateSummarySAT').val();
        if (stateValue != 'select') {
            $.get('@Url.Action("GetDistricts", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                addDefaultOption($('#selectDistrictSummarySAT'), "@LabelHelper.DistrictLabel");
                addSelectListItems($('#selectDistrictSummarySAT'), districts);
            });
        }
    }

    function populateSchoolsByDistrictSummarySAT() {
        $('#selectSchoolSummarySAT').empty();
        var districtValue = $('#selectDistrictSummarySAT').val();
        if (districtValue != 'select') {
            $.get('@Url.Action("GetSchools", "PopulateReporting")', { districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (schools) {
                populateSchoolsSummarySAT(schools);
            });
        }
    }

    function populateTeachersSummarySAT() {
        $('#selectTeacherSummarySAT').empty();
        var schoolValue = $('#selectSchoolSummarySAT').val();
        if (schoolValue != 'select') {
            $.get('@Url.Action("GetTeachers", "PopulateReporting")', { schoolId: schoolValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (teachers) {
                addDefaultOption($('#selectTeacherSummarySAT'), "Teacher");
                addSelectListWithDefaultValue($('#selectTeacherSummarySAT'), teachers, 'select', function (item) {
                    return (item.FirstName) ? item.LastName + ", " + item.FirstName + " (" + item.Name + ")" : item.LastName + " (" + item.Name + ")";
                });
            });
        }
    }

    function populateStatesSummarySAT(states) {
        addDefaultOption($('#selectStateSummarySAT'), "State");
        addSelectListItems($('#selectStateSummarySAT'), states);
    }

    function populateSchoolsSummarySAT(schools) {
        addDefaultOption($('#selectSchoolSummarySAT'), "School");
        addSelectListWithDefaultValue($('#selectSchoolSummarySAT'), schools);
    }

    function populateGradesSummarySAT(grades) {
        $('#selectGradeSummarySAT').empty();
        addDefaultOption($('#selectGradeSummarySAT'), "@LabelHelper.GradeLabel");
        addSelectListItems($('#selectGradeSummarySAT'), grades);
    }

    function populateSubjectsSummarySAT() {
        resetSubjectsSummarySAT();
        var gradeValue = $('#selectGradeSummarySAT').val();
        var districtValue = 0;
        if ($('#selectDistrictSummarySAT').length && $('#selectDistrictSummarySAT').val() != null && $('#selectDistrictSummarySAT').val() != 'select') {
            districtValue = $('#selectDistrictSummarySAT').val();
        }
        if (gradeValue != 'select') {
            $.get('@Url.Action("GetSubjects", "PopulateReporting")', { gradeId: gradeValue, districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (subjects) {
                addDefaultOption($('#selectSubjectSummarySAT'), "@LabelHelper.Subject");
                addSelectListItems($('#selectSubjectSummarySAT'), subjects);
            });
        }
    }

    function populateBanksSummarySAT() {
        resetBanksSummarySAT();
        var subjectValue = $('#selectSubjectSummarySAT').val();
        var districtValue = 0;
        if ($('#selectDistrictSummarySAT').length && $('#selectDistrictSummarySAT').val() != null && $('#selectDistrictSummarySAT').val() != 'select') {
            districtValue = $('#selectDistrictSummarySAT').val();
        }
        if (subjectValue != 'select') {
            $.get('@Url.Action("GetBanks", "PopulateReporting")', { subjectIds: subjectValue, districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (banks) {
                addDefaultOption($('#selectBankSummarySAT'), "Bank");
                addSelectListItems($('#selectBankSummarySAT'), banks);
            });
        }
    }

    function populateTestsSummarySAT() {
        $('#selectTestSummarySAT').empty();
        var bankValue = $('#selectBankSummarySAT').val();
        if (bankValue != null && bankValue != 'select') {
            var districtValue = 0;
            if ($('#selectDistrictSummarySAT').length && $('#selectDistrictSummarySAT').val() != null && $('#selectDistrictSummarySAT').val() != 'select') {
                districtValue = $('#selectDistrictSummarySAT').val();
            }
            $.get('@Url.Action("GetTests", "PopulateReporting")', { bankId: bankValue, districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (tests) {

                // Remove selected tests out of return list
                for (var i = tests.length - 1; i >= 0; i--) {
                    if (selectedTagsDict[tests[i].Name] != undefined) {
                        tests.splice(i, 1);
                    }
                }

                addDefaultOption($('#selectTestSummarySAT'), "Test");
                addSelectListWithDefaultValue($('#selectTestSummarySAT'), tests);
            });
        }
    }

    function populateClassesSummarySAT() {
        $('#selectClassSummarySAT').empty();
        $('#studentsSummarySAT').html('');
        var districtValue = $('#selectDistrictSummarySAT').val();
        var schoolValue = $('#selectSchoolSummarySAT').val();
        var termValue = $('#selectTermSummarySAT').val();
        var teacherValue = $('#selectTeacherSummarySAT').val();
        if (termValue != 'select') {
            $.get('@Url.Action("GetClasses", "PopulateReporting")', { districtId: districtValue, schoolId: schoolValue, termId: termValue, userId: teacherValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (classes) {
                addDefaultOption($('#selectClassSummarySAT'), "Class");
                addSelectListWithDefaultValue($('#selectClassSummarySAT'), classes);
            });
        }
    }

    function populateStudentsSummarySAT() {
        var classValue = $('#selectClassSummarySAT').val();
        if (classValue != 'select') {
            $('#studentContentSummarySAT').show();
            $.get('@Url.Action("GetStudents", "PopulateStudent")', { classId: classValue }, function (students) {
                $('#studentsSummarySAT').html('');
                addStudentsToListSummarySAT($('#studentsSummarySAT'), students);
                selectAllStudentsSummarySAT();
            });
        } else {
            $('#studentContentSummarySAT').hide();
        }
    }

    function addStudentsToListSummarySAT(el, students) {
        var $el = $(el);
        var studentHtml = [];

        for (var i = 0, len = students.length; i < len; i++) {
            var student = students[i];
            studentHtml.push('<li studentId="' + student.StudentId + '" class="student-item"><a href="javascript:void(0)">' + student.FullName + '</a></li>');
        }

        $el.html(studentHtml.join(''));
    }

    function resetSubjectsSummarySAT() {
        $('#selectSubjectSummarySAT').empty();
        resetBanksSummarySAT();
    }

    function resetBanksSummarySAT() {
        $('#selectBankSummarySAT').empty();
        $('#selectTestSummarySAT').empty();
    }

    function selectAllStudentsSummarySAT() {
        $('.student-col').children().attr('isselected', "yes");
        $('.student-col').children().css('background-color', "#82CAFA");
    }

    function selectNoStudentsSummarySAT() {
        $('.student-col').children().attr('isselected', "no");
        $('.student-col').children().css('background-color', "#f2f2f2");
    }

    function invertSelectedStudentsSummarySAT() {
        $('.generate-student-list li').each(function () {
            if ($(this).attr('isselected') == "yes") {
                $(this).attr('isselected', "no");
                $(this).css('background-color', "#f2f2f2");
            } else {
                $(this).attr('isselected', "yes");
                $(this).css('background-color', "#82CAFA");
            }
        });
    }

    function populateTermsSummarySAT() {
        $('#selectTermSummarySAT').empty();
        var districtValue = $('#selectDistrictSummarySAT').val();
        var schoolValue = $('#selectSchoolSummarySAT').val();
        var teacherValue = $('#selectTeacherSummarySAT').val();

        $.get('@Url.Action("GetTerms", "PopulateReporting")', { districtId: districtValue, schoolId: schoolValue, userId: teacherValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (terms) {
            addDefaultOption($('#selectTermSummarySAT'), "@LabelHelper.Term");
            addSelectListWithDefaultValue($('#selectTermSummarySAT'), terms);
        });
    }
</script>
