@using System.Linq
@using LinkIt.BubbleSheetPortal.Common
@using LinkIt.BubbleSheetPortal.Common.Enum
@using LinkIt.BubbleSheetPortal.Web.Helpers
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportMasterViewModel
@if (Model.ReportContentOption == Util.ACTSATReportContentOption_EssayOnly)
{
    foreach (var essayFile in Model.BubbleSheetFileSubViewModels)
    {
        if (essayFile.PageType == Util.BubbleSheetFileEssayPageType)
        {
    <img style="margin-left:20px" src="@essayFile.ImageUrl" width="900" />
    <br />
        }
    }
}
else
{
    <article class="container_12" style="overflow: visible !important; background-color: white !important;">
        <h1 class="wk-hiddentitle" style="color: white; text-shadow: none;">@Model.StudentInformation.StudentName</h1>

        <section class="grid_12" style="width:1000px; margin-left: 0px; margin-right: 0px;">
            <div class="" style="background: ghostwhite">
                <div style="display: inline-block; vertical-align: top; float: left;">
                    <span>
                        @if (string.IsNullOrEmpty(Model.DistrictLogoUrl))
                        {
                            <text>@Model.DistrictName</text>
                        }
                        else
                        {
                            <text><img src="@Model.DistrictLogoUrl" /></text>
                        }
                    </span>
                </div>
                <div style="vertical-align: top; width: 500px; padding-left: 150px; margin: 0 auto; padding-bottom: 15px;">
                    @if (Model.VirtualTestSubTypeId == (int)VirtualTestSubType.NewACT)
                    {
                        <div style="font-size: 30px; padding-bottom: 5px;">ACT STUDENT REPORT</div>
                    }
                    else
                    {
                        <div style="font-size: 30px; padding-bottom: 5px;">OLD ACT STUDENT REPORT</div>
                    }
                    <div style="padding-bottom: 5px;">
                        <span style="font-weight: bold">Test: @Model.StudentInformation.TestName</span>
                    </div>
                    <div>
                        <span style="font-weight: bold">Test Date: @Model.StudentInformation.TestDate.DisplayDateWithFormat()</span>
                    </div>
                </div>
                <div class="block-content form">
                    <div>
                        <div class="col_StudentInfo">
                            @Html.Partial("_StudentInformation", Model)
                        </div>
                        <div class="col_StudentHistory">
                            @Html.Partial("_DiagnosticHistory", Model)
                        </div>
                       
                        @if (Model.VirtualTestSubTypeId == (int)VirtualTestSubType.NewACT || Model.UseNewACTStudentFormat)
                        {
                            if (Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Any(x => x.VirtualTestSubTypeID == (int)VirtualTestSubType.NewACT))
                            {
                                <div class="clear-25" style="height: 0px;"></div>
                                <div>
                                    @Html.Partial("_DiagnosticHistoryNewACT", Model)
                                </div>
                            }
                        }                        
                        
                        <div class="clear-25" style="height: 0px;"></div>
                        @Html.Partial("_SectionWithTagReport", Model)
                        @if (Model.ACTSummaryScoreViewModel.ShowChart)
                        {
                            @Html.Partial("_ScoreSummaryReport", Model)
                        }
                        
                        
                        @if (Model.ReportContentOption == Util.ACTSATReportContentOption_ScoreAndEssay && Model.SectionTagViewModels.Count >= 4 && Model.BubbleSheetFileSubViewModels.Any())
                        {
                            <div class="page-breaker"></div>
                            //wirting
                            foreach (var essayFile in Model.BubbleSheetFileSubViewModels)
                            {
                                if (essayFile.PageType == Util.BubbleSheetFileEssayPageType)
                                {
                                    <img style="margin-left:20px" src="@essayFile.ImageUrl" width="930" />
                                }
                            }
                        }  

						@if (Model.NewACTEssayComments.Any())
                        {
                            <div class="clear-25"></div>
                            @Html.Partial("_EssayComment", Model)    
                        } 
                        						
                    </div>
                </div>
            </div>
        </section>
    </article>
}