@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Models.QtiBank

<style>
    .left-col { width: 110px; float: left}
    .right-col { width: 275px; float: left}
</style>

<section>
    <div class="block-border">
        <div class="block-content">
            <h1>Edit Item Bank</h1>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <ul style="display: none" id="success-message" class="message success">
                <li>Item Bank is updated successfully.</li>
            </ul>
            <div class="u-text-left form u-m-t-15">
                <div class="u-clearfix">
                    <div class="left-col u-m-t-10">Bank Name:</div>
                    <div class="right-col">@Html.TextBoxFor(o => o.Name, new { style = "width: 250px;" })</div>
                </div>
                <div class="u-clearfix u-m-t-15">
                    <div class="left-col">Created by:</div>
                    <div class="right-col">@ViewBag.OriginalAuthor</div>
                </div>
                <div class="u-clearfix u-m-t-15">
                    <span class="left-col">Created date:</span>
                    <span class="right-col">@Model.CreatedDate.DisplayDateWithFormat(true)</span>
                </div>
                <div class="u-clearfix u-m-t-15">
                    <span class="left-col">Updated date:</span>
                    <span class="right-col">@Model.ModifiedDate.DisplayDateWithFormat(true)</span>
                </div>
                @Html.HiddenFor(o => o.QtiBankId)
            </div>
            <div class="u-text-center u-m-t-15">
                <button type="button" id="btnSaveItemBank" onclick="saveItemBank()">Save</button>
                <button type="button" id="btnCancelChangeBank" onclick="cancelItemBank()">Cancel</button>
            </div>
        </div>
    </div>
</section>
