@using LinkIt.BubbleSheetPortal.Common.DataFileUpload
<style type="text/css">
    #dataTablePassageItem3p td {
        font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, dejavu_sansbook;
        font-size: 12px;
    }
</style>
<style>
    #dataTablePassageItem3p tbody tr {
        height: 100% !important; /* Fix for IE9 */
    }
</style>
<style>
    /* No data available in table */
    #dataTablePassageItem3p .dataTables_empty div {
        width: 455px !important;
    }

    .scrollItemDataTablePassageItem3p thead,
    .scrollItemDataTablePassageItem3p tbody {
        display: block;
    }

    .scrollItemDataTablePassageItem3p tbody {
        height: 289px;
        overflow: auto;
        overflow-x: hidden;
    }

    .scrollItemDataTablePassageItem3p {
        width: 416px !important;
    }

    .scrollItemDataTablePassageItem3p tbody td {
        /*word-break: break-all;*/
        word-wrap: break-word;
    }

    .scrollItemDataTablePassageItem3p tbody td:nth-of-type(1) .divContainerStyle {
        width: 17px;
    }

    .scrollItemDataTablePassageItem3p tbody td:nth-of-type(2) .divContainerStyle {
        width: 354px;
    }

    .scrollItemDataTablePassageItem3p td img {
        padding-left: 0px;
        padding-right: 0px;
    }

    .noscrollItemDataTablePassageItem3p tbody td:nth-of-type(2) .divContainerStyle {
        width: 398px;
    }

    #divdataTablePassageItem3p {
        margin-top: -22px !important;
        height: 291px !important;
    }
     #dataTablePassageItem3p td{
         word-break:normal !important;
     }
    #dataTablePassageItem3p{
        width: auto !important;
    }
</style>

<div class="block-content form" id="divListItemsPassage">
    <div class="toggle" style="padding-top: 0px; margin-top: -55px">
        <h1 style="margin-top: -5px">Filtered Passages</h1>
    </div>
    <div class="no-margin last-child" style="padding-top: 90px;">
        <table id="dataTablePassageItem3p" class="datatable table table-fixed no-margin" width="100%">
            <thead>
                <tr>
                    <th scope="col" style="width: 10px; display: none;">
                    </th>
                    <th scope="col" style="width: 48px;">
                        Source
                    </th>
                    <th scope="col" style="width: 120px;">
                        Name
                    </th>
                    <th scope="col" style="width: 43px;">
                        Number
                    </th>
                    <th scope="col" class="CerticaProperty" style="width: 80px;">
                        Subject
                    </th>
                    <th scope="col" class="CerticaProperty" style="width: 32px;">
                        @LabelHelper.GradeLabel
                    </th>
                    <th scope="col" class="CerticaProperty" style="width: 70px;">
                        Text Type
                    </th>
                    <th scope="col" class="CerticaProperty" style="width: 95px;">
                        Text Sub Type
                    </th>
                    <th scope="col" class="CerticaProperty" style="width: 35px;">
                        Word Count
                    </th>
                    <th scope="col" class="CerticaProperty" style="width: 48px;">
                        Flesch Kincaid
                    </th>
                    <th scope="col" class="ProgressProperty" style="width: 80px; display: none;">
                        Passage Type
                    </th>
                    <th scope="col" class="ProgressProperty" style="width: 80px; display: none;">
                        Genre
                    </th>
                    <th scope="col" class="ProgressProperty" style="width: 30px; display: none;">
                        Lexile
                    </th>
                    <th scope="col" class="ProgressProperty" style="width: 30px; display: none;">
                        Spache
                    </th>
                    <th scope="col" class="ProgressProperty" style="width: 45px; display: none;">
                        Dalechall
                    </th>
                    <th scope="col" class="ProgressProperty" style="width: 30px; display: none;">
                        RMM
                    </th>
                    <th scope="col" style="width: 45px;">
                        Matched Items
                    </th>
                    <th scope="col" style="width: 30px;">
                        All Items
                    </th>
                    <th scope="col" style="display: none">
                        ItemsMatchXml
                    </th>
                    <th scope="col" style="display: none">
                        ItemsAllXml
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function getAjaxSourcePassageItem3pForEmpty() {
        $('#chkAllItem').removeAttr('checked');
        displayNWEASearchCriteria();
        return getAjaxGetQti3pItemsByFiltersPassage('true');
    }
    function getAjaxSourcePassageItem3p() {
        $('#chkAllItem').removeAttr('checked');
        return getAjaxGetQti3pItemsByFiltersPassage();
    }

    function ReloadPassageItem3p() {
        $("#dataTablePassageItem3p").dataTable().fnReloadAjax(getAjaxSourcePassageItem3p());
    }

    function showModalDialogBG() {
        var win = $('body');
        $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; height: ' + win.height() + 'px; z-index: 1001;"></div>');
    }

    function DisplayViewPassageIcon(qti3pPassageID) {
        var icon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/view-item.png")';
        var string = '<a qti3pPassageID="' + qti3pPassageID + '" href="javascript:void(0)" onclick="showPassageDetailPopupListItemPassagel(' + qti3pPassageID + ')" title="View passage" class="with-tip"><img src="../' + icon + '" width="16" height="16" style="margin-right: 4px"></a>';

        return string;
    }
    function showPassageDetailPopupListItemPassagel(qti3pPassageID) {

        var worker = $('<div />');
        worker
            .addClass("dialog PassageDetailPopupOnQtiItemDetailCSS")
            .attr("id", "PassageDetailDialog")
            .appendTo("body")
            .load('@Url.Action("ShowPassage3pDetail", "QTIItem")\?qti3pPassageID=' + qti3pPassageID, function () {
                worker.dialog({
                    title: $(this).attr("PassageDetail"),
                    open: function () {
                    },
                    close: function () {
                        $('.ui-widget-overlay:last').remove();
                        $(this).remove();
                        $('#tips').html('');
                        if (window.playsound != null) {
                            window.playsound.pause();
                        }
                    },
                    modal: false,
                    width: 780,
                    resizable: false
                });
            });
        showModalDialogBG();
    }
    function DisplayAssignAllItemIcon(qti3pPassageID, allCount, matchItemXml) {
        var qti3pSource = $('#selectSource').val();
        var showItemIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
        var showItemLink = '<a qti3pPassageID="' + qti3pPassageID + '"qti3pSource="' + qti3pSource + '" matchItemXml="' +matchItemXml + '" href="javascript:void(0)" onclick="showPassageItem3pForm(this)" title="Show Item(s)" class="passage-found-item-link with-tip">' + allCount + '</a>';

        return showItemLink;

    }
    function DisplayAssignMatchItemIcon(qti3pPassageID, matchCount, matchItemXml) {
        var qti3pSource = $('#selectSource').val();
        var showItemIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
        var showItemLink = '<a qti3pPassageID="' + qti3pPassageID + '"qti3pSource="' + qti3pSource + '" matchItemXml="' + matchItemXml + '" href="javascript:void(0)" onclick="showPassageItem3pForm(this)" title="Show Item(s)" class="passage-found-item-link with-tip">' + matchCount + '</a>';

        return showItemLink;

    }

    function showPassageItem3pForm(control) {
        var self = $(control);
        var qti3pPassageID = self.attr('qti3pPassageID');
        var qti3pSource = self.attr('qti3pSource');
        var matchItemXml = self.attr('matchItemXml');
        matchItemXml = encodeParameter(matchItemXml);
        var worker = $('<div />');

        worker
            .addClass("dialog")
            .attr("id", "ShowPassageItem3pFormPopup")
            .appendTo("body")
        .load('@Url.Action("ShowPassageItem3pForm")/?qti3pPassageID=' + qti3pPassageID + '&matchItemXml=' + matchItemXml + '&qti3pSource=' + qti3pSource, function () {
            worker.dialog({
                title: $(this).attr("Associated items"),
                open: function () {
                    $("#ShowPassageItem3pFormPopup").prev().css('top', '70px');
                    $("#ShowPassageItem3pFormPopup").prev().css('right', '0px');
                },
                close: function () {
                    $('.ui-widget-overlay').remove();
                    $(this).remove();
                },
                modal: false,
                width: 950,
                resizable: false,
                position: ['top', 20]
            });
        });

        showModalDialogBG();
    }
  

</script>
