@using LinkIt.BubbleSheetPortal.Models.AuthorizeItemLib
@using LinkIt.BubbleSheetPortal.Common.DataFileUpload
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = "Import Items From Library";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptKnockout30Bundle()

<script src="@Url.Content("~/FeLibs/jquery-coolfieldset/js/jquery.coolfieldset.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/QtiItem/qtiitem.js")" type="text/javascript"></script>

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleItemsFromLibraryBundle()

<script type="text/ecmascript">
    if ($.browser.msie && parseInt($.browser.version, 10) == 9) {
        $("body").addClass("ie9");
    }
</script>

<script type="text/javascript" src="/Content/themes/TestMaker/ckeditor.js"></script>
<script type="text/javascript" src="/Content/themes/TestMaker/ckeditor_utils.js"></script>
<script type="text/javascript" src="/Content/themes/TestMaker/ckeditor_mk.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/linkit-utility/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/qtiItemLoadMedia.js")"></script>
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptItembankItemsFromLibraryBundle()

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleItemsFromLibraryBundle2()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptItembankItemsFromLibraryBundle2()

<style type="text/css">
    .ui-widget-header {
        top: 70px;
    }

    tr.even.row_selected td {
        background-color: #82CAFA !important;
    }

    tr.odd.row_selected td {
        background-color: #82CAFA !important;
    }

    .lblKeySearchCriteria {
        display: inline !important;
        font-size: 11px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        /*padding-left: 10px;*/
    }

    .lblValueSearchCriteria {
        display: inline !important;
        font-size: 11px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        color: black !important;
        font-style: italic !important;
    }

    #fsNonNWEACriteria p {
        margin-top: 0px !important;
        margin-bottom: 2px !important;
        padding-left: 10px;
    }

    #fsNWEACriteria p {
        margin-top: 0px !important;
        margin-bottom: 2px !important;
        padding-left: 10px;
    }

    .lblSessionCriteria {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .passage-found-item-link {
        text-decoration: underline;
    }

    #btnEditPassageDetail {
        display: none !important;
        cursor: default;
        pointer-events: none;
    }
</style>
<script>
    var firstLoad = true;
    var firstLoadListItemsFromLibrary = true;
    var firstLoadListItemsFromLibraryNew = true;
</script>
<script type='text/javascript' src='@Url.Content("~/Scripts/jquery.dataTables.rowReordering.js")'></script>
<script type='text/javascript' src='@Url.Content("~/Scripts/qtiItemLoadMedia.js")'></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/linkit-utility/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<div style="display: none;">ItemBank\ItemsFromLibrary</div>
<input type="hidden" id="hdGroupName" value="@ViewBag.QtiGroupName" />
<input type="hidden" id="isInitItemBankData" value="false" />
<input type="hidden" id="isSearched" value="false" />
<article class="container_12">
    <section class="grid_12">
        <div class="block-border" id="divItemFromLibrary">
            <div class="block-content form">
                <div id="ItemFromLibraryFilterID" class="bubbleSheetSelector m-t-15">
                    <h1>Filter Item From Library</h1>
                    <div class="itemLibraryFilter">
                        <div class="itemLibraryFilter-result">
                            <fieldset>
                                <input id="radioPersonalItemLibrary" type="checkbox" name="ItemLibrarySelection" checked="checked" />
                                <label for="radioPersonalItemLibrary">Personal Item Library</label>
                                @{
                                    var XliFunctionAccess = (XliFunctionAccess)ViewBag.XliFunctionAccess;
                                }
                                @if (XliFunctionAccess.DistrictLibraryAccessible)
                                {
                                    <input id="radioDistrictItemLibrary" type="checkbox" name="ItemLibrarySelection" />
                                    <label for="radioDistrictItemLibrary">@LabelHelper.DistrictLabel Item Library</label>
                                }
                                @if (XliFunctionAccess.CerticaLibraryAccessible || XliFunctionAccess.ProgressLibraryAccessible)
                                {
                                    <input id="radioNWEAItemLibrary" type="checkbox" name="ItemLibrarySelection" />
                                    <label for="radioNWEAItemLibrary">Third-Party Libraries </label>
                                    <select id="selectSource" style="min-width: 150px; display: none"></select>

                                }
                            </fieldset>
                        </div>
                    </div>
                    <div class="itemLibraryTab">
                        <ul class="itemLibraryTab-list">
                            <li class="itemLibraryTab-list-item active" data-tab="tab-item-criteria-new">
                                <span>Standard/Item Criteria</span>
                            </li>
                            <li class="itemLibraryTab-list-item" data-tab="tab-passage-criteria">
                                <span>Passage Criteria</span>
                            </li>
                        </ul>
                        <div class="itemLibraryTab-content">
                            @Html.Partial("_ItemFromLibraryFilterNew")
                            <div id="tab-passage-criteria" class="itemLibraryTab-pane">
                                <fieldset class="grey-bg coolfieldset qtiItemSelector">
                                    <div class="columns" id="divPassageCriteria">
                                        <div class="colx2-left">
                                            <p>
                                                <label id="lblPassageName">Name</label>
                                                <input type="text" id="txtRefObjectTitle" style="width: 285px" />
                                                <select id="selectPassageTitle">
                                                    <option value="">All</option>
                                                </select>
                                            </p>
                                            <p>
                                                <label id="lblPassageNumberFilter">Passage Number</label>
                                                <select id="selectPassageNumber">
                                                    <option value="">All</option>
                                                </select>
                                            </p>
                                            <p>
                                                <label id="selectPassageGradeLabel">@LabelHelper.GradeLabel</label>
                                                <select id="selectPassageGrade">
                                                    <option value="">All</option>
                                                </select>
                                                <select id="selectPassageGradeNew">
                                                    <option value="">All</option>
                                                </select>
                                            </p>
                                            <p>
                                                <label id="selectPassageSubjectLabel">Subject</label>
                                                <select id="selectPassageSubject">
                                                    <option value="">All</option>
                                                </select>
                                                <select id="selectPassageSubjectNew">
                                                    <option value="">All</option>
                                                </select>
                                            </p>
                                            <p>
                                                <label id="lblWordCountFilter">Word Count</label>
                                                <select id="selectWordCount">
                                                    <option value="">All</option>
                                                </select>
                                            </p>
                                        </div>
                                        <div class="colx2-right">
                                            <p>
                                                <label id="selectTextTypeLabel">Text Type</label>
                                                <select id="selectTextType">
                                                    <option value="">All</option>
                                                </select>
                                            </p>
                                            <p>
                                                <label id="selectPassageTypeLabel">Passage Type</label>
                                                <select id="selectPassageType"></select>
                                            </p>
                                            <p>
                                                <label id="selectPassageGenreLabel">Genre </label>
                                                <select id="selectPassageGenre"></select>
                                            </p>
                                            <p>
                                                <label id="selectTextSubTypeLabel">Text Sub Type</label>
                                                <select id="selectTextSubType">
                                                    <option value="">All</option>
                                                </select>
                                            </p>
                                            <p>
                                                <label id="selectFleschKincaidIdsLabel">Flesch Kincaid</label>
                                                <select id="selectFleschKincaidIds">
                                                    <option value="">All</option>
                                                </select>
                                            </p>
                                            <p>
                                                <label id="selectQTI3pPassageLanguageLabel">Language</label>
                                                <select id="selectQTI3pPassageLanguage">
                                                    <option value="">All</option>
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="float-right">
                                        <button id="clearFilterPassage" style="margin-right: 5px" type="button">Clear Passage Filters</button>
                                        <button id="searchByPassage" type="submit">Search by Passage</button>
                                    </div>           
                                    <div class="clear"></div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clear-25"></div>
                <!-- Filter Result -->
                <div id="divResult" style="float: left; width: 100%">
                    <div id="qti3pItemResult" style="float: left; width: 48%; padding-right: 2px;">
                        @Html.Partial("_ListItemsFromLibrary")
                    </div>
                    <div id="qti3pItemUploadResult" style="float: left; width: 48%; padding-right: 2px; display: none">
                    </div>
                    <div id="qtiItemResult" style="float: left; display: none; width: 48%; padding-right: 2px">
                        @Html.Partial("_ListItemsFromLibraryNew")
                    </div>
                    <div id="divListItem" style="float: left; width: 50%; padding-left: 2px">
                        @Html.Partial("_ListItem")
                    </div>
                    <div id="passageResult" style="float: left; display: none; width: 100%; padding-right: 2px">
                        @Html.Partial("_ListItemsPassageNew")
                    </div>
                    <div id="passage3pResult" style="float: left; display: none; width: 100%; padding-right: 2px">
                        @Html.Partial("_ListItemsPassage")
                    </div>
                </div>

                <div style="clear: both"></div>
                <div class="no-margin last-child" style="padding: 10px 0 10px 20px">
                    <a class="big-button" href="@Url.Action("Index", "QTIItem", new { qtiItemGroupID = ViewBag.QIItemGroupID })">Return to Item Set</a>
                </div>
            </div>
        </div>
        <div id="divTempContent"></div>
    </section>
</article>
<input type="hidden" id="hiddenQIItemGroupID" value="@ViewBag.QIItemGroupID" />

<style type="text/css">
    .coolfieldset, .coolfieldset.expanded {
        border: 1px solid #aaa;
    }

        .coolfieldset.collapsed {
            border: 0;
            border-top: 1px solid #aaa;
        }

        .coolfieldset legend {
            padding-left: 13px;
            font-weight: bold;
            cursor: pointer;
        }

        .coolfieldset legend, .coolfieldset.expanded legend {
            background: transparent url(/Content/themes/base/images/expanded.gif) no-repeat center left;
            background-size: 10px 10px;
        }

        .coolfieldset.collapsed legend {
            background: transparent url(/Content/themes/base/images/collapsed.gif) no-repeat center left;
            background-size: 10px 10px;
        }
</style>
@Html.Partial("_ImportItemFromLibraryScript")
<script type="text/javascript">

    $(document).ready(function () {
        $('.write').addClass('current');
        $('#assesmenItemRewrite').addClass('current');

        window.onload = function () {
            loadPassageCriteriaStaticData();
            loadItemCriteriaStaticData();
            InItDatatableQti3pItemPassage();
            InitDataTableQtiItemPassage();
            $("#selectDistrictCategory").change();
        };

        function InitDatatableNWEA() {
            var options1 = {
                bServerSide: true,
                bDestroy: true,
                bFilter: false,
                sAjaxSource: getAjaxSource1(true),
                fnServerParams: function (aoData) {
                    var item = null;
                    for (var i = 0; i < aoData.length; i++) {
                        item = aoData[i];
                        if (item.name == 'sSearch') {
                            do {
                                item.value = item.value.replace('""', '"');
                            } while (item.value.indexOf('""') >= 0)

                            if (item.value == '"') {
                                item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                            } else {
                                item.value = encodeURIComponent(item.value);
                            }
                            break;
                        }
                    }

                },
                bStateSave: false,
                bAutoWidth: false,
                iDisplayLength: 100,
                aaSorting: [[0, "asc"]],
                aoColumns: [
                    { sType: 'integer', sName: 'QTI3pItemID', bSearchable: false, bSortable: false, sWidth: "10px" },
                    { sType: 'string', sName: 'Name', bSearchable: false, bSortable: false, sWidth: "400px" },
                    { sType: 'string', sName: 'ToolTip', bSearchable: false, bSortable: false, bVisible: false },
                    { sType: 'int', sName: 'MaxItemTooltipLength', bSearchable: false, bSortable: false, bVisible: false },
                    { sType: 'string', sName: 'From3pUpload', bSearchable: false, bSortable: false, bVisible: false }

                ],
                fnRowCallback: function (nRow, aData) {
                    $('td:eq(0)', nRow).html(setCheckBoxItem(aData[0]));
                    if (aData[4] == 'True' || aData[4] == 'true') {
                        $('td:eq(1)', nRow).html(parseXmlContentQtiItem(aData[1]));
                        $('td:eq(1)', nRow).attr("onclick", 'showEditQtiItemPopupUpload(' + aData[0] + ',1)');
                    } else {
                        $('td:eq(1)', nRow).html(parseXmlContent1(aData[1]));
                        $('td:eq(1)', nRow).attr("onclick", 'showEditQti3pItemPopup(' + aData[0] + ',1)');
                    }

                    $('td:eq(1)', nRow).addClass('with-tip');
                    $('td:eq(1)', nRow).bind({
                        mouseenter: function () {
                            displayItemTooltip($(this), aData[2], aData[3]);
                        },
                        mouseleave: function () {
                            $(this).removeClass('with-tip');
                            $('#tips div:last-child').html('');
                        }
                    });
                    $('td:eq(1)', nRow).addClass('cursor-pointer');
                    $('td:eq(1)', nRow).attr("onclick", 'showEditQti3pItemPopup(' + aData[0] + ',1)');
                    addWordBreakToTableCellItem($('td:eq(1)', nRow), 35, aData[1]);
                    $('#showPassagesForFoundItem').prop('disabled', false);
                },
                fnPreDrawCallback: function () {
                    ShowBlock($('#dataTable1'), 'Loading');
                    return true;
                },
                fnDrawCallback: function () {
                    firstLoadListItemsFromLibrary = false;
                    LoadImages('#dataTable1');
                    $('.with-tip').tip();
                    $('#dataTable1').unblock();
                    formatTableForAddingVertialScrollBar('dataTable1', 'scrollItemDataTable1', 'noscrollItemDataTable1', 'scrollItemDataTable1IE9', 'noscrollItemDataTable1IE9');
                }
            };
            $("#dataTable1").data("options", options1);
            $("#dataTable1").dataTable();
        };

        $('input[name="ItemLibrarySelection"]').click(function () {
            var isNWEAItemTab = false;
            $('#showPassagesForFoundItem').prop('disabled', true);
            if (!firstLoad) {
                $('#isSearched').val(!firstLoad);
            }
            if ($(this).attr('id') == 'radioPersonalItemLibrary' || $(this).attr('id') == 'radioDistrictItemLibrary') {
                $('#radioNWEAItemLibrary').removeAttr('checked', 'checked');
                if ($(this).attr('checked') == 'checked') {
                    firstLoadListItemsFromLibraryNew = true;
                    if (!firstLoad) {
                        ReloadItem2();
                    }
                    $('#searchByPassage').prop('disabled', false);
                }
            }
            if ($(this).attr('id') == 'radioNWEAItemLibrary') {
                isNWEAItemTab = true;
                $('#radioPersonalItemLibrary').removeAttr('checked', 'checked');
                $('#radioDistrictItemLibrary').removeAttr('checked', 'checked');
                if ($(this).attr('checked') == 'checked') {
                    showNWEAItemLibraryFilter();
                    $('#selectSource').show();
                    if ($('#selectSource').val() == 'select') {
                        $('#searchByPassage').prop('disabled', true);
                    } else if ($('#selectSource').val() == 1) {
                        $("#selectSource").trigger("change");
                    }
                    InitDataQti3pSource();
                    InitDatatableNWEA();
                }
                firstLoadListItemsFromLibrary = false;
            }
            updateFilterUI();
            setDisabledFillterButton(isNWEAItemTab);
            $('#idKeyword').val('');
            $("select").not('#selectSource').not('.block-pagination select').prop('selectedIndex', 0);
            //personal and district item library
            $('#txtKeyword').val('');
            $('#txtStandard').val('');
            $('#txtTopic').val('');
            $('#txtSkill').val('');
            $('#txtOther').val('');
            $('#txtDistrictTag').val('');
            $('#dvStandardTreeView').html('<span>Please use the filters to search</span>');
            $('#txtRefObjectTitle').val('');
            getCriteriaSchema();
            ShowItemGridViewByActiveTab();
        });

        updateFilterUI();
    });

    $("#setFilter").die("click");
    $("#setFilter").click(function () {
        firstLoadListItemsFromLibraryNew = false;
        $('#showPassagesForFoundItem').prop('disabled', true);
        $('#isSearched').val(true);
        showItemFilterResult(true);
        showPassageResult(false);
        if (!$('#radioNWEAItemLibrary').is(':checked')) {
            ReloadItem2();//
        }
    });

    $("#clearFilter").click(function () {
        $('#idKeyword').val('');
        $("select").not('#selectSource').not('.block-pagination select').prop('selectedIndex', 0);
        //personal and district item library
        $('#txtKeyword').val('');
        $('#txtStandard').val('');
        $('#txtTopic').val('');
        $('#txtSkill').val('');
        $('#txtOther').val('');
        $('#txtDistrictTag').val('');
        $('#dvStandardTreeView').html('<span>Please use the filters to search</span>');
        $('#txtRefObjectTitle').val('');
        //clearStandardFilter();
        setDisableFilterNWEA();
    });

    $("#clearFilterPassage").click(function () {
        $("#tab-passage-criteria select").prop('selectedIndex', 0);
        $('#txtRefObjectTitle').val('');
    });

    function showNWEAItemLibraryFilter() {
        $('#divStandardContainer').parent().show();
        $('#divStandardContainerNew').parent().hide();
        $('#divItemCriteria').parent().show();
        $('#divItemCriteriaNew').parent().hide();

        $('#qti3pItemResult').show();
        $('#qtiItemResult').hide();
        $("#setFilterNWEA").show();
        $("#setFilter").hide();

        $('#selectPassageGrade').show();
        $('#selectPassageGradeNew').hide();

        $('#selectPassageSubject').show();
        $('#selectPassageSubjectNew').hide();

        if (!$('#qti3pItemResult').html() || $('#qti3pItemResult').html().trim().length == 0) {
            var url = '@Url.Action("LoadListItemsFromLibraryNew", "ItemBank")';
            $.get(url,
                function (data) {
                    $('#qti3pItemResult').html(data);
                });
        } else {
            ReloadItem1ForEmpty();
        }

        $("#fsNonNWEACriteria").hide();
        $("#fsNWEACriteria").show();

        //load standart for filter
        $('#divStandardContainerNew').html('');
        $.ajax({
            url: '@Url.Action("LoadStandardFilter","ItemBank")',
            cache: false
        })
        .done(function (html) {
            $('#divStandardContainer').html(html);

            //Always show for Third-Party Libraries tab
            ToggleStandardCriteria();
        });

        $('#lblPassageNumberFilter').show();
        $('#selectPassageNumber').val('');
        $('#selectPassageNumber').show();
        $('#txtRefObjectTitle').val('');

        $('#lblWordCountFilter').show();
        $('#selectWordCount').show();
        $('#selectWordCount').val(0);
        $('#selectPassageTitle').show();
        $('#txtRefObjectTitle').hide();
    }

    function ShowItemGridViewByActiveTab(){
        var activeTab = $('.itemLibraryTab').find('.itemLibraryTab-list-item.active').data('tab');

        if(activeTab == 'tab-item-criteria-new'){
            showItemFilterResult(true);
            showPassageResult(false);
        }

        if(activeTab == 'tab-passage-criteria'){
            showItemFilterResult(false);
            showPassageResult(true);
        }
    }
</script>

<script>
    $('#fsNWEACriteria').coolfieldset();
    $('#fsNonNWEACriteria').coolfieldset();
    var viewModelItemLibrary;

    $(function () {
        viewModelItemLibrary = new CreateItemFromLibraryViewModel();
        ko.applyBindings(viewModelItemLibrary, document.getElementById('divItemFromLibrary'));

        bindEvents();
        $('#fsNWEACriteria').coolfieldset({ collapsed: true });
        $('#fsNonNWEACriteria').coolfieldset({ collapsed: true });
    });

    function bindEvents() {
        $('button[data-dialog="close"]').die('click');
        $(document).on('click', 'button[data-dialog="close"]', function (e) {

            var self = $(e.target);
            self.closest('.dialog').dialog('close');

        });

    }
    var isShowQtiItem = false;
    function showEditQtiItem(qtiItemId, showPassage) {
        $.ajax({
            url: '@Url.Action("CheckQtiItemExists", "ItemBank")',
            data: { qtiItemId: qtiItemId },
            type: 'get',
            cache: false
        }).done(function (response) {
            if (response.Exists == 'False') {
                alert(response.errorMessage);
                return;
            } else {

                if (isShowQtiItem == true) return;
                isShowQtiItem = true;

                if (showPassage == null) {
                    showPassage = 0;
                }
                //Show popup
                var worker = $('<div />');
                worker
                    .addClass("dialog EditQtiItemPopUpDialogCSS")
                    .attr("id", "editQtiItemDialog")
                    .appendTo("body")
                    .load('@Url.Action("ShowEditQtiItemItem")\?qtiItemId=' + qtiItemId + '&showPassage=' + showPassage, function() {
                        worker.dialog({
                            title: $(this).attr("Standard"),
                            open: function() {
                                //a new overlay will be generated when opening an dialog
                                //set zindex of new overlay to make it cover Filter Item From Library Popup
                                var z_index = $("#addNewItemFromLibraryPopup").parent().css('z-index');
                                $('.ui-widget-overlay:last').css('z-index', parseInt(z_index) + 1);
                                $("#editQtiItemDialog").parent().css('z-index', parseInt(z_index) + 2);
                                $("#editQtiItemDialog").prev().css('top', '30px');
                                $('.ui-widget-overlay:last').height(2000);
                                try {
                                    if ($("#qtiItemDataTablePopup").length > 1) {
                                        $("#qtiItemDataTablePopup").unblock();
                                    }

                                } catch (e) {

                                }
                                AdjustQtiItemDetail(); //declared in _QtiItemDetail.cshtml
                                var qtiItemHTML = $('#divQtiItemDetail').html();
                                qtiItemHTML = qtiItemHTML.replace(/<videolinkit/g, "<video").replace(/<\/videolinkit>/g, "</video>").replace(/<sourcelinkit /g, "<source ").replace(/<\/sourcelinkit>/g, "</source>");
                                $('#divQtiItemDetail').html(qtiItemHTML);
                                $('#divQtiItemDetail').find('video').trigger('play');
                                // Load content in file qtiItemLoadMedia.js
                                loadContentImageHotSpot('#divQtiItemDetail');
                                loadContentDragAndDrop('#divQtiItemDetail');
                                loadContentNumberLineHotspot('#divQtiItemDetail');
                                loadContentGlossary('#divQtiItemDetail', '#glossaryMessage');
                            },
                            close: function() {
                                $('.ui-widget-overlay:last').remove();
                                $(this).remove();
                                $('#tips').html('');
                                isShowQtiItem = false;

                                // Stop text to speech
                                if (!!responsiveVoice) {
                                    responsiveVoice.cancel();
                                }
                            },
                            modal: false,
                            width: 480,
                            resizable: false
                        });
                    });
                showModalDialogBG();
            }
        }).error(function(request) {
        });

    }

    function showModalDialogBG() {
        var win = $('body');
        $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; height: ' + win.height() + 'px; z-index: 1001;"></div>');
    }

    function AddSelectListItems(selectList, results, defaultValue) {
        if (results == null) {
            return;
        }
        if (results.length == 0) {
            return;
        }

        selectList.empty();
        selectList.append($("<option></option>").attr("value", "-1").text(defaultValue));

        $.each(results, function(i, value) {
            selectList
                .append($("<option></option>")
                    .attr("value", value.Id)
                    .text(value.Name));
        });

    }

    var binding = false;

    function reloadItemBanks() {
        $('#selectItemsBankId').empty();

        if (itemBanksPersonalData == null) {
            binding = true;
            var url = '';
            if ($('#radioPersonalItemLibrary').is(':checked') && $('#radioDistrictItemLibrary').is(':checked')) {
                url = '@Url.Action("GetItemBanksPersonalAndDistrict", "ItemBank")';
            } else {
                if ($('#radioPersonalItemLibrary').is(':checked')) {
                    url = '@Url.Action("GetItemBanksPersonal", "ItemBank")';
                }
                if ($('#radioDistrictItemLibrary').is(':checked')) {
                    url = '@Url.Action("GetItemDistrict", "ItemBank")';
                }
            }

            if (url.length > 0 && binding == true) {
                $('#selectItemsBankId').empty();
                binding = false;
                $.get(url, function (data) {
                    AddSelectListItems($('#selectItemsBankId'), data, 'All');

                });
            }
        } else {
            AddSelectListItems($('#selectItemsBankId'), itemBanksPersonalData, 'All');
            itemBanksPersonalData = null;//clear after first use
        }
    }
</script>

<script type="text/javascript">

    var itemBanksPersonalData = null;
    function getItemBanksPersonal() {
        var url = '@Url.Action("GetItemBanksPersonal", "ItemBank")';
        $.ajax({
            url: url,
            type: 'get',
            cache: false,
            data: {}
        }).done(function (data) {
            itemBanksPersonalData = data;
        });
    }

    function LoadImages(containerSelector) {
        $(containerSelector).find("img").each(function () {
            var image = $(this);
            var imageUrl = image.attr("src");
            if (IsNullOrEmpty(imageUrl)) {
                imageUrl = image.attr("source");
            }

            if (IsNullOrEmpty(imageUrl)) imageUrl = '@Url.Content("~/Content/images/emptybg.png")';

            var testItemMediaPath = $('#hidTestItemMediaPath').val();
            var isLoadImage = imageUrl.indexOf(testItemMediaPath) != -1;

            if (isLoadImage) imageUrl = imageUrl.replace(testItemMediaPath, '');

            if (imageUrl.charAt(0) == '/') imageUrl = imageUrl.substring(1);

            image.attr("source", '');
            image.attr("src", imageUrl);
            if (imageUrl.toLowerCase().indexOf("http") == 0) return;
            if (((imageUrl && imageUrl.toLowerCase().indexOf("itemset") >= 0) || isLoadImage)
                && imageUrl.toLowerCase().indexOf("getviewreferenceimg") < 0) {
                imageUrl = '/TestAssignmentRegrader/GetViewReferenceImg?imgPath=' + imageUrl;
                imageUrl = imageUrl + "&timestamp=" + new Date().getTime();
                image.attr("src", imageUrl);
            }
        });

        ResizeImagesBaseOnPercent('#qtiItemDataTable');
    }

    function IsNullOrEmpty(value) {
        return typeof (value) === "undefined" || value == null || $.trim(value) == '';
    }
</script>
<script type="text/javascript" src="/Scripts/TestDesign/TestDesign.js"></script>
<!-- Search by Passage -->
<script>

    $("#searchByPassage").die("click");
    $("#searchByPassage").click(function () {
        firstLoadListItemsFromLibrary = false;
        firstLoadListItemsFromLibraryNew = false;
        $('#isSearched').val(true);
        if (isCheckedNWEAItemLibrary()) {
            ReloadPassageItem3p();//defined in _ListItemsPassage.cshtml
        }
        else {
            $('#dataTablePassageItem').removeAttr('style');
            ReloadPassageItem();//defined in _ListItemsPassageNew.cshtml
        }
        showItemFilterResult(false);
        showPassageResult(true);
        $('#dataTablePassageItem3p').removeAttr('width');
    });

    $("#showPassagesForFoundItem").die("click");
    $("#showPassagesForFoundItem").click(function () {
        $('#isSearched').val(true);
        firstLoadListItemsFromLibrary = false;
        firstLoadListItemsFromLibraryNew = false;

        if (isCheckedNWEAItemLibrary()) {
            $('#dataTablePassageItem3p').removeAttr('width');
            reloadPassageForFoundItem(false)
        }
        else {
            $('#dataTablePassageItem').removeAttr('style');
            reloadPassageForFoundItem(true)
        }
        
        $('li[data-tab="tab-passage-criteria"]').click();
        $("#clearFilterPassage").click();
        showItemFilterResult(false);
        showPassageResult(true);
    });

    $("#selectSource").change(function () {
        firstLoadListItemsFromLibrary = true;
        setDisableFilterNWEA();
        if (isSearchedItem()) {
            updateFilterUI();;
        }
        if (PopulateSate != undefined) {
            ShowBlock($('#divStateStandards'), 'Loading');
            PopulateSate();//populate state standard on filter
        }
        if ($(this).val() == 1) // 1 = Navigate
        {
            $('#divItemCriteria label#selectItemTypeLabel').show();
            $('#divItemCriteria select#selectItemType').show();
            $("#lblItemType").text('All');
        }
        else {
            $('#divItemCriteria label#selectItemTypeLabel').hide();
            $('#divItemCriteria select#selectItemType').hide();
        }
        if ($('#radioNWEAItemLibrary').is(':checked')) {
            $('#divListItem').show();
            $('#qti3pItemResult').show();
            $('#qtiItemResult').hide();
        }

        ShowItemGridViewByActiveTab();
    });
</script>

<script>

    function load3pItem() {
        if ($('#radioNWEAItemLibrary').is(':checked')) {
            if (!is3pUpload()) {
                $('#qti3pItemResult').show();
                $('#qtiItemResult').hide();
                $('#qti3pItemUploadResult').hide();
                if (ReloadItem1 != undefined) {
                    ReloadItem1(true);//defined in _ListItemsFromLibrary.cshtml
                }
            } else { //load 3p from upload (Progress, Certica,..)
                $('#qti3pItemResult').hide();
                $('#qtiItemResult').hide();
                $('#qti3pItemUploadResult').show();
                if ($('#qti3pItemUploadResult').html().trim().length == 0) {
                    var url = '@Url.Action("LoadListItemsFromLibraryUpload", "ItemBank")';
                    $.get(url,
                        function (data) {
                            $('#qti3pItemUploadResult').html(data);
                        });
                } else {
                    ReloadItemUpload();//defined in _ListItemsFromLibraryUpload.cshtml
                }

            }

        }
    }
</script>
