@model LinkIt.BubbleSheetPortal.Web.ViewModels.SATReport.SATReportMasterViewModel
<style>
    .col_StudentHistory .tblDiagnostic {
        width: 700px !important;
    }

    .tblDiagnostic thead th {
        padding: 10px 3px !important;
    }
</style>
<div class="section">
    <div class="table-title">
        DIAGNOSTIC HISTORY
    </div>

    <table class="act" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width: 63px;" class="border-bottom">Test Date</th>
                <th style="width: 170px;" class="border-bottom">Diag Form</th>

                @{
                    if (Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Any() == false)
                    {
                        return;
                    }
                    var maxSubScoreItems = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Max(x => x.SubScores.Count);
                    var firstScoreItem = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.First(x => x.SubScores.Count == maxSubScoreItems);
                    if (Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Any(x => x.IsSelected))
                    {
                        firstScoreItem = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.First(x => x.IsSelected);
                    }
                    var subScoreList = firstScoreItem.SubScores.Select(x => x.SectionName).ToList();
                }

                @foreach (var scoreItem in subScoreList)
                {
                    if (scoreItem != "Composite")
                    {
                        <th class="border-bottom">@scoreItem</th>
                    }
                    else
                    {
                        <th class="border-bottom">Total</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Count; i++)
            {
                var item = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels[i];
                string cssClass = "";
                if (item.IsSelected)
                {
                    cssClass = "selected-item";
                }
                <tr class="@cssClass">
                    <td>@item.TestDateText</td>
                    <td style="word-break:break-all;">@item.TestName</td>

                    @foreach (var subScoreName in subScoreList)
                    {
                        var scoreItem = item.SubScores.FirstOrDefault(x => x.SectionName == subScoreName);
                        if (scoreItem != null)
                        {
                            <td class="text-center">@scoreItem.ScoreText</td>
                        }
                        else
                        {
                            <td class="text-center">0</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>