@using LinkIt.BubbleSheetPortal.Web.Helpers
@model LinkIt.BubbleSheetPortal.Models.SGO.ViewSGOAuditTrailsDTO
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.ReportItemSGOManager, "SGO AuditTrail",true);

    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}


@*@MvcHtmlString.Create(
    Bundle.Css()
        .Add(@Url.Content("~/Content/css/custom.css"))
        .Add(@Url.Content("~/Content/css/sgohome.css"))
        .Render("/Content/themes/Constellation/css/sgo_audittrail_combined_#.css")
     )*@
@*@MvcHtmlString.Create(
    Bundle.JavaScript()
        .Add("/Content/themes/AssignmentRegrader/js/css_browser_selector.js")
        .Add("/Scripts/knockout-3.0.0.js")
            .Render("/Content/themes/Constellation/js/sgo_audittrail_combined_#.js")
    )*@

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleSGOAuditBundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptSGOAuditBundle()

<article class="container_12">
    <section class="grid_12">
        @Html.Partial("v2/_AuditTrailList")
    </section>
</article>
