@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Testdesign, "Tags");
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}
@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

<style>
    #portal-v2-containter .ui-dialog div.ui-dialog-content {
        display: flex;
        justify-content: center;
    }

        #portal-v2-containter .ui-dialog div.ui-dialog-content section {
            width: 100%
        }
</style>

<article class="container_12" style="padding-bottom: 0px">
    <section class="grid_12">
        <div class="block-border" id="selectFilters">
            <div id="divFilterLessons" class="block-content block-24 form bubbleSheetSelector">
                <h1>Tags</h1>
                <div class="d-flex flex-row align-center">
                    <div class="d-flex flex-row align-center">
                        <input id="radioLinkitDefaultCategories" type="radio" name="QtiItemTagCategory" checked="checked" class="QtiItemTagCategory me-2" />
                        <label for="radioLinkitDefaultCategories" style="line-height: 1.5">Linkit Default Category</label>
                    </div>
                    <div class="d-flex flex-row align-center ms-3">
                        <input id="radioDistrictCategories" type="radio" name="QtiItemTagCategory" class="QtiItemTagCategory me-2" />
                        <label for="radioDistrictCategories" style="line-height: 1.5">@LabelHelper.DistrictLabel Category</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<article class="container_12">
    <div class="">
        <div id="divLinkitDefaultTagFilter">
            @Html.Partial("v2/_LinkitDefaultTagFilter")
        </div>
        <div id="divDistrictFilter">

        </div>
    </div>
</article>

<script type="text/javascript">
    $(function () {
        var selectedOption = '@ViewBag.SelectOption';
        if (selectedOption == 'DistrictTag') {//recover @LabelHelper.DistrictLabel Category search
            $("#radioDistrictCategories").attr("checked", true);
            LoadItemTagCategory();
        }
    });

    $('.QtiItemTagCategory').die('click');
    $('.QtiItemTagCategory').live("click", function(e) {
        if ($('#radioLinkitDefaultCategories').is(':checked')) {
            $('#divLinkitDefaultTagFilter').show();
            $('#divDistrictFilter').hide();
        }
        if ($('#radioDistrictCategories').is(':checked')) {
            LoadItemTagCategory();
        }
    });

    function LoadItemTagCategory() {
        $('#divLinkitDefaultTagFilter').hide();
        $('#divDistrictFilter').show();
        var url = '@Url.Action("LoadItemTagCategory","ItemTag")?\stateId=@ViewBag.StateId'+ '&districtId=@ViewBag.DistrictId' + '&searchBoxText=' + encodeURIComponent('@ViewBag.searchBoxText');
        $.ajax({
            url: url,
            cache: false
        })
            .done(function(html) {
                $('#divDistrictFilter').html(html);
                setTimeout(function () {
                    $('#divDistrictFilter #main-nav').hide();
                    $('#divDistrictFilter #main-nav-header').hide();
                })
            });
    }

</script>
