@using LinkIt.BubbleSheetPortal.Common.Enum
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportMasterViewModel
<style>
    .col_StudentHistory .tblDiagnostic {
        width: 635px !important;
    }
    @if (Model.VirtualTestSubTypeId == (int) VirtualTestSubType.ACT)
    {
        <text>
        .tblDiagnostic thead th {
            padding: 10px 7px !important;
        }
        </text>
    }

</style>
<div style="padding-top:24px;">
    <div>
        <div id="composite-chart" class="chart-container" style="margin-left:-30px;width:50%;float:left"></div>
        <div style="width:47%;float:right;height:160px;position:relative">
            <div id="english-chart" style="position:absolute;top:0;left:0;width:50%;height:50%;">1</div>
            <div id="math-chart" style="position:absolute;top:0;right:0;width:47%;height:50%;">2</div>
            <div id="reading-chart" style="position:absolute;top:46%;left:0;width:50%;height:50%;">3</div>
            <div id="science-chart" style="position:absolute;top:46%;right:0;width:47%;height:50%;">4</div>
        </div>
    </div>

    <div class="table-title">
        DIAGNOSTIC HISTORY
    </div>

    <table class="act">
        <thead>
            <tr style="border-bottom:1px solid">
                <th style="width: 80px;">Test Date &nbsp;</th>
                <th>Diag Form</th>
                <th class="text-center width70">Composite</th>
                <th class="text-center width70">English</th>
                <th class="text-center width70">Math</th>
                <th class="text-center width70">Reading</th>
                <th class="text-center width70">Science</th>
                <th class="text-center width70">Writing</th>
                @if (Model.VirtualTestSubTypeId == (int)VirtualTestSubType.ACT && Model.UseNewACTStudentFormat == false)
                {
                    <th class="text-center width70">E/W</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Count; i++)
            {
                var item = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels[i];
                string style = "";
                if (item.IsSelected)
                {
                    style = "background-color:#d5d6d8";
                }
                <tr style="@style">
                    <td class="" style="@style;vertical-align:middle">@item.TestDateText</td>
                    <td class="" style="@style word-break:break-all;">@item.TestName</td>
                    <td class="text-center">@item.CompositeScoreText</td>
                    <td class="text-center">@item.EnglishScoreText</td>
                    <td class="text-center">@item.MathScoreText</td>
                    <td class="text-center">@item.ReadingScoreText</td>
                    <td class="text-center">@item.ScienceScoreText</td>
                    <td class="text-center">@item.WritingScoreText</td>
                    @if (Model.VirtualTestSubTypeId == (int)VirtualTestSubType.ACT && Model.UseNewACTStudentFormat == false)
                    {
                        <td class="text-center">@item.EnglishWritingScoreText</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    var model = @Html.Raw(Json.Encode(Model.DiagnosticHistoryViewModel.TestAndScoreViewModels));
    _actReport.initDateForCharts(model);
    _actReport.renderDiagnosticHistoryChart("composite-chart", "english-chart", "math-chart", "reading-chart", "science-chart");
</script>