@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportViewModel
@if (Model.IsPublisher || Model.IsNetworkAdmin)
{
    <fieldset id="publisherContentSAT" class="grey-bg">
        <legend>Select State/@LabelHelper.DistrictLabel</legend>
        <div class="columns">
            <div class="colx2-left">
                <div class="mb-3 ">
                    <label>State</label>
                    <select id="selectStateSAT"></select>
                </div>
            </div>
            <div class="colx2-right">
                <div class="mb-3 block-content-dropdown-marquee">
                    <label>@LabelHelper.DistrictLabel</label>

                    <div class="block-text-name">
                        <select id="selectDistrictSAT"></select>
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}
<fieldset class="grey-bg">
    <legend>Select Test</legend>
    <div class="columns">
        <div class="colx2-left">
            <div class="mb-3">
                <label>@LabelHelper.GradeLabel</label>
                <select id="selectGradeSAT"></select>
            </div>
            <div class="mb-3 block-content-dropdown-marquee">
                <label>@LabelHelper.Subject</label>

                <div class="block-text-name">
                    <select id="selectSubjectSAT"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="colx2-right">
            <div class="mb-3 block-content-dropdown-marquee">
                <label>Bank</label>

                <div class="block-text-name">
                    <select id="selectBankSAT"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
           <div class="mb-3 block-content-dropdown-marquee">
                <label>Test</label>
                <div class="block-text-name">
                    <select id="selectTestSAT"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>
<div class="clear"></div>
<fieldset class="grey-bg">
    <legend>Select Students</legend>
    <div id="divSingleClass" class="columns">
        <div class="colx2-left">
            <div class="mb-3 block-content-dropdown-marquee">
                <label>School</label>

                <div class="block-text-name">
                    <select id="selectSchoolSAT"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="mb-3 block-content-dropdown-marquee">
                <label>Teacher</label>

                <div class="block-text-name">
                    <select id="selectTeacherSAT"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="colx2-right">
            <div class="mb-3 block-content-dropdown-marquee">
                <label>
                    Term
                </label>

                <div class="block-text-name">
                    <select id="selectTermSAT"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
            <div class="mb-3 block-content-dropdown-marquee">
                <label>Class</label>

                <div class="block-text-name">
                    <select id="selectClassSAT"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="studentContentSAT" style="display: none">
        <div class="tabs-content" style="margin-bottom: 10px;">
            <div class="columns" id="studentsListSAT">
                <ul id="studentsSAT" class="generate-student-list generate-student-list-custom with-icon icon-user student-col"></ul>
            </div>
            <div class="clear"></div>
        </div>
        <div>
            <button type="button" name="select-all" onclick="selectAllStudentsSAT()">Select All</button>
            <button type="button" name="select-none" onclick="selectNoStudentsSAT()">Select None</button>
            <button type="button" name="invert-select" onclick="invertSelectedStudentsSAT()">Invert Selection</button>
        </div>
    </div>
    <div id="divMultiClassSAT" style="display: none;">
    </div>
</fieldset>
<div class="clear"></div>

<fieldset class="grey-bg" id="fsReportContentOption">
    <legend>Report Content Options</legend>
    <div class="columns">
        <div class="colx2-left">
            <p>
                <label>Options</label>
                <select id="selectReportContentOption">
                    <option value="1">Include scores only</option>
                    <option value="2">Include scores and essays</option>
                    <option value="3">Include essays only</option>
                </select>
            </p>
        </div>
        <div class="colx2-right">
        </div>
    </div>
</fieldset>

@if (Model.IncludeStateInformation)
{
    <fieldset class="grey-bg" id="ksReportContentOption">
        <legend>Report Content Options</legend>
        <div class="columns">
            <div class="colx2-left">
                <p>
                    <label>Include State Information</label>
                    <select id="selectStateInformation">
                    </select>
                </p>
            </div>
            <div class="colx2-right">
            </div>
        </div>
    </fieldset>
}


<button class="float-right" id="btnSubmitSAT" type="button">Generate</button>
<div class="clear"></div>

<script type="text/javascript">
    $.ajaxSetup({ cache: false });

    $(function () {
        $('#selectDistrictSAT').marquee();
        $('#selectSubjectSAT').marquee();
        $('#selectBankSAT').marquee();
        $('#selectTestSAT').marquee();
        $('#selectSchoolSAT').marquee();
        $('#selectTeacherSAT').marquee();
        $('#selectTermSAT').marquee();
        $('#selectClassSAT').marquee();
        @{
            var CONTROLLER = "SATReportOld";
        }

        @if (Model.IsPublisher)
        {
            <text>
        $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (states) {
            populateStatesSAT(states);
        });

        </text>
        }
        else if (Model.IsNetworkAdmin)
        {
            <text>
        $.get('@Url.Action("GetStatesForNetworkAdmin", "PopulateStateDistrict")', function (states) {
            populateStatesSAT(states);
        });

        </text>
        }
        else
        {
            <text>

        $.get('@Url.Action("GetGrades", "PopulateReporting")', { districtId: '-1', virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (grades) {
            populateGradesSAT(grades);
        });
        </text>
        }

        @*$.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (states) {
            populateStateInformation(states);
        });*@

        $('#selectStateSAT').change(function () {
            $('#selectDistrictSAT').empty();
            $('#selectGradeSAT').empty();
            $('#selectSubjectSAT').empty();
            $('#selectBankSAT').empty();
            $('#selectTestSAT').empty();

            $('#selectSchoolSAT').empty();
            $('#selectTeacherSAT').empty();
            $('#selectTermSAT').empty();
            $('#selectClassSAT').empty();
            $('#studentContentSAT').hide();
            $('#studentsSAT').html('');
            if ($('#selectStateSAT').val() != 'select') {
                populateDistrictsSAT();
            }
        });

        $('#selectDistrictSAT').change(function () {
            $('#selectGradeSAT').empty();
            $('#selectSubjectSAT').empty();
            $('#selectBankSAT').empty();
            $('#selectTestSAT').empty();

            $('#selectSchoolSAT').empty();
            $('#selectTeacherSAT').empty();
            $('#selectTermSAT').empty();
            $('#selectClassSAT').empty();
            $('#studentContentSAT').hide();
            $('#studentsSAT').html('');
            populateGradesByDistrictSAT();
        });

        $('#selectGradeSAT').change(function () {
            $('#selectSubjectSAT').empty();
            $('#selectBankSAT').empty();
            $('#selectTestSAT').empty();

            $('#selectSchoolSAT').empty();
            $('#selectTeacherSAT').empty();
            $('#selectTermSAT').empty();
            $('#selectClassSAT').empty();
            $('#studentContentSAT').hide();
            $('#studentsSAT').html('');
            populateSubjectsSAT();
        });

        $('#selectSubjectSAT').change(function () {
            $('#selectBankSAT').empty();
            $('#selectTestSAT').empty();

            $('#selectSchoolSAT').empty();
            $('#selectTeacherSAT').empty();
            $('#selectTermSAT').empty();
            $('#selectClassSAT').empty();
            $('#studentContentSAT').hide();
            $('#studentsSAT').html('');
            populateBanksSAT();
        });

        $('#selectBankSAT').change(function () {
            $('#selectTestSAT').empty();

            $('#selectSchoolSAT').empty();
            $('#selectTeacherSAT').empty();
            $('#selectTermSAT').empty();
            $('#selectClassSAT').empty();
            $('#studentContentSAT').hide();
            $('#studentsSAT').html('');
            populateTestsSAT();
        });

        $('#selectTestSAT').change(function () {
            $('#selectSchoolSAT').empty();
            $('#selectTeacherSAT').empty();
            $('#selectTermSAT').empty();
            $('#selectClassSAT').empty();
            $('#studentContentSAT').hide();
            var testId = $('#selectTestSAT').val();
            var vSelectDistrict = $('#selectDistrictSAT').val();
            if (testId != 'select' && testId != '') {
                $.get('@Url.Action("GetSchools", "PopulateReporting")', { virtualtestId: testId, districtId: vSelectDistrict, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (schools) {
                    populateSchoolsSAT(schools);
                });
            }
        });

        $('#selectSchoolSAT').change(function () {
            $('#selectTeacherSAT').empty();
            $('#selectTermSAT').empty();
            $('#selectClassSAT').empty();
            $('#studentContentSAT').hide();
            if ($('#selectSchoolSAT').val() != 'select') {
                populateTeachersSAT();
            }
        });

        $('#selectTeacherSAT').change(function () {
            $('#selectClassSAT').empty();
            $('#selectTermSAT').empty();
            $('#studentContentSAT').hide();
            $('#studentsSAT').html('');

            if ($('#selectTeacherSAT').val() != 'select') {
                populateTermsSAT();
            }
        });

        $('#selectTermSAT').change(function () {
            populateClassesSAT();
        });

        $('#selectClassSAT').change(function () {
            populateStudentsSAT();
        });

        $('#btnSubmitSAT').click(function (e) {
            //e.preventDefault();
            //clear error message
            $("#error-messages").html('');
            $("#error-messages").hide();
            $('#btnSubmitSAT').disableBt();
            ShowBlock($('#ACTPageContent'), "Generating reports");


            var studentsIdSelected = [];

            $(".student-item[isSelected=yes]").each(function () {
                studentsIdSelected.push($(this).attr('studentId'));
            });

            var timezoneOffset = new Date().getTimezoneOffset();
            var suffix = displayDateWithFormat((new Date()).getTime(), true);
            suffix = replace(suffix, '/', '-');
            suffix = replace(suffix, ':', '-');
            suffix = replace(suffix, ' ', '-');
            var reportFileName = "SAT_Report_" + suffix + "_" + getRandomString() + ".pdf";
            var reportingUrl = '@Url.Action("Generate", CONTROLLER)';

            var reportType = $('#reportType').val();
            if (reportType == 'KnowsysSATStudentReport') {
                reportFileName = "Knowsys_SAT_Report_" + suffix + "_" + getRandomString() + ".pdf";
                reportingUrl = '@Url.Action("Generate", "KnowsysSATReport")';
            }


            var data = {
                TestId: $('#selectTestSAT').val(),
                DistrictId: $('#selectDistrictSAT').val(),
                TeacherId: $('#selectTeacherSAT').val(),
                StudentIdList: studentsIdSelected,
                TimezoneOffset: timezoneOffset,
                ActReportFileName: reportFileName,
                ClassId: $('#selectClassSAT').val(),
                ReportContentOption: $('#selectReportContentOption').val(),
                StateInformationId: $('#selectStateInformation').val(),
                VirtualTestSubTypeId: getVirtualTestSubTypeId()
            };

            $.ajax({
                url: reportingUrl,
                traditional: true,
                type: 'POST',
                data: data,
                success: function (response) {
                    if (response.Url != null) console.log(response.Url);
                    if (response.IsSuccess != false) {
                        $('#error-messages').hide();
                    }
                    else {
                        addErrorMessages(response);
                        $('#ACTPageContent').unblock();
                        $('#btnSubmitSAT').enableBt();
                    }

                    // Do nothing here, file will be downloaded when existed on S3 using getACTS3File function
                },
                failure: function (response) {
                    $('#ACTPageContent').unblock();
                    $('#btnSubmitSAT').enableBt();
                },
                timeout: 300000
            });

            getSATS3File(reportFileName);
        });
    });

    function getRandomString() {
        return Math.random().toString(36).substring(2, 14);
    }

    function getSATS3File(checkUrl) {
        $.ajax({
            url: '@Url.Action("CheckS3FileExisted", CONTROLLER)',
            type: 'POST',
            data: { fileName: checkUrl },
            success: function (response) {
                if (response.Result != true) {
                    setTimeout(function () {
                        getSATS3File(checkUrl);
                    }, 3000);
                }
                else {
                    $("#aGeneratePDFSuccessSAT").live("click", function (e) {
                        $(this).attr("href", response.Url);
                        $("#popupConfirmSAT").dialog("close");
                    });

                    var dialog = $("#popupConfirmSAT")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () {
                        },
                        modal: true,
                        width: 330,
                        resizable: false
                    })
                    .load(this.href, function () { });

                    $('#ACTPageContent').unblock();
                    $('#btnSubmitSAT').enableBt();
                }
            }
        });
    }

    function populateGradesByDistrictSAT() {
        $('#selectGradeSAT').empty();
        $('#selectSubjectSAT').empty();
        var districtValue = $('#selectDistrictSAT').val();
        if (districtValue != 'select') {
            $.get('@Url.Action("GetGrades", "PopulateReporting")', { districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (grades) {
                populateGradesSAT(grades);
            });
        }
    }

    function populateDistrictsSAT() {
        $('#selectDistrictSAT').empty();
        var stateValue = $('#selectStateSAT').val();
        if (stateValue != 'select') {
            @if (Model.IsPublisher)
            {
                <text>
            $.get('@Url.Action("GetDistricts", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                addDefaultOption($('#selectDistrictSAT'), "@LabelHelper.DistrictLabel");
                addSelectListItems($('#selectDistrictSAT'), districts);
            });
            </text>
            }
            else if (Model.IsNetworkAdmin)
            {
                <text>
                 $.get('@Url.Action("GetDistrictsForNetworkAdmin", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                     addDefaultOption($('#selectDistrictSAT'), "@LabelHelper.DistrictLabel");
                addSelectListItems($('#selectDistrictSAT'), districts);
            });
             </text>
            }

        }
    }

    function populateSchoolsByDistrictSAT() {
        $('#selectSchoolSAT').empty();
        var districtValue = $('#selectDistrictSAT').val();
        if (districtValue != 'select') {
            $.get('@Url.Action("GetSchools", "PopulateReporting")', { districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (schools) {
                populateSchoolsSAT(schools);
            });
        }
    }

    function populateTeachersSAT() {
        $('#selectTeacherSAT').empty();
        var districtValue = $('#selectDistrictSAT').val();
        var schoolValue = $('#selectSchoolSAT').val();
        var testValue = $('#selectTestSAT').val();
        if (schoolValue != 'select') {
            $.get('@Url.Action("GetTeachers", "PopulateReporting")', { districtId: districtValue, schoolId: schoolValue, virtualTestId: testValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (teachers) {
                addDefaultOption($('#selectTeacherSAT'), "Teacher");
                addSelectListWithDefaultValue($('#selectTeacherSAT'), teachers, 'select', function (item) {
                    return (item.FirstName) ? item.LastName + ", " + item.FirstName + " (" + item.Name + ")" : item.LastName + " (" + item.Name + ")";
                });
            });
        }
    }

    function populateStatesSAT(states) {
        addDefaultOption($('#selectStateSAT'), "State");
        addSelectListItems($('#selectStateSAT'), states);
    }

    function populateStateInformation(states) {
        addDefaultOption($('#selectStateInformation'), "State");
        addSelectListItems($('#selectStateInformation'), states);
    }

    function populateSchoolsSAT(schools) {
        addDefaultOption($('#selectSchoolSAT'), "School");
        addSelectListItems($('#selectSchoolSAT'), schools);
    }

    function populateGradesSAT(grades) {
        $('#selectGradeSAT').empty();
        addDefaultOption($('#selectGradeSAT'), "@LabelHelper.GradeLabel");
        addSelectListItems($('#selectGradeSAT'), grades);
    }

    function populateSubjectsSAT() {
        resetSubjectsSAT();
        var gradeValue = $('#selectGradeSAT').val();
        var districtValue = 0;
        if ($('#selectDistrictSAT').length && $('#selectDistrictSAT').val() != null && $('#selectDistrictSAT').val() != 'select') {
            districtValue = $('#selectDistrictSAT').val();
        }
        if (gradeValue != 'select') {
            $.get('@Url.Action("GetSubjects", "PopulateReporting")', { gradeId: gradeValue, districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (subjects) {
                addDefaultOption($('#selectSubjectSAT'), "@LabelHelper.Subject");
                addSelectListItems($('#selectSubjectSAT'), subjects);
            });
        }
    }

    function populateBanksSAT() {
        resetBanksSAT();
        var subjectValue = $('#selectSubjectSAT').val();
        var districtValue = 0;
        if ($('#selectDistrictSAT').length && $('#selectDistrictSAT').val() != null && $('#selectDistrictSAT').val() != 'select') {
            districtValue = $('#selectDistrictSAT').val();
        }
        if (subjectValue != 'select') {
            $.get('@Url.Action("GetBanks", "PopulateReporting")', { subjectIds: subjectValue, districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (banks) {
                addDefaultOption($('#selectBankSAT'), "Bank");
                addSelectListItems($('#selectBankSAT'), banks);
            });
        }
    }

    function populateTestsSAT() {
        $('#selectTestSAT').empty();

        var bankValue = $('#selectBankSAT').val();
        if (bankValue != null && bankValue != 'select') {
            var districtValue = 0;
            if ($('#selectDistrictSAT').length && $('#selectDistrictSAT').val() != null && $('#selectDistrictSAT').val() != 'select') {
                districtValue = $('#selectDistrictSAT').val();
            }
            $.get('@Url.Action("GetTests", "PopulateReporting")', { bankId: bankValue, districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (tests) {
                addDefaultOption($('#selectTestSAT'), "Test");
                addSelectListItems($('#selectTestSAT'), tests);
            });
        }
    }

    function populateClassesSAT() {
        $('#selectClassSAT').empty();
        $('#studentsSAT').html('');
        var termValue = $('#selectTermSAT').val();
        var districtValue = $('#selectDistrictSAT').val();
        var teacherValue = $('#selectTeacherSAT').val();
        var testValue = $('#selectTestSAT').val();
        var schoolValue = $('#selectSchoolSAT').val();
        if (termValue != 'select') {
            $.get('@Url.Action("GetClasses", "PopulateReporting")', { districtId: districtValue, schoolId: schoolValue, termId: termValue, userId: teacherValue, virtualTestId: testValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (classes) {
                addDefaultOption($('#selectClassSAT'), "Class");
                addSelectListItems($('#selectClassSAT'), classes);
            });
        }
    }

    function populateStudentsSAT() {
        var classValue = $('#selectClassSAT').val();
        var testValue = $('#selectTestSAT').val();
        if (classValue != 'select') {
            $('#studentContentSAT').show();
            $.get('@Url.Action("SATGetStudents", CONTROLLER)', { classId: classValue, virtualTestId: testValue }, function (students) {
                $('#studentsSAT').html('');
                addStudentsToListSAT($('#studentsSAT'), students);
                selectAllStudentsSAT();
            });
        } else {
            $('#studentContentSAT').hide();
        }
    }

    function addStudentsToListSAT(el, students) {
        var $el = $(el);
        var studentHtml = [];

        for (var i = 0, len = students.length; i < len; i++) {
            var student = students[i];
            studentHtml.push('<li studentId="' + student.StudentId + '" class="student-item"><a href="javascript:void(0)">' + student.FullName + '</a></li>');
        }

        $el.html(studentHtml.join(''));
    }

    function resetSubjectsSAT() {
        $('#selectSubjectSAT').empty();
        resetBanksSAT();
    }

    function resetBanksSAT() {
        $('#selectBankSAT').empty();
        $('#selectTestSAT').empty();

    }

    function selectAllStudentsSAT() {
        $('.student-col').children().attr('isselected', "yes");
        $('.student-col').children().css('background-color', "#82CAFA");
    }

    function selectNoStudentsSAT() {
        $('.student-col').children().attr('isselected', "no");
        $('.student-col').children().css('background-color', "#f2f2f2");
    }

    function invertSelectedStudentsSAT() {
        $('.generate-student-list li').each(function () {
            if ($(this).attr('isselected') == "yes") {
                $(this).attr('isselected', "no");
                $(this).css('background-color', "#f2f2f2");
            } else {
                $(this).attr('isselected', "yes");
                $(this).css('background-color', "#82CAFA");
            }
        });
    }

    function populateTermsSAT() {
        $('#selectTermSAT').empty();
        var districtValue = $('#selectDistrictSAT').val();
        var teacherValue = $('#selectTeacherSAT').val();
        var schoolValue = $('#selectSchoolSAT').val();
        var testValue = $('#selectTestSAT').val();

        $.get('@Url.Action("GetTerms", "PopulateReporting")', { districtId: districtValue, schoolId: schoolValue, userId: teacherValue, virtualTestId: testValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (terms) {
            addDefaultOption($('#selectTermSAT'), "@LabelHelper.Term");
            addSelectListItems($('#selectTermSAT'), terms);
        });
    }

    function ReplaceLocalTime() {
        //Set Local Time
        $('.toLocalTime').each(function () {
            var element = $(this);
            var currentValue = element.text().trim();

            var localTimeUtc = moment.utc(currentValue).toDate();

            element.html(displayDateWithFormat(localTimeUtc.valueOf(), true));
        });
    }
</script>
