@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportMasterViewModel

<div>
    <table class="act student-info" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100px;"><b>Student ID</b></td>
            <td>@Model.StudentInformation.StudentID</td>
        </tr>
        <tr>
            <td><b>Student</b></td>
            <td id="@Model.StudentInformation.StudentID">@Model.StudentInformation.StudentName</td>
        </tr>
        <tr>
            <td><b>Class</b></td>
            <td>
                @if (!string.IsNullOrEmpty(Model.StudentInformation.ReportClassName))
                {
                    <text>
                        @Model.StudentInformation.ReportClassName
                    </text>
                }
                else
                {
                    <text>
                        @Model.StudentInformation.TestResultClassName
                    </text>
                }
            </td>
        </tr>
        <tr>
            <td><b>Teacher</b></td>
            <td>
                @if (!string.IsNullOrEmpty(Model.StudentInformation.ReportTeacherName))
                {
                    <text>
                        @Model.StudentInformation.ReportTeacherName
                    </text>
                }
                else
                {
                    <text>
                        @Model.StudentInformation.TestResultTeacherName
                    </text>
                }
            </td>
        </tr>
    </table>
</div>