@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportMasterViewModel
@{
    ViewBag.Title = "Report";
}

<article class="container_12">
    <section class="grid_12">
        <div>
            @using (Html.BeginForm("Print", "ACTReport", null, FormMethod.Post))
            {
                <input type="submit" value="Download"/>
            }
        </div>
        
        <div class="block-border">
            <div>
                ACT SCORE REPORT
                <br/>
                Test: @Model.StudentInformation.TestName
                <br/>
                Date: @Model.StudentInformation.TestDate.DisplayDateWithFormat()
            </div>
            <div class="block-content form">
                <div>
                    @Html.Partial("_StudentInformation", Model)
                    @Html.Partial("_DiagnosticHistory", Model)
                    @Html.Partial("_SectionWithTagReport", Model)
                    @Html.Partial("_ScoreSummaryReport", Model.ACTSummaryScoreViewModel)
                </div>
            </div>
        </div>
        
    </section>
</article>
<style>
            @@media print {
            
                thead {display: table-header-group;}
            }
        </style>