@model int
<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/dialog-draggable.css")" rel="stylesheet" type="text/css" />

<style>
    .center {
        text-align: center !important;
    }
</style>

<article class="container_12" style="margin-top: 2px; width: 700px;">
    <section class="grid_9">
        <div class="block-border">
            <div class="block-content form p-4 block-content-margin">
                <div class="d-flex align-items-center justify-content-between mt-3 mb-4">
                    <h3 class="p-0 h3 modal-heading mb-0">
                        Published @LabelHelper.DistrictLabels
                    </h3>
                    @if (ViewBag.IsPublisher || ViewBag.IsNetworkAdmin)
                    {
                        <text>
                            <a class="btn btn-link pe-0" id="shareNewDistrict" href="#" onclick="displayShareNewDistrictView(event)">
                                Share to new @LabelHelper.DistrictLabel
                                <i class="fa-solid fa-plus ms-2"></i>
                            </a>
                        </text>
                    }
                </div>
                <div id="notification" class="publish-message">
                    @if (!ViewBag.IsPublisher)
                    {
                        <ul style="display: none" id="success-message" class="message success">
                            <li>The template has been published to the @LabelHelper.DistrictLabel.</li>
                        </ul>
                    }
                </div>
                <div class="datatable-wrapper last-child">
                    <table id="dataTablePublishedDistrict" class="datatable table mt-2" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" class="black-cell"><span class="loading"></span></th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    @LabelHelper.DistrictLabel Name
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="height: 60px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-component-footer mx-n4 px-4">
                    <div slot="footer"><button id="btnCloseUserClick" type="button" data-dialog="close">Close</button></div>
                </div>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    $(function () {
        var options = {
            bDestroy: true,
            bServerSide: true,
            bFilter: true,
            bPaginate: true,
            sAjaxSource: '@Url.Action("GetPublishedDistricts")?templateId=@Model',
            oLanguage: { 'sSearch': ''},
            bAutoWidth: false,
            aLengthMenu: [10, 25, 50],
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'int', sName: 'TemplateDatalockerDistrictId', bSearchable: false, bSortable: false, sWidth: '40px', sClass: 'alignRight' },
                { sType: 'string', sName: 'DistrictName', bSearchable: true, bSortable: true }
            ],
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTablePublishedDistrict'), "Loading");
                $('#dataTablePublishedDistrict').find('.loading').show();
                return true;
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).addClass('center');
                $('td:eq(0)', nRow).html(setIconVisibility(aData[0]));
            },
            fnDrawCallback: function () {
                $('#dataTablePublishedDistrict').unblock();
                $('.with-tip').tip();
                $('#dataTablePublishedDistrict').find('.loading').hide();
            },
            fnInitComplete: function () {
                tranformSearchInputDataTable('dataTablePublishedDistrict_filter')
            }
        };

        function setIconVisibility(templateDistrictId) {
            var deleteIcon = '<span class="icon fa-solid fa-circle-xmark icon-red"></span>';
            var deleteIconHtml = '<a href="#" id="btn' + templateDistrictId + '" title="Remove" class="with-tip d-inline-block" onclick="depublishDistrict(event,' + templateDistrictId + ')">' + deleteIcon + '</a>';

            return deleteIconHtml;
        }

        $("#dataTablePublishedDistrict").data("options", options);
        initializeDataTable($("#dataTablePublishedDistrict"));
    });

    function depublishDistrict(event, templateDistrictId) {
        event.preventDefault();
        confirmMessageV2(
            {
                message: "Do you want to remove this @LabelHelper.DistrictLabel?",
                cbYesBtnFuncName: 'yesDepublishDistricClick(' + templateDistrictId + ')',
                cbCancelBtnFuncName: 'closedepublishDistricClick()',
                cbCloseBtnFuncName: 'closedepublishDistricClick()'
            },
            {
                dialogAttr: {
                    attr: {
                        id: 'depublishDistrictConfirm'
                    }
                }
            }
        )
    }
    function closedepublishDistricClick() {
        $("#depublishDistrictConfirm").dialog("close");
    }
    function yesDepublishDistricClick(templateDistrictId) {
        closedepublishDistricClick()
        $("#btn" + templateDistrictId).hide();
        $.post('@Url.Action("DepublishDistrict")', { templateDistrictId: templateDistrictId }, function (response) {
            if (response == true) {
                LinkIt.success('.publish-message', '@LabelHelper.DistrictLabel is removed');
                ui.dataTablePublishedDistrict.fnDraw();
            } else {
                alert('An error has occured. Please try again.');
            }
        });
    }

    function displayShareNewDistrictView(event) {
        event.preventDefault();
        $('#listDistrictDiv').hide();
        $('#shareDistrictDiv').show();
        $('#shareDistrictDiv').empty();
        $('#shareDistrictDiv').load('@Url.Action("LoadPublishToDistrict")?templateId=@Model', function () {
        });
    }

    $('#btnCloseUserClick').live("click", function (e) {
        $(".dialog").dialog("close");
    });
</script>
