@using LinkIt.BubbleSheetPortal.Web.Helpers
@model LinkIt.BubbleSheetPortal.Models.SGO.VirtualTestCustomScore
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.ResultsEntryDataLocker, "Add Template");
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleDataLockerTemplateBundle()
<link href="@BundleHelper.Version("~/Content/css/v2/data-docker.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/ckeditor4/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/FeLibs/jquery-coolfieldset/js/jquery.coolfieldset.js")" type="text/javascript"></script>
<script src="@Url.Content("/Content/themes/AssignmentRegrader/js/css_browser_selector.js")" type="text/javascript"></script>
<script src="@Url.Content("~/FeLibs/jquery-validation/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/FeLibs/jquery-validation/additional-methods.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.numeric.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/themes/TestMaker/ckeditor_utils.js")" type="text/javascript"></script>

<div class="FileLocation" style="display: none;">FileLocation: SGOSelectDataPoint\Index</div>
<style>
    .bntCreate {
        margin-right: 10px;
    }

    #divTopic .no-margin, #divSkill .no-margin, #divOther .no-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    .wtSpreader {
        width: 100% !important;
    }

    select[name="dataTable_length"] {
        min-width: 60px !important;
    }

    ul.message, .validation-summary-errors ul {
        padding: 6px;
    }

    .attachment-item {
        display: inline-block;
        vertical-align: middle;
    }

        .attachment-item:hover,
        .attachment-item:focus {
            color: #52a6d1;
            cursor: pointer;
        }

        .attachment-item > img {
            width: 22px;
            position: relative;
            top: -1px;
        }
</style>

<style type="text/css">
    .positionAdd {
        position: relative;
        right: -6px;
        top: 26px;
    }

    .ui-widget-header {
        border: 0px solid var(--grey0) !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .ui-widget-overlay {
        background: var(--dark) !important;
    }

    .coolfieldset, .coolfieldset.expanded {
        border: 1px solid var(--grey0);
    }

        .coolfieldset.collapsed {
            border: 0;
            border-top: 1px solid var(--grey0);
        }

        .coolfieldset legend[name="legendTestName"] {
            padding-left: 13px;
            font-weight: bold;
            cursor: pointer;
        }

        .coolfieldset legend[name="legendTestName"], .coolfieldset.expanded legend[name="legendTestName"] {
            background: transparent url(/Content/themes/base/images/expanded.gif) no-repeat center left;
            background-size: 10px 10px;
        }

        .coolfieldset.collapsed legend[name="legendTestName"] {
            background: transparent url(/Content/themes/base/images/collapsed.gif) no-repeat center left;
            background-size: 10px 10px;
        }
</style>

<style>
    .dataTableDefaultTagStyle .dataTables_empty div {
        width: 243px !important;
        text-align: left;
    }

    .dataTableDefaultTagStyle tr td {
        padding-left: 0px;
        padding-right: 0px;
    }

    .dataTableDefaultTagStyle {
        width: 243px !important;
        height: 193px;
    }

        .dataTableDefaultTagStyle tbody img {
            margin-left: 5px !important;
            margin-right: 5px !important;
        }

        .dataTableDefaultTagStyle thead,
        .dataTableDefaultTagStyle tbody {
            display: block;
        }

        .dataTableDefaultTagStyle tbody {
            height: 158px;
            overflow: auto;
            overflow-x: hidden;
        }

            .dataTableDefaultTagStyle tbody td {
                word-wrap: break-word;
            }
            /* Padding content inside div */
            .dataTableDefaultTagStyle tbody tr td div {
                padding-left: 3px !important;
                padding-right: 3px !important;
            }

            .dataTableDefaultTagStyle tbody td:nth-of-type(1) div {
                width: 30px;
            }

            .dataTableDefaultTagStyle tbody td:nth-of-type(2) div {
                width: 200px;
            }

        .dataTableDefaultTagStyle thead th:nth-of-type(1) {
            width: 15px !important;
        }

        .dataTableDefaultTagStyle thead th:nth-of-type(2) {
            width: 188px !important;
        }

    /*********** Has scroll bar ***********/
    .scrolldataTableDefaultTagStyle tbody td:nth-of-type(2) div {
        width: 211px;
    }
    /*********** No scroll bar ***********/
    .noscrolldataTableDefaultTagStyle tbody td:nth-of-type(2) div {
        width: 228px;
    }

    .dataTableDefaultTagStyle .dataTables_empty {
        width: 245px;
    }

    .fieldset-relative {
        position: relative;
    }

    .btn-add-data-point {
        color: #666;
        background: #e7e7e7 url(/Content/themes/Constellation/images/old-browsers-bg/legend-bg.png) repeat-x top;
        background-size: 100% 100%;
        background: -moz-linear-gradient(top, #f8f8f8, #e7e7e7);
        background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e7e7e7));
        line-height: 1.333em;
        padding: 0.125em 0.5em;
        border: 1px solid white;
        border-radius: 0.417em;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        outline: 0;
        position: absolute;
        top: -1px;
    }

        .btn-add-data-point > img {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -1px;
        }

    .btn-add-data-point-pre {
        left: 116px;
    }

    .btn-add-data-point-post {
        left: 145px;
    }

    .gecko .btn-add-data-point {
        top: -23px;
    }

    .gecko .btn-add-data-point-pre {
        left: 150px;
    }

    .gecko .btn-add-data-point-post {
        left: 155px;
    }
</style>

<article class="container_12" id="idTopNavigation">
    <section class="grid_12">
        <div class="block-border" id="selectFilters">

            <div class="block-content form py-5 px-4">
                <div class="row align-items-end">
                    <div class="col col-4">
                        <label>
                            Name
                        </label>
                        <span class="relative">
                            @Html.TextBoxFor(m => m.Name, new { @maxlength = "200", @class = "full-width first-focus" })
                        </span>
                    </div>
                    @*@Html.TextBoxFor(m => m.Name, new { @class = "full-width first-focus",id="name" })*@
                    <div class="col col-4">
                        <div id="divAddMultiDate" style="display: none">
                            <label>Data Entry Mode</label>
                            <select id="addMultipleDate" class="full-width">
                                <option value="false">Single-Date</option>
                                <option value="true">Multi-Date</option>
                            </select>
                        </div>
                    </div>
                    @*@Html.TextBoxFor(m => m.Name, new { @class = "full-width first-focus",id="name" })*@
                    <div class="col col-4">
                        <button id="btnSave" class="float-right btn-accept" type="button">Create Template</button>
                        <div class="clear"></div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    $(function () {
        $('.datalocker').addClass('current');
        $('#datalockerDefineTemplate').addClass('current');
        var parrentHtml = $('.datalocker').html();
        var childrenHtml = $('#datalockerDefineTemplate').html();
        renderBreadcrumb(parrentHtml, childrenHtml);
        CheckDistrictDecode();
    });
    function CheckDistrictDecode() {
        var districtDecode = '@ViewBag.useMutiDate';
        if (districtDecode == 'True') {
            $('#divAddMultiDate').show();
        }
    }
    $('#btnSave').click(function () {
        $('#btnSave').prop('disabled', true);
        var name = $('#Name').val();
        var IsMultiDate = $('#addMultipleDate').val();
        name = name.trim();
        if (name.length == 0) {
            CustomAlert('Please input the name of new template.', false, 450);
            $('#btnSave').prop('disabled', false);
            return;
        }

        var url = '@Url.Action("AddNewTemplate")';

        var data = {
            name: encodeURIComponent(name),
            IsMultiDate: IsMultiDate
        };
        ShowBlock($('#idTopNavigation'), 'Creating');
        $.ajax({
                type: "POST",
                url: url,
                data: data
            })
            .done(function (response) {
                $('#idTopNavigation').unblock();
                $('#btnSave').prop('disabled', false);
                console.log('error', response);
                if (response.success) {
                    var successfullyMessage = 'Template has been created.';
                    CustomAlert(successfullyMessage);
                    setTimeout(function () {
                        url = '@Url.Action("EditTemplate")?id=' + response.templateId;
                        window.location.href = url;;
                    }, 3000);

                } else {
                    CustomAlert(response.error, true);
                }

            });

    });
</script>
