
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@model LinkIt.BubbleSheetPortal.Models.SGO.VirtualTestCustomScore
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.ResultsEntryDataLocker, "Edit Template");
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}
@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleDataLockerTemplateBundle()
<link href="@BundleHelper.Version("~/Content/css/v2/data-docker.css")" rel="stylesheet" />


<script src="@Url.Content("~/Scripts/ckeditor4/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/FeLibs/jquery-coolfieldset/js/jquery.coolfieldset.js")" type="text/javascript"></script>
<script src="@Url.Content("/Content/themes/AssignmentRegrader/js/css_browser_selector.js")" type="text/javascript"></script>
<script src="@Url.Content("~/FeLibs/jquery-validation/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/FeLibs/jquery-validation/additional-methods.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.numeric.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Qtip/jquery.qtip.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/themes/TestMaker/ckeditor_utils.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Lib/table-dragger/table-dragger.min.js")" type="text/javascript"></script>

<div class="FileLocation" style="display: none;">FileLocation: SGOSelectDataPoint\Index</div>
<style>
    .bntCreate {
        margin-right: 10px;
    }

    #divTopic .no-margin, #divSkill .no-margin, #divOther .no-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    .wtSpreader {
        width: 100% !important;
    }

    select[name="dataTable_length"] {
        min-width: 60px !important;
    }

    ul.message, .validation-summary-errors ul {
        padding: 6px;
    }

    .attachment-item {
        display: inline-block;
        vertical-align: middle;
    }

        .attachment-item:hover,
        .attachment-item:focus {
            color: #52a6d1;
            cursor: pointer;
        }

        .attachment-item > img {
            width: 22px;
            position: relative;
            top: -1px;
        }
</style>

<style type="text/css">
    .positionAdd {
        position: relative;
        right: -6px;
        top: 26px;
    }


    /*button {
            margin-left: 30px;
        }*/

    .ui-widget-header {
        border: 0px solid var(--grey0) !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
        /*top: 100px !important;*/
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .ui-widget-overlay {
        background: var(--dark) !important;
    }

    .coolfieldset, .coolfieldset.expanded {
        border: 1px solid var(--grey0);
    }

        .coolfieldset.collapsed {
            border: 0;
            border-top: 1px solid var(--grey0);
        }

        .coolfieldset legend[name="legendTestName"] {
            padding-left: 13px;
            font-weight: bold;
            cursor: pointer;
        }

        .coolfieldset legend[name="legendTestName"], .coolfieldset.expanded legend[name="legendTestName"] {
            background: transparent url(/Content/themes/base/images/expanded.gif) no-repeat center left;
            background-size: 10px 10px;
        }

        .coolfieldset.collapsed legend[name="legendTestName"] {
            background: transparent url(/Content/themes/base/images/collapsed.gif) no-repeat center left;
            background-size: 10px 10px;
        }
</style>

<style>
    .dataTableDefaultTagStyle .dataTables_empty div {
        /*No data*/
        width: 243px !important;
        text-align: left;
    }

    .dataTableDefaultTagStyle tr td {
        padding-left: 0px;
        padding-right: 0px;
    }

    .dataTableDefaultTagStyle {
        width: 243px !important;
        height: 193px;
    }

        .dataTableDefaultTagStyle tbody img {
            margin-left: 5px !important;
            margin-right: 5px !important;
        }

        .dataTableDefaultTagStyle thead,
        .dataTableDefaultTagStyle tbody {
            display: block;
        }

        .dataTableDefaultTagStyle tbody {
            height: 158px;
            overflow: auto;
            overflow-x: hidden;
        }

            .dataTableDefaultTagStyle tbody td {
                /*word-break: break-all;*/
                word-wrap: break-word;
            }
            /* Padding content inside div */
            .dataTableDefaultTagStyle tbody tr td div {
                padding-left: 3px !important;
                padding-right: 3px !important;
            }

            .dataTableDefaultTagStyle tbody td:nth-of-type(1) div {
                width: 30px;
            }

            .dataTableDefaultTagStyle tbody td:nth-of-type(2) div {
                width: 200px;
            }

        .dataTableDefaultTagStyle thead th:nth-of-type(1) {
            width: 15px !important;
        }

        .dataTableDefaultTagStyle thead th:nth-of-type(2) {
            width: 188px !important;
        }

        .dataTableDefaultTagStyle .dataTables_empty {
            width: 245px;
        }

    .fieldset-relative {
        position: relative;
    }

    .btn-add-data-point {
        color: #666;
        background: #e7e7e7 url(/Content/themes/Constellation/images/old-browsers-bg/legend-bg.png) repeat-x top;
        background-size: 100% 100%;
        background: -moz-linear-gradient(top, #f8f8f8, #e7e7e7);
        background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e7e7e7));
        line-height: 1.333em;
        padding: 0.125em 0.5em;
        border: 1px solid white;
        border-radius: 0.417em;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        outline: 0;
        position: absolute;
        top: -1px;
    }

        .btn-add-data-point > img {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -1px;
        }

    .btn-add-data-point-pre {
        left: 116px;
    }

    .btn-add-data-point-post {
        left: 145px;
    }

    .gecko .btn-add-data-point {
        top: -23px;
    }

    .gecko .btn-add-data-point-pre {
        left: 150px;
    }

    .gecko .btn-add-data-point-post {
        left: 155px;
    }

    #tips div:last-child {
        max-width: 600px;
        white-space: normal;
        position: relative;
        pointer-events: initial;
    }

    .custom-top {
        padding-bottom: 10px;
        max-width: 400px;
        z-index: 1111111 !important;
    }

        .custom-top .qtip-content {
            overflow: auto;
        }
</style>

<article class="container_12" id="idTopNavigation">
    <section class="grid_12">
        <div class="block-border" id="divEditTemplateContainer">
            <div class="form bubbleSheetSelector">
                <div class="block-section-custom mb-4">
                    <div class="columns">
                        @Html.Partial("v2/_Section1Property")
                    </div>
                </div>
                <div class="block-section-custom mb-4 border-0 coolfieldset qtiItemSelector fieldset-datapoint fieldset-relative datalocker-define-template" id="fsPreAssessmentDataPoint">
                    @Html.Partial("v2/_Section2OverralScore")
                </div>
                <div class="block-section-custom border-0 coolfieldset qtiItemSelector fieldset-datapoint fieldset-relative datalocker-define-template" style="z-index: auto">
                    @Html.Partial("v2/_Section3Subscore")
                </div>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    var subScoreColumnForCalculate = {};
    $(function () {
        $('.datalocker').addClass('current');
        $('#datalockerDefineTemplate').addClass('current');
        var parrentHtml = $('.datalocker').html();
        var childrenHtml = $('#datalockerDefineTemplate').html();
        renderBreadcrumb(parrentHtml, childrenHtml);
    });

    function getColumnFromExpression(expression) {
        var columns = [];
        if (expression != null && expression.length > 0) {
            var expressionSplit = expression.replace('calculation:', '').replace(/Math\.min|Math\.max/g, '').replace(/[()]/g, '').split(/[ ,\x\*\+\-\/]+/);
            var overallScores = expressionSplit.filter(function (item) { return item.startsWith('0&') }).map(function (m) { return m.replace(/[()\s]/g, '') });
            var subScores = expressionSplit.filter(function (item) { return item.includes('&') && !item.startsWith('0&') }).map(function (m) { return m.replace(/[()\s]/g, '') });
            if (overallScores != null && overallScores.length > 0) {
                overallScores.forEach(function (item) {
                    var scoreSplit = item.split('&');
                    if (scoreSplit.length > 1) {
                        columns.push({ scoreid: 0, column: scoreSplit[1] });
                    }
                });
            }
            if (subScores != null && subScores.length > 0) {
                subScores.forEach(function (item) {
                    var subScoreSplit = item.split('&');
                    if (subScoreSplit.length > 1) {
                        columns.push({ scoreid: subScoreSplit[0], column: subScoreSplit[1] });
                    }
                });
            }
        }
        return columns;
    }

    function buildItemForCalculateDetail(subScoreId, scoreType, overview) {
        var expressions = getColumnFromExpression(overview);
        var expression = expressions.map(function ({ scoreid, column }) {
            return `${scoreid}&${column}`;
        }).join(', ');
        return {
            subScoreId: subScoreId,
            scoreType: scoreType,
            expression: expression
        };
    }
</script>
