@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
<link href='@Url.Content("~/Content/themes/base/jquery.ui.tabs.css")' rel="stylesheet" />
<style type="text/css">
    .ui-tabs.ui-tabs-vertical {
        padding: 0;
        width: 100%;
        border: 0 solid #000000;
    }

        .ui-tabs.ui-tabs-vertical .ui-widget-header {
            border: none;
        }

        .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
            float: left;
            width: 7.5em;
            border-radius: 4px 0 0 4px;
            /*border-right: 1px solid gray;*/
        }

            .ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
                clear: left;
                width: 100%;
                margin: 0.2em 0;
                border: 1px solid gray;
                border-width: 1px 0 1px 1px;
                border-radius: 4px 0 0 4px;
                overflow: hidden;
                position: relative;
                right: 2px;
                z-index: 2;
            }

                .ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
                    display: block;
                    width: 100%;
                    padding: 0.6em 0.2em;
                }

                .ui-tabs.ui-tabs-vertical .ui-tabs-nav li .refeshIcon {
                    padding: 1px 0px 0px 3px;
                    float: left;
                }

                .ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
                    cursor: pointer;
                }

                .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
                    margin-bottom: 0.2em;
                    padding-bottom: 0;
                    border-right: 1px solid white;
                }

                .ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
                    margin-bottom: 10px;
                }

        .ui-tabs.ui-tabs-vertical .ui-tabs-panel {
            border: 1px solid gray;
            border-radius: 4px 4px 4px 4px;
            float: left;
            left: -3px;
            min-height: 17em;
            position: relative;
            width: 55em;
        }

    .ui-widget-header {
        background: transparent;
    }

    .block-content .no-margin {
        margin-left: -.4em;
        margin-right: -.4em;
    }

    .ui-tabs .ui-tabs-nav li {
        border-bottom: 1px solid #808080 !important;
        top: 37px;
    }

        .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
            border-right: 0 solid #CCCCCC !important;
            margin-bottom: 0;
            padding-bottom: 1px;
            padding-right: 1.5px;
            z-index: 9999999 !important;
        }

    .unread {
        font-weight: bold;
    }

    .message-active {
    }

    .block-controls {
        display: block;
    }

    .block-content .no-margin.last-child {
        margin-bottom: 0em;
    }

    #tabs {
        display: none;
    }

        #tabs ul li:hover {
            background: #029CDC;
        }

        #tabs ul li span:hover {
            color: #000;
        }
        .txtinbox{ display: block;float: left;}
    .ui-dialog div.ui-dialog-content {
        overflow: visible;
    }
</style>

<div class="parentConnect">
    <article class="container_12">
        <section class="grid_12">
            <div class="block-border" id="reviewList">
                <div class="block-content form grey-bg">
                    <h1>Mailbox</h1>
                    <div class="last-child">
                        <div id="tabs">
                            <ul>
                                <a id="backToInbox" style="margin-bottom: -36px" href="@Url.Action("Inbox","MailBox")?useState=true" title="Back to inbox"><span></span></a>
                                <li>
                                    <a href="#inbox">
                                        <span id="lbInbox"><span id="lbInboxText" class="txtinbox">Inbox</span><img class="refeshIcon" title="Refresh" src='@Url.Content("~/Content/images/reload.png")'/></span></a>
                                </li>
                                <li style="display: none">
                                    <a href="#grades">@LabelHelper.GradeLabels</a>
                                </li>
                                <li style="display: none">
                                    <a href="#attendence">Attendence</a>
                                </li>
                                <li style="display: none">
                                    <a href="#behavior">Behavior</a>
                                </li>
                                <li style="display: none">
                                    <a href="#homework">Homework</a>
                                </li>
                            </ul>
                            <div id="inbox">
                                @RenderBody()
                            </div>
                            <div style="display: none" id="grades">
                                Content Grades
                            </div>
                            <div style="display: none" id="attendence">
                                Content Attendence
                            </div>
                            <div style="display: none" id="behavior">
                                Content Behavior
                            </div>
                            <div style="display: none" id="homework">
                                Content Homework
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>
<script>
    $(function () {
        $('#tabs')
             .tabs().show().addClass('ui-tabs-vertical ui-helper-clearfix');
    });

    $(window).load(function () {
        SetUnreadMessage();
    });

    function SetUnreadMessage() {
        $.ajax({
            url: '@Url.Action("GetUnreadMessage", "MailBox")',
            type: 'POST',
            success: function (unreadMessage) {
                if (unreadMessage == 0) {
                    $('#lbInboxText').text('Inbox');
                    $('#lbInboxText').css('font-weight', 'normal');
                } else {
                    $('#lbInboxText').text('Inbox' + ' (' + unreadMessage + ')');
                    $('#lbInboxText').css('font-weight', 'bold');
                }
            }
        });
    }

    $("#lbInbox").click(function (e) {
        location.href = '@Url.Action("Inbox", "MailBox")';
        //RefreshInbox(); // Stay in staff view and parent view 
    });
</script>
