@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models.Constants
@using LinkIt.BubbleSheetPortal.Web
@model HandleErrorInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>That was weird</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="none">

    @*<!-- Global stylesheets -->
        <link href="/Content/themes/Constellation/css/reset.css" rel="stylesheet" type="text/css">
        <link href="/Content/themes/Constellation/css/common.css" rel="stylesheet" type="text/css">
        <link href="/Content/themes/Constellation/css/form.css" rel="stylesheet" type="text/css">
        <link href="/Content/themes/Constellation/css/standard.css" rel="stylesheet" type="text/css">
        <link href="/Content/themes/Constellation/css/special-pages.css" rel="stylesheet" type="text/css">

        <!-- Custom styles -->
        <link href="/Content/themes/Constellation/css/simple-lists.css" rel="stylesheet" type="text/css">*@

    @BundleHelper.StyleErrorBundle()

    <!-- Favicon -->
    @Html.Partial("_Favicons")
    <!-- Generic libs -->
    @*<script type="text/javascript" src="/Content/themes/Constellation/js/html5.js"></script><!-- this has to be loaded before anything else -->
        <script type="text/javascript" src="/Scripts/jquery-1.5.1.min.js"></script>

        <!-- Template core functions -->
        <script type="text/javascript" src="/Content/themes/Constellation/js/common.js"></script>
        <script type="text/javascript" src="/Content/themes/Constellation/js/standard.js"></script>
        <!--[if lte IE 8]><script type="text/javascript" src="/Content/themes/Constellation/js/standard.ie.js"></script><![endif]-->
        <script type="text/javascript" src="/Content/themes/Constellation/js/jquery.tip.js"></script>

        <!-- Template custom styles libs -->
        <script type="text/javascript" src="/Content/themes/Constellation/js/list.js"></script>*@

    @BundleHelper.ScriptErrorBundle()

    <!-- Ajax error report -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#send-report').submit(function (event) {
                // Stop full page load
                event.preventDefault();

                var submitBt = $(this).find('button[type=submit]');
                submitBt.disableBt();

                // Target url
                var target = $(this).attr('action');
                if (!target || target == '') {
                    // Page url without hash
                    target = document.location.href.match(/^([^#]+)/)[1];
                }

                var recaptchaResponse = grecaptcha.getResponse();
                if (recaptchaResponse === '') {
                    submitBt.enableBt();
                    return $('#send-report').removeBlockMessages().blockMessage('Please verify the reCAPTCHA.', { type: 'warning' });
                }

                // Request
                var data = {
                    Comment: $('#a').val(),
                    Report: $('#report').val(),
                    Description: $('#description').val(),
                    Sender: $('#sender').val(),
                    Controller: $('#Controller').val(),
                    Action: $('#Action').val(),
                    RecaptchaResponse: recaptchaResponse
                };

                if (data.Description == "") {
                    submitBt.enableBt();
                    return $('#send-report').removeBlockMessages().blockMessage('Please provide a description of the error.', { type: 'warning' });
                }

                // Send
                $.ajax({
                    url: target,
                    dataType: 'json',
                    type: 'POST',
                    data: data,
                    success: function (data, textStatus, XMLHttpRequest) {
                        if (data.IsReceived) {
                            $('#send-report').removeBlockMessages().blockMessage(data.Message, { type: 'success' });
                        }
                        else {
                            var message = data.Message || 'An unexpected error occured, please try again';
                            // Message
                            $('#send-report').removeBlockMessages().blockMessage(message, { type: 'error' });

                            submitBt.enableBt();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        // Message
                        $('#send-report').removeBlockMessages().blockMessage('Error while contacting server, please try again', { type: 'error' });

                        submitBt.enableBt();
                    }
                });

                // Message
                $('#send-report').removeBlockMessages().blockMessage('Please wait, sending report...', { type: 'loading' });
            });
        });
    </script>

</head>

<!-- the 'special-page' class is only an identifier for scripts -->
<body class="special-page error-bg red dark">
    <!-- The template uses conditional comments to add wrappers div for ie8 and ie7 - just add .ie or .ie7 prefix to your css selectors when needed -->
    <!--[if lt IE 9]><div class="ie"><![endif]-->
    <!--[if lt IE 8]><div class="ie7"><![endif]-->

    <section id="error-desc">

        <ul class="action-tabs with-children-tip children-tip-left">
            <li><a href="javascript:history.back()" title="Go back"><img src="/Content/themes/Constellation/images/icons/fugue/navigation-180.png" width="16" height="16"></a></li>
            <li><a href="javascript:window.location.reload()" title="Reload page"><img src="/Content/themes/Constellation/images/icons/fugue/arrow-circle.png" width="16" height="16"></a></li>
        </ul>

        <ul class="action-tabs right with-children-tip children-tip-right">
            <li>
                <a href="#" title="Show/hide<br>error details" onClick="$(document.body).toggleClass('with-log'); return false;">
                    <img src="/Content/themes/Constellation/images/icons/fugue/application-monitor.png" width="16" height="16">
                </a>
            </li>
        </ul>

        <div class="block-border">
            <div class="block-content">

                <h1>LinkIt!</h1>
                <div class="block-header">An error has occurred</div>

                <h2>What happened?</h2>

                <p>@LocalizeHelper.LocalizedWithoutComment(LocalizeResourceKeys.ERROR_MESSAGE)</p>

                <p><b>Event type:</b> Error<br></p>

                <form class="form" id="send-report" method="post" action="@Url.Action("ReportError", "Error")">
                    <fieldset class="grey-bg no-margin collapse">
                        <legend><a href="#">Report error</a></legend>

                        <p>
                            <label for="description" class="light float-left">To report this error, please explain how it happened and click below:</label>
                            <textarea name="description" id="description" class="full-width" rows="4"></textarea>
                        </p>
                        <p>
                            <label for="report-sender" class="grey">Your e-mail address (optional)</label>
                            <span class="float-left"><button type="submit" class="full-width">Report</button></span>
                            <input type="text" name="sender" id="sender" value="" class="full-width" />
                        </p>
                        <div id="divCaptcha" class="g-recaptcha recatcha float-right" data-sitekey="6Lf7ggwTAAAAABY1PZKfYruOIvY8oZae2obJH0os"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <section id="error-log">
        <div class="block-border">
            <div class="block-content">

                <h1>Error details</h1>

                <div class="fieldset grey-bg with-margin">
                    <p>
                        <b>Message</b><br>
                        @*@Model.Exception.ToString()</p>*@
                </div>

            </div>
        </div>
    </section>

    <!--[if lt IE 8]></div><![endif]-->
    <!--[if lt IE 9]></div><![endif]-->
</body>
</html>
