@using System.Configuration
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using Permissions = LinkIt.BubbleSheetPortal.Models.Permissions
@using LinkIt.BubbleSheetPortal.Models

@{
    var currentUser = HttpContext.Current.GetCurrentUser();
    var menuAccess = HelperExtensions.GetMenuForDistrict(currentUser);

    string strSSOURL = HelperExtensions.BuildUserGuide(currentUser);
    var openAllApplicationInSameTab = HelperExtensions.OpenAllApplicationInSameTab;
}
<nav id="main-nav">
    <ul class="container_12">

        <li class="home menu-item">@Html.ActionLink(menuAccess.MainMenuItems[ContaintUtil.Home].Label, "Index", "Home")</li>

        @if (menuAccess != null && currentUser.RoleId != (int)Permissions.Parent && currentUser.RoleId != (int)Permissions.Student)
        {
            if (menuAccess.IsDisplayReporting)
            {

                <li class="stats menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Reporting].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.Reporting].Label</a>
                    <ul>

                        @if (menuAccess.IsDisplayReportACTReport)
                        {
                            <li><a href="@Url.Action("Index", "SpecializedReport")" title="@menuAccess.SubMenuItems[ContaintUtil.ReportItemACTReport].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportItemACTReport].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayReportingDownloadReport)
                        {
                            <li class="download-specialized-report"><a href="@Url.Action("DownloadSpecializedReport", "PopulateReporting")" title="@menuAccess.SubMenuItems[ContaintUtil.ReportingDownloadReport].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportingDownloadReport].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayReportChytenReport)
                        {
                            <li><a href="@Url.Action("Index", "ChytenReport")" title="@menuAccess.SubMenuItems[ContaintUtil.ReportItemChytenReport].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportItemChytenReport].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayReportingItemVueJS)
                        {
                            <li id="reporting-item-vue-js"><a href="@menuAccess.SubMenuItems[ContaintUtil.ReportingItemVueJS].Path" target="_blank" title="@menuAccess.SubMenuItems[ContaintUtil.ReportingItemVueJS].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportingItemVueJS].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayReportingItemCS)
                        {
                            <li><a href="@ConfigurationManager.AppSettings["CurrentReportingHTMLURL"]" target="_blank" title="@menuAccess.SubMenuItems[ContaintUtil.ReportingItemNew].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportingItemCS].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayReportingItemNew)
                        {
                            <li><a href="@ConfigurationManager.AppSettings["ReportingHTMLURL"]" target="_blank" title="@menuAccess.SubMenuItems[ContaintUtil.ReportingItemNew].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportingItemNew].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayDataExplorer)
                        {
                            <li id="data-explorer"><a href="@menuAccess.SubMenuItems[ContaintUtil.DataExplorer].Path" target="_blank" title="@menuAccess.SubMenuItems[ContaintUtil.DataExplorer].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.DataExplorer].Label</a></li>
                        }
                        @if (menuAccess.IsDisplaySGOManager)
                        {
                            <li id="rpSGOManager"><a href="@Url.Action("Index", "SGOManage")" title="@menuAccess.SubMenuItems[ContaintUtil.ReportItemSGOManager].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportItemSGOManager].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayTLDSManager)
                        {
                            <li id="rpTLDSManager"><a href="@Url.Action("Index", "TLDSManage")" title="@menuAccess.SubMenuItems[ContaintUtil.ReportItemTLDSManager].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportItemTLDSManager].Label</a></li>
                        }

                        @if (menuAccess.IsDisplayNavigatorUpload)
                        {
                            <li id="rpNavigatorUpload"><a href="@Url.Action("Upload", "NavigatorReport")" title="@menuAccess.SubMenuItems[ContaintUtil.NavigatorReportUpload].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.NavigatorReportUpload].Label</a></li>
                        }

                        @if (menuAccess.IsDisplayNavigator)
                        {
                            <li id="rpNavigatorReport"><a href="@Url.Action("Index", "NavigatorReport")" title="@menuAccess.SubMenuItems[ContaintUtil.NavigatorReport].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.NavigatorReport].Label</a></li>
                        }

                        @if (menuAccess.IsDisplayAblesReport)
                        {
                            <li id="ablesreport"><a href="@Url.Action("Index", "AblesReport")" title="@menuAccess.SubMenuItems[ContaintUtil.AblesReport].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.AblesReport].Label</a></li>
                        }
                    </ul>
                </li>

            }

            if (menuAccess.IsDisplayInterventionManager)
            {
                <li class="rti menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.InterventionManager].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.InterventionManager].Label</a>
                    <ul>
                        @if (menuAccess.IsIMDashboard)
                        {
                            <li id="imdashboard">
                                <a target="_blank" href="/IM/#/dashboard" title="@menuAccess.SubMenuItems[ContaintUtil.IMDashboard].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.IMDashboard].Label</a>
                            </li>
                        }
                        @if (menuAccess.IsPerformanceCriteria)
                        {
                            <li id="performanceCriteria">
                                <a target="_blank" href="/Content/HtmlModules/studentReport/#/intervention-manager/performance-list" title="@menuAccess.SubMenuItems[ContaintUtil.PerformanceCriteria].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.PerformanceCriteria].Label</a>
                            </li>
                        }
                        @if (menuAccess.IsGroupingModel)
                        {
                            <li id="groupingModel">
                                <a target="_blank" href="/Content/HtmlModules/studentReport/#/intervention-manager/grouping-list" title="@menuAccess.SubMenuItems[ContaintUtil.GroupingModel].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.GroupingModel].Label</a>
                            </li>
                        }
                    </ul>
                </li>
            }

            if (menuAccess.IsDisplayTestDesign)
            {
                <li class="write menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Testdesign].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.Testdesign].Label</a>
                    <ul>
                        @if (menuAccess.IsDisplayTestdesignAssessmentItemNew)
                        {
                            <li id="assesmenItemRewrite">
                                <a href="@Url.Action("Index", "ItemBank")" title="@menuAccess.SubMenuItems[ContaintUtil.TestdesignAssessmentItemHTML].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestdesignAssessmentItemHTML].Label</a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayTestCloneItemBanks)
                        {
                            <li id="assesmenItemRewrite"><a href="@Url.Action("IndexCloneItemBank", "ItemBank")" title="@menuAccess.SubMenuItems[ContaintUtil.TestCloneItemBanks].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestCloneItemBanks].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayTestdesignManageTest)
                        {
                            <li id="manageTests"><a href="@Url.Action("Index", "ManageTest")" title="@menuAccess.SubMenuItems[ContaintUtil.TestdesignManageTest].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestdesignManageTest].Label</a></li>
                        }

                        @if (menuAccess.IsDisplayTestdesignPassageNew)
                        {
                            <li id="passageEditor"><a href="@Url.Action("Index", "PassageEditor")" title="@menuAccess.SubMenuItems[ContaintUtil.TestdesignPassageNew].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestdesignPassageNew].Label</a></li>
                        }


                        @if (menuAccess.IsDisplayTestdesignTags)
                        {
                            <li id="qtiItemTags"><a href="@Url.Action("Index", "QTIItemTag")" title="@menuAccess.SubMenuItems[ContaintUtil.TestdesignTags].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestdesignTags].Label</a></li>
                        }

                        @if (menuAccess.IsDisplayTestdesignAssementOld)
                        {
                            //Assessment Items (Old)
                            <li><a href="@Url.Action("AssessmentItemsOld", "Test")" title="@menuAccess.SubMenuItems[ContaintUtil.TestdesignAssementOld].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestdesignAssementOld].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayTestdesignPassagesOld)
                        {
                            //Passages (Old)
                            <li><a href="@Url.Action("PassagesOld", "Test")" title="@menuAccess.SubMenuItems[ContaintUtil.TestdesignPassagesOld].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestdesignPassagesOld].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayTestdesignTestsOld)
                        {
                            //Tests (Old)
                            <li><a href="@Url.Action("TestsOld", "Test")" title="@menuAccess.SubMenuItems[ContaintUtil.TestdesignTestsOld].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestdesignTestsOld].Label</a></li>
                        }

                        @if (menuAccess.IsDisplayTestdesignRubric)
                        {
                            <li><a href="@Url.Action("Index", "Rubric")" title="@menuAccess.SubMenuItems[ContaintUtil.TestdesignRubric].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestdesignRubric].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayItemLibraryManagement)
                        {
                            <li><a href="@Url.Action("Index", "ItemLibraryManagement")" title="@menuAccess.SubMenuItems[ContaintUtil.ItemLibraryManagement].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ItemLibraryManagement].Label</a></li>
                        }

                        @if (menuAccess.IsDisplayTestdesignManageAuthorGroup)
                        {
                            <li id="manageAuthorGroup">
                                <a href="@Url.Action("AuthorGroupList", "Assessment")" title="@menuAccess.SubMenuItems[ContaintUtil.TestdesignManageAuthorGroup].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestdesignManageAuthorGroup].Label</a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayTestdesignUpload3pItemBank)
                        {
                            <li id="Upload3pItemBank">
                                <a href="@Url.Action("Index", "Upload3pItemBank")" title="@menuAccess.SubMenuItems[ContaintUtil.TestdesignUpload3pItemBank].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TestdesignUpload3pItemBank].Label</a>
                            </li>
                        }
                    </ul>
                </li>
            }
            if (menuAccess.IsDisplayMgmtBubbleSheets)
            {
                <li id="generateTab" class="bubbles menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Managebubblesheets].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.Managebubblesheets].Label</a>
                    <ul>
                        @if (menuAccess.IsDisplayMgmtbbsCreate)
                        {
                            <li>
                                <a href="@Url.Action("Generate", "GenerateBubbleSheet")" title="@menuAccess.SubMenuItems[ContaintUtil.ManagebubblesheetsCreate].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.ManagebubblesheetsCreate].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayMgmtbbsGrade)
                        {
                            <li>
                                <a href="@Url.Action("Grade", "BubbleSheet")" title="@menuAccess.SubMenuItems[ContaintUtil.ManagebubblesheetsGrade].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.ManagebubblesheetsGrade].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayMgmtbbsReview)
                        {
                            <li id="managebubblesheetsReview">
                                <a href="@Url.Action("Index", "BubbleSheetReview")" title="@menuAccess.SubMenuItems[ContaintUtil.ManagebubblesheetsReview].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.ManagebubblesheetsReview].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayMgmtbbsProcessError)
                        {
                            <li>
                                <a href="@Url.Action("ProcessErrors", "ErrorCorrection")" title="@menuAccess.SubMenuItems[ContaintUtil.ManagebubblesheetsError].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.ManagebubblesheetsError].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayMgmtbbsImportGroup)
                        {
                            <li>
                                <a href="@Url.Action("ImportGroup", "GroupPrinting")" title="@menuAccess.SubMenuItems[ContaintUtil.ManagebubblesheetsGimport].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.ManagebubblesheetsGimport].Label
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            if (menuAccess.IsDisplayOnlineTest)
            {
                <li class="testing menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Onlinetesting].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.Onlinetesting].Label</a>
                    <ul>
                        @if (menuAccess.IsDisplayOnlineTestItem)
                        {
                            <li>
                                @*Assign Online Tests (Old)*@
                                <a href="@Url.Action("AssignTests", "Test", new {id = "testAssignment"})" title="@menuAccess.SubMenuItems[ContaintUtil.OnlinetestingItem].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.OnlinetestingItem].Label
                                </a>
                            </li>
                        }

                        @if (menuAccess.IsDisplayOnlineTestAssignRewrite)
                        {
                            <li><a href="@Url.Action("Index", "TestAssignment")" title="@menuAccess.SubMenuItems[ContaintUtil.OnlineTestAssignmentRewrite].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.OnlineTestAssignmentRewrite].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayOnlineTestAssignReview)
                        {
                            <li><a href="@Url.Action("Index", "TestAssignmentReview")" title="@menuAccess.SubMenuItems[ContaintUtil.OnlineTestAssignmentReview].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.OnlineTestAssignmentReview].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayMonitorTestTaking)
                        {
                            <li><a href="@Url.Action("Index", "MonitoringTestTaking")" title="@menuAccess.SubMenuItems[ContaintUtil.OnlineTestMonitorTestTaking].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.OnlineTestMonitorTestTaking].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayOnlineTestPreference)
                        {
                            <li>
                                <a href="@Url.Action("Index", "TestPreference")" title="@menuAccess.SubMenuItems[ContaintUtil.OnlinetestPreference].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.OnlinetestPreference].Label
                                </a>
                            </li>
                        }

                        @if (menuAccess.IsDisplayOnlineTestLockUnlockBank)
                        {
                            <li>
                                <a href="@Url.Action("LockUnlockTestBanks", "TestPreference")" title="@menuAccess.SubMenuItems[ContaintUtil.OnlinetestLockUnlockBank].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.OnlinetestLockUnlockBank].Label
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            if (menuAccess.IsDisplayResultsEntryDataLocker)
            {
                <li class="datalocker menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.ResultsEntryDataLocker].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.ResultsEntryDataLocker].Label</a>
                    <ul>
                        @if (menuAccess.IsDisplayDefinTemplates)
                        {
                            <li id="datalockerDefineTemplate"><a href="@Url.Action("Index", "DataLocker")" title="@menuAccess.SubMenuItems[ContaintUtil.Definetemplates].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.Definetemplates].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayBuildEntryForms)
                        {
                            <li id="datalockerBuildEntryForm"><a href="@Url.Action("Index", "DataLockerEntryForm")" title="@menuAccess.SubMenuItems[ContaintUtil.BuildEntryForms].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.BuildEntryForms].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayEntryResults)
                        {
                            <li id="datalockerEnterResult"><a href="@Url.Action("EnterResults", "DataLockerEntryResult")" title="@menuAccess.SubMenuItems[ContaintUtil.EnterResults].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.EnterResults].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayDataLockerPreferences)
                        {
                            <li id="datalockerPreferences"><a href="@Url.Action("Index","DataLockerPreferences")" title="@menuAccess.SubMenuItems[ContaintUtil.DataLockerPreferences].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.DataLockerPreferences].Label</a></li>
                        }
                    </ul>
                </li>
            }
            if (menuAccess.IsDisplaySurveyModule)
            {
                <li class="surveymodule menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.SurveyModule].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.SurveyModule].Label</a>
                    <ul>
                        @if (menuAccess.IsDisplayManageSurveys)
                        {
                            <li id="liManageSurveys"><a href="@Url.Action("Index", "ManageSurvey")" title="@menuAccess.SubMenuItems[ContaintUtil.ManageSurveys].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ManageSurveys].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayAssignSurveys)
                        {
                            <li id="liAssignSurveys"><a href="@Url.Action("Index", "AssignSurvey")" title="@menuAccess.SubMenuItems[ContaintUtil.AssignSurveys].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.AssignSurveys].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayReviewSurveys)
                        {
                            <li id="liReviewSurveys"><a href="@Url.Action("Index", "ReviewSurvey")" title="@menuAccess.SubMenuItems[ContaintUtil.ReviewSurveys].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReviewSurveys].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayTakeSurveys)
                        {
                            <li id="liTakeSurveys"><a href="@Url.Action("Index", "TakeSurvey")" title="@menuAccess.SubMenuItems[ContaintUtil.TakeSurveys].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TakeSurveys].Label</a></li>
                        }
                    </ul>
                </li>
            }

            if (menuAccess.IsDisplayTestmanagement)
            {
                <li class="TestResult menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Testmanagement].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.Testmanagement].Label</a>
                    <ul>

                        @*@if (menuAccess.IsDisplayTmgmtEinstructionimport)
                        {
                            <li>
                                <a href="@Url.Action("Import", "EInstruction")" title="@menuAccess.SubMenuItems[ContaintUtil.TmgmtEinstructionimport].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.TmgmtEinstructionimport].Label
                                </a>
                            </li>
                        }*@
                        @if (menuAccess.IsDisplayTmgmtTestresultremover)
                        {
                            <li>
                                <a href="@Url.Action("TestResultRemover", "Admin")" title="@menuAccess.SubMenuItems[ContaintUtil.TmgmtTestresultremover].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.TmgmtTestresultremover].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayTmgmtTestregrader)
                        {
                            <li>
                                <a href="@Url.Action("TestRegrader", "Admin")" title="@menuAccess.SubMenuItems[ContaintUtil.TmgmtTestregrader].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.TmgmtTestregrader].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayTmgmtPurgetest)
                        {
                            <li>
                                <a href="@Url.Action("PurgeTest", "Admin")" title="@menuAccess.SubMenuItems[ContaintUtil.TmgmtPurgetest].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.TmgmtPurgetest].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayTmgmtPrinttest)
                        {
                            <li>
                                <a href="@Url.Action("Index", "PrintTest")" title="@menuAccess.SubMenuItems[ContaintUtil.TmgmtPrinttest].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.TmgmtPrinttest].Label
                                </a>
                            </li>
                        }
                        @*@if (menuAccess.IsDisplayTmgmtCustomAssessments)
                        {
                            <li>
                                <a href="@Url.Action("CustomAssessments", "Admin")" title="@menuAccess.SubMenuItems[ContaintUtil.TmgmtCustomAssessments].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.TmgmtCustomAssessments].Label
                                </a>
                            </li>
                        }*@
                        @if (menuAccess.IsDisplayTmgmtExtractTestResult)
                        {
                            <li>
                                <a href="@Url.Action("Index", "TestExtract")" title="@menuAccess.SubMenuItems[ContaintUtil.TmgmtExtractTestResult].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.TmgmtExtractTestResult].Label
                                </a>
                            </li>
                        }

                        @if (menuAccess.IsDisplayTmgmtTestResultTransfer)
                        {
                            <li>
                                <a href="@Url.Action("Index", "TestResultTransfer")" title="@menuAccess.SubMenuItems[ContaintUtil.TmgmtTestResultTransfer].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.TmgmtTestResultTransfer].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayTmgmtTestResultExportGenesis)
                        {
                            <li>
                                <a href="@Url.Action("Index", "TestResultsExport")" title="@menuAccess.SubMenuItems[ContaintUtil.TmgmtTestResultExportGenesis].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.TmgmtTestResultExportGenesis].Label
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            if (menuAccess.IsDisplayLessons)
            {

                <li class="lessons menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Lessons].Tooltip">
                    <a href="#" onclick="location.href='@Url.Action("Index", "LearningLibrarySearch")' ">@menuAccess.MainMenuItems[ContaintUtil.Lessons].Label</a>
                    <ul>
                        @if (menuAccess.IsDisplayLearningLibrarySearch)
                        {
                            <li>
                                <a href="@Url.Action("Index", "LearningLibrarySearch")" title="@menuAccess.SubMenuItems[ContaintUtil.LearningLibrarySearch].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.LearningLibrarySearch].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayLearningLibraryResourceAdmin)
                        {
                            <li id="resourceAdminTab">
                                <a href="@Url.Action("Index", "LearningLibraryAdmin")" title="@menuAccess.SubMenuItems[ContaintUtil.LearningLibraryResourceAdmin].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.LearningLibraryResourceAdmin].Label
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            if (menuAccess.IsDisplayDataAdmin)
            {
                <li class="dataadmin menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.DataAdmin].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.DataAdmin].Label</a>
                    <ul>
                        @if (menuAccess.IsDisplayDadManageuser)
                        {
                            <li id="dtaManageuser">
                                <a href="@Url.Action("ManageUsers", "Admin")" title="@menuAccess.SubMenuItems[ContaintUtil.DadManageuser].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DadManageuser].Label
                                </a>
                            </li>
                        }

                        @if (menuAccess.IsDisplayDadManageSchools)
                        {
                            <li id="dtaManageSchools">
                                <a href="@Url.Action("ManageSchoolAndClass", "ManageClasses")" title="@menuAccess.SubMenuItems[ContaintUtil.DadManageSchools].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DadManageSchools].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayDadManageClasses)
                        {
                            <li id="dtaManageClasses">
                                <a href="@Url.Action("ManageClass", "ManageClasses", new { isNewSession = true})" title="@menuAccess.SubMenuItems[ContaintUtil.DadManageClasses].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DadManageClasses].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayStudentLookup)
                        {
                            <li id="studentManagement">
                                <a href="@Url.Action("Index", "StudentLookup")" title="@menuAccess.SubMenuItems[ContaintUtil.StudentLookup].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.StudentLookup].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayManageParent)
                        {
                            <li id="studentManagement">
                                <a href="@Url.Action("Index", "ManageParent")" title="@menuAccess.SubMenuItems[ContaintUtil.ManageParent].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.ManageParent].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayDadRegisterClass)
                        {
                            <li id="dtaRegisterClasses">
                                <a href="@Url.Action("Index", "RegisterClasses")" title="@menuAccess.SubMenuItems[ContaintUtil.DadManageRegisterClasses].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DadManageRegisterClasses].Label
                                </a>
                            </li>
                        }

                        @if (menuAccess.IsDisplayDadManageRosters)
                        {
                            <li>
                                <a href="@Url.Action("ManageRosters", "Admin")" title="@menuAccess.SubMenuItems[ContaintUtil.DadManageRosters].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DadManageRosters].Label
                                </a>
                            </li>
                        }

                        @if (menuAccess.IsDisplayDadLumos)
                        {
                            <li>
                                <a href="@Url.Action("Lumos", "Admin")" title="@menuAccess.SubMenuItems[ContaintUtil.DadLumos].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DadLumos].Label
                                </a>
                            </li>

                        }
                        @if (menuAccess.IsDisplayManageProgram)
                        {
                            <li id="manageProgramTab">
                                <a href="@Url.Action("Index", "ManageProgram")" title="@menuAccess.SubMenuItems[ContaintUtil.DadManageProgram].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DadManageProgram].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplaySettingItem)
                        {
                            <li class="gear menu-item">@Html.ActionLink(@menuAccess.SubMenuItems[ContaintUtil.SettingItem].Label, "Settings", "Account")</li>
                        }
                        @if (menuAccess.IsDisplayDadManageUserGroup && (currentUser.IsPublisherOrNetworkAdmin || currentUser.IsDistrictAdmin))
                        {
                            <li id="manageUserGroupsTab" class="menu-item">
                                <a href="@Url.Action("ManageUserGroups", "Admin", new { isNewSession = true})" title="@menuAccess.SubMenuItems[ContaintUtil.DadManageUserGroup].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DadManageUserGroup].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayOnlineTestStudentPreference)
                        {
                            <li>
                                <a href="@Url.Action("Index", "StudentPreference")" title="@menuAccess.SubMenuItems[ContaintUtil.OnlinetestStudentPreference].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.OnlinetestStudentPreference].Label
                                </a>
                            </li>
                        }
                        @if (menuAccess.IsDisplayDataAccessManagement)
                        {
                            <li>
                                <a href="@Url.Action("Index", "RestrictionAccessRights")" title="@menuAccess.SubMenuItems[ContaintUtil.DataAccessManagement].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DataAccessManagement].Label
                                </a>
                            </li>
                        }
                    </ul>

                </li>
            }
            if (menuAccess.IsDisplayHelp)
            {
                <li class="settings menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Help].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.Help].Label</a>
                    <ul>
                        @if (menuAccess.IsDisplayHelpResource)
                        {
                            <li>
                                <a href="@Url.Action("Index", "HelpResource")" title="@menuAccess.SubMenuItems[ContaintUtil.HelpResource].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.HelpResource].Label
                                </a>
                            </li>
                        }
                        @if (currentUser.RoleId == (int)Permissions.Publisher)
                        {
                            <li><a href="@Url.Action("Admin", "HelpResource")" title="@menuAccess.SubMenuItems[ContaintUtil.UploadHelp].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.UploadHelp].Label</a></li>
                        }
                        @if (menuAccess.IsDisplayHelpGuide)
                        {
                            <li>
                                <a href="@Url.Action("Index", "UserGuide")" target="_blank" title="@menuAccess.SubMenuItems[ContaintUtil.HelpGuide].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.HelpGuide].Label
                                </a>
                            </li>
                        }

                        @if (menuAccess.IsDisplayHelpIntroduction)
                        {
                            <li>
                                <a href="@Url.Action("Introduction", "Help")" title="@menuAccess.SubMenuItems[ContaintUtil.HelpIntroduction].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.HelpIntroduction].Label
                                </a>
                            </li>
                        }

                        @if (menuAccess.IsDisplayCustomHelp)
                        {
                            if (menuAccess.CustomHelpUrl != "#")
                            {
                                <li>
                                    <a href="@menuAccess.CustomHelpUrl" title="@menuAccess.SubMenuItems[ContaintUtil.CustomHelp].Tooltip" target="Blank">
                                        @menuAccess.SubMenuItems[ContaintUtil.CustomHelp].Label
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="#" title="@menuAccess.SubMenuItems[ContaintUtil.CustomHelp].Tooltip">
                                        @menuAccess.SubMenuItems[ContaintUtil.CustomHelp].Label
                                    </a>
                                </li>
                            }
                        }

                        @if (menuAccess.IsDisplayHelpVideotutorials)
                        {
                            <li>
                                <a href="@Url.Action("VideoTutorials", "Help")" title="@menuAccess.SubMenuItems[ContaintUtil.HelpVideotutorials].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.HelpVideotutorials].Label
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }
        }

        @if (menuAccess != null)
        {
            if (currentUser.RoleId == (int)Permissions.Student || currentUser.RoleId == (int)Permissions.Parent)
            {
                if (menuAccess.IsDisplayReporting)
                {
                    <li class="stats menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Reporting].Tooltip">
                        <a href="#">@menuAccess.MainMenuItems[ContaintUtil.Reporting].Label</a>
                        <ul>
                            @if (menuAccess.IsDisplayReportingTestResult)
                            {
                                if (openAllApplicationInSameTab)
                                {
                                    <li>
                                        <a href="@ConfigurationManager.AppSettings["StudentTestResultReport"]" title="@menuAccess.SubMenuItems[ContaintUtil.ReportingTestResult].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportingTestResult].Label</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@ConfigurationManager.AppSettings["StudentTestResultReport"]" target="_blank" title="@menuAccess.SubMenuItems[ContaintUtil.ReportingTestResult].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportingTestResult].Label</a>
                                    </li>
                                }
                            }
                            @if (menuAccess.IsDisplayReportingTestResultCS)
                            {
                                if (openAllApplicationInSameTab)
                                {
                                    <li>
                                        <a href="@menuAccess.SubMenuItems[ContaintUtil.ReportingTestResultCS].Path" title="@menuAccess.SubMenuItems[ContaintUtil.ReportingTestResultCS].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportingTestResultCS].Label</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@menuAccess.SubMenuItems[ContaintUtil.ReportingTestResultCS].Path" target="_blank" title="@menuAccess.SubMenuItems[ContaintUtil.ReportingTestResultCS].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.ReportingTestResultCS].Label</a>
                                    </li>
                                }
                            }
                            @if (menuAccess.IsDisplayNavigator)
                            {
                                <li id="rpNavigatorReport"><a href="@Url.Action("Index", "NavigatorReport")" title="@menuAccess.SubMenuItems[ContaintUtil.NavigatorReport].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.NavigatorReport].Label</a></li>
                            }
                        </ul>
                    </li>
                }

                if (menuAccess.IsDisplayOnlineTesting)
                {
                    <li class="testing menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Onlinetesting].Tooltip">
                        @if (menuAccess.IsDisplayOnlineTesting)
                        {
                            <a href="#" onclick="location.href='@Url.Action("Index", "StudentOnlineTesting")' ">@menuAccess.MainMenuItems[ContaintUtil.Onlinetesting].Label</a>
                        }

                        <ul>
                            @if (menuAccess.IsDisplayOnlineTesting)
                            {
                                <li><a href="@Url.Action("Index", "StudentOnlineTesting")" title="@menuAccess.SubMenuItems[ContaintUtil.OnlineTesting].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.OnlineTesting].Label</a></li>
                            }
                        </ul>
                    </li>
                }

                if (menuAccess.IsDisplayResultsEntryDataLocker)
                {
                    <li class="datalocker menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.ResultsEntryDataLocker].Tooltip">
                        @if (menuAccess.IsDisplayDataLockerAttachmentForStudent)
                        {
                            <a href="#" onclick="location.href='@Url.Action("AttachmentForStudents", "DataLockerForStudent")' ">@menuAccess.MainMenuItems[ContaintUtil.ResultsEntryDataLocker].Label</a>
                        }

                        <ul>
                            @if (menuAccess.IsDisplayDataLockerAttachmentForStudent)
                            {
                                <li><a href="@Url.Action("AttachmentForStudents", "DataLockerForStudent")" title="@menuAccess.SubMenuItems[ContaintUtil.AttachmentForStudent].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.AttachmentForStudent].Label</a></li>
                            }
                        </ul>
                    </li>
                }

                if (menuAccess.IsDisplaySurveyModule)
                {
                    <li class="surveymodule menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.SurveyModule].Tooltip">
                        <a href="#">@menuAccess.MainMenuItems[ContaintUtil.SurveyModule].Label</a>
                        <ul>
                            @if (menuAccess.IsDisplayTakeSurveys)
                            {
                                <li id="liTakeSurveys"><a href="@Url.Action("Index", "TakeSurvey")" title="@menuAccess.SubMenuItems[ContaintUtil.TakeSurveys].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TakeSurveys].Label</a></li>
                            }
                        </ul>
                    </li>
                }

                if (menuAccess.IsDisplayHelp)
                {
                    <li class="settings menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Help].Tooltip">
                        <a href="#">@menuAccess.MainMenuItems[ContaintUtil.Help].Label</a>
                        <ul>
                            @if (menuAccess.IsDisplayHelpResource)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "HelpResource")" title="@menuAccess.SubMenuItems[ContaintUtil.HelpResource].Tooltip">
                                        @menuAccess.SubMenuItems[ContaintUtil.HelpResource].Label
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

            }
        }
        @if (menuAccess != null && currentUser.RoleId != (int)Permissions.Student && (currentUser.IsOrginalPublisher || currentUser.IsOrginalNetworkAdmin || (currentUser.RoleId != (int)Permissions.Parent)))
        {
            if (menuAccess.IsDisplayTechSupport)
            {
                <li class="techsupport menu-item" title="@menuAccess.MainMenuItems[ContaintUtil.Techsupport].Tooltip">
                    <a href="#">@menuAccess.MainMenuItems[ContaintUtil.Techsupport].Label</a>
                    <ul>
                        @if (menuAccess.IsDisplayTechUserImpersonation)
                        {
                            <li><a href="@Url.Action("UserImpersonation", "Admin")" title="@menuAccess.SubMenuItems[ContaintUtil.TechUserImpersonation].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TechUserImpersonation].Label</a></li>
                        }
                        @*@if (menuAccess.IsDisplayAPILog)
                        {
                            <li><a href="@Url.Action("Index", "APILog")" title="@menuAccess.SubMenuItems[ContaintUtil.TechAPILog].Tooltip">@menuAccess.SubMenuItems[ContaintUtil.TechAPILog].Label</a></li>
                        }*@
                        @if (menuAccess.IsDisplayDadManageLAC)
                        {
                            <li>
                                <a href="@Url.Action("ManageLAC", "Admin")" title="@menuAccess.SubMenuItems[ContaintUtil.DadManageLAC].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DadManageLAC].Label
                                </a>
                            </li>
                        }
                        @*@if (menuAccess.IsDisplayDadDistrictReferencedata)
                        {
                            <li>
                                <a href="@Url.Action("DistrictReferenceData", "Admin")" title="@menuAccess.SubMenuItems[ContaintUtil.DadDistrictReferencedata].Tooltip">
                                    @menuAccess.SubMenuItems[ContaintUtil.DadDistrictReferencedata].Label
                                </a>
                            </li>
                        }*@
                        @if (currentUser.IsPublisher)
                        {
                            <li>
                                <a href="@Url.Action("index", "PerformanceBandAutomation")" title="Performance Band (PBS) Automated">Data Preview</a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</nav>

<script type="text/javascript">

    $(document).ready(function () {
        removeEntryResultFilter();
    });

    function removeEntryResultFilter() {
        $(document).on('click', function (e) {
            if ($(e.target).closest(".menu-item li:not(#datalockerEnterResult)").length !== 0) {
                var filter = localStorage.getItem("EntryResultFilter");
                if (filter != null) {
                    localStorage.removeItem("EntryResultFilter");
                }
            }
        });
    };
</script>
