@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Common
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Reporting, "Navigator Report");
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }

    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

<script src="@Url.Content("~/Scripts/TagIt/js/tag-it.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/TagIt/css/jquery.tagit.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/TagIt/css/tagit.ui-zendesk.css")" rel="stylesheet" type="text/css" />
<link href="@BundleHelper.Version("~/Content/css/v2/navigator-report.css")" rel="stylesheet" type="text/css" />
<style>
    .datatable td:not(:first-child) {
        cursor: pointer;
    }

    .with-tip {
        margin-left: 4px;
    }

        .with-tip span {
            margin-top: -4px;
        }

    .u-text-right {
        text-align: right;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }

    .table thead th {
        text-align: center;
    }

    .pIcon {
        position: relative;
        left: 11px;
    }

    .blockUI {
        left: 50%;
        top: 50%;
        z-index: 1013 !important;
    }

    #student-references {
        max-width: 940px;
        min-height: 1000px;
        margin: 30px auto 0;
    }

        #student-references .block-border {
            width: 918px;
        }

    .block-border .filter-group {
        background: var(--bg-white);
        padding: 2.833em 1.667em 1.667em;
    }

        .block-border .filter-group .filter-item {
            width: 44%;
            float: left;
            margin-bottom: 1.667em;
            margin-left: 4%;
        }

        .block-border .background-filter::after,
        .block-border .filter-group::after,
        #student-references .block-border::after,
        #student-references::after,
        .block-border .filter-group .btn-filter::after {
            display: table;
            clear: both;
            content: '';
        }

    .block-checkbox {
        overflow: auto;
        background: var(--bg-white);
        border-top: 1px solid var(--grey);
    }

    .filter-checkbox {
        border: 1px solid var(--grey);
        padding-top: 10px;
        position: relative;
    }

    .checkbox-visible .block-checkbox {
        height: 50px;
    }

    .checkbox-container {
        margin-bottom: 0px !important;
    }

        .checkbox-container .filter-checkbox > .checkbox {
            margin-bottom: 10px;
            margin-left: 10px;
        }

    .block-border .checkbox-container .filter-item {
        float: none;
    }

    .checkbox-container .checkbox-child {
        padding: 0px 0 0 9px;
    }

        .checkbox-container .checkbox-child .checkbox {
            display: inline-block;
        }

        .checkbox-container .checkbox-child input[type=checkbox] + label {
            width: calc(100% - 18px);
            display: inline-block;
            padding: 9px 0px 7px;
        }

        .checkbox-container .checkbox-child:nth-last-child(even) {
            background: #f1f1f1
        }

    .checkbox-child-no-padding {
        padding-left: 0px !important;
    }

    .btn-filter,
    .btn-clear-filter {
        float: right;
        margin-left: 10px;
    }

        .btn-clear-filter:disabled,
        .grey.btn-clear-filter:hover {
            color: #bfbfbf;
            border-color: #e9f2f6 #c4c3c3 #a2a2a2 #e3e2e2;
            background: #c8c8c8 url(../images/old-browsers-bg/button-element-disabled-bg.png) repeat-x top;
            background: -moz-linear-gradient( top, #f0f2f2, #c8c8c8);
            background: -webkit-gradient(linear, left top, left bottom, from(#f0f2f2), to(#c8c8c8));
            -moz-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
            -webkit-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
        }

    .loading::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -3px;
        bottom: 2px;
        right: 3px;
        background: rgba(255, 255, 255, 0.5);
        z-index: 3;
        border-radius: 19px;
    }

    .loading::after {
        content: '';
        position: absolute;
        border: 16px solid #f3f3f3;
        border: 3px solid #f3f3f3;
        border-top: 3px solid #3498db;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        left: 17px;
        top: 0;
        z-index: 4;
        animation: spin 2s linear infinite;
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .button-switch {
        font-size: 14px;
        height: 1.875em;
        position: relative;
        width: 4.5em;
    }

        .button-switch .lbl-off,
        .button-switch .lbl-on {
            cursor: pointer;
            display: block;
            font-size: 0.9em;
            font-weight: bold;
            line-height: 1em;
            position: absolute;
            top: 5px;
            transition: opacity 0.25s ease-out 0.1s;
            text-transform: uppercase;
        }

        .button-switch .lbl-off {
            right: 0.4375em;
        }

        .button-switch .lbl-on {
            color: #fefefe;
            opacity: 0;
            left: 0.4375em;
        }

        .button-switch .switch-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 0;
            font-size: 1em;
            left: 0;
            line-height: 0;
            outline: none;
            position: absolute;
            top: 0;
            width: 0;
        }

            .button-switch .switch-input:before,
            .button-switch .switch-input:after {
                content: '';
                font-size: 1em;
                position: absolute;
            }

            .button-switch .switch-input:before {
                border-radius: 1.25em;
                background: #bdc3c7;
                height: 1.875em;
                left: -0.25em;
                top: -0.1875em;
                transition: background-color 0.25s ease-out 0.1s;
                width: 4.5em;
            }

            .button-switch .switch-input:after {
                box-shadow: 0 0.0625em 0.375em 0 #666;
                border-radius: 50%;
                background: #fefefe;
                height: 1.5em;
                transform: translate(0, 0);
                transition: transform 0.25s ease-out 0.1s;
                width: 1.5em;
            }

            .button-switch .switch-input:checked:after {
                transform: translate(2.5em, 0);
            }

            .button-switch .switch-input:checked ~ .lbl-off {
                opacity: 0;
            }

            .button-switch .switch-input:checked ~ .lbl-on {
                opacity: 1;
            }

            .button-switch .switch-input:checked:before {
                background: #3498db;
            }



    .alert-custom {
        background: transparent;
        border: transparent;
    }

    #changeRefBtn:not(.btn-disabled) {
        color: white;
        border-color: #50a3c8 #297cb4 #083f6f;
        background: #0c5fa5 url(../images/old-browsers-bg/title-bg.png) repeat-x top;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
        background: -moz-linear-gradient(top, white, #72c6e4 4%, #0c5fa5);
        background: -webkit-gradient( linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4));
    }

    .btn-disabled {
        pointer-events: none;
        color: var(--borderColor);
        border: 1px solid;
        border-color: #7e9098 #61727b #2b373d;
        background: #40535c url(../images/old-browsers-bg/title-link-bg.png) repeat-x top;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
        background: -moz-linear-gradient(top, white, #9eb1ba 4%, #40535c);
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#40535c), color-stop(0.03, #9eb1ba));
    }

    .jsViewPreference {
        position: relative;
        top: -2px;
    }

    .button-switch .switch-input:disabled {
        pointer-events: none;
    }

        .button-switch .switch-input:disabled:before,
        .button-switch .switch-input:checked:disabled:before {
            background: #989898;
        }

        .button-switch .switch-input:disabled::after {
            background: #4c4c4c;
        }

    .container_12 .block-border .header-preference-page {
        font-size: 0.778em;
        line-height: 18px;
        margin: 0;
    }

    #student-references .block-border .tabs .tab-view {
        float: left;
        background: var(--grey3);
        cursor: pointer;
        border-radius: 6px 6px 0px 0px;
    }

        #student-references .block-border .tabs .tab-view a {
            padding: 10px 20px;
            display: block;
            font-size: 10pt;
        }

    #student-references .block-border .tabs ul {
        border-bottom: 2px solid var(--borderColor);
    }

        #student-references .block-border .tabs ul::after {
            content: '';
            clear: both;
            float: none;
            display: block;
        }

    #student-references .block-border .tabs .tab-view.is-active {
        background: var(--lightBlue);
        border-bottom: none;
        background: -webkit-gradient( linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4) );
    }

        #student-references .block-border .tabs .tab-view.is-active a {
            color: var(--white);
        }

    #student-references .block-border .tabs {
        margin: 16px 0;
    }

    .option-view {
        margin-top: 30px;
    }

        .option-view .lable-option {
            font-size: 15px;
            display: inline;
            line-height: 1.333em;
            border: 1px solid;
            border-color: #50a3c8 #297cb4;
            color: var(--white);
            background: #0c5fa5 url(../images/old-browsers-bg/title-bg.png) repeat-x top;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
            background: -moz-linear-gradient(top,white,#72c6e4 4%, #0c5fa5);
            background: -webkit-gradient(linear,left top, left bottom,from(white),to(#0c5fa5),color-stop(0.03, #72c6e4));
            -moz-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
            -webkit-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
            text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
            padding: 9px 15px;
            position: relative;
            top: -51px;
            left: -32px;
            border: 1px solid white;
            -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            -webkit-border-radius: 0.417em;
            -webkit-background-clip: padding-box;
            border-radius: 0.417em;
        }

    .accordion-header, .group-bs .group-header {
        font-size: 13px;
        font-weight: 700;
        display: block;
        padding: 11px;
        background: var(--borderColor);
        border: 2px solid var(--white);
        border-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 2px 0px 6px var(--grey0);
        cursor: pointer;
        color: #737373;
    }

    .group-bs .accordion-header {
        color: var(--blue6);
    }

    .group-bs .accordion-container:first-of-type {
        margin-top: 10px;
    }

    .accordion-container .accordion-content,
    .modal .content-option {
        display: table;
        width: 100%;
        width: calc(100% - 24px);
        padding: 9px 0 9px 24px;
    }

        .accordion-container .accordion-content .lable,
        .modal .content-option .lable {
            display: table-cell;
            width: 50%;
        }

        .accordion-container .accordion-content .sub-title,
        .modal .content-option .sub-title {
            text-transform: capitalize;
        }

    .accordion-container, .group-bs {
        margin-bottom: 5px;
        margin-left: 2%;
        margin-right: 5%;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #9e9e9e;
        overflow: hidden;
    }

        .group-bs .accordion-container {
            margin-left: 15px;
            margin-right: 2%;
        }


    .option-container {
        background: var(--borderColor);
        padding: 38px 0px 38px 24px;
        border-radius: 5px;
        position: relative;
    }

        .option-container .bg-gray, .modal .bg-gray {
            background: var(--grey1);
        }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: table;
        transition: opacity 0.3s ease;
        z-index: 1111;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        background: var(--bg-white);
        width: 918px;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all 0.3s ease;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

        .modal-enter .modal-container, .modal-leave .modal-container {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

    .modal-container .modal-body {
        max-height: 500px;
        overflow-y: auto;
        padding: 0px 30px;
    }

    .modal .modal-body {
        margin-top: 20px;
    }


    .modal-header h2 {
        padding: 10px 30px;
        background: var(--borderColor);
    }

    .modal-body .accordion-container, .modal-body .group-bs {
        margin-left: 0;
        margin-right: 0;
    }

        .modal-body .group-bs .accordion-container {
            margin: 15px;
        }

    .option-container .btn-change-option {
        display: block;
        right: 5%;
        position: absolute;
        bottom: 10px;
    }

    .modal .modal-footer {
        position: relative;
        height: 50px;
        text-align: right;
        padding: 0px 30px;
    }

    .pointer {
        cursor: pointer;
    }

    .btn-view-matrix {
        display: inline-block;
        top: 3px;
    }

        .btn-view-matrix > span {
            font-size: 10px !important;
            background: #00a2e9 !important;
        }

    .no-data {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #changeOptionTest {
        left: 230px;
    }


        #changeOptionTest:not(.btn-disabled), .btn-change-option:not(.btn-disabled) {
            color: white;
            border-color: #50a3c8 #297cb4 #083f6f;
            background: #0c5fa5 url(../images/old-browsers-bg/title-bg.png) repeat-x top;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
            background: -moz-linear-gradient(top, white, #72c6e4 4%, #0c5fa5);
            background: -webkit-gradient( linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4));
        }

    .bg-full {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(76, 76, 76, 0.8);
        z-index: 100;
    }

    .loading-dot {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        color: var(--white);
        font-size: 20px;
    }

        .loading-dot:after {
            content: ' .';
            animation: dots 1s steps(5, end) infinite;
        }

    @@keyframes dots {
        0%, 20% {
            color: rgba(0,0,0,0);
            text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
        }

        40% {
            color: white;
            text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
        }

        60% {
            text-shadow: .25em 0 0 white, .5em 0 0 rgba(0,0,0,0);
        }

        80%, 100% {
            text-shadow: .25em 0 0 white, .5em 0 0 white;
        }
    }

    .open-icon {
        border: 1px solid #888888;
        border-radius: 50%;
        height: 14px;
        width: 14px;
        position: relative;
    }

        .open-icon > span {
            background: #397c33;
            color: white;
            font-weight: 700;
            border-radius: 50%;
            position: absolute;
            top: -4px;
            left: 1px;
            bottom: 1px;
            top: 1px;
            right: 1px;
        }

            .open-icon > span > span {
                position: absolute;
                top: -2px;
                left: 1.5px;
            }

    .matrix .modal-header {
        padding: 10px;
        background: var(--borderColor);
        height: 32px;
    }


        .matrix .modal-header h2 {
            float: left;
        }

        .matrix .modal-header img {
            float: right;
            margin-top: 10px;
            margin-right: 5px;
        }

    .matrix .modal-body {
        overflow: auto;
        clear: both;
        position: static !important;
    }

    .p-line {
        margin-left: 42px;
    }

    .btn-under-grid {
        height: 36px;
        padding: 8px;
        margin-left: 10px;
        border-radius: 4px;
        text-transform: uppercase;
    }

    #dataTable td {
        word-break: break-word;
    }

    .modal .modal-container {
        min-height: 240px;
    }

    .mgt-40 {
        margin-top: 40px;
        font-weight: 500;
    }

    tr.row_selected td {
        background-color: var(--blue7) !important;
    }
</style>
<style>
    ul.breadcrumb {
        list-style: none;
        margin-bottom: 0px !important;
    }

        ul.breadcrumb li {
            display: flex;
            align-items: center;
            padding-right: 5px;
        }

            ul.breadcrumb li + li:before {
                color: black;
                content: ">\00a0";
            }

            ul.breadcrumb li a {
                color: var(--blue2);
                text-decoration: none;
                font-size: 16px !important;
                line-height: 26px !important;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }

    #menuFilter a.disabled,
    #menuFilter a.disabled:hover,
    #menuFilter a.disabled:focus {
        color: white;
        text-shadow: rgba(0, 0, 0, 0.6) 0 1px 2px;
        box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
        border-color: rgb(161, 167, 174) rgb(144, 148, 152) rgb(107, 112, 118);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.05, rgb(197, 203, 206)), to(rgb(159, 167, 176)));
        cursor: default;
        pointer-events: none;
    }

    .reportDetailList {
        padding-top: 10px;
    }


    .publishedCount {
        position: absolute;
        left: 160px;
    }

    .navigator-report-popup-button {
        display: inline-block;
    }

    .centerDiv {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .school-detail-grid-container {
        display: block;
        padding: 10px;
    }

    .row-content {
        display: table;
        width: 100%;
    }

    .school-detail-cell {
        padding-top: 5px;
        padding-bottom: 5px;
        display: table-cell;
        width: 137px;
        vertical-align: middle;
    }

    .bubble {
        vertical-align: middle;
        display: table-cell;
        border-radius: 50%;
        margin: 0 auto;
    }

    .school-detail-role {
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        border-radius: 50%;
        width: auto;
        margin-right: 4px;
    }

        .school-detail-role:last-child {
            margin-right: 0;
        }

    .published-role {
        background-color: mediumseagreen;
    }

    .un-published-role {
        background-color: lightgray;
    }

    .partial-published-role {
        background-color: gold;
    }

    .school-detail-role-bubble {
        border-radius: 50%;
        padding: 3px 0;
        width: 26px;
        height: 26px;
        line-height: 26px;
    }

    .ui-widget-content {
        background-color: transparent;
        border: none;
        background: none;
    }

    .breadcrumb:last-child {
        cursor: none;
    }

    select {
        color: var(--dark);
        font-size: 1em;
        padding: .417em;
        border: 1px solid #89bad3;
        -moz-border-radius: .417em;
        -webkit-border-radius: .417em;
        -webkit-background-clip: padding-box;
        border-radius: .417em;
    }

    .readonly {
        display: block;
    }

    #publisherDistrictFilter {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

    #report-detail {
        width: 25%;
        padding-right: var(--spacingDefault);
    }

    .tagit-close {
        margin-top: -9px !important;
    }
</style>
<style>
    .report-detail-title-margin {
        margin-left: 20px;
        padding-top: 20px;
        margin-right: 20px;
        word-break: break-all;
    }

    .report-detail-btn {
        margin: 20px;
        padding-bottom: 20px;
    }

    .report-detail-list-margin {
        padding-top: 10px;
    }

    .report-detail-padding-top {
        padding-top: 10px;
    }

    .pop-up-is-disabled {
        background: var(--grey3);
        cursor: default;
        pointer-events: none;
    }

    .detail-table {
        display: table;
        width: auto;
    }

    .detail-icon {
        display: table-cell;
        width: 30px;
    }

    .icon_folder_custom_large {
        background-image: url("/Content/themes/Constellation/images/icons/folderIconV2.svg");
        background-size: cover;
        width: 16px;
        height: 16px;
        margin-right: 4px !important;
    }

    .icon_pdf_custom_large {
        background: url(/Content/themes/Constellation/images/icons/fugue/document-pdf.svg) no-repeat;
        margin-right: 4px !important;
        width: 16px;
        height: 16px;
    }

    .icon_excel_custom_large {
        background-image: url(/Content/themes/Constellation/images/icons/fugue/icons8-microsoft-excel-2019.svg);
        background-size: cover;
        margin-right: 4px !important;
        width: 16px;
        height: 16px;
    }

    .icon_powerpoint_custom_large {
        background-image: url(/Content/themes/Constellation/images/icons/fugue/icons8-microsoft-powerpoint-2019.svg);
        background-size: cover;
        margin-right: 4px !important;
        width: 16px;
        height: 16px;
    }

    .publish-popup-footer {
        background-color: #1E1E54;
        padding: 20px;
        justify-content: space-around;
        display: flex;
        align-items: center;
    }

        .publish-popup-footer span {
            color: white;
            font-weight: 700;
            cursor: pointer
        }

    .detail-btn {
        cursor: pointer;
    }

        .detail-btn:hover {
            background-color: var(--redHover) !important;
        }
</style>
<style>
    #publishTo {
        border-collapse: collapse;
        width: 100%;
    }

        #publishTo input[type=checkbox] {
            vertical-align: -18% !important;
        }

        #publishTo td, #publishTo th {
            border: 1px solid #dfdddd8a;
            padding: 8px;
        }

        #publishTo tr th:first-child {
            width: 150px;
        }

        #publishTo tr:hover {
            background-color: #ddd;
        }

        #publishTo th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: transparent;
            color: var(--dark);
        }

    .school-bubble-description p {
        padding-left: 19px;
    }

    .school-bubble-description-item {
        float: left;
        font-size: 11px;
    }

        .school-bubble-description-item::before {
            content: " ";
            width: 10px;
            height: 10px;
            display: block;
            top: 12px;
            position: relative;
            left: -13px;
            border-radius: 50%;
        }

    .school-bubble-description-item-published::before {
        background: mediumseagreen;
    }

    .school-bubble-description-item-un-published::before {
        background: lightgray;
    }

    .school-bubble-description-item-partial-published-role::before {
        background: gold;
    }

    .padding-top-10 {
        padding-top: 10px;
        padding-bottom: 20px;
    }

        .padding-top-10 .text-area-v2 {
            width: 100%;
            height: 100px;
            background: var(--white);
            border: 1px solid var(--selectBorder);
            border-radius: 0px 0px 4px 4px;
        }

        .padding-top-10 input {
            vertical-align: -20% !important;
            margin-right: 10px !important;
        }

        .padding-top-10 label {
            font-weight: 700 !important;
        }

    .tagit-choice-editable {
        padding: 4px 8px !important;
        background: var(--blue3) !important;
        border-radius: 2px !important;
    }

    .tagit-label {
        margin-right: 8px;
        color: var(--navyColor) !important;
        font-style: normal;
        font-weight: 400;
    }
</style>
<style>
    .tagit-new input.ui-widget-content.ui-autocomplete-input {
        min-width: 130px !important;
        border: none !important;
    }

    ul.tagitSelect li:first-child {
        font-weight: bold;
    }

    ul.tagitSelect .tagit-new {
        max-width: 169px;
    }

    ul.tagit li:not(:first-child) ::-webkit-input-placeholder {
        opacity: 0;
    }

    ul.tagit li:not(:first-child) ::-moz-placeholder {
        opacity: 0;
    }

    ul.tagit li:not(:first-child) ::-ms-input-placeholder {
        opacity: 0;
    }

    ul.tagit li:not(:first-child) ::placeholder {
        opacity: 0;
    }

    .tagit-dropdown {
        display: none !important;
    }

    .label-for-ul {
        font-weight: bold;
    }

    .tag-it-ul {
        padding-top: 5px;
    }

    .email-tag-it {
        max-height: 200px;
        border-radius: unset;
    }

    .ui-autocomplete.tagit-autocomplete.ui-widget-content {
        z-index: 999999999 !important;
        left: 50% !important;
        width: 502px !important;
        transform: translateX(calc(-50% - 16px));
    }

    #btnActions {
        visibility: hidden;
        display: inline-flex !important;
        gap: 16px;
    }

    #dataTable {
        width: 100% !important
    }

    .display-none {
        height: 0;
        overflow: hidden;
        visibility: hidden;
        color: var(--white);
        background: var(--bg-white);
    }

    #portal-v2-containter .custom-publish-popup {
        position: fixed;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
        height: auto !important;
        width: 400px !important;
        padding: 0 !important;
    }

        #portal-v2-containter .custom-publish-popup .ui-dialog-content {
            padding: 0;
        }

        #portal-v2-containter .custom-publish-popup section {
            margin: 0;
            float: none;
        }

        #portal-v2-containter .custom-publish-popup .block-border {
            width: auto !important;
        }
</style>

<div id="filterNavigatorReport" v-show="appReady">
    <div style="display: flex">
        <article class="container_12">
            <section class="grid_12">
                <div class="block-border">
                    <div class="block-content form">
                        <h1 id="menuFilter">
                            Navigator Reports
                        </h1>
                        <div id="btnActions">
                            <button class="btn-action"
                                    v-on:click="confirmBatchPrint"
                                    v-bind:disabled="disableDownloadButton">
                                Download
                            </button>
                            <button class="btn-action"
                                    id="btnPublishing"
                                    v-if="canPublish"
                                    v-on:click="btnPublishingByRoleClicked()"
                                    v-bind:disabled="disablePublishByRolePopupButton">
                                Publish
                            </button>
                            <button class="btn-action"
                                    v-if="canPublish"
                                    v-on:click="managePublishingForSelectedReport(true)"
                                    v-bind:disabled="disablePublishByRolePopupButton">
                                Manage Access
                            </button>
                        </div>
                        <ul style="display: none" id="error-messages" class="message error"></ul>
                        <div id="publisherDistrictFilter" style="display:none" v-show="mustSelectDistrict">
                            <div class="colx2-left">
                                <div>
                                    <label>State</label>
                                    <div class="block-text-name">
                                        <select id="selectState" name="selectState" class="full-width" v-model="selectedStateId">
                                            <option v-if="!stateData.loading && (!stateData.data || stateData.data.length === 0)" value="0">No Results Found</option>
                                            <option v-if="!stateData.loading && stateData.data && stateData.data.length >0" value="0">Select State</option>
                                            <option v-for="state in stateData.data" v-bind:value="state.id">{{state.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="colx2-right" style="margin-left: 10px">
                                <div>
                                    <label>@LabelHelper.DistrictLabel</label>
                                    <div class="block-text-name">
                                        <select id="selectDistrict" name="selectDistrict" class="full-width" v-model="selectedDistrictId">
                                            <option v-if="!districtData.loading && (!districtData.data || districtData.data.length === 0) && selectedStateId != '0'" value="0">No Results Found</option>
                                            <option v-if="!districtData.loading && districtData.data && districtData.data.length >0 && selectedStateId" value="0">Select District</option>
                                            <option v-for="district in districtData.data" v-bind:value="district.id">{{district.name}}</option>
                                        </select>
                                        <div class="box-select">
                                            <span class="overlay"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                        <ul style="padding-bottom: 25px" class="breadcrumb">
                            <li v-for="breadcrumb in breadCrumbs" value="{{breadcrumb.reportIdentifier}}">
                                <a href="javascript:void(0)" v-on:click="breadCrumbsClick($index)">
                                    {{breadcrumb.name}}
                                </a>
                            </li>
                            <li v-if="showSearchResultBreadCrumbs">
                                <a href="javascript:void(0)">
                                    Search Results
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix">
                            <div class="no-margin last-child">
                                <table id="dataTable" class="datatable table no-margin">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 38px; text-align: center">
                                                <input type="checkbox" id="checkBoxAllReports" name="sss" />
                                            </th>
                                            <th scope="col" style="width: 350px">
                                                <span class="column-sort">
                                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                                </span>
                                                Name
                                            </th>
                                            <th scope="col">
                                                <span class="column-sort">
                                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                                </span>
                                                Last Modified
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>

        <div id="report-detail">
            <article class="container_12" style="width: 100%; padding-left: 0" v-show="showingDetail">
                <section class="grid_12" style="width: 100%">
                    <div class="block-border" style="padding-left: var(--spacingDefault)">
                        <div class="block-content form report-detail-popup">
                            <div class="block-heading pt-3">
                                <a class="block-heading-item is-active" href="javascript:void(0)">Details</a>
                            </div>
                            <div class="clearfix">
                                <div class="no-margin last-child">
                                    <div v-show="isloadingReportDetail">Loading...</div>
                                    <div v-show="!isloadingReportDetail">
                                        <div class="report-detail-title-margin label-year">
                                            <b style="font-size: 14px; word-break: break-word;">
                                                <span v-show="!isloadingReportDetail" v-bind:class="selectedItemIconClasses" class=" detail-icon-for-selected-item"></span>
                                                {{selectedIdentifier.name}}
                                            </b>
                                        </div>
                                        <div v-show="showingFileDetail" class="report-detail-title-margin">
                                            <div v-show="showingFileDetailPublishTo">
                                                <b>Published to:</b>
                                                <div v-for="publishStatus in filePublishedStatus" class="reportDetailList report-detail-list-margin">
                                                    <span>{{publishStatus.roleName}}</span>
                                                    <span class="publishedCount" v-show="publishStatus.canPublish">{{publishStatus.published}} out of {{publishStatus.count}}</span>
                                                    <span class="publishedCount" v-show="!publishStatus.canPublish">Not Allowed</span>
                                                </div>
                                            </div>
                                            <div v-show="showingKeyword" class="report-detail-padding-top">
                                                <b>Keywords:</b>
                                                <br>
                                                <div class="reportDetailList report-detail-list-margin">
                                                    <b>{{reportDetailData.fileDetail.primaryKeyword}}</b>{{reportDetailData.fileDetail.otherKeywords}}
                                                </div>
                                            </div>
                                        </div>
                                        <div v-show="showingReportDetailCountOnly" class="report-detail-title-margin">
                                            <b>Publishing status:</b>
                                            <div class="reportDetailList report-detail-list-margin">
                                                <span>Total Reports: {{reportDetailData.reportDetailCountOnly.reportCount}}</span>
                                            </div>
                                            <div class="reportDetailList report-detail-list-margin" v-show="canPublishOnFocused">
                                                <span>Published Reports: {{reportDetailData.reportDetailCountOnly.reportPublishedCount}}</span>
                                            </div>

                                        </div>
                                        <div v-show="showingSchoolFolderDetail" class="report-detail-title-margin">
                                            <div class="school-detail-grid-container">
                                                <b>Reports in Folder:</b>
                                                <template v-for="detail in reportDetailData.schoolFolderDetail" class="reportDetailList">
                                                    <div class="row-content">
                                                        <div class="school-detail-cell ">{{detail.reportName}}</div>
                                                        <div class="bubble">
                                                            <div v-for="roleDescription in detail.roleDescriptions" class=" school-detail-cell  school-detail-role">
                                                                <div class="with-tip-custom school-detail-role-bubble"
                                                                     v-bind:class="{'published-role' : roleDescription.publishStatus == 2, 'un-published-role': roleDescription.publishStatus == 0, 'partial-published-role' :  roleDescription.publishStatus == 1 }" title="{{roleDescription.roleToolTip}}">
                                                                    {{roleDescription.roleShortName}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </template>
                                            </div>

                                        </div>

                                        <div v-show="showingSchoolFolderDetail" class="school-bubble-description">
                                            <p class="school-bubble-description-item school-bubble-description-item-published">Published</p>
                                            <p class="school-bubble-description-item school-bubble-description-item-partial-published-role">Partially Published</p>
                                            <p class="school-bubble-description-item school-bubble-description-item-un-published">Un-Published</p>
                                        </div>
                                        <div class="report-detail-btn">
                                            <button class="detail-btn" v-if="canPublishOnFocused" v-on:click="managePublishingForSelectedReport(false)" class="navigator-report-popup-button">Manage Access</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>

    <modal-component v-bind:show.sync="isShowModalBatchPrint" v-bind:width="400" class="modal-component-teacher-print">
        <div slot="close"><span></span></div>
        <div slot="header">
            <div class="block-heading">
                <h1 class="block-heading-item is-active">DOWNLOAD PDF</h1>
            </div>
        </div>
        <ul style="display: none" id="popup-error-messages" class="message error"></ul>
        <div slot="body" class="u-m-t-20">
            <div v-if="batchPrint.isNoSelected">
                <div v-text="batchPrint.content" class="u-m-b-15"></div>
                <div class="u-text-center">
                    <button v-on:click="closeBatchPrint()">OK</button>
                </div>
            </div>
            <div id="filterDonwload" v-else>
                <fieldset>
                    <div class="columns">
                        <div id="selectedStudent" v-if="showStudentList">
                            <p>
                                <b>Download the report for all of your children, or filter the download to just one child.</b>
                            </p>
                            <p>
                                <label>Child</label>
                                <select v-model="selectedStudent" v-on:change='selectStudent' class="full-width">
                                    <option v-for="student in students" v-bind:value="student.id" v-text="student.name" />
                                </select>
                            </p>
                        </div>
                        <div class="colx1-left" v-else>
                            <p>
                                <b>Download the report for all of your classes, or filter the download to just one class.</b>
                            </p>
                            <p>
                                <label>@LabelHelper.Term</label>
                                <select v-model="selectedDistrictTerm" v-on:change='selectDistrictTerm' class="full-width">
                                    <option v-for="districtTerm in districtTerms" v-bind:value="districtTerm.id" v-text="districtTerm.name" />
                                </select>
                            </p>
                            <p>
                                <label>Class</label>
                                <select v-model="selectedClass" class="full-width" v-bind:class="{'pop-up-is-disabled' : disableSelectClass}">
                                    <option v-for="class in classesByTerm" v-bind:value="class.id" v-text="class.name" />
                                </select>
                            </p>
                        </div>
                    </div>
                </fieldset>
                <div class="u-m-t-20 u-text-center">
                    <button v-on:click="generatePdfBatchPrint()">Download PDF</button>
                    <button v-on:click="closeBatchPrint()">Close</button>
                </div>
            </div>
        </div>
        <div slot="footer"></div>
    </modal-component>

    <article class="container_12" v-show="showingPublishByRole" id="publishByRoleArticle">
        <section class="grid_12">
            <div class="block-border">
                <div class="block-content form published-popup">
                    <div class="block-heading">
                        <a class="block-heading-item is-active" href="javascript:void(0)">Publish to</a>
                    </div>
                    <ul style="display: none" id="error-messages" class="message error"></ul>
                    <div class="clearfix">
                        <div class="no-margin last-child">
                            <div v-show="isloadingPublishByRole">Loading...</div>
                            <div v-show="!isloadingPublishByRole">
                                <fieldset class="background-filter" style="margin-bottom:0px">
                                    <table id="publishTo">
                                        <tr>
                                            <th>
                                                <input id="test-types" v-model="allRolesChecked" v-on:change="allRoleSelected" type="checkbox" name="test-types" class="checkbox" />
                                                <label for="test-types">All Roles</label>
                                            </th>
                                            <th class="reports-column">Reports</th>
                                        </tr>
                                        <tr v-for="item in rolesCanPublishInPublishByRole">
                                            <td>
                                                <input :id="'roleId' + item.roleId" v-on:change="checkBoxRoleChangedV2" type="checkbox" :value="item.roleId" v-model="arrSelectedRoleId" :name="item.roleId"
                                                       class="chechbox">
                                                <label :for="'roleId' + item.roleId">{{item.roleName}}</label>
                                            </td>
                                            <td>
                                                <div v-for="roleCanPublish in item.reportTypesThatCanPublish"><p>{{roleCanPublish}}</p></div>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                                <div id="emailDetail" style="margin: 0px 22px 0px 22px">
                                    <div class="padding-top-10">
                                        <input id="alsoSendEmail" type="checkbox" v-model="alsoSendEmail" />
                                        <label for="alsoSendEmail">Send email notification for newly published reports</label>
                                    </div>
                                    <div v-if="alsoSendEmail && canSendMail" id="emailDetail" class="tagitSelect" style="width:100%">
                                        <div class="padding-top-10">
                                            <textarea class="text-area-v2" v-model="customNote" placeholder="Add custom note"> </textarea>
                                        </div>
                                        <div class="padding-top-10" v-bind:class="{'display-none' : roleId == 8 || !isEditEmails}">
                                            <div>
                                                <div class="label-for-ul">To:</div>
                                                <div class="tag-it-ul">
                                                    <ul id="emailTo" name="emailTo" class="tagit ui-widget ui-widget-content ui-corner-all full-width email-tag-it readonly"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div v-if="alsoSendEmail && canSendMail" id="emailDetail-not-send-mail" class="tagitSelect" style="width:100%" v-bind:class="{'display-none' : roleId == 8 || !isEditEmails}">
                                        @*v-show="(roleId != 8 && isEditEmails)"*@
                                        <div class="padding-top-10">
                                            <div>
                                                <div class="label-for-ul">Not Sending To:</div>
                                                <div class="tag-it-ul">
                                                    <ul id="notSendingTo" name="notSendingTo" class="tagit ui-widget ui-widget-content ui-corner-all full-width email-tag-it"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="padding-top-10">
                                            <input id="isNotSendingTo" type="checkbox" v-model="isNotSendingTo" />
                                            <label for="notSendingTo">Do not publish to these accounts</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="publish-popup-footer">
                    <span v-on:click="btnPublishingByRoleClicked" class="navigator-report-popup-button">Cancel</span>
                    <button class="detail-btn" v-on:click="publishSelectedItemsToSelectedRoles" class="navigator-report-popup-button" v-bind:disabled="disablePublishByRoleButton">Publish</button>
                </div>
            </div>
        </section>
    </article>
</div>

<script src="@BundleHelper.Version("/Scripts/Navigator/v2/FilterNavigatorReport.js")"></script>
<script>
    var customCategoryType = 'PortalType';
    var districtLabel = '@LabelHelper.DistrictLabel';
    var roleId = @ViewBag.RoleId;
    // #region Fields
    _CURRENT_PAGE_NAME = "NavigatorReport";
    $(document).ready(function () {
        $('#selectDistrict').marquee({widthSelected: 281});
        filterNavigatorReportApp.roleId = roleId;
        filterNavigatorReportApp.districtLabel = districtLabel;
        filterNavigatorReportApp.restoreBrowseHistory();
        filterNavigatorReportApp.finishAssignData();
        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: '@Url.Action("GetListNavigatorReportByLevel")',
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength: 25,
            aaSorting: filterNavigatorReportApp.tableSorting,
            oLanguage: { "sZeroRecords": "There are no reports in this folder" },
            fnServerParams: function (aoData) {
                var filterParams = filterNavigatorReportApp.getFilterParams();
                filterNavigatorReportApp.saveBrowseHistory();
                filterParams.forEach(function (subParam) {
                    aoData.push(subParam);
                });
            },
            aoColumns: [
                { sType: 'string', sName: 'NodePath', bSearchable: false, bSortable: false, sWidth: '15px', sClass: 'col-action'},
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true, },
                { sType: 'string', sName: 'LastModifiedDate', bSearchable: true, bSortable: true, sWidth: '150px' },
                { sType: 'string', sName: 'DocumentType', bVisible: false },
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData[0]));
                dateStr = displayDateWithFormatJsonDate(aData[2], true);
                $('td:eq(1)', nRow).html(buildHtmlForDirectoryName(aData[1], aData[3].toLowerCase()));
                $('td:eq(2)', nRow).html(dateStr);

                var documentType = aData[3].toLowerCase();
                var identifierId = aData[0];
                var folderOrFileName = aData[1];
                var columnIndexCanClick = [1];

                columnIndexCanClick.forEach(function (value, index) {
                    $('td:eq(' + value + ')', nRow).attr('identifier', identifierId);
                    $('td:eq(' + value + ')', nRow).attr('documentType', documentType);
                    $('td:eq(' + value + ')', nRow).attr('folderOrFileName', folderOrFileName);
                    $('td:eq(' + value + ')', nRow).addClass('navigatorRow');
                });
                columnIndexCanClick.forEach(function (value, index) {
                    $('td:eq(' + value + ')', nRow).addClass('navigatorRow-dbclick');
                });

                return nRow;
            },
            fnPreDrawCallback: function () {
                filterNavigatorReportApp.replaceSearchFunction();
                ShowBlock($('#dataTable'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                filterNavigatorReportApp.searchCompleted = true;
                $('#dataTable').unblock();
                $('.with-tip').tip();
                $('#checkBoxAllReports').removeAttr('checked').removeClass("input-checked-v2");
                $(".navigatorRow-dbclick").on('dblclick', function (event) {
                    var identifier = $(this).attr("identifier");
                    var folderOrFileName = $(this).attr("folderOrFileName");
                    var documentType = $(this).attr("documentType").toLowerCase();
                    if (documentType != 'folder') {
                        filterNavigatorReportApp.dbClickDownload = true;
                        filterNavigatorReportApp.confirmBatchPrint();
                    }
                    else {
                        filterNavigatorReportApp.baseIdentifier = identifier;
                        filterNavigatorReportApp.breadCrumbs.push({
                            reportIdentifier: identifier,
                            name: folderOrFileName,
                        });
                    }
                });
                $(".navigatorRow").on('click', function (event) {
                    $(".navigatorRow").parent().removeClass("row_selected");
                    $(this).parent().addClass("row_selected");
                    var identifier = $(this).attr("identifier");
                    var folderOrFileName = $(this).attr("folderOrFileName");
                    var documentType = $(this).attr("documentType");
                    filterNavigatorReportApp.selectedIdentifier = {
                        identifier : identifier,
                        name : folderOrFileName,
                        documentType: documentType.toLowerCase()
                    };
                    filterNavigatorReportApp.loadReportDetail();
                });
            },
            fnInitComplete: function () {
                var elAction = filterNavigatorReportApp.$el.querySelector('#btnActions')
                elAction.style.display = 'inline-block';
                elAction.style.visibility = 'visible';
                filterNavigatorReportApp.$el.querySelector('.data-table-action').prepend(elAction);
                var elSearchLabel = $('#dataTable_filter label');
                var elSearchInput = elSearchLabel.find('input');

                elSearchInput.css({ paddingLeft: '35px', position: 'relative' });
                elSearchInput.get(0).style.setProperty('padding-left', '32px', 'important');

                elSearchLabel.replaceWith(elSearchInput);
                $('#dataTable_filter').addClass('data-search');
            }
        };
        $("#dataTable").data("options", options);

    });
    // #endregion Page Load

    function buildHtmlForDirectoryName(name, documentType) {
        var iconClassDefinition = [
            { documentType : "pdf", iconClass : 'icon_pdf_custom' },
            { documentType : "excel", iconClass : 'icon_excel_custom' },
            { documentType : "powerpoint", iconClass : 'icon_powerpoint_custom' },
        ];
        var matchType = iconClassDefinition.filter(function (item) {
            return item.documentType == documentType.toLowerCase();
        });
        var iconClass = "";
        if (matchType && matchType.length > 0) {
            iconClass = matchType[0].iconClass;
        }
        return '<div style="display: flex;align-items: center"><span class="icon ' + iconClass + '" style="margin-right: 5px;"></span><span>' + name+'</span></div>';
    }

    // #region Events
    $('#checkBoxAllReports').die('click');
    $('#checkBoxAllReports').live("click", function (e) {
        //not escalte the click event to the header of the table
        if (e.stopPropagation) {
            e.stopPropagation();
        }
        else if (window.event) {
            window.event.cancelBubble = true;
        }
        if (this.checked) {
            $('INPUT[name="checkBoxReport"][type=checkbox]').attr('checked', 'checked');
        }
        else {
            $('INPUT[name="checkBoxReport"][type=checkbox]').removeAttr('checked');
        }
        filterNavigatorReportApp.updateCheckedItems();
    });

    $('INPUT[name="checkBoxReport"][type=checkbox]').live("click", function (e) {
        if (this.checked) {
            var checkboxes = $('INPUT[name="checkBoxReport"][type=checkbox]');
            var checkall = true;
            if (checkboxes.length > 0) {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (!(checkboxes[i]).checked) {
                        $('#checkBoxAllReports').removeAttr('checked');
                        checkall = false;
                        break;
                    }
                }
            }

            if (checkall) {
                $('#checkBoxAllReports').attr('checked', 'checked');
            }
        }
        else {
            $('#checkBoxAllReports').removeAttr('checked').removeClass("input-checked-v2");
        }
        filterNavigatorReportApp.updateCheckedItems();
    });
    function setIconVisibility(identifier) {
        var iconString = '';
        var preferenceString = '';
        var checkboxValue = identifier;
        iconString = '<input type="checkbox" name="checkBoxReport" value="' + checkboxValue + '" />';
        iconString += preferenceString;
        return iconString;
    }
    // #endregion Events
    $('body').click(function (evt) {
        if (evt.target.className !== "tagit-dropdown") {
            $('.tagit-autocomplete').css("display", "none");
        }
    });

    $(window).resize(function () {
        $("#publishByRoleArticle").dialog("option", "position", "center");
    });

</script>
