@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Common
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.NavigatorReport, "Manage Access",true);
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }

    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

<style>
    #filterPublishing {
        padding: 20px;
    }

    .block-content {
        padding: 24px !important;
        width: 100%;
    }

    .btn-action {
        width: unset !important;
    }

        .btn-action:hover {
            background-color: var(--blue3) !important;
            border: none !important;
        }

    .btn-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        gap: 16px;
    }

    .no-margin .last-child {
        margin-bottom: 24px;
    }

    .block-content {
        padding: 24px !important;
    }

        .block-content .no-margin {
            margin-left: 0;
            margin-right: 0;
        }

    .last-child .block-controls {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 4px 0 4px !important;
    }

    .float-center {
        margin-right: 15px;
    }

    .footer-popup {
        background-color: #1E1E54;
        padding: 15px;
        display: flex;
        justify-content: space-around;
    }

        .footer-popup span {
            color: white;
            font-weight: 700;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .footer-popup button {
            background-color: #E73A46 !important;
            color: white !important;
            border: none !important;
        }

    .publish-dialog {
        padding: 0 !important
    }

    #filterContent {
        display: flex
    }

        #filterContent div {
            margin-right: 20px;
            font-weight: 700;
            color: var(--navyColor);
        }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .link-back {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: var(--red);
        text-decoration: unset;
        cursor: pointer;
    }

    .clear-filter-btn {
        font-weight: 700;
        color: var(--navyColor);
        cursor: pointer;
        border: 2px solid var(--blue3) !important;
    }

    .manage-class-toggle .manage-class-legend.filter-by-program {
        padding-left: 1em;
        font-weight: 700;
        margin-left: 11px;
        position: relative;
        top: 7px;
        z-index: 111;
    }

    .manage-class-legend.filter-by-program:not(.arrow-expand) {
        background: url(/Content/images/icons/collapse-icon.svg) no-repeat center right;
        background-size: 10px 10px;
    }

    .manage-class-legend.arrow-expand.filter-by-program {
        background: url(/Content/images/icons/expand-icon.svg) no-repeat center right;
        background-size: 10px 10px;
    }

    #filterByProgram.expand-content {
        background: var(--blue1) !important;
        border-top: unset !important;
        padding: 0 1em 0;
    }

    .manage-class-toggle.content-filter-by-program {
        border: none;
        background: transparent;
        padding: 0 10px 3px 0 !important;
    }

    .manage-class-toggle {
        height: 100%;
        background-color: var(--blue1) !important;
        border: 1px solid var(--blue3) !important;
    }

    .block-controls .float-center {
        margin-right: 35%;
        margin-top: 0.3em;
    }

    .filter-by-program {
        background-color: var(--blue1) !important;
        border-radius: 0 !important;
        height: 50px;
        box-shadow: none !important;
        display: flex;
        align-items: center;
        color: var(--navyColor) !important;
        font-weight: 700 !important;
        opacity: unset !important;
        margin-left: 0 !important;
        border: unset !important;
        cursor: pointer;
    }

    .apply-btn {
        background-color: var(--red) !important;
        color: white !important;
        border: none !important;
        width: 5.6rem;
        height: 2.5rem;
    }

        .apply-btn:hover {
            background-color: var(--redHover) !important;
        }

    .publish-btn:hover {
        background-color: var(--redHover) !important;
    }

    #portal-v2-containter .container_12 {
        padding: 0 20px 20px 20px;
    }

    .navigator-user-item {
        display: flex;
        justify-content: space-around;
    }

    #dataTable th:first-child {
        padding: 0.5em 17px;
    }

    .block-custom-header {
        display: flex;
    }

    .btn-arrow:before {
        content: '\f060';
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: var(--red);
        margin-right: 12px;
    }

    .btn-arrow:hover {
        color: var(--redHover);
    }

    #emailDetail label {
        font-weight: 700;
    }

    .block-heading h3 {
        font-size: 22px !important;
        font-weight: 700;
        color: var(--navyColor);
    }

    .text-area-v2 {
        width: 100%;
        height: 100px;
        background: var(--white);
        border: 1px solid var(--selectBorder);
        border-radius: 0px 0px 4px 4px;
    }

    .padding-top-10 {
        padding-right: 1em;
        margin-bottom: 10px;
    }

    #portal-v2-containter .ui-dialog {
        padding: 0 !important;
    }

    #dataTable_wrapper {
        display: flex;
        flex-direction: column;
    }

    .block-controls {
        order: 1;
    }

    #dataTable {
        order: 2;
    }

    .block-footer {
        order: 3;
    }

    #dataTable_info {
        order: 4
    }

    .block-pagination {
        order: 5;
    }

    #btnActions {
        visibility: hidden;
        display: inline-flex !important;
        gap: 16px;
    }

    #publishArticle .block-border .last-child fieldset {
        margin-left: 15px;
        font-weight: 700;
        margin-bottom: 20px !important;
        display: flex;
        justify-content: center;
    }

    #publishArticle {
        min-height: unset !important;
    }

    .columns-filter label {
        display: flex;
        align-items: center;
        font-family: 'Roboto' !important;
        font-weight: 700 !important;
    }

        .columns-filter label input {
            margin-right: 12px !important;
        }
</style>
<div id="managePublishing">
    <article class="container_12" id="filterPublishing">
        <section class="grid_12">
            <div class="block-border form">
                <div class="filter-group  block-content">
                    <div class="header-wrapper">
                        <h1 class="mb-0 px-0">Filter</h1>
                        <a class="link-back btn-arrow" v-on:click="backToNavigatorReports()">Back to Navigator Reports</a>
                    </div>
                    <fieldset class="px-0 mb-0">
                        <h3 style="margin-bottom: 20px; color: var(--navyColor);">Role:</h3>
                        <div id="filterContent">
                            <div v-if="canPublishStudent === true"><input type="checkbox" v-model="studentSelected" style="vertical-align: -20%; margin-right: 12px"> Student</div>
                            <div v-if="canPublishTeacher === true"><input type="checkbox" v-model="classroomSelected" style="vertical-align: -20%; margin-right: 12px"> Teacher</div>
                            <div v-if="(canPublishSchoolAdmin === true)"><input type="checkbox" v-model="schoolSelected" style="vertical-align: -20%; margin-right: 12px"> School Admin</div>
                            <div v-if="([roles.PUBLISHER,roles.NETWORKADMIN,roles.DISTRICTADMIN].includes(currentRoleId) && canPublishDistrictAdmin === true)"><input type="checkbox" v-model="districtSelected" style="vertical-align: -20%; margin-right: 12px"> District Admin</div>
                        </div>
                    </fieldset>

                    <div style="display: flex; justify-content: flex-end; flex-direction: column">
                        <fieldset v-show="canPublishStudent" class="grey-bg manage-class-toggle content-filter-by-program px-0 mb-0" style="width: 70%">
                            <legend class="manage-class-legend filter-by-program">Filter by Program or @LabelHelper.TestGrade</legend>
                            <div id="filterByProgram" class="columns expand-content">
                                <div class="fleft u-w-p-75">
                                    <h4 style="margin-bottom: 15px">Program</h4>
                                    <div class="columns-filters">

                                        <div v-for="program in programs" class="columns-filter">
                                            <label>
                                                <input type="checkbox" v-bind:value="program.programID" v-model="program.programSelected" disabled="{{isDisable}}">
                                                {{ program.programName }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="fleft u-w-p-25">
                                    <h4 style="margin-bottom: 15px">@LabelHelper.TestGrade</h4>
                                    <div class="columns-filters">
                                        <div v-for="grade in grades" class="columns-filter">
                                            <label>
                                                <input type="checkbox" v-bind:value="grade.gradeID" v-model="grade.gradeSelected" disabled="{{isDisable}}">
                                                {{ grade.gradeName }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="btn-container">
                            <button class="clear-filter-btn btn-action" v-on:click="clearAllCheckBox">Clear Filter</button>
                            <button class="btn-action apply-btn" v-on:click="applyFilter" disabled="{{isDisableFilter}}">Apply Filters</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>


    <article v-show="showDatatable" class="container_12">
        <section class="grid_12">
            <div class="block-border">
                <div style="visibility: hidden" id="formCheckDeactivate" class="form-check form-switch d-flex flex-row align-items-center ms-0 ps-0 js-change-published">
                    <label style="font-size: 1rem;" class="form-check-label mb-0 deactivated-title" for="flexSwitchCheckDefault">Show Published To Users:</label>
                    <span class="ms-1 me-3">Off</span>
                    <div>
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" v-on:change="showPublishedToStaff">
                    </div>
                </div>

                <div class="block-content form">
                    <ul style="display: none" id="error-messages" class="message error"></ul>
                    <div id="btnActions" class="u-text-left">
                        <button class="clear-filter-btn btn-action" id="btnPublish" v-on:click="publishReport()">Publish</button>
                        <button class="clear-filter-btn btn-action" id="btnUnPublish" v-on:click="unPublishReport()" class="u-m-l-10">Un-Publish</button>
                    </div>
                    <h1 class="mb-0 px-0">Manage Access</h1>
                    <div class="no-margin last-child">
                        <table id="dataTable" class="datatable table no-margin" width="100%">
                            <colgroup>
                                <col style="width: 80px">
                                <col style="width: 250px">
                                <col style="width: 250px">
                                <col style="width: 250px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: left; width: 80px">
                                        <input type="checkbox" id="chkAllUsers" />
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Name
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Username
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Role
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        School
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Published Date
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </section>
    </article>
    <article class="container_12 publish-dialog" style="width: 600px;" v-show="publishDialog.showingPublishDialog" id="publishArticle">
        <section class="grid_12">
            <div class="block-border">
                <div>
                    <div class="block-heading" style="margin-left: 15px" v-show="publishDialogCanPublish">
                        <h3>Publish</h3>
                    </div>
                    <ul style="display: none" id="error-messages" class="message error"></ul>
                    <div class="clearfix">
                        <div class="no-margin last-child">
                            <div v-show="publishDialog.isloadingPublishDialog">Loading...</div>
                            <div v-show="!publishDialog.isloadingPublishDialog">
                                <fieldset class="background-filter" style="margin-bottom:0px" v-show="!publishDialogCanPublish">
                                    <p>All selected users associated with the report(s) were published already.</p>
                                </fieldset>
                                <div style="margin-left: 15px" id="emailDetail" v-show="publishDialogCanPublish">
                                    <div style="display: flex; margin-top: 20px">
                                        <input style="margin: 0 10px 20px 0" id="alsoSendEmail" type="checkbox" v-model="publishDialog.alsoSendEmail" />
                                        <label for="alsoSendEmail">Send email notification for newly published reports</label>
                                    </div>
                                    <div class="padding-top-10" v-show="publishDialog.alsoSendEmail">
                                        <textarea style="width:100%; height:100px"
                                                  v-model="publishDialog.customNote"
                                                  class="text-area-v2"
                                                  placeholder="Add custom note">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-popup" v-show="publishDialogCanPublish">
                            <span v-on:click="cancelPublish" class="navigator-report-popup-button">Cancel</span>
                            <button v-on:click="confirmPublishReports" class="btn-action navigator-report-popup-button publish-btn">Publish</button>
                        </div>
                        <div class="footer-popup" v-show="!publishDialogCanPublish">
                            <button v-on:click="cancelPublish" class="btn-action navigator-report-popup-button publish-btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>

<script>
    // #region Form Load
    var textSearch = '';
    var showPublished = true;
    var global = {
        districtId: @ViewBag.DistrictId,
        currentRoleId: @ViewBag.CurrentRoleId,
        getNavigatorConfigurationUrl: '@Url.Action("GetNavigatorConfigurationPublishing")',
        indexUrl: '@Url.Action("Index")',
        publishUrl: '@Url.Action("Publish")',
        getPublishPopupDetailUrl: '@Url.Action("GetManageAccessPublishDetail")',
        unPublishUrl: '@Url.Action("UnPublish")',
    };
    var getAssociateUserUrl = '@Url.Action("GetAssociateUser")' ;

    $(document).ready(function () {

        setTimeout(function () {
            searchDelay();
        }, 2000);

        managePublishing.getNavigatorConfiguration();

        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: managePublishing.getAjaxSource(),
            bAutoWidth: false,
            aLengthMenu: [10, 50, 100, 500, 1000],
            iDisplayLength: 100,
            aaSorting: [[1, "asc"]],
            oSearch: {
                sSearch: textSearch
            },
            aoColumns: [
                { sType: 'integer', sName: 'UserID', bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'UserFullName', bSearchable: true, bSortable: true, sWidth: '85px' },
                { sType: 'string', sName: 'UserName', bSearchable: true, bSortable: true, sWidth: '85px' },
                { sType: 'string', sName: 'RoleName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'SchoolName', bSearchable: true, bSortable: true },
                { sType: 'string', sName: 'PublishTime', bSearchable: true, bSortable: true },
                { sType: 'integer', sName: 'PublishStatus', bVisible: false },
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData[0], aData[6]));

                var dateStr = displayDateWithFormatJsonDate(aData[5], true);
                $('td:eq(5)', nRow).html(dateStr);
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTable'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTable').unblock();
                $('.with-tip').tip();
                $('#chkAllUsers').removeAttr('checked').removeClass("input-checked-v2");
                return true;
            },
            fnInitComplete: function () {
                var elSearchLabel = $('#dataTable_filter label');
                var elSearchInput = elSearchLabel.find('input');

                elSearchInput.css({ paddingLeft: '35px', position: 'relative' });
                elSearchInput.get(0).style.setProperty('padding-left', '32px', 'important');

                elSearchLabel.replaceWith(elSearchInput);
                $('#dataTable_filter').addClass('data-search');

                var elDeactivate = $('#formCheckDeactivate');
                elDeactivate.css({ position: 'absolute', marginTop: '10px', visibility: 'visible', left: '24px' });
                $('.block-custom-header').prepend(elDeactivate);

                var elAction = $('#btnActions');
                elAction.css({ display: 'inline-block', visibility: 'visible'});
                $('.block-custom-header').prepend(elAction);

                var greyIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/download-guide-dis-v2.svg")';
                var goldIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/download-guide-v2.svg")';
                var greenIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/download-guide-green-v2.svg")';

                var tooltips = '<div class="float-center"><img src=" ' + greenIcon + '"> = <b>Published</b> , <img src="' + goldIcon + '"> = <b>Partially Published</b>, <img src="' + greyIcon + '"> = <b>Un-Published</b>';
                $('.block-footer').append(tooltips);
            }
        };

        $("#dataTable").data("options", options);
    });

    // #endregion

    // #region Functions

    function setIconVisibility(userId, publishStatus) {
        var container = document.createElement('div');
        var actionString = '';

        var checkboxIcon = createEl('div', {}, {
            'class': 'navigator-user-item'
        });
        var inputIcon = createEl('input', {}, {
            'class': 'is-modify',
            'type': 'checkbox',
            'name': 'chkUser',
            'value': userId
        });
        checkboxIcon.appendChild(inputIcon);

        switch (publishStatus) {
            case 0:
                actionString = setIcon("download-guide-dis-v2.svg", "Un-Published");
                break;
            case 1:
                actionString = setIcon("download-guide-v2.svg", "Partially Published");
                break;
            default:
                actionString = setIcon("download-guide-green-v2.svg", "Published");
        }
        checkboxIcon.appendChild(actionString);
        container.appendChild(checkboxIcon);
        return container;
    }

    function setIcon(iconName, title) {
        var icon = '/Content/themes/Constellation/images/icons/fugue/' + iconName;
        var actionString = createEl('a', {}, {
            'href': 'javascript:void(0)',
            'title': title,
            'class': 'with-tip pIcon'
        });
        var publishedIcon = createEl('img', {}, {
            'src': icon,
            'width': '16',
            'height': '16'
        });

        actionString.appendChild(publishedIcon);
        return actionString;
    }

    function createEl(tagName, properties, attributes, textContent) {
        var el = document.createElement(tagName);
        var isText = Boolean(textContent);

        Object.getOwnPropertyNames(properties).forEach(function (propName) {
            var val = properties[propName];

            if (propName.indexOf('aria-') !== -1 || propName !== 'role' || propName !== 'type') {
                el.setAttribute(propName, val);
            } else {
                el[propName] = val;
            }
        });

        Object.getOwnPropertyNames(attributes).forEach(function (attrName) {
            el.setAttribute(attrName, attributes[attrName]);
        });

        if (isText) {
            el.innerHTML = textContent;
        }
        return el;
    }

    function searchDelay(inputFilter, dataTable) {
        var inputFilter = $("#dataTable_filter input[type='text']");
        var dataTable = $("#dataTable");
        var delay = null;

        inputFilter.off('keyup.DT input.DT');

        inputFilter.on("keyup", function () {
            var search = inputFilter.val();
            clearTimeout(delay);

            delay = setTimeout(function () {
                if (search != null) {
                    dataTable.dataTable().fnFilter(search);
                    keepSession();
                }
            }, 1000);
        });
    }

    function CollapsibleFilter() {
        $content = $('#filterByProgram');
        $content.toggleClass('expand-content');
        $content.toggle();
        $(".manage-class-legend").toggleClass('arrow-expand');
    }
    // #endregion Functions

    // #region Events

    $('#chkAllUsers').die('click');
    $('#chkAllUsers').live("click", function (e) {
        //not escalte the click event to the header of the table
        if (e.stopPropagation) {
            e.stopPropagation();
        }
        else if (window.event) {
            window.event.cancelBubble = true;
        }
        if (this.checked) {
            $('INPUT[name="chkUser"][type=checkbox]').attr('checked', 'checked');
        }
        else {
            $('INPUT[name="chkUser"][type=checkbox]').removeAttr('checked');
        }
    });

    $('INPUT[name="chkUser"][type=checkbox]').live("click", function (e) {
        if (this.checked) {
            var checkboxes = $('INPUT[name="chkUser"][type=checkbox]');
            var checkall = true;
            for (var i = 0; i < checkboxes.length; i++) {
                if (!(checkboxes[i]).checked) {
                    $('#chkAllUsers').removeAttr('checked');
                    checkall = false;
                    break;
                }
            }
            if (checkall) {
                $('#chkAllUsers').attr('checked', 'checked');
            }
        }
        else {
            $('#chkAllUsers').removeAttr('checked').removeClass("input-checked-v2");
        }
    });

    $(".manage-class-legend").click(function (e) {
        if ($(e.target).attr('disabled') === 'disabled') {
            return;
        }
        CollapsibleFilter();
    });
    // #endregion Events

    CollapsibleFilter();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        breadcrumbDetailPage('.stats', '#rpNavigatorReport');
    })
</script>

<script src="/Scripts/Navigator/v2/ManagePublishing.js"></script>
