<article id="divMoveVirtualTestID" class="container_12" style="margin-top: 0px; width: 700px;">
    <section class="grid_9">
        <div class="block-border">
            <div class="block-content form" id="divMoveVirtualTest">
                <h1>
                    Move Survey
                </h1>
                <ul style="display: none" id="error-messages" class="message error"></ul>
                <ul style="display: none" id="success-message" class="message success">
                </ul>
                <fieldset id="publisherContent" class="grey-bg">
                    <div class="columns">
                        <div class="colx2-left">
                            <p>
                                <input type="checkbox" onclick="reloadBanks();" id="createACopy" name="CreateACopy" />
                                <label for="createACopy">Create a Copy</label>
                            </p>
                        </div>
                    </div>
                </fieldset>
                <div class="clear-10"></div>

                <div class="no-margin last-child">
                    <table id="dataTableTestBankTop" class="datatable table no-margin" style="width: 100%">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Bank Name
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Subject
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    @LabelHelper.GradeLabel
                                </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
</article>
<div class="opacityPopup" id="popupLevel2" style="top: 0;z-index: 1;display: none;opacity: 0.3; position:absolute; width: 100%; height: 100%; background: #000;"></div>
<style>
    .divPopupMoveVirtualTestConfirmDialog {
        z-index: 99999 !important;
    }
</style>
<script type="text/javascript">
    $(function () {
        var options = {
            bServerSide: true,
            bDestroy: true,
            bStateSave: false,
            sAjaxSource: getAjaxSourceSurveyBank(),
            fnServerData: function (sUrl, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "url": sUrl + "?currentBankId=" + $('#SelectedTestBankId').val() + "&isCopy=" + $('#createACopy').is(':checked'),
                    "data": aoData,
                    "success": fnCallback,
                    "cache": false
                });
            },
            fnServerParams: function (aoData) {
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''");
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }
            },
            bAutoWidth: false,
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'BankID', bSearchable: false, bSortable: false, sWidth: "20px" },
                { sType: 'string', sName: 'BankName', bSearchable: true, bSortable: true, sWidth: "180px" },
                { sType: 'string', sName: 'Subject', bSearchable: true, bSortable: true, sWidth: "120px" },
                { sType: 'integer', sName: 'GradeOrder', bSearchable: true, bSortable: true, sWidth: "50px" },
                { sType: 'string', sName: 'Grade', bSearchable: true, bSortable: true, sWidth: "0px", bVisible: false }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibilityMoveCopy(aData[0]));
                $('td:eq(3)', nRow).html(aData[4]);
                addWordBreakToTableCell($('td:eq(1)', nRow), 30, aData[1]);
                addWordBreakToTableCell($('td:eq(2)', nRow), 20, aData[2]);
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableTestBankTop'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableTestBankTop').unblock();
                $('.with-tip').tip();
            }
        };

        $("#dataTableTestBankTop").data("options", options);
        initializeDataTable($("#dataTableTestBankTop"));
    });

    function getAjaxSourceSurveyBank() {
        return '@Url.Action("LoadSurveyBankForMove", "ManageSurvey")';
    }

    function setIconVisibilityMoveCopy(bankId) {
        var moveIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/move-icon.png")';
        var moveString = '<a href="javascript:void(0)" onclick="MoveSurvey(this);" title="Move\/copy survey" bankId="' + bankId + '" class="with-tip"><img src="' + moveIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

        return moveString;
    }

    function MoveSurvey(control) {
        var bankId = $(control).attr('bankId');
        var virtualTestId = '@ViewBag.VirtualTestId';
        var createACopy = $('#createACopy').is(':checked');

        if (!createACopy) {
            ShowBlock($('#divMoveVirtualTestID'), "Moving");
        }

        var url = '@Url.Action("LoadMoveSurveyConfirmDialog", "ManageSurvey")?virtualTestId=' + virtualTestId + '&toBankId=' + bankId + '&createACopy=' + createACopy;
        $.ajax(
            {
                url: url,
                cache: false
            })
            .done(function (html) {
                $("#divMoveVirtualTest").append('<div id="divPopupMoveVirtualTestConfirmDialog" class="dialog"></div>');
                $("#divPopupMoveVirtualTestConfirmDialog").append(html);
                $('#divPopupMoveVirtualTestConfirmDialog').dialog({
                    dialogClass: 'divPopupMoveVirtualTestConfirmDialog',
                    title: "",
                    open: function () {
                        var zindex = $('#divMoveCopyVirtualTestDialog').parent().css('z-index');
                        var zIndexConfirm = parseInt(zindex) + 1;
                        var zIndexDialog = parseInt(zindex) + 2;
                        $("body").append('<div class="my-overlay" style="z-index: ' + zIndexConfirm + ';width:' + $(document).width() + 'px;height:2000' + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                        $('#divPopupMoveVirtualTestConfirmDialog').parent().css('z-index', zIndexDialog);
                    },
                    beforeclose: function () {
                        return true;
                    },
                    close: function () {
                        $('#divPopupMoveVirtualTestConfirmDialog').remove();
                        $("body .my-overlay:last").remove();
                        $('#divMoveVirtualTestID').unblock();
                        $('.opacityPopup').css('display', 'none');
                    },
                    modal: false,
                    width: 500,
                    resizable: false,
                });
            });
        $('.opacityPopup').css('display', 'block');
        $(".close").unbind("click");
        $(".close").live("click", function (e) {
            e.preventDefault();
        });
    }

    function showModalDialogBG() {
        var win = $('body');
        $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; height: ' + win.height() + 'px; z-index: 1001;"></div>');
    }

    function reloadBanks() {
       $('#dataTableTestBankTop').dataTable().fnDraw(true);
    }
</script>
