<style type="text/css">
    .group1 {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }

        .group1 button, .group2 button {
            display: block;
            margin-bottom: 6px;
        }

    .group2 {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }

    .ui-widget-header {
        border: 0px solid #aaa !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
        height: auto !important;
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .ui-widget-overlay {
        background: #2b2b2d !important;
    }
</style>

@using LinkIt.BubbleSheetPortal.Common;
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TestPropertiesViewModel
<article class="container_12" style="width: 100%">
    <section class="grid_12" style="width: 93%">
        <div class="block-border" style="width: 100%">
            <div class="block-content form form-properties" id="divFormProperty">
                <h1>Survey Properties</h1>
                <ul style="display: none" id="update-error-messages" class="message error"></ul>
                <div class="no-margin last-child">
                    <table class="datatable table no-margin" width="100%">
                        <tr>
                            <td colspan="2">
                                @Html.TextAreaFor(x => x.TestName, new { @class = "full-width", tabindex = 1, rows = 2 })
                                @Html.ValidationMessageFor(x => x.TestName, " ")
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Created Date:
                            </td>
                            <td>
                                @if (!Model.CreatedDate.Equals(DateTime.MinValue))
                                {
                                    <text>
                                        @Model.CreatedDate.DisplayDateWithFormat()
                                    </text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Updated Date:
                            </td>
                            <td>
                                @if (!Model.UpdatedDate.Equals(DateTime.MinValue))
                                {
                                    <text>
                                        @Model.UpdatedDate.DisplayDateWithFormat()
                                    </text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Created By:
                            </td>
                            <td>
                                @Model.CreatedBy
                            </td>
                        </tr>
                        <tr>
                            <td>
                                # of Questions:
                            </td>
                            <td>
                                @Model.TotalQuestion
                            </td>
                        </tr>
                        <tr>
                            <td>
                                # of Responses:
                            </td>
                            <td>
                                @Model.TotalTestResult
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Earliest Response:
                            </td>
                            <td>
                                @if (!Model.EarliestResultDate.Equals(DateTime.MinValue))
                                {
                                    <text>
                                        @Model.EarliestResultDate.DisplayDateWithFormat()
                                    </text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Latest Response:
                            </td>
                            <td>
                                @if (!Model.MostRecentResultDate.Equals(DateTime.MinValue))
                                {
                                    <text>
                                        @Model.MostRecentResultDate.DisplayDateWithFormat()
                                    </text>
                                }
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <button style="width: 49%;" onclick="SaveSurveyProperty('@Model.TestId');">Save Changes</button>
                                <button id="btnMoveCopyVirtualTest" style="width: 49%;">Move/Copy</button>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <button id="btnOpenSurvey" style="width: 49%">Open</button>
                                <button id="btnDeleteVirtualTest" style="width: 49%" onclick="popUpConfirmDeleteSurvey('@Model.TestId');">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
                @Html.TextArea("xmlContent", Model.Instruction, new { @style = "display:none" })
                <input type="hidden" id="hdTestId" value="@Model.TestId" />
                <input type="hidden" id="hdCategoryId" value="@Model.DataSetCategoryID" />
            </div>
        </div>
    </section>
</article>

<script>
    $('#btnMoveCopyVirtualTest').click(function () {
        var virtualTestId = '@Model.TestId';
        var surveyName = '@Model.TestName';
        var url = '@Url.Action("LoadMoveSurvey", "ManageSurvey")?virtualTestId=' + virtualTestId + '&surveyName=' + surveyName;
        $.ajax(
            {
                url: url,
                cache: false
            })
            .done(function (html) {
                $("#divOnTop").append('<div id="PopupMoveCopyVirtualTest" class="dialog"></div>');
                $("#PopupMoveCopyVirtualTest").append(html);
                $('#PopupMoveCopyVirtualTest').dialog({
                    title: "",
                    open: function () {
                        $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                    },
                    beforeclose: function () {
                        return true;
                    },
                    close: function () {
                        $('#dataTableSurveyTest').dataTable().fnDraw(false);
                        $('#PopupMoveCopyVirtualTest').remove();
                        $("body .my-overlay").remove();
                    },
                    modal: false,
                    width: 750,
                    resizable: false
                });
            });

        $(".close").unbind("click");
        $(".close").live("click", function (e) {
            e.preventDefault();
        });
    });

    $('#btnOpenSurvey').die('click');
    $('#btnOpenSurvey').click(function () {
        var virtualTestId = '@Model.TestId';
        var districtiId = $("#selectDistrict").val();
        if (!districtiId) districtiId = 0;
        var url = '@Url.Action("Index","VirtualTest")?districtiId=' + districtiId + '&virtualTestId=' + virtualTestId;
        window.location.href = url;
    });

    function alertMessageSetting(message) {
        var oldzIndex = $('#divContentTestSettingTestProperty').parent('.ui-dialog').css('z-index');
        $('#divContentTestSettingTestProperty').parent('.ui-dialog').css({ 'z-index': '1000' });
        var overlayHeight = $('.my-overlayy').height();
        $('.my-overlay').height(2000);

        var okButton = '<button style="width:63px;" onclick="closeAlert();">OK</button>';
        var strHtml = '<section class="grid_5">' +
            '<div class="block-border" style="width: ' + 400 + 'px;">' +
            '<div class="block-content form" style="padding-bottom: 1em;"><div>' + message +
            '</div><div style="text-align:center;padding-top:20px;padding-bottom:10px;">' + okButton + '</div></div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", "alertDialog")
            .appendTo("body")
            .dialog({
                close: function () {
                    $('.ui-widget-overlay:last').remove();
                    $('#divContentTestSettingTestProperty').parent('.ui-dialog').css({ 'z-index': oldzIndex }); //recover the old value
                    $('.my-overlay').height(overlayHeight);
                    $(this).remove();
                },
                modal: false,
                width: 460,
                maxheight: 500,
                resizable: false,
            });
        showModalDialogBG();
    }

    function closeAlert() {
        $('#divContentTestSettingTestProperty').unblock();
        $('#alertDialog').dialog('close');
    }

    function showModalDialogBG() {
        var win = $('body');
        $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; height: ' + win.height() + 'px; z-index: 1001;"></div>');
    }
</script>
