<style type="text/css">
    #dataTableVirtualTest td {
        word-wrap: break-word;
    }

    .dataTableVirtualTestStyle tr td {
        padding-left: 0px;
        padding-right: 0px;
    }

    .dataTableVirtualTestStyle {
        width: 277px !important;
        height: 392px !important;
    }

        .dataTableVirtualTestStyle td img {
            padding-left: 3px;
            padding-right: 3px;
        }

        .dataTableVirtualTestStyle thead,
        .dataTableVirtualTestStyle tbody {
            display: block;
        }

        .dataTableVirtualTestStyle tbody {
            height: 362px;
            overflow: auto;
            overflow-x: hidden;
        }

            .dataTableVirtualTestStyle tbody td {
                word-wrap: break-word;
            }

            .dataTableVirtualTestStyle tbody tr td div {
                padding-left: 3px !important;
                padding-right: 3px !important;
            }

            .dataTableVirtualTestStyle tbody td:nth-of-type(1) div {
                width: 256px;
            }

        .dataTableVirtualTestStyle thead th:nth-of-type(1) {
            width: 257px !important;
        }

    .scrolldataTableVirtualTestStyle tbody td:nth-of-type(1) div {
        width: 256px;
    }

    .noscrolldataTableVirtualTestStyle tbody td:nth-of-type(1) div {
        width: 271px;
    }

    #dataTableVirtualTest tbody tr {
        height: 100% !important; /* Fix for IE9 */
    }

    .scrolldataTableVirtualTestStyleIE9, .noscrolldataTableVirtualTestStyleIE9 {
        height: auto !important;
    }

    #divdataTableVirtualTest {
        margin-top: -20px !important;
    }
</style>

<script src="@Url.Content("~/Scripts/constants.js")" type="text/javascript"></script>
<article class="container_12" style="width: 100%">
    <section class="grid_12" style="width: 93%">
        <div class="block-border" style="width: 100%">
            <div class="block-content form" id="divOnTopSet">
                <h1>
                    Surveys
                    <a href="javascript:void(0)" class="CreateNewSurveyTest">
                        <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" />
                        Add New Survey
                    </a>
                    <div class="clearfix"></div>
                </h1>
                <p style="height: 5px"></p>
                <div class="no-margin last-child u-m-t-35">
                    <table id="dataTableSurveyTest" class="datatable table no-margin dataTableVirtualTestStyle">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Name
                                </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody style="cursor: pointer"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
    var oTableSurveyTest;

    $(function () {
        $('.CreateNewSurveyTest').live('click', function () {
            $('#error-messages').hide();
            $('#success-message').hide();
            var vSelectedTestBankId = $('#SelectedTestBankId').val();
            if (vSelectedTestBankId == '0') {
                alert("Please select a survey bank!");
                return;
            }
            var url = '@Url.Action("CreateSurvey", "ManageSurvey")';
            $.ajax(
                {
                    url: url,
                    cache: false
                })
                .done(function (html) {
                    $("#divOnTop").append('<div id="PopupCreateSurvey" class="dialog" style="overflow: hidden;"></div>');
                    $("#PopupCreateSurvey").append(html);
                    $('#PopupCreateSurvey').dialog({
                        title: "",
                        open: function () {
                            $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                        },
                        beforeclose: function () {
                            return true;
                        },
                        close: function () {
                            $('#dataTableSurveyTest').dataTable().fnDraw(false);
                            $('#PopupCreateSurvey').remove();
                            $("body .my-overlay").remove();
                        },
                        modal: false,
                        width: 400,
                        resizable: false
                    });
                });

            $(".close").unbind("click");
            $(".close").live("click", function (e) {
                e.preventDefault();
            });
        });

        $('#dataTableSurveyTest tbody').on('click', function (event) {
            var target = event.target;
            var targetId = target.id;
            var targetTagName = target.tagName;
            var targetParent = target.parentNode;
            var targetParentId = targetParent.id;
            var targetParentTagName = targetParent.tagName;
            var isTarget = targetTagName.toUpperCase() == 'TD' && targetId != null && targetId.length > 0;
            var isTargetParent = targetParentTagName.toUpperCase() == 'TD' && targetParentId != null && targetParentId.length > 0;
            var districtId = $("#selectDistrict").val();
            if (!districtId) districtId = 0;
            var urlGetSurveyProperties = '@Url.Action("GetSurveyProperties", "ManageSurvey")?virtualTestId=';

            $(oTableSurveyTest.fnSettings().aoData).each(function () {
                $(this.nTr).removeClass('row_selected');
            });

            if (isTarget) {
                $(targetParent).addClass('row_selected');
                urlGetSurveyProperties += targetId;
            }

            if (isTargetParent) {
                $(targetParent.parentNode).addClass('row_selected');
                urlGetSurveyProperties += targetParentId;
            }

            if (isTarget || isTargetParent) {
                var $elVirtualTestProperties = $('#divVirtualTestProperties');
                var $elTestBankProperties = $('#divSurveyBankProperties');

                $elVirtualTestProperties.show();
                $elVirtualTestProperties.load(urlGetSurveyProperties, function () {
                    $elTestBankProperties.html('');
                    $elVirtualTestProperties.focus();
                });
            }
        });

        var optionsSurveyTest = {
            bServerSide: true,
            bDestroy: true,
            bStateSave: false,
            sAjaxSource: getAjaxSourceSurveyTest(),
            fnServerParams: function (aoData) {
                var districtId = $("#selectDistrict").val();
                aoData.push({ name: 'bankId', value: testBankId });
                aoData.push({ name: 'districtId', value: districtId });

                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''");
                        } else {
                            item.value = encodeURI(item.value);
                        }
                        break;
                    }
                }
            },
            bAutoWidth: false,
            iDisplayLength: 100,
            aaSorting: [[0, "asc"]],
            aoColumns: [
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true },
                { sType: 'integer', sName: 'VirtualTestId', bSearchable: false, bSortable: true, sWidth: "0px", bVisible: false, }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).attr('id', aData[1]);
                addWordBreakToTableCell($('td:eq(0)', nRow), 15, aData[0]);
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableSurveyTest'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableSurveyTest').unblock();
                $('#divVirtualTestProperties').empty();
                $('.with-tip').tip();

                formatTableForAddingVertialScrollBar('dataTableSurveyTest', 'scrolldataTableVirtualTestStyle', 'noscrolldataTableVirtualTestStyle',
                    'scrolldataTableVirtualTestStyleIE9', 'noscrolldataTableVirtualTestStyleIE9');

                if ($("input[name='inputTestType']:checked").val() == 'selectTestBank') {
                    $('#btnCreateTest').disableBt();
                }
            },
            oLanguage: {
                "sEmptyTable": "There are no surveys in this bank."
            }
        };

        var $dataTableVirtualTest = $('#dataTableSurveyTest');

        $dataTableVirtualTest.data('options', optionsSurveyTest);
        oTableSurveyTest = $dataTableVirtualTest.dataTable();
    });

    function getAjaxSourceSurveyTest() {
        return '@Url.Action("LoadSurveyTests")';
    }

    function createSurvey() {
        var bankId = $('#SelectedTestBankId').val();
        var surveyName = $('#inputVirtualTestName').val();
        if (!comboTree1._selectedItem) {
            $('#error-messages').html('<li> Please select the category name. </li>');
            $('#error-messages').show();
            $('#success-message').hide();
            return;
        }
        if ($('#inputVirtualTestCategoryId').val() === '') {
            $('#error-messages').html('<li> Please select the category name. </li>');
            $('#error-messages').show();
            $('#success-message').hide();
            return;
        }
        var categoryId = comboTree1._selectedItem.id;
        if (!categoryId) {
            $('#error-messages').html('<li> Please select the category name. </li>');
            $('#error-messages').show();
            $('#success-message').hide();
            return;
        }
        if (surveyName.trim() == '') {
            $('#error-messages').html('<li> Please enter the test name. </li>');
            $('#error-messages').show();
            $('#success-message').hide();
            return;
        }
        if (surveyName.trim().length > 300) {
            $('#error-messages').html('<li> The Survey Name imposes a limit of 300 characters. </li>');
            $('#error-messages').show();
            $('#success-message').hide();
            return;
        }
        ShowBlock($('#dvCreateSurvey'), "Create Survey");
        $.post('@Url.Action("CreateSurvey", "ManageSurvey")', { bankId: bankId, surveyName: surveyName, categoryId: categoryId }, function (response) {
            if (response.success == true) {
                $('#success-message').show();
                $('#error-messages').hide();
                var url = '@Url.Action("Index","VirtualTest")?virtualTestId=' + response.virtualTestId;
                window.location.href = url;

                setTimeout(function () {
                    $(".dialog").dialog("close");
                }, 2000);
            } else {
                $('#error-messages').html('<li> ' + response.Error + ' </li>');
                $('#error-messages').show();
                $('#success-message').hide();
            }
            $('#dvCreateSurvey').unblock();
        });
    }

    function cancelCreateSurvey() {
        $(".dialog").dialog("close");
    }

    function SaveSurveyProperty(vTestId) {
        var bankId = $('#SelectedTestBankId').val();
        var surveyName = $('#TestName').val();
        surveyName = encodeURIComponent(htmlEncode(surveyName));
        if (surveyName.trim() != '') {
            $.post('@Url.Action("UpdateSurvey", "ManageSurvey")', { bankId: bankId, testId: vTestId, surveyName: surveyName }, function (response) {
                if (response.success == true) {
                    $('#dataTableSurveyTest').dataTable().fnDraw(false);
                } else {
                    $('#update-error-messages').show();
                    $('#update-error-messages').html('<li>' + response.Error + '</li>');
                }
            });
        }
    }

    function popUpConfirmDeleteSurvey(virtualTestId) {
        var surveyName = $('#TestName').val();
        surveyName = encodeURIComponent(htmlEncode(surveyName));
        var url = '@Url.Action("LoadConfirmDeleteSurvey", "ManageSurvey")';
        $.ajax(
            {
                url: url,
                cache: false,
                data: { virtualTestId: virtualTestId, surveyName: surveyName }
            })
            .done(function (html) {
                $("#divOnTop").append('<div id="PopupConfirmDeleteSurvey" class="dialog"></div>');
                $("#PopupConfirmDeleteSurvey").append(html);
                $('#PopupConfirmDeleteSurvey').dialog({
                    title: "",
                    open: function () {
                        $("body").append('<div class="my-overlay" style="z-index: ' + ($.ui.dialog.currentZ() - 1) + ';width:' + $(document).width() + 'px;height:' + $(document).height() + 'px;background-color: black;opacity: 0.3;position: absolute;top:0px;left: 0px;"></div>');
                    },
                    beforeclose: function () {
                        return true;
                    },
                    close: function () {
                        $('#PopupConfirmDeleteSurvey').remove();
                        $("body .my-overlay").remove();
                    },
                    modal: false,
                    width: 400,
                    resizable: false
                });
            });

        $(".close").unbind("click");
        $(".close").live("click", function (e) {
            e.preventDefault();
        });
    }

    function DeleteSurveyById(virtualTestId) {
        $.post('@Url.Action("DeleteVirtualTest", "ManageTest")', { virtualTestId: virtualTestId }, function (response) {
            $('#dataTableSurveyTest').dataTable().fnDraw(false);
            $(".dialog").dialog("close");
            if (response.success) {
                $('#divVirtualTestProperties').html('');
                $('#divVirtualTestProperties').hide();
            } else {
                CustomAlert('There was some error: ' + response.errorMessage, true);
            }
        });
    }
</script>
