@model LinkIt.BubbleSheetPortal.Models.Old.SharingGroup.SharingGroupDto

<style type="text/css">
    #dvEditSharingGroup fieldset {
        padding: 0;
        margin: 0
    }

    #dvEditSharingGroup .footer-content {
        position: absolute;
        height: 70px;
        width: 100%;
        left: 0;
        background: var(--navyColor);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #divPredefinedTags.tag-editor-manage-program .tag-editor {
        background: none;
        padding: 0.4rem 0.65rem;
        border: 2px solid var(--selectBorder);
        border-radius: 0;
    }


        #divPredefinedTags.tag-editor-manage-program .tag-editor .tag-editor-tag {
            background-color: var(--blue3);
            font-size: 0.875rem;
            border-radius: 2px 0 0 2px;
            color: var(--navyColor);
        }

        #divPredefinedTags.tag-editor-manage-program .tag-editor div {
            padding: 0.25rem;
        }

        #divPredefinedTags.tag-editor-manage-program .tag-editor .tag-editor-delete {
            background-color: var(--blue3);
            line-height: 1 !important;
        }

    #divPredefinedTags.tag-editor-manage-program .tag-editor-tag input {
        padding: 0 !important;
        border: 0 !important;
    }

    #divPredefinedTags.tag-editor-manage-program .tag-editor li {
        display: flex;
        margin: 0;
        margin-bottom: 0.125rem
    }

    #divPredefinedTags.tag-editor-manage-program .tag-editor .tag-editor-delete i:before {
        font-size: 0.875rem;
        color: var(--navyColor);
        content: "\f00d";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }
</style>

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div id="dvEditSharingGroup" class='block-content bubbleSheetSelector form' style='z-index: 1004; padding:1.5rem'>
            <h1 style="font-size: 1.375rem; padding: 0; margin-bottom: 1.5rem">Edit Sharing Group</h1>
            <ul style="display: none" id="error-messages-create" class="message error"></ul>
            <ul style="display: none" id="success-message-create" class="message success">
                <li>Sharing group has been successfully updated.</li>
            </ul>
            @using (Html.BeginForm("SaveEdit", "SharingGroup", FormMethod.Post, new { @id = "editSharingGroupForm", @class = "form" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="columns" style="margin-bottom: 1.5rem; ">
                        <div style="width:100%">
                            <p>
                                <label>Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @maxlength = "200", @class = "full-width", @id = "inputSharingGroupName" })
                            </p>
                        </div>
                        <input type="hidden" id="hdDistrictId" name="DistrictID" value="@Model.DistrictID" />
                        <input type="hidden" id="hdId" name="SharingGroupID" value="@Model.SharingGroupID" />
                    </div>
                </fieldset>
                <div class="footer-content">
                    <button class="btn-cancel" type="button" onclick="cancelDialog('.dialog')">Cancel</button>
                    <button class="btn-accept" type="submit" id="btnEditSharingGroup">OK</button>
                </div>
            }
        </div>
    </div>  
</section>
<script type="text/javascript">
    $(function () {
        $('#editSharingGroupForm').submit(function (event) {
            event.preventDefault();
            ShowBlock($('#dvEditSharingGroup'), "Updating Sharing Group");
            $.ajax({
                url: '@Url.Action("SaveEdit", "SharingGroup")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    if (response.Success == true) {
                        $('#success-message-create').show();
                        $('#error-messages-create').hide();
                        setTimeout(function () {
                            $(".dialog").dialog("close");
                        },
                            3000);
                    } else {
                        $('#error-messages-create').html('<li> ' + response.ErrorMessage + ' </li>');
                        $('#error-messages-create').show();
                        $('#success-message-create').hide();
                        $('#btnEditSharingGroup').enableBt();
                    }
                    $('#dvEditSharingGroup').unblock();
                }
            });
        });
    });
</script>
