@model LinkIt.BubbleSheetPortal.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<link href="../../Content/css/nivo-slider.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    .slider-wrapper {
        height: 347px;
        width: 100%;
        overflow: hidden;
        padding-bottom: 40px;
    }

    .nivoSlider-loaded.nivoSlider {
        width: 100% !important;
        height: 100% !important;
        background-size: cover !important;
        background-color: #d5d8db !important;
    }

    .nivo-slice, .nivo-box {
        background-size: 940px auto !important;
    }
</style>

<article class="container_12">
    <section class="grid_12">
        <div class="slider-wrapper theme-default">
            <div id="custom-slider" class="nivoSlider" style="margin: 0 auto">
                @foreach (var districtSlide in Model.DistrictSlideList)
                {
                    if(string.IsNullOrEmpty(districtSlide.LinkTo))
                    {
                        <img src='@districtSlide.ImageName' alt="" />
                    }
                    else
                    {
                        if(districtSlide.NewTabOpen)
                        {
                            <a href="@districtSlide.LinkTo" target="blank"><img src="@districtSlide.ImageName" alt="" /></a>
                        }
                        else
                        {
                            <a href="@districtSlide.LinkTo"><img src="@districtSlide.ImageName" alt="" /></a>
                        }

                    }
                }
            </div>
        </div>
    </section>
</article>

<script src="../../Scripts/jquery.nivo.slider.pack.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('.home').addClass('current');
    });
    $(window).load(function () {
        $('#custom-slider').nivoSlider({
            effect: 'random',
            slices: 15,
            boxCols: 8,
            boxRows: 4,
            animSpeed: 500,
            pauseTime: 7000,
            startSlide: 0,
            keyboardNav: true,
            pauseOnHover: true,
            afterLoad: function () {
                    $("#custom-slider").addClass('nivoSlider-loaded')
                }
        });
        adjustNivoSliderDivSize('custom-slider');
    });

    function adjustNivoSliderDivSize(divName) {
        var defaultWidth = 973;//this value is gotten from the standard image of portal
        var defaultHeight = 359;
        $('#' + divName).height(defaultHeight);
        $('#' + divName).width(defaultWidth);
        var reset = false;
        $('#' + divName +' img').each(function (index, value) {
            if (value != null) {

                var img = $(value);
                var src = img.attr('src');
                if (src != null) {
                    if (src.indexOf('no-slide-image-found.png') < 0) {
                        if (!reset) {//only the first image
                            var tmpImg = new Image();
                            tmpImg.onload = function() {
                                defaultWidth = this.width;
                                defaultHeight = this.height;
                                $('#' + divName).height(defaultHeight);
                                $('#' + divName).width(defaultWidth);
                            };
                            tmpImg.src = src;
                            reset = true;
                        }
                    }
                }
            }
        });
    }
</script>
