@using LinkIt.BubbleSheetPortal.Models.DataLocker
@model LinkIt.BubbleSheetPortal.Web.ViewModels.DataLocker.CreateOverallScoreModel

<script src="@Url.Content("~/Scripts/TagIt/js/tag-it.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Lib/jquery.caret.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Lib/jquery.tag-editor.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/TagIt/css/jquery.tagit.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/TagIt/css/tagit.ui-zendesk.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/DataLocker/jquery.tag-editor.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/tooltips-jquery.css")" rel="stylesheet" />

<style type="text/css">
    .width-label {
        width: 30%;
        padding: 5px;
        display: inline-flex;
    }

    #divSelectColumns .width-label input[type=checkbox] {
        flex-shrink: 0;
    }
    .labels {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        color: #666;
        font-style: italic;
    }

    #divOveralScore {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
    }
</style>
<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004'>
        <div class='block-content divDefineTemplate' style='z-index: 1004; padding: 1.5rem 1rem 0' id="divCreateScoreType">

            <form class="form">
                <h1 class="title-large px-3 mb-4">Create Score Column</h1>
                <div class="form-body">
                    <ul style="display: none" id="error-messages" class="message error"></ul>
                    <ul style="display: none" id="success-message" class="message success">
                        <li>Score column created.</li>
                    </ul>
                    <div class="columns mb-4">
                        <label class="title-little-small mb-2" for="selectScoreType">Score Type</label>
                        <select id="selectScoreType" class="w-100">
                            <option value="@(ScoreTypeModel.RAW_SCORE)">Raw Score</option>
                            <option value="@(ScoreTypeModel.PERCENT_SCORE)">Percent Score</option>
                            <option value="@(ScoreTypeModel.PERCENTILE_SCORE)">Percentile Score</option>
                            <option value="@(ScoreTypeModel.SCALED_SCORE)">Scaled Score</option>
                            <option value="@(ScoreTypeModel.NUMERIC_CUSTOM_SCORE)">Numeric Custom Score</option>
                            <option value="@(ScoreTypeModel.TEXT_CUSTOM_SCORE)">Text Custom Score</option>
                            <option value="@(ScoreTypeModel.ARTIFACT_SCORE)">Artifact Score</option>
                            <option value="@(ScoreTypeModel.NOTE_COMMENT)">Notes/Comments</option>
                        </select>
                    </div>

                    <div class="columns mb-4" id="div-auto-sum-average">
                        <div class="d-inline-block me-4">
                            <div class="d-flex align-items-center">
                                <input id="radioRawManualEntry" type="radio" name="autoCalculation" value="radioRawManualEntry" checked />
                                <label class="ms-2 title-small" for="radioRawManualEntry">Manual Entry</label>
                            </div>
                        </div>
                        <div class="d-inline-block me-4">
                            <input id="calculation" type="radio" name="autoCalculation" value="calculation" />
                            <label class="ms-2 title-small" for="calculation">Calculation</label>
                        </div>
                    </div>

                    <div class="columns mb-4" id="div-auto-percent">
                        <div class="d-inline-block me-4">
                            <div class="d-flex align-items-center">
                                <input id="radioPercentManualEntry" type="radio" name="autoPercent" value="manualEntry" checked />
                                <label class="ms-2 title-small">Manual Entry</label>
                            </div>
                        </div>
                        <div class="d-inline-block">
                            <div class="d-flex align-items-center">
                                <input type="radio" name="autoPercent" value="percent" />
                                <label class="ms-2 title-small">Auto Calculation</label>
                            </div>
                        </div>
                    </div>

                    <div class="columns mb-4" id="divScoreName">
                        <label class="title-little-small mb-2" for="ScoreName">Score Name</label>
                        <input type="text" id="ScoreName" value="Raw" readonly="readonly" class="w-100" />
                    </div>

                    <div class="columns mb-4" id="divCustomScoreName" style="display: none">
                        <label id="lblCustomScoreName" class="title-little-small mb-2" for="CustomScoreName">Custom Score Name</label>
                        <input type="text" id="CustomScoreName" class="w-100" maxlength="200" />
                    </div>

                    <div class="columns mb-4 custom-desc">
                        <label class="title-small mb-2" for="Description">Description</label>
                        <textarea rows="4" cols="40" id="Description" name="Description" class="w-100"></textarea>
                    </div>

                    <div class="columns multi-option mb-4">
                        <div class="d-inline-block me-4">
                            <div class="d-flex align-items-center">
                                <input type="radio" name="textType" value="FreeText" id="FreeText" checked>
                                <label class="ms-2 title-small p-0" for="FreeText">Free Format</label><br>
                            </div>
                        </div>
                        <div class="d-inline-block me-4">
                            <div class="d-flex align-items-center">
                                <input type="radio" name="textType" value="ListText" id="ListText">
                                <label class="ms-2 title-small p-0" for="ListText">Predefined List</label><br>
                            </div>
                        </div>
                        <div id="rdLabelValueText">
                            <div class="d-flex align-items-center">
                                <input type="radio" name="textType" value="LabelValueText" id="LabelValueText">
                                <label class="ms-2 title-small p-0" for="LabelValueText">Labels & Values</label><br>
                            </div>
                        </div>
                    </div>

                    <div class="columns numericInput mb-4" id="divDecimalPlaces">
                        <label class="title-little-small mb-2" for="NumberOfDecimalPoint"># Of Decimal Places</label>
                        <select id="NumberOfDecimalPoint" class="d-inline-block me-2" style="width: 33.33%; min-width: auto">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <span id="NumberOfDecimalPointInfor" class="icon-info js-info-action with-tip d-inline-block align-middle" title="More Information"></span>
                    </div>

                    <div class="columns numericInput mb-4" id="divNumericRangeScore">
                        <div class="d-flex mb-4">
                            <div class="col-4 me-3">
                                <label class="title-little-small mb-2" for="MinScore">Min Score</label>
                                <input type="text" id="MinScore" class="w-100 integer-inputOverallScore" maxlength="15" value="0" />
                            </div>
                            <div class="col-8">
                                <label class="title-little-small mb-2" for="MaxScore">Max Score</label>
                                <input type="text" id="MaxScore" class="integer-inputOverallScore w-50 d-inline-block me-2" maxlength="15" value="0" />
                                <span id="MaxScoreInfor" class="icon-info js-info-action with-tip d-inline-block" title="More Information"></span>
                            </div>
                        </div>

                        <div>
                            <div class="mb-4 align-items-center" style="display: flex;">
                                <input id="idrdManuallyenterresults" type="radio" name="RadioHostpot" value="manuall" checked="checked" />
                                <label class="ms-2 title-small" for="idrdManuallyenterresults">Manually enter results</label>
                            </div>
                            <div id="dividrdSelectfromdropdownlist" class="mb-4 align-items-center" style="display: flex;">
                                <input id="idrdSelectfromdropdownlist" type="radio" name="RadioHostpot" value="dropdownlist" />
                                <label class="ms-2 title-small" for="idrdSelectfromdropdownlist">Select from drop down list</label>
                            </div>
                            <div id="divSelectscoresfromclickablecells" class="align-items-center" style="display: flex;">
                                <input id="idrdSelectscoresfromclickablecells" type="radio" name="RadioHostpot" value="clickable" />
                                <label class="ms-2 title-small" for="idrdSelectscoresfromclickablecells">Select scores from clickable cells</label>
                            </div>
                        </div>
                    </div>

                    <div class="columns textInput freeText mb-4">
                        <div class="">
                            <label class="title-little-small" for="MaxAllowedCharacterNumber">Max Characters </label>
                            <input type="text" id="MaxAllowedCharacterNumber" class="integer-input col-4" />
                        </div>

                    </div>

                    <div class="columns textInput freeText mb-4">
                        <div class="mb-3">
                            <div class="d-inline-block me-4">
                                <div class="d-flex align-items-center">
                                    <input type="radio" name="TextForm" value="AllowFreeForm" id="AllowFreeForm" checked>
                                    <label class="ms-2 title-small" for="AllowFreeForm">Free-form</label>
                                </div>
                            </div>
                            <div class="d-inline-block">
                                <div class="d-flex align-items-center">
                                    <input type="radio" name="TextForm" value="AllowAlphanumericOnly" id="AllowAlphanumericOnly">
                                    <label class="ms-2 title-small" for="AllowAlphanumericOnly">Alphanumeric (0-9, A-Z, [a-z])</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <input type="radio" name="TextForm" value="AllowAlphabeticOnly" id="AllowAlphabeticOnly">
                            <label class="ms-2 title-small" for="AllowAlphabeticOnly"> Alphabetic (A-Z, [a-z])</label>
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="checkbox" name="AllowUpperCaseOnly" id="AllowUpperCaseOnly" value="AllowUpperCaseOnly">
                            <label class="ms-2 title-small" for="AllowUpperCaseOnly">Uppercase Only</label>
                        </div>
                    </div>

                    <div class="columns listText tag-editor-datalocker custom-tag-editor mb-4" id="divsingleFieldTags">
                        <label class="title-small mb-2" for="singleFieldTags">Enter Values </label>
                        <textarea id="singleFieldTags"></textarea>
                    </div>

                    @Html.Partial("_LabelValue", new LabelValueModel { Disabled = false })

                    <div class="columns mb-4" id="divSelectFileTypeArtifact">
                        <div class="columns">
                            <div>
                                <label class="title-small mb-3">Select File Type:</label>
                            </div>
                            <div>
                                @{
                                    var fileTypeList = Model.AssessmentArtifactFileTypeGroupViewModel;
                                    for (int i = 0; i < fileTypeList.Count; i++)
                                    {
                                        <text>
                                            <div class="file-type-item me-3 mb-0" style="width: auto">

                                                @{
                                                    var titleSupportFileType = "";
                                                    for (int j = 0; j < fileTypeList[i].SupportFileType.Count; j++)
                                                    {
                                                        titleSupportFileType += "*" + fileTypeList[i].SupportFileType[j] + ", ";
                                                    }
                                                    <input type="checkbox" style="display: inline-block;" name="artifactFileType" title="test" value="@fileTypeList[i].Name" id="ck-file-type-@i" checked="checked" />
                                                    <span for="ck-file-type-@i" tooltip="@titleSupportFileType" tooltip-position="top" class="tooltips align-middle custom-ui-tooltip" title="">@fileTypeList[i].DisplayName</span>
                                                }
                                            </div>
                                        </text>
                                    }
                                }
                            </div>
                        </div>
                        @*<div class="columns">
                                <label class="u-inline-block">Max file size:</label>
                                <input type="text" id="txtMaxFileSize" value="@Model.MaxFileSize" class="u-inline-block integer-input" /> <span>MB</span>
                            </div>*@
                    </div>

                    <div class="columns tag-editor-datalocker custom-tag-editor mb-4" id="divPredefinedTags">
                        <label class="title-little-small mb-2" for="predefinedTags">Predefined Tag</label>
                        <textarea id="predefinedTags"></textarea>
                    </div>

                    <div class="columns mb-4 custom-desc" id="divNoteDefaultValue">
                        <label class="title-small mb-2" for="noteDefaultValue">Default Note</label>
                        <textarea rows="3" cols="40" id="noteDefaultValue" name="noteDefaultValue" class="w-100" maxlength="10"></textarea>
                        <div class="mt-3">
                            <input type="checkbox" id="isNoteDate" value="isNoteDate" />
                            <label for="isNoteDate">Organize Notes By Date</label>
                        </div>
                    </div>

                    <div class="columns mb-4" id="divSelectColumns">
                        <label class="title-small mb-2">Select Columns</label>
                        @Html.Partial("_ScoreCalculator", Model)
                    </div>
                </div>

                <div class="columns d-flex justify-content-between align-items-center popup-score-column-btn">
                    <div>
                        <button class="btn-cancel" type="button" id="btnCancelCreateOverallScore" onclick="cancelCreateOverallScore()">Close</button>
                    </div>
                    <div>
                        <button class="btn-accept" type="button" id="btnCreateOverallScore" onclick="createOverallScore()">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="/Scripts/DataLocker/DatalockerDefineTemplate.js"></script>
<script>
    $(function () {
        var model = @Html.Raw(Json.Encode(Model));
        ScoreCalculator.init({
            overallScore: overalScoreColumnForCalculate,
            subScore: subScoreColumnForCalculate,
            subScoreId: model.SubscoreId,
            disabled: false,
            action: 'create'
        });
        $('.tooltips').append("<span></span>");
        $('.tooltips:not([tooltip-position])').attr('tooltip-position', 'bottom');


        $(".tooltips").mouseenter(function () {
            $(this).find('span').empty().append($(this).attr('tooltip'));
        });

        $('#div-auto-sum-average').show();
        $('#div-auto-percent').hide();

        $('.freeText').hide();
        $('.listText').hide();
        $('.textInput').hide();
        $('.labelValueText').hide();
        $('#rdLabelValueText').hide();

        $('#divSelectFileTypeArtifact').hide();
        $('#divNoteDefaultValue').hide();
        $('#divSelectColumns').hide();
        $('#divPredefinedTags').hide();
        $('#divScoreCalculator').hide();


        var NoOfDecimalTootip = 'For example,' + '<br\>' +
            '0 decimal points: 3, 5, 12' + '<br\>' +
            '1 decimal points: 3.0, 5.0, 12.1' + '<br\>' +
            '2 decimal points: 3.00, 5.10, 12.13' + '<br\>' +
            '3 decimal points: 3.000, 5.120, 12.134' + '<br\>';
        displayOverallScoreTooltip($('#NumberOfDecimalPointInfor'), NoOfDecimalTootip, 100);

        var MaxScoreInforTooltip = 'We recommended that you set a minimum and maximum score* for ' +
            'validation when teachers are entering data. For example,' + '<br\>' +
            'Raw Score - min:0, max:15' + '<br\>' +
            'Scaled Score - min:-150, max: 150' + '<br\>' +
            'Percent Score - min:0, max:100' + '<br\>' +
            'Percentile Score - min:1, max:100' + '<br\>' +
            ' ' + '<br\>' +
            '* Negative values are allowed.';
        displayOverallScoreTooltip($('#MaxScoreInfor'), MaxScoreInforTooltip, 110);

        $("#NumberOfDecimalPoint").change(function () {
            //If the user change the number of decimal points, the min and max scores should be updated reflect the change.
            if ($('#NumberOfDecimalPoint').val().length == 0) {
                return;
            }
            if ($('input[type=radio][name=textType]:checked').val() == 'ListText') {
                updateDecimalListText();
            } else if ($('input[type=radio][name=textType]:checked').val() == 'LabelValueText') {
                updateDecimalListLabelValue();
            } else {
                updateDecimalPointOfScore();
                dataHostpot();
            }
        });

        $("#MinScore").on('change', function () {
            //If the user change the number of decimal points, the min and max scores should be updated reflect the change.
            if ($('#NumberOfDecimalPoint').val().length == 0) {
                return;
            }
            updateDecimalPointOfScore();
            dataHostpot();
        });

        $("#MaxScore").on('change', function () {
            //If the user change the number of decimal points, the min and max scores should be updated reflect the change.
            if ($('#NumberOfDecimalPoint').val().length == 0) {
                return;
            }
            updateDecimalPointOfScore();
            dataHostpot();
        });

        $('.with-tip').tip();

        $("#selectScoreType").change(function () {
            var model = @Html.Raw(Json.Encode(Model));
            clearInput();
            var scoreTypeId = $("#selectScoreType").val();
            $('.numericInput').hide();
            $('.textInput').hide();
            $('#divCustomScoreName').hide();
            $('#divScoreName').hide();
            $('#divsingleFieldTags').hide();
            $('#divSelectFileTypeArtifact').hide();
            $('#divNoteDefaultValue').hide();
            $('.multi-option').hide();
            $('#div-auto-sum-average').hide();
            $('#div-auto-percent').hide();
            $('#divSelectColumns').hide();
            $('.labelValueText').hide();
            $('#rdLabelValueText').hide();
            $('#divPredefinedTags').hide();

            if (scoreTypeId == '@(ScoreTypeModel.RAW_SCORE)' || scoreTypeId == '@(ScoreTypeModel.PERCENT_SCORE)'
                || scoreTypeId == '@(ScoreTypeModel.PERCENTILE_SCORE)' || scoreTypeId == '@(ScoreTypeModel.SCALED_SCORE)' || scoreTypeId == '@(ScoreTypeModel.NUMERIC_CUSTOM_SCORE)') {
                $('.numericInput').show();
            }

            if (scoreTypeId == '@(ScoreTypeModel.RAW_SCORE)'
                || scoreTypeId == '@(ScoreTypeModel.PERCENT_SCORE)'
                || scoreTypeId == '@(ScoreTypeModel.PERCENTILE_SCORE)'
                || scoreTypeId == '@(ScoreTypeModel.SCALED_SCORE)'
                || scoreTypeId == '@(ScoreTypeModel.ARTIFACT_SCORE)') {
                $('#divScoreName').show();
                if (scoreTypeId == '@(ScoreTypeModel.RAW_SCORE)') {
                    $('#ScoreName').val('Raw');
                }
                if (scoreTypeId == '@(ScoreTypeModel.PERCENT_SCORE)') {
                    $('#ScoreName').val('Percent');
                }
                if (scoreTypeId == '@(ScoreTypeModel.PERCENTILE_SCORE)') {
                    $('#ScoreName').val('Percentile');
                }
                if (scoreTypeId == '@(ScoreTypeModel.SCALED_SCORE)') {
                    $('#ScoreName').val('Scaled');
                }
                if (scoreTypeId == '@(ScoreTypeModel.ARTIFACT_SCORE)') {
                    $('#ScoreName').val('Artifact');
                }
            }

            if (scoreTypeId == '@(ScoreTypeModel.NUMERIC_CUSTOM_SCORE)'
                || scoreTypeId == '@(ScoreTypeModel.TEXT_CUSTOM_SCORE)'
                || scoreTypeId == '@(ScoreTypeModel.NOTE_COMMENT)') {

                $('#divCustomScoreName').show();
                if (scoreTypeId == '@(ScoreTypeModel.NOTE_COMMENT)') {
                    $('#lblCustomScoreName').text('Note Name');
                    $('#divNoteDefaultValue').show();
                } else {
                    $('#lblCustomScoreName').text('Custom Score Name');
                }
            };

            if (scoreTypeId == '@(ScoreTypeModel.TEXT_CUSTOM_SCORE)') {
                $('.textInput').show();
            };
            if (scoreTypeId == '@(ScoreTypeModel.ARTIFACT_SCORE)') {
                $('#divSelectFileTypeArtifact').show();
                $('#divPredefinedTags').show();
                $('input[name="artifactFileType"][type=checkbox]').prop('checked', true);
            }
            if (scoreTypeId == '@(ScoreTypeModel.RAW_SCORE)' || scoreTypeId == '@(ScoreTypeModel.NUMERIC_CUSTOM_SCORE)') {
                $('#div-auto-sum-average').show();
                var radioAutoCalculation = $('input[type=radio][name=autoCalculation]:checked').val()
                if (radioAutoCalculation == 'calculation') {
                    $('.numericInput').hide();
                    $(".multi-option").hide();
                    $('#divSelectColumns').show();
                }
            }
            if (scoreTypeId == '@(ScoreTypeModel.PERCENT_SCORE)') {
                $('#div-auto-percent').show();
                var radioPercent = $('input[type=radio][name=autoPercent]:checked').val()
                if(radioPercent == 'percent') {
                    $('.numericInput').hide();
                }
            }

            if (scoreTypeId == '@(ScoreTypeModel.NUMERIC_CUSTOM_SCORE)') {
                $('#rdLabelValueText').css("display","inline-block");
            }

            if (scoreTypeId == '@(ScoreTypeModel.TEXT_CUSTOM_SCORE)' || scoreTypeId == '@(ScoreTypeModel.RAW_SCORE)' || scoreTypeId == '@(ScoreTypeModel.NUMERIC_CUSTOM_SCORE)') {
                $('.multi-option').show();
            };
        });

        $('input[type=radio][name=textType]').change(function () {
            var selectScoreType = $('#selectScoreType').val();
            if (selectScoreType === '@(ScoreTypeModel.TEXT_CUSTOM_SCORE)') {
                $('.freeText').hide();
                $('.listText').hide();
                $('.labelValueText').hide();

                if (this.value == 'FreeText') {
                    $('.freeText').show();
                } else if (this.value == 'ListText') {
                    $('.listText').show();
                }
            } else if (selectScoreType === '@(ScoreTypeModel.RAW_SCORE)') {
                $('.numericInput').hide();
                $('.listText').hide();
                $('.labelValueText').hide();
                $('#divDecimalPlaces').show();

                if (this.value == 'FreeText') {
                    $('.numericInput').show();
                } else if (this.value == 'ListText') {
                    $('.listText').show();
                }
            } else if (selectScoreType === '@(ScoreTypeModel.NUMERIC_CUSTOM_SCORE)') {
                $('.numericInput').hide();
                $('.listText').hide();
                $('.labelValueText').hide();
                $('#divDecimalPlaces').show();

                if (this.value == 'FreeText') {
                    $('.numericInput').show();
                } else if (this.value == 'ListText') {
                    $('.listText').show();
                } else if (this.value == 'LabelValueText') {
                    $('.labelValueText').show();
                    DefineTemplateModel.listLabelValue = [
                        { Option: "", Label: "" }
                    ];
                }
            }
            resetTagEditor('#singleFieldTags');
            $('#divsingleFieldTags ul').html('');
        });

        $('#singleFieldTags').tagEditor({
            animateDelete: 0,
            maxLength: 50,
            forceLowercase: false,
            placeholder: 'Enter tags...',
            beforeTagSave: function (field, editor, tags, tag, val) {
                var selectScoreType = $('#selectScoreType').val();
                if (selectScoreType === '@(ScoreTypeModel.NUMERIC_CUSTOM_SCORE)' || selectScoreType === '@(ScoreTypeModel.RAW_SCORE)') {
                    if (!isNumeric(val)) {
                        return false;
                    }
                    var num = formatDecimal(val);
                    return num.toString();
                }
                return val;
            }
        });

        $('#predefinedTags').tagEditor({
            animateDelete: 0,
            maxLength: 50,
            forceLowercase: false,
            placeholder: 'Enter tags...',
        });

        $('.integer-inputOverallScore').keypress(function (e) {
            return isNumberAllowNegative(e);
        });

        $('.integer-inputOverallScore').on('input propertychange paste', function (e) {
            var $self = $(this);
            var val = $self.val();
            // Remove non-numeric characters
            var cleaned = val.replace(/[^0-9.\-]/g, '');
            if (cleaned.indexOf('-') > 0) {
                cleaned = cleaned.replace(/-/g, '');
            }
            if ((cleaned.match(/\./g) || []).length > 1) {
                cleaned = cleaned.substring(0, cleaned.lastIndexOf('.'));
            }
            if (cleaned === '-') {
                $self.val('');
                setTimeout(() => $self.focus(), 0);
                return;
            }
            $self.val(cleaned);
        });

        $(".float-input").floatNumber(true);

        $('input[type=radio][name=autoCalculation]').change(function () {
            var model = @Html.Raw(Json.Encode(Model));
            if (this.value == 'calculation') {
                $('#divSelectColumns').show();
                $('#divScoreCalculator').show();
                $('.numericInput').hide();
                $(".multi-option").hide();
            } else {
                $('#divSelectColumns').hide();
                $('#divScoreCalculator').hide();
                $('.numericInput').show();
                $(".multi-option").show();
            }
            clearInputNumeric();
        });

        $('input[type=radio][name=autoPercent]').change(function (e) {
            if (this.value == 'percent') {
                if(model.SubscoreId == 0 || model.SubscoreId == null) {
                    if ((overallRawMaxScore == null && hasRawOverallAuto == false) || overallRawMaxScore == 0) {
                        customAlertMessage({ message: "To automatically calculate 'percent', you must first define a raw score with a max score greater than zero.", customClass: 'new-style-popup'});
                        $('.numericInput').show();
                        $('#radioPercentManualEntry').prop('checked', true);
                        return false;
                    }
                }
                if(model.SubscoreId > 0) {
                    var subScoreRawMaxScore = subScoreRawMaxScore_@(Model.SubscoreId);
                    var hasRawSubAuto = hasRawSubAuto_@(Model.SubscoreId);
                    if ((subScoreRawMaxScore == null && hasRawSubAuto == false) || subScoreRawMaxScore == 0) {
                        customAlertMessage({ message: "To automatically calculate 'percent', you must first define a raw score with a max score greater than zero.", customClass: 'new-style-popup'});
                        $('.numericInput').show();
                        $('#radioPercentManualEntry').prop('checked', true);
                        return false;
                    }
                }
                $('.numericInput').hide();
                $('#idrdManuallyenterresults').prop('checked', true);
            } else {
                $('.numericInput').show();
            }
            clearInputNumeric();
        });

        CKEDITOR.replace('Description', {
            height: 150,
            toolbar: [
                ['FontSize'], ['Bold', 'Italic', 'Underline'], ['NumberedList', 'BulletedList']
            ],
            removePlugins: 'elementspath'
        });

        CKEDITOR.replace('noteDefaultValue', {
            height: 150,
            toolbar: [
                ['FontSize'], ['Bold', 'Italic', 'Underline'], ['NumberedList', 'BulletedList']
            ],
            removePlugins: 'elementspath',
            on: {
                key: function(evt) {
                    var currentLength = $('<div>' + this.getData() + '</div>').text().length;
                    var maxLength = 1001;
                    var skipCheck = false;
                    var keycode = evt.data.keyCode ;

                    if (keycode === 8 || keycode === 13 || keycode === 46 ||
                        keycode === 37 || keycode === 38 || keycode === 39 || keycode === 40) {
                        skipCheck = true;
                    }

                    if ((currentLength >= parseInt(maxLength) && skipCheck === false) || keycode === 1114129) {
                        return false;
                    }
                },

            }
        });
    });

    function createOverallScore() {
        var model = @Html.Raw(Json.Encode(Model));
        updateDecimalPointOfScore();
        //call ajax to save new overallscore
        var RAW_SCORE = '@(ScoreTypeModel.RAW_SCORE)';
        var PERCENT_SCORE = '@(ScoreTypeModel.PERCENT_SCORE)';
        var NUMERIC_CUSTOM_SCORE = '@(ScoreTypeModel.NUMERIC_CUSTOM_SCORE)';
        var TEXT_CUSTOM_SCORE = '@(ScoreTypeModel.TEXT_CUSTOM_SCORE)';
        var NOTE_COMMENT = '@(ScoreTypeModel.NOTE_COMMENT)';
        var selectScoreType = $('#selectScoreType').val();
        var selectScoreTypeText = $("#selectScoreType option:selected").text();
        var scoreName = $('#ScoreName').val();
        var customScoreName = $('#CustomScoreName').val();
        if (selectScoreType == NUMERIC_CUSTOM_SCORE || selectScoreType == TEXT_CUSTOM_SCORE || selectScoreType == NOTE_COMMENT) {
            if (customScoreName.length == 0) {
                customAlertMessage({ message: 'Please input custom score name.', customClass: 'new-style-popup'});
                return;
            }
        }

        var maxFileSize = $('#txtMaxFileSize').val();
        var fileType = [];
        var listArtifactTagString = null;
        if (selectScoreType == '@(ScoreTypeModel.ARTIFACT_SCORE)') {
            @*var maxFileSizeReal = parseInt(maxFileSize, 10);
            var maxFileSizeModel = parseInt("@Model.MaxFileSize", 10);
            if (maxFileSize == '' || maxFileSize <= 0) {
                customAlertMessage({message: 'Please input max file size.'});
                return;
            } else if (maxFileSizeReal > maxFileSizeModel) {
                customAlertMessage({message: 'Max file size could not greater than ' + maxFileSizeModel + 'MB.'})
                return;
            }*@

            $('input[name="artifactFileType"][type=checkbox]:checked').each(function (i, e) {
                fileType.push($(e).val());
            });

            if (!fileType.length) {
                customAlertMessage({ message: 'Please select file types.', customClass: 'new-style-popup'});
                return;
            }
            listArtifactTagString = getSelectedTagName('#predefinedTags');

            $('#FreeText').attr('checked', false);
            $('#ListText').attr('checked', false); //default
        }


        var description = CKEDITOR.instances['Description'].getData();
        description = convertTexttoHTML(description);
        description = description.replace(/&nbsp;/g, '&#160;');
        var minScore = $('#MinScore').val();
        if (minScore.length > 0) {
            minScore = parseFloat(minScore);
        }

        var MaxScore = $('#MaxScore').val();
        if (MaxScore.length > 0) {
            MaxScore = parseFloat(MaxScore);
        }

        if (selectScoreType != TEXT_CUSTOM_SCORE) {
            if ($('#MinScore').val().length > 0 && $('#MaxScore').val().length > 0) {
                if (parseFloat(MaxScore) < parseFloat(minScore)) {
                    customAlertMessage({ message: 'Max Score must be greater than or equal to Min Score.', customClass: 'new-style-popup'});
                    return;
                }
            }

            if ($('#MaxScore').val().length > 0) {
                if (parseFloat(MaxScore) > 10000) {
                    customAlertMessage({ message: 'Max Score must be smaller than 10000.', customClass: 'new-style-popup'});
                    return;
                }
            }
        }

        var numberOfDecimalPoint = $('#NumberOfDecimalPoint').val();
        if (numberOfDecimalPoint.length > 0) {
            numberOfDecimalPoint = parseInt(numberOfDecimalPoint);
            minScore = minScore.toFixed(numberOfDecimalPoint);
            MaxScore = MaxScore.toFixed(numberOfDecimalPoint);
        }

        var isFreeText = $('#FreeText').is(':checked');
        var isListText = $('#ListText').is(':checked');
        var isLabelValue = $('#LabelValueText').is(':checked');
        var listTextString = getSelectedTagName('#singleFieldTags');
        if (isListText) {
            if (listTextString == null || listTextString == '') {
                customAlertMessage({ message: 'You have to enter at least one predefined value.', customClass: 'new-style-popup'});
                return;
            }
            var tags = $('#singleFieldTags').tagEditor('getTags')[0].tags;
            minScore = parseFloat(tags[0]);
            MaxScore = parseFloat(tags[0]);
            for (var i = 0; i < tags.length; i++) {
                if (parseFloat(tags[i]) > MaxScore) {
                    MaxScore = tags[i];
                }
                if (parseFloat(tags[i]) < minScore) {
                    minScore = tags[i];
                }
            }
        } else if (isLabelValue) {
            var values = DefineTemplateModel.listLabelValue.map(e => isNaN(e.Option) ? 0 : +e.Option);
            minScore = Math.min(...values);
            MaxScore = Math.max(...values);
        }
        var maxAllowedCharacterNumber = $('#MaxAllowedCharacterNumber').val().trim();

        if (selectScoreType === TEXT_CUSTOM_SCORE && isFreeText) {
            if (maxAllowedCharacterNumber === '' || parseInt(maxAllowedCharacterNumber, 10) > 100) {
                customAlertMessage({ message: 'The maximum number of characters allowed on custom text scores is 100. Please enter a value smaller than 100.', customClass: 'new-style-popup'});
                return;
            }
        }

        if (maxAllowedCharacterNumber.length) {
            maxAllowedCharacterNumber = parseFloat(maxAllowedCharacterNumber);
        }

        var allowFreeForm = $('#AllowFreeForm').is(':checked');
        var allowAlphanumericOnly = $('#AllowAlphanumericOnly').is(':checked');
        var allowUpperCaseOnly = $('#AllowUpperCaseOnly').is(':checked');
        var allowAlphabeticOnly = $('#AllowAlphabeticOnly').is(':checked');

        var datahostpot = $('#divNumericRangeScore input[name=RadioHostpot]:checked').val();
        var noteType = '';

        if (selectScoreType == NOTE_COMMENT) {
            var noteDefaultValue = CKEDITOR.instances['noteDefaultValue'].getData();
            noteDefaultValue = convertTexttoHTML(noteDefaultValue);
            noteDefaultValue = noteDefaultValue.replace(/&nbsp;/g, '&#160;');

            noteType = $('#isNoteDate').is(':checked') == true ? 'date' : 'default';
        }

        var isAutoCalculation = false;
        var derivedName = null;
        var expression = [];
        var expressionCalculation = '';

        if (selectScoreType == RAW_SCORE || selectScoreType == NUMERIC_CUSTOM_SCORE) {
            var model = @Html.Raw(Json.Encode(Model));
            isAutoCalculation = !$('#radioRawManualEntry').is(':checked');
            derivedName = $('input[type=radio][name=autoCalculation]:checked').val();
            if (derivedName == 'calculation') {
                if (!ScoreCalculator.isCorrectCalculation()) {
                    customAlertMessage({ message: 'Please enter a valid calculation.', customClass: 'new-style-popup' });
                    return;
                }
                expressionCalculation = ScoreCalculator.getCalculationData();
            }
        }
        if (selectScoreType == PERCENT_SCORE) {
            isAutoCalculation = !$('#radioPercentManualEntry').is(':checked');
            derivedName = $('input[type=radio][name=autoPercent]:checked').val();
        }

        var displayOption = $('input[type=radio][name=displayOption]:checked').val();
        var formatOption = $('input[type=radio][name=textType]:checked').val();
        var selectListOptions = [];
        if (formatOption == "LabelValueText") {
            var arrToCheckDuplicate = [];
            for (var i = 0; i < DefineTemplateModel.listLabelValue.length; i++) {
                var item = DefineTemplateModel.listLabelValue[i];
                if ((item.Option != "" && item.Label == "") || (item.Option == "" && item.Label != "")) {
                    CustomAlert('Please input both label and value.');
                    return;
                }
                if (item.Option != "" && item.Label != "") {
                    item.Order = i;
                    selectListOptions.push(item);
                    arrToCheckDuplicate.push(item.Option);
                }
            }
            var isArrayDuplicate = findDuplicateInArray(arrToCheckDuplicate);
            if (isArrayDuplicate.length > 0) {
                CustomAlert('The value has been assigned. Please create a new value.');
                return;
            }
            if (selectListOptions.length < 1) {
                CustomAlert('You have to enter at least one value.');
                return;
            }

            listTextString = JSON.stringify(selectListOptions);
        }

        var url = '@Url.Action("AddNewScoreType")';
        var data = {
            TemplateId: '@Model.TemplateId',
            SubscoreId: '@Model.SubscoreId',
            ScoreTypeCode: selectScoreType,
            ScoreTypeName: selectScoreTypeText,
            scoreName: scoreName,
            customScoreName: encodeURIComponent(customScoreName),
            description: encodeURIComponent(description),
            minScore: minScore.toString(),
            maxScore: MaxScore.toString(),
            numberOfDecimal: numberOfDecimalPoint,
            isFreeText: isFreeText,
            isListText: isListText,
            maxAllowedCharacterNumber: maxAllowedCharacterNumber,
            allowFreeForm: allowFreeForm,
            allowAlphanumericOnly: allowAlphanumericOnly,
            allowUpperCaseOnly: allowUpperCaseOnly,
            allowAlphabeticOnly: allowAlphabeticOnly,
            listTextString: listTextString.indexOf('Option') != -1 ? listTextString : encodeURIComponent(listTextString),
            DataHostPot: datahostpot,
            UploadFileTypes: fileType.toString(),
            MaxFileSize: maxFileSize,
            noteDefaultValue: noteDefaultValue,
            IsAutoCalculation: isAutoCalculation,
            DerivedName: derivedName,
            Expression: expressionCalculation,
            NoteType: noteType,
            DisplayOption: displayOption,
            FormatOption: formatOption,
            listArtifactTagString: listArtifactTagString
        };

        $('#success-message').hide();
        $('#error-messages').hide();
        ShowBlock($('#divCreateScoreType'), 'Creating');
        $.ajax({
            type: "POST",
            contentType: 'application/json',
            url: url,
            data: JSON.stringify({ 'model': data })
        })
            .done(function (response) {
                $('#divCreateScoreType').unblock();
                if (response.success == true) {
                    $('#success-message').show();
                    setTimeout(function () { $(".dialog").dialog("close"); }, 2000);
                    var model = @Html.Raw(Json.Encode(Model));
                    var rawIndex = 0;
                    if(model.SubscoreId > 0) {
                        subScoreCalculateDetail_@(Model.SubscoreId) = [];
                        subScoreColumnForCalculate.SubscoreName_@(Model.SubscoreId) = [];
                        hasPercentScoreAutoSub_@(Model.SubscoreId) = false;
                        subScoreRawMaxScore_@(Model.SubscoreId) = null;
                        hasRawSubAuto_@(Model.SubscoreId) = false;
                        updateOrderSubScore('@(Model.SubscoreId)', response.scoreType, customScoreName, null);
                    } else {
                        overallCalculateDetail = [];
                        overalScoreColumnForCalculate = [];
                        hasPercentScoreAutoOverall = false;
                        overallRawMaxScore = null;
                        hasRawOverallAuto = false;
                        updateOrderOverallScore(response.scoreType, customScoreName, null);
                    }
                    expression.forEach(function (item) {
                        if (item.Level === 'Subscore' && item.IncludedColumns.length > 0) {
                            listSubScoreNeedReload.push(item.ScoreId);
                        }
                    })
                } else {
                    $('#error-messages').show();
                    $('#error-messages').html('<li>' + response.error + '</li>');
                }

            });
    }

    function cancelCreateOverallScore() {
        $(".dialog").dialog("close");
    }

    $("#divCreateScoreType #singleFieldTags .tag-editor").keypress(function (e) {
        var selectScoreType = $('#selectScoreType').val();
        if (selectScoreType === '@(ScoreTypeModel.RAW_SCORE)' || selectScoreType === '@(ScoreTypeModel.NUMERIC_CUSTOM_SCORE)') {
            if (e.which != 45 && e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        }
    });

    function isNumeric(obj) {
        var realStringObj = obj && obj.toString();
        return realStringObj.slice(-1) != '.' && !jQuery.isArray(obj) && (realStringObj - parseFloat(realStringObj) + 1) >= 0;
    }

    function getSelectedTagName(id) {
        var list = $(id).tagEditor('getTags')[0].tags.join(',');
        return list;
    }

    function displayOverallScoreTooltip(e, data, maxItemTooltipLength) {
        if (data == null) {
            data = '';
        }
        var width = '100px'; //default
        if (maxItemTooltipLength <= 50) {
            width = '200px';
        } else if (maxItemTooltipLength <= 100) {
            width = '300px';
        } else if (maxItemTooltipLength <= 120) {
            width = '350px';
        } else if (maxItemTooltipLength <= 135) {
            width = '400px';
        } else if (maxItemTooltipLength <= 150) {
            width = '450px';
        } else if (maxItemTooltipLength <= 200) {
            width = '600px';
        } else {
            width = '800px';
        }
        e.attr('title', '<p style="text-align:left;width:' + width + ';white-space: normal;word-break: break-all">' + data.split('|').join('<br />') + '</p>');
    }

    function updateDecimalPointOfScore() {
        var numberOfDecimalPoint = parseInt($('#NumberOfDecimalPoint').val());
        var minScore = $('#MinScore').val();
        var maxScore = $('#MaxScore').val();
        if (minScore != null && minScore.length > 0) {
            var minScoreFloat = parseFloat(minScore);
            minScoreFloat = minScoreFloat.toFixed(numberOfDecimalPoint);
            $('#MinScore').val(minScoreFloat);
        }
        if (maxScore != null && maxScore.length > 0) {
            var maxScoreFloat = parseFloat(maxScore);
            maxScoreFloat = maxScoreFloat.toFixed(numberOfDecimalPoint);
            $('#MaxScore').val(maxScoreFloat);
        }
    }

    function clearInput() {
        //clear all previous input data, if any
        $('#MinScore').val('0');
        $('#MaxScore').val('0');
        $('#Description').val('');
        $('#CustomScoreName').val('');
        $('#NumberOfDecimalPoint').val(0);
        $('#FreeText').prop('checked', true); //default
        $('#AllowFreeForm').prop('checked', true); //default
        $('#AllowUpperCaseOnly').prop('checked', false); //default

        $('#divsingleFieldTags').hide();
        $('#divsingleFieldTags ul').html('');

        $('#idrdManuallyenterresults').prop('checked', true);

        $('#radioRawManualEntry').prop('checked', true); //default
        $('#calculation').prop('checked', false);
        $('#radioPercentManualEntry').prop('checked', true); //default
        $('input[type=checkbox]').prop('checked', false);
        $('#isNoteDate').prop('checked', false);
        resetTagEditor('#predefinedTags');
        resetTagEditor('#scoreCalculation');
    }

    function dataHostpot() {
        var vDecimal = $("#NumberOfDecimalPoint").val();
        if (vDecimal === '0') {
            $('#dividrdSelectfromdropdownlist').show();
            var vMaxScore = $("#MaxScore").val();
            var vMinScore = $("#MinScore").val();
            if ((vMaxScore - vMinScore) < 5) {
                $('#divSelectscoresfromclickablecells').show();
            } else {
                $('#divSelectscoresfromclickablecells').hide();
                if ($('#idrdSelectscoresfromclickablecells').is(':checked')) {
                    $('#idrdManuallyenterresults').prop('checked', true);
                }
            }
        } else {
            $('#dividrdSelectfromdropdownlist').hide();
            $('#divSelectscoresfromclickablecells').hide();
            $('#idrdManuallyenterresults').prop('checked', true);
        }
    }

    function buildJsonOverallCalculate() {
        var result = {
            "Level":"Overall",
            "ScoreId": "",
            "IncludedColumns":[]
        };

        var listCheckboxOverall = $('#divOveralScoreRadio').find('input[type=checkbox]');
        for (var i = 0; i < listCheckboxOverall.length; i++) {
            var item = $(listCheckboxOverall[i]);
            if(item.is(':checked')) {
                result.IncludedColumns.push(item.val());
            }
        }
        return result;
    }

    function buildJsonSubCalculate(subScoreId) {
        var result = {
            "Level": "Subscore",
            "ScoreId": subScoreId,
            "IncludedColumns": []
        };

        // Extract the column values from tags that represent subscore columns for this subscore
        $('#scoreCalculation').find('.tag-editor-tag').each(function () {
            var columnValue = $(this).attr('data-column-value');
            var tagSubScoreId = $(this).attr('data-subscore-id');

            if (columnValue && tagSubScoreId === subScoreId) {
                if (!result.IncludedColumns.includes(columnValue)) {
                    result.IncludedColumns.push(columnValue);
                }
            }
        });
        return result;
    }

    function buildSelectedColumnSubScore(paramSubScoreId) {
        if(typeof subScoreColumnForCalculate === 'undefined') {
            return;
        }
        for (var subScore in subScoreColumnForCalculate) {
            if (subScoreColumnForCalculate.hasOwnProperty(subScore)) {
                var subScoreId = subScore.split('_')[1];
                if(paramSubScoreId == subScoreId) {
                    var wrap = $('<div class="divSubScore columns" id="divSubScoreRadio_'+subScoreId+'"></div>')
                    var titleHeader = $('#' + subScore).val();
                    var header = $('<div class="u-m-t-10"><h5>'+titleHeader+'</h5></div>')
                    var body = $('<div class="u-m-t-10"></div>')
                    for (var i = 0; i < subScoreColumnForCalculate[subScore].length; i++) {
                        var item = subScoreColumnForCalculate[subScore][i];
                        body.append('<div class="width-label"><input id="sub_'+ subScoreId + '_' + item.column +'" type="checkbox" value="'+item.column+'"><label for="sub_'+ subScoreId + '_' + item.column +'">&nbsp;'+item.name+'</label></div>');
                    }
                    wrap.append(header);
                    wrap.append(body);
                    $('#divSubScore').append(wrap);
                }
            }
        }
    }

    function clearInputNumeric() {
        $('#MinScore').val('0');
        $('#MaxScore').val('0');
        $('#NumberOfDecimalPoint').val(0);
        $('input[type=checkbox]').prop('checked', false);
        $(".listText").hide();
        $('#FreeText').prop('checked', true);
        $('#divsingleFieldTags').hide();
        $('#idrdManuallyenterresults').prop('checked', true);
        resetTagEditor('#singleFieldTags');
        resetTagEditor('#scoreCalculation');
        $('#divsingleFieldTags ul').html('');
        $('#divDecimalPlaces').show();
        $('.labelValueText').hide();
    }

    function resetTagEditor(id) {
        var tags = $(id).tagEditor('getTags')[0].tags;
        for (var i = 0; i < tags.length; i++) {
            $(id).tagEditor('removeTag', tags[i]);
        }
    }

    function formatDecimal(item) {
        var result = parseFloat(item);
        var numberOfDecimalPoint = parseInt($('#NumberOfDecimalPoint').val());
        result = roundN(result, numberOfDecimalPoint)
        return result;
    }

    function roundN(num,n){
        return parseFloat(Math.round(num * Math.pow(10, n)) /Math.pow(10,n)).toFixed(n);
    }

    function updateDecimalListText() {
        var tags = $('#singleFieldTags').tagEditor('getTags')[0].tags;
        for (var i = 0; i < tags.length; i++) {
            $('#singleFieldTags').tagEditor('removeTag', tags[i]);
        }
        $('#divsingleFieldTags ul').html('');
        for (var i = 0; i < tags.length; i++) {
            var item = formatDecimal(tags[i]);
            $('#singleFieldTags').tagEditor('addTag', item);
        }
    }

    function updateDecimalListLabelValue() {
        for (var i = 0; i < DefineTemplateModel.listLabelValue.length; i++) {
            if (DefineTemplateModel.listLabelValue[i].Option != "") {
                DefineTemplateModel.listLabelValue[i].Option = formatDecimal(DefineTemplateModel.listLabelValue[i].Option);
            }
        }
    }

    function findDuplicateInArray(arra1) {
        var object = {};
        var result = [];

        arra1.forEach(function (item) {
          if(!object[item])
              object[item] = 0;
            object[item] += 1;
        })

        for (var prop in object) {
           if(object[prop] >= 2) {
               result.push(prop);
           }
        }
        return result;
    }

</script>
