
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TemplatePublishToDistrictVM
<article class="container_12" style="margin-top: 2px; width: 700px;">
    <section class="grid_9 m-0">
        <div class="block-border">
            <div class="block-content form p-4">
                <h3 class="p-0 h3 modal-heading mb-3">Publish to @LabelHelper.DistrictLabels</h3>

                @using (Html.BeginForm("PublishToDistrict", "TestUtilitiesDefineTemplates", FormMethod.Post, new { id = "publishToDistrictForm", @class = "form" }))
                {
                    <ul style="display: none" id="error-messages" class="message error"></ul>
                    <ul style="display: none" id="success-message" class="message success">
                        <li>The template has been published to the @LabelHelper.DistrictLabel.</li>
                    </ul>

                    <div class="mb-4">
                        <h4 class="text-navy text-bold mb-3">Choose @LabelHelper.DistrictLabel</h4>
                        <div class="mb-3">
                            <label>State</label>
                            @Html.DropDownListFor(x => x.StateId, Model.AvailableStates, new { id = "selectStateOnPopup", @class = "full-width" })
                        </div>
                        <div class="mb-3">
                            <label>@LabelHelper.DistrictLabel</label>
                            @Html.DropDownListFor(x => x.DistrictId, Model.AvailableDistricts, new { id = "selectDistrictOnPopup", @class = "full-width" })
                        </div>
                    </div>

                    <div class="modal-component-footer mx-n4 px-4">
                        <div slot="footer">
                            <button id="btnCancel" type="button" onclick="displayListDistrictView()">Cancel</button>
                            <button id="btnSubmit" type="submit" name="Save">Publish</button>
                        </div>
                    </div>
                    <input type="hidden" name="TemplateId" value="@Model.TemplateId" id="TemplateId" />
                }
            </div>
        </div>
    </section>
</article>

<script type="text/javascript">
    $(function () {
        populateStatesOnPopup();
        $('#selectStateOnPopup').change(function () {
            if ($(this).val() != 'select') {
                populateDistrictsOnPopup($('#selectDistrictOnPopup'));
            }
            else {
                $('#selectDistrictOnPopup').empty();
            }
        });
        $('#notification').html('');
    });

    function populateStatesOnPopup() {
        var stateSelect = $('#selectStateOnPopup');
        stateSelect.empty();
        $.get('@Url.Action("GetStateByPublisherOrNetworkAdmin", "PopulateStateDistrict")', function (response) {
            addDefaultOption(stateSelect, "State");
            addSelectListItems(stateSelect, response);
        });
    }

    function populateDistrictsOnPopup(districtSelect) {
        districtSelect.empty();
        var stateValue = $('#selectStateOnPopup').val();
        $.get('@Url.Action("GetUnPublishedDistrictsByState")', { stateId: stateValue, templateId:@Model.TemplateId }, function (response) {
            addDefaultOption(districtSelect, "@LabelHelper.DistrictLabel");
            addSelectListItems(districtSelect, response);
        });
    }

    $('#publishToDistrictForm').submit(function (event) {
        var stateId = $('#selectStateOnPopup').val();
        if(stateId==null || stateId=='select' || stateId <= 0) {
            customAlertMessage({message: 'Please select state.'});
            return false;
        }
        var districtId = $('#selectDistrictOnPopup').val();
        if(districtId==null || districtId=='select' || districtId <= 0) {
            customAlertMessage({message: 'Please select @LabelHelper.DistrictLabel.'});
            return false;
        }

        event.preventDefault();
        $('#btnSubmit').disableBt();
        $('#success-message').hide();
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {
                if (response.success != false) {
                    $('#error-messages').hide();
                    $('#success-message').show();
                    //clearInputFields();
                    setTimeout(function () { displayListDistrictView(); }, 2000);
                } else {
                    customAlert(response.error, {
                        contentStyle: { maxWidth: 500 },
                        close: function () {
                            displayListDistrictView();
                    }})
                    $('#error-messages').addClass('no-margin');
                }
                $('#btnSubmit').enableBt();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    function clearInputFields() {
        $('.full-width').val('');
    }

    function displayListDistrictView() {
        $('#shareDistrictDiv').hide();
        $('#listDistrictDiv').show();
        ui.dataTablePublishedDistrict.fnDraw();
    }

</script>
