@using LinkIt.BubbleSheetPortal.Models
@model LinkIt.BubbleSheetPortal.Web.ViewModels.BubbleSheetStudentDetailsViewModel

<div class="questions">
    <p class="title-medium">@Model.AnsweredQuestionLable</p>
    @using (Html.BeginForm("SubmitTestQuestions", "BubbleSheetReviewDetails", FormMethod.Post))
    {
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th style="width: 75px">@Model.QuestionLable</th>
                    <th>@Model.AnswerChoicesLable</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var answeredQuestion in Model.AnsweredQuestions)
                {
                    if (answeredQuestion.IsOpenEndedQuestion)
                    {
                        <tr class="answerRowOpenEnded">
                            <td>
                                <p class="input-height">
                                    @answeredQuestion.QuestionOrder

                                </p>
                            </td>
                            <td>
                                <p class="input-height">
                                    <input class="openEndedQuestionAnswerTextbox" questionOrder="@answeredQuestion.QuestionOrder"
                                           type="text"
                                           max="@answeredQuestion.PointsPossible"
                                           pointsPossible="@answeredQuestion.PointsPossible"
                                           maxlength="3"
                                           questionId="@answeredQuestion.QuestionId"
                                           value="@answeredQuestion.AnswerLetter" />
                                    <span class="letterLabel">Max points: @answeredQuestion.PointsPossible</span>
                                </p>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="answeredRow" questionid="@answeredQuestion.QuestionId" questionorder="@answeredQuestion.QuestionOrder">
                            <td>
                                <p class="input-height">
                                    @answeredQuestion.QuestionOrder
                                </p>
                            </td>
                            <td>
                                <p class="input-height">
                                    @foreach (var answerChoice in answeredQuestion.AnswerChoices)
                                    {
                                        if (answeredQuestion.QTISchemaId == (int)QTISchemaType.ChoiceMultiple
                                            || (answeredQuestion.QTISchemaId == (int)QTISchemaType.ChoiceMultipleVariable && answeredQuestion.Cardinality.Equals("multiple")))
                                        {
                                            <input class="checkboxAnswer"
                                                   @(answeredQuestion.ListAnswerLetter.Any(o => o == answerChoice) ? "checked=checked" : "")
                                                   questionorder="@answeredQuestion.QuestionOrder"
                                                   type="checkbox"
                                                   name="@answeredQuestion.QuestionId" @(answeredQuestion.ListAnswerLetter.All(o => o != answerChoice) && answeredQuestion.ListAnswerLetter.Count == answeredQuestion.MaxChoice ? "disabled='disabled'" : "")
                                                   onclick="BubbleSheetViewCheckMaxchoice(@answeredQuestion.MaxChoice,@answeredQuestion.QuestionId)"
                                                   id="@answeredQuestion.QuestionId-M-@answerChoice"
                                                   value="@answerChoice" />
                                            <label class="letterLabel" for="@answeredQuestion.QuestionId-@answerChoice">@answerChoice</label>
                                        }
                                        else
                                        {
                                            <input class="radioButtonAnswer"
                                                   @(answeredQuestion.AnswerLetter == answerChoice ? "checked=checked" : "")
                                                   questionorder="@answeredQuestion.QuestionOrder"
                                                   type="radio"
                                                   name="@answeredQuestion.QuestionId"
                                                   id="@answeredQuestion.QuestionId-@answerChoice"
                                                   value="@answerChoice" />
                                            <label class="letterLabel" for="@answeredQuestion.QuestionId-@answerChoice">@answerChoice</label>
                                        }
                                    }
                                </p>
                            </td>
                        </tr>
                    }


                }
            </tbody>
        </table>
        <div class="text-end">
            <button id="submitAnsweredQuestionChanges" class="btn-red" type="submit">Submit</button>
        </div>
     }
    </div>

