@using LinkIt.BubbleSheetPortal.Models
@model LinkIt.BubbleSheetPortal.Web.ViewModels.BubbleSheetStudentDetailsViewModel

<div class="questions">
    <p class="title-medium">@Model.UnansweredQuestionLable</p>
    @using (Html.BeginForm("SubmitTestQuestions", "BubbleSheetReviewDetails", FormMethod.Post))
    {
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th style="width: 75px">@Model.QuestionLable</th>
                    <th>@Model.AnswerChoicesLable</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var unansweredQuestion in Model.UnansweredQuestions)
                {
                    if (unansweredQuestion.IsOpenEndedQuestion)
                    {
                        <tr class="unAnswerRowOpenEnded">
                            <td>
                                <p class="input-height">
                                    @unansweredQuestion.QuestionOrder
                                    @if (unansweredQuestion.IsMultiMarkQuestion)
                                    {
                                        <text>(M)</text>
                                    }
                                    else
                                    {
                                        <text>(I)</text>
                                    }
                                </p>
                            </td>
                            <td>
                                <p class="input-height">
                                    <input class="openEndedQuestionAnswerTextbox" questionOrder="@unansweredQuestion.QuestionOrder"
                                           type="text"
                                           max="@unansweredQuestion.PointsPossible"
                                           pointsPossible ="@unansweredQuestion.PointsPossible"
                                           maxlength="3"
                                           questionId="@unansweredQuestion.QuestionId"
                                           value="@Html.Raw(Model.IsApplyFullCreditAnswer || Model.IsApplyZeroCreditAnswer ? unansweredQuestion.CorrectLetter : string.Empty) "/>
                                    <span class="letterLabel">Max points: @unansweredQuestion.PointsPossible</span>
                                </p>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="unAnswerRow" questionid="@unansweredQuestion.QuestionId">
                            <td>
                                <p class="input-height">
                                    @unansweredQuestion.QuestionOrder
                                    @if (unansweredQuestion.IsMultiMarkQuestion)
                                    {
                                        <text>(M)</text>
                                    }
                                    else
                                    {
                                        <text>(I)</text>
                                    }
                                </p>
                            </td>
                            <td>
                                <p class="input-height">
                                    @foreach (var answerChoice in unansweredQuestion.AnswerChoices)
                                    {
                                        if (unansweredQuestion.QTISchemaId == (int)QTISchemaType.ChoiceMultiple
                                            || (unansweredQuestion.QTISchemaId == (int)QTISchemaType.ChoiceMultipleVariable
                                            && unansweredQuestion.Cardinality.Equals("multiple")))
                                        {
                                            <input class="checkboxAnswer"
                                                   @(unansweredQuestion.ListCorrectLetter.Any(o => o == answerChoice) ? "checked=checked" : "")
                                                   questionorder="@unansweredQuestion.QuestionOrder"
                                                   type="checkbox"
                                                   name="@unansweredQuestion.QuestionId"
                                                   onclick="BubbleSheetViewCheckMaxchoice(@unansweredQuestion.MaxChoice,@unansweredQuestion.QuestionId)"
                                                   id="@unansweredQuestion.QuestionId-M-@answerChoice"
                                                   value="@answerChoice" />
                                                <label class="letterLabel" for="@unansweredQuestion.QuestionId-@answerChoice">@answerChoice</label>
                                        }
                                        else
                                        {
                                            <input class="radioButtonAnswer"
                                                   @(unansweredQuestion.CorrectLetter == answerChoice ? "checked=checked" : "")
                                                   questionorder="@unansweredQuestion.QuestionOrder"
                                                   type="radio"
                                                   name="@unansweredQuestion.QuestionId"
                                                   id="@unansweredQuestion.QuestionId-@answerChoice"
                                                   value="@answerChoice" />
                                                <label class="letterLabel" for="@unansweredQuestion.QuestionId-@answerChoice">@answerChoice</label>
                                        }
                                    }
                                </p>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="text-end">
            <button id="submitUnansweredQuestions" class="btn-red" type="submit">Submit</button>
        </div>
    }
</div>

