<style  type="text/css">
    #dataTableItemBank_wrapper {
        margin-top: 34px;
    }
    #dataTableItemBankOnTop tbody tr {
        height: 100% !important;/* Fix for IE9 */
    }
    #dataTableItemBankOnTop tr td {
        padding-left: 4px;
        padding-right: 4px;
    }
    /* No data available in table */
    #dataTableItemBankOnTop .dataTables_empty div {
        width: 391px !important;
    }
    .scrollItem thead,
    .scrollItem tbody{display: block;}
    .scrollItem tbody{
        height: 400px;
        overflow: auto;
        overflow-x: hidden;
    }
    .scrollItem{
        width: 398px !important;
    }
    .scrollItem tbody td {
        /*word-break: break-all;*/ /* Not apply for whole table, just apply for long word in each td*/
        word-wrap: break-word;
    }
    .scrollItem tbody td:nth-of-type(2) div
    {
        width: 390px;
    }

    /*For IE9*/
    /*header*/
   
    #dataTableItemBankHeader thead tr td:nth-of-type(2) {
        width: 378px;
    }
   
    /*body*/
    .scrollItemIE9 {
        width: 398px !important;
    }
    .scrollItemIE9 tbody td:nth-of-type(2) div
    {
        width: 390px;
    }
   
</style>
<style>
   
    /* No data available in table */
     #dataTableItemSetOnTop .dataTables_empty div {
         width: 378px !important;
     }

    .scrollItemSet thead,
    .scrollItemSet tbody{display: block;}
    .scrollItemSet tbody {
        height: 400px;
        overflow: auto;
        overflow-x: hidden;
    }
    .scrollItemSet{
        width: 398px !important;
    }
    .scrollItemSet tbody td {
         /*word-break: break-all;*/ /* Not apply for whole table, just apply for long word in each td*/
         word-wrap: break-word;
     }
    .scrollItemSet tbody td:nth-of-type(1) div{
        width: 31px;
    }
    .scrollItemSet tbody td:nth-of-type(2) div
    {
        width: 320px;
    }
    .scrollItemSet img {
        padding-left: 0px;
        padding-right: 0px;
    }
    .noscrollItemSet tbody td:nth-of-type(2) div
    {
        width: 326px !important;
    }
    /* IE9 */
    .scrollItemSetIE9 tbody td:nth-of-type(1) div
    {
        width: 31px;
    }
    .noscrollItemSetIE9 tbody td:nth-of-type(2) div
    {
        width: 328px !important;
    }
     #dataTableItemSetOnTop tbody tr {
        height: 100% !important; 
    }
   
</style>
<article class="container_12" style="margin-top: 0px; width: 900px;">
    <section class="grid_9" style="margin-top: 0px; width: 890px;">
        <div class="block-border">
            <div class="block-content form" id="divMoveItemSet">
                <h1>Copy/Move Item Set                    
                </h1>
                <ul style="display: none" id="error-messages-copymove" class="message error"></ul>
                <ul style="display: none" id="success-message-copymove" class="message success">
                </ul>
                <fieldset id="publisherContent" class="grey-bg">
                    <div class="columns">
                        <div kclass="colx2-left">
                            <p>
                                <input type="checkbox" id="createACopy" name="CreateACopy" />
                                <label for="createACopy">Create a Copy</label>                                
                            </p>
                        </div>
                    </div>
                </fieldset>
                <div class="clear-10"></div>
                <div style="width: 820px; min-height: 690px; margin: auto;">
                    <div style="float: left; width: 400px">
                        <div class="block-content form">
                            <h1>
                                Item Banks
                            </h1>
                            @if ( ViewBag.IsNetworkAdmin)
                            {
                                <div class="columns">
                                    <div class="colx2-left">
                                        <p>
                                            <label>State</label>
                                            <select id="selectState" class="full-width"></select>
                                        </p>
                                    </div>
                                    <div class="colx2-right">
                                        <p>
                                            <label>@LabelHelper.DistrictLabel</label>
                                            <select id="selectDistrict" class="full-width"></select>
                                        </p>
                                    </div>
                                </div>
                            }
                            <p style="height: 5px"></p>
                            <div class="no-margin last-child">
                                <table id="dataTableItemBankOnTop" class="datatable table no-margin scrollItem" width="100%">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="display: none"></th>
                                            <th scope="col">
                                                <span class="column-sort">
                                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                                </span>
                                                Item Bank
                                            </th>                                
                                        </tr>
                                    </thead>
                                    <tbody style="cursor: pointer"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="float: left; width: 400px; padding-left: 15px">
                        <div class="block-content form">
                            <h1>
                                Item Sets
                            </h1>
                            <p style="height: 5px"></p>
                            <div class="no-margin last-child">
                                <table id="dataTableItemSetOnTop" class="datatable table no-margin scrollItemSet"  width="100%">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">
                                                <span class="column-sort">
                                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                                </span>
                                                Item Set
                                            </th>                                
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<input type="hidden" id="SelectedItemBankId" name="SelectedItemBankId"/>
<input type="hidden" id="SelectedItemSetId" name="SelectedItemSetId"/>
<script type="text/javascript">
    function addDefaultProviderOption(selectList, objectText) {
        selectList.empty();
        selectList
            .append($("<option></option>")
                .attr("value", "select")
                .text(objectText));
    }

    function innitDropdownListItemBank(selectedDistrictID) {
        var dropdownSelector = '#selectItemBank';

        $.ajax({
            url: '@Url.Action("LoadItemBanks","QTIItem")',
            dataType: 'json',
            async: false,
            success: function (data) {
                addDefaultProviderOption($(dropdownSelector), "Select Bank");
                //reset Select All -> All
                addSelectListWithDefaultValue($(dropdownSelector), data, 0);
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }
    $(function () {
        //innitDropdownListItemBank(0);
        LoadItemBankTable();
        InitItemSetTable(0);

        if ('@ViewBag.IsNetworkAdmin' === 'True') {
            $.get('@Url.Action("GetStatesForNetworkAdmin", "PopulateStateDistrict")', function (states) {
                addDefaultOption($('#selectState'), "State");
                addSelectListItems($('#selectState'), states);
                $('#selectState').val(@ViewBag.StateId);
                $('#selectState').trigger('change');
            });

            $('#selectState').change(function () {
                if ($('#selectState').val() != 'select') {
                    populateDistricts();
                }
            });

            $('#selectDistrict').change(function () {
                if ($('#selectDistrict').val() != 'select') {
                    $("#dataTableItemBankOnTop").dataTable().fnReloadAjax(getAjaxSourceItemBank());
                }
            });
        }

    });
    function populateDistricts() {
        $('#selectDistrict').empty();
        var stateValue = $('#selectState').val();
        if (stateValue != 'select') {
            $.get('@Url.Action("GetDistrictsForNetworkAdmin", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                addDefaultOption($('#selectDistrict'), "@LabelHelper.DistrictLabel");
                addSelectListItems($('#selectDistrict'), districts);
            });
        }
    }
    var oTableItemBankOnPopup;
    function LoadItemBankTable() {

        $('#dataTableItemBankOnTop tbody').click(function (event) {
            $(oTableItemBankOnPopup.fnSettings().aoData).each(function () {
                $(this.nTr).removeClass('row_selected');
            });
            if (event.target.tagName.toUpperCase() == 'TD' && event.target.id != null && event.target.id.length > 0) {
                $(event.target.parentNode).addClass('row_selected');
                //showItemSet
                $("#SelectedItemBankId").val(event.target.id);
                ui.dataTableItemSetOnTop.fnReloadAjax(getAjaxSourceItemSet(event.target.id));
            }

            //now there is always a div inside td
            //event.target is now div not td
            if (event.target.parentNode.tagName.toUpperCase() == 'TD' && event.target.parentNode.id != null && event.target.parentNode.id.length > 0) {
                $(event.target.parentNode.parentNode).addClass('row_selected');
                //showItemSet
                $("#SelectedItemBankId").val(event.target.parentNode.id);
                ui.dataTableItemSetOnTop.fnReloadAjax(getAjaxSourceItemSet(event.target.parentNode.id));
            }
        });

        var optionsItemBankOnPopup = {
            bServerSide: true,
            bDestroy: true,
            bStateSave: false,
            sAjaxSource: getAjaxSourceItemBank(),
            fnServerParams: function (aoData) {
                //TuanVo:encode text in filter searchbox 
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }
            },
            bAutoWidth: false,
            iDisplayLength: 100,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'QTIBankId', bSearchable: false, bSortable: false, sWidth: "0px" },
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true, sWidth: "378px" }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).hide();
                $('td:eq(1)', nRow).attr('id', aData[0]);
                addWordBreakToTableCell($('td:eq(0)', nRow), 25, aData[1]);
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableItemBankOnTop'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableItemBankOnTop').unblock();
                $('.with-tip').tip();
                formatTableForAddingVertialScrollBar('dataTableItemBankOnTop', 'scrollItem', 'noscrollItem', 'scrollItemIE9', 'noscrollItemIE9');
            }
        };
        $("#dataTableItemBankOnTop").data("options", optionsItemBankOnPopup);
        initializeDataTable($("#dataTableItemBankOnTop"));
        oTableItemBankOnPopup = $('#dataTableItemBankOnTop').dataTable();

    }
    function getAjaxSourceItemBank() {
        var districtId = $('#selectDistrict').val();
        return '@Url.Action("LoadItemBanks","ItemBank")?districtId=' + districtId;
    }

    function InitItemSetTable() {

        var optionsItemSet = {
            bServerSide: true,
            bDestroy: true,
            bStateSave: false,
            sAjaxSource: getAjaxSourceItemSet(0),
            fnServerParams: function (aoData) {
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }

            },
            bAutoWidth: false,
            iDisplayLength: 100,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'QTIGroupId', bSearchable: false, bSortable: false, sWidth: "30px" },
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true, sWidth: "325px" }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibilityMoveCopy(aData[0]));
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableItemSetOnTop'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableItemSetOnTop').unblock();
                $('.with-tip').tip();
                formatTableForAddingVertialScrollBar('dataTableItemSetOnTop', 'scrollItemSet', 'noscrollItemSet', 'scrollItemSetIE9', 'noscrollItemSetIE9');
            }
        };

        $("#dataTableItemSetOnTop").data("options", optionsItemSet);
        initializeDataTable($("#dataTableItemSetOnTop"));
    }
    function getAjaxSourceItemSet(itemBankId) {
        var districtId = 0;
        if ('@ViewBag.IsNetworkAdmin' == 'True') {
            districtId = $('#selectDistrict').val();
        }
        return '@Url.Action("LoadItemSets","ItemBank")?itemBankId=' + itemBankId + '&districtId=' + districtId;
    }

    function setIconVisibilityMoveCopy(qtiGroupId) {
        var moveItemSetIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/move-icon.png")';
        var moveItemSetString = '<a href="javascript:void(0)" onclick="ShowCopyMoveItemConfirm(' + qtiGroupId + ');" title="Move\/Copy Item" class="with-tip"><img src="' + moveItemSetIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

        return moveItemSetString;
    }

    function ShowCopyMoveItemConfirm(qtiGroupId) {
        $('#SelectedItemSetId').val(qtiGroupId);
        var createCopy = $('#createACopy').is(':checked');
        var message = 'Do you want to move the selected items to this item set?';
        if (createCopy) {
            message = 'Do you want to copy the selected items to this item set?';
        }
        CustomConfirm_F3882887_C118_41B9_AD02_E5A90B180FEE(message,true);
    }
    function CopyMoveItem() {
        var selectedQtiItemIds = getSelectedQtiItemIds();//define in _ItemListNormalView.cshtml

        var qtiGroupId = $('#SelectedItemSetId').val();
        var createCopy = $('#createACopy').is(':checked');
        if (createCopy) {
            ShowBlock($('#copyMoveItemDialog').parent(), 'Copying');
        }
        else {
            ShowBlock($('#copyMoveItemDialog').parent(), 'Moving');
        }
        //$('.my-overlay').last().css('z-index', 2000);

        $.ajax({
            url: '@Url.Action("CopyMoveItems","QTIItem")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ selectedQtiItemIds: selectedQtiItemIds, toQtiGroupId: qtiGroupId, createCopy: createCopy }),
            success: function (response) {
                $('#copyMoveItemDialog').parent().unblock();

                if (response.Success == 'Success') {
                    $('#success-message-copymove').show();
                    if (createCopy) {
                        $('#success-message-copymove').html('<li>Items Successfully Copied.</li>');
                    }
                    else {
                        $('#success-message-copymove').html('<li>Items Successfully Moved.</li>');
                    }
                    //close dialog
                    setTimeout(function () {
                        //$(".dialog").dialog("close");
                        //$('#dataTableItemBankOnTop').unblock();
                    }, 1000);

                } else {
                    $('#error-messages-copymove').show();
                    $('#error-messages-copymove').html('<li>' + response.message + '</li>');

                }
            }
        });

    }
    function showModalDialogBG() {
        var win = $('body');
        $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; height: ' + win.height() + 'px; z-index: 1001;"></div>');
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }

</script>
<script>
    function CustomConfirm_F3882887_C118_41B9_AD02_E5A90B180FEE(message, isLongMessage) {
        var yesButton = '<button style="width:63px;margin-left:0px;" onclick="CustomConfirmYesClick__F3882887_C118_41B9_AD02_E5A90B180FEE(this);">Yes</button>';
        var noButton = '<button style="width:63px;margin-left:20px;" onclick="CustomConfirmNoClick__F3882887_C118_41B9_AD02_E5A90B180FEE(this);">No</button>';
        var messageTextAlign = 'center';
        var messageBoxWidth = 240;
        var diaglogWidth = 300;
        var diaglogId = 'CustomConfirmDialog__F3882887_C118_41B9_AD02_E5A90B180FEE';

        if (typeof isLongMessage != "undefined" && isLongMessage == true) {
            messageTextAlign = 'left';
            messageBoxWidth = 540;
            diaglogWidth = 600;
        }
        var strHtml = '<section class="grid_5">' +
            '<div class="block-border" style="width: ' + messageBoxWidth + 'px;">' +
            '<div class="block-content form" style="padding-bottom: 1em;text-align:center;"><div style="text-align:' + messageTextAlign + ';line-height: 18px;">' + message +
            '</div><div style="text-align: center;padding-top:20px;padding-bottom:10px;">' + yesButton + noButton + '</div></div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", diaglogId)
            .appendTo("body")

            .dialog({
                close: function () { $(this).remove(); },
                modal: true,
                width: diaglogWidth,
                maxheight: 400,
                resizable: false,
                open: function() {
                    //$(".ui-dialog-titlebar-close").hide();
                    
                }
            });
    }

    function CustomConfirmYesClick__F3882887_C118_41B9_AD02_E5A90B180FEE(item) {
        $("#CustomConfirmDialog__F3882887_C118_41B9_AD02_E5A90B180FEE").dialog("close");
        //do copy or move
        CopyMoveItem();
    }
    function CustomConfirmNoClick__F3882887_C118_41B9_AD02_E5A90B180FEE(item) {
        $("#CustomConfirmDialog__F3882887_C118_41B9_AD02_E5A90B180FEE").dialog("close");
        
    }
</script>