<style type="text/css">
    .ui-widget-header {
        top: 70px;
        right: 0px !important
    }

    tr.even.row_selected td {
        background-color: #82CAFA !important;
    }

    tr.odd.row_selected td {
        background-color: #82CAFA !important;
    }

    #divPassageFilter label {
        font-size: 12px !important;
    }

    #divPassageFilter select {
        font-size: 13px !important;
    }

    .form-control {
        width: 295px;
        color: #333333;
        font-size: 1em;
        padding: 0.417em;
        border: 1px solid #89bad3;
        -moz-border-radius: 0.417em;
        -webkit-border-radius: 0.417em;
        -webkit-background-clip: padding-box;  
        border-radius: 0.417em;
    }
    
    .bubbleSheetSelector .header-btn
    {
        padding-right: 30px !important;
    }

    .bubbleSheetSelector .header-btn img
    {
        margin-bottom: 0px !important;
    }

    #divPassageFilterContent h1.title {
        line-height: 19.8px !important;
    }
</style>

<div id="divPassageFilter" class="bubbleSheetSelector" style="margin-top:0px">
    <h1 class="title">
        Filter
            <a class="header-btn" id="hrefAddNewPassage" href="javascript:void(0);" onclick="showPassageCreatePopup()">
                <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" />
                Add New
            </a>
    </h1>
    <p style="height: 5px">
        <div id="passageNotifications"></div>
    </p>
    <fieldset class="qtiItemSelector">
        <div class="columns">
            <div class="colx2-left">
                @if (ViewBag.IsPublisher != null && ViewBag.IsPublisher)
                {
                    <p>
                        <label>State</label>
                        <select id="selectState" data-bind='options: PassageStates, optionsText: "Text", optionsValue: "Value", optionsCaption: "Select State", value: PassageStateId' style="width: 300px"></select>
                    </p>
                }
                <p>
                    <label>Name</label>
                    <input id="txtName" class="form-control" style="width: 300px; box-sizing: border-box"/>
                </p>
                <p>
                    <label>@LabelHelper.GradeLabel</label>
                    <select id="selectPassageGrade" data-bind='options: PassageGrades, optionsText: "Text", optionsValue: "Value", optionsCaption: "Select @LabelHelper.GradeLabel", value: PassageGradeId' style="width: 300px"></select>
                </p>
                <p>
                    <label>@LabelHelper.Subject</label>
                    <select id="selectPassageSubject" data-bind='options: PassageSubjects, optionsText: "Text", optionsValue: "Value", optionsCaption: "Select Passage Subject", value: PassageSubjectText' style="width: 300px"></select>
                </p>
                <p>
                </p>
            </div>
            <div class="colx2-right">
                @if (ViewBag.IsPublisher != null && ViewBag.IsPublisher)
                {
                    <p>
                        <label>@LabelHelper.DistrictLabel</label>
                        <select id="selectDistrict" data-bind='options: PassageDistricts, optionsText: "Text", optionsValue: "Value", optionsCaption: "Select District", value: PassageDistrictId' style="width: 300px"></select>
                    </p>
                }
                <p>
                    <label>Passage Number</label>
                    <select id="selectPassageNumber" data-bind='options: PassageNumbers, optionsText: "Text", optionsValue: "Text", optionsCaption: "Select Passage Number", value: PassageNumberId' style="width: 300px"></select>
                    @*<input id="txtPassageNumber" class="form-control" />*@
                </p>
                <p>
                    <label>Text Type</label>
                    <select id="selectTextType" data-bind='options: TextTypes, optionsText: "Text", optionsValue: "Value", optionsCaption: "Select Text Type", value: TextTypeId' style="width: 300px"></select>
                </p>
                <p>
                    <label>Text Sub Type</label>
                    <select id="selectTextSubType" data-bind='options: TextSubTypes, optionsText: "Text", optionsValue: "Value", optionsCaption: "Select Text Sub Type", value: TextSubTypeId' style="width: 300px"></select>
                </p>
                <p>
                    <label>Flesch Kincaid</label>
                    <select id="selectFleschKincaidIds" data-bind='options: FleschKincaidIds, optionsText: "Text", optionsValue: "Value", optionsCaption: "Select Flesch Kincaid", value: FleschKincaidId' style="width: 300px"></select>
                </p>
            </div>
        </div>
    </fieldset>
    <br />
    <button data-bind="enable: ('@ViewBag.IsPublisher' === 'False' || ('@ViewBag.IsPublisher' === 'True' && PassageDistrictId))" id="setFilterPassage" class="float-right" type="submit">Apply Filters</button>
    <button id="clearFilterPassage" class="float-right grey" style="margin-right: 5px" type="button">Clear Filters</button>
    <div class="clear"></div>
</div>
<div class="clear-25"></div>
<div class="block-content form" id="divPassageListDataTable">
    <h1 class="title">
        Passage/Reference List
    </h1>
    <p style="height: 5px"></p>
    <div class="no-margin last-child">
        <table id="passageListDataTable" class="datatable table no-margin" width="100%">
            <thead>
                <tr>
                    <th scope="col" class="black-cell"><span class="loading"></span></th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Name
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Passage Number
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        @LabelHelper.GradeLabel
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Subject
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Text Type
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Text Sub Type
                    </th>
                    <th scope="col">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Flesch Kincaid
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div style="clear: both"></div>
<div class="no-margin last-child" style="padding-left: 17px">
    <button id="btnCloseUserClick" type="button" class="grey classProgramButton" data-dialog="close">Close</button>
</div>
<input type="hidden" id="QtiItemAssignedQTIRefObjectIDString" />

<script src=@Url.Content("~/Scripts/select2.full.min.js")></script>
<script type="text/javascript">
    function KeyValuePair(data) {
        var self = this;
        self.Text = ko.observable(data.Name);
        self.Value = ko.observable(data.Id);
    }

    var vmPassage;
    var viewModelPassage = function () {
        var self = this;

        //Grade
        self.PassageGradeId = ko.observable('');
        self.PassageGrades = ko.observableArray([]);

        //Subject
        self.PassageSubjectText = ko.observable('');
        self.PassageSubjects = ko.observableArray([]);

        //TextType
        self.TextTypeId = ko.observable('');
        self.TextTypes = ko.observableArray([]);

        //TextSubType
        self.TextSubTypeId = ko.observable('');
        self.TextSubTypes = ko.observableArray([]);

        //FleschKincaid
        self.FleschKincaidId = ko.observable('');
        self.FleschKincaidIds = ko.observableArray([]);

        // Passage
        self.PassageNumberId = ko.observable('');
        self.PassageNumbers = ko.observableArray([]);

        // District
        self.PassageDistrictId = ko.observable('');
        self.PassageDistricts = ko.observableArray([]);

        self.DisplayFilter = ko.computed(function () {
            self.PassageGrades([]);
            self.PassageSubjects([]);
            self.PassageNumbers([]);
            self.TextTypes([]);
            self.TextSubTypes([]);
            self.FleschKincaidIds([]);
            var url = '@Url.Action("GetFilterByCurrentUser", "PassageEditor")';
            var districtId = '';
            if ('@ViewBag.IsPublisher' === 'True') {
                districtId = self.PassageDistrictId();
            } else  {
                districtId = getDistrictIdFromURL();
            }
            $.ajax({
                url: url,
                type: 'get',
                cache: false,
                data: {
                    districtId
                }
            }).done(function (data) {
                var grades = $.map(data.Grades, function (item) {
                    return new KeyValuePair(item);
                });
                self.PassageGrades(grades);

                var subjects = $.map(data.Subjects, function (item) {
                    return new KeyValuePair(item);
                });
                self.PassageSubjects(subjects);

                var textTypes = $.map(data.TextTypes, function (item) {
                    return new KeyValuePair(item);
                });
                self.TextTypes(textTypes);

                var textSubTypes = $.map(data.TextSubTypes, function (item) {
                    return new KeyValuePair(item);
                });
                self.TextSubTypes(textSubTypes);

                var fleschKincaids = $.map(data.FleschKincaids, function (item) {
                    return new KeyValuePair(item);
                });
                self.FleschKincaidIds(fleschKincaids);

                var passageNumbers = $.map(data.PassageNumbers, function (item) {
                    return new KeyValuePair(item);
                });
                self.PassageNumbers(passageNumbers);
            });
        });

        //State
        if ('@ViewBag.IsPublisher' === 'True') {
            self.PassageStateId = ko.observable('');
            self.PassageStates = ko.observableArray([]);
            self.DisplayPassageState = ko.computed(function() {
                var url = '@Url.Action("GetStates", "PopulateStateDistrict")';
                $.ajax({
                    url: url,
                    type: 'get',
                    cache: false,
                    data: {}
                }).done(function(data) {
                    var mappedObjects = $.map(data, function(item) {
                        return new KeyValuePair(item);
                    });
                    self.PassageStates(mappedObjects);
                });
            });

            // District
            self.DisplayPassageDistrict = ko.computed(function() {
                self.PassageDistricts([]);
                if (self.PassageStateId() != undefined && self.PassageStateId() != '') {
                    var url = '@Url.Action("GetDistricts", "PopulateStateDistrict")';
                    $.ajax({
                        url: url,
                        type: 'get',
                        cache: false,
                        data: { stateId: self.PassageStateId() },
                    }).done(function (data) {
                        var mappedObjects = $.map(data, function (item) {
                            return new KeyValuePair(item);
                        });
                        self.PassageDistricts(mappedObjects);
                        if(self.PassageDistricts().length == 1){
                            self.PassageDistrictId(self.PassageDistricts()[0].Value());
                        }
                    });
                }
            });
        }
    };

    $(function () {
        vmPassage = new viewModelPassage();
        ko.cleanNode(document.getElementById("divPassageFilter"));
        ko.applyBindings(vmPassage, document.getElementById("divPassageFilter"));

        bindEvents();

        $.get('@Url.Action("GetMutualAssignedPassageIdString", "Passage")/?qtiItemIdString=@ViewBag.QtiItemIdString', function (data) {
            if (data.QtiItemAssignedPassageIdString.length > 0) {
                $("#QtiItemAssignedQTIRefObjectIDString").val(data.QtiItemAssignedPassageIdString);
            }

            LoadPassageDataTable();
            initializeDataTable($("#passageListDataTable"));

        });
    });

    $("#setFilterPassage").click(function () {
        //ReloadPassage();//declaredd in _ListPassageAvailable.cshtml
        $("#passageListDataTable").dataTable().fnReloadAjax(getAjaxSource());

    });

    $("#clearFilterPassage").click(function () {
        $('#txtName').val('');
        $("select").prop('selectedIndex', 0);

        $(oTable.fnSettings().aoData).each(function () {
                $(this.nTr).removeClass('row_selected');
        });

    });

    function bindEvents() {
        $('button[data-dialog="close"]').die('click');
        $(document).on('click', 'button[data-dialog="close"]', function (e) {

            var self = $(e.target);
            self.closest('.dialog').dialog('close');

        });

    }
    function LoadPassageDataTable() {
        var options = {
            bServerSide: true,
            bDestroy: true,
            //bStateSave: false,
            sAjaxSource: getAjaxSource(),
            cache: false,
            sServerMethod: "POST",
            fnServerParams: function (aoData) {
            },
            bAutoWidth: false,
            iDisplayLength: 10,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'PassageId', bSearchable: true, bSortable: false, sWidth: '100px' },
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true, sWidth: '170px' },
                { sType: 'int', sName: 'QTIRefObjectFileRef', bSearchable: true, bSortable: true, sWidth: '100px' },
                { sType: 'integer', sName: 'GradeOrder', bSearchable: false, bSortable: true, sWidth: '80px' },
                { sType: 'string', sName: 'Subject', bSearchable: true, bSortable: true, sWidth: '110px' },
                { sType: 'string', sName: 'TextType', bSearchable: true, bSortable: true, sWidth: '115px' },
                { sType: 'string', sName: 'TextSubType', bSearchable: true, bSortable: true, sWidth: '120px' },
                { sType: 'string', sName: 'FleschKinkaidName', bSearchable: true, bSortable: true, sWidth: '110px' },
                { sType: 'string', sName: 'Grade', bSearchable: true, bSortable: false, bVisible: false, sWidth: '0px' }
            ],
            fnPreDrawCallback: function () {
                ShowBlock($('#passageListDataTable'), "Loading");
                return true;
            },
            fnRowCallback: function (nRow, aData) {
                if (aData[1] == null || aData[1] == '') {
                    $('td:eq(1)', nRow).html('[unnamed]');
                }
                $('td:eq(0)', nRow).html(setIconVisibilityPassage(aData[0]));
                $('td:eq(3)', nRow).html(aData[8]);//display @LabelHelper.GradeLabel name on grade column, gradeorder used for sorting
                $('td:eq(1)', nRow).addClass('cursor-pointer');
                $('td:eq(1)', nRow).die('click');
                $('td:eq(1)', nRow).click(function () {
                    showPassageDetailPopupOnPassageList(aData[0], '');
                });
                $('td:eq(8)', nRow).css('display', 'none');
                return nRow;
            },
            fnDrawCallback: function () {
                $('#passageListDataTable').unblock();
                $('.with-tip').tip();
                $('.column-sort .sort-up').css('height', '20px');
                $('.column-sort .sort-down').css('height', '20px');

            }
        };
        $("#passageListDataTable").data("options", options);
    }

    function setIconVisibilityPassage(qtiRefObjectID) {
        var addDisplayed = 'inline';
        var deleteDisplayed = 'inline';
        var qTIRefObjectIdList = $("#QtiItemAssignedQTIRefObjectIDString").val();
        if (qTIRefObjectIdList == null) {
            qTIRefObjectIdList = '';
        }
        //if (qTIRefObjectIdList.indexOf(',-' + qtiRefObjectID + '-') >= 0) {
        //    deleteDisplayed = 'inline';
        //} else {
        //    addDisplayed = 'inline';//if passage has not been assigned, display green icon,else display the red icon
        //}

        var addIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")';
        var addString = '<a id="iconAdd_' + qtiRefObjectID + '" href="javascript:void(0)" onclick="AssignPassage(this);" title="Assign Passage" qtiRefObjectID="' + qtiRefObjectID + '" class="with-tip assignMasterStandard" style="display:' + addDisplayed + '"><img src="' + addIcon + '" width="16" height="16"></a>';

        var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-red.png")';
        var deleteString = '<a id="iconDelete_' + qtiRefObjectID + '" href="javascript:void(0)" onclick="RemovePassage(this);" title="Remove Passage" operation="1" qtiRefObjectID="' + qtiRefObjectID + '" class="with-tip actionIcon removeAssignedMasterStandard" style="display:' + deleteDisplayed + '"><img src="' + deleteIcon + '" width="16" height="16"></a>';

        var result = '';

        var viewDetailIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/view-item.png")';
        var viewDetailString = '<a id="iconViewDetail_' + qtiRefObjectID + '" href="javascript:void(0)" onclick="ViewPassage(' + qtiRefObjectID + ');" title="View Passage" qtiRefObjectID="' + qtiRefObjectID + '" class="with-tip "><img src="' + viewDetailIcon + '" width="16" height="16"></a>';

        var editIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';

        //var editString = '<a href="javascript:void(0);" onclick="EditPassagePopup(' + qtiRefObjectID + ')" title="Edit Passage" passageId="' + qtiRefObjectID + '" class="with-tip"><img src="' + editIcon + '" width="16" height="16" style="margin-right: 0px"></a>';
        var editString = '<a href="javascript:void(0);" onclick="showPassageEditForm(' + qtiRefObjectID + ')" title="Edit Passage" passageId="' + qtiRefObjectID + '" class="with-tip"><img src="' + editIcon + '" width="16" height="16" style="margin-right: 0px"></a>';

        var removeIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")';
        var removeString = '<a passageId="' + qtiRefObjectID + '" href="javascript:void(0);" onclick="DeletePassage(this);" title="delete passage" class="with-tip"><img src="' + removeIcon + '" width="16" height="16" style="margin-right: 0px"></a>';

        result = addString + deleteString + viewDetailString + editString;
        return result;

    }

    function getAjaxSource() {
        var params = getFilterParams();

        var endpoint = '@Url.Action("GetPassageList","PassageEditor")/?nameSearch=' + encodeURIComponent(params.nameSearch) + '&gradeId=' + params.gradeId + '&subject=' + encodeURIComponent(params.subject) + '&textTypeId=' + params.textTypeId + '&textSubTypeId=' + params.textSubTypeId + '&fleschKincaidId=' + params.fleschKincaidId + '&passageNumber=' + params.passageNumber;

        // Only filter assigned passage for virtual test
        var isVirtualTestView = $('#virtualSectionQuestion').length > 0;
        var qtiItemIdString = isVirtualTestView && !isFiltering() ? `@ViewBag.QtiItemIdString` : '';

        if ('@ViewBag.IsPublisher' === '@true') {
            var districtIdVal = $('#selectDistrict').val();
            if (!districtIdVal && !qtiItemIdString) {
                districtIdVal = 0;
            }
            endpoint += '&districtId=' + districtIdVal;
        } else  {
            endpoint += generateDistrictIdParamsFromURL();
        }

        return endpoint + `&qtiItemIdString=${qtiItemIdString}`;
    }

    function isFiltering()
    {
        var params = getFilterParams();

        var checkIsFilter = !(params.nameSearch == '' && params.passageNumber == '' &&
            params.gradeId == '' && params.subject == '' && params.textTypeId == '' &&
            params.textSubTypeId == '' && params.fleschKincaidId == '');

        if ('@ViewBag.IsPublisher' === '@true') {
            checkIsFilter = !(params.statedId == '' && params.districtId == '');
        }

        return checkIsFilter;
    }

    function getFilterParams()
    {
        var nameSearch = encodeURIComponent($("#txtName").val());
        var passageNumber = $("#selectPassageNumber").val();
        var gradeId = $("#selectPassageGrade").val();
        var subject = '';
        if ($("#selectPassageSubject").val() &&  $("#selectPassageSubject").val() != '') {
            subject = $("#selectPassageSubject option:selected").text();
        }
        var textTypeId = $("#selectTextType").val();;
        var textSubTypeId = $("#selectTextSubType").val();
        var fleschKincaidId = $("#selectFleschKincaidIds").val();
        var statedId = $("#selectState").val();
        var districtId = $("#selectDistrict").val();

        return { nameSearch, passageNumber, gradeId, subject, textTypeId, textSubTypeId, fleschKincaidId, statedId, districtId };
    }

    var isShowPassageDetailPopupOnPassageList = false;
    function showPassageDetailPopupOnPassageList(id, data) {
        if (isShowPassageDetailPopupOnPassageList)
            return;
        isShowPassageDetailPopupOnPassageList = true;

        var worker = $('<div />');
        worker
            .addClass("dialog PassageDetailPopupOnQtiItemDetailCSS")
            .attr("id", "PassageDetailDialog")
            .appendTo("body")
            .load('@Url.Action("ShowPassageDetail", "QTIItem")\?refObjectID=' + id + '&data=' + encodeURI(data), function () {
                worker.dialog({
                    title: $(this).attr("PassageDetail"),
                    open: function () {
                        $('#divPassageDetail').find('video').trigger('play');

                        //get the index of the main (filter) popup
                        var filterZindex = parseInt($('#addPassageDialog').parent().css('z-index'));
                        //set z-index for the second overlay
                        $('.ui-widget-overlay').last().css('z-index', filterZindex + 1);
                        $('.ui-widget-overlay').last().css('height', '2000px');
                        //then set the z-index for the second popup
                        $('#PassageDetailDialog').parent().css('z-index', filterZindex + 2);

                        $('#tips').html('');

                    },
                    close: function () {
                        $('.ui-widget-overlay:last').last().remove();
                        $(this).remove();
                        $('#tips').html('');
                        isShowPassageDetailPopupOnPassageList = false;
                        if (window.playsound != null) {
                            window.playsound.pause();
                        }
                    },
                    modal: false,
                    width: 780,
                    resizable: false
                });
            });
        showModalDialogBG();
    }

    $('#btnCloseUserClickPassageDetail').die('click');
    $('#btnCloseUserClickPassageDetail').live("click", function (e) {
        $('#PassageDetailDialog').parent().dialog("close");
        if (window.playsound != null) {
            window.playsound.pause();
        }
    });

    function AssignPassage(control) {
        $('#tips').empty();
        var self = $(control);
        var qtiRefObjectID = self.attr('qtiRefObjectID');
        ShowBlock($('#divPassageListDataTable'), 'Assigning');

        $.post('@Url.Action("AssignPassageForManyQtiItems", "Passage")', { qtiItemIdString: '@ViewBag.SelectedQtiItemId', qtiRefObjectID: qtiRefObjectID }, function (response) {
            $('#divPassageListDataTable').unblock();

            if (response.Success == 'Success') {
                LinkIt.success('#passageNotifications', 'Passage Assigned');
                var assignedIddList = $("#QtiItemAssignedQTIRefObjectIDString").val();
                if (assignedIddList == null) {
                    assignedIddList = '';
                }
                assignedIddList = assignedIddList + ",-" + qtiRefObjectID + "-";
                $("#QtiItemAssignedQTIRefObjectIDString").val(assignedIddList);
                $("#iconAdd_" + qtiRefObjectID).hide();
                $("#iconDelete_" + qtiRefObjectID).show();

            } else {
                alert(response.errorMessage);
            }

        });
    }

    function RemovePassage(control) {
        $('#tips').empty();
        if (confirm("Do you want to remove this passage?")) {
            var self = $(control);
            var qtiRefObjectID = self.attr('qtiRefObjectID');
            ShowBlock($('#divPassageListDataTable'), 'Deassigning');
            $.post('@Url.Action("RemovePassageForManyQtiItems", "Passage")', { qtiItemIdString: '@ViewBag.SelectedQtiItemId', qtiRefObjectID: qtiRefObjectID }, function (response) {
                $('#divPassageListDataTable').unblock();
                if (response.Success == 'Success') {

                    LinkIt.success('#passageNotifications', 'Passage Removed');

                    var assignedIddList = $("#QtiItemAssignedQTIRefObjectIDString").val();
                    if (assignedIddList == null) {
                        assignedIddList = '';
                    }
                    assignedIddList = assignedIddList.replace(',-' + qtiRefObjectID + '-', '');
                    $("#QtiItemAssignedQTIRefObjectIDString").val(assignedIddList);

                    $("#iconAdd_" + qtiRefObjectID).show();
                    $("#iconDelete_" + qtiRefObjectID).hide();

                    $("#passageListDataTable").dataTable().fnReloadAjax(getAjaxSource());

                } else {
                    alert(response.errorMessage);
                }

            });
        }
    }

    function ViewPassage(qtiRefObjectID) {
        showPassageDetailPopupOnPassageList(qtiRefObjectID, '');
    }
</script>
<script>
    function DeletePassage(control) {
        var self = $(control);
        if (confirm('Are you sure you want to delete this passage?')) {
            ShowBlock($('#passageListDataTable'), "Loading");
            $.ajax({
                url: '@Url.Action("Delete","PassageEditor")',
                type: 'POST',
                data: { qtiRefObjectId: self.attr('passageId') },
                success: function (response) {
                    if (response.Success == true) {
                        //$('#error-messages').hide();
                        //$('#success-message').show();
                        //Reload table
                        $("#passageListDataTable").dataTable().fnReloadAjax(getAjaxSource());

                    } else {
                        alert('An error has occured. Please try again.');
                    }
                    $('#passageListDataTable').unblock();

                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
    }
    function EditPassagePopup(passageId) {
        var qtiItemGroupId = $('#hdQTIItemGroupID').val();
        var worker = $('<div />');
        worker
            .addClass("dialog PassagePopUpDialogCSS")
            .attr("id", "editPassageDialog")
            .appendTo("body")
            .load('@Url.Action("LoadEditPassageForm","PassageEditor")?id=' + passageId + '&firstTime=true&from=fromItemSetEditor' + '&qtiItemGroupId=' + qtiItemGroupId, function () {
                worker.dialog({
                    open: function () {
                        //get the index of the main (filter) popup
                        var filterZindex = parseInt($('#addPassageDialog').parent().css('z-index'));

                        //set z-index for the second overlay
                        $('.ui-widget-overlay').last().css('z-index', filterZindex + 1);
                        $('.ui-widget-overlay').last().css('height', '2000px');
                        //then set the z-index for the second popup
                        $('#editPassageDialog').parent().css('z-index', filterZindex + 2);

                        $('#tips').html('');
                        $('.ui-widget-header').css('top', '70px');
                        $('h1').css('line-height', '19.8px');
                        $('.cke_editor_passageContent_dialog').remove();//clear dialog of image upload ,video upload
                    },
                    title: $(this).attr("Standard"),
                    close: function () {

                        $('.ui-widget-overlay').last().remove();//will be remove when table display completelly
                        $(this).remove();
                        $('#tips').html('');
                    },
                    modal: false,
                    width: 984,
                    resizable: false
                });
            });
        showModalDialogBG();

    }

    $("#txtPassageNumber").keydown(function (e) {
        numberTextBox_Keydown(e);
    });
</script>
