<style>
     .noPadding {
         padding-left: 0px ;
         padding-right: 0px;
         padding-bottom: 0px;
         padding-top: 0px;
     }
     .divItem {
         height:270px;
         width: 270px
     }
     .divInputName {
         float: left; 
         padding-left: 5px;
         padding-top: 5px
     }
     .divButtonAdd {
         float: left;
         padding-top: 5px
     }
     .resource-green-button {
         background: -moz-linear-gradient(center top , #FFFFFF, #72C6E4 4%, #0C5FA5) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
     }
     .LinkitDefaultTagForm {
         min-width: 827px;
         min-height: 277px;
     }
 </style>
<!-- Style for scrollbar-->
<style>
    /*********** Default css ***********/
    .dataTableDefaultTagStyle .dataTables_empty div {
        /*No data*/
        width: 264px !important;
    }
    .dataTableDefaultTagStyle tr td {
        padding-left: 0px;
        padding-right: 0px;
    }
    .dataTableDefaultTagStyle{
        width: 270px !important;
        height: 193px;
    }
    .dataTableDefaultTagStyle tbody img {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .dataTableDefaultTagStyle thead,
    .dataTableDefaultTagStyle tbody{display: block;}
    .dataTableDefaultTagStyle tbody {
        height: 158px;
        overflow: auto;
        overflow-x: hidden;
    }
    .dataTableDefaultTagStyle tbody td {
        /*word-break: break-all;*/
        word-wrap: break-word;
    }
    /* Padding content inside div */
    .dataTableDefaultTagStyle tbody tr td div {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    .dataTableDefaultTagStyle tbody td:nth-of-type(1) div {
        width: 30px;
    }
    .dataTableDefaultTagStyle tbody td:nth-of-type(2) div {
        width: 211px;
    }
    .dataTableDefaultTagStyle thead th:nth-of-type(1) {
        width: 15px !important;
    }
    .dataTableDefaultTagStyle thead th:nth-of-type(2) {
        width: 213px !important;
    }
    
    /*********** Has scroll bar ***********/
    .scrolldataTableDefaultTagStyle tbody td:nth-of-type(2) div {
        width: 211px;
    }
    /*********** No scroll bar ***********/
    .noscrolldataTableDefaultTagStyle tbody td:nth-of-type(2) div {
        width: 228px;
    }
   
</style>

<style>
/*Fix for IE9*/   
    .dataTableDefaultTagStyleIE9 {
        margin-top: -4px !important;
        height: auto !important;
    }
    .dataTableDefaultTagStyleIE9 tbody tr{
        height: 100% !important;
    } 
    .divdataTableDefaultTagStyleIE9   {
        margin-top: -22px !important;
        height: 149px !important;
    }
    .divdataTableHeaderDefaultTagStyleIE9  {
        margin-top: -12px !important;
    }

    /***List tag for search***/
    .ui-menu .ui-menu-item:hover {
        cursor: pointer;
    }
    .ui-autocomplete {
        z-index: 2000 !important;
        max-height: 200px !important;      
        overflow-x: hidden;
        overflow-y: visible;
        width: 260px !important;
    }
    .ui-menu .ui-menu-item{ background-color: transparent;}
    /***List tag for search***/
</style>
<section>   
    
        <div class="block-content form LinkitDefaultTagForm" style="margin-top: -10px">
            <label style="margin-top:-35px">
                @if(ViewBag.HasManyQtiItem)
                {
                    <text>
                        Shared Tags
                    </text>
                }
                else
                {
                    <text>
                        Associated Tags
                    </text>
                }
                
            </label>
            <div style="float: left; margin-top:0px">
                <div id="divTopic" style="float: left;padding-right: 5px">
                    <div  class="block-content form noPadding divItem">
                        <div style="float: left; height:230px; width: 100%; overflow: hidden;" class="noPadding">
                            <table id="dataTableTopic" class="datatable table no-margin noPadding dataTableDefaultTagStyle" style="width: 100%; padding-top: 5px !important">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 15px"></th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Topics
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div style="float: left; height: 40px; width: 100%" class="grey-bg noPadding">
                            <div class="divInputName" style="width: 170px;">
                                <input type="text" id="Topic" style="width: 100%" maxlength="200"/>
                            </div>
                            <div class="divButtonAdd" style="width: 80px;">
                                <button id="btnAddTopic" type="button" class="grey" tabindex="3" onclick="AddTopic()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divSkill" style="float: left;padding-right: 5px">
                    <div  class="block-content form noPadding divItem">
                        <div style="float: left; height:230px; width: 100%; overflow: hidden;" class="noPadding">
                            <table id="dataTableSkill" class="datatable table no-margin noPadding dataTableDefaultTagStyle" style="width: 100%;padding-top: 5px !important">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 15px"></th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Skills
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div style="float: left; height: 40px; width: 100%" class="grey-bg noPadding">
                            <div class="divInputName" style="width: 170px;">
                                <input type="text" id="Skill" style="width: 100%" maxlength="400" />
                            </div>
                            <div class="divButtonAdd" style="width: 80px;">
                                <button id="btnAddSkill" type="button" class="grey" tabindex="3" onclick="AddSkill()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divOther" style="float: left">
                    <div  class="block-content form noPadding divItem">
                        <div style="float: left; height:230px; width: 100%; overflow: hidden;" class="noPadding">
                            <table id="dataTableOther" class="datatable table no-margin noPadding dataTableDefaultTagStyle" style="width: 100%;padding-top: 5px !important">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 15px"></th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Other
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div style="float: left; height: 40px; width: 100%" class="grey-bg noPadding">
                            <div class="divInputName" style="width: 170px;">
                                <input type="text" id="Other" style="width: 100%" maxlength="400" />                                
                            </div>
                            <div class="divButtonAdd" style="width: 80px;">
                                <button id="btnAddOther" type="button" class="grey" tabindex="3" onclick="AddOther()">Add</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    
</section>
<script type="text/javascript">

    $(function () {
        PopulateTopic();
        PopulateSkill();
        PopulateOther();
        $("#dataTableTopic_wrapper").css("margin", "0");
        $("#dataTableSkill_wrapper").css("margin", "0");
        $("#dataTableOther_wrapper").css("margin", "0");
        bindEvents();


        $("#Topic").keyup(function () {
            if ($.trim($("#Topic").val()).length > 0) {
                $("#btnAddTopic").addClass('resource-green-button');
                $("#btnAddTopic").removeClass('grey');
            } else {
                $("#btnAddTopic").removeClass('resource-green-button');
                $("#btnAddTopic").addClass('grey');
            }
        });
        $("#Skill").keyup(function () {
            if ($.trim($("#Skill").val()).length > 0) {
                $("#btnAddSkill").addClass('resource-green-button');
                $("#btnAddSkill").removeClass('grey');
            } else {
                $("#btnAddSkill").removeClass('resource-green-button');
                $("#btnAddSkill").addClass('grey');
            }
        });
        $("#Other").keyup(function (e) {
            if ($.trim($("#Other").val()).length > 0) {
                $("#btnAddOther").addClass('resource-green-button');
                $("#btnAddOther").removeClass('grey');
            } else {
                $("#btnAddOther").removeClass('resource-green-button');
                $("#btnAddOther").addClass('grey');
            }
        });

         $("#Other").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetSearchAllOthersTags", "QTIItemTag")',
                    type: "get",
                    dataType: "json",
                    data: {
                        tagSearch: encodeURIComponent(htmlEncode(request.term)),
                        qtiitemIdString: '@ViewBag.QtiItemIdString'
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2
        });

        $("#Topic").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetSearchAllTopicTags", "QTIItemTag")',
                    type: "get",
                    dataType: "json",
                    data: {
                        tagSearch: encodeURIComponent(htmlEncode(request.term)),
                        qtiitemIdString: '@ViewBag.QtiItemIdString'
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2
        });

        $("#Skill").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetSearchAllSkillTags", "QTIItemTag")',
                    type: "get",
                    dataType: "json",
                    data: {
                        tagSearch: encodeURIComponent(htmlEncode(request.term)),
                        qtiitemIdString: '@ViewBag.QtiItemIdString'
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2
        });
    });        

    function PopulateTopic() {

        var optionsTopic = {
            bServerSide: true,
            bFilter: false, // not allow search filter
            sAjaxSource: '@Url.Action("GetMutualTopicsOfManyQtiItems", "QTIItemTag")',
            fnServerParams: function (aoData) {
                aoData.push(
                    { name: "qtiItemIdString", value: '@ViewBag.QtiItemIdString' }
                );

                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        //when passing parameter to searchbox then click on allpy filter, tabase does not recognize parameter, need to assign parameter to searchbox manually
                        if (item.value.length == 0 && $("input[aria-controls|='dataTableTopic']").val().length > 0) {
                            item.value = $("input[aria-controls|='dataTableTopic']").val();
                        }

                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''");
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;//only process searchbox
                    }
                    if (item.name == 'iDisplayLength') {
                        item.value = 10000;
                    }
                }
            },
            bAutoWidth: false,
            "oLanguage": {
                "sEmptyTable": "No Tag"
            },
            bPaginate: false,
            iDisplayLength: 1000,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'TopicID', bSearchable: false, bSortable: false, sWidth: "30px" },
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true, sWidth: '300px' }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(DisplayIconTopic(aData[0]));
                $('td:eq(1)', nRow).html($('<div/>').text(aData[1]).html());
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableTopic'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableTopic').unblock();
                $('.with-tip').tip();
                $('#dataTableTopic_wrapper .block - controls').css('marginTop', '100px');
                formatTableForAddingVertialScrollBar('dataTableTopic', 'scrolldataTableDefaultTagStyle', 'noscrolldataTableDefaultTagStyle', 'scrolldataTableDefaultTagStyleIE9', 'noscrolldataTableDefaultTagStyleIE9');
                if (jQuery.browser.msie && jQuery.browser.version == '9.0') {
                    //Fix for IE9
                    $('#dataTableTopic').addClass('dataTableDefaultTagStyleIE9');
                    $('#divdataTableTopic').addClass('divdataTableDefaultTagStyleIE9');//generated in formatTableForAddingVertialScrollBar
                    $('#dataTableTopicHeader').addClass('divdataTableHeaderDefaultTagStyleIE9'); //generated in formatTableForAddingVertialScrollBar
                }
            }
        };

        $("#dataTableTopic").data("options", optionsTopic);
        initializeDataTable($("#dataTableTopic"));
    }

    function DisplayIconTopic(topicId) {
        var removeIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-red.png")';
        var removeIconLink = '<a href="javascript:void(0);" title="Remove" class="with-tip" '
            + 'onclick="RemoveTopicTag(' + topicId + ')"'
            + '><img src ="' + removeIcon + '" width="16" height="16" style="margin-right: 4px"></a>';
        return removeIconLink;
    }
    function RemoveTopicTag(topicId) {
        ConfirmTopicDelete("Do you want to remove this tag?", topicId);
        @* if (confirm("Do you want to remove this tag?")) {
            $.post('@Url.Action("RemoveTopicTagForManyQtiItems", "QTIItemTag")', { qtiItemIdString: '@ViewBag.QtiItemIdString', topicId: topicId }, function(response) {
                if (response.Success == 'Success') {
                    ui.dataTableTopic.fnDraw();
                } else {
                    //alert(response.errorMessage);
                    alertMessageTagPopUp(response.errorMessage);
                }

            });
        }*@
    }
    function AddTopic() {
        var name = $("#Topic").val();
        name = $.trim(name);
        if (name.length == 0) {
            return;
        }
        if (name.length > 200) {
            alertMessageTagPopUp("Name of Topic Tag is not over 200 characters.");
            return;
        }
        $("#btnAddTopic").attr('disabled', 'disabled');

        $.post('@Url.Action("AssignTopicTagForManyQtiItems", "QTIItemTag")', { qtiItemIdString: '@ViewBag.QtiItemIdString', name: encodeURIComponent(name) }, function (response) {
            if (response.Success == 'Success') {
                ui.dataTableTopic.fnDraw();
                $("#btnAddTopic").removeAttr('disabled');
            } else {
                //alert(response.errorMessage);
                alertMessageTagPopUp(response.errorMessage);
                $("#btnAddTopic").removeAttr('disabled');
            }

        });
    }

    function PopulateSkill() {

        var optionsSkill = {
            bServerSide: true,
            bFilter: false, // not allow search filter
            sAjaxSource: '@Url.Action("GetMutualSkillsOfManyQtiItems", "QTIItemTag")',
            fnServerParams: function (aoData) {
                aoData.push(
                    { name: "qtiItemIdString", value: '@ViewBag.QtiItemIdString' }
                );

                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        //when passing parameter to searchbox then click on allpy filter, tabase does not recognize parameter, need to assign parameter to searchbox manually
                        if (item.value.length == 0 && $("input[aria-controls|='dataTableSkill']").val().length > 0) {
                            item.value = $("input[aria-controls|='dataTableSkill']").val();
                        }

                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''");
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;//only process searchbox
                    }
                    if (item.name == 'iDisplayLength') {
                        item.value = 10000;
                    }
                }
            },
            bAutoWidth: false,
            "oLanguage": {
                "sEmptyTable": "No Tag"
            },
            bPaginate: false,
            iDisplayLength: 1000,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'LessonOneID', bSearchable: false, bSortable: false, sWidth: "30px" },
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true, sWidth: '300px' }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(DisplayIconSkill(aData[0]));
                $('td:eq(1)', nRow).html($('<div/>').text(aData[1]).html());
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableSkill'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableSkill').unblock();
                $('.with-tip').tip();
                $('#dataTableSkill_wrapper .block - controls').css('marginTop', '100px');
                formatTableForAddingVertialScrollBar('dataTableSkill', 'scrolldataTableDefaultTagStyle', 'noscrolldataTableDefaultTagStyle', 'scrolldataTableDefaultTagStyleIE9', 'noscrolldataTableDefaultTagStyleIE9');
                if (jQuery.browser.msie && jQuery.browser.version == '9.0') {
                    //Fix for IE9
                    $('#dataTableSkill').addClass('dataTableDefaultTagStyleIE9');
                    $('#divdataTableSkill').addClass('divdataTableDefaultTagStyleIE9');//generated in formatTableForAddingVertialScrollBar
                    $('#dataTableSkillHeader').addClass('divdataTableHeaderDefaultTagStyleIE9'); //generated in formatTableForAddingVertialScrollBar
                }
            }
        };

        $("#dataTableSkill").data("options", optionsSkill);
        initializeDataTable($("#dataTableSkill"));
    }
    function DisplayIconSkill(lessonOneId) {
        var removeIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-red.png")';
        var removeIconLink = '<a href="javascript:void(0);" title="Remove" class="with-tip" '
            + 'onclick="RemoveSkillTag(' + lessonOneId + ')"'
            + '><img src ="' + removeIcon + '" width="16" height="16" style="margin-right: 4px"></a>';
        return removeIconLink;
    }
    function RemoveSkillTag(lessonOneId) {
        ConfirmSkillDelete("Do you want to remove this tag?", lessonOneId);
        @*if (confirm("Do you want to remove this tag?")) {
            $.post('@Url.Action("RemoveSkillTagForManyQtiItems", "QTIItemTag")', { qtiItemIdString:  '@ViewBag.QtiItemIdString', lessonOneId: lessonOneId }, function(response) {
                if (response.Success == 'Success') {
                    ui.dataTableSkill.fnDraw();
                } else {
                    //alert(response.errorMessage);
                    alertMessageTagPopUp(response.errorMessage);
                }

            });
        }*@
    }
    function AddSkill() {
        var name = $("#Skill").val();
        name = $.trim(name);
        if (name.length == 0) {
            return;
        }
        if (name.length > 400) {
            alertMessageTagPopUp("Name of Skill Tag is not over 400 characters.");
            return;
        }
        $("#btnAddSkill").attr('disabled', 'disabled');
        $.post('@Url.Action("AssignSkillTagForManyQtiItems", "QTIItemTag")', { qtiItemIdString: '@ViewBag.QtiItemIdString', name: encodeURIComponent(name) }, function (response) {
            if (response.Success == 'Success') {
                ui.dataTableSkill.fnDraw();
                $("#btnAddSkill").removeAttr('disabled');
            } else {
                //alert(response.errorMessage);
                alertMessageTagPopUp(response.errorMessage);
                $("#btnAddSkill").removeAttr('disabled');
            }

        });
    }

    function PopulateOther() {

        var optionsOther = {
            bServerSide: true,
            bFilter: false, // not allow search filter
            sAjaxSource: '@Url.Action("GetMutualOthersOfManyQtiItems", "QTIItemTag")',
            fnServerParams: function (aoData) {
                aoData.push(
                    { name: "qtiItemIdString", value: '@ViewBag.QtiItemIdString' }
                );

                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        //when passing parameter to searchbox then click on allpy filter, tabase does not recognize parameter, need to assign parameter to searchbox manually
                        if (item.value.length == 0 && $("input[aria-controls|='dataTableOther']").val().length > 0) {
                            item.value = $("input[aria-controls|='dataTableOther']").val();
                        }

                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''");
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;//only process searchbox
                    }
                    if (item.name == 'iDisplayLength') {
                        item.value = 10000;
                    }
                }
            },
            bAutoWidth: false,
            "oLanguage": {
                "sEmptyTable": "No Tag"
            },
            bPaginate: false,
            iDisplayLength: 1000,
            aaSorting: [[1, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'LessonTwoID', bSearchable: false, bSortable: false, sWidth: "30px" },
                { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true, sWidth: '300px' }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(DisplayIconOther(aData[0]));
                $('td:eq(1)', nRow).html($('<div/>').text(aData[1]).html());
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTableOther'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                $('#dataTableOther').unblock();
                $('.with-tip').tip();
                $('#dataTableOther_wrapper .block - controls').css('marginTop', '100px');
                formatTableForAddingVertialScrollBar('dataTableOther', 'scrolldataTableDefaultTagStyle', 'noscrolldataTableDefaultTagStyle', 'scrolldataTableDefaultTagStyleIE9', 'noscrolldataTableDefaultTagStyleIE9');
                if (jQuery.browser.msie && jQuery.browser.version == '9.0') {
                    //Fix for IE9
                    $('#dataTableOther').addClass('dataTableDefaultTagStyleIE9');
                    $('#divdataTableOther').addClass('divdataTableDefaultTagStyleIE9');//generated in formatTableForAddingVertialScrollBar
                    $('#dataTableOtherHeader').addClass('divdataTableHeaderDefaultTagStyleIE9'); //generated in formatTableForAddingVertialScrollBar
                }
            }
        };

        $("#dataTableOther").data("options", optionsOther);
        initializeDataTable($("#dataTableOther"));
    }
    function DisplayIconOther(lessonTwoId) {
        var removeIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-red.png")';
        var removeIconLink = '<a href="javascript:void(0);" title="Remove" class="with-tip" '
            + 'onclick="RemoveOtherTag(' + lessonTwoId + ')"'
            + '><img src ="' + removeIcon + '" width="16" height="16" style="margin-right: 4px"></a>';
        return removeIconLink;
    }
    function RemoveOtherTag(lessonTwoId) {
        ConfirmOtherDelete("Do you want to remove this tag?", lessonTwoId);
        @*  if (confirm("Do you want to remove this tag?")) {
            $.get('@Url.Action("RemoveOtherTagForManyQtiItems", "QTIItemTag")', { qtiItemIdString: '@ViewBag.QtiItemIdString', lessonTwoId: lessonTwoId }, function(response) {
                if (response.Success == 'Success') {
                    ui.dataTableOther.fnDraw();
                } else {
                    //alert(response.errorMessage);
                    alertMessageTagPopUp(response.errorMessage);
                }

            });
        }*@
    }
    function AddOther() {
        var name = $("#Other").val();
        name = $.trim(name);
        if (name.length == 0) {
            return;
        }
        if (name.length > 400) {
            alertMessageTagPopUp("Name of Other Tag is not over 400 characters.");
            return;
        }
        $("#btnAddOther").attr('disabled', 'disabled');
        $.post('@Url.Action("AssignOtherTagForManyQtiItems", "QTIItemTag")', { qtiItemIdString: '@ViewBag.QtiItemIdString', name: encodeURIComponent(name) }, function (response) {
            if (response.Success == 'Success') {
                ui.dataTableOther.fnDraw();
                $("#btnAddOther").removeAttr('disabled');
            } else {
                //alert(response.errorMessage);
                alertMessageTagPopUp(response.errorMessage);
                $("#btnAddOther").removeAttr('disabled');
            }

        });
    }
    function bindEvents() {
        $('button[data-dialog="close"]').die('click');
        $(document).on('click', 'button[data-dialog="close"]', function (e) {

            var self = $(e.target);
            self.closest('.dialog').dialog('close');

        });

    }


</script>
<!-- Custom confirm popup window -->
<script type="text/javascript">
    function ConfirmTopicDelete(message, id) {
        var hbody = $("body").height() - 109;
        var strHtml = '<section class="grid_5" style="height:140px;">' +
            '<div class="block-border" style="width: 350px; min-height: 100px;">' +
            '<div class="block-content form" style="padding-bottom:0px">' +
            '<table cellpadding="0" cellspacing="0" style="margin-top:-15px;"><tr><td><p class="styleMessage" style="margin-bottom:10px;">' + message +
            '</p></td></tr><tr><td>' +
            '<p class="plButton"  style="margin-bottom:10px;text-align: center">' +
            '<button id="btnOk" type="button" name="ok" onclick="ConfirmTopicDeleteOkClick(' + id + ')">OK</button>' +
            '<button id="btnCancel" type="button" name="cancel" onclick="ConfirmTopicDeleteCancelClick()" style="margin-left:10px;">Cancel</button>' +
            '</p></td></tr></table></div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", "ConfirmTopicDeleteDialog")
            .appendTo("body")
            .dialog({
                open: function () {
                    $('#ConfirmTopicDeleteDialog').prev().css('top', '34px');
                },
                close: function () { $(this).remove(); },
                modal: true,
                width: 420,
                maxheight: 100,
                resizable: false
            });

        $(".ui-dialog").css("height", hbody);

    }

    function ConfirmTopicDeleteOkClick(topicId) {
        $.post('@Url.Action("RemoveTopicTagForManyQtiItems", "QTIItemTag")', { qtiItemIdString: '@ViewBag.QtiItemIdString', topicId: topicId }, function (response) {
            if (response.Success == 'Success') {
                $("#ConfirmTopicDeleteDialog").dialog("close");
                ui.dataTableTopic.fnDraw();
            } else {
                //alert(response.errorMessage);
                alertMessageTagPopUp(response.errorMessage);
            }

        });
        
    }

    function ConfirmTopicDeleteCancelClick() {
        $("#ConfirmTopicDeleteDialog").dialog("close");
    }
    
    function ConfirmSkillDelete(message, id) {
        var hbody = $("body").height() - 109;
        var strHtml = '<section class="grid_5" style="height:140px;">' +
            '<div class="block-border" style="width: 350px; min-height: 100px;">' +
            '<div class="block-content form" style="padding-bottom:0px">' +
            '<table cellpadding="0" cellspacing="0" style="margin-top:-15px;"><tr><td><p class="styleMessage" style="margin-bottom:10px;">' + message +
            '</p></td></tr><tr><td>' +
            '<p class="plButton"  style="margin-bottom:10px;text-align: center">' +
            '<button id="btnOk" type="button" name="ok" onclick="ConfirmSkillDeleteOkClick(' + id + ')">OK</button>' +
            '<button id="btnCancel" type="button" name="cancel" onclick="ConfirmSkillDeleteCancelClick()" style="margin-left:10px;">Cancel</button>' +
            '</p></td></tr></table></div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", "ConfirmSkillDeleteDialog")
            .appendTo("body")
            .dialog({
                open: function () {
                    $('#ConfirmSkillDeleteDialog').prev().css('top', '34px');
                },
                close: function () { $(this).remove(); },
                modal: true,
                width: 420,
                maxheight: 100,
                resizable: false
            });

        $(".ui-dialog").css("height", hbody);

    }

    function ConfirmSkillDeleteOkClick(lessonOneId) {
        $.post('@Url.Action("RemoveSkillTagForManyQtiItems", "QTIItemTag")', { qtiItemIdString: '@ViewBag.QtiItemIdString', lessonOneId: lessonOneId }, function (response) {
            if (response.Success == 'Success') {
                $("#ConfirmSkillDeleteDialog").dialog("close");
                ui.dataTableSkill.fnDraw();
            } else {
                //alert(response.errorMessage);
                alertMessageTagPopUp(response.errorMessage);
            }

        });

    }

    function ConfirmSkillDeleteCancelClick() {
        $("#ConfirmSkillDeleteDialog").dialog("close");
    }
    
    function ConfirmOtherDelete(message, id) {
        var hbody = $("body").height() - 109;
        var strHtml = '<section class="grid_5" style="height:140px;">' +
            '<div class="block-border" style="width: 350px; min-height: 100px;">' +
            '<div class="block-content form" style="padding-bottom:0px">' +
            '<table cellpadding="0" cellspacing="0" style="margin-top:-15px;"><tr><td><p class="styleMessage" style="margin-bottom:10px;">' + message +
            '</p></td></tr><tr><td>' +
            '<p class="plButton"  style="margin-bottom:10px;text-align: center">' +
            '<button id="btnOk" type="button" name="ok" onclick="ConfirmOtherDeleteOkClick(' + id + ')">OK</button>' +
            '<button id="btnCancel" type="button" name="cancel" onclick="ConfirmOtherDeleteCancelClick()" style="margin-left:10px;">Cancel</button>' +
            '</p></td></tr></table></div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", "ConfirmOtherDeleteDialog")
            .appendTo("body")
            .dialog({
                open: function () {
                    $('#ConfirmOtherDeleteDialog').prev().css('top', '34px');
                },
                close: function () { $(this).remove(); },
                modal: true,
                width: 420,
                maxheight: 100,
                resizable: false
            });

        $(".ui-dialog").css("height", hbody);

    }

    function ConfirmOtherDeleteOkClick(lessonTwoId) {
        $.post('@Url.Action("RemoveOtherTagForManyQtiItems", "QTIItemTag")', { qtiItemIdString: '@ViewBag.QtiItemIdString', lessonTwoId: lessonTwoId }, function (response) {
            if (response.Success == 'Success') {
                $("#ConfirmOtherDeleteDialog").dialog("close");
                ui.dataTableOther.fnDraw();
            } else {
                //alert(response.errorMessage);
                alertMessageTagPopUp(response.errorMessage);
            }

        });

    }

    function ConfirmOtherDeleteCancelClick() {
        $("#ConfirmOtherDeleteDialog").dialog("close");
    }
</script>