@model LinkIt.BubbleSheetPortal.Models.DataLockerPreferencesSetting.DataSettings
<link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/test-schedule.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/TestPreferences/testPreferences.js")" type="text/javascript"></script>
<style>
    .w-35 {
        width: 35%;
    }

    .ml-1rem {
        margin-left: 1rem !important;
    }
    .ml-3rem {
        margin-left: 3rem !important;
    }

    #no_hover {
        pointer-events: none;
    }
    .sectionDataLockerSetting h4,
    .data-locker-preferences-setting table td {
        border: none !important;
        color: var(--navyColor);
        min-height: 36px;
    }
    #portal-v2-containter .sectionDataLockerSetting td {
        margin-bottom: .5rem !important;
    }
    .sectionDataLockerSetting .position-unset {
        position: unset !important
    }
    .data-locker-preferences-setting table td {
        padding: .3rem 16px .3rem 16px !important;
    }
    #dvPublishFormSettingPanel {
        background-color: var(--white)
    }
    .data-locker-preferences-setting .table.table-accordion {
        border: none
    }
    .show {
        right: 10px;
    }
    #portal-v2-containter .data-locker-preferences-setting input[type=radio]:after,
    #portal-v2-containter .data-locker-preferences-setting input[type=radio].input-checked-v2::after {
        color: var(--lightBlue)
    }
    #portal-v2-containter .form input[type=number] {
        padding: 0.65rem !important;
        border: 2px solid var(--selectBorder) !important;
        border-radius: 0;
        color: var(--selectColor);
        font-size: var(--fontSizeText);
        background: none;
    }

    #accordion-assignment-setting {
        border: 2px solid var(--blue3);
        border-radius: 0;
        background-color: var(--blue1);
        margin-bottom: 24px;
    }

    .clearBtn {
        position: absolute;
        bottom: 16px;
        right: 15px;
        transition: right 0.2s;
        z-index: 2000;
        cursor: pointer;
    }
</style>
<div id="lastUpdateInfor" style="display: flex; justify-content: flex-end; padding-right: .25rem;"></div>
<div class="accordion-content active data-locker-preferences-setting" id="accordion-assignment-setting">
    <table tabIndex="1" class="table table-accordion u-w-p-100" style="margin-bottom: 12px">
        <tbody>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title" style="vertical-align: top; padding-top: .6rem">
                    Expired
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.ExpriedOn) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.ExpriedOn' class='with-tip ms-2'><img src='/Content/images/icons/icon-info.svg' width='16' height='16'></a>
                    }
                </td>
                <td colspan="2" style="padding-right:0 !important">
                    <table class="u-w-p-100">
                        <tbody>
                            <tr>
                                <td class="w-35"></td>
                                <td colspan="2">
                                    @if (Model.ExpriedOn.TypeExpiredOn == "0")
                                    {
                                        <div class="float-end">
                                            <input type="radio" class="input-checked-v2" value="0" name="typeExpiredOn" id="typeExpiredOnOn" checked="checked" /> Duration
                                            <input type="radio" value="1" name="typeExpiredOn" id="typeExpiredOnOff" class="ml-1rem ms-3" /> Deadline
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="float-end">
                                            <input type="radio" value="0" name="typeExpiredOn" id="typeExpiredOnOn" /> Duration
                                            <input type="radio" value="1" class="input-checked-v2 ms-3" name="typeExpiredOn" id="typeExpiredOnOff" class="ml-1rem" checked="checked" /> Deadline
                                        </div>
                                    }
                                </td>
                            </tr>
                            <tr class="duration-expired">
                                <td colspan="3">
                                    <div class="d-flex flex-row justify-content-end">
                                        <div class="d-flex flex-column form position-relative" style="width: 166px">
                                            <label class="me-1">Date </label>
                                            <input type="text" class="datepicker" name="expriedDate" readonly="readonly" style="height: 48px; width: 100%" />
                                            <span id="clearBtn1" class="clearBtn" onclick="clearDatePicked()">
                                                <i class="fa-sharp fa-solid fa-xmark align-middle"></i>
                                            </span>
                                        </div>
                                        <div class="form d-flex flex-column" style="width: 166px; margin-left: 20px">
                                            <label class="me-1">Time </label>
                                            <input type="time" name="expriedTime" value="@Model.ExpriedOn.TimeExpried" style="height: 48px; width: 100%" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="deadline-expired">
                                <td colspan="3" class="form">
                                    <div class="d-flex flex-row justify-content-end">
                                        <div class="d-flex flex-row align-items-center">
                                            <input type="number" name="deadline" min="0" value="30" oninput="this.value = Math.abs(this.value)" style="margin-right: 10px !important;" />
                                            Days
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="sectionDataLockerSetting">
                <td colspan="2" class="w-35 table-accordion-title">
                    Allow Modification of Uploaded Artifacts
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.ModificationUploadedArtifacts) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.ModificationUploadedArtifacts' class='with-tip ms-2'><img src='/Content/images/icons/icon-info.svg' width='16' height='16'></a>
                    }
                </td>
                @if (Model.ModificationUploadedArtifacts.AllowModification == "1")
                {
                    <td class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch mt-0 position-unset d-flex flex-row align-items-center justify-content-end">
                            <div>
                                <input class="form-check-input" type="checkbox" name="allowModification" id="allowModificationOn" checked="checked">
                            </div>
                        </div>
                    </td>

                }
                else
                {
                    <td class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch mt-0 position-unset d-flex flex-row align-items-center justify-content-end">
                            <div>
                                <input class="form-check-input" type="checkbox" name="allowModification" id="allowModificationOn">
                            </div>
                        </div>
                    </td>

                }
            </tr>
            <tr class="sectionDataLockerSetting" id="no_hover">
                <td colspan="3">
                    <h4 class="m-0" style="min-height: unset">
                        Upload Preferences
                    </h4>
                </td>
            </tr>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title " style="padding-left: 30px !important">
                    Allow Upload Files
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.Upload) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.Upload' class='with-tip ms-2'><img src='/Content/images/icons/icon-info.svg' width='16' height='16'></a>
                    }
                </td>
                <td class="w-35" />
                @if (Model.Upload.AllowUpload == "1")
                {
                    <td class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch mt-0 position-unset d-flex flex-row align-items-center justify-content-end">
                            <div>
                                <input class="form-check-input clss-check-upload" type="checkbox" name="allowUpload" id="allowUploadOn" checked="checked">
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    <td class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch mt-0 position-unset d-flex flex-row align-items-center justify-content-end">
                            <div>
                                <input class="form-check-input clss-check-upload" type="checkbox" name="allowUpload" id="allowUploadOn">
                            </div>
                        </div>
                    </td>
                }
            </tr>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title " style="padding-left: 30px !important">
                    Allow Audio Recording
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.AudioRecording) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.AudioRecording' class='with-tip ms-2'><img src='/Content/images/icons/icon-info.svg' width='16' height='16'></a>
                    }
                </td>
                <td class="w-35" />
                @if (Model.AudioRecording.AllowRecording == "1")
                {
                    <td class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch mt-0 position-unset d-flex flex-row align-items-center justify-content-end">
                            <div>
                                <input class="form-check-input clss-check-upload" type="checkbox" name="allowAudio" id="allowAudioOn" checked="checked">
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    <td class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch mt-0 position-unset d-flex flex-row align-items-center justify-content-end">
                            <div>
                                <input class="form-check-input clss-check-upload" type="checkbox" name="allowAudio" id="allowAudioOn">
                            </div>
                        </div>
                    </td>
                }
            </tr>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title " style="padding-left: 30px !important">
                    Allow Video Recording
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.VideoRecording) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.VideoRecording' class='with-tip ms-2'><img src='/Content/images/icons/icon-info.svg' width='16' height='16'></a>
                    }
                </td>
                <td class="w-35" />
                @if (Model.VideoRecording.AllowRecording == "1")
                {
                    <td class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch mt-0 position-unset d-flex flex-row align-items-center justify-content-end">
                            <div>
                                <input class="form-check-input clss-check-upload" type="checkbox" name="allowVideo" id="allowVideoOn" checked="checked">
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    <td class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch mt-0 position-unset d-flex flex-row align-items-center justify-content-end">
                            <div>
                                <input class="form-check-input clss-check-upload" type="checkbox" name="allowVideo" id="allowVideoOn">
                            </div>
                        </div>
                    </td>
                }
            </tr>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title " style="padding-left: 30px !important">
                    Allow Camera Capture
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.CameraCapture) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.CameraCapture' class='with-tip ms-2'><img src='/Content/images/icons/icon-info.svg' width='16' height='16'></a>
                    }
                </td>
                <td class="w-35" />
                @if (Model.CameraCapture.AllowCapture == "1")
                {
                    <td class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch mt-0 position-unset d-flex flex-row align-items-center justify-content-end">
                            <div>
                                <input class="form-check-input clss-check-upload" type="checkbox" name="allowCamera" id="allowCameraOn" checked="checked">
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    <td class="d-flex flex-row justify-content-end">
                        <div class="form-check form-switch mt-0 position-unset d-flex flex-row align-items-center justify-content-end">
                            <div>
                                <input class="form-check-input clss-check-upload" type="checkbox" name="allowCamera" id="allowCameraOn">
                            </div>
                        </div>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-component-footer" style="margin: 0 -24px -24px -24px !important">
    <div slot="footer" class="d-flex flex-row justify-content-between" style="padding: 0 70px">
        <button onclick="cancelPopUp()" type="button">Cancel</button>
        <button id="btnSave" class="btn-red" type="button">Publish</button>
    </div>
</div>

<script type="text/javascript">
    $('.with-tip').tip();
    var dataLockerPreferencesModel = @Html.Raw(Json.Encode(Model));
    setLockDataSetting()
     $(".datepicker").datepicker({
            dateFormat: '@ViewBag.DateFormat',
            beforeShow: function (input) {
                $(input).css({
                    "position": "relative",
                    "z-index": '2000'
                });
               var tagActive = $(input).parents('body').find('#ui-datepicker-div');
                tagActive.find('.ui-state-highlight').css('min-height', 'auto');
                tagActive.addClass('customCssDataPickerPreference');

            }
    });
    if (dataLockerPreferencesModel.ExpriedOn.DateExpried) {
        $("input[name='expriedDate']").datepicker("setDate", new Date(dataLockerPreferencesModel.ExpriedOn.DateExpried));
        $("#clearBtn1").addClass("show");
    }
    var DateDeadlineData = dataLockerPreferencesModel.ExpriedOn.DateDeadline || '30'
    $("input[name='deadline']").val(DateDeadlineData);
    var typeExpiredOnData = dataLockerPreferencesModel.ExpriedOn.TypeExpiredOn || '0'
    if (+typeExpiredOnData) {
        $(".duration-expired").show();
        $(".deadline-expired").hide();
    } else {
        $(".duration-expired").hide();
        $(".deadline-expired").show();
    }
    $("input[name='typeExpiredOn']").change(function () {
        $("input[name='deadline']").val(DateDeadlineData);
        $("input[name='expriedTime']").val('@Model.ExpriedOn.TimeExpried');
        if (dataLockerPreferencesModel.ExpriedOn.DateExpried) {
            $("input[name='expriedDate']").datepicker("setDate", new Date(dataLockerPreferencesModel.ExpriedOn.DateExpried));
            $("#clearBtn1").addClass("show");
        } else {
            $("input[name='expriedDate']").datepicker("setDate", null)
            $("#clearBtn1").removeClass("show");
        }
        const value = $('input[name="typeExpiredOn"]:checked').val();;
        if (+value) {
            $(".duration-expired").show();
            $(".deadline-expired").hide();
        }
        else {
            $(".duration-expired").hide();
            $(".deadline-expired").show();
        }
        $('input[name="typeExpiredOn"]').removeClass("input-checked-v2");
        $('input[name="typeExpiredOn"]:checked').addClass("input-checked-v2")
    });
    $("input[name='expriedDate']").change(function (data) {
        if (this.value) {
            $("#clearBtn1").addClass("show");
        }
    });
     $('#lastUpdateInfor').empty();
    if ('@ViewBag.LastUpdatedDate' && '@ViewBag.LastUpdatedDate' != '') {
        var lastUpdate = '@ViewBag.LastUpdatedDate';
        $('#lastUpdateInfor').append('<label class="mb-3"><b>Last Update:</b> ' + lastUpdate + '</label>');
    }
    $(function () {
        'use strict';
        setDisablePublish();
        $('input.clss-check-upload').on('change', function () {
            setDisablePublish();
        });

    })
    function setDisablePublish() {
        lengthCheck = $('input.clss-check-upload:checked').length;
        if (lengthCheck > 0 ) {
            $("#btnSave").attr('disabled', false);
        }
        else {
            $("#btnSave").attr('disabled', true);
        }
    }

    function cancelPopUp() {
        $(".dialog").dialog("close");
    }

    $("#btnSave").click(function (e) {
        e.preventDefault();
        $("#btnSave").attr('disabled', true);
        ShowBlock($('#accordion-assignment-setting'), "Publishing");
        var classId = '@ViewBag.ClassId';
        var virtualTestId = '@ViewBag.VirtualTestId';

        var typeExpiredOn = 0;
        if ($('input[id="typeExpiredOnOff"]').is(':checked')) {
            typeExpiredOn = 1;
        }

        var allowModification = 0;
        if ($('input[id="allowModificationOn"]').is(':checked')) {
            allowModification = 1;
        }

        var allowUpload = 0;
         if ($('input[id="allowUploadOn"]').is(':checked')) {
            allowUpload = 1;
        }

        var allowRecording = 0;
        if ($('input[id="allowAudioOn"]').is(':checked')) {
            allowRecording = 1;
        }

        var videoRecordingOfAllowRecording = 0;
        if ($('input[id="allowVideoOn"]').is(':checked')) {
            videoRecordingOfAllowRecording = 1;
        }

        var cameraCaptureOfAllowCapture = 0;
        if ($('input[id="allowCameraOn"]').is(':checked')) {
            cameraCaptureOfAllowCapture = 1;
        }

        var dataLockerPreferencesModel = @Html.Raw(Json.Encode(Model));
        var expriedDate = $(".datepicker").datepicker("getDate");
        if (expriedDate) {
            dataLockerPreferencesModel.ExpriedOn.DateExpried = expriedDate.toString('MM/dd/yyyy');
        }
        else {
            dataLockerPreferencesModel.ExpriedOn.DateExpried = null
        }
        var expriedTime = $("input[name='expriedTime']").val();
        if (expriedTime)
            dataLockerPreferencesModel.ExpriedOn.TimeExpried = expriedTime;
        var deadlineTime = $("input[name='deadline']").val();
        if (deadlineTime)
            dataLockerPreferencesModel.ExpriedOn.DateDeadline = deadlineTime;
        dataLockerPreferencesModel.PublishingToStudentPortal.AllowPublishing = @Model.PublishingToStudentPortal.AllowPublishing;
        dataLockerPreferencesModel.ExpriedOn.TypeExpiredOn = typeExpiredOn;
        dataLockerPreferencesModel.ModificationUploadedArtifacts.AllowModification = allowModification;
        dataLockerPreferencesModel.Upload.AllowUpload = allowUpload;
        dataLockerPreferencesModel.AudioRecording.AllowRecording = allowRecording;
        dataLockerPreferencesModel.VideoRecording.AllowRecording = videoRecordingOfAllowRecording;
        dataLockerPreferencesModel.CameraCapture.AllowCapture = cameraCaptureOfAllowCapture;
        var valueOject = JSON.stringify({ valueOject: dataLockerPreferencesModel, virtualTestId: virtualTestId, classId: classId });
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PublishDataLockerPreference", "DataLockerForStudent")',
            contentType: 'application/json',
            dataType: "json",
            data: valueOject,
            success: function (response) {
                $('#accordion-assignment-setting').unblock();
                $("#btnSave").attr('disabled', false);
                if (response.success == true) {
                    location.reload();
                } else {
                    $('#dvPublishFormSettingPanel').dialog('close');
                    customAlert('Publishing failed. Please try again.');
                }


            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    function setLockDataSetting() {
        const dataLockerPreferencesModel = @Html.Raw(Json.Encode(Model));
        const lockDataSetting = {
            ExpriedOn: dataLockerPreferencesModel.ExpriedOn.Lock,
            PublishingToStudentPortal: dataLockerPreferencesModel.PublishingToStudentPortal.Lock,
            ModificationUploadedArtifacts: dataLockerPreferencesModel.ModificationUploadedArtifacts.Lock,
            Upload: dataLockerPreferencesModel.Upload.Lock,
            AudioRecording: dataLockerPreferencesModel.AudioRecording.Lock,
            VideoRecording: dataLockerPreferencesModel.VideoRecording.Lock,
            CameraCapture: dataLockerPreferencesModel.CameraCapture.Lock,
        }
        $('input').prop('disabled', false);
        if (lockDataSetting.ExpriedOn) {
            $('input[name="typeExpiredOn"]').prop('disabled', true);
            $('input[name="typeExpiredOn"]').removeClass("input-checked-v2");
            $('input[name="typeExpiredOn"]:checked').addClass("input-checked-v2");

            $('input[name="deadline"]').prop('disabled', true);
            $('input[name="expriedDate"]').prop('disabled', true);
            $('input[name="expriedTime"]').prop('disabled', true);
        }
        if (lockDataSetting.ModificationUploadedArtifacts) {
            $('input[name="allowModification"]').prop('disabled', true);
        }
        if (lockDataSetting.Upload) {
            $('input[name="allowUpload"]').prop('disabled', true);
        }
        if (lockDataSetting.AudioRecording) {
            $('input[name="allowAudio"]').prop('disabled', true);
        }
        if (lockDataSetting.VideoRecording) {
            $('input[name="allowVideo"]').prop('disabled', true);
        }
        if (lockDataSetting.CameraCapture) {
            $('input[name="allowCamera"]').prop('disabled', true);
        }
    }
    function clearDatePicked() {
        $("input[name='expriedDate']").datepicker("setDate", null);
        $("#clearBtn1").removeClass("show");

    }
</script>
