@using LinkIt.BubbleSheetPortal.Models.SGO
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOReportMasterViewModel

<div class="sgoPrintBreakNewPage"></div>

<div style="text-align: center; font-size: 16px; font-weight: bold;">
    Pre-Assessment Data Point(s)
</div>
<table class="table table-datapoint">
    <thead>
        <tr class="u-text-center">
            <td class="u-size-40"><strong>#</strong></td>
            <td class="u-size-150"><strong>Assessment Name</strong></td>
            <td><strong>Type</strong></td>
            <td><strong>Subject</strong></td>
            <td class="u-size-70"><strong>@LabelHelper.GradeLabel</strong></td>
            <td class="u-size-250"><strong>Focus Standards/Tags <br/> (if applicable)</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var sgoDataPoint in Model.PreAssessmentDataPoints)
            {
            <tr>
                <td>@(Model.PreAssessmentDataPoints.IndexOf(sgoDataPoint) + 1)</td>
                <td>@sgoDataPoint.Name</td>
                <td>@sgoDataPoint.TypeName</td>
                <td>@sgoDataPoint.SubjectName</td>
                <td>@sgoDataPoint.GradeName</td>
                <td>
                    @{
                        var masterStandardFilters = Model.SgoReportDataPointFilters.Where(x => x.SgoDataPointId == sgoDataPoint.SgoDataPointId && x.FilterType == (int)SGODataPointFilterEnum.StateStandard).OrderBy(x => x.FilterName).ToList();
                        var tagFilters = Model.SgoReportDataPointFilters.Where(x => x.SgoDataPointId == sgoDataPoint.SgoDataPointId
                                                                                    && (x.FilterType == (int)SGODataPointFilterEnum.Topic
                                                                                        || x.FilterType == (int)SGODataPointFilterEnum.Skill
                                                                                        || x.FilterType == (int)SGODataPointFilterEnum.Other
                                                                                        )).OrderBy(x => x.FilterName).ToList();
                        var clusterScoreFilters = Model.SgoReportDataPointFilters.Where(x => x.SgoDataPointId == sgoDataPoint.SgoDataPointId && x.FilterType == (int)SGODataPointFilterEnum.ClusterScore).OrderBy(x => x.FilterName).ToList();
                    }
                    @if (masterStandardFilters.Any())
                    {
                        <strong>Standards:</strong>
                        <br />
                        foreach (var filter in masterStandardFilters)
                        {
                            <span>
                                - @filter.FilterName
                            </span>
                            <br />
                        }
                    }

                    @if (tagFilters.Any())
                    {
                        <strong>Tags:</strong>
                        <br />
                        foreach (var filter in tagFilters)
                        {
                            <span>
                                - @filter.FilterName
                            </span>
                            <br />
                        }
                    }

                    @if (clusterScoreFilters.Any())
                    {
                        <strong>Clusters:</strong>
                        <br />
                        foreach (var filter in clusterScoreFilters)
                        {
                            <span>
                                - @filter.FilterName
                            </span>
                            <br />
                        }
                    }

                    @if (sgoDataPoint.ScoreType.GetValueOrDefault() > 4)
                    {
                        <strong>Score Type:</strong> @sgoDataPoint.ScoreTypeName
                    }
                </td>
            </tr>
                        }
        @if (!Model.PreAssessmentDataPoints.Any())
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<div style="text-align: center; font-size: 16px; font-weight: bold;">
    Post-Assessment Data Point(s)
</div>
<table class="table table-datapoint">
    <thead>
        <tr class="u-text-center">
            <td class="u-size-40"><strong>#</strong></td>
            <td class="u-size-150"><strong>Assessment Name</strong></td>
            <td><strong>Type</strong></td>
            <td><strong>Subject</strong></td>
            <td class="u-size-70"><strong>@LabelHelper.GradeLabel</strong></td>
            <td class="u-size-250"><strong>Focus Standards/Tags <br /> (if applicable)</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var sgoDataPoint in Model.PostAssessmentDataPoints)
            {
            <tr>
                <td rowspan="2">@(Model.PostAssessmentDataPoints.IndexOf(sgoDataPoint) + 1)</td>
                <td>@sgoDataPoint.Name</td>
                <td>@sgoDataPoint.TypeName</td>
                <td>@sgoDataPoint.SubjectName</td>
                <td class="u-size-70">@sgoDataPoint.GradeName</td>
                <td>
                    @{
                        var masterStandardFilters = Model.SgoReportDataPointFilters.Where(x => x.SgoDataPointId == sgoDataPoint.SgoDataPointId && x.FilterType == (int)SGODataPointFilterEnum.StateStandard).OrderBy(x => x.FilterName).ToList();
                        var tagFilters = Model.SgoReportDataPointFilters.Where(x => x.SgoDataPointId == sgoDataPoint.SgoDataPointId
                                                                                    && (x.FilterType == (int)SGODataPointFilterEnum.Topic
                                                                                        || x.FilterType == (int)SGODataPointFilterEnum.Skill
                                                                                        || x.FilterType == (int)SGODataPointFilterEnum.Other
                                                                                        )).OrderBy(x => x.FilterName).ToList();
                        var clusterScoreFilters = Model.SgoReportDataPointFilters.Where(x => x.SgoDataPointId == sgoDataPoint.SgoDataPointId && x.FilterType == (int)SGODataPointFilterEnum.ClusterScore).OrderBy(x => x.FilterName).ToList();
                    }
                    @if (masterStandardFilters.Any())
                    {
                        <strong>Standards:</strong>
                        <br />
                        foreach (var filter in masterStandardFilters)
                        {
                            <span>
                                - @filter.FilterName
                            </span>
                            <br />
                        }
                    }

                    @if (tagFilters.Any())
                    {
                        <strong>Tags:</strong>
                        <br />
                        foreach (var filter in tagFilters)
                        {
                            <span>
                                - @filter.FilterName
                            </span>
                            <br />
                        }
                    }

                    @if (clusterScoreFilters.Any())
                    {
                        <strong>Clusters:</strong>
                        <br />
                        foreach (var filter in clusterScoreFilters)
                        {
                            <span>
                                - @filter.FilterName
                            </span>
                            <br />
                        }
                    }

                    @if (sgoDataPoint.ScoreType.GetValueOrDefault() > 4)
                    {
                        <strong>Score Type:</strong> @sgoDataPoint.ScoreTypeName
                    }
                </td>
            </tr>
            <tr>
                <td colspan="5"><strong>Rationale:</strong> @sgoDataPoint.RationaleGuidance</td>
            </tr>
                        }
        @if (!Model.PostAssessmentDataPoints.Any())
        {
            <tr>
                <td>  </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>  </td>
            </tr>
        }
    </tbody>
</table>
