@using LinkIt.BubbleSheetPortal.Models.SGO
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOReportMasterViewModel 
@if (Model.SgoType != (int) SGOTypeEnum.UnstructuredData)
{
    <table class="table table-general">
        <tr>
            <td class="u-size-185"><strong>@LabelHelper.DistrictLabel:</strong></td>
            <td>@Model.DistrictName</td>
        </tr>
        <tr>
            <td class="u-size-185"><strong>School(s):</strong></td>
            <td>@Model.SgoCustomInformation.School</td>
        </tr>
        <tr>
            <td class="u-size-185"><strong>@string.Format("{0}(s)",LabelHelper.GradeLabel):</strong></td>
            <td>@Model.SgoCustomInformation.Grade</td>
        </tr>
        <tr>
            <td class="u-size-185"><strong>Term(s):</strong></td>
            <td>@Html.Raw(Model.SgoCustomInformation.DistrictTerms)</td>
        </tr>
        <tr>
            <td class="u-size-185"><strong>Course(s):</strong></td>
            <td>@Model.SgoCustomInformation.Course</td>
        </tr>
    </table>
}
else
{
    <table class="table table-general">
    <tr>
        <td class="u-size-185"><strong>@LabelHelper.DistrictLabel:</strong></td>
        <td>@Model.DistrictName</td>
    </tr>    
    <tr>
        <td class="u-size-185"><strong>@string.Format("{0}(s)",LabelHelper.GradeLabel):</strong></td>
        <td>@Model.SgoCustomInformation.Grade</td>
    </tr>    
</table>
}
