@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOReportMasterViewModel

<br/>
<table class="table table-guidance">
    <tr>
        <td class="u-size-185">
            <strong>SGO Results</strong>
        </td>
    </tr>    
</table>

<table class="table table-scoring-result u-text-center">
    <thead>
        <tr>
            <td style="width: 140px;"><strong>Preparedness Group</strong></td>
            <td><strong>% Student at Target Score</strong></td>
            <td><strong>Teacher SGO Score</strong></td>
            <td><strong>Weight (based on students per group)</strong></td>
            <td><strong>Weighted Score</strong></td>
            <td><strong>Total Teacher SGO Score</strong></td>
        </tr>
    </thead>
    <tbody>
    @foreach (var sgoGroup in Model.SgoGroups)
    {
        <tr>
            <td>
                @sgoGroup.Order - @Html.Raw(sgoGroup.Name)
            </td>
            @if (Model.SgoCalculateScoreResults == null || !Model.SgoCalculateScoreResults.Any())
            {
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            }
            else
            {
                var sgoCalculateScoreResult = Model.SgoCalculateScoreResults.FirstOrDefault(x => x.SGOGroupID == sgoGroup.SGOGroupID);
                if (sgoCalculateScoreResult != null)
                {
                    <td>@Math.Round(sgoCalculateScoreResult.PercentStudentAtTargetScore.GetValueOrDefault(), 0)</td>
                                <td>
                                    @if (string.IsNullOrEmpty(sgoCalculateScoreResult.AttainmentGoal))
                                    {
                                        @Math.Round(sgoCalculateScoreResult.TeacherScore.GetValueOrDefault(), 0)
                                    }
                                    else
                                    {
                                        @*@string.Format("{0} - {1}", Math.Round(sgoCalculateScoreResult.TeacherScore.GetValueOrDefault(), 0), sgoCalculateScoreResult.AttainmentGoal)*@
                                        @Math.Round(sgoCalculateScoreResult.TeacherScore.GetValueOrDefault(), 0)
                                    }

                                </td>
                                <td>@Math.Round(sgoCalculateScoreResult.Weight.GetValueOrDefault(), 3)</td>
                                <td>@Math.Round(sgoCalculateScoreResult.WeightedScore.GetValueOrDefault(), 3)</td>
                }
            }

            @if (Model.SgoGroups.IndexOf(sgoGroup) == 0)
            {
                <td rowspan="@Model.SgoGroups.Count" style="text-align: center; vertical-align: middle;">
                    @if (Model.TotalTeacherSGOScore != -1)
                    {
                        <span>@Model.TotalTeacherSGOScore</span>
                        @*<br />
                        @Model.DescriptiveLabel*@
                    }
                </td>
            }
        </tr>
    }
    @if (!Model.SgoGroups.Any())
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
    </tbody>
</table>