@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOReportMasterViewModel

<br/>
<table class="table table-guidance">
    <tr>
        <td class="u-size-185">
            <strong>SGO Results</strong>
        </td>
    </tr>    
</table>

<table class="table table-scoring-result u-text-center">
    <thead>
        <tr>
            <td><strong>Goal</strong></td>
            <td><strong>Teacher SGO Score</strong></td>
            <td><strong>Total Teacher SGO Score</strong></td>
        </tr>
    </thead>
    <tbody>
    @foreach (var sgoGroup in Model.SgoGroups)
    {
        <tr>
            <td>@sgoGroup.TargetScoreCustom</td>
            <td>@sgoGroup.TeacherSGOScoreCustom</td>            
            
            @if (Model.SgoGroups.IndexOf(sgoGroup) == 0)
            {
                <td rowspan="@Model.SgoGroups.Count" style="text-align: center; vertical-align: middle;">
                    @if (Model.TotalTeacherSGOScore != -1)
                    {
                        <span>@Model.TotalTeacherSGOScoreCustom</span>
                        @*<br />
                        @Model.DescriptiveLabel*@
                    }
                </td>
            }
        </tr>
    }
    @if (!Model.SgoGroups.Any())
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
    </tbody>
</table>