@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOReportMasterViewModel

<table class="table table-sgo-info u-text-center">
    <thead>
        <tr>
            <td><strong>Teacher</strong></td>
            <td><strong>Number of <br> Students</strong></td>
            <td><strong>Interval of <br> Instruction</strong></td>
            <td><strong>Created <br> Date</strong></td>
            <td><strong>Effective Status</strong></td>
            <td><strong>Effective Status <br> Date</strong></td>
            <td><strong>Reviewer</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.SgoCustomInformation.Teacher</td>
            <td>@Model.SgoCustomInformation.TotalStudent</td>
            <td>@(Model.SgoCustomInformation.StartDate.HasValue ? Model.SgoCustomInformation.StartDate.Value.DisplayDateWithFormat() : "")
                <br> 
                @(Model.SgoCustomInformation.EndDate.HasValue ? Model.SgoCustomInformation.EndDate.Value.DisplayDateWithFormat() : "")</td>
            <td>@Model.SgoCustomInformation.CreatedDate.DisplayDateWithFormat()</td>
            <td>@Model.SgoCustomInformation.EffectiveStatus</td>
            <td>@(Model.SgoCustomInformation.EffectiveStatusDate.HasValue ? Model.SgoCustomInformation.EffectiveStatusDate.Value.DisplayDateWithFormat() : "")</td>
            <td>@Model.SgoCustomInformation.ApproverName</td>
        </tr>
    </tbody>
</table>