@{
    Layout = null;
}

@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOReportMasterViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <link href="#" rel="stylesheet"/>

    <style type="text/css" media="print">
        @@media print {
            #header {
                height:75px;
                font-size: 24pt;
                color:black
            }
        }
    </style>

    <style>
        @@media print {
            *,
            *::before,
            *::after {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }



            body {
                margin: 0;
                color: #333;
                font-size: 12px;
                font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, "dejavu_sansbook";
                line-height: 1.57143;
                -webkit-print-color-adjust: exact;
            }

            h1, h2, h3, h4, h5, h6 {
                line-height: 1.1;
            }

            .container {
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
            }


            .table {
                table-layout: fixed;
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 20px;
            }

            .table td {
                border: 2px solid #002060;
                padding: 10px;
            }

            .table-general tbody {
                background: #ffe699;
                position: relative;
                z-index: 1;
            }

            .table-general tbody * {
                position: relative;
                z-index: 1;
            }

            .table-guidance tbody {
                background: #ffe699;
                position: relative;
                overflow: hidden;
            }

            /*.table-guidance tbody::before {
                content: url(../../Content/images/bg.png) repeat;
                width: 100%;
                height: 100%;
                position: relative;
                top: 0;
                left: 0;
                z-index: -1;
            }*/

            .table-sgo-info {
                background: #bdd7ee;
            }

            .table-sgo-info tbody {
                background: #fff;
            }

            .table-datapoint {
                background: #bdd7ee;
            }

            .table-datapoint tbody {
                background: #fff;
            }

            .table-scoring-plan {
                background: #bdd7ee;
            }

            .table-scoring-plan tbody {
                background: #fff;
            }

            .table-scoring-result {
                background: #bdd7ee;
            }

            .table-scoring-result tbody {
                background: #fff;
            }

            .table-scoring-detail {
                background: #bdd7ee;
            }

            .table-scoring-detail tbody {
                background: #fff;
            }

            .panel {
                background: #fff;
                border: 2px solid #002060;
                margin-bottom: 20px;
            }

            .panel-heading {
                background: #bdd7ee;
                padding: 20px 15px;
                border-bottom: 2px solid #002060;
            }

            .panel-heading h3 {
                margin: 0;
                font-size: 14px;
            }

            .panel-body {
                padding: 15px;
                min-height: 120px;
            }

            .u-size-185 {
                width: 185px;
            }

            .u-size-40 {
                width: 40px;
            }

            .u-text-center {
                text-align: center;
            }

            .u-underline {
                text-decoration: underline;
            }

            .report-logo {
                margin-top: 7px;
                height: 70px;
                width: 200px;
                float: left;
            }

            table {
                -moz-page-break-inside: avoid;
                page-break-inside: avoid;
            }
            .divbreakpage {
                -moz-page-break-inside: avoid;
                page-break-inside: avoid;
            }
            .sgoPrintBreakNewPage {
                page-break-after: always;
            }
        }

        #header, #footer {
            display: none;
        }
    </style>
</head>
@*onload="window.print()"*@
<body>

    <div class="container">
        <div id="header" style="height: 80px; width: 100%; margin-top: 10px;">
            <div class="report-logo">
                <img src="../../Content/images/LinkitLogo_small.png" />
            </div>
            <div style="float: right;">
                @Html.Raw("Generated: " + String.Format("{0:g}", DateTime.UtcNow))
            </div>
        </div>
        <h1 class="u-text-center">Final Semeter SGO Form</h1>
        @Html.Partial("_GeneralInfo", @Model)
        @Html.Partial("_SgoInfo", @Model)
        @Html.Partial("_PreparationReviewFeedback", @Model)
        @Html.Partial("_FinalReviewFeedback", @Model)
        @Html.Partial("_Datapoint", @Model)
        <!--Prepareness Group-->
        @Html.Partial("_PreparenessGroup", Model)
        @Html.Partial("_ScoringPlan")
        @Html.Partial("_ScoringResult")
        @Html.Partial("_ScoringDetail")
        @Html.Partial("_EducatorComments", @Model)
        <!--Audit Trail-->
        @Html.Partial("_AuditTrail", Model)

        @*<div style="text-align: center; width: 100%; height: 30px;">
                -- Footer --
            </div>*@
    </div>
</body>
</html>
