@{
    Layout = null;
}

@using LinkIt.BubbleSheetPortal.Models.SGO
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SGOReportMasterViewModel
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Print SGO</title>
    <link href="/Content/themes/Print/SGOPrint/SGOPrint.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="u-text-center">@Html.Raw(string.Format("{0} Form", @Model.SgoObject.Name))</h1>
        @Html.Partial("_GeneralInfo", @Model)
        @Html.Partial("_SgoInfo", @Model)
        @Html.Partial("_PreparationReviewFeedback", @Model)
        @Html.Partial("_FinalReviewFeedback", @Model)

        @if (Model.SgoType != (int) SGOTypeEnum.UnstructuredData)
        {
            @Html.Partial("_Datapoint", @Model)
            <!--Prepareness Group-->
            @Html.Partial("_PreparenessGroup", Model)
            @Html.Partial("_ScoringPlan")
            @Html.Partial("_ScoringResult")
            @Html.Partial("_ScoringDetail")
        }
        else
        {
            @Html.Partial("_ScoringPlanUnstructured")
            @Html.Partial("_ScoringResultUnstructured")
        }

        @Html.Partial("_EducatorComments", @Model)
        <!--Audit Trail-->
        @Html.Partial("_AuditTrail", Model)
    </div>
</body>
</html>
