@model LinkIt.BubbleSheetPortal.Web.ViewModels.GeneratePassThroughVDETViewModel
@{
    ViewBag.Title = "Generate PassThroughURL";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Generate PassThroughURL</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="@Url.Content("~/Content/themes/Constellation/js/html5.js")" type="text/javascript"></script>
    @*@MvcHtmlString.Create(
        Bundle.Css()
            .Add(@Url.Content("~/Content/themes/Constellation/css/reset.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/common.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/custom.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/form.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/standard.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/special-pages.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/calendars.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/960.gs.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/table.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/block-lists.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/simple-lists.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/wizard.css"))
            .Add(@Url.Content("~/Content/themes/Constellation/css/gallery.css"))
            .Add(@Url.Content("~/Content/css/custom.css"))
            .Add(@Url.Content("~/Content/css/prettyPhoto.css"))
            .Add(@Url.Content("~/Content/css/utilitySearch.css"))
            .Render("/Content/themes/Constellation/css/combined_#.css")
    )*@

    @LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StylePassThroughBundle()

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <style>
        .FullArea {
            width: 95%;
            margin-right: 5px;
        }

        .with150 {
            width: 150px;
        }

        .LinkitStypeButton {
            display: inline-block;
            border: 1px solid;
            border-color: #50a3c8 #297cb4 #083f6f;
            background: #0c5fa5 url(../Content/themes/Constellation/images/old-browsers-bg/button-element-bg.png) repeat-x left top;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
            background: -moz-linear-gradient( top, white, #72c6e4 4%, #0c5fa5 );
            background: -webkit-gradient( linear, left top, left bottom, from(white), to(#0c5fa5), color-stop(0.03, #72c6e4) );
            -moz-border-radius: 0.333em;
            -webkit-border-radius: 0.333em;
            -webkit-background-clip: padding-box;
            border-radius: 0.333em;
            color: white;
            -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
            -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            font-size: 1.167em;
            padding: 0.286em 1em 0.357em;
            line-height: 1.429em;
            cursor: pointer;
            font-weight: bold;
        }
    </style>
    <script>
        //function UpdateURL() {
        //    $('#aPassThroughURL').attr('href', $('#divURLCombine').val());
        //}
        function GenerateURL() {
            var raw = $('#RawData').val();
            var accessKey = $('#AccessKey').val();
            var privatekey = $('#txtPrivateKey').val();

            $.get('@Url.Action("GenerateVDETURL", "PassThrough")', { rawData: raw, accessKey: accessKey, privateKey: privatekey }, function(response) {
                if (response.success === true) {
                    var strURL = response.url;
                    var strK = response.k;
                    var strReturnData = response.data;

                    $('#idUrlVDET').val(strURL);
                    $('#idaccessKeyVDET').val(strK);
                    $('#divURLCombine').val(strReturnData);

                    $('#btnCallPassThroughtVDET').show();
                    $('#trURLResult').show();

                    $('#aPassThroughURL').attr('href', response.data);
                    $('#aPassThroughURL').show();
                }
            });
        }

        function CallPassThroughtVDET() {
            $.ajax({
                url: $('#idUrlVDET').val(),
                traditional: true,
                type: 'POST',
                data: { q: $('#divURLCombine').val(), k: $('#idaccessKeyVDET').val() },
                success: function (response) {
                    if (response.status === 'Success')
                    {
                        if (response.code === '201') {
                            window.location.href = response.redirecturl;
                        } else {
                            alert('Status: ' + response.status + ' - Code: ' + response.code + ' - Message: ' + response.message);
                        }
                    } else {
                        alert('Status: ' + response.status + ' - Code: ' + response.code + ' - Message: ' + response.message);
                    }
                },
                failure: function (response) {
                    alert("Fail");
                }
            });
        }

    </script>
</head>
<body>
    <article class="container_12" id="idSimulateVDET">
        <section class="grid_12">
            <div id="generateContent" class="block-border">
                @using (Html.BeginForm("GeneratePassThroughVDET", "PassThrough", FormMethod.Post, new { id = "GeneratePassThroughVDETForm", @class = "block-content form bubbleSheetSelector" }))
                {
                    <h1>Generate PassThrough V-DET</h1>
                    <table class="table" width="100%">
                        <tr>
                            <td class="with150">Client Access Key</td>
                            <td>
                                @Html.TextBoxFor(o => o.AccessKey, new { Class = "FullArea" })
                            </td>
                        </tr>
                        <tr>
                            <td class="with150">UserID (User.Code)</td>
                            <td>
                                @Html.TextBoxFor(o => o.UserID, new { Class = "FullArea" })
                            </td>
                        </tr>
                        <tr>
                            <td class="with150">Redirect Url</td>
                            <td>
                                @Html.TextBoxFor(o => o.RedirectUrl, new { Class = "FullArea" })
                            </td>
                        </tr>
                        <tr>
                            <td class="with150">Action Type (LogOn/LogOff)</td>
                            <td>
                                @Html.TextBoxFor(o => o.ActionType, new { Class = "FullArea" })
                            </td>
                        </tr>
                        <tr>
                            <td class="with150">V-DET Sector Code</td>
                            <td>
                                @Html.TextBoxFor(o => o.Sector, new { Class = "FullArea" })
                            </td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.RawData))
                        {
                            <text>
                                <tr>
                                    <td class="with150">Private Key</td>
                                    <td>
                                        <input type="text" id="txtPrivateKey" class="FullArea" value="@Model.PrivateKey" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="with150">Raw Data</td>
                                    <td>
                                        <textarea id="RawData" style="height: 300px;" class="FullArea">@Model.RawData</textarea>
                                    </td>
                                </tr>
                            </text>
                        }

                        <tr id="trURLResult" style="display: none;">
                            <td class="with150">PassThrough Content</td>
                            <td style="word-break: break-all;">
                                <label for="idUrlVDET">Url</label>
                                <input id="idUrlVDET" class="FullArea" /><br /><br /><br />
                                <label for="idaccessKeyVDET">Access Key</label>
                                <input id="idaccessKeyVDET" class="FullArea" /><br /><br /><br />
                                <label for="divURLCombine">Data</label>
                                <textarea id="divURLCombine" class="FullArea" style="height: 160px"></textarea>
                            </td>
                        </tr>
                    </table>
                    <div class="clear"></div>
                    <p style="text-align: right;">
                        @if (!string.IsNullOrEmpty(Model.RawData))
                        {
                            <text>
                                <button id="btnCallPassThroughtVDET" style="display: none;" type="button" onclick="CallPassThroughtVDET();">Call PassThrough V-DET</button>
                                @*<a style="display: none;" id="aPassThroughURL" href="#" target="_black" class="LinkitStypeButton">Open PassThrough URL</a>*@
                                <button id="btnGeneraURLData" type="button" onclick=" GenerateURL(); ">Generate PassThrough URL</button>
                            </text>
                        }
                        <button id="btnSubmit" type="submit">Generate Raw Data</button>
                    </p>
                }
            </div>
        </section>
    </article>
</body>
</html>
