@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportMasterViewModel
<style>
    .col_StudentHistory .tblDiagnostic {
        width: 635px !important;
    }
        .tblDiagnostic thead th {
            padding: 10px 7px !important;
        }
</style>
<div>
    <div class="boxtitle">
        Diagnostic History
    </div>

    <table class="datatable table utility-table tblDiagnostic big_line">
        <thead>
            <tr>
                <th class="utility" style="width: 80px;">Test Date</th>
                <th class="utility" style="width: 250px;">Diag Form</th>
                <th class="utility" style="text-align: center">Composite
                    <br /><span style="font-size: smaller">(1-36)</span>
                </th>
                <th class="utility" style="text-align: center">English
                    <br /><span style="font-size: smaller">(1-36)</span>
                </th>
                <th class="utility" style="text-align: center; width: 60px;">Math
                    <br /><span style="font-size: smaller">(1-36)</span>
                </th>
                <th class="utility" style="text-align: center">Reading
                    <br /><span style="font-size: smaller">(1-36)</span>
                </th>
                <th class="utility" style="text-align: center">Science
                    <br /><span style="font-size: smaller">(1-36)</span>
                </th>
                <th class="utility" style="text-align: center">Essay
                    <br /><span style="font-size: smaller">(1-12)</span>
                </th>
                <th class="utility" style="text-align: center">Writing
                    <br /><span style="font-size: smaller">(1-36)</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Count; i++)
            {
                var item = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels[i];
                string style = "";
                string cssClass = "";
                if (item.IsSelected)
                {
                    style = "font-weight:bold; font-style:italic;";
                    cssClass = "question-detail-answer";
                }
                <tr class="@cssClass">
                    <td class="utility" style="@style; width: 80px"><p style="width: 80px">@item.TestDateText</p></td>
                    <td class="utility" style="@style word-break:break-all;">@item.TestName</td>
                    <td class="utility" style="@style text-align: right;">@item.CompositeScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.EnglishScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.MathScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.ReadingScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.ScienceScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.WritingScoreText</td>
                    <td class="utility" style="@style text-align: right;">@item.EnglishWritingScoreText</td>
                </tr>
            }
        </tbody>
    </table>
</div>