@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportMasterViewModel
           
<article class="container_12" style="overflow: visible !important;">
    <h1 class="wk-hiddentitle">@Model.StudentInformation.StudentName</h1>
    <section class="grid_12" style="width: 960px; margin-left: 0px; margin-right: 0px;">
        <div class="" style="background: ghostwhite">
            <div style="display: inline-block; vertical-align: top; float: left;">
                <span>
                    @if (string.IsNullOrEmpty(Model.DistrictLogoUrl))
                    {
                        <text>@Model.DistrictName</text>
                    }
                    else
                    {
                        <text><img src="@Model.DistrictLogoUrl" /></text>
                    }
                </span>
            </div>
            <div style="vertical-align: top; width: 420px; margin: 0 auto; padding-bottom: 15px;">
                <div style="font-size: 30px; padding-bottom: 5px;">KNOWSYS SCORE REPORT</div>
                <div style="padding-bottom: 5px;">
                    <span style="font-weight: bold">Test: @Model.StudentInformation.TestName</span>
                </div>
                <div>
                    <span style="font-weight: bold">Test Date: @Model.StudentInformation.TestDate.DisplayDateWithFormat()</span>
                </div>
            </div>
            <div class="block-content form">
                <div>
                    <div class="detail-summary">
                        Student: @Model.StudentInformation.StudentName    
                    </div>
                    <div class="clear-25"></div>

                    <div class="col_StudentInfo">
                        @Html.Partial("_StudentInformation", Model)
                    </div>
                    <div class="col_StudentHistory">
                        @Html.Partial("_DiagnosticHistory", Model)
                    </div>
                    <div class="clear-25"></div>

                    @Html.Partial("_SectionWithTagReport", Model)
                    @if (Model.ACTSummaryScoreViewModel.ShowChart)
                    {
                        @Html.Partial("_ScoreSummaryReport", Model)
                    }
                    
                    @if (Model.EssayComments.Any() || !string.IsNullOrEmpty(Model.DistrictReportBannerUrl))
                    {
                        <div class="clear-25"></div>
                        @Html.Partial("_EssayComment", Model)    
                    }
                </div>
            </div>
        </div>
    </section>
</article>

