@model LinkIt.BubbleSheetPortal.Models.DataLockerPreferencesSetting.DataSettings
<link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/test-schedule.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/TestPreferences/testPreferences.js")" type="text/javascript"></script>
<style>
    .w-35 {
        width: 35%;
    }

    .w80 {
        width: 80px;
    }

    .pl-1rem {
        padding-left: 1.5rem !important;
    }
    .ml-1rem {
        margin-left: 1rem !important;
    }
    .ml-3rem {
        margin-left: 3rem !important;
    }

    #no_hover {
        pointer-events: none;
    }

    .data-locker-preferences-setting {
        border-radius: 0.4em;
        box-shadow: 0 0 3px rgb(0 0 0 / 50%);
        margin: 15px 0px;
    }
    .date-container {
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

    .clearBtn {
        position: absolute;
        top: 25px;
        right: -15px;
        transition: right 0.2s;
        z-index:2000
    }

    .show {
        right: 10px;
    }
</style>
<div id="lastUpdateInfor" style="display: flex; justify-content: flex-end;"></div>
<div class="accordion-content active data-locker-preferences-setting" id="accordion-assignment-setting">
    <table tabIndex="1" class="table table-accordion u-w-p-100">
        <tbody>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title">
                    Expired
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.ExpriedOn) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.ExpriedOn' class='with-tip'><img src='/Content/themes/Constellation/images/icons/fugue/information-blue.png' width='16' height='16'></a>
                    }
                </td>
                <td colspan="2" style="padding:0">
                    <table class="u-w-p-100">
                        <tbody>
                            <tr>
                                @if (Model.ExpriedOn.TypeExpiredOn == "0")
                                {
                                    <td style="width:50%">
                                        <input type="radio" value="0" name="typeExpiredOn" id="typeExpiredOnOn" checked="checked" /> Duration
                                        <input type="radio" value="1" name="typeExpiredOn" id="typeExpiredOnOff" class="ml-1rem" /> Deadline
                                    </td>
                                }
                                else
                                {
                                    <td style="width:50%">
                                        <input type="radio" value="0" name="typeExpiredOn" id="typeExpiredOnOn"/> Duration
                                        <input type="radio" value="1" name="typeExpiredOn" id="typeExpiredOnOff" checked="checked" class="ml-1rem" /> Deadline
                                    </td>
                                } 
                            </tr>
                            <tr class="duration-expired">
                                <td class="w-35">
                                    <div class="date-container">
                                        <span>Date: </span><input type="text" class="datepicker" name="expriedDate" readonly="readonly" />
                                        <span id="clearBtn1" class="clearBtn" onclick="clearDatePicked()"><img src='/Content/images/cancel.png' width='16' height='16'></span>
                                    </div>
                                </td>
                                <td style="padding-left: 29px;">
                                    <span>Time: </span><input type="time" name="expriedTime" value="@Model.ExpriedOn.TimeExpried" style="padding-bottom: 4px" />
                                </td>
                            </tr>
                            <tr class="deadline-expired">
                                <td>
                                    <input type="number" name="deadline" min="0" value="30" oninput="this.value = Math.abs(this.value)" style="margin-right: 8px;" /><span>days</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title">
                    Allow Modification of Uploaded Artifacts
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.ModificationUploadedArtifacts) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.ModificationUploadedArtifacts' class='with-tip'><img src='/Content/themes/Constellation/images/icons/fugue/information-blue.png' width='16' height='16'></a>
                    }
                </td>
                @if (Model.ModificationUploadedArtifacts.AllowModification == "1")
                {
                    <td class="w-35">
                        <input type="radio" value="0" name="allowModification" id="allowModificationOff" /> OFF
                        <input type="radio" value="1" name="allowModification" id="allowModificationOn" checked="checked" class="ml-3rem" /> ON
                    </td>
                }
                else
                {
                    <td class="w-35">
                        <input type="radio" value="0" name="allowModification" id="allowModificationOff" checked="checked" /> OFF
                        <input type="radio" value="1" name="allowModification" id="allowModificationOn" class="ml-3rem" /> ON
                    </td>

                }
                <td class="w-35"/>
            </tr>
            <tr class="sectionDataLockerSetting" id="no_hover">
                <td colspan="3">
                    <h4>
                        Upload Preferences
                    </h4>
                </td>
            </tr>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title pl-1rem">
                    Allow Upload Files
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.Upload) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.Upload' class='with-tip'><img src='/Content/themes/Constellation/images/icons/fugue/information-blue.png' width='16' height='16'></a>
                    }
                </td>
                @if (Model.Upload.AllowUpload == "1")
                {
                    <td class="w-35">
                        <input type="radio" value="0" name="allowUpload" class="clss-uncheck-upload" id="allowUploadOff" /> OFF
                        <input type="radio" value="1" name="allowUpload" class="clss-check-upload ml-3rem" id="allowUploadOn" checked="checked" /> ON
                    </td>
                }
                else
                {
                    <td class="w-35">
                        <input type="radio" value="0" name="allowUpload" class="clss-uncheck-upload" id="allowUploadOff" checked="checked" /> OFF
                        <input type="radio" value="1" name="allowUpload" class="clss-check-upload ml-3rem" id="allowUploadOn" /> ON
                    </td>
                }
                <td class="w-35" />
            </tr>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title pl-1rem">
                    Allow Audio Recording
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.AudioRecording) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.AudioRecording' class='with-tip'><img src='/Content/themes/Constellation/images/icons/fugue/information-blue.png' width='16' height='16'></a>
                    }
                </td>
                @if (Model.AudioRecording.AllowRecording == "1")
                {
                    <td class="w-35">
                        <input type="radio" value="0" name="allowAudio" class="clss-uncheck-upload" id="allowAudioOff" /> OFF
                        <input type="radio" value="1" name="allowAudio" class="clss-check-upload ml-3rem" id="allowAudioOn" checked="checked" /> ON
                    </td>
                }
                else
                {
                    <td class="w-35">
                        <input type="radio" value="0" name="allowAudio" class="clss-uncheck-upload" id="allowAudioOff" checked="checked" /> OFF
                        <input type="radio" value="1" name="allowAudio" class="clss-check-upload ml-3rem" id="allowAudioOn" /> ON
                    </td>
                }
                <td class="w-35" />
            </tr>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title pl-1rem">
                    Allow Video Recording
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.VideoRecording) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.VideoRecording' class='with-tip'><img src='/Content/themes/Constellation/images/icons/fugue/information-blue.png' width='16' height='16'></a>
                    }
                </td>
                @if (Model.VideoRecording.AllowRecording == "1")
                {
                    <td class="w-35">
                        <input type="radio" value="0" name="allowVideo" class="clss-uncheck-upload" id="allowVideoOff" /> OFF
                        <input type="radio" value="1" name="allowVideo" class="clss-check-upload ml-3rem" id="allowVideoOn" checked="checked" /> ON
                    </td>
                }
                else
                {
                    <td class="w-35">
                        <input type="radio" value="0" name="allowVideo" class="clss-uncheck-upload" id="allowVideoOff" checked="checked" /> OFF
                        <input type="radio" value="1" name="allowVideo" class="clss-check-upload ml-3rem" id="allowVideoOn" /> ON
                    </td>
                }
                <td class="w-35" />
            </tr>
            <tr class="sectionDataLockerSetting">
                <td class="w-35 table-accordion-title pl-1rem">
                    Allow Camera Capture
                    @if (ViewBag.Tooltips != null && String.IsNullOrEmpty(ViewBag.Tooltips.CameraCapture) == false)
                    {
                        <a href='javascript:void(0)' title='@ViewBag.Tooltips.CameraCapture' class='with-tip'><img src='/Content/themes/Constellation/images/icons/fugue/information-blue.png' width='16' height='16'></a>
                    }
                </td>
                @if (Model.CameraCapture.AllowCapture == "1")
                {
                    <td class="w-35">
                        <input type="radio" value="0" name="allowCamera" class="clss-uncheck-upload" id="allowCameraOff" /> OFF
                        <input type="radio" value="1" name="allowCamera" class="clss-check-upload ml-3rem" id="allowCameraOn" checked="checked" /> ON
                    </td>
                }
                else
                {
                    <td class="w-35">
                        <input type="radio" value="0" name="allowCamera" class="clss-uncheck-upload" id="allowCameraOff" checked="checked" /> OFF
                        <input type="radio" value="1" name="allowCamera" class="clss-check-upload ml-3rem" id="allowCameraOn" /> ON
                    </td>
                }
                <td class="w-35" />
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button class="float-right w80" id="btnSave" type="button">Publish</button>
    <button class="float-right w70" style="margin-right: 10px;" id="btnCancel" onclick="cancelPopUp()" type="button">Cancel</button>
</div>

<script type="text/javascript">
    $('.with-tip').tip();
    var dataLockerPreferencesModel = @Html.Raw(Json.Encode(Model));
    setLockDataSetting()
     $(".datepicker").datepicker({
            dateFormat: '@ViewBag.DateFormat',
            beforeShow: function (input) {
                $(input).css({
                    "position": "relative",
                    "z-index": '2000'
                });
               var tagActive = $(input).parents('body').find('#ui-datepicker-div');
                tagActive.find('.ui-state-highlight').css('min-height', 'auto');
                tagActive.addClass('customCssDataPickerPreference');

            }
    });
    if (dataLockerPreferencesModel.ExpriedOn.DateExpried) {
        $("input[name='expriedDate']").datepicker("setDate", new Date(dataLockerPreferencesModel.ExpriedOn.DateExpried));
        $("#clearBtn1").addClass("show");
    }
    var DateDeadlineData = dataLockerPreferencesModel.ExpriedOn.DateDeadline || '30'
    $("input[name='deadline']").val(DateDeadlineData);
    var typeExpiredOnData = dataLockerPreferencesModel.ExpriedOn.TypeExpiredOn || '0'
    if (+typeExpiredOnData) {
        $(".duration-expired").show();
        $(".deadline-expired").hide();
    } else {
        $(".duration-expired").hide();
        $(".deadline-expired").show();
    }
    $("input[name='typeExpiredOn']").change(function () {
        $("input[name='deadline']").val(DateDeadlineData);
        $("input[name='expriedTime']").val('@Model.ExpriedOn.TimeExpried');
        if (dataLockerPreferencesModel.ExpriedOn.DateExpried) {
            $("input[name='expriedDate']").datepicker("setDate", new Date(dataLockerPreferencesModel.ExpriedOn.DateExpried));
            $("#clearBtn1").addClass("show");
        } else {
            $("input[name='expriedDate']").datepicker("setDate", null)
            $("#clearBtn1").removeClass("show");
        }
        const value = $('input[name="typeExpiredOn"]:checked').val();;
        if (+value) {
            $(".duration-expired").show();
            $(".deadline-expired").hide();
        }
        else {
            $(".duration-expired").hide();
            $(".deadline-expired").show();
        }
    });
    $("input[name='expriedDate']").change(function (data) {
        if (this.value) {
            $("#clearBtn1").addClass("show");
        }
    });
     $('#lastUpdateInfor').empty();
    if ('@ViewBag.LastUpdatedDate' && '@ViewBag.LastUpdatedDate' != '') {
        var lastUpdate = '@ViewBag.LastUpdatedDate';
        $('#lastUpdateInfor').append('<label>Last Update: ' + lastUpdate + '</label>');
    }
    $(function () {
        'use strict';
        setDisablePublish();
        $('input[class="clss-uncheck-upload"],input.clss-check-upload').on('change', function () {
            setDisablePublish();
        });

    })
    function setDisablePublish() {
        lengthClass = $('input[class=clss-uncheck-upload]').length;
        lengthCheck = $('input[class=clss-uncheck-upload]:checked').length;
        if (lengthCheck === lengthClass) {
            $("#btnSave").attr('disabled', true);
        }
        else {
            $("#btnSave").attr('disabled', false);
        }
    }

    function cancelPopUp() {
        $(".dialog").dialog("close");
    }

    $("#btnSave").click(function (e) {
        e.preventDefault();
        $("#btnSave").attr('disabled', true);
        ShowBlock($('#accordion-assignment-setting'), "Publishing");
        var classId = '@ViewBag.ClassId';
        var virtualTestId = '@ViewBag.VirtualTestId';

        var typeExpiredOn = 0;
        if ($('input[id="typeExpiredOnOff"]').is(':checked')) {
            typeExpiredOn = 1;
        }

        var allowModification = 0;
        if ($('input[id="allowModificationOn"]').is(':checked')) {
            allowModification = 1;
        }

        var allowUpload = 0;
         if ($('input[id="allowUploadOn"]').is(':checked')) {
            allowUpload = 1;
        }

        var allowRecording = 0;
        if ($('input[id="allowAudioOn"]').is(':checked')) {
            allowRecording = 1;
        }

        var videoRecordingOfAllowRecording = 0;
        if ($('input[id="allowVideoOn"]').is(':checked')) {
            videoRecordingOfAllowRecording = 1;
        }

        var cameraCaptureOfAllowCapture = 0;
        if ($('input[id="allowCameraOn"]').is(':checked')) {
            cameraCaptureOfAllowCapture = 1;
        }

        var dataLockerPreferencesModel = @Html.Raw(Json.Encode(Model));
        var expriedDate = $(".datepicker").datepicker("getDate");
        if (expriedDate) {
            dataLockerPreferencesModel.ExpriedOn.DateExpried = expriedDate.toString('MM/dd/yyyy');
        }
        else {
            dataLockerPreferencesModel.ExpriedOn.DateExpried = null
        }
        var expriedTime = $("input[name='expriedTime']").val();
        if (expriedTime)
            dataLockerPreferencesModel.ExpriedOn.TimeExpried = expriedTime;
        var deadlineTime = $("input[name='deadline']").val();
        if (deadlineTime)
            dataLockerPreferencesModel.ExpriedOn.DateDeadline = deadlineTime;
        dataLockerPreferencesModel.PublishingToStudentPortal.AllowPublishing = @Model.PublishingToStudentPortal.AllowPublishing;
        dataLockerPreferencesModel.ExpriedOn.TypeExpiredOn = typeExpiredOn;
        dataLockerPreferencesModel.ModificationUploadedArtifacts.AllowModification = allowModification;
        dataLockerPreferencesModel.Upload.AllowUpload = allowUpload;
        dataLockerPreferencesModel.AudioRecording.AllowRecording = allowRecording;
        dataLockerPreferencesModel.VideoRecording.AllowRecording = videoRecordingOfAllowRecording;
        dataLockerPreferencesModel.CameraCapture.AllowCapture = cameraCaptureOfAllowCapture;
        var valueOject = JSON.stringify({ valueOject: dataLockerPreferencesModel, virtualTestId: virtualTestId, classId: classId });
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PublishDataLockerPreference", "DataLockerForStudent")',
            contentType: 'application/json',
            dataType: "json",
            data: valueOject,
            success: function (response) {
                if (response.Success == true) {
                    $('#lastUpdateInfor').empty();
                    $('#lastUpdateInfor').append('<label>Last Update: ' + response.InforUpdated.LastUpdatedDate + '</label>');
                }
                $('#accordion-assignment-setting').unblock();
                $("#btnSave").attr('disabled', false);
                location.reload();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    function setLockDataSetting() {
        const dataLockerPreferencesModel = @Html.Raw(Json.Encode(Model));
        const lockDataSetting = {
            ExpriedOn: dataLockerPreferencesModel.ExpriedOn.Lock,
            PublishingToStudentPortal: dataLockerPreferencesModel.PublishingToStudentPortal.Lock,
            ModificationUploadedArtifacts: dataLockerPreferencesModel.ModificationUploadedArtifacts.Lock,
            Upload: dataLockerPreferencesModel.Upload.Lock,
            AudioRecording: dataLockerPreferencesModel.AudioRecording.Lock,
            VideoRecording: dataLockerPreferencesModel.VideoRecording.Lock,
            CameraCapture: dataLockerPreferencesModel.CameraCapture.Lock,
        }
        $('input').prop('disabled', false);
        if (lockDataSetting.ExpriedOn) {
            $('input[name="typeExpiredOn"]').prop('disabled', true);
            $('input[name="deadline"]').prop('disabled', true);
            $('input[name="expriedDate"]').prop('disabled', true);
            $('input[name="expriedTime"]').prop('disabled', true);
        }
        if (lockDataSetting.ModificationUploadedArtifacts) {
            $('input[name="allowModification"]').prop('disabled', true);
        }
        if (lockDataSetting.Upload) {
            $('input[name="allowUpload"]').prop('disabled', true);
        }
        if (lockDataSetting.AudioRecording) {
            $('input[name="allowAudio"]').prop('disabled', true);
        }
        if (lockDataSetting.VideoRecording) {
            $('input[name="allowVideo"]').prop('disabled', true);
        }
        if (lockDataSetting.CameraCapture) {
            $('input[name="allowCamera"]').prop('disabled', true);
        }
    }
    function clearDatePicked() {
        $("input[name='expriedDate']").datepicker("setDate", null);
        $("#clearBtn1").removeClass("show");
    }
</script>
