@{
    ViewBag.Title = "Define Template";
}
@using LinkIt.BubbleSheetPortal.Web.Helpers
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleCustomBundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptDataLockerBundle()

<article class="container_12" id="idTopNavigation">
    <section class="grid_12">
        <div class="block-border" id="myTemplateList">
            <div class="block-content form">
                <h1>
                    Template List
                    <a href="javascript:void(0)" class="AddNewtemplateId">
                        <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" />
                        Add Template
                    </a>
                    <div class="clearfix"></div>
                    <a href="javascript:void(0)" id="btnShowArchived" style="margin-left: 150px; margin-top: 1px;" class="off">
                        Show Archived:
                        <span id="spanClassActive">Off</span>
                    </a>
                </h1>
                <p style="height: 5px"></p>
                <div class="no-margin last-child">
                    <table id="templateListDataTable" class="datatable table no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" class="black-cell" width="50px"><span class="loading"></span></th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Name
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Author
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Created Date
                                </th>
                                <th scope="col">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Last Modified Date
                                </th>
                                <th scope="col">
                                    Published Districts
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>
<input type="hidden" id="idHiddenFileTemplateSelected" value="0" />
@Html.Partial("_CloneTemplatePopup")
@section scripts {
    <script src="@BundleHelper.Version("~/Scripts/DataLocker/DatalockerCloneTemplate.js")"></script>
    <script src="@BundleHelper.Version("~/Scripts/DataLocker/calculateTagEditor.js")"></script>
    <script>
        $('.AddNewtemplateId').live('click', function () {
            window.location = '/DataLocker/AddTemplate';
        });
        $(function () {
            var showArchiveTemplate = false;
            $("#spanClassActive").html(showArchiveTemplate ? "on" : "off");
            $('#btnShowArchived').attr("class", showArchiveTemplate ? "on" : "off");
            if (localStorage.getItem("nextClickShowArchived") !== null) {
                localStorage.removeItem("nextClickShowArchived");
            }
            loadListTemplate(showArchiveTemplate);

            $('#btnShowArchived').click(function () {
            var showArchiveTemplate = null;
            if (localStorage.getItem("nextClickShowArchived") === null) {
                showArchiveTemplate = true;
                $("#spanClassActive").html(showArchiveTemplate ? "on" : "off");
                $('#btnShowArchived').attr("class", showArchiveTemplate ? "on" : "off");
                localStorage.setItem("nextClickShowArchived", showArchiveTemplate);
            } else {
                if (localStorage.getItem("nextClickShowArchived").toLowerCase() == "true") {
                    showArchiveTemplate = false;
                } else {
                    showArchiveTemplate = true;
                }
                localStorage.setItem("nextClickShowArchived", showArchiveTemplate);
                $("#spanClassActive").html(showArchiveTemplate ? "on" : "off");
                $('#btnShowArchived').attr("class", showArchiveTemplate ? "on" : "off");
            }
             var dataTable = $('#templateListDataTable').dataTable();
             dataTable.fnSettings().sAjaxSource = getAjaxSource(showArchiveTemplate);
             dataTable.fnDraw();
          });
        });

        function getAjaxSource(showArchiveTemplate) {
            return '@Url.Action("LoadListTemplate")?archived=' + showArchiveTemplate;
        }

        function loadListTemplate(showArchiveTemplate) {
            var optionstemplateList =
            {
                bServerSide: true,
                sAjaxSource: '@Url.Action("LoadListTemplate")?archived=' + showArchiveTemplate,
                bAutoWidth: false,
                bDestroy: true,
                iDisplayLength: 10,
                aaSorting: [[1, "asc"]],
                aoColumns: [
                    { sType: 'integer', sName: 'VirtualTestCustomScoreID', bSearchable: false, bSortable: false },
                    { sType: 'string', sName: 'Name', bSearchable: true, bSortable: true },
                    { sType: 'string', sName: 'Author', bSearchable: false, bSortable: true },
                    { sType: 'string', sName: 'CreatedDate', bSearchable: false, bSortable: true },
                    { sType: 'string', sName: 'UpdatedDate', bSearchable: false, bSortable: true },
                    { sType: 'string', sName: 'PublishedDistricts', bSearchable: false, bSortable: false },
                    { sType: 'string', sName: 'FirstName', bSearchable: true, bSortable: true, bVisible: false },
                    { sType: 'string', sName: 'LastName', bSearchable: true, bSortable: true, bVisible: false },
                    { sType: 'integer', sName: 'TotalVirtualTestAssociated', bSearchable: false, bSortable: false, bVisible: false },
                    { sType: 'boolean', sName: 'IsPublished', bSearchable: false, bSortable: false, bVisible: false },
                    { sType: 'boolean', sName: 'Archived', bSearchable: false, bSortable: false, bVisible: false }
                ],
                fnRowCallback: function (nRow, aData) {
                    $('td:eq(0)', nRow).html(setIconVisibility(aData[0], aData[8], aData[9], aData[10]));
                    $('td:eq(2)', nRow).html(setAuthorName(aData[6], aData[7], aData[9]));
                    $('td:eq(3)', nRow).html(displayDateWithFormat(aData[3], aData[3]));
                    $('td:eq(4)', nRow).html(displayDateWithFormat(aData[4], aData[4]));
                    $('td:eq(5)', nRow).html(formatPublishedDistricts(aData[5]));
                    return nRow;
                },
                fnPreDrawCallback: function () {
                    ShowBlock($('#templateListDataTable'), "Loading");
                    $('#templateListDataTable').find('.loading').show();
                    return true;
                },
                fnDrawCallback: function () {
                    $('#templateListDataTable').unblock();
                    $('.with-tip').tip();
                    $('#templateListDataTable').find('.loading').hide();
                }
            };
            $("#templateListDataTable").data("options", optionstemplateList);
        }

        function setIconVisibility(virtualtestId, totalTestRersult, isPublished, archived) {

            var editIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
            var editString = '<a href="javascript:void(0)" title="Edit Template" templateId="' + virtualtestId + '" class="with-tip editTemplate"><img src="' + editIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

            var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")';
            var deleteGrayIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle-disable.png")';
            var deleteIconString = '<a href="javascript:void(0)" title="Delete Template" templateId="' + virtualtestId + '" class="with-tip deleteTemplate"><img src="' + deleteIcon + '" width="16" height="16" style="margin-right: 4px"></a>';
            if (totalTestRersult > 0) {
                deleteIconString = '<a href="javascript:void(0)" title="Delete Template" class="with-tip"><img src="' + deleteGrayIcon + '" width="16" height="16" style="margin-right: 4px"></a>';
            }

            var copyIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/move-icon.png")';
            var copyString = '<a href="javascript:void(0)" title="Copy" templateId="' + virtualtestId + '" class="with-tip copyTemplate"><img src="' + copyIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

            var publishIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/arrow-curve-000-left.png")';
            var publishIconHtml = '<a href="javascript:void(0)" title="Publish Template" templateId="' + virtualtestId + '" class="with-tip publishTemplate"><img src="' + publishIcon + '" width="16" height="16" style="margin-right: 4px"></a>';
            var canPublish = @ViewBag.CanPublish.ToString().ToLower();

            var titleArchived = '';
            var slashEyesIcon = '';
            if (archived.toLowerCase() == "false") {
               slashEyesIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-review-hide.png")';
               titleArchived = 'Archive Template';
            } else {
               slashEyesIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/icon-review-show.png")';
               titleArchived = 'Unarchive Template';
            }
            var archivedHtml = '<a href="javascript:void(0)" class="with-tip archiveTemplate" title="' + titleArchived +'"templateId="' + virtualtestId + '"archived=' + archived + '><img width="16" height="16" style="margin-right: 4px" src="' + slashEyesIcon + '"</a>';

            var returnHtml = "";
            if (canPublish == true) {
                returnHtml =  editString + deleteIconString + copyString + publishIconHtml + archivedHtml;
            } else {
                returnHtml =  editString + deleteIconString + copyString + archivedHtml;
            }

            if (isPublished.toLowerCase() == "true") {
                var viewIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/information-ocre.png")';
                var viewIconHtml = '<a href="javascript:void(0)" title="View Template" templateId="' + virtualtestId + '" class="with-tip viewTemplate"><img src="' + viewIcon + '" width="16" height="16" style="margin-right: 4px"></a>';
                return viewIconHtml;
            }

            return returnHtml;
        }

        function formatPublishedDistricts(publishedDistricts) {
            var returnStr = '';
            if (publishedDistricts.length > 0) {
                var summary = publishedDistricts.substring(0, 29)
                if (publishedDistricts.length > 30)
                    summary += '...';
                returnStr = '<span title="' + publishedDistricts + '">' + summary + '</span>'
            }
            return returnStr;
        }

        function setAuthorName(firstName, lastName, isPublished) {
            var author = '';
            if (firstName == null) {
                firstName = '';
            }
            if (lastName == null) {
                lastName = '';
            }
            if (isPublished.toLowerCase() == "false") {
                if (firstName.length > 0 && lastName.length > 0) {
                    author = lastName + ', ' + firstName;
                } else {
                    author = lastName + firstName;;
                }
            } else {
                author = "Published";
            }
            return author;
        }

        $('.archiveTemplate').live('click', function () {
            var submitArchived = null;
            var templateId = $(this).attr('templateId');
            var archived = $(this).attr('archived');
            if (archived == "False") {
                submitArchived = true;
            } else {
                submitArchived = false;
            }
            CustomConfirm({
                message: messageArchive(submitArchived),
                textLeft: true,
                yes: function () {
                    ShowBlock($('#idTopNavigation'), messageArchiveProcess(submitArchived));
                    $.post('@Url.Action("ArchiveTemplate")', { templateId: templateId, archived : submitArchived }, function (response) {
                        $('#idTopNavigation').unblock();
                        if (response.success == true) {
                            customAlertMessage({message: messageArchiveSuccess(submitArchived)});
                            $('#templateListDataTable').dataTable().fnDraw(false);
                        } else {
                            customAlertMessage({message: response.error});
                        }
                    });
                },
                no: function () {
                    //no remove
                },
                open: function () {
                    //no remove
                },
                close: function () {
                    //no remove
                }
            });
        });

        function messageArchive(submitArchived) {
            return submitArchived ? 'Are you sure you want to archive this template?' : 'Are you sure you want to unarchive this template?';
        }

        function messageArchiveSuccess(submitArchived) {
            return submitArchived ? 'Template has been archived.' : 'Template has been unarchived.';
        }

        function messageArchiveProcess(submitArchived) {
            return submitArchived ? 'Archiving' : 'Unarchiving';
        }

         $('.deleteTemplate').live('click', function() {
            var templateId = $(this).attr('templateId');
            CustomConfirm({
                message: 'Are you sure you want to DELETE this template? ' ,
                textLeft: true,
                yes: function () {
                    ShowBlock($('#idTopNavigation'), "Deleting");
                    $.post('@Url.Action("DeleteTemplate")', { templateId: templateId }, function (response) {
                        $('#idTopNavigation').unblock();
                        if (response.success == true) {
                            customAlertMessage({message: 'Template has been deleted.'});
                            $('#templateListDataTable').dataTable().fnDraw(false);
                        } else {
                            customAlertMessage({message: response.error});
                        }
                    });
                },
                no: function () {
                    //no remove
                },
                open: function () {
                    //no remove
                },
                close: function () {
                    //no remove
                }
            });
        });

        $('.editTemplate').live('click', function() {
            var templateId = $(this).attr('templateId');
            var vUrl = '/DataLocker/EditTemplate?id=' + templateId;
            window.location.href = vUrl;

        });

        $('.copyTemplate').live('click', function () {
            $('#idHiddenFileTemplateSelected').val($(this).attr('templateId'));
            DatalockerTemplateVm.content = '';

            var url = '@Url.Action("LoadViewCloneTemplate", "DataLocker")';
            $.ajax(
                {
                    url: url,
                    cache: false
                })
                .done(function (html) {
                    DatalockerTemplateVm.isShowPopupCloneTemplate = true;
                    DatalockerTemplateVm.content = html;
                });
        });

        $('.viewTemplate').live('click', function () {
            var templateId = $(this).attr('templateId');
            var vUrl = '/DataLocker/ViewTemplate?templateId=' + templateId;
            window.location.href = vUrl;

        });

        $('.publishTemplate').live('click', function () {
            var templateId = $(this).attr('templateId');
            displayPublishDistrictDialog(templateId);
        });

        function displayPublishDistrictDialog(templateId) {
            // TODO: display publish district dialog
            var worker = $('<div />');

            worker
                .addClass("dialog")
                .attr("id", "AssignParentForm")
                .appendTo("body")
                .load('@Url.Action("LoadListOrShareDistrict")/?templateId=' + templateId, function() {
                    worker.dialog({
                        title: $(this).attr("Publish to @LabelHelper.DistrictLabel"),
                        close: function() {
                            $('.ui-widget-overlay').remove();
                            $(this).remove();
                            refreshTemplateList();
                        },
                        modal: false,
                        width: 750,
                        resizable: false,
                        position: ['top', 100]
                    });
                });
            showModalDialogBG();
        }

        function refreshTemplateList() {
            ui.templateListDataTable.fnDraw();
        }

        function showModalDialogBG() {
            var win = $('body');
            $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; height: ' + win.height() + 'px; z-index: 1001;"></div>');
        }

        function copyTemplate()
        {
            var vTemplateName = encodeURIComponent ( $('#inputCopyTemplateName').val()) ;
            var vTemplateId = $('#idHiddenFileTemplateSelected').val();
            if (vTemplateName.trim() == '') {
                $('#error-messages').html('<li> Please enter template name. </li>');
                $('#error-messages').show();
                $('#success-message').hide();
                return;
            }
            ShowBlock($('#idTopNavigation'), "Clone Template");
            $.get('@Url.Action("CopyTemplate", "DataLocker")', {id: vTemplateId, templateName: vTemplateName.trim() }, function (response) {
                if (response.Success == true) {
                    $('#success-message').show();
                    $('#error-messages').hide();
                    //go to the virtual test page
                    var vUrl = '/DataLocker/EditTemplate?id=' + response.templateID;
                    window.location.href = vUrl;
                } else {
                    $('#error-messages').html('<li> ' + response.ErrorMessage + ' </li>');
                    $('#error-messages').show();
                    $('#success-message').hide();
                }
                $('#idTopNavigation').unblock();
            });
        }

        function cancelCopyTemplate()
        {
            DatalockerTemplateVm.isShowPopupCloneTemplate = false;
            $('#idTopNavigation').unblock();
        }
    </script>

}
