@model LinkIt.BubbleSheetPortal.Models.SGO.VirtualTestCustomScore
@{
    ViewBag.Title = "View Template";
}
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleDataLockerTemplateBundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptViewDataLockerTemplateBundle()

<style>
    .bntCreate {
        margin-right: 10px;
    }

    #divTopic .no-margin, #divSkill .no-margin, #divOther .no-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    .wtSpreader {
        width: 100% !important;
    }

    select[name="dataTable_length"] {
        min-width: 60px !important;
    }

    ul.message, .validation-summary-errors ul {
        padding: 6px;
    }

    .attachment-item {
        display: inline-block;
        vertical-align: middle;
    }

        .attachment-item:hover,
        .attachment-item:focus {
            color: #52a6d1;
            cursor: pointer;
        }

        .attachment-item > img {
            width: 22px;
            position: relative;
            top: -1px;
        }
</style>

<style type="text/css">
    .positionAdd {
        position: relative;
        right: -6px;
        top: 26px;
    }


    /*button {
            margin-left: 30px;
        }*/

    .ui-widget-header {
        border: 0px solid #aaa !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
        /*top: 100px !important;*/
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .ui-widget-overlay {
        background: #2b2b2d !important;
    }

    .coolfieldset, .coolfieldset.expanded {
        border: 1px solid #aaa;
    }

        .coolfieldset.collapsed {
            border: 0;
            border-top: 1px solid #aaa;
        }

        .coolfieldset legend[name="legendTestName"] {
            padding-left: 13px;
            font-weight: bold;
            cursor: pointer;
        }

        .coolfieldset legend[name="legendTestName"], .coolfieldset.expanded legend[name="legendTestName"] {
            background: transparent url(/Content/themes/base/images/expanded.gif) no-repeat center left;
            background-size: 10px 10px;
        }

        .coolfieldset.collapsed legend[name="legendTestName"] {
            background: transparent url(/Content/themes/base/images/collapsed.gif) no-repeat center left;
            background-size: 10px 10px;
        }
</style>

<style>
    .dataTableDefaultTagStyle .dataTables_empty div {
        /*No data*/
        width: 243px !important;
        text-align: left;
    }

    .dataTableDefaultTagStyle tr td {
        padding-left: 0px;
        padding-right: 0px;
    }

    .dataTableDefaultTagStyle {
        width: 243px !important;
        height: 193px;
    }

        .dataTableDefaultTagStyle tbody img {
            margin-left: 5px !important;
            margin-right: 5px !important;
        }

        .dataTableDefaultTagStyle thead,
        .dataTableDefaultTagStyle tbody {
            display: block;
        }

        .dataTableDefaultTagStyle tbody {
            height: 158px;
            overflow: auto;
            overflow-x: hidden;
        }

            .dataTableDefaultTagStyle tbody td {
                /*word-break: break-all;*/
                word-wrap: break-word;
            }
            /* Padding content inside div */
            .dataTableDefaultTagStyle tbody tr td div {
                padding-left: 3px !important;
                padding-right: 3px !important;
            }

            .dataTableDefaultTagStyle tbody td:nth-of-type(1) div {
                width: 30px;
            }

            .dataTableDefaultTagStyle tbody td:nth-of-type(2) div {
                width: 200px;
            }

        .dataTableDefaultTagStyle thead th:nth-of-type(1) {
            width: 15px !important;
        }

        .dataTableDefaultTagStyle thead th:nth-of-type(2) {
            width: 188px !important;
        }

        .dataTableDefaultTagStyle .dataTables_empty {
            width: 245px;
        }

    .fieldset-relative {
        position: relative;
    }

    .btn-add-data-point {
        color: #666;
        background: #e7e7e7 url(/Content/themes/Constellation/images/old-browsers-bg/legend-bg.png) repeat-x top;
        background-size: 100% 100%;
        background: -moz-linear-gradient(top, #f8f8f8, #e7e7e7);
        background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e7e7e7));
        line-height: 1.333em;
        padding: 0.125em 0.5em;
        border: 1px solid white;
        border-radius: 0.417em;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        outline: 0;
        position: absolute;
        top: -1px;
    }

        .btn-add-data-point > img {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -1px;
        }

    .btn-add-data-point-pre {
        left: 116px;
    }

    .btn-add-data-point-post {
        left: 145px;
    }

    .gecko .btn-add-data-point {
        top: -23px;
    }

    .gecko .btn-add-data-point-pre {
        left: 150px;
    }

    .gecko .btn-add-data-point-post {
        left: 155px;
    }
</style>

<article class="container_12" id="idTopNavigation">
    <section class="grid_12">
        <div class="block-border" id="divEditTemplateContainer">
            <div class="block-content form bubbleSheetSelector">
                <fieldset class="grey-bg sgo-fieldset">
                    <div class="columns">
                        <div id="divTemplateName" class="columns">
                            <div class="colx2-left">
                                <p>
                                    <label>
                                        Template Name
                                    </label>
                                    <span class="relative">
                                        @Html.DisplayFor(m => m.Name, new { @maxlength = "50", @class = "full-width first-focus", id = "TemplateName" })
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint fieldset-relative datalocker-define-template" id="fsPreAssessmentDataPoint">
                    <legend>Overall Score</legend>
                    <div class="block-content form" id="divOverallScoreContainer" style="background-color: #fcfcfc;">
                        <h1 style="line-height: 1">Score Column</h1>
                        <table id="dataTableOverallScore" class="datatable table no-margin" style="width: 100%">
                            <thead>
                                <tr>
                                    <th scope="col">Type</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Validation Properties</th>
                                </tr>
                            </thead>
                            <tbody style="cursor: pointer"></tbody>
                        </table>
                    </div>

                </fieldset>
                <fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint fieldset-relative datalocker-define-template">
                    <legend>Subscores</legend>
                    <div id="divSubscoreSection"></div>
                </fieldset>
            </div>
        </div>
    </section>
</article>*


@*overall score*@
<script type="text/javascript">
    var oTableOverallScore;
    var keepCurrentPageOverallScore = 0;
    var displayStartOverallScore = 0;
    $(function() {
        removeTips();

        var options = {
            bServerSide: true,
            bDestroy: true,
            bStateSave: false,
            bFilter: false, 
            bLengthChange: false,
            bInfo: false,
            sAjaxSource: getAjaxSourceScoreTypeList(),
            fnServerParams: function(aoData) {
                //TuanVo:encode text in filter searchbox
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeURIComponent(item.value);
                        }
                        break;
                    }
                }
            },
            bAutoWidth: false,
            iDisplayLength: 1000,
            aaSorting: [[0, "asc"]],
            aoColumns: [
                { sType: 'string', sName: 'ScoreTypeName', bSearchable: true, bSortable: false, sWidth: "150px" },
                { sType: 'string', sName: 'ScoreName', bSearchable: true, bSortable: false, sWidth: "150px" },
                { sType: 'string', sName: 'Description', bSearchable: true, bSortable: false, sWidth: "450px" },
                { sType: 'string', sName: 'Overview', bSearchable: false, bSortable: false, sWidth: "350px" },
                { sType: 'string', sName: 'ShortOverview', bSearchable: false, bSortable: false,bVisible:false, sWidth: "0px" },
                { sType: 'string', sName: 'ScoreTypeCode', bSearchable: false, bSortable: false,bVisible:false, sWidth: "0px" },
                { sType: 'string', sName: 'VirtualTestCustomSubScoreID', bSearchable: false, bSortable: false,bVisible:false, sWidth: "0px" },
                { sType: 'string', sName: 'IsPredefinedList', bSearchable: false, bSortable: false, bVisible: false, sWidth: "0px" },
                { sType: 'integer', sName: 'Id', bSearchable: false, bSortable: false, bVisible: false, sWidth: "0px" },
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(1)', nRow).html(truncateText($('td:eq(1)', nRow),aData[1],35));
                $('td:eq(2)', nRow).html(truncateText($('td:eq(2)', nRow),aData[2],85));
                $('td:eq(2)', nRow).addClass('word-break');
                $('td:eq(3)', nRow).html(showShortOverview($('td:eq(3)', nRow),aData[3],aData[4],aData[7],aData[1]));
            },
            fnPreDrawCallback: function() {
                ShowBlock($('#dataTableOverallScore'), "Loading");
                return true;
            },
            fnDrawCallback: function() {
                $('#dataTableOverallScore').unblock();
                $('.with-tip').tip();
                $('#dataTableOverallScore_wrapper .block-footer').hide();
                $('#dataTableOverallScore').css('width', 'auto');
            }
        };


        $("#dataTableOverallScore").data("options", options);
        oTableOverallScore = $('#dataTableOverallScore').dataTable();
        oTableOverallScore.fnSetFilteringDelay(500); //TuanVo: delay searching when user type in search box to save time of query


        function truncateText(td,text, maxLength) {
            if (text == null) {
                text = '';
            }

            text = unescapeHtml(text);

            if (text.length > maxLength) {
                td.addClass('with-tip');
                td.bind({
                    mouseenter: function () {
                        displayClassDetailTooltip(td, text,maxLength);
                    },
                    mouseleave: function () {
                        td.removeClass('with-tip');
                        $('#tips div:last-child').html('');
                    }
                });

                var limiText = '';
                limiText = text.substring(0, maxLength);
                return removeLastBRTag(limiText) + ' ...';

            } else {
                return text;
            }
        }

        function showShortOverview(td,overview,shortOverview,isPredefinedList,scoreName) {
            overview = overview == null ? '' : overview;
            shortOverview = shortOverview == null ? '' : shortOverview;

            if ((isPredefinedList != undefined && isPredefinedList == 'True') || scoreName == 'Artifact') {
                // limit the  overview to make the shortOverview
                shortOverview = overview.substring(0, 45);
                shortOverview += ' ...';
                td.addClass('with-tip');
                td.bind({
                    mouseenter: function () {
                        displayClassDetailTooltip(td, overview,46);
                    },
                    mouseleave: function () {
                        td.removeClass('with-tip');
                        $('#tips div:last-child').html('');
                    }
                });

                return shortOverview;
            } else {
                //just show the shortOverview
                td.addClass('with-tip');
                td.bind({
                    mouseenter: function () {
                        displayClassDetailTooltip(td, overview,46);
                    },
                    mouseleave: function () {
                        td.removeClass('with-tip');
                        $('#tips div:last-child').html('');
                    }
                });

                return shortOverview;
            }
        }

        function removeLastBRTag(input){
            // remove last </br> tag
            if(input != null)
            {
                input = input.trim();
                if(input.length >= 5 && input.substring(input.length - 5) == '</br>'){
                    input = input.substring(0, input.length - 5);
                }
            }

            return input;
        }

        function displayClassDetailTooltip(e, data, maxItemTooltipLength) {
            if (data == null) {
                data = '';
            }
            var width = '100px'; //default
            if (maxItemTooltipLength <= 50) {
                width = '200px';
            }
            else if (maxItemTooltipLength <= 100) {
                width = '300px';
            }
            else if (maxItemTooltipLength <= 150) {
                width = '450px';
            }
            else if (maxItemTooltipLength <= 200) {
                width = '600px';
            }
            else {
                width = '800px';
            }

            $(e).attr('title', '<p style="text-align:left;width:' + width + ';white-space: normal;word-break: break-all">' + data.split('|').join('<br />') + '</p>');
        }

        var isOpenAddNewOverallScore = false;
    });


    function getAjaxSourceScoreTypeList() {
        return '@Url.Action("LoadScoreTypeList")?templateId=@Model.VirtualTestCustomScoreId';
    }

</script>

@*subscores*@
<script src="@Url.Content("~/Scripts/drag-arrange.js")"></script>
<script>
    $(function() {
        loadExistingSubsores();
        $('.datalocker').addClass('current');
        $('#datalockerDefineTemplate').addClass('current');
    });

    function loadExistingSubsores() {

        @foreach (var subscoreId in Model.SubscoreIdList)
        {<text>
        ShowBlock($('#divSubscoreSection'), 'Loading');
        $('#divSubscoreSection').append('<div id="divSubscoreSection_@(subscoreId)' +'" class="subscore" subscoreid="@(subscoreId)" ></div>');
        appendSubsore(@Model.VirtualTestCustomScoreId,@subscoreId);

        </text>

        }
    }

    function appendSubsore(templateId,id,alreadyAdded) {
        var data = {
            VirtualTestCustomScoreId: @Model.VirtualTestCustomScoreId,
            virtualTestCustomSubScoreID:id
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadViewSubscore")',
            data: data
        })
        .done(function(response) {
            $('#divSubscoreSection_'+id).append('<div>'+ response + '</div>');
            $('#divSubscoreSection').unblock();
            if (alreadyAdded != undefined) {
                //no collapse the already added subscore
                $('#editsubscorefs_' + id).find('div').show();
                $('#editsubscorefs_' + id).removeClass("collapsed");
                $('#editsubscorefs_' + id).addClass("expanded");
            }
        });
    }

    function getSubscoreIDListInOrder() {
        var subscoreIdList = '';
        $('.subscore').each(function( index, element ) {
            subscoreIdList+= $(element).attr('subscoreid') + ',';
        });
        return subscoreIdList;
    }
</script>