@model LinkIt.BubbleSheetPortal.Web.ViewModels.GenericSheets.GenericSheetNewStudentViewModel
@{
    Layout = null;
}
<section id="divAddNewStudentFeorGeneric">
    <div class="block-border">
        <div class="block-content" style="z-index: initial; padding: 1.5rem 1rem 0 ">
            <div class="form">
                <p class="title-large px-3 mb-3">Add New Student</p>
                <ul style="display: none" id="genericStudent-error-messages" class="message error mx-3 mb-3"></ul>
                <div class="form-body">
                    <div class="mb-2">
                        <p class="title-medium">Class Infor</p>
                        <div class="row g-3">
                            <div class="col-6 mb-3">
                                <label class="title-little-small mb-2">
                                    School Name
                                </label>
                                <span class="relative">
                                    @Html.TextBoxFor(m => m.SchoolName, new { @class = "full-width", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.SchoolId)
                                </span>

                            </div>
                            <div class="col-6 mb-3">
                                <label class="title-little-small mb-2">
                                    Class Name
                                </label>
                                <span class="relative">
                                    @Html.TextBoxFor(m => m.ClassName, new { @class = "full-width", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.ClassId)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <p class="title-medium">Student Details</p>
                        @Html.HiddenFor(m => m.StudentId)
                        @Html.HiddenFor(m => m.DistrictId)
                        @Html.HiddenFor(m => m.BubbleSheetFileId)
                        <div class="row g-3">
                            <div class="col-6 mb-3">
                                <label>
                                    First Name<span style="color: Red"> *</span>
                                </label>
                                <span>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "full-width first-focus" })
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <label>
                                    Last Name<span style="color: Red"> *</span>
                                </label>
                                <span>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "full-width" })
                                </span>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-6 mb-3">
                                <label>
                                    Gender
                                </label>
                                <span>
                                    @Html.DropDownListFor(m => m.GenderId, Model.Genders, "Select Gender", new { id = "selectGender", @class = "full-width" })
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <label>
                                    @LabelHelper.GradeLabel
                                </label>
                                <span>
                                    @Html.DropDownListFor(m => m.GradeId, Model.Grades, "Select " + @LabelHelper.GradeLabel, new { id = "selectGrade", @class = "full-width" })
                                </span>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-6 mb-3">
                                <label>
                                    Middle Name
                                </label>
                                <span>
                                    @Html.TextBoxFor(m => m.MiddleName, new { @class = "full-width" })
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <label>
                                    Student Local ID<span style="color: Red"> *</span>
                                </label>
                                <span>
                                    @Html.TextBoxFor(m => m.StudentLocalId, new { @class = "full-width" })
                                </span>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-6 mb-3">
                                <label>
                                    Race
                                </label>
                                <span>
                                    @Html.DropDownListFor(m => m.RaceId, Model.Races, "Select Race", new { @id = "selectRace", @class = "full-width" })
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <label>
                                    Student @LabelHelper.StudentStateID
                                </label>
                                <span>
                                    @Html.TextBoxFor(m => m.StudentStateId, new { @class = "full-width" })
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="title-medium">Account Info</p>
                        <div class="row g-3">
                            <div class="col-6 mb-4">
                                <label>
                                    Password
                                </label>
                                <span>
                                    @Html.PasswordFor(m => m.Password, new { maxlength = 49, @class = "full-width" })
                                </span>
                            </div>
                            <div class="col-6 mb-4">
                                <label>
                                    Confirm Password
                                </label>
                                <span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "full-width" })
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns d-flex justify-content-between align-items-center popup-score-column-btn">
                    <div>
                        <button id="btnCreateStudentCancel" type="button" class="btn-cancel">Cancel</button>
                    </div>
                    <div>
                        <button class="btn-accept" id="btnCreateStudentSubmit" type="button" name="Save">Create new student for this sheet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #divAddNewStudentFeorGeneric{
        z-index: initial;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-createStudentAssignGenericDialog"] .ui-dialog-titlebar {
        z-index: 1200;
        padding: 0;
        position: absolute;
        top: 1.5rem;
        right: 1.3rem;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-createStudentAssignGenericDialog"] .ui-dialog-titlebar-close {
        right: 0;
        top: 1.2rem;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-createStudentAssignGenericDialog"] {
        max-width: inherit;
        width: 600px !important;
    }

        #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-createStudentAssignGenericDialog"] .ui-dialog-titlebar-close::after {
            font-size: 1rem;
            right: 0;
            top: 0;
        }

    #portal-v2-containter #divAddNewStudentFeorGeneric .form {
        max-height: calc(100vh - 3.5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #portal-v2-containter #divAddNewStudentFeorGeneric .form-body {
        flex: 1 1 auto;
        overflow-y: auto;
        padding-right: 1rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    #portal-v2-containter .popup-score-column-btn {
        background-color: var(--navyColor);
        margin-left: -2rem;
        margin-right: -2rem;
        padding: 0.5rem 4.375rem 0.5rem 5.9375rem;
    }

    #portal-v2-containter .form .popup-score-column-btn button.btn-cancel {
        padding: 11px 32px;
        min-width: auto;
        height: auto;
    }
</style>

