@model LinkIt.BubbleSheetPortal.Web.ViewModels.GenericSheets.AssignGenericSheetViewModel

@{
    Layout = null;
}


<div class="block-border" id="blockAssignStudent">
    <div class="block-content form">
        <p class="title-large">Assign and Grade</p>
        <ul style="display: none" id="error-messages" class="message error mb-3"></ul>
        <div>
            <p class="title-medium">Details</p>
            @using (Html.BeginForm("SubmitGenericSheetAssignment", "GenericSheet", FormMethod.Post, new { id = "formAssignStudent" }))
            {
                @Html.HiddenFor(x => x.BubbleSheetFileId)
                <div class="d-flex">
                    <div class="me-4 wrapper-img">
                        @if (string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <img src="@Url.Content("~/Content/images/noimage.png")" width="128" height="170" />
                        }
                        else
                        {
                            <a href="@Model.ImageUrl" target="_new">
                                <img src="@Model.ImageUrl" width="128" height="170" />
                            </a>
                        }

                    </div>
                    <div class="studentDetails">
                        <p class="mb-3"><b>File Name:</b> @Model.FileName</p>
                        <p class="mb-3">
                            <input type="checkbox" name="IsAllStudentsChecked" id="chkShowAllStudents" value="true" />&nbsp;
                            <label for="chkShowAllStudents">Show All Students</label>
                        </p>
                        <p class="mb-3" id="remainingStudentsList"><label>Student:</label> @Html.DropDownList("SelectedRemainingStudentsId", Model.RemainingStudents, "Select Student")</p>
                        <p class="mb-3" id="allStudentsList" style="display: none"><label>Student:</label> @Html.DropDownList("SelectedAllStudentsId", Model.AllStudents, "Select Student")</p>
                    </div>
                </div>
                <div class="text-end mt-4">
                    <button id="btnCancelStudentAssignment" class="btn-text p-0 me-3" type="button">Cancel</button>
                    <button id="btnSubmitGenericSheetAssignment" class="btn-red" type="submit">Submit</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="divListBubbleSheetFileSub" style="display: none;"></div>
