@using System.Linq
@using DevExpress.Web.ASPxHtmlEditor.Internal
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportMasterViewModel

@if (Model.NewACTEssayComments.Any())
{
    <div class="page-breaker"></div>
    <div style="font-size: 12px;">
        <div>
            @Html.Raw(Model.EssayCommentTitle)
        </div>

        <br />
        <br />

        @foreach (var essayComment in Model.NewACTEssayComments)
        {
            <div>
                <span style="font-weight: bold; font-size: 14px;">@essayComment.TagName: @essayComment.Score</span>
                <br />
                @essayComment.ScoreRange
            </div>
            <div>
                @Html.Raw(essayComment.EssayComment)
            </div>
            <br />
        }
    </div>
    <br />
}

