@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportViewModel
@if (Model.IsPublisher)
{
    <div id="publisherContent" class="mb-4 bg-white p-4 box-shadow">
        <h3 class="h3">Select State/@LabelHelper.DistrictLabel</h3>
        <div class="row g-3">
            <div class="col-3 fileter-item">
                <label>State</label>
                <select id="selectState" class="full-width"></select>
            </div>
            <div class="col-3 fileter-item">
                <div class="block-content-dropdown-marquee">
                    <label>@LabelHelper.DistrictLabel</label>

                    <div class="block-text-name">
                        <select id="selectDistrict" class="full-width"></select>
                        <div class="box-select">
                            <span class="overlay"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="mb-4 bg-white p-4 box-shadow">
    <h3 class="h3">Select Test</h3>
    <div class="row g-3">
        <div class="col-3 fileter-item">
            <label>@LabelHelper.TestGrade</label>
            <select id="selectGrade" class="full-width"></select>
        </div>
        <div class="col-3 fileter-item">
            <div class="block-content-dropdown-marquee">
                <label>@LabelHelper.Subject</label>

                <div class="block-text-name">
                    <select id="selectSubject" class="full-width"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 fileter-item">
            <label>Bank</label>
            <select id="selectBank" class="full-width"></select>
        </div>
        <div class="col-3 fileter-item">
            <div class="block-content-dropdown-marquee">
                <label>Test</label>
                <div class="block-text-name">
                    <select id="selectTest" class="full-width"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-4 bg-white p-4 box-shadow">
    <h3 class="h3">Select Students</h3>
    <div id="divSingleClass" class="row g-3">
        <div class="col-3 fileter-item">
            <div class="block-content-dropdown-marquee">
                <label>School</label>

                <div class="block-text-name">
                    <select id="selectSchool" class="full-width"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 fileter-item">
            <div class="block-content-dropdown-marquee">
                <label>Teacher</label>

                <div class="block-text-name">
                    <select id="selectTeacher" class="full-width"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 fileter-item">
            <div class="mb-3 block-content-dropdown-marquee">
                <label>
                    @LabelHelper.Term
                </label>

                <div class="block-text-name">
                    <select id="selectTerm" class="full-width"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 fileter-item">
            <div class="block-content-dropdown-marquee">
                <label>Class</label>

                <div class="block-text-name">
                    <select id="selectClass" class="full-width"></select>
                    <div class="box-select">
                        <span class="overlay"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="studentContent" class="block-section-custom mb-4" style="display: none">
    <div class="student-content-wrapper">
        <button class="btn-select" type="button" name="select-all" onclick="selectAllStudents()">Select All</button>
        <button class="btn-select" type="button" name="select-none" onclick="selectNoStudents()">Select None</button>
        <button class="btn-select" type="button" name="invert-select" onclick="invertSelectedStudents()">Invert Selection</button>
    </div>
    <div class="mt-4">
        <div id="studentsList">
            <ul id="students" class="generate-student-list generate-student-list-custom with-icon icon-user student-col"></ul>
        </div>
    </div>

</div>
<div id="divMultiClass" style="display: none;">
</div>
<div class="mb-4 bg-white p-4 box-shadow" id="fsReportContentOption">
    <h3 class="h3">Report Content Options</h3>
    <div class="row g-3">
        <div class="col-3 fileter-item">
            <label>Options</label>
            <select id="selectReportContentOption" class="full-width">
                <option value="1">Include scores only</option>
                <option value="2">Include scores and essays</option>
                <option value="3">Include essays only</option>
            </select>
        </div>
    </div>
</div>

<div class="text-end bg-white p-4 box-shadow">
    <button class="btn-red" id="btnSubmit" type="button">Generate</button>
</div>

<script type="text/javascript">
    $.ajaxSetup({ cache: false });

    $(function () {
        var marqueeTemplateEl = $('#marqueeTemplate').width() - 5 || 250;

        $('#selectDistrict').marquee({ widthSelected: marqueeTemplateEl });
        $('#selectSubject').marquee({ widthSelected: marqueeTemplateEl });
        $('#selectBankSAT').marquee({ widthSelected: marqueeTemplateEl });
        $('#selectTest').marquee({ widthSelected: marqueeTemplateEl });
        $('#selectSchool').marquee({ widthSelected: marqueeTemplateEl });
        $('#selectTeacher').marquee({ widthSelected: marqueeTemplateEl });
        $('#selectTerm').marquee({ widthSelected: marqueeTemplateEl });
        $('#selectClass').marquee({ widthSelected: marqueeTemplateEl });
        $(document).ready(function () {
            $(".openDialog").live("click", function (e) {
                e.preventDefault();
                $("<div></div>")
                    .addClass("dialog")
                    .attr("id", $(this)
                        .attr("data-dialog-id"))
                    .appendTo("body")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove(); },
                        modal: true,
                        width: 1000,
                        resizable: false
                    })
                    .load(this.href, function () { });
            });

            $(".close").live("click", function (e) {
                e.preventDefault();
            });

            $("#btnCancel").live("click", function (e) {
                e.preventDefault();
                $(".dialog").dialog("close");
            });

        });

        @if (Model.IsPublisher)
        {
            <text>
        $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (states) {
            populateStates(states);
        });

        </text>
        }
        else
        {
            <text>

        $.get('@Url.Action("GetGrades", "PopulateReporting")', { districtId: '-1', virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (grades) {
            populateGrades(grades);
        });
            </text>
        }

        $('#selectState').change(function () {
            $('#selectDistrict').empty();
            $('#selectGrade').empty();
            $('#selectSubject').empty();
            $('#selectBank').empty();
            $('#selectTest').empty();
            $('#selectSchool').empty();
            $('#selectTeacher').empty();
            $('#selectTerm').empty();
            $('#selectClass').empty();
            $('#studentContent').hide();
            $('#students').html('');
            if ($('#selectState').val() != 'select') {
                populateDistricts();
            }
        });

        $('#selectDistrict').change(function () {
            $('#selectGrade').empty();
            $('#selectSubject').empty();
            $('#selectBank').empty();
            $('#selectTest').empty();

            $('#selectSchool').empty();
            $('#selectTeacher').empty();
            $('#selectTerm').empty();
            $('#selectClass').empty();
            $('#studentContent').hide();
            $('#students').html('');
            populateGradesByDistrict();
        });

        $('#selectGrade').change(function () {
            $('#selectSubject').empty();
            $('#selectBank').empty();
            $('#selectTest').empty();
            $('#selectSchool').empty();
            $('#selectTeacher').empty();
            $('#selectTerm').empty();
            $('#selectClass').empty();
            $('#studentContent').hide();
            $('#students').html('');
            populateSubjects();
        });

        $('#selectSubject').change(function () {
            $('#selectBank').empty();
            $('#selectTest').empty();

            $('#selectSchool').empty();
            $('#selectTeacher').empty();
            $('#selectTerm').empty();
            $('#selectClass').empty();
            $('#studentContent').hide();
            $('#students').html('');
            populateBanks();
        });

        $('#selectBank').change(function () {
            $('#selectTest').empty();

            $('#selectSchool').empty();
            $('#selectTeacher').empty();
            $('#selectTerm').empty();
            $('#selectClass').empty();
            $('#studentContent').hide();
            $('#students').html('');
            populateTests();
        });

        $('#selectTest').change(function () {
            $('#selectSchool').empty();
            $('#selectTeacher').empty();
            $('#selectTerm').empty();
            $('#selectClass').empty();
            $('#studentContent').hide();
            $('#students').html('');
            var testId = $('#selectTest').val();
            var vSelectDistrict = $('#selectDistrict').val();
            if (testId != 'select' && testId != '') {
                $.get('@Url.Action("GetSchools", "PopulateReporting")', { virtualtestId: testId, districtId: vSelectDistrict, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (schools) {
                    populateSchools(schools);
                });
            }
        });

        $('#selectSchool').change(function () {
            $('#selectTeacher').empty();
            $('#selectTerm').empty();
            $('#selectClass').empty();
            $('#studentContent').hide();
            $('#students').html('');
            if ($('#selectSchool').val() != 'select') {
                populateTeachers();
            }
        });

        $('#selectTeacher').change(function () {
            $('#selectClass').empty();
            $('#selectTerm').empty();
            $('#studentContent').hide();
            $('#students').html('');

            if ($('#selectTeacher').val() != 'select') {
                populateTerms();
            }
        });

        $('#selectTerm').change(function () {
            populateClasses();
        });

        $('#selectClass').change(function () {
            populateStudents();
        });

        $('#btnSubmit').click(function (e) {
            //e.preventDefault();
            //clear error message
            $("#error-messages").html('');
            $("#error-messages").hide();
            $('#btnSubmit').disableBt();
            ShowBlock($('#ACTPageContent'), "Generating reports");


            var studentsIdSelected = [];

            $(".student-item[isSelected=yes]").each(function () {
                studentsIdSelected.push($(this).attr('studentId'));
            });

            var timezoneOffset = new Date().getTimezoneOffset();
            var suffix = displayDateWithFormat((new Date()).getTime(), true);
            suffix = replace(suffix, '/', '-');
            suffix = replace(suffix, ':', '-');
            suffix = replace(suffix, ' ', '-');
            var actReportFileName = "ACT_Report_" + suffix + "_" + getRandomString() + ".pdf";
            var reportingUrl = '@Url.Action("Generate","ACTReportOld")';

            var reportType = $('#reportType').val();
            if (reportType == 'KnowsysStudentReport') {
                actReportFileName = "Knowsys_Report_" + suffix + "_" + getRandomString() + ".pdf";
                reportingUrl = '@Url.Action("Generate","KnowsysReport")';
            }

            var data = {
                TestId: $('#selectTest').val(),
                DistrictId: $('#selectDistrict').val(),
                TeacherId: $('#selectTeacher').val(),
                ClassId: $('#selectClass').val(),
                StudentIdList: studentsIdSelected,
                TimezoneOffset: timezoneOffset,
                ActReportFileName: actReportFileName,
                ReportContentOption: $('#selectReportContentOption').val(),
                UseNewACTStudentReport: getVirtualTestSubTypeId() == '2' ? false : true
            };

            $.ajax({
                url: reportingUrl,
                traditional: true,
                type: 'POST',
                data: data,
                success: function (response) {
                    console.log(response.Url);
                    if (response.Success != false) {
                        $('#error-messages').hide();
                    }
                    else {
                        addErrorMessages(response);
                        $('#ACTPageContent').unblock();
                        $('#btnSubmit').enableBt();
                        $(window).scrollTop(0);
                    }

                    // Do nothing here, file will be downloaded when existed on S3 using getACTS3File function
                },
                failure: function (response) {
                    $('#ACTPageContent').unblock();
                    $('#btnSubmit').enableBt();
                },
                timeout: 300000
            });

            getACTS3File(actReportFileName);
        });
    });

    function getRandomString() {
        return Math.random().toString(36).substring(2, 14);
    }

    function getACTS3File(checkUrl) {
        $.ajax({
            url: '@Url.Action("CheckACTS3FileExisted")',
            type: 'POST',
            data: { fileName: checkUrl },
            success: function (response) {
                if (response.Result != true) {
                    setTimeout(function () {
                        getACTS3File(checkUrl);
                    }, 3000);
                }
                else {
                    $("#aGeneratePDFSuccess").live("click", function (e) {
                        $(this).attr("href", response.Url);
                        $("#popupConfirm111").dialog("close");
                    });

                    var dialog = $("#popupConfirm111")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () {
                            //$(this).remove();
                        },
                        open: function () { $(".ui-dialog-titlebar-close").hide(); },
                        modal: true,
                        width: 330,
                        resizable: false,
                        hideOnClose: true
                    })
                    .load(this.href, function () { });

                    $('#ACTPageContent').unblock();
                    $('#btnSubmit').enableBt();

                    //window.location.href = response.Url;
                }
            }
        });
    }

    function populateGradesByDistrict() {
        $('#selectGrade').empty();
        $('#selectSubject').empty();
        var districtValue = $('#selectDistrict').val();
        if (districtValue != 'select') {
            $.get('@Url.Action("GetGrades", "PopulateReporting")', { districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (grades) {
                populateGrades(grades);
            });
        }
    }

    function populateDistricts() {
        $('#selectDistrict').empty();
        var stateValue = $('#selectState').val();
        if (stateValue != 'select') {
            $.get('@Url.Action("GetDistricts", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                addDefaultOption($('#selectDistrict'), "@LabelHelper.DistrictLabel");
                addSelectListItems($('#selectDistrict'), districts);
            });
        }
    }

    function populateSchoolsByDistrict() {
        $('#selectSchool').empty();
        var districtValue = $('#selectDistrict').val();
        if (districtValue != 'select') {
            $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtValue }, function (schools) {
                populateSchools(schools);
            });
        }
    }

    function populateTeachers() {
        $('#selectTeacher').empty();
        var districtValue = $('#selectDistrict').val();
        var schoolValue = $('#selectSchool').val();
        var testValue = $('#selectTest').val();
        if (schoolValue != 'select') {
            $.get('@Url.Action("GetTeachers", "PopulateReporting")', { districtId: districtValue, schoolId: schoolValue, virtualTestId: testValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (teachers) {
                addDefaultOption($('#selectTeacher'), "Teacher");
                addSelectListWithDefaultValue($('#selectTeacher'), teachers, 'select', function (item) {
                    return (item.FirstName) ? item.LastName + ", " + item.FirstName + " (" + item.Name + ")" : item.LastName + " (" + item.Name + ")";
                });
            });
        }
    }

    function populateStates(states) {
        addDefaultOption($('#selectState'), "State");
        addSelectListItems($('#selectState'), states);
    }

    function populateSchools(schools) {
        addDefaultOption($('#selectSchool'), "School");
        addSelectListItems($('#selectSchool'), schools);
    }

    function populateGrades(grades) {
        $('#selectGrade').empty();
        addDefaultOption($('#selectGrade'), "@LabelHelper.TestGrade");
        addSelectListItems($('#selectGrade'), grades);
    }

    function populateSubjects() {
        resetSubjects();
        var gradeValue = $('#selectGrade').val();
        var districtValue = 0;
        if ($('#selectDistrict').length && $('#selectDistrict').val() != null && $('#selectDistrict').val() != 'select') {
            districtValue = $('#selectDistrict').val();
        }
        if (gradeValue != 'select') {
            $.get('@Url.Action("GetSubjects", "PopulateReporting")', { gradeId: gradeValue, districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (subjects) {
            addDefaultOption($('#selectSubject'), "@LabelHelper.Subject");
            addSelectListItems($('#selectSubject'), subjects);
        });
    }
}

function populateBanks() {
    resetBanks();
    var subjectValue = $('#selectSubject').val();
    var districtValue = 0;
    if ($('#selectDistrict').length && $('#selectDistrict').val() != null && $('#selectDistrict').val() != 'select') {
        districtValue = $('#selectDistrict').val();
    }
    if (subjectValue != 'select') {
        $.get('@Url.Action("GetBanks", "PopulateReporting")', { subjectIds: subjectValue, districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (banks) {
            addDefaultOption($('#selectBank'), "Bank");
            addSelectListItems($('#selectBank'), banks);
        });
    }
}

function populateTests() {
    $('#selectTest').empty();
    var bankValue = $('#selectBank').val();
    if (bankValue != null && bankValue != 'select') {
        var districtValue = 0;
        if ($('#selectDistrict').length && $('#selectDistrict').val() != null && $('#selectDistrict').val() != 'select') {
            districtValue = $('#selectDistrict').val();
        }
        $.get('@Url.Action("GetTests", "PopulateReporting")', { bankId: bankValue, districtId: districtValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (tests) {
            addDefaultOption($('#selectTest'), "Test");
            addSelectListItems($('#selectTest'), tests);
        });
    }
}

function populateClasses() {
    $('#selectClass').empty();
    $('#students').html('');
    var districtValue = $('#selectDistrict').val();
    var schoolValue = $('#selectSchool').val();
    var termValue = $('#selectTerm').val();
    var teacherValue = $('#selectTeacher').val();
    var testValue = $('#selectTest').val();
    if (termValue != 'select') {
        $.get('@Url.Action("GetClasses", "PopulateReporting")', { districtId: districtValue, schoolId: schoolValue, termId: termValue, userId: teacherValue, virtualTestId: testValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (classes) {
            addDefaultOption($('#selectClass'), "Class");
            addSelectListItems($('#selectClass'), classes);
        });
    }
}

function populateStudents() {
    var classValue = $('#selectClass').val();
    var testValue = $('#selectTest').val();
    if (classValue != 'select') {
        $('#studentContent').show();
        $.get('@Url.Action("ACTGetStudents", "ACTReport")', { classId: classValue, virtualTestId: testValue }, function(students) {
                $('#students').html('');
                addStudentsToList($('#students'), students);
                selectAllStudents();
            });
        } else {
            $('#studentContent').hide();
        }
    }

    function addStudentsToList(el, students) {
        var $el = $(el);
        var studentHtml = [];

        for (var i = 0, len = students.length; i < len; i++) {
            var student = students[i];
            studentHtml.push('<li studentId="' + student.StudentId + '" class="student-item"><a href="javascript:void(0)">' + student.FullName + '</a></li>');
        }

        $el.html(studentHtml.join(''));
    }

    function resetSubjects() {
        $('#selectSubject').empty();
        resetBanks();
    }

    function resetBanks() {
        $('#selectBank').empty();
        $('#selectTest').empty();
    }

    function selectAllStudents() {
        $('.student-col').children().attr('isselected', "yes");
        $('.student-col').children().css('background-color', "#82CAFA");
    }

    function selectNoStudents() {
        $('.student-col').children().attr('isselected', "no");
        $('.student-col').children().css('background-color', "#f2f2f2");
    }

    function invertSelectedStudents() {
        $('.generate-student-list li').each(function() {
            if ($(this).attr('isselected') == "yes") {
                $(this).attr('isselected', "no");
                $(this).css('background-color', "#f2f2f2");
            } else {
                $(this).attr('isselected', "yes");
                $(this).css('background-color', "#82CAFA");
            }
        });
    }

    function populateTerms() {
        $('#selectTerm').empty();

        var districtValue = $('#selectDistrict').val();
        var testValue = $('#selectTest').val();
        var schoolValue = $('#selectSchool').val();
        var teacherValue = $('#selectTeacher').val();

        $.get('@Url.Action("GetTerms", "PopulateReporting")', { districtId: districtValue, virtualTestId: testValue, userId: teacherValue, schoolId: schoolValue, virtualTestSubTypeId: getVirtualTestSubTypeId() }, function (terms) {
            addDefaultOption($('#selectTerm'), "@LabelHelper.Term");
            addSelectListItems($('#selectTerm'), terms);
        });
    }
</script>
