@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportViewModel
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Reporting, "Specialized Report");

    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }
    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

<link href="@BundleHelper.Version("~/Content/css/v2/act-sat-v2.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.listSplitter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/FeLibs/jquery-coolfieldset/js/jquery.coolfieldset.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>

<style type="text/css">
    .coolfieldset, .coolfieldset.expanded {
        border: 1px solid var(--grey0);
    }

        .coolfieldset.collapsed {
            border: 0;
            border-top: 1px solid var(--grey0);
        }

        .coolfieldset legend[name="legendTestName"] {
            padding-left: 13px;
            font-weight: bold;
            cursor: pointer;
        }

        .coolfieldset legend[name="legendTestName"], .coolfieldset.expanded legend[name="legendTestName"] {
            background: transparent url(/Content/themes/base/images/expanded.gif) no-repeat center left;
            background-size: 10px 10px;
        }

        .coolfieldset.collapsed legend[name="legendTestName"] {
            background: transparent url(/Content/themes/base/images/collapsed.gif) no-repeat center left;
            background-size: 10px 10px;
        }

    #selectTest, #selectTestSAT, #selectTestSummary {
        border-color: transparent;
    }

    #specializedReportDownloadDiv > article.container_12 {
        padding: var(--spacingDefault);
        padding-top: 0;
    }

    #ACTPageContent .blockMsg {
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        width: auto !important;
        margin-left: -60px !important;
        transform: translateY(-50%);
    }
</style>

<article class="container_12 act-sat-v2">
    <section class="grid_12">
        <div id="ACTPageContent" class="block-border">

            @using (Html.BeginForm("Index", "ACTReport", FormMethod.Post, new { id = "actReportForm", @class = "block-content form bubbleSheetSelector p-0 bg-transparent" }))
            {
                <div class="bg-white p-4 mb-4 box-shadow">
                    <h1 class="page-title mb-4">Specialized Report</h1>

                    <ul style="display: none" id="error-messages" class="message error"></ul>

                    <h3 class="h3">Select Report</h3>
                    <div class="row g-3">
                        <div class="col-3 fileter-item">
                            <label>Report</label>
                            <select id="reportType">
                                <option value="-1">Select Report</option>
                                @foreach (var report in Model.ReportTypes)
                                {
                                    <option value="@report.Value">@report.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-3 fileter-item">
                            <div id="marqueeTemplate"></div>
                        </div>
                    </div>
                </div>

                <div id="actStudentReportDiv" style="display: none">
                    @*@Html.Partial("v2/_StudentReportTab")*@
                </div>

                <div id="actSummaryReportDiv" style="display: none">
                    @*@Html.Partial("v2/_SummaryReportTab")*@
                </div>

                <div id="satStudentReportDiv" style="display: none">
                    @*@Html.Partial("_SATStudentReportTab")*@
                </div>

                <div id="satSummaryReportDiv" style="display: none">
                    @*@Html.Partial("_SATSummaryReportTab")*@
                </div>
            }
        </div>
    </section>
</article>

<div id="specializedReportDownloadDiv"></div>

<input type="hidden" id="testType" value="" />

<div id="popupConfirm111" style="display: none;">
    <section class="mb-0">
        <div class='block-border'>
            <div class='block-content p-4'>
                <p class="text-bold mb-0" style='text-align: center'>
                    Successfully created PDF.
                </p>
            </div>
        </div>
        <div class="modal-component-footer">
            <div slot="footer">
                <a id='aGeneratePDFSuccess' style='z-index: 2004; text-align: center' href='www.google.com' target='_blank' class='LinkitStypeButton big-button'>OK </a>
            </div>
        </div>
    </section>
</div>

<div id="popupConfirmSAT" style="display: none;">
    <section class="mb-0">
        <div class='block-border'>
            <div class='block-content p-4'>
                <p class="text-bold mb-0" style='text-align: center'>
                    Successfully created PDF.
                </p>
            </div>
        </div>
        <div class="modal-component-footer">
            <div slot="footer">
                <a id='aGeneratePDFSuccessSAT' style='z-index: 2004; text-align: center' href='www.google.com' target='_blank' class='LinkitStypeButton big-button'>OK </a>
            </div>
        </div>
    </section>
</div>

<script>
    function loadReportForm(url, containerElement) {
        var data = {
            IsAdmin: @Model.IsAdmin.ToString().ToLower(),
            CanSelectTeachers: @Model.CanSelectTeachers.ToString().ToLower(),
            IsSchoolAdmin: @Model.IsSchoolAdmin.ToString().ToLower(),
            IsPublisher: @Model.IsPublisher.ToString().ToLower(),
            IncludeStateInformation: @Model.IncludeStateInformation.ToString().ToLower()
            };
        $.ajax({
            type: "POST",
            url: url,
            data: data
        })
        .done(function(response) {
            containerElement.html(response);
            containerElement.show();
            if ($('#reportType').val() == 'ACTStudentReport'
                    || $('#reportType').val() == 'SATStudentReport'
                    || $('#reportType').val() == 'NewACTStudentReport'
                || $('#reportType').val() == 'NewSATStudentReport'
                || $('#reportType').val() == 'ACTStudentReportNewTemplate'
                || $('#reportType').val() == 'SATStudentReportNewTemplate') {
                if($('#fsReportContentOption').length){
                    $('#fsReportContentOption').show();
                }
            } else {
                if($('#fsReportContentOption').length){
                    $('#fsReportContentOption').hide();
                }
            }

            if ($('#reportType').val() == 'KnowsysSATStudentReport') {
                if($('#ksReportContentOption').length){
                    $('#ksReportContentOption').show();
                }
            } else {
                if($('#ksReportContentOption').length){
                    $('#ksReportContentOption').hide();
                }
            }
        });
    }

    function loadDateRangeReportDownload(url) {
        $.ajax({
            type: "POST",
            url: url
            //,
            //data: data
        })
        .done(function(response) {
            $('#specializedReportDownloadDiv').html('');
            $('#specializedReportDownloadDiv').show();
            $('#specializedReportDownloadDiv').html(response);
        });
    }

    function getVirtualTestSubTypeId() {
        var reportType = $('#reportType').val();
        var type = '0';

        switch (reportType) {
            case 'ACTStudentReport':
            case 'ACTSummaryReport':
            case 'KnowsysStudentReport':
                type = '2';
                break;
            case 'SATStudentReport':
            case 'SATSummaryReport':
            case 'KnowsysSATStudentReport':
                type = '3';
                break;
            case 'NewACTSummaryReport':
            case 'NewACTStudentReport':
            case 'ACTStudentReportNewTemplate':
                type = '2;6';
                break;
            case 'NewSATStudentReport':
            case 'NewSATSummaryReport':
            case 'SATStudentReportNewTemplate':
                type = '7';
            default:
        }

        return type;
    }

    function clearForm(containerElement) {
        containerElement.hide();
        containerElement.empty();
    }

    function clearForms(idArray) {
        for (var i = 0; i < idArray.length; i++) {
            var element = $('#' + idArray[i]);

            clearForm(element);
        }
    }

    $('#reportType').change(function () {
        var value = $(this).val();

        switch (value) {
            case 'ACTStudentReport':
            case 'KnowsysStudentReport':
                loadReportForm('@Url.Action("LoadACTStudentReportTabV2")', $('#actStudentReportDiv'));
                clearForms(['actSummaryReportDiv', 'satStudentReportDiv', 'satSummaryReportDiv', 'specializedReportDownloadDiv']);
                break;
            case 'NewACTStudentReport':
            case 'ACTStudentReportNewTemplate':
                clearForms(['actSummaryReportDiv', 'satStudentReportDiv', 'satSummaryReportDiv']);
                loadReportForm('@Url.Action("LoadNewACTStudentReportTabV2")', $('#actStudentReportDiv'));
                loadDateRangeReportDownload('@Url.Action("LoadSpecializedReportDownloadV2", "PopulateReporting")');
                break;
            case 'ACTSummaryReport':
            case 'NewACTSummaryReport':
                clearForms(['actStudentReportDiv', 'satStudentReportDiv', 'satSummaryReportDiv', 'specializedReportDownloadDiv']);
                loadReportForm('@Url.Action("LoadACTSummaryReportTabV2")', $('#actSummaryReportDiv'));
                break;
            case 'SATStudentReport':
            case 'KnowsysSATStudentReport':
                clearForms(['actStudentReportDiv', 'actSummaryReportDiv', 'satSummaryReportDiv', 'specializedReportDownloadDiv']);
                loadReportForm('@Url.Action("LoadSATStudentReportTabV2")', $('#satStudentReportDiv'));
                break;
            case 'NewSATStudentReport':
            case 'SATStudentReportNewTemplate':
                clearForms(['actStudentReportDiv', 'actSummaryReportDiv', 'satSummaryReportDiv']);
                loadReportForm('@Url.Action("LoadNewSATStudentReportTabV2")', $('#satStudentReportDiv'));
                loadDateRangeReportDownload('@Url.Action("LoadSpecializedReportDownloadV2", "PopulateReporting")');
                break;
            case 'SATSummaryReport':
            case 'NewSATSummaryReport':
                clearForms(['actStudentReportDiv', 'actSummaryReportDiv', 'satStudentReportDiv', 'specializedReportDownloadDiv']);
                loadReportForm('@Url.Action("LoadSATSummaryReportTabV2")', $('#satSummaryReportDiv'));
                break;

            default:
                clearForms(['actStudentReportDiv', 'actSummaryReportDiv', 'satStudentReportDiv', 'satSummaryReportDiv', 'specializedReportDownloadDiv']);
        }
    });

$('.generate-student-list li').live({
    mouseenter: function () {
        if ($(this).attr('isselected') == "yes") {
            $(this).css('background-color', "#75B6E1");
        }
        else {
            $(this).css('background-color', "#e0e0e0");
        }
    },
    mouseleave: function () {
        if ($(this).attr('isselected') == "yes") {
            $(this).css('background-color', "#82CAFA");
        }
        else {
            $(this).css('background-color', "#f2f2f2");
        }
    },
    click: function () {
        if ($(this).attr('isselected') == "yes") {
            $(this).attr('isSelected', "no");
            $(this).css('background-color', "#e0e0e0");
        }
        else {
            $(this).attr('isSelected', "yes");
            $(this).css('background-color', "#75B6E1");
        }
    }
});
</script>

<style type="text/css">
    .positionAdd {
        position: relative;
        right: -6px;
        top: 26px;
    }

    .ui-widget-header {
        border: 0px solid var(--grey0) !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
        /*top: 100px !important;*/
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }
</style>
