@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.ACTReportMasterViewModel
@using LinkIt.BubbleSheetPortal.Common.Enum
@using LinkIt.BubbleSheetPortal.Web.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="background: white !important;">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="@Url.Content("~/Content/css/reports/act-report.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/reports/princeXML.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/underscore.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Reports/ACTReport.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/Constellation/js/html5.js")" type="text/javascript"></script>
    @LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleACTReportReportPrintingBundle()

    <script src="@Url.Content("~/FeLibs/jquery/jquery.min.js")" type="text/javascript"></script>
    <style type="text/css">
        @{
           foreach (var item in Model.Css)
                {
                    @Html.Raw(item);
                }
        }
    </style>
</head>
<body>
    <script>
        @{
            foreach (var item in Model.JS)
                {
                    @Html.Raw(item);
                }
        }
    </script>
    @Html.Partial("_SingleStudentReport", Model)
</body>

</html>
