@model LinkIt.BubbleSheetPortal.Web.ViewModels.UserGuide.UserGuideModel
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models
@{
    ViewBag.Title = HelperExtensions.FormatPageTitle(ContaintUtil.Help, "User Guide");
    var currentUser = HttpContext.Current.GetCurrentUser();
    if (currentUser != null)
    {
        var isUseNewDesign = HelperExtensions.IsUseNewDesign(currentUser.DistrictId ?? 0);
        if (isUseNewDesign)
        {
            Layout = "~/Views/Shared/_Layout_v2.cshtml";
        }

    }
}

@section jQuery {
    @BundleHelper.jQueryUpgrade()
}

<style>
    #portal-v2-containter #error-messages {
        text-transform: lowercase;
    }

        #portal-v2-containter #error-messages.success > li {
            padding-left: 42px;
        }

        #portal-v2-containter #error-messages.error > li {
            padding-left: 34px;
        }

        #portal-v2-containter #error-messages > li::before {
            display: none;
        }

        #portal-v2-containter #error-messages > li::first-letter {
            text-transform: uppercase;
        }

    #portal-v2-containter .message.success li::after {
        content: "\f058";
        font-family: "Font Awesome 6 Free";
        font-weight: 500;
        height: auto;
        width: auto;
        color: var(--navyColor);
        display: inline-block;
        font-size: 20px;
        margin-left: 10px;
        position: absolute;
        left: 0;
        top: 4px;
    }

    #portal-v2-containter .block-content .message.error li {
        display: list-item;
    }

    #portal-v2-containter .message.error li::after {
        content: "\f00d";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        height: auto;
        width: auto;
        color: var(--red);
        display: inline-block;
        font-size: 1.25em;
        margin-left: 10px;
        position: absolute;
        left: 0;
        top: 4px;
    }
</style>
<article class="container_12">
    <section class="grid_12">
        <div class="block-border">
            @using (Html.BeginForm("VerifySecurityCode", "UserGuide", FormMethod.Post, new { id = "frmUserGuide", @class = "block-content form bubbleSheetSelector" }))
            {
                <h1>Verify email</h1>
                if (Model.IsError && !string.IsNullOrWhiteSpace(Model.Message))
                {
                    <text><ul id="error-messages" class="message error"><li>@Model.Message</li></ul></text>
                }
                else
                {
                    <text><ul id="error-messages" class="message success"><li>@Model.Message</li></ul></text>
                }

                <div id="publisherContent">
                    <div class="columns">
                        <div class="d-flex align-items-end">
                            <div class="me-3 w-25">
                                <label>Security Code</label>
                                <input class="w-100" id="SecurityCode_Code" name="SecurityCode.Code" type="text" value='@(Model.SecurityCode == null ? "" : Model.SecurityCode.Code)'>
                            </div>

                            <button type="button" class="btn-blue with-tip d-block me-3" id="btnIssueCode" title="Click to send new security code">Resend Security Code</button>
                            <button type="button" class="btn-blue d-block" id="btnVerifySecurityCode">Submit Code</button>

                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</article>
<script src="/Scripts/jquery.alphanumeric.js"></script>
<script type="text/javascript">

    $(function() {
        $('#btnIssueCode').click(function(e) {
            ShowBlock($('#frmUserGuide'), 'Loading');
            e.preventDefault();
            $('#frmUserGuide').attr('action', '@Url.Action("IssueSecurityCode")');
            $('#frmUserGuide').submit();
        });

        $('#btnVerifySecurityCode').click(function(e) {
            ShowBlock($('#frmUserGuide'), 'Loading');
            e.preventDefault();
            $('#frmUserGuide').attr('action', '@Url.Action("VerifySecurityCode")');
            $('#frmUserGuide').submit();
        });

        $('#SecurityCode_Code').alphanumeric();
        $('#SecurityCode_Code').focus();
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#main-nav li a[href='@Url.Action("Index", "UserGuide")']").parent().addClass("current");
        $("#main-nav li a[href='@Url.Action("Index", "UserGuide")']").parent().parent().parent().addClass("current");
    });
</script>
