<style type="text/css">
    #dataTablePassageItem td {
        font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif, dejavu_sansbook;
        font-size: 12px;
    }
</style>
<style>
    #dataTablePassageItem tbody tr {
        height: 100% !important; /* Fix for IE9 */
    }
</style>
<style>
    /* No data available in table */
    #dataTablePassageItem .dataTables_empty div {
        width: 455px !important;
    }

    .scrollItemDataTablePassageItem thead,
    .scrollItemDataTablePassageItem tbody {
        display: block;
    }

    .scrollItemDataTablePassageItem tbody {
        height: 289px;
        overflow: auto;
        overflow-x: hidden;
    }

    .scrollItemDataTablePassageItem {
        width: 416px !important;
    }

    .scrollItemDataTablePassageItem tbody td {
        /*word-break: break-all;*/
        word-wrap: break-word;
    }

    .scrollItemDataTablePassageItem tbody td:nth-of-type(1) .divContainerStyle {
        width: 17px;
    }

    .scrollItemDataTablePassageItem tbody td:nth-of-type(2) .divContainerStyle {
        width: 354px;
    }

    .scrollItemDataTablePassageItem td img {
        padding-left: 0px;
        padding-right: 0px;
    }

    .noscrollItemDataTablePassageItem tbody td:nth-of-type(2) .divContainerStyle {
        width: 398px;
    }

    #divdataTablePassageItem {
        margin-top: -22px !important;
        height: 291px !important;
    }
    #dataTablePassageItem td {
        word-break: normal !important;
    }
    #dataTablePassageItem {
        width: auto !important;
    }
</style>

<div class="block-content form" div="ListItemsPassageNew">
    <div class="toggle" style="padding-top: 0px; margin-top: -55px">
        <h1 style="margin-top: -5px">Filtered Passages</h1>
    </div>
    <div class="no-margin last-child" style="padding-top: 90px;">
        <table id="dataTablePassageItem" class="datatable table no-margin" width="100%">
            <thead>
                <tr>
                    <th scope="col" style="width: 10px">
                    </th>
                    <th scope="col">
                        Source
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Number
                    </th>
                    <th scope="col">
                        Subject
                    </th>
                    <th scope="col">
                        @LabelHelper.GradeLabel
                    </th>
                    <th scope="col">
                        Text Type
                    </th>
                    <th scope="col">
                        Text Sub Type
                    </th>
                    <th scope="col">
                        Flesch Kincaid
                    </th>
                    <th scope="col">
                        Matched Items
                    </th>
                    <th scope="col">
                        All Items
                    </th>
                    <th scope="col" style="display: none">
                        ItemsMatchXml
                    </th>
                    <th scope="col" style="display: none">
                        ItemsAllXml
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var optionPassageItem = {
            bServerSide: true,
            bDestroy: true,
            bFilter:false,
            sAjaxSource: getAjaxSourcePassageItem(),
            fnServerParams: function (aoData) {
                //TuanVo:encode text in filter searchbox
                var item = null;
                for (var i = 0; i < aoData.length; i++) {
                    item = aoData[i];
                    if (item.name == 'sSearch') {
                        do {
                            item.value = item.value.replace('""', '"');
                        } while (item.value.indexOf('""') >= 0)

                        if (item.value == '"') {
                            item.value = item.value.replace('"', "''"); // when user type " or "", or """,...in searchbox, system will issue an error, this code fix that error
                        } else {
                            item.value = encodeParameter(item.value);
                        }
                        break;
                    }
                }

            },
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength:25,
            aaSorting: [[0, "asc"]],
            aoColumns: [
                { sType: 'integer', sName: 'QTIRefObjectID', bSearchable: false, bSortable: false, sWidth: "10px", bVisible: false },
                { sType: 'string', sName: 'Source', bSearchable: false, bSortable: false, sWidth: '35px' },
                { sType: 'string', sName: 'Name', bSearchable: false, bSortable: false, sWidth: '120px' },
                { sType: 'string', sName: 'Number', bSearchable: false, bSortable: false, sWidth: '43px' },
                { sType: 'string', sName: 'Subject', bSearchable: false, bSortable: false, sWidth: '80px' },
                { sType: 'string', sName: 'GradeName', bSearchable: false, bSortable: false, sWidth: '32px' },
                { sType: 'string', sName: 'TextType', bSearchable: false, bSortable: false, sWidth: '80px' },
                { sType: 'string', sName: 'TextSubType', bSearchable: false, bSortable: false, sWidth: '80px' },
                { sType: 'string', sName: 'FleschKinkaidName', bSearchable: false, bSortable: false, sWidth: '48px' },
                { sType: 'string', sName: 'ItemsMatchCount', bSearchable: false, bSortable: false, sWidth: '45px' },
                { sType: 'string', sName: 'ItemsAllCount', bSearchable: false, bSortable: false, sWidth: '40px' },
                { sType: 'string', sName: 'ItemsMatchXml', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'ItemsAllXml', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'HasQTI3pPassage', bSearchable: false, bSortable: false, bVisible: false }
            ],
            fnRowCallback: function (nRow, aData) {
                //$('td:eq(0)', nRow).html(DisplayViewPassageNewIcon(aData[0]));
                $('td:eq(1)', nRow).css('color', "#3399cc");
                $('td:eq(1)', nRow).click(function () {
                    let hasQTI3pPassageIndex = optionPassageItem.aoColumns.findIndex(x => x.sName === 'HasQTI3pPassage');
                    showPassageDetailPopupListItemPassageNew(aData[0], aData[hasQTI3pPassageIndex]);
                });
                $('td:eq(1)', nRow).addClass("cursor-pointer");
                if (aData[9] > 0) {
                    $('td:eq(8)', nRow).html(DisplayAssignMatchItemNewIcon(aData[0], aData[9], aData[11]));
                }

                $('td:eq(9)', nRow).html(DisplayAssignAllItemNewIcon(aData[0], aData[10], aData[12]));
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTablePassageItem'), 'Loading');
                return true;
            },
            fnDrawCallback: function () {
                firstLoadListItemsFromLibrary = false;
                LoadImages('#dataTablePassageItem');
                $('.with-tip').tip();
                $('#dataTablePassageItem').unblock();
            }
        };
        $("#dataTablePassageItem").data("options", optionPassageItem);
    });
    function getAjaxSourcePassageItemForEmpty() {
        $('#chkAllItem').removeAttr('checked');
        displayNWEASearchCriteria();
        return getAjaxGetQtiItemsByFiltersPassage('true');

    }
    function getAjaxSourcePassageItem() {
        return getAjaxGetQtiItemsByFiltersPassage();//defined in ItemBank/_ImportItemFromLibraryScript.cshtml
    }



    function ReloadPassageItem() {
        $("#dataTablePassageItem").dataTable().fnReloadAjax(getAjaxSourcePassageItem());
    }

    function showModalDialogBG() {
        var win = $('body');
        $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; height: ' + win.height() + 'px; z-index: 1001;"></div>');
    }

    function DisplayViewPassageNewIcon(qtiRefObjectID) {
        var icon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/view-item.png")';
        var string = '<a QTIRefObjectID="' + qtiRefObjectID + '" href="javascript:void(0)" onclick="showPassageDetailPopupListItemPassageNew('+ qtiRefObjectID + ')" title="View passage" class="with-tip"><img src="/' + icon + '" width="16" height="16" style="margin-right: 4px"></a>';

        return string;
    }
    function showPassageDetailPopupListItemPassageNew(qtiRefObjectID, hasQTI3pPassage) {
        let url = '@Url.Action("ShowPassageDetail", "QTIItem")\?refObjectID=' + qtiRefObjectID;
        if (hasQTI3pPassage === 'True') {
            url = '@Url.Action("ShowPassage3pDetail", "QTIItem")\?qti3pPassageID=' + qtiRefObjectID;
        }

        var worker = $('<div />');
        worker
            .addClass("dialog PassageDetailPopupOnQtiItemDetailCSS")
            .attr("id", "PassageDetailDialog")
            .appendTo("body")
            .load(url, function () {
                worker.dialog({
                    title: $(this).attr("PassageDetail"),
                    open: function () {
                    },
                    close: function () {
                        $('.ui-widget-overlay:last').remove();
                        $(this).remove();
                        $('#tips').html('');

                        if (window.playsound != null) {
                            window.playsound.pause();
                        }
                    },
                    modal: false,
                    width: 780,
                    resizable: false
                });
            });
        showModalDialogBG();
    }
    function DisplayAssignAllItemNewIcon(qtiRefObjectID, allCount, matchItemXml) {
        var showItemIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
        //var showItemString = '<a qtiRefObjectID="' + qtiRefObjectID + '" matchItemXml="' + '" href="javascript:void(0)" onclick="showPassageItemForm(this)" title="Show Item(s)" class="with-tip"><img src="/' + showItemIcon + '" width="16" height="16" style="margin-right: 4px"></a>';
        var showItemLink = '<a qtiRefObjectID="' + qtiRefObjectID + '" matchItemXml="' + matchItemXml + '" href="javascript:void(0)" onclick="showPassageItemForm(this)" title="Show Item(s)" class="passage-found-item-link with-tip">' + allCount + '</a>';

        return showItemLink;

    }
    function DisplayAssignMatchItemNewIcon(qtiRefObjectID, matchCount, matchItemXml) {
        var showItemIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
        //var showItemString = '<a qtiRefObjectID="' + qtiRefObjectID + '" matchItemXml="' + matchItemXml + '" href="javascript:void(0)" onclick="showPassageItemForm(this)" title="Show Item(s)" class="with-tip"><img src="/' + showItemIcon + '" width="16" height="16" style="margin-right: 4px"></a>';
        var showItemLink = '<a qtiRefObjectID="' + qtiRefObjectID + '" matchItemXml="' + matchItemXml + '" href="javascript:void(0)" onclick="showPassageItemForm(this)" title="Show Item(s)" class="passage-found-item-link with-tip">' + matchCount + '</a>';

        return showItemLink;

    }

    function showPassageItemForm(control) {
        var self = $(control);
        var qtiRefObjectID = self.attr('qtiRefObjectID');
        var matchItemXml = self.attr('matchItemXml');
        matchItemXml = encodeParameter(matchItemXml);
        var worker = $('<div />');
        var virtualTestId = $('#hiddenVirtualTestId ').val();
        worker
            .addClass("dialog")
            .attr("id", "ShowPassageItemFormPopup")
            .appendTo("body")
        .load('@Url.Action("ShowPassageItemForm")/?virtualTestId='+ virtualTestId + '&qtiRefObjectID=' + qtiRefObjectID + '&matchItemXml=' + matchItemXml, function () {
            worker.dialog({
                title: $(this).attr("Associated items"),
                open: function () {
                    $("#ShowPassageItemFormPopup").prev().css('top', '70px');
                    $("#ShowPassageItemFormPopup").prev().css('right', '0px');
                },
                close: function () {
                    $('.ui-widget-overlay').remove();
                    $(this).remove();
                },
                modal: false,
                width: 950,
                resizable: false,
                position: ['top', 20]
            });
        });

        showModalDialogBG();
    }

</script>
