@using LinkIt.BubbleSheetPortal.Common.DataFileUpload
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ShowPassageFormViewModel
<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/dialog-draggable.css")" rel="stylesheet" type="text/css" />
<style>
    .u-clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        right: 12px !important;
        /*top: 30px;*/
    }
</style>
<input type="hidden" value="@Model.ShownItemXml" id="hiddenMatchItemXml" />
<article class="div">
    <section class="div">
        <div class="block-border">
            <div class="block-content form">
                <div class="u-clearfix">
                    @if (Model.Is3pItem)
                    {
                        if (Model.Qti3pSourceID== (int)QTI3pSourceEnum.Progress)
                        {
                            <div class="g-1-2" style="padding-right: 2px;width: 48%">
                                @Html.Partial("_ListItemOnePasssageProgress",Model)
                            </div>
                        }
                        else
                        {
                            <div class="g-1-2" style="padding-right: 2px;width: 48%">
                                @Html.Partial("_ListItemOnePasssage", Model)
                            </div>
                        }
                    }
                    else
                    {
                        <div class="g-1-2" style="padding-right: 2px;width: 48%">
                            @Html.Partial("_ListItemOnePasssageNew", Model)
                        </div>
                    }

                    <div class="g-1-2" style="width:432px">
                        @Html.Partial("_ListItemPopup", Model)
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>