<script src="@Url.Content("~/Scripts/jquery.listSplitter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TagIt/js/tag-it.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/TagIt/css/jquery.tagit.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/TagIt/css/tagit.ui-zendesk.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/Constellation/css/form.css")" rel="stylesheet" type="text/css" />

<style>
    .datatable-testletbranching ~ .block-footer {
        margin-left: 0;
        margin-right: 0;
    }

    .wraptag-testletbranching {
        margin-bottom: 30px;
    }

    ul.tagit.tagit-testletbranching {
        border-radius: 0.417em;
        border-color: #89bad3;
        padding-top: 0;
        padding-bottom: 0;
    }

        ul.tagit.tagit-testletbranching li.tagit-choice-editable {
            padding-top: .1em;
            padding-bottom: .1em;
        }

    .icon-sectionbranching-delete {
        background: url(/Content/themes/Constellation/images/icons/fugue/cross-circle.png) no-repeat;
    }
</style>

<div class="block-border" id="divContentTestSettingTestPropertyTopSectionBranching">
    <div id="divContentTestSettingTestPropertySectionBranching" class="block-content form">
        <h1>Section Branching Settings</h1>
        <div class="section-branching">
            <div class="block-title">Branch by</div>
            <div class="block-body">
                <div class="">
                    <input type="radio" name="section-branching" id="section-branching-aggregate" checked value="1" />
                    <label for="section-branching-aggregate">Aggregate Score</label>
                </div>
                <div>
                    <input type="radio" name="section-branching" id="section-branching-section" value="0" />
                    <label for="section-branching-section">Section Score</label>
                </div>
            </div>
        </div>
        <fieldset class="grey-bg u-m-t-30">
            <div class="no-margin last-child">
                <table id="dataTableSectionBranchingTable" class="datatable datatable-testletbranching table no-margin" width="100%">
                    <thead>
                        <tr>
                            <th scope="col" class="black-cell"><span class="loading"></span></th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Section Path
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Min
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Max
                            </th>
                            <th scope="col">
                                <span class="column-sort">
                                    <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                    <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                </span>
                                Target Section
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </fieldset>

        <div class="u-text-right">
            <button id="btnSectionBranchingAddNewRow" type="button">Insert Path</button>
        </div>

        <div id="idAddPathforSectionBranching" style="display:none;" class="last-child">
            <fieldset class="grey-bg form" id="fsSelectTest">
                <legend>Section Path</legend>
                <div class="columns branching-insert-path">
                    <div class="colx2-left">
                        <label>Select Path</label>
                        <select id="selectSectionPath" class="full-width"></select>
                    </div>
                    <div class="colx2-right">
                        <label>&nbsp;</label>
                        <div class="wraptag wraptag-testletbranching">
                            <ul id="selectedSectionTestIds" class="tagit tagit-testletbranching ui-widget ui-widget-content ui-corner-all"></ul>
                        </div>
                    </div>
                </div>
                <div class="columns branching-insert-path">
                    <label>Target Sections</label>
                    <div class="clear"></div>
                    <div id="divShowListSectionTarget">
                        <div id="divSectionPath" class="section-target-item">
                            <div class="colx3-left">
                                <label>Min Score</label>
                                <input id="idSectionPathMinValue" class="numbersOnly full-width" type="text" value="0" />
                            </div>
                            <div class="colx3-center">
                                <label>Max Score</label>
                                <input id="idSectionPathMaxValue" class="numbersOnly full-width" type="text" />
                            </div>
                            <div class="colx3-right">
                                <div class="section-target">
                                    <label>Section Target</label>
                                    <select id="selectSectiontarget" class="full-width"></select>
                                </div>
                                <div class="section-path-delete">
                                    <label>&nbsp;</label>
                                    <button class="icon icon-sectionbranching-delete" onclick="removeSectionBranchingTarteRow('divSectionPath')"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="add-more-target-content">
                        <button id="btnAddMoreTarget" type="button">Add more Target</button>
                    </div>
                    <div class="section-target-note">
                        <ul>
                            <li>A section path must have a minimum score of 0 and a maximum score of 9999.</li>
                            <li>Score ranges cannot overlap each other.</li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            <div class="u-text-right">
                <button id="btnCancelSaveAPath" type="button">Cancel</button>
                <button id="btnSaveAPath" type="button">Save Path</button>
            </div>
        </div>
    </div>
</div>
<script>
    var selectedTagsDict = {};
    var counterAddSectionTarget = 0;
    var ListSectionTarets = {};
    var lstScore = [];
    var lstSectionPathUI = [];
    function getBranchingByValue() {
        return $("input[name='section-branching']:checked").val() + '' == '0';
    };
    function updateBranchingByValue() {
         ShowBlock($('#divContentTestSettingTestPropertyTopSectionBranching'), "Loading");
        var virtualtestId = $('#hiddenVirtualTestIdOnIndexPage').val();
        $.post('VirtualTest/UpdateBranchingMethod', {
            virtualTestId: virtualtestId,
            isBranchBySectionScore: getBranchingByValue()
        }, function (response) {
          $('#divContentTestSettingTestPropertyTopSectionBranching').unblock();
        });
    }
    function loadCurrentBranchBy() {
        var virtualtestId = $('#hiddenVirtualTestIdOnIndexPage').val();
        $.get('VirtualTest/IsBranchBySectionScore', { virtualtestId: virtualtestId }, function (response) {
            if (response.IsSuccess) {

                $("input:radio[name='section-branching'][value = '" + (response.StrongData == true ? "0" : "1")+"']").prop("checked", true);
            }
        });
    }
    $(function () {

        $("input[name='section-branching']").change(function () {
            updateBranchingByValue();
        });

        loadCurrentBranchBy();

        var options = {
            iDisplayLength: 100,
            searching: false,
            bPaginate: true,
            bLengthChange: false,
            bInfo: false,
            bDestroy: true,
            bServerSide: true,
            bFilter: false,
            sAjaxSource: getAjaxSourceSectionBranching(),
            bAutoWidth: false,
            aaSorting: [[1, "asc"], [2, "asc"]],
            aoColumns: [
                { sType: 'int', sName: 'VirtualSectionBranchingID', bSearchable: false, bSortable: false, sWidth: '40px', sClass: 'alignRight' },
                { sType: 'string', sName: 'TestletPath', bSearchable: true, bSortable: false },
                { sType: 'int', sName: 'LowScore', bSearchable: true, bSortable: false },
                { sType: 'int', sName: 'HighScore', bSearchable: true, bSortable: false },
                { sType: 'string', sName: 'TargetVirtualSection', bSearchable: true, bSortable: false }
            ],
            oLanguage: { "sEmptyTable": "No records found" },
            fnPreDrawCallback: function () {
                ShowBlock($('#divContentTestSettingTestPropertyTopSectionBranching'), "Loading");
                lstSectionPathUI = [];
                return true;
            },
            fnRowCallback: function (nRow, aData) {
                //$('td:eq(0)', nRow).addClass('center');
                if (showAddEdit(aData[1])) {
                    $('td:eq(0)', nRow).html(setIconVisibility(aData[0]));
                } else {
                    $('td:eq(0)', nRow).html('');
                }
                return nRow;
            },
            fnDrawCallback: function () {
                $('#divContentTestSettingTestPropertyTopSectionBranching').unblock();
                $('.with-tip').tip();
            }
        };
        function showAddEdit(sectionpath) {
            for (var i = 0; i < lstSectionPathUI.length; i++) {
                if (lstSectionPathUI[i] === sectionpath) {
                    return false;
                }
            }
            lstSectionPathUI.push(sectionpath);
            return true;
        }

        function setIconVisibility(VirtualSectionBranchingID) {

            var editIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
            var editString = '<a href="javascript:void(0)" title="Edit Section Branching Path" virtualsectionbranchingid="' + VirtualSectionBranchingID + '" class="with-tip EditSectionBranchingPath"><img src="' + editIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

            var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")';
            var deleteIconString = '<a href="javascript:void(0)" title="Delete Section Branching Path" virtualsectionbranchingid="' + VirtualSectionBranchingID + '" class="with-tip DeleteSectionBranchingPath"><img src="' + deleteIcon + '" width="16" height="16" style="margin-right: 0px"></a>';

            return editString + deleteIconString;
        }

        $("#dataTableSectionBranchingTable").data("options", options);
        initializeDataTable($("#dataTableSectionBranchingTable"));
    });

    $('.EditSectionBranchingPath').die('click');
    $('.EditSectionBranchingPath').live('click', function () {
        clearSectionTarget();
        var sectionbranchingId = $(this).attr('virtualsectionbranchingid');
        $.get('@Url.Action("EditSectionPath", "VirtualTest")?sectionBranchingId=' + sectionbranchingId,
                function (response) {
                    if (response.success) {
                        if (response.data != null && response.data.length > 0) {
                            //console.log("Data Length: " + response.data.length);

                            selectedTagsDict = {};
                            $('#selectedSectionTestIds').tagit('removeAll');
                            var virtualtestId = $('#hiddenVirtualTestIdOnIndexPage').val();
                            if (virtualtestId > 0) {
                                $.get('@Url.Action("GetSectionDropDownByVirtualtestId", "VirtualTest")?virtualtestId=' + virtualtestId, function (testsections) {
                                    $('#selectSectionPath').empty();
                                    ListSectionTarets = testsections;
                                    AddSelectListItems($('#selectSectionPath'), ListSectionTarets, 'Select Section');
                                    //TODO:
                                    $.each(response.data, function (i, member) {

                                        //console.log("[i=" + i + "] Min: " + member.MinValue + " Max:" + member.MaxValue + " Sectionselected: " + member.sectionselected);
                                        if (i === 0) {
                                            InitValueTheFirstSectionTarget(member.MinValue, member.MaxValue, member.TargetId);
                                            refillSectionSelected(member.sectionselected);
                                        }
                                        else {
                                            var idCounter = InitSectionTargetEmpty();
                                            InitValueSectionTarget(idCounter, member.MinValue, member.MaxValue, member.TargetId);
                                        }
                                    });
                                });
                            }

                            $('#idAddPathforSectionBranching').show();
                            $(window).scrollTop($('#idAddPathforSectionBranching').offset().top);
                        }
                        else {
                            alert("response.data error. Please try again");
                        }
                    }
                    else {
                        //TODO:
                        alert("Have some error. Please try again");
                    }
                });
    });

    $('.DeleteSectionBranchingPath').die('click');
    $('.DeleteSectionBranchingPath').live('click', function () {
        var sectionbranchingId = $(this).attr('virtualsectionbranchingid');
        var alertMessage = '<div class="text-left">Are you sure, you want delete this section path ?</div>';
        popupAlertMessageV2('confirm', alertMessage, 400, 500, "confirmDeleteSectionBranching", sectionbranchingId);
        //popupAlertMessageV2(type, msg, w, h, functionName, valueInfor)
        //TODO:
    });

    function confirmDeleteSectionBranching(e) {

        var $self = $(e);
        var sectionbranchingId = $self.attr('valueInfor');
        $self.parents('.ui-dialog').remove();
        ShowBlock($('#divContentTestSettingTestPropertyTopSectionBranching'), "Loading");
        $.get('@Url.Action("DeleteSectionBranchingById", "VirtualTest")?sectionBranchingId=' + sectionbranchingId,
                function (response) {
                    if (response.success) {
                        $("#dataTableSectionBranchingTable").dataTable().fnReloadAjax(getAjaxSourceSectionBranching());
                    }
                    $('#divContentTestSettingTestPropertyTopSectionBranching').unblock();
                });
    }

    $('#btnSectionBranchingAddNewRow').unbind('click');
    $('#btnSectionBranchingAddNewRow').click(function () {
        clearSectionTarget();

        InitSectionPathData();
        $('#idAddPathforSectionBranching').show();
        $(window).scrollTop($('#idAddPathforSectionBranching').offset().top);
    });

    function InitSectionPathData() {
        selectedTagsDict = {};
        $('#selectedSectionTestIds').tagit('removeAll');

        $('#idSectionPathMinValue').val(0);
        //$('#idSectionPathMaxValue').val(9999);
        FillDropdownSection('selectSectionPath');
        FillDropdownSection('selectSectiontarget');

    }

    function FillDropdownSection(dropdownId) {

        var virtualtestId = $('#hiddenVirtualTestIdOnIndexPage').val();
        if (virtualtestId > 0) {
            $.get('@Url.Action("GetSectionDropDownByVirtualtestId", "VirtualTest")?virtualtestId=' + virtualtestId,
                function (testsections) {
                    $('#' + dropdownId).empty();
                    AddSelectListItems($('#' + dropdownId), testsections, 'Select Section');
                    if (dropdownId === 'selectSectiontarget') {
                        $("#selectSectiontarget").append(new Option("End Test", 0));
                        ListSectionTarets = testsections;
                    }
                });
        }
    }

    $('#btnSaveAPath').unbind('click');
    $('#btnSaveAPath').click(function ()
    {

        removeErrorCSS();
        InitMaxValueBeforeSave();
        //TODO: validation
        if (ValidationSectionPathAndTarget() === false) {
            return;
        }

        if (validationMinMaxValue() === false) {
            return;
        }

        //TODO: Save data
        var sectionselected = BuildListVirtualSectionSelected();
        var virtualTestId = $('#hiddenVirtualTestIdOnIndexPage').val();
        var sectionPaths = [];
        var isBranchBySectionScore = getBranchingByValue();

        for (var i = 0; i < lstScore.length; i++) {
            var myObj = {
                sectionselected: sectionselected,
                VirtualTestId: virtualTestId,
                TargetId: lstScore[i].TargetId,
                MinValue: lstScore[i].MinValue,
                MaxValue: lstScore[i].MaxValue,
                isBranchBySectionScore: isBranchBySectionScore
            }
            sectionPaths.push(myObj);
        }

        $.ajax({
            contentType: 'application/json',
            datatype: 'json',
            type: 'POST',
            url: '@Url.Action("InsertSectionPath", "VirtualTest")',
            cache: false,
            data: JSON.stringify({ 'sectionPaths': sectionPaths }),
            traditional: true,

            success: function (response) {
                if (response.success) {
                    //TODO: Reload data table
                    $("#dataTableSectionBranchingTable").dataTable().fnReloadAjax(getAjaxSourceSectionBranching());
                    //$('#idAddPathforSectionBranching').hide();
                    clearSectionTarget();
                } else {
                    //TODO: Show message warning
                    var alertMessage = '<div class="text-left">' + response.ErrMessage + '</div>';
                    popupAlertMessage('alert', alertMessage, 400, 500);
                    return false;
                }
            },
            error: function (data) {

            }
        });

    });

    $('#btnCancelSaveAPath').unbind('click');
    $('#btnCancelSaveAPath').click(function () {

        clearSectionTarget();
    });


    $('#selectSectionPath').change(function () {
        var testSectionId = $('#selectSectionPath').val();
        if (testSectionId > 0) {
            $("#selectedSectionTestIds").tagit("createTag", $('#selectSectionPath option:selected').text());
            $('#selectSectionPath option:selected').remove();
            //$("#selectSectiontarget option[value='" + testSectionId + "']").remove();
        }
    });

    $("#selectedSectionTestIds").tagit({
        beforeTagAdded: function (event, ui)
        {

            var tagId = $('#selectSectionPath').val();
            if (tagId != undefined) {
                selectedTagsDict[$('#selectSectionPath option:selected').text().trim()] = tagId; //remember Id of selected tag
            }
        },
        beforeTagRemoved: function (event, ui)
        {

            //TODO: Add back to dropdown
            $("#selectSectionPath").append(new Option(ui.tagLabel, selectedTagsDict[ui.tagLabel]));
            //$("#selectSectiontarget").append(new Option(ui.tagLabel, selectedTagsDict[ui.tagLabel]));
            //clear the selected tag out of memory
            delete selectedTagsDict[ui.tagLabel];
        }
    });

    $('#selectedSectionTestIds').find('.ui-autocomplete-input').attr('readonly', true); // Disallow to type into selected test tagit
    $('#selectedSectionTestIds').find('.tagit-dropdown').hide();

    $('.numbersOnly').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    function BuildListVirtualSectionSelected() {
        var x = '';
        for (var key in selectedTagsDict) {
            x += selectedTagsDict[key] + ',';
        }

        if (x.length > 0)
            return x.substring(0, x.length - 1);
        return '';
    }

    function getAjaxSourceSectionBranching() {
        var virtualTestId = $('#hiddenVirtualTestIdOnIndexPage').val()
        return '@Url.Action("LoadSectionBranching")?virtualTestId=' + virtualTestId;
    }

    //Validation Min Max Score
    function validationMinMaxValue() {

        var invalidMinMax = 0;
        var invalidMinValue = 0;
        var invalidMaxValue = 0;
        var invalidSectionTargetId = 0;
        var currentRowInvalid = 0;
        lstScore = [];
        $('#divShowListSectionTarget div[id^="divSectionPath"]').each(function () {

            var objminvalue = $(this).find('input[id^="idSectionPathMinValue"]').val();
            var objmaxvalue = $(this).find('input[id^="idSectionPathMaxValue"]').val();
            var objtargetId = $(this).find('select[id^="selectSectiontarget"]').val();
            var minValue = parseInt(objminvalue);
            var maxValue = parseInt(objmaxvalue);
            var targetId = parseInt(objtargetId);
            var divId = $(this).attr('id');
            currentRowInvalid = 0;
            if (isNaN(targetId) || targetId < 0)
            {
                invalidSectionTargetId += 1;
                currentRowInvalid += 1;
            }
            if (isNaN(minValue)) {
                invalidMinValue += 1;
                currentRowInvalid += 1;
            }
            if (isNaN(maxValue)) {
                invalidMaxValue += 1;
                currentRowInvalid += 1;
            }
            if (isNaN(minValue) == false && isNaN(maxValue) == false && minValue > maxValue) {

                invalidMinMax += 1;
                currentRowInvalid += 1;
            } else {
                var objMinMax = {
                    MinValue: minValue,
                    MaxValue: maxValue,
                    TargetId: targetId,
                    DivId: divId
                }
                lstScore.push(objMinMax);
            }
            if(currentRowInvalid > 0)
            {
                $(this).addClass("error");
            }
        });
        var vMessage = "";
        if (invalidSectionTargetId > 0)
        {
            vMessage += "Please Select a section target. <br />";
        }
        if (invalidMinValue > 0) {
            vMessage += "Please input correct Min Score. <br />";
        }
        if (invalidMaxValue > 0) {
            vMessage += "Please input correct Max Score. <br />";
        }
        if (invalidMinMax > 0) {
            vMessage += "Min score must be equal or smaller than max score. <br />";
        }
        if (vMessage.length > 0) {
            var alertMessage = '<div class="text-left">' + vMessage + '</div>';
            popupAlertMessage('alert', alertMessage, 400, 500);
            return false;
        } else {
            //TODO: validation min/max per target.

            lstScore.sort(function (a, b)
            {
                return a.MinValue - b.MinValue;
            });

            //console.log(lstScore);

            var msInvalidMinScore = '';
            var msInvalidMaxScore = '';
            var isOverlap = 0;
            for (var i = 0; i < lstScore.length; i++)
            {

                if (i == 0 && lstScore.length > 1)
                {
                    if(lstScore[i].MaxValue + 1 != lstScore[i+1].MinValue)
                    {
                        isOverlap += 1;
                        $('#' +lstScore[i].DivId).addClass("error");
                    }
                }
                if(i == lstScore.length - 1 && lstScore.length > 1)
                {
                    if (lstScore[i].MinValue != lstScore[i - 1].MaxValue + 1) {
                        isOverlap += 1;
                        $('#' + lstScore[i].DivId).addClass("error");
                    }
                }
                if (i === 0 && lstScore[i].MinValue !== 0) {
                    isOverlap += 1;
                    msInvalidMinScore = 'The lowest score must be equal to 0. <br />';
                    $('#' + lstScore[i].DivId).addClass("error");
                }
                else if (i === lstScore.length - 1 && lstScore[i].MaxValue !== 9999) {
                    isOverlap += 1;
                    msInvalidMinScore = 'The Maximum score must be equal to 9999. <br />';
                }
                else if (i > 0 && i < lstScore.length - 1)
                {

                    if (lstScore[i].MinValue !== (lstScore[i - 1].MaxValue + 1)
                        || (lstScore[i].MaxValue + 1) !== lstScore[i + 1].MinValue)
                    {
                        isOverlap += 1;
                        $('#' + lstScore[i].DivId).addClass("error");
                    }
                }
            }
            if (isOverlap > 0) {
                var alertMessage = '<div class="text-left">'+ msInvalidMinScore+ msInvalidMaxScore +
                'Min score and Max score on each target should not overlap together.</div>';
                popupAlertMessage('alert', alertMessage, 400, 500);
                return false;
            }
        }
        return true;
    }

    //Section Tartget no belong section path
    function ValidationSectionPathAndTarget() {

        var totalTagsDict = 0;
        for (var key in selectedTagsDict) {
            totalTagsDict += 1;
        }
        if (totalTagsDict == 0) {
            //TODO: Show warning message.
            var alertMessage = '<div class="text-left">Please, select section path.</div>';
            popupAlertMessage('alert', alertMessage, 400, 500);
            return false;
        }
        var invalidTargetId = 0;
        $('#divShowListSectionTarget div[id^="divSectionPath_"]').each(function () {

            var targetId = $(this).val();
            for (var key in selectedTagsDict) {
                if (selectedTagsDict[key] === targetId)
                {
                    $(this).addClass("error");
                    invalidTargetId += 1;
                }
            }
        });
        if (invalidTargetId > 0) {
            var alertMessage = '<div class="text-left">The target section must be different with the section in the path.</div>';
            popupAlertMessage('alert', alertMessage, 400, 500);
            return false;
        }

        return true;
    }

    function InitMaxValueBeforeSave()
    {
        $('#divShowListSectionTarget div[id^="divSectionPath"]').each(function ()
        {

            var objmaxvalue = $(this).find('input[id^="idSectionPathMaxValue"]');
            if (objmaxvalue.val() === "")
            {
                objmaxvalue.val(9999);
            }
        });
    }

    $('#btnAddMoreTarget').unbind('click');
    $('#btnAddMoreTarget').click(function () {
        InitSectionTargetEmpty();
    });

    function InitValueSectionTarget(counterId, minValue, maxValue, stargetId) {
        $('#idSectionPathMinValue_' + counterId).val(minValue);
        $('#idSectionPathMaxValue_' + counterId).val(maxValue);
        $('#selectSectiontarget_' + counterId).val(stargetId);
    }

    function InitValueTheFirstSectionTarget(minValue, maxValue, stargetId) {
        $('#selectSectiontarget').empty();
        AddSelectListItems($('#selectSectiontarget'), ListSectionTarets, 'Select Section');
        $('#selectSectiontarget').append(new Option("End Test", 0));

        $('#idSectionPathMinValue').val(minValue);
        $('#idSectionPathMaxValue').val(maxValue);
        $('#selectSectiontarget').val(stargetId);
    }

    function InitSectionTargetEmpty() {
        counterAddSectionTarget += 1;
        var divId = "divSectionPath_" + counterAddSectionTarget;
        $('#divShowListSectionTarget').append(
            "\<div class=\"clear\"\>\</div\> "

            + "\<div id=\"divSectionPath_" + counterAddSectionTarget + "\"\ class='section-target-item'> "

            + "\<div class=\"colx3-left\"\>"
            + "\<label\>Min Score\</label\> "
            + "\<input id=\"idSectionPathMinValue_" + counterAddSectionTarget + "\" class=\"numbersOnly full-width\" type=\"text\" value=\"0\" /\> "
            + "\</div\> "

            + "\<div class=\"colx3-center\"\> "
                + "\<label\>Max Score\</label\> "
                + "\<input id=\"idSectionPathMaxValue_" + counterAddSectionTarget + "\" class=\"numbersOnly full-width\" type=\"text\" /\> "
            + "\</div\>"

            + "<div class=\"colx3-right\"\> "
                + "<div class=\"section-target\"\> "
                    + "\<label\>Section Target\</label\> "
                    + "\<select id=\"selectSectiontarget_" + counterAddSectionTarget + "\" class=\"full-width\"\>\</select\>"
                + "\</div\> "

                  + "<div class=\"section-path-delete\"\> "
                  + "<label>&nbsp;</label>"
                  + "<button class=\"icon icon-sectionbranching-delete\" onclick=\"removeSectionBranchingTarteRow('divSectionPath_" + counterAddSectionTarget + "')\"\>\</button\> "
                  + "\</div\> "
            + "\</div\> "

            + "\</div\>"
            );
        //Fill SectionTarget
        $('#selectSectiontarget_' + counterAddSectionTarget).empty();
        AddSelectListItems($('#selectSectiontarget_' + counterAddSectionTarget), ListSectionTarets, 'Select Section');
        $('#selectSectiontarget_' + counterAddSectionTarget).append(new Option("End Test", 0));
        return counterAddSectionTarget;
    }

    function removeSectionBranchingTarteRow(id) {

        $("#" + id).remove();
    }

    function clearSectionTarget() {
        $('#divShowListSectionTarget div[id^="divSectionPath_"]').each(function () {

            $(this).remove();
        });
        $('#idAddPathforSectionBranching').hide();
    }

    function refillSectionSelected(sectionSelected) {

        //console.log(sectionSelected);
        var arr = sectionSelected.split("-");
        for (var i = 0; i < arr.length; i++) {
            $('#selectSectionPath').val(arr[i]);
            $("#selectedSectionTestIds").tagit("createTag", $('#selectSectionPath option:selected').text());
            $('#selectSectionPath option:selected').remove();
        }
        $('#selectSectionPath').val('-1');
    }

    function removeErrorCSS() {
        $('#divShowListSectionTarget div[id^="divSectionPath"]').each(function () {

            $(this).removeClass("error");
        });
    }

</script>
