@model LinkIt.BubbleSheetPortal.Web.ViewModels.AddUserSchoolViewModel

<section id="addUserSchoolContent" class="grid_4">
    <div class="block-border">
        <div class="block-content form">
            <h1>Add School</h1>
            <ul style="display: none" id="error-messages-add-user-school" class="no-margin message error"></ul>
            @using (Html.BeginForm("AddUserSchool", "Admin", FormMethod.Post, new { id = "addUserSchoolForm", @class = "form" }))
            {                
                @Html.HiddenFor(x => x.UserId)
                @Html.HiddenFor(x => x.RoleId)
                @Html.HiddenFor(x => x.DistrictId, new { id = "hdUserDistrictId" })

                <p>
                    <label>Select School</label>
                    <span class="relative">
                        @Html.DropDownListFor(x => x.SchoolId, Model.AvailableSchools, new { id = "selectSchool", @class = "selectSchool" })
                    </span>
                </p>

                <button id="btnAddSchoolSubmit" type="button" name="Save">Submit</button>
                <button id="btnAddSchoolCancel" type="button" class="grey">Cancel</button>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#btnAddSchoolCancel').click(function () {
        $('#sideContainer').html('');
    });

    $(function () {        
        populateSchools($('#selectSchool'));         
    });

    function clearSelectBoxes() {
        $('#selectSchool').empty();
    }

    function populateSchools(schoolSelect) {
        schoolSelect.empty();
        var districtValue = '@Model.DistrictId';
        var userIdValue = $('#UserId').val();
        $.get('@Url.Action("GetSchoolsByDistrictIdAndUserId")', { districtId: districtValue, userId: userIdValue}, function (response) {
            addDefaultOptionToUserSchool(schoolSelect, "School");
            addSelectListItems(schoolSelect, response);
        });
    }

</script>
