@using LinkIt.BubbleSheetPortal.Common
@using LinkIt.BubbleSheetPortal.Web.Helpers
@model LinkIt.BubbleSheetPortal.Web.ViewModels.DistrictReferenceData.DistrictReferenceDataViewModel
<style type="text/css">
    
    
    
</style>
<div style="padding-left: 1.3em;">
                @if (Model.DistrictID != 0)
                {
                    <div class="boxtitle">
                        <span>@Model.DistrictFullName</span>
                    </div>
                    <div class="boxtitle">
                        <span>@Model.StateName</span>
                    </div>
                    <div class="clear-25"></div>
                    <div>                         
                        @if (Model.Shools == null || Model.Shools.Count == 0)
                        { 
                            <div class="boxtitle">Schools (data not found)</div>
                        }
                        else
                        {
                            <div class="boxtitle">Schools</div>
                            <div class="utilDivContainer">
                                <table class="datatable table utility-table">
                                    <thead>
                                        <tr>
                                            <th class="utility" style="width:320px"><span>Name</span></th>
                                            <th class="utility" style="width:250px"><span>@LabelHelper.SchoolCode</span></th>
                                            <th class="utility" style="width:220px"><span>@LabelHelper.SchoolStateCode</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Shools)
                                        {
                                            <tr>
                                                <td class="utility"><p>@item.Name</p></td>
                                                <td class="utility"><p>@item.Code</p></td>
                                                <td class="utility"><p>@item.StateCode</p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <div class="clear-25"></div>
                    <div>
                        @if (Model.DistrictTerms == null || Model.DistrictTerms.Count == 0)
                        { 
                            <div class="boxtitle">Terms (Current and Future)</div>
                        }
                        else
                        {
                            <div class="boxtitle">Terms (Current and Future)</div>
                            <div class="utilDivContainer">
                                <table class="datatable table utility-table">
                                    <thead>
                                        <tr>
                                            <th class="utility" style="width:320px"><span>Name</span></th>
                                            <th class="utility" style="width:250px"><span>Start Date</span></th>
                                            <th class="utility" style="width:220px"><span>End Date</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DistrictTerms)
                                        {
                                            <tr>
                                                <td class="utility"><p>@item.Name</p></td>
                                                <td class="utility"><p>@if (item.DateStart != null)
                                                                       {
                                                                           @item.DateStart.Value.DisplayDateWithFormat()
                                                                       }
                                                                    </p></td>
                                                <td class="utility"><p>@if (item.DateEnd != null)
                                                                       {
                                                                           @item.DateEnd.Value.DisplayDateWithFormat()
                                                                       }
                                                                    </p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <div class="clear-25"></div>
                    
                    <div>                         
                        @if (Model.Programs == null || Model.Programs.Count == 0)
                        { 
                            <div class="boxtitle">Programs (data not found)</div>
                        }
                        else
                        {
                            <div class="boxtitle">Programs</div>
                            <div class="utilDivContainer">
                                <table class="datatable table utility-table">
                                    <thead>
                                        <tr>
                                            <th class="utility"><span>Name</span></th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Programs)
                                        {
                                            <tr>
                                                <td class="utility"><p>@item.Name</p></td>                                                
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <div class="clear-25"></div>
                    <div>                         
                        @if (Model.Races == null || Model.Races.Count == 0)
                        { 
                            <div class="boxtitle">Ethnicity/Race (data not found)</div>
                        }
                        else
                        {
                            <div class="boxtitle">Ethnicity/Race</div>
                            <div class="utilDivContainer">
                                <table class="datatable table utility-table">
                                    <thead>
                                        <tr>
                                            <th style="width:320px" class="utility"><span>Name</span></th>
                                            <th style="width:250px" class="utility"><span>Code</span></th>
                                            <th style="width:220px" class="utility"><span>Alt Code</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Races)
                                        {
                                            <tr>
                                                <td class="utility"><p>@item.Name</p></td>
                                                <td class="utility"><p>@item.Code</p></td>
                                                <td class="utility"><p>@item.AltCode</p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <div class="clear-25"></div>
                    <div>                         
                        @if (Model.Genders == null || Model.Genders.Count == 0)
                        { 
                            <div class="boxtitle">Gender (data not found)</div>
                        }
                        else
                        {
                            <div class="boxtitle">Gender</div>
                            <div class="utilDivContainer">
                                <table class="datatable table utility-table">
                                    <thead>
                                        <tr>
                                            <th class="utility"><span>Name</span></th>
                                            <th class="utility"><span>Code</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Genders)
                                        {
                                            <tr>
                                                <td class="utility"><p>@item.Name</p></td>
                                                <td class="utility"><p>@item.Code</p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <div class="clear-25"></div>
                    <div>                         
                        @if (Model.Grades == null || Model.Grades.Count == 0)
                        { 
                            <div class="boxtitle">@LabelHelper.GradeLabels (data not found)</div>
                        }
                        else
                        {
                            <div class="boxtitle">@LabelHelper.GradeLabels</div>
                            <div class="utilDivContainer">
                                <table class="datatable table utility-table">
                                    <thead>
                                        <tr>
                                            <th style="width:320px" class="utility"><span>Name</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Grades)
                                        {
                                            <tr>
                                                <td class="utility"><p>@item.Name</p></td>                                                
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <div class="clear-25"></div>
                    <div>                         
                        @if (Model.Subjects == null || Model.Subjects.Count == 0)
                        { 
                            <div class="boxtitle">Subjects (data not found)</div>
                        }
                        else
                        {
                            <div class="boxtitle">Subjects</div>
                            <div class="utilDivContainer">
                                <table class="datatable table utility-table">
                                    <thead>
                                        <tr>
                                            <th style="width:320px" class="utility"><span>Name</span></th>
                                            <th style="width:250px" class="utility"><span>Short Name</span></th>
                                            <th style="width:220px" class="utility"><span>@LabelHelper.GradeLabel</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Subjects)
                                        {
                                            <tr>
                                                <td class="utility"><p>@item.Name</p></td>
                                                <td class="utility"><p>@item.ShortName</p></td>
                                                <td class="utility"><p>@item.GradeName</p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>                    
                    <div class="clear-25"></div>
                    <div>                         
                        @if (Model.Clusters == null || Model.Clusters.Count == 0)
                        { 
                            <div class="boxtitle">Clusters (data not found)</div>
                        }
                        else
                        {
                            <div class="boxtitle">Clusters</div>
                            <div class="utilDivContainer">
                                <table class="datatable table utility-table">
                                    <thead>
                                        <tr>
                                            <th style="width:320px" class="utility"><span>Subject</span></th>
                                            <th style="width:250px" class="utility"><span>Cluster Name</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Clusters)
                                        {
                                            <tr>
                                                <td class="utility"><p>@item.SubjectName</p></td>
                                                <td class="utility"><p>@Html.Raw(item.ListClusterName)</p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <div class="clear-25"></div>
                    <div>                         
                        @if (Model.AchievementLevelSettings == null || Model.AchievementLevelSettings.Count == 0)
                        { 
                            <div class="boxtitle">Achievement Level (data not found)</div>
                        }
                        else
                        {
                            <div class="boxtitle">Achievement Level</div>
                            <div class="utilDivContainer">
                                <table class="datatable table utility-table">
                                    <thead>
                                        <tr>
                                            <th style="width:200px" class="utility"><span>Test Name</span></th>
                                            <th style="width:200px" class="utility"><span>Code</span></th>
                                            <th style="width:170px" class="utility"><span>Value String</span></th>
                                            <th style="width:169px" class="utility"><span>Graded Value String</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.AchievementLevelSettings)
                                        {
                                            <tr>
                                                <td class="utility"><p>@item.Name</p></td>
                                                <td class="utility"><p>@item.LabelString</p></td>
                                                <td class="utility"><p>@item.ValueString</p></td>
                                                <td class="utility"><p>@item.GradeValueString</p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <div class="clear-25"></div>
                }
                </div>