@using System.Configuration
@model LinkIt.BubbleSheetPortal.Web.Models.ResetPassword

@{
    Layout = null;
}

@Html.ValidationSummary(false)

@Html.HiddenFor(x => x.UserId)
<p>
    @Html.LabelFor(x => x.NewPassword)
    <span class="relative">
        @Html.PasswordFor(x => x.NewPassword, new { @id = "password", @class = "full-width" })
        @Html.ValidationMessageFor(x => x.NewPassword, " ")
    </span>
</p>
<p>
    @Html.LabelFor(x => x.ConfirmNewPassword)
    <span class="relative">
        @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "full-width" })
        @Html.ValidationMessageFor(x => x.ConfirmNewPassword, " ") 
    </span>
</p>
<button id="btnResetPasswordSubmit" type="submit" name="Save">Submit</button>
<button id="btnResetPasswordCancel" type="button" class="grey">Cancel</button>

<script type="text/javascript">
    $(function () {
        $(".validation-summary-errors ul").addClass("no-margin").addClass('message').addClass('error');

        $('#btnResetPasswordCancel').click(function () {
            $('#sideContainer').html('');
        });
    });
</script>