@model IEnumerable<LinkIt.BubbleSheetPortal.Models.UserSchool>

<table id="schoolsTable" class="table" width="100%">
    <thead>
        <tr>
            <th style="width: 50px">Actions</th>
            <th>School</th>
            <th>@LabelHelper.DistrictLabel</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="4">No data available</td>
            </tr>
        }
        else
        {
            foreach (var userSchool in Model)
            {
            <tr>
                <td>
                    <a href="javascript:void(0);" onclick="removeUserFromSchool('@userSchool.UserSchoolId', '@userSchool.UserId', '@userSchool.SchoolId')" title="Delete" class="with-tip">
                        <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")" />
                    </a>
                </td>
                <td>@userSchool.SchoolName</td>
                <td>@userSchool.DistrictName</td>
                <td>@userSchool.StateName</td>
            </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $('#schoolsTable').applyTemplateSetup();
    });
</script>