@model LinkIt.BubbleSheetPortal.Web.ViewModels.ManageUser

@{
    ViewBag.Title = "Manage Staff";
}


<article class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <h1>Filter Staff</h1>
                <fieldset>
                    <div class="columns for-publisher-networkadmin hide">
                        <div class="colx2-left">
                            <div class="mb-3">
                                <label>State</label>
                                <select id="selectState" class="full-width filer-item" style="width: 300px"></select>
                            </div>
                        </div>
                        <div class="colx2-right">
                            <div class="mb-3 block-content-dropdown-marquee">
                                <label>@LabelHelper.DistrictLabel</label>

                                <div class="block-text-name ">
                                    <select id="selectDistrict" class="full-width filer-item" style="width: 300px"></select>
                                    <div class="box-select">
                                        <span class="overlay"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns for-districtadmin hide">
                        <div class="colx2-left">
                            <div class="mb-3 block-content-dropdown-marquee">
                                <label>School</label>

                                <div class="block-text-name ">
                                    <select id="selectSchool" class="full-width filer-item" style="width: 300px"></select>
                                    <div class="box-select">
                                        <span class="overlay"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="colx2-right">
                            <div class="mb-3">
                                <label>Staff Name</label>
                                <input type="text" id="staffName" class="full-width filer-item" style="width: 300px" />
                            </div>
                        </div>
                    </div>
                    <div class="colx2-left for-schooladmin hide">
                        <div class="mb-3">
                            <label>Staff Name</label>
                            <input type="text" id="staffName" class="full-width filer-item" style="width: 300px" />
                        </div>
                    </div>

                </fieldset>
                <div class="u-text-right">
                    <button id="clearFilter" class="grey" type="button">Clear Filter</button>
                    <button id="filterSheets" class="u-m-l-10" disabled type="submit">Apply Filters</button>
                </div>
            </div>
        </div>
    </section>
</article>

<article class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <div class="block-heading">
                    <a class="block-heading-item is-active" href="javascript:void(0)">Manage Staff</a>
                    <a class="block-heading-item js-change-inactive-students" href="#">Show Inactive Staff: <span>Off</span></a>
                    <a class="block-heading-item" href="@Url.Action("CreateUser")">
                        <img src="@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png")" class="u-v-align-middle" />
                        Add New Staff
                    </a>
                </div>
                <div class="clearfix u-m-t-35">
                    <div class="no-margin last-child">
                        <table id="dataTable" class="datatable table no-margin" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 76px"></th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Name
                                    </th>

                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Username
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Role
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        @LabelHelper.DistrictLabel
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        State
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        UserStatusId
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Schools
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
    // #region Fields
    var districtID = 0;
    var schoolID = 0;
    var _roleID = parseInt(@Model.RoleId);
    var _roles = {
        PUBLISHER: 5,
        NETWORKADMIN: 27,
        DISTRICTADMIN: 3,
        SCHOOLADMIN: 8
    }
    var _districtLabel = '@LabelHelper.DistrictLabel';
    _CURRENT_PAGE_NAME = "ManageUser";
    _historyData = {};
    var oTable;
    var showInactive = false;
    var isFormLoad = false;
    // #endregion Fields

    // #region Page load
    $(function () {
        _historyData.isFormLoad = true;
        ClearSessionsManageSchool();
        if (performance.navigation.type === 1) {
            sessionStorage.removeItem("KEEP_SESSION");
        }
        initUI(_roleID);
        $('#selectDistrict').marquee({widthSelected: 300});
        $('#selectSchool').marquee({widthSelected: 300});
        if (_roleID === _roles.PUBLISHER) {
            $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function (states) {
                addDefaultOption($('#selectState'), "State");
                addSelectListItems($('#selectState'), states);

                if (_historyData.stateID > 0) {
                    $("#selectState").val(_historyData.stateID);
                    $('#selectState').trigger('change');
                } else if (states.length == 1) {
                    $('#selectState').trigger('change');
                }

            });
        } else if (_roleID === _roles.NETWORKADMIN) {
            $.get('@Url.Action("GetStatesForNetworkAdmin", "PopulateStateDistrict")', function (states) {
                addDefaultOption($('#selectState'), "State");
                addSelectListItems($('#selectState'), states);

                if (_historyData.stateID > 0) {
                    $("#selectState").val(_historyData.stateID);
                    $('#selectState').trigger('change');
                } else if (states.length == 1) {
                    $('#selectState').trigger('change');
                }
            });
        } else if (_roleID === _roles.DISTRICTADMIN) {
            $("#filterSheets").enableBt();
            populateSchoolsByDistrict(@Model.DistrictId);

        } else {
            schoolID = @Model.SchoolId;
            $("#filterSheets").enableBt();

        }

        removeTips();

        if (loadHistoryData) {
            loadHistoryData();
        }
        var _pageSizeDefault = _historyData.pageSize ? _historyData.pageSize : 10;
        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: getAjaxSource(),
            bStateSave: false,
            bAutoWidth: false,
            iDisplayLength: _historyData.pageSize > 0 ? parseInt(_historyData.pageSize) : 10,
            //iDisplayStart: 0,
            aaSorting: [[1, "asc"]],
            oSearch: {
                sSearch: _historyData.searchText
            },
            onSearch: keepSession,
            oLanguage: { "sZeroRecords": "No results meet your search criteria. Try changing your date range or other filters and search again." },
            aoColumns: [
                { sType: 'integer', sName: 'UserId', bSearchable: false, bSortable: false },
                { sType: 'string', sName: 'FullName', bSearchable: true, bSortable: true, sWidth: '170px' },
                { sType: 'string', sName: 'UserName', bSearchable: true, bSortable: true, sWidth: '85px' },
                { sType: 'string', sName: 'RoleName', bSearchable: true, bSortable: true, sWidth: '130px' },
                { sType: 'string', sName: 'DistrictName', bSearchable: true, bSortable: true, sWidth: '130px' },
                { sType: 'string', sName: 'StateName', bSearchable: true, bSortable: true, sWidth: '130px' },
                { sType: 'int', sName: 'UserStatusId', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'FirstSchool', bSearchable: false, bSortable: false, sWidth: '200px' },
                { sType: 'string', sName: 'SchoolList', bSearchable: !(_roleID === _roles.PUBLISHER || _roleID === _roles.NETWORKADMIN), bSortable: false, bVisible: false }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData[0], aData[6]));
                $('td:eq(1)', nRow).html($('<div/>').text(aData[1]).html());//encode html
                $('td:eq(2)', nRow).html($('<div/>').text(aData[2]).html());//encode html
                $('td:eq(3)', nRow).html($('<div/>').text(aData[3]).html());//encode html
                $('td:eq(4)', nRow).html($('<div/>').text(aData[4]).html());//encode html
                if (!(_roleID === _roles.PUBLISHER || _roleID === _roles.NETWORKADMIN)) {
                    $('td:eq(4)', nRow).html($('<div/>').html(aData[8]).html());
                    $('td:eq(5)', nRow).addClass(detectWithTip(aData[8]));
                    $('td:eq(5)', nRow).bind({
                        mouseenter: function () {
                            if (aData[8] != null && aData[8] != '') {
                                displaySchoolDetailTooltip($(this), aData[8]);
                            }
                        },
                        mouseleave: function () {
                            $(this).removeClass('with-tip');
                        }
                    });
                }
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTable'), "Loading");
                return true;
            },
            fnDrawCallback: function () {
                var pageSizeGrid = $('#dataTable_length select').val();
                if (_pageSizeDefault != pageSizeGrid) {
                    keepSession();
                    _pageSizeDefault = pageSizeGrid;
                }
                $('#dataTable').unblock();
                displayColumnByRole();
                $('.with-tip').tip();
            }
        };
        $("#dataTable").data("options", options);

        function detectWithTip(data) {
            if (data == null || data == '')
                return '';
            else {
                return 'with-tip';
            }
        }

        function displaySchoolDetailTooltip(e, data) {
            $(e).attr('title', '<p style="text-align:left;">' + data.split('|').join('<br />') + '</p>');
        }

        function setIconVisibility(userId, userStatusId) {
            var editIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
            var editString = '<a href="/Admin/EditUser/' + userId + '" title="Edit" class="with-tip"><img src="' + editIcon + '" width="16" height="16" style="margin-right: 4px"></a>';

            var activateIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/plus-circle.png")';
            var activateString = '<a href="javascript:void(0)" title="Activate" operation="0" userId="' + userId + '" class="with-tip changeUser actionIcon"><img src="' + activateIcon + '" width="16" height="16"></a>';

            var deleteIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/cross-circle.png")';
            var deleteString = '<a href="javascript:void(0)" title="Deactivate" operation="1" userId="' + userId + '" class="with-tip changeUser actionIcon"><img src="' + deleteIcon + '" width="16" height="16"></a>';

            // Do not allow users manage themselves
            if ('@Model.CurrentUserId' == userId) {
                activateString = '';
                deleteString = '';
            }

            if (userStatusId != 1) {
                return editString + activateString;
            }

            return editString + deleteString;
        }

        $('.changeUser').live('click', function () {
            var operationType = $(this).attr("operation");
            if (confirm("Are you sure you want to " + (operationType == 1 ? "deactivate" : "activate") + " this user?")) {
                var userId = $(this).attr('userId');
                $.post('@Url.Action("ChangeUserStatus")', { userId: userId, operation: operationType }, function (response) {
                    if (response == true) {
                        ui.dataTable.fnDraw();
                    } else {
                        alert('User does not exist, please try again.');
                    }
                });
            }
        });

        $('.js-change-inactive-students').on('click', function (ev) {
            ev.preventDefault();
            changeInactiveUser();
        });
    });
    // #endregion Page load

    // #region Functions

    function changeInactiveUser(ev) {

        var $self = $('.js-change-inactive-students');

        if ($self.hasClass('show-inactive')) {
            showInactive = false;
            $self.removeClass('show-inactive');
            $self.find('span').html('Off');
            refreshDataTable();
        } else {
            showInactive = true;
            $self.addClass('show-inactive');
            $self.find('span').html('On');
            refreshDataTable();
        }
    }

    function initUI(roleID) {
        if (roleID !== _roles.SCHOOLADMIN) {
            $('.for-schooladmin').remove();
        }

        switch (roleID) {
            case _roles.DISTRICTADMIN:
                $('.for-publisher-networkadmin').remove();
                break;
            case _roles.SCHOOLADMIN:
                $('.for-publisher-networkadmin').remove();
                $('.for-districtadmin').remove();
                break;
            default:
                break;
        }

        $('.for-publisher-networkadmin').removeClass('hide');
        $('.for-districtadmin').removeClass('hide');
        $('.for-schooladmin').removeClass('hide');
    }

    function getAjaxSource(inactive) {
        if (!_historyData || !_historyData.districtID || _historyData.districtID < 1 ) {
            var staffName = $("#staffName").val();
            if (_roleID === _roles.PUBLISHER || _roleID === _roles.NETWORKADMIN) {
                districtID = $('#selectDistrict').val();
                schoolID = $('#selectSchool').val();
            }
            else if (_roleID === _roles.DISTRICTADMIN || _roleID === _roles.SCHOOLADMIN) {
                schoolID = _historyData.isFormLoad ? -1 : (_historyData ? _historyData.schoolID : $('#selectSchool').val());
                districtID = _historyData.isFormLoad ? -1 : @Model.DistrictId;
                showInactive = _historyData.showInactive ? _historyData.showInactive : false;
            }
        }
        else {
            staffName = _historyData.staffName;
            districtID = _historyData.districtID;
            schoolID = _historyData.schoolID;
            showInactive = _historyData.showInactive;
        }

        if (showInactive) {
            var $self = $('.js-change-inactive-students');
            $self.addClass('show-inactive');
            $self.find('span').html('On');
        }
        return '@Url.Action("GetUsers")/?inactive=' + showInactive + '&districtId=' + districtID + '&schoolId=' + schoolID + '&staffName=' + staffName;
    }

    function populateSchoolsByDistrict(districtValue) {
        $.get('@Url.Action("GetSchools", "PopulateSchoolTeacher")', { districtId: districtValue }, function (schools) {
            populateSchools(schools);
            if (_historyData.schoolID > 0) {
                $("#selectSchool").val(_historyData.schoolID);
            }
        });
    }

    function populateSchools(schools) {
        if (schools.length === 1) {
            addDefaultOption($('#selectSchool'), "School");
            addSelectListItems($('#selectSchool'), schools);
            $("#selectSchool").val(schools[0].Id);
            $('#selectSchool').trigger('change');
        } else {
            $('#selectSchool').empty();

            addDefaultOption($('#selectSchool'), "School");
            addSelectListItems($('#selectSchool'), schools);

            if (_historyData.schoolID > 0) {
                $("#selectSchool").val(_historyData.schoolID);
                $('#selectSchool').trigger('change');
            }
        }
    }

    function populateDistricts() {
        $('#selectDistrict').empty();
        $('#selectSchool').empty();
        var stateValue = $('#selectState').val();
        if (stateValue != 'select') {
            if (_roleID === _roles.PUBLISHER) {
                $.get('@Url.Action("GetDistricts", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                    addDefaultOption($('#selectDistrict'), _districtLabel);
                    addSelectListItems($('#selectDistrict'), districts);
                    if(districts.length === 1) {
                        $('#selectDistrict').trigger('change');
                    }
                    if (_historyData.districtID > 0) {
                        $("#selectDistrict").val(_historyData.districtID);
                        $('#selectDistrict').trigger('change');
                    }
                });
            }
            if (_roleID === _roles.NETWORKADMIN) {
                $.get('@Url.Action("GetDistrictsForNetworkAdmin", "PopulateStateDistrict")', { stateId: stateValue }, function (districts) {
                    addDefaultOption($('#selectDistrict'), _districtLabel);
                    addSelectListItems($('#selectDistrict'), districts);
                    if(districts.length === 1) {
                        $('#selectDistrict').trigger('change');
                    }
                    if (_historyData.districtID > 0) {
                        $("#selectDistrict").val(_historyData.districtID);
                        $('#selectDistrict').trigger('change');
                    }
                });
            }
        }
    }

    function displayColumnByRole() {
        oTable = $("#dataTable").dataTable();
        oTable.fnSetColumnVis(4, _roleID === _roles.PUBLISHER || _roleID === _roles.NETWORKADMIN);
        oTable.fnSetColumnVis(5, _roleID === _roles.PUBLISHER || _roleID === _roles.NETWORKADMIN);
        oTable.fnSetColumnVis(7, !(_roleID === _roles.PUBLISHER || _roleID === _roles.NETWORKADMIN));
    }



    function loadHistoryData() {
        if (sessionStorage.length > 0 && sessionStorage.KEEP_SESSION) {
            var data = JSON.parse(sessionStorage.KEEP_SESSION);
            if (data.rootPage === _CURRENT_PAGE_NAME) {
                if (data.payload) {
                    _historyData = data.payload;
                    $("#dataTable_filter input").val(_historyData.searchText);
                    $("#staffName").val(_historyData.staffName);
                }
            }
        }
    }

    function refreshDataTable() {
        keepSession();
        loadHistoryData();
        var url = getAjaxSource();
        fillDataTable($("#dataTable"), url);
    }

    function keepSession() {
        var data = {
            rootPage: "ManageUser",
            subPages: ["AddUser", "EditUser"],
            payload: {
                stateID: $("#selectState").val(),
                districtID: $("#selectDistrict").val(),
                schoolID: $("#selectSchool").val(),
                staffName: $("#staffName").val(),
                showInactive: showInactive,
                searchText: $("#dataTable_filter input").val(),
                isFormLoad: isFormLoad,
                pageSize: $('#dataTable_length select').val()
            }
        };

        sessionStorage.KEEP_SESSION = JSON.stringify(data);
    }
    // #endregion Functions

    // #region Events
     $('#selectState').change(function () {
        populateDistricts();
         //_historyData.stateID = $('#selectState').val();
         if ($('#selectDistrict').val() != '-1' && $('#selectDistrict').val() != null) {
             $('#filterSheets').enable();
         } else {
             $('#filterSheets').attr('disabled', 'disabled');
         }
    });

    $("#filterSheets").on("click", function () {
        _historyData.isFormLoad = false;
        if (_roleID === _roles.DISTRICTADMIN || _roleID === _roles.SCHOOLADMIN) {
            districtID = @Model.DistrictId;
        }
        refreshDataTable();
    });

    $("#clearFilter").on("click", function () {
        if (_roleID === _roles.PUBLISHER || _roleID === _roles.NETWORKADMIN) {
            if ($("#selectState option").length > 1) {
                $("#selectState").val(-1);
                $('#selectDistrict').empty();
                $('#selectSchool').empty();

                $("#filterSheets").disableBt();
            }

            if ($("#selectDistrict option").length > 1) {
                $('#selectSchool').empty();
                $("#selectDistrict").val(-1);
            } else {
                $("#selectSchool").val(-1);
            }
        } else if (_roleID === _roles.DISTRICTADMIN) {
            $('#selectSchool').val(-1);
        }

        $("#staffName").val("");
        sessionStorage.removeItem("KEEP_SESSION");
        ResetSessionStorage();
    });

    $('#selectDistrict').change(function () {
        $('#selectSchool').empty();
        var districtValue = $('#selectDistrict').val();
        if (districtValue == null || districtValue == 'select' || districtValue <= 0) {
            $("#filterSheets").disableBt();
            return;
        }
        $("#filterSheets").enableBt();
        populateSchoolsByDistrict(districtValue);
    });

    function ResetSessionStorage() {
        if (_historyData) {
            _historyData.stateID = 0;
            _historyData.districtID = 0;
            _historyData.schoolID = 0;
        }
    }
    // #endregion Events
</script>
