@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.APILogDetail
<section class="grid_10">
    <div id="divconfigGenerateTest" class="block-border" style="z-index: 1003;">
        <div class="block-content form" style="z-index: 1003;">
            <div id="divPDFTest" style="border-width: 1px; width: 100%;">
                <fieldset class="grey-bg">
                    <legend>API Log Detail</legend>
                    <table class="table" style="width: 100%;">
                        <tr>
                            <td style="width: 150px;">ID
                            </td>
                            <td>
                                @Model.APILogID
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">API Name
                            </td>
                            <td>
                                @Model.APIName
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">Account
                            </td>
                            <td>
                                @Model.Account
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">Account Type
                            </td>
                            <td>
                                @Model.AccountType
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">@LabelHelper.DistrictLabel
                            </td>
                            <td>
                                @Model.DistrictCustom
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">User
                            </td>
                            <td>
                                @Model.UserCustom
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">IPAddress
                            </td>
                            <td>
                                @Model.IPAddress
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">Request Date
                            </td>
                            <td>
                                @Model.RequestDate.DisplayDateWithFormat(true)
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">Response Date
                            </td>
                            <td>
                                @Model.ResponseDate.DisplayDateWithFormat(true)
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">HTTP Method
                            </td>
                            <td>
                                @Model.HTTPMethod
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">Request URL
                            </td>
                            <td>
                                @Model.RequestURL
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">Data Posted
                            </td>
                            <td>
                                @Model.DataPosted
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">Response Status
                            </td>
                            <td>
                                @Model.ResponseStatus
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">Response Code
                            </td>
                            <td>
                                @Model.ResponseCode
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">Exception
                            </td>
                            <td>
                                @Model.Exception
                            </td>
                        </tr>
                         <tr>
                            <td style="width: 150px;">Exception Detail
                            </td>
                            <td>
                                @Model.ExceptionDetail
                            </td>
                        </tr>

                    </table>
                </fieldset>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>


