@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Models.QtiGroup

<style>

</style>

<section class="custom-modal" style="width: 460px;">
    <div class="block-section-custom form">
        <p class="title-large mb-4">Edit Item Set</p>
        <ul style="display: none" id="error-messages" class="message error"></ul>
        <ul style="display: none" id="success-message" class="message success">
            <li>Item Set successfully updated.</li>
        </ul>
        <div class="custom-modal-body">
            <div class="mb-4">
                <label>Item Set Name</label>
                <div class="">@Html.TextBoxFor(o => o.Name, new { style = "width: 100%;" })</div>
            </div>
            <div class="mb-2">
                <span class="title-label fw-bold">Created by:</span>
                <span class="">@ViewBag.OriginalAuthor</span>
            </div>
            <div class="mb-2">
                <span class="title-label fw-bold">Created date:</span>
                <span class="">@Model.CreatedDate.DisplayDateWithFormat(true)</span>
            </div>
            <div>
                <span class="title-label fw-bold">Updated date:</span>
                <span class="">@Model.ModifiedDate.DisplayDateWithFormat(true)</span>
            </div>
            @Html.HiddenFor(o => o.QtiGroupId)
        </div>
        <div class="modal-component-footer">
            <div slot="footer">
                <button type="button" id="btnCancelChangeItemSet" onclick="cancelChange()">Cancel</button>
                <button type="button" id="btnSaveItemSet" onclick="saveItemSet()">Save</button>
            </div>
        </div>
    </div>
</section>
