<script src="@Url.Content("~/Scripts/TagIt/js/tag-it.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/TagIt/css/jquery.tagit.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/TagIt/css/tagit.ui-zendesk.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.js")"></script>
<div id="tab-item-criteria-new" class="itemLibraryTab-pane" style="display: block">
    <div class="qtiItemSelector p-0">
        <div id="divStandardContainerNew">
            @*@Html.Partial("v2/_StandardFilter")*@
        </div>
        <div id="div-district-tag-category">
            <div class="accordion-container district-tag-category">
                <a class="accordion-header u-cursor-pointer">@LabelHelper.DistrictLabel Tag Category <i class="fa-solid fa-chevron-down icon-arrow ms-auto"></i></a>

                <div class="columns content p-4 accordion-content">
                    <div class="row gx-5">
                        <div class="col-5">
                            <div class="mb-3">
                                <label>@LabelHelper.DistrictLabel Tag Category</label>
                                <input id="txtDistrictTag" class="full-width" style="display: none" />
                                <select class="full-width" id="selectDistrictCategory" data-bind='options: DistrictCategories, optionsText: "Text", optionsValue: "Value", optionsCaption: "All", value: DistrictCategoryId'></select>
                            </div>
                            <div class="mb-3">
                                <label>@LabelHelper.DistrictLabel Tag </label>
                                <div class="wraptag">
                                    <ul id="singleFieldTags" class="full-width"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label>
                                    Topics <img src="/Content/images/icons/icon-info.svg" title="<p align='left'>Use AND/OR in all caps to connect search terms to find <br /> test items that include both or either connected search terms.</p>" class="with-tip" style="width: 18px; position: relative; top: -2px;" />
                                </label>
                                <input type="text" id="txtTopic" class="full-width" />
                            </div>
                            <div class="mb-3">
                                <label>
                                    Skills <img src="/Content/images/icons/icon-info.svg" title="<p align='left'>Use AND/OR in all caps to connect search terms to find <br /> test items that include both or either connected search terms.</p>" class="with-tip" style="width: 18px; position: relative; top: -2px;" />
                                </label>
                                <input type="text" id="txtSkill" class="full-width" />
                            </div>
                            <div class="mb-3">
                                <label>
                                    Other <img src="/Content/images/icons/icon-info.svg" title="<p align='left'>Use AND/OR in all caps to connect search terms to find <br /> test items that include both or either connected search terms.</p>" class="with-tip" style="width: 18px; position: relative; top: -2px;" />
                                </label>
                                <input type="text" id="txtOther" class="full-width" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="qtiItemSelector p-0">
        <div id="divStandardContainer">
            @*@Html.Partial("_StandardFilter")*@
        </div>
    </div>

    <div class="accordion-container qtiItemSelector">
        <a class="accordion-header u-cursor-pointer manage-class-legend filter-item-criteria">Item Criteria <i class="fa-solid fa-chevron-down icon-arrow ms-auto"></i></a>
        <div class="columns expand-content p-4 accordion-content" id="divItemCriteriaNew">
            <div class="row gx-5">
                <div class="col-5">
                    <div class="mb-3">
                        <label>Item Banks</label>
                        <select class="full-width" id="selectItemsBankId" data-bind='options: ItemBanks, optionsText: "Text", optionsValue: "Value", optionsCaption: "All", value: ItemBankId'></select>
                    </div>
                    <div class="mb-3">
                        <label>Item Set</label>
                        <select class="full-width" id="selectItemsSetId" data-bind='options: ItemSets, optionsText: "Text", optionsValue: "Value", optionsCaption: "All", value: ItemSetId'></select>
                    </div>

                    <div class="mb-3">
                        <label id="selectItemTypeLabel">Item Type</label>
                        <select class="full-width" id="selectItemType">
                            <option value="-1" titlespecial="All">All</option>
                            <option value="1" titlespecial="MultipleChoice">Multiple Choice</option>
                            <option value="37" titlespecial="MultipleChoiceVariable">Multiple Choice Variable</option>
                            <option value="1" titlespecial="TrueFalse">True/False</option>
                            <option value="8" titlespecial="InlineChoice">Inline Choice</option>
                            <option value="9" titlespecial="FillBlank">Fill-in-the-Blank</option>
                            <option value="10" titlespecial="ExtendedText">Constructed Response</option>
                            <option value="10" titlespecial="DrawingResponse">Drawing Response</option>
                            <option value="21" titlespecial="Multi-Part">Multi-Part</option>
                            <option value="30" titlespecial="DragDrop">Drag-and-Drop</option>
                            <option value="31" titlespecial="TextHotSpot">Text Hot Spot</option>
                            <option value="32" titlespecial="ImageHotSpotSelection">Image Hot Spot</option>
                            <option value="33" titlespecial="TableHotSpotSelection">Table Hot Spot</option>
                            <option value="34" titlespecial="NumberLine">Number Line Hot Spot</option>
                            <option value="35" titlespecial="DragDropNumerical">Drag and Drop Numerical</option>
                            <option value="36" titlespecial="SequenceOrder">Drag-and-Drop Sequence/Order</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label>
                            Keyword(s) <img src="/Content/images/icons/icon-info.svg" title="<p align='left'>Use AND/OR in all caps to connect search terms to find <br /> test items that include both or either connected search terms.</p>" class="with-tip" style="width: 18px; position: relative; top: -2px;" />
                        </label>
                        <input style="padding: 0.58rem !important" class="full-width txtKeyword" id="idKeyword" type="text" />
                    </div>
                    <div class="mb-3">
                        <label>
                            Item Title <img src="/Content/images/icons/icon-info.svg" title="<p align='left'>Use AND/OR in all caps to connect search terms to find <br /> test items that include both or either connected search terms.</p>" class="with-tip" style="width: 18px; position: relative; top: -2px;" />
                        </label>
                        <input style="padding: 0.58rem !important" class="full-width" type="text" id="txtItemTitle" />
                    </div>
                    <div class="mb-3">
                        <label>
                            @LocalizeHelper.Localized("Libraries.ItemDescription") <img src="/Content/images/icons/icon-info.svg" title="<p align='left'>Use AND/OR in all caps to connect search terms to find <br /> test items that include both or either connected search terms.</p>" class="with-tip" style="width: 18px; position: relative; top: -2px;" />
                        </label>
                        <input style="padding: 0.58rem !important" class="full-width" type="text" id="txtDescription" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-container qtiItemSelector" id="fsItemCriteria">
        <a class="accordion-header u-cursor-pointer">Item Criteria <i class="fa-solid fa-chevron-down icon-arrow ms-auto"></i></a>
        <div class="columns expand-content p-4 accordion-content" id="divItemCriteria" style="display: none;">
            <div class="row gx-5">
                <div class="col-5">
                    <div id="selectQTI3pSubjectIdLabel" class="mb-3">
                        <label >@LabelHelper.Subject</label>
                        <select class="full-width" id="selectQTI3pSubjectId">
                            <option value="">All</option>
                        </select>
                    </div>

                    <div id="selectGradeIdLabel" class="mb-3">
                        <label>@LabelHelper.GradeLabel</label>
                        <select class="full-width" id="selectGradeId">
                            <option value="">All</option>
                        </select>
                    </div>

                    <div id="selectItemTypeLabel" class="mb-3">
                        <label>Item Type</label>
                        <select class="full-width" id="selectItemType">
                            <option value="-1" titlespecial="All">All</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>
                            Keyword(s) <img src="/Content/images/icons/icon-info.svg" title="<p align='left'>Use AND/OR in all caps to connect search terms to find <br /> test items that include both or either connected search terms.</p>" class="with-tip" style="width: 18px; position: relative; top: -2px;" />
                        </label>

                        <input class="full-width txtKeyword" type="text" id="idKeyword" />
                    </div>
                    <div class="mb-3">
                        <label>
                            Item Title <img src="/Content/images/icons/icon-info.svg" title="<p align='left'>Use AND/OR in all caps to connect search terms to find <br /> test items that include both or either connected search terms.</p>" class="with-tip" style="width: 18px; position: relative; top: -2px;" />
                        </label>
                        <input class="full-width" type="text" id="txt3pItemTitle" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label>Webb's Depth of Knowledge (DOK)</label>
                        <select class="full-width" id="selectQTI3pDOKId">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label id="selectDifficultyIdLabel">Difficulty</label>
                        <select id="selectDifficultyId">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label id="selectBloomsIdLabel">Bloom's Taxonomy</label>
                        <select class="full-width" id="selectBloomsId">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label id="selectQTI3pCerticaItemLanguageLabel">Language</label>
                        <select class="full-width" id="selectQTI3pCerticaItemLanguage">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>
                            @LocalizeHelper.Localized("Libraries.ItemDescription") <img src="/Content/images/icons/icon-info.svg" title="<p align='left'>Use AND/OR in all caps to connect search terms to find <br /> test items that include both or either connected search terms.</p>" class="with-tip" style="width: 18px; position: relative; top: -2px;" />
                        </label>
                        <input class="full-width" type="text" id="txt3pDescription" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-end">
        <button id="clearFilterItem" class="btn btn-link pe-0">Reset <i class="fa-solid fa-arrow-rotate-right ms-1"></i></button>
        <button id="showPassagesForFoundItem" type="submit" disabled class="btn-blue">Show Passages for Found Items</button>
        <button id="setFilter" type="submit" class="btn-red">Search by Item</button>
        <button id="setFilterNWEA" type="submit" style="display: none" class="btn-red">Search by Item</button>
    </div>
</div>

<script type="text/javascript">
    var tagDict = {};
    var selectedTagsDict = {};
    var avaiableTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'cc', 'ccc', 'cccc', 'cccccc', 'ccccccc', 'cccccccccc', 'cccccccccc', 'cccccccccccc', 'ccccccccccccc', 'cccccccccccccccc', 'ccccccccccccccccccc', 'ccccccccccccccccccc', 'cccccccccccccccccccccc', 'ccccccccccccccccccccccc', 'ca', 'cb', 'cf', 'cd', 'ce', 'cr', 'cg', 'ch', 'cj', 'ck', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];
    $(function () {
        $('.with-tip').tip();
    });

    $('#selectDistrictCategory').die('change');
    $("#selectDistrictCategory").change(function () {
        var categoryId = $("#selectDistrictCategory").val();
        if (categoryId == null || categoryId == 'select' || categoryId < 0) {
            categoryId = 0;
        }
        var categoryName = $("#selectDistrictCategory option:selected").text();
        if (categoryName == null) {
            categoryName = '';
        }

        // Do not need to query data when category is not selected
        if (categoryId == '') {
            $('#singleFieldTags').tagit({
                availableTags: avaiableTags,
                // This will make Tag-it submit a single form value, as a comma-delimited field.
                singleField: true,
                autocomplete: ({ appendTo: ".wraptag", minLength: 0 }),
                beforeTagAdded: function (event, ui) {

                    //the last element
                    var customTag = categoryName + ':' + ui.tagLabel;
                    var tagId = tagDict[ui.tagLabel];
                    if (tagId != undefined) {
                        selectedTagsDict[customTag] = tagId;//remember Id of selected tag
                    }
                    $(ui.tag).find(".tagit-label").last().html(customTag);
                },
                beforeTagRemoved: function (event, ui) {

                    var removedTag = ui.tagLabel.split(':')[1];
                    var selectedTags = $('.wraptag [name="tags"]').attr('value');
                    selectedTags = selectedTags.replace(removedTag, '');
                    $('.wraptag [name="tags"]').attr('value', selectedTags);
                    //clear the selected tag out of memory
                    delete selectedTagsDict[ui.tagLabel];
                }
            });
            return;
        }

        var url = '@Url.Action("GetDistrictTags", "ItemTag")/?districtCategoryId=' + categoryId;
        $.ajax({
            url: url,
            type: 'get',
            cache: false,
            //data: { stateId: self.StateId() }
        }).done(function (data) {
            data = data.reverse();
            avaiableTags.length = 0;//clear
            //get
            tagDict = {};//clear dictionary
            while (data.length > 0) {
                var object = data.pop();
                //avaiableTags.push(categoryName +':' + object.Name);
                avaiableTags.push(object.Name);
                tagDict[object.Name] = object.Id;
            }

            $('#singleFieldTags').tagit({
                availableTags: avaiableTags,
                // This will make Tag-it submit a single form value, as a comma-delimited field.
                singleField: true,
                autocomplete: ({ appendTo: ".wraptag", minLength: 0 }),
                beforeTagAdded: function (event, ui) {

                    //the last element
                    var customTag = categoryName + ':' + ui.tagLabel;
                    var tagId = tagDict[ui.tagLabel];
                    if (tagId != undefined) {
                        selectedTagsDict[customTag] = tagId;//remember Id of selected tag
                    }
                    $(ui.tag).find(".tagit-label").last().html(customTag);
                },
                beforeTagRemoved: function (event, ui) {

                    var removedTag = ui.tagLabel.split(':')[1];
                    var selectedTags = $('.wraptag [name="tags"]').attr('value');
                    selectedTags = selectedTags.replace(removedTag, '');
                    $('.wraptag [name="tags"]').attr('value', selectedTags);
                    //clear the selected tag out of memory
                    delete selectedTagsDict[ui.tagLabel];
                }
            });

        });
    });

    function getSelectedTags() {
        //var x = '';
        //$('#singleFieldTags').find('li.tagit-choice').each(function(idx, li) {
        //    var span = $(li).find('span').first();
        //    //alert(span.html());
        //    //x += encodeURIComponent(span.text()) + ';';
        //    x += encodeURIComponent(span.text()) + ',|,';
        //});
        //return x;
        var x = '';
        for (var key in selectedTagsDict) {
            x += selectedTagsDict[key] + ',';
        }
        return x;
    }
    function getSelectedTagName() {
        var x = '';
        $('#singleFieldTags').find('li.tagit-choice').each(function (idx, li) {
            var span = $(li).find('span').first();
            //alert(span.html());
            //x += encodeURIComponent(span.text()) + ',';
            x += span.text() + ', ';
        });
        x = x.trim();
        //remove the last ','
        x = x.substring(0, x.length - 1);
        return x;
    }
</script>
<!-- If Tag dropdown is open, click outside of this control will close the tag dropdown -->
<script type="text/javascript">
    $('body').click(function () {
        var ul = $('.wraptag').find('ul.ui-autocomplete').first();
        var display = ul.css('display');
        if (display != 'none') {
            ul.hide();
        }
    });
    $('#singleFieldTags').click(function (event) {
        if (event.stopPropagation) {
            event.stopPropagation();
        }
        else if (window.event) {
            window.event.cancelBubble = true;
        }
    });
    $('.tagit-dropdown').click(function (event) {

        if (event.stopPropagation) {
            event.stopPropagation();
        }
        else if (window.event) {
            window.event.cancelBubble = true;
        }
    });

    function CollapsibleFilter() {
        $content = $('#divItemCriteriaNew');
        $content.toggleClass('expand-content');
        $content.toggle();
        $(".manage-class-legend").toggleClass('arrow-expand');
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#clearFilterItem").click(function () {
            $('#idKeyword').val('');
            $('#txtKeyword').val('');
            $("#tab-item-criteria-new select").prop('selectedIndex', 0);
            $('#dvStandardTreeView').html('<span>Please use the filters to search</span>');
            $('#txtTopic').val('');
            $('#txtSkill').val('');
            $('#txtOther').val('');
            $('#txtDistrictTag').val('');
            $("#txtDescription").val('');
            $("#txtItemTitle").val('');
            $("#txt3pDescription").val('');
            $("#txt3pItemTitle").val('');
            $(".txtKeyword").val('');
        });
    });

    $(".manage-class-legend").click(function (e) {
        if ($(e.target).attr('disabled') === 'disabled') {
            return;
        }
        CollapsibleFilter();
    });
</script>
<script>
    function CollapsibleDistrictTagCategory() {
        $content = $('.district-tag-category .content');
        $content.toggleClass('expand-content');
        $content.toggle();
        $(".district-tag-category > a").toggleClass('arrow-expand');
    }

    $(".district-tag-category > a").click(function (e) {
        if ($(e.target).attr('disabled') === 'disabled') {
            return;
        }
        CollapsibleDistrictTagCategory();
    });

    CollapsibleDistrictTagCategory();
    function CollapsibleFSItemCriteria() {
        $('#fsItemCriteria #divItemCriteria').toggleClass('expand-content');
        $('#fsItemCriteria #divItemCriteria').toggle();
        $("#fsItemCriteria > a").toggleClass('arrow-expand');
    }
    $(document).ready(function () {
        $('#fsItemCriteria > a').off('click');
        $('#fsItemCriteria > a').unbind('click');
        $('#fsItemCriteria > a').click(function (e) {
            if ($(e.target).attr('disabled') === 'disabled') {
                return;
            }
            CollapsibleFSItemCriteria();
        });
    });
</script>
