@using LinkIt.BubbleSheetPortal.Common.DataFileUpload
<style>
    #dataTablePassageItem3p tbody tr {
        height: 100% !important; /* Fix for IE9 */
    }

    #portal-v2-containter .table-wrapper-scroll table {
        border-collapse: inherit;
    }

    #portal-v2-containter .table-wrapper-scroll thead tr th {
        border-right: 0 none;
    }

        #portal-v2-containter .table-wrapper-scroll thead tr th:last-child {
            border-right: 1px solid var(--borderColor)
        }

    #portal-v2-containter table tbody td {
        border-right: 0 none;
        border-bottom: 0 none;
    }

        #portal-v2-containter table tbody tr:first-child td{
            border-top: 0 none;
        }

        #portal-v2-containter table tbody td:last-child {
            border-right: 1px solid var(--borderColor);
            border-bottom: 1px solid var(--borderColor);
        }
</style>
<div id="divListItemsPassage">
    <div class="d-flex align-items-center justify-content-between mb-2">
        <h3 class="h3 mb-0">Filtered Passages</h3>
    </div>
    <div>
        <table id="dataTablePassageItem3p" class="datatable table w-100 dataTablePassageItem3p" width="100%">
            <thead>
                <tr>
                    <th scope="col" style="display: none;">
                    </th>
                    <th scope="col">
                        Source
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Number
                    </th>
                    <th scope="col" class="CerticaProperty">
                        @LabelHelper.Subject
                    </th>
                    <th scope="col" class="CerticaProperty">
                        @LabelHelper.TestGrade
                    </th>
                    <th scope="col" class="CerticaProperty">
                        Text Type
                    </th>
                    <th scope="col" class="CerticaProperty">
                        Text Sub Type
                    </th>
                    <th scope="col" class="CerticaProperty">
                        Word Count
                    </th>
                    <th scope="col" class="CerticaProperty">
                        Flesch Kincaid
                    </th>
                    <th scope="col" class="ProgressProperty" style="display: none;">
                        Passage Type
                    </th>
                    <th scope="col" class="ProgressProperty" style="display: none;">
                        Genre
                    </th>                   
                    <th scope="col" class="ProgressProperty" style="display: none;">
                        Spache
                    </th>
                    <th scope="col" class="ProgressProperty" style="display: none;">
                        Dalechall
                    </th>
                    <th scope="col" class="ProgressProperty" style="display: none;">
                        RMM
                    </th>
                    <th scope="col" style="min-width:88px;">
                        <span class="column-sort">
                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                        </span>
                        Lexile
                    </th>
                    <th scope="col">
                        Matched Items
                    </th>
                    <th scope="col">
                        All Items
                    </th>
                    <th scope="col">
                        ItemsMatchXml
                    </th>
                    <th scope="col" style="display: none">
                        ItemsAllXml
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="height: 60px;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function getAjaxSourcePassageItem3pForEmpty() {
        $('#chkAllItem').removeAttr('checked');
        displayNWEASearchCriteria();
        return getAjaxGetQti3pItemsByFiltersPassage('true');
    }
    function getAjaxSourcePassageItem3p() {        
        $('#chkAllItem').removeAttr('checked');
        return getAjaxGetQti3pItemsByFiltersPassage();
    }

    function ReloadPassageItem3p() {
        $("#dataTablePassageItem3p").dataTable().fnReloadAjax(getAjaxSourcePassageItem3p());
    }

    function showModalDialogBG() {
        var win = $('body');
        $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; height: ' + win.height() + 'px; z-index: 1001;"></div>');
    }

    function DisplayViewPassageIcon(qti3pPassageID) {
        var icon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/view-item.png")';
        var string = '<a qti3pPassageID="' + qti3pPassageID + '" href="javascript:void(0)" onclick="showPassageDetailPopupListItemPassagel(' + qti3pPassageID + ')" title="View passage" class="with-tip"><img src="../' + icon + '" width="16" height="16" style="margin-right: 4px"></a>';

        return string;
    }
    function showPassageDetailPopupListItemPassagel(qti3pPassageID) {

        var worker = $('<div />');
        worker
            .addClass("dialog PassageDetailPopupOnQtiItemDetailCSS")
            .attr("id", "PassageDetailDialog")
            .appendTo("body")
            .load('@Url.Action("ShowPassage3pDetail", "QTIItem")\?qti3pPassageID=' + qti3pPassageID, function () {
                worker.dialog({
                    title: $(this).attr("PassageDetail"),
                    open: function () {
                    },
                    close: function () {
                        $('.ui-widget-overlay:last').remove();
                        $(this).remove();
                        $('#tips').html('');
                        if (window.playsound != null) {
                            window.playsound.pause();
                        }
                    },
                    modal: false,
                    width: 780,
                    resizable: false,
                    position: {
                        my: "center",
                        at: "center",
                        of: window
                    }
                });
            });
        showModalDialogBG();
    }
    function DisplayAssignAllItemIcon(qti3pPassageID, allCount, matchItemXml) {
        var qti3pSource = $('#selectSource').val();
        var showItemIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
        var showItemLink = '<a qti3pPassageID="' + qti3pPassageID + '"qti3pSource="' + qti3pSource + '" matchItemXml="' +matchItemXml + '" href="javascript:void(0)" onclick="showPassageItem3pForm(this)" title="<p>Show Item(s)</p>" class="passage-found-item-link with-tip">' + allCount + '</a>';

        return showItemLink;

    }
    function DisplayAssignMatchItemIcon(qti3pPassageID, matchCount, matchItemXml) {
        var qti3pSource = $('#selectSource').val();
        var showItemIcon = '@Url.Content("~/Content/themes/Constellation/images/icons/fugue/pencil.png")';
        var showItemLink = '<a qti3pPassageID="' + qti3pPassageID + '"qti3pSource="' + qti3pSource + '" matchItemXml="' + matchItemXml + '" href="javascript:void(0)" onclick="showPassageItem3pForm(this)" title="<p>Show Item(s)</p>" class="passage-found-item-link with-tip">' + matchCount + '</a>';

        return showItemLink;

    }

    function showPassageItem3pForm(control) {
        var self = $(control);
        var qti3pPassageID = self.attr('qti3pPassageID');
        var qti3pSource = self.attr('qti3pSource');
        var matchItemXml = self.attr('matchItemXml');
        matchItemXml = encodeParameter(matchItemXml);
        var worker = $('<div />');

        worker
            .addClass("dialog")
            .attr("id", "ShowPassageItem3pFormPopup")
            .appendTo("body")
        .load('@Url.Action("ShowPassageItem3pForm")/?qti3pPassageID=' + qti3pPassageID + '&matchItemXml=' + matchItemXml + '&qti3pSource=' + qti3pSource, function () {
            worker.dialog({
                title: $(this).attr("Associated items"),
                open: function () {
                    $("#ShowPassageItem3pFormPopup").prev().css('top', '70px');
                    $("#ShowPassageItem3pFormPopup").prev().css('right', '0px');
                },
                close: function () {
                    $('.ui-widget-overlay').remove();
                    $(this).remove();
                },
                modal: false,
                width: 950,
                resizable: false,
                position: ['top', 20],
                dialogClass: 'ui-dialog-title-close',
                position: {
                    my: "center",
                    at: "center",
                    of: window
                }
            });
        });

        showModalDialogBG();
    }
  

</script>
