@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Web

<style>
    .group-input label {
        margin-left: 8px !important;
    }

    .columns-special p {
        line-height: 26px !important;
    }

    #portal-v2-containter .ui-popup-fullpage[aria-labelledby="ui-dialog-title-2"] {
        padding: 0;
    }

    .popup-fullpage-grading-shortcuts {
        padding-top: 14px;
    }

    #portal-v2-containter .ui-popup-fullpage[aria-labelledby="ui-dialog-title-2"] .ui-dialog-titlebar-close:after {
        position: static;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-2"] .ui-dialog-titlebar-close {
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        text-decoration: none;
        right: 0;
        top: 30px !important;
    }

    #portal-v2-containter .ui-dialog[aria-labelledby="ui-dialog-title-2"] .blockMsg {
        top: 50% !important;
        transform: translateY(-50%);
    }
    
</style>

<div class="popup-fullpage-grading-shortcuts">
    <div class="popup-fullpage-content">
        <h1 class="popup-fullpage-title">@LabelHelper.CodingLabel Shortcuts</h1>
        <form class="form">
            <div class="position-static" data-bind="showblock: IsLoadingGradingShortcuts">
                <div>
                    <div class="mb-2">
                        Select Manually @LabelHelper.CodedLabel Items:
                    </div>
                    <div class="row g-0">
                        <div class="col-auto me-3">
                            <div class="group-input">
                                <input type="radio" name="gradingShortcutsGraded" id="gradingShortcutsGradedAll" value="all" data-bind="checked: ShortcutGradeBy">
                                <label for="gradingShortcutsGradedAll">All</label>
                            </div>
                        </div>
                        <div class="col-auto me-3">
                            <div class="group-input">
                                <input type="radio" name="gradingShortcutsGraded" id="gradingShortcutsGradedOnly" value="item" data-bind="checked: ShortcutGradeBy, disable: IsDisabledGradingShortcutsGradedOnly">
                                <label for="gradingShortcutsGradedOnly" data-bind="css: { 'text-muted': IsDisabledGradingShortcutsGradedOnly }">Selected Item Only</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="mb-2">
                        Assign @LabelHelper.PointsLabel Earned:
                    </div>
                    <div class="row g-0">
                        <div class="col-auto me-3">
                            <div class="group-input">
                                <input type="radio" name="gradingShortcutsPoints" id="gradingShortcutsPointsZero" value="zero" data-bind="checked: ShortcutAssignType">
                                <label for="gradingShortcutsPointsZero">Zero</label>
                            </div>
                        </div>
                        <div class="col-auto me-3">
                            <div class="group-input">
                                <input type="radio" name="gradingShortcutsPoints" id="gradingShortcutsPointsMax" value="max" data-bind="checked: ShortcutAssignType">
                                <label for="gradingShortcutsPointsMax">Max @LabelHelper.PointsLabel Possible</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="mb-2">
                        Item Status:
                    </div>
                    <div class="row g-0">
                        <div class="col-auto me-3">
                            <div class="group-input">
                                <input type="checkbox" name="gradingShortcutsStatus" id="gradingShortcutsStatusAnswered" data-bind="checked: ShortcutAnswered">
                                <label for="gradingShortcutsStatusAnswered">Answered</label>
                            </div>
                        </div>
                        <div class="col-auto me-3">
                            <div class="group-input">
                                <input type="checkbox" name="gradingShortcutsStatus" id="gradingShortcutsStatusUnanswered" data-bind="checked: ShortcutUnAnswered">
                                <label for="gradingShortcutsStatusUnanswered">Unanswered</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns columns-special my-3" style="padding-left: 0px;">
                    <p><b>Caution:</b> Points will be assigned to <b>ALL</b> students contained within the <b>Filter Student By</b> group that you have selected. Any points previously assigned to this group will be overwritten. This update will only apply to manually @LabelHelper.CodedLabel.ToLower() items.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <div class="columns columns-special columns-action">
                    <div class="d-flex flex-row justify-content-around">
                        <button type="button" data-bind="click: CloseGradingShortcutsPopup">Cancel</button>
                        <button type="button" data-bind="click: AssignPointsGradingShortcuts, enable: AssignPointsGradingShortcutsVisible">Assign @LabelHelper.PointsLabel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
