@using LinkIt.BubbleSheetPortal.Web.Helpers

<div class="popup-fullpage-print">
    <div class="popup-fullpage-content">
        <div class="form" id="dvPrintTestOfStudent">
            <form id="frmPrintTestOfStudent">
                <fieldset>
                    <legend>Print</legend>
                    <div class="print-option">
                        <div class="print-option-item">
                            @Html.CheckBox("ManuallyGradedOnly")
                            <label for="ManuallyGradedOnly">Manually @LabelHelper.CodedLabel Only</label>
                        </div>
                        <div class="print-option-item">
                            @Html.CheckBox("Passages", true)
                            <label for="Passages">Passages</label>
                        </div>
                        <div class="print-option-item">
                            @Html.CheckBox("TeacherFeedback", true)
                            <label for="TeacherFeedback">Teacher Feedback</label>
                        </div>
                        <div class="print-option-item">
                            @Html.CheckBox("GuidanceAndRationale", true)
                            <label for="GuidanceAndRationale">Guidance and Rationale</label>
                        </div>
                        <div class="print-option-item">
                            @Html.CheckBox("TheCoverPage", true)
                            <label for="TheCoverPage">The Cover Page</label>
                        </div>
                        <div class="print-option-item">
                            @Html.CheckBox("TheQuestionContent", true)
                            <label for="TheQuestionContent">The Item Content</label>
                        </div>
                        <div class="print-option-item">
                            @Html.CheckBox("TheCorrectAnswer", true)
                            <label for="TheCorrectAnswer">The Correct Answer</label>
                        </div>
                        <div class="print-option-item">
                            @Html.CheckBox("ShowQuestionPrefix", true)
                            <label for="ShowQuestionPrefix">Show Item #</label>
                        </div>
                        <div class="print-option-item">
                            @Html.CheckBox("ShowBorderAroundQuestions", true)
                            <label for="ShowBorderAroundQuestions">Show Border Around Items</label>
                        </div>
                        <div class="print-option-item">
                            @Html.CheckBox("ExcludeTestScore", true)
                            <label for="ExcludeTestScore">Include Test Score</label>
                        </div>
                        <div class="print-option-item">
                            @Html.CheckBox("IncorrectQuestionsOnly", false)
                            <label for="IncorrectQuestionsOnly">Incorrect Items Only</label>
                        </div>
                        <div class="print-option-item">
                            <div class="u-m-r-10"><label>Student:</label></div>
                            <div class="mt-1">
                                @Html.RadioButton("StudentType", 1, true, new { id = "studentCurrent" })
                                <label for="studentCurrent">Current</label>
                                @Html.RadioButton("StudentType", 2, false, new { id = "studentAll" })
                                <label for="studentAll">All</label>
                            </div>
                        </div>
                        <div class="print-option-item mt-2">
                            <div class="u-m-r-10"><label>Column:</label></div>
                            <div class="mt-1">
                                @Html.RadioButton("NumberOfColumn", 1, false, new { id = "rdSingleColumn" })
                                <label for="rdSingleColumn">Single</label>
                                @Html.RadioButton("NumberOfColumn", 2, true, new { id = "rdDoubleColumn" })
                                <label for="rdDoubleColumn">Double</label>
                            </div>
                        </div>
                        <div class="print-option-item mt-2">
                            <div class="u-m-r-10"><label>Item:</label></div>
                            <span class="u-inline-block mt-0">
                                @Html.RadioButton("QuestionType", 1, true, new { id = "questionAll" })
                                <label for="questionAll">All</label>
                            </span>
                            <span class="u-inline-block assignment-enter-number mt-0">
                                @Html.RadioButton("QuestionType", 2, false, new { id = "questionEnterNumber" })
                                <input type="text" placeholder="e.g 1-5, 8, 11-13" id="questionEnterNumberText" class="assignment-textfield u-w-145">
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-around action-area">
                        <input type="hidden" name="VirtualTestID" value="" />
                        <input type="hidden" name="QTIOnlineTestSessionIDs" value="" />
                        <input type="hidden" name="QTITestClassAssignmentID" value="" />
                        <input type="hidden" name="TestName" value="" />
                        <input type="hidden" name="StudentName" value="" />
                        <input type="hidden" name="TotalPointsEarned" value="" />
                        <input type="hidden" name="TotalPointsPossible" value="" />
                        <input type="hidden" name="ManuallyGradedOnlyQuestionIds" value="" />
                        <input type="hidden" name="PrintGuidance" value="" />
                        <input type="hidden" name="PrintQuestionIDs" value="" />
                        <button type="button" id="cancelPrintOption">Cancel</button>
                        <button type="button" data-bind="click: PrintTestOfStudent">Create PDF</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    (function ($) {
        $('#questionEnterNumber').on('change', function () {
            var $self = $(this);

            if ($self.is(':checked')) {
                $self.next('input[type="text"]').focus();
            }
        });

        $('#questionEnterNumberText').focus(function () {
            $('#questionEnterNumber').prop('checked', true);
        });
        $('#cancelPrintOption').click(function () {
            $('.ui-dialog .ui-dialog-titlebar-close').click()
        })
    })(jQuery);
</script>
