@model LinkIt.BubbleSheetPortal.Web.ViewModels.SATReport.SATReportMasterViewModel
<style>
    .col_StudentHistory .tblDiagnostic {
        width: 100% !important;
    }
        .tblDiagnostic thead th {
            padding: 10px 7px !important;
        }
</style>
<div>
    <div class="boxtitle">
        Diagnostic History
    </div>

    <table class="datatable table utility-table tblDiagnostic big_line">
        <thead>
            <tr>
                <th class="utility" style="width: 80px;">Test Date</th>
                <th class="utility" style="">Diag Form</th>
                
                @{
                    if (Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Any() == false)
                    {
                        return;
                    }
                    var maxSubScoreItems = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Max(x => x.SubScores.Count);
                    var firstScoreItem = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.First(x => x.SubScores.Count == maxSubScoreItems);
                    if (Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Any(x => x.IsSelected))
                    {
                        firstScoreItem = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.First(x => x.IsSelected);
                    }
                    var subScoreList = firstScoreItem.SubScores.Select(x => x.SectionName).ToList();
                }

                @foreach (var scoreItem in subScoreList)
                {                    
                    if (scoreItem != "Composite")
                    {
                        <th class="utility" style="width: 80px; text-align: center;">@scoreItem
                            @if (Model.KNOWSYS_SATReport_ShowScoreRange)
                            {
                                <br />
                                <span style="font-size: smaller">
                                    (
                                    @if (Model.TestScoreRanges != null && Model.TestScoreRanges.Any(x => x.Key.ToLower() == scoreItem.ToLower()))
                                    {
                                        <text>
                                            @Model.TestScoreRanges.FirstOrDefault(x => x.Key.ToLower() == scoreItem.ToLower()).Value
                                        </text>
                                    }                                    
                                    )
                                </span>
                            }
                        </th>
                    }
                    else
                    {
                        <th class="utility" style="width: 80px; text-align: center;">Total
                            @if (Model.KNOWSYS_SATReport_ShowScoreRange)
                            {
                                <br />
                                <span style="font-size: smaller">
                                    (
                                    @if (Model.TestScoreRanges != null && Model.TestScoreRanges.Any(x => x.Key.ToLower() == "total"))
                                    {
                                        <text>
                                            @Model.TestScoreRanges.FirstOrDefault(x => x.Key.ToLower() == "total").Value
                                        </text>
                                    }                                    
                                    )
                                </span>
                            }
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>            
            @for (int i = 0; i < Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Count; i++)
            {
                var item = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels[i];
                string style = "";
                string cssClass = "";
                if (item.IsSelected)
                {
                    style = "font-weight:bold; font-style:italic;";
                    cssClass = "question-detail-answer";
                }
                <tr class="@cssClass">
                    <td class="utility" style="@style;width: 80px"><p style="width: 80px">@item.TestDateText</td>
                    <td class="utility" style="@style word-break:break-all;">@item.TestName</td>

                    @foreach (var subScoreName in subScoreList)
                    {                        
                        var scoreItem = item.SubScores.FirstOrDefault(x => x.SectionName == subScoreName);
                        if (scoreItem != null)
                        {
                            <td class="utility" style="@style text-align: center;">@scoreItem.ScoreText</td>
                        }
                        else
                        {
                            <td class="utility" style="@style text-align: center">0</td>
                        }
                    }
                </tr>
            }

        </tbody>
    </table>
</div>