@using DevExpress.Office.Utils
@model LinkIt.BubbleSheetPortal.Web.ViewModels.ACTReport.SectionTagViewModel

@{
    var sectionTag = Model;
    var listSectionsID = sectionTag.AnswerSectionViewModels.Where(x => x.SectionID != ViewBag.EssaySectionId).Select(x => x.SectionID).Distinct().ToList();
    int counter = 0;
    foreach (var sectionId in listSectionsID)
    {
        //render answers
        const int answerColumnNumber = 25;
        const int textEntryColumnNumber = 10;
        int index = 1;
        var listAnswer = sectionTag.AnswerSectionViewModels.Where(x => x.SectionID == sectionId).ToList();
        if (listAnswer.Any() == false)
        {
            continue;
        }
        var listMCQuestions = listAnswer.Where(x => x.QTISchemaID != 9).ToList();
        var listSPRQuestions = listAnswer.Where(x => x.QTISchemaID == 9).ToList();
        var strWidth = "style=margin-bottom:0";

        <text>
            <div>
                @listAnswer[0].SectionName
            </div>
        </text>

        while (listMCQuestions.Any())
        {
            if (listMCQuestions.Count < answerColumnNumber)
            {
                var tableWidth = (36*listMCQuestions.Count) + listMCQuestions.Count + 77;
                strWidth = string.Format("style=width:{0}px;margin-bottom:0", tableWidth);
            }
            else
            {
                var tableWidth = (36*answerColumnNumber) + answerColumnNumber + 77;
                strWidth = string.Format("style=width:{0}px;margin-bottom:0", tableWidth);
            }
            <table class='datatable table qa'
                @{
                    <text> @strWidth </text>
                }>
                <thead>
                    <tr>
                        <th class="utility" style="width: 76px">Q#</th>
                        @for (int i = 0; i < answerColumnNumber; i++)
                        {
                            if (i < listMCQuestions.Count)
                            {
                                <th class="utility" style="width: 36px">@string.Format("{0}", listMCQuestions[i].QuestionOrder)</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr class="question-detail-answer">
                        <td>Ans</td>
                        @for (int i = 0; i < answerColumnNumber; i++)
                        {
                            if (i < listMCQuestions.Count)
                            {
                                <td>@Html.Raw(listMCQuestions[i].CorrectAnswer)</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>Mark</td>
                        @for (int i = 0; i < answerColumnNumber; i++)
                        {
                            if (i < listMCQuestions.Count)
                            {
                                <td>
                                    @if (listMCQuestions[i].IsCorrected)
                                    {
                                        @:+
                                    }
                                    else
                                    {
                                        if (listMCQuestions[i].IsBlank)
                                        {
                                            @:-
                                        }
                                        else
                                        {
                                            if (listMCQuestions[i].AnswerLetter.Length > 4)
                                            {
                                                <text>@listMCQuestions[i].AnswerLetter.Substring(0, 4)</text>
                                            }
                                            else
                                            {
                                                @listMCQuestions[i].AnswerLetter
                                            }
                                        }
                                    }
                                </td>
                            }
                        }

                        @if (answerColumnNumber < listMCQuestions.Count)
                        {
                            listMCQuestions.RemoveRange(0, answerColumnNumber);
                            index = answerColumnNumber + index;
                        }
                        else
                        {
                            listMCQuestions.RemoveRange(0, listMCQuestions.Count);
                        }


                    </tr>
                </tbody>
            </table>
        }

        while (listSPRQuestions.Any())
        {
            if (listSPRQuestions.Count < textEntryColumnNumber)
            {
                var tableWidth = (91*listSPRQuestions.Count) + (listSPRQuestions.Count) + 77;
                strWidth = string.Format("style=width:{0}px", tableWidth);
            }
            else
            {
                var tableWidth = (91*textEntryColumnNumber) + (textEntryColumnNumber) + 77;
                strWidth = string.Format("style=width:{0}px", tableWidth);
            }
            <table style="margin-bottom: 0px;" class='datatable table qa' @{
                                                                              <text> @strWidth </text>
                                                                          }>
                <thead>
                    <tr>
                        <th class="utility" style="width: 76px">Q#</th>
                        @for (int i = 0; i < textEntryColumnNumber; i++)
                        {
                            if (i < listSPRQuestions.Count)
                            {
                                <th class="utility" style="width: 91px">@string.Format("{0}", listSPRQuestions[i].QuestionOrder)</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr class="question-detail-answer">
                        <td>Ans</td>
                        @for (int i = 0; i < textEntryColumnNumber; i++)
                        {
                            if (i < listSPRQuestions.Count)
                            {
                                <td>@Html.Raw(listSPRQuestions[i].CorrectAnswer)</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>Mark</td>
                        @for (int i = 0; i < textEntryColumnNumber; i++)
                        {
                            if (i < listSPRQuestions.Count)
                            {
                                <td>
                                    @if (listSPRQuestions[i].IsCorrected)
                                    {
                                        @:+
                                    }
                                    else
                                    {
                                        if (listSPRQuestions[i].IsBlank)
                                        {
                                            @:-
                                        }
                                        else
                                        {
                                            if (listSPRQuestions[i].AnswerLetter.Length > 4)
                                            {
                                                <text>@listSPRQuestions[i].AnswerLetter.Substring(0, 4)</text>
                                            }
                                            else
                                            {
                                                @listSPRQuestions[i].AnswerLetter
                                            }
                                        }
                                    }
                                </td>
                            }
                        }

                        @if (textEntryColumnNumber < listSPRQuestions.Count)
                        {
                            listSPRQuestions.RemoveRange(0, textEntryColumnNumber);
                            index = textEntryColumnNumber + index;
                        }
                        else
                        {
                            listSPRQuestions.RemoveRange(0, listSPRQuestions.Count);
                        }


                    </tr>
                </tbody>
            </table>
        }




        counter++;
        if (counter < listSectionsID.Count)
        {
            <text><div class="clear-25"></div></text>
        }
    }
}