@model LinkIt.BubbleSheetPortal.Web.ViewModels.SATReport.SATReportMasterViewModel
           
<div>
    <table class="table big_line">
        <tr style="height: 22px;">
            <td class="utility" style="width: 74px;"><b>Student ID</b></td>
            <td class="utility">@Model.StudentInformation.StudentID</td>
        </tr>
        @*<tr>
            <td class="utility"><b>Student</b></td>
            <td class="utility" id="@Model.StudentInformation.StudentID">@Model.StudentInformation.StudentName</td>
        </tr>*@
        <tr style="height: 22px;">
            <td class="utility"><b>Class</b></td>
            <td class="utility">@Model.StudentInformation.TestResultClassName</td>
        </tr>
        <tr style="height: 22px;">
            <td class="utility"><b>Teacher</b></td>
            <td class="utility">@Model.StudentInformation.TestResultTeacherName</td>
        </tr>
    </table>
</div>