@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Models.Constants
@using LinkIt.BubbleSheetPortal.Web

@{
    ViewBag.Title = "Data Preview";
}
<style>
    #student-references {
        max-width: 940px;
        min-height: 1000px;
        margin: 30px auto 0;
    }

    #student-references .block-border {
        width: 918px;
    }

    .block-border .filter-group {
        background: #fff;
        padding: 2.833em 1.667em 1.667em;
    }
    .block-border .filter-group .fileter-item {
        width: 44%;
        float: left;
        margin-bottom: 1.667em;
        margin-left: 4%;
    }

    .block-checkbox {
        height: 190px;
        overflow: auto;
        background: #fff;
        border-top: 1px solid #a2a2a2;
    }

    .fileter-checkbox {
        width: 220px;
        margin-bottom: 1.667em;
        margin-left: 4%;
        float: left;
        border: 1px solid #a2a2a2;
        padding-top: 10px;
        position: relative;
    }
    .filter-test-types.fileter-checkbox {
        width: 220px;
    }

    .checkbox-subject {
        width: 220px;
    }

    .checkbox-visible .block-checkbox {
        height: 50px;
    }

    .checkbox-container .fileter-checkbox > .chechbox {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .block-border .checkbox-container .fileter-item {
        float: none;
    }

    .checkbox-container .checkbox-child {
        padding: 0px 0 0 9px;
    }

    .checkbox-container .checkbox-child .chechbox {
        display: inline-block;
    }

    .checkbox-container .checkbox-child input[type=checkbox] + label {
        width: calc(100% - 18px);
        display: inline-block;
        padding: 9px 0px 7px;
    }

    .checkbox-container .checkbox-child:nth-last-child(even) {
        background: #f1f1f1
    }

    .bg-full {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(76, 76, 76, 0.8);
        z-index: 100;
    }
    .loading::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -3px;
        bottom: 2px;
        right: 3px;
        background: rgba(255, 255, 255, 0.5);
        z-index: 3;
        border-radius: 19px;
    }

    .loading::after {
        content: '';
        position: absolute;
        border: 16px solid #f3f3f3;
        border: 3px solid #f3f3f3;
        border-top: 3px solid #3498db;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        left: 17px;
        top: 0;
        z-index: 4;
        animation: spin 2s linear infinite;
    }

    .loading-dot {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        color: #fff;
        font-size: 20px;
    }

    .loading-dot:after {
        content: ' .';
        animation: dots 1s steps(5, end) infinite;
    }

    @@keyframes dots {
        0%, 20% {
            color: rgba(0,0,0,0);
            text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
        }

        40% {
            color: white;
            text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
        }

        60% {
            text-shadow: .25em 0 0 white, .5em 0 0 rgba(0,0,0,0);
        }

        80%, 100% {
            text-shadow: .25em 0 0 white, .5em 0 0 white;
        }
    }

    .btn-filter,
    .btn-clear-filter {
        float: right;
        margin-left: 10px;
    }

    ul#selectClasses .tagit-new {
        max-width: 169px;
    }

    ul.tagit li:not(:first-child) ::-webkit-input-placeholder {
        opacity: 0;
    }

    ul.tagit li:not(:first-child) ::-moz-placeholder {
        opacity: 0;
    }

    ul.tagit li:not(:first-child) ::-ms-input-placeholder {
        opacity: 0;
    }

    ul.tagit li:not(:first-child) ::placeholder {
        opacity: 0;
    }

    .tagit-dropdown {
        position: static !important
    }

    .block-border .background-filter::after,
    .block-border .filter-group::after,
    #student-references .block-border::after,
    #student-references::after,
    .block-border .filter-group .btn-filter::after {
        display: table;
        clear: both;
        content: '';
    }
    #dataTable td {
        word-break: break-word;
    }
    .student-results {
        color: #2abe5b;
        cursor: pointer;
    }

    .table tbody tr.light-blue td {
        background: #39c;
    }

    .table tbody tr.gray td {
        background: #808080;
    }

    .btn-disabled {
        pointer-events: none;
        color: #cccccc;
        border: 1px solid;
        border-color: #7e9098 #61727b #2b373d;
        background: #40535c url(../images/old-browsers-bg/title-link-bg.png) repeat-x top;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
        background: -moz-linear-gradient(top, white, #9eb1ba 4%, #40535c);
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#40535c), color-stop(0.03, #9eb1ba));
    }

    .input-search {
        padding: 12px 9px;
    }

    .input-search input {
        width: 85%;
    }
</style>
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleStudentPreferenceBundle() @LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptStudentPreferenceBundle()
<script src="@Url.Content("~/Scripts/TagIt/js/tag-it.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/TagIt/css/jquery.tagit.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/TagIt/css/tagit.ui-zendesk.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
<link href="@Url.Content("~/Content/libs/awesome-icon/css/font-awesome.css")" rel="stylesheet"/>
<link href="/Content/libs/select2/comboTreePlugin.css" rel="stylesheet" />
<script src="/Content/libs/select2/comboTreePlugin.js"></script>
<script src='@Url.Content("~/Scripts/Qtip/jquery.qtip.js")'></script>
<link rel="stylesheet" href="/Scripts/Qtip/jquery.qtip.css">
<div id="student-references">
    <div class="block-border form">
        <div class="filter-group  block-content">
            <div class="tabs-details">
                <fieldset class="background-filter">
                    <legend>Select Options Level </legend>
                    <div class="fileter-item">
                        <label>State</label>
                        <select v-model="selectedState" v-on:change="selectStates" class="full-width">
                            <option v-for="item in state" :value="item.Id">{{item.Name}}</option>
                        </select>
                    </div>
                    <div class="fileter-item">
                        <label>{{districtLabel}}</label>
                        <select id="selectedDistrictID" v-model="selectedDistrict" v-on:change="onDistrictChange" class="full-width">
                            <option v-for="item in districts" :value="item.Id">{{item.Name}}</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset class="background-filter checkbox-container">
                    <legend>Select Test Filters</legend>
                    <div class="fileter-checkbox filter-test-types">
                        <div v-show="showLoadingTest" class="bg-full">
                            <div class="loading-dot">Loading</div>
                        </div>
                        <input id="test-types" v-model="checkTestTypes" v-on:change="allSelectTestTypes" type="checkbox" name="test-types" class="chechbox" />
                        <label for="test-types">All Categories</label>
                        <div class="block-checkbox">
                            <div class="input-search">
                                <input class="search-bar" type="text" placeholder="Input to search"/>
                            </div>
                            <div v-for="item in testType" class="checkbox-child">
                                <input :id="'test-type' + item.Id" v-on:change="selectCheckBoxTestTypes" type="checkbox" :value="item.Id" v-model="arrTestTypes" :name="item.Id"
                                       class="chechbox" :disabled="item.IsShow === false">
                                <label :title="item.Tooltip" :for="'test-type' + item.Id">{{item.Name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="fileter-checkbox">
                        <div v-show="showLoadingGrades" class="bg-full">
                            <div class="loading-dot">Loading</div>
                        </div>
                        <input id="grades" v-model="checkGrades" v-on:change="allSelectGrades" type="checkbox" name="grades" class="chechbox" />
                        <label for="grades">All @LocalizeHelper.LocalizedWithoutComment(LocalizeResourceKeys.GRADES_LABEL)</label>
                        <div class="block-checkbox">
                            <div class="input-search">
                                <input class="search-bar" type="text" placeholder="Input to search"/>
                            </div>
                            <div v-for="item in grades" class="checkbox-child">
                                <input :id="item.Id" v-on:change="selectCheckBoxGrades" type="checkbox" :value="item.Id" v-model="arrGrades" :name="item.Id"
                                       class="chechbox">
                                <label :for="item.Id">{{item.Name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="fileter-checkbox checkbox-subject">
                        <div v-show="showLoadingSubjects" class="bg-full">
                            <div class="loading-dot">Loading</div>
                        </div>
                        <input id="subjects" type="checkbox" name="subjects" v-model="checkSubject" v-on:change="allSelectSubjects" class="chechbox" />
                        <label for="subjects">All @LabelHelper.Subjects</label>
                        <div class="block-checkbox">
                            <div class="input-search">
                                <input class="search-bar" type="text" placeholder="Input to search"/>
                            </div>
                            <div v-for="item in subjects" class="checkbox-child">
                                <input :id="item.Name" :value="item.Name" v-model="arrSubject" v-on:change="selectCheckBoxSubjects" type="checkbox" :name="item.Name"
                                       class="chechbox">
                                <label :for="item.Name">{{item.Name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="fileter-checkbox checkbox-subject">
                        <div v-show="showLoadingPBSInEffect" class="bg-full">
                            <div class="loading-dot">Loading</div>
                        </div>
                        <input id="pbsEffect" type="checkbox" name="pbsEffect" v-model="checkPbsEffect" v-on:change="allSelectPbsEffect" class="chechbox" />
                        <label for="pbsEffect">All PBS in Effect</label>
                        <div class="block-checkbox">
                            <div class="input-search">
                                <input class="search-bar" type="text" placeholder="Input to search"/>
                            </div>
                            <div v-for="item in pbsEffects" class="checkbox-child">
                                <input :id="item.Id" :value="item.Id" v-model="arrPbsEffects" v-on:change="selectCheckBoxPbsEffect" type="checkbox" :name="item.Id"
                                       class="chechbox">
                                <label :for="item.Name">{{item.Name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="fileter-checkbox checkbox-subject">
                        <div v-show="showLoadingPBSGroup" class="bg-full">
                            <div class="loading-dot">Loading</div>
                        </div>
                        <input id="pbsGroup" type="checkbox" name="pbsGroup" v-model="checkPbsGroup" v-on:change="allSelectPbsGroup" class="chechbox" />
                        <label for="pbsGroup">All PBS Group</label>
                        <div class="block-checkbox">
                            <div class="input-search">
                                <input class="search-bar" type="text" placeholder="Input to search"/>
                            </div>
                            <div v-for="item in pbsGroups" class="checkbox-child">
                                <input :id="item.Id" :value="item.Id" v-model="arrPbsGroups" v-on:change="selectCheckBoxPbsGroup" type="checkbox" :name="item.Id"
                                       class="chechbox">
                                <label :for="item.Name">{{item.Name}}</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button v-on:click="onFilter" id="btnFilter" :disabled='disabled' class="btn-filter" type="submit">Apply Filters</button>
                <button v-on:click="onClearFilter" class="grey btn-clear-filter" type="submit">Clear Filters</button>
            </div>
        </div>
    </div>
    <div id="studentPreferencePage">
        <div id="listVirtualTest">
            <article class="container_12" style="margin-top:2em">
                <section class="grid-full-with">
                    <div class="block-border">
                        <div class="block-content form">
                            <h1>
                                Tests
                                <a id="btnAddNew" href="javascript:void(0)">
                                    <img src="/Content/themes/Constellation/images/icons/fugue/plus-circle-blue.png">
                                    APPLY SETTINGS
                                </a>
                            </h1>
                            <p style="height: 5px"></p>
                            <table id="dataTable" width="100%" cellspacing="0" class="datatable table no-margin">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 35px;text-align: center">
                                            Select
                                            <input type="checkbox" class="check-box-all" />
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Test Name
                                        </th>

                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Category
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Subject
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            @LocalizeHelper.LocalizedWithoutComment(LocalizeResourceKeys.GRADE_LABEL)
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            PBS in Effect
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            Performance Band Group
                                        </th>
                                        <th scope="col">
                                            <span class="column-sort">
                                                <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                                <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                            </span>
                                            View Results
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="height: 60px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
</div>

<script type="text/javascript">
    var virtualTestID = '';
    var rolesValue = '@Model';
    var isSetDelay = false;
    var districtLabel = '@LocalizeHelper.LocalizedWithoutComment(LocalizeResourceKeys.DISTRICT_LABEL)';
</script>
<script type="text/javascript" src="/Scripts/Lib/vue.min.2.5.js"></script>
<script type="text/javascript" src="@BundleHelper.Version("~/Scripts/PerformanceBandAutomation/callAjax.js")"></script>
<script type="text/javascript" src="@BundleHelper.Version("~/Scripts/PerformanceBandAutomation/optionDefaults.js")"></script>
<script type="text/javascript" src="@BundleHelper.Version("~/Scripts/PerformanceBandAutomation/PerformanceBandAutomation.js")"></script>
<script type="text/javascript">
    $(function () {
        var textSearch = "";
        var urlSchoolName = replace ? replace : '';
        var showTest = false;
        var options = {
            bServerSide: true,
            bRetrieve: true,
            bDestroy: true,
            sAjaxSource: '@Url.Action("GetPerformanceBandAutomations")',
            bInfo: true,
            oSearch: {
                sSearch: textSearch
            },
            fnServerParams: function (aoData) {
                aoData.push(
                    { name: "DistrictID", value: app.selectedDistrict },
                    { name: "VirtualTestTypeIds", value: app.addFilteredTestTypes.toString() },
                    { name: "GradeIDs", value: app.addFilteredGrades.toString() },
                    { name: "SubjectNames", value: app.arrSubject.toString() },
                    { name: "PBSInEffect", value: app.arrPbsEffects.toString() },
                    { name: "PBSGroup", value: app.arrPbsGroups.toString() },
                );
            },
            bAutoWidth: true,
            iDisplayLength: 50,
            aaSorting: [[1, "asc"]],
            aLengthMenu: [50, 100, 500],
            aoColumns: [
                { mData: 'VirtualTestID', sName: 'VirtualTestID', bSearchable: false, bSortable: false, sWidth: '50px', sClass: 'css-align-center' },
                { mData: 'TestName', sName: 'TestName', bSearchable: true, bSortable: true },
                { mData: 'DataSetCategory', sName: 'DataSetCategory', bSearchable: false, bSortable: true, sWidth: '100px' },
                { mData: 'Subject', sName: 'Subject', bSearchable: true, bSortable: true, sWidth: '100px' },
                { mData: 'Grade', sName: 'Grade', bSearchable: true, bSortable: true, sWidth: '65px' },
                { mData: 'PBSInEffect', sName: 'PBSInEffect', bSearchable: true, bSortable: true, sWidth: '100px' },
                { mData: 'PerformanceBandGroupList', sName: 'PerformanceBandGroupList', bSearchable: true, bSortable: true, sWidth: '120px' },
                { mData: 'VirtualTestID', sName: 'VirtualTestID', bSearchable: false, bSortable: false, sWidth: '90px', sClass: 'css-align-center' },
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).parent().addClass('tableRow');
                $('td:eq(0)', nRow).html(setIconVisibility(aData.VirtualTestID));
                $('td:eq(6)', nRow).html(hideFromSecondItems(aData));
                $('td:eq(7)', nRow).html(setViewResult(aData.VirtualTestID, aData.ResultDate));
                var pbg = $('td:eq(6)', nRow);
                if (pbg.text() !== 'None') {
                    getPBSQtip(pbg, aData.PerformanceBandGroupList);
                }
                return nRow;
            },
            fnPreDrawCallback: function () {
                if (!window.isApplaySettings) {
                    ShowBlock($('#dataTable'), "Loading");
                }
                return true;
            },
            fnDrawCallback: function () {
                $('.with-tip').tip();
                if (!isSetDelay) {
                    searchDelay($("#dataTable_filter input[type='text']"), $("#dataTable"));
                    isSetDelay = true;
                }

                if (window.isApplaySettings) {
                    app.handleAfterApplySettings(window.virtualTests);
                    window.isApplaySettings = false;
                    window.virtualTests = null;
                }

                $('#dataTable').unblock();
            }
        };

        $("#dataTable").data("options", options);

        initializeDataTable($("#dataTable"));

        function hideFromSecondItems(aData) {
            var str = '';
            if (aData.PerformanceBandGroupList) {
                var list = aData.PerformanceBandGroupList.split(',');
                str += list[0];
                if (list.length > 1) {
                    str += ' ...';
                }
            }
            return str;
        }

        function setIconVisibility(virtualTestId) {
            var iconString = '<input type="checkbox" class="cbTestId" value="' + virtualTestId + '" />';
            return iconString;
        }

        function setViewResult(virtualTestId, resultDate) {
            var btn = 
                `<span class="view-result fa-stack fa-lg student-results" virtualtestid="${virtualTestId}" resultdate="${resultDate}">
                    <i class="fa fa-solid fa-circle fa-stack-2x"></i>
                    <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                </span>`
            return btn;
        }

        function searchDelay(inputFilter, dataTable) {
            var delay = null;

            inputFilter.off('keyup.DT input.DT');

            inputFilter.on("keyup", function () {
                var search = inputFilter.val();
                clearTimeout(delay);
                delay = setTimeout(function () {
                    if (search != null) {
                        dataTable.dataTable().fnFilter(search);
                    }
                }, 1000);
            });
        }

        function getPBSQtip(el, data) {
            el.qtip({
                content: {
                    text: function () {
                        return getPBSList(data);
                    }
                },
                hide: {
                    fixed: true,
                    delay: 300
                },
                style: {
                    classes: 'qtip-students qtip-bootstrap qtip-shadow'
                },
                position: {
                    at: 'center left',
                    my: 'right center',
                    viewport: $('#studentPreferencePage'),
                    adjust: {
                        method: 'none shift'
                    }
                }
            });
        }

        function getPBSList(list) {
            var title = '';
            var arr = list.split(',');

            arr = arr.filter(function (item) {
                return item.trim() !== '';
            }).map(function (item) {
                return "</span> " + item + '<br/>';
            });

            title = arr.join('');

            return title;
        }


        $(document).on('change', '.check-box-all', function () {
            var checked = $(this).attr('checked');
            $('#dataTable_wrapper tbody .cbTestId').attr('checked', checked || false);

            var arrChecked = $('#dataTable_wrapper tbody .cbTestId:checked');
            arrChecked.length > 0 && $('#btnAddNew').removeClass('btn-disabled');
            arrChecked.length === 0 && $('#btnAddNew').addClass('btn-disabled');
        });
        $('#btnAddNew').addClass('btn-disabled');
        $(document).on('change', '#dataTable_wrapper tbody .cbTestId', function () {
            $('.check-box-all').attr('checked', false);
            var arrChecked = $('#dataTable_wrapper tbody .cbTestId:checked');
            if (arrChecked.length === 0) {
                $('#btnAddNew').addClass('btn-disabled');
            } else {
                $('#btnAddNew').removeClass('btn-disabled');
            }
        });

        $('#dataTable').on('click', '.view-result', function (event) {
            virtualTestID = $(this).attr('virtualtestid');
            resultDate = $(this).attr('resultdate');
            app.viewResult(virtualTestID, resultDate);
        });

        $('#btnAddNew').on('click', function (e) {
            e.preventDefault();
            var testIds = [];
            $('.cbTestId:checked').each(function(i, elem) {
                testIds.push($(elem).val());
            });
            testIds.length > 0 && app.applySettings(testIds)
        });
        $('.search-bar').on('keyup', function () {
            var search = $(this).val().toLowerCase();
            $(this).parents('.block-checkbox').find('.checkbox-child').each(function () {
                var value = $(this).text().toLowerCase();
                if (value.indexOf(search) > -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            })
        });
    });
    function loadData() {
        $('#btnAddNew').addClass('btn-disabled');
        $("#dataTable").dataTable().fnDraw();
    }
     var comboTree1 = null;
     var categoryElementId = '#dataSetCategoryId';
    if (rolesValue != '5' && rolesValue != '27') {
        GetDataSetCategories();
    }

     function GetDataSetCategories(districtId = 0) {
         $.get('@Url.Action("GetDataSetCategoriesForStudentPreference", "CategoriesAPI")' + '?districtId=' + districtId, function (categories) {
             if (!comboTree1) {
                 comboTree1 = $(categoryElementId).comboTree({
                     source: [],
                     isMultiple: false,
                     cascadeSelect: true,
                     collapse: false,
                     selected: []
                 });
                 comboTree1.onChange(function () {
                     studentDefaultClass.tryGetOptionDefault();
                 });
             }
             comboTree1.setSource(categories);
            $(categoryElementId).change(function(e) {
                $(this).val(comboTree1 ? comboTree1.getSelectedNames() : '');
            });
        });
    }
</script>
