@model LinkIt.BubbleSheetPortal.Web.ViewModels.GenericSheets.GenericSheetNewStudentViewModel
@{
    Layout = null;
}
<article class="container_6" id="divAddNewStudentFeorGeneric">
    <section id="block-content" class="grid_7">
        <div class="block-border">
            <div class="block-content form">
                <h1>Add New Student</h1>
                <ul style="display: none" id="genericStudent-error-messages" class="message error no-margin"></ul>
                <div class="columns" style="z-index: 1003">
                    <fieldset>
                        <legend>Class Infor</legend>
                        <div class="colx2-left">
                            <p>
                                <label>
                                    School Name
                                </label>
                                <span class="relative">
                                    @Html.TextBoxFor(m => m.SchoolName, new { @class = "full-width", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.SchoolId)
                                </span>
                            </p>

                        </div>
                        <div class="colx2-right">
                            <p>
                                <label>
                                    Class Name
                                </label>
                                <span class="relative">
                                    @Html.TextBoxFor(m => m.ClassName, new { @class = "full-width", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.ClassId)
                                </span>
                            </p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Student Details</legend>
                        @Html.HiddenFor(m => m.StudentId)
                        @Html.HiddenFor(m => m.DistrictId)
                        @Html.HiddenFor(m => m.BubbleSheetFileId)
                        <div class="colx2-left">
                            <p>
                                <label>
                                    First Name<span style="color: Red"> *</span>
                                </label>
                                <span>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "full-width first-focus" })
                                </span>
                            </p>
                            <p>
                                <label>
                                    Last Name<span style="color: Red"> *</span>
                                </label>
                                <span>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "full-width" })
                                </span>
                            </p>
                            <p>
                                <label>
                                    Gender
                                </label>
                                <span>
                                    @Html.DropDownListFor(m => m.GenderId, Model.Genders, "Select Gender", new { id = "selectGender", @class = "full-width" })
                                </span>
                            </p>
                            <p>
                                <label>
                                    @LabelHelper.GradeLabel
                                </label>
                                <span>
                                    @Html.DropDownListFor(m => m.GradeId, Model.Grades, "Select " + @LabelHelper.GradeLabel, new { id = "selectGrade", @class = "full-width" })
                                </span>
                            </p>
                        </div>
                        <div class="colx2-right">
                            <p>
                                <label>
                                    Middle Name
                                </label>
                                <span>
                                    @Html.TextBoxFor(m => m.MiddleName, new { @class = "full-width" })
                                </span>
                            </p>
                            <p>
                                <label>
                                    Student Local ID<span style="color: Red"> *</span>
                                </label>
                                <span>
                                    @Html.TextBoxFor(m => m.StudentLocalId, new { @class = "full-width" })
                                </span>
                            </p>
                            <p>
                                <label>
                                    Race
                                </label>
                                <span>
                                    @Html.DropDownListFor(m => m.RaceId, Model.Races, "Select Race", new { @id = "selectRace", @class = "full-width" })
                                </span>
                            </p>
                            <p>
                                <label>
                                    Student State ID
                                </label>
                                <span>
                                    @Html.TextBoxFor(m => m.StudentStateId, new { @class = "full-width" })
                                </span>
                            </p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Account Info</legend>
                        <div class="colx2-left">
                            <p>
                                <label>
                                    Password
                                </label>
                                <span>
                                    @Html.PasswordFor(m => m.Password, new { maxlength = 49, @class = "full-width" })
                                </span>
                            </p>
                        </div>
                        <div class="colx2-right">
                            <p>
                                <label>
                                    Confirm Password
                                </label>
                                <span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "full-width" })
                                </span>
                            </p>
                        </div>
                    </fieldset>
                    <button id="btnCreateStudentSubmit" type="button" name="Save">Create new student for this sheet</button>
                    <button id="btnCreateStudentCancel" type="button" class="grey">Cancel</button>
                </div>

            </div>
        </div>
    </section>
</article>

<style>
    .ui-widget-header {
        border: 0px solid #aaa !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .ui-widget-overlay {
        background: #2b2b2d !important;
    }
</style>

