@model LinkIt.BubbleSheetPortal.Web.ViewModels.GenericSheets.AssignGenericSheetViewModel
           
@{
    Layout = null;
}

<section class="grid_7">
    <div class="block-border" id="blockAssignStudent">
        <div class="block-content form">
            <h1>Assign and Grade</h1>
            <ul style="display: none" id="error-messages" class="message error"></ul>
            <fieldset class="grey-bg">
                <legend>Details</legend>
                @using (Html.BeginForm("SubmitGenericSheetAssignment", "GenericSheet", FormMethod.Post, new { id = "formAssignStudent" }))
                {
                    @Html.HiddenFor(x => x.BubbleSheetFileId)
                    <div class="columns">
                        <div class="colx3-left">
                            @if (string.IsNullOrEmpty(Model.ImageUrl))
                            {
                                <img src="@Url.Content("~/Content/images/noimage.png")" width="128px" height="170px"/>
                            }
                            else
                            {
                                <a href="@Model.ImageUrl" target="_new">
                                    <img src="@Model.ImageUrl" width="128px" height="170px" />
                                </a>
                            }
                            
                        </div>
                        <div class="colx3-right-double studentDetails">
                            <p><b>File Name:</b> @Model.FileName</p>
                            <p style="padding-top: 5px">
                                <input type="checkbox" name="IsAllStudentsChecked" id="chkShowAllStudents" value="true" />&nbsp;
                                <label for="chkShowAllStudents">Show All Students</label>
                            </p>
                            <p id="remainingStudentsList"><b>Student:</b> @Html.DropDownList("SelectedRemainingStudentsId", Model.RemainingStudents, "Select Student")</p>
                            <p id="allStudentsList" style="display: none"><b>Student:</b> @Html.DropDownList("SelectedAllStudentsId", Model.AllStudents, "Select Student")</p>
                        </div>
                    </div>
                    <button id="btnSubmitGenericSheetAssignment" class="float-right" type="submit">Submit</button>
                    <button id="btnCancelStudentAssignment" class="float-right grey" type="button">Cancel</button>
                }
            </fieldset>
        </div>
    </div>
</section>
<div id="divListBubbleSheetFileSub" style="display: none;"></div>
 