@model LinkIt.BubbleSheetPortal.Web.ViewModels.GenericSheets.GenericSheetViewModel
@{
    ViewBag.Title = "Assign Students";
}
<style type="text/css">
    .ui-widget-header {
        border: 0px solid #aaa !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog {
        background: transparent;
        border: 0;
    }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        width: 30px;
        height: 42px;
    }

    .ui-widget-overlay {
        background: #2b2b2d !important;
    }
</style>

@section stylesheet {
    <link rel="stylesheet" href="/Content/themes/BubbleSheetClassReview/Common.css">
}

<article class="container_12" id="mainContainer">
    <section class="grid_5">
        <div class="block-border">
            <div class="block-content form">
                <h1>Uploaded Files</h1>
                <div class="block-reviewer block-reviewer-cancel">
                    <a href="/BubbleSheetReview" class="big-button btn-reviewbbs">Back to Review Bubble Sheets</a>
                </div>
                @if (Model.HasNoFilesUploaded)
                {
                    <p>This test does not have any sheets uploaded. Please visit the <a href="@Url.Action("Grade", "BubbleSheet")">Grade</a> page to upload sheets.</p>
                }
                else
                {
                    <p>
                        Once you are done assigning students to sheets,
                        <a href="@Url.Action("Index", "BubbleSheetReviewDetails", new { id = Model.Ticket, classId = Model.ClassId })">
                            click here to view the bubble sheet details.
                        </a>
                    </p>
                    <p style="height: 5px"></p>
                    <div class="no-margin last-child">
                        <table id="dataTable" class="datatable table no-margin" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        File Name
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Student
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="clear-25"></div>
            <button id="btnSubmit" type="button" name="Assign" disabled="disabled">Assign and Grade</button>
        </div>
    </section>
    <div id="assignStudentContainer"></div>
</article>

<script type="text/javascript">
    $(function () {
        $('#generateTab').addClass('current');

        var options = {
            sAjaxSource: '@Url.Action("GetBubbleSheets")/?ticket=@Model.Ticket&classId=@Model.ClassId',
            bAutoWidth: true,
            iDisplayLength: 25,
            aaSorting: [[0, "desc"]],
            oLanguage: {
                sLengthMenu: "Show _MENU_",
            },
            aoColumns: [
                { sType: 'string', sName: 'InputFileName', bSearchable: true, bSortable: true, },
                { sType: 'string', sName: 'StudentName', bSearchable: true, bSortable: false, },
                { sType: 'integer', sName: 'BubbleSheetId', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'integer', sName: 'BubbleSheetFileId', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'integer', sName: 'PageNumber', bSearchable: false, bSortable: false, bVisible: false }
            ],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(1)', nRow).html(createAssignStudentLink(nRow, aData[3], aData[4]));
                return nRow;
            }
        };
        $("#dataTable").data("options", options);

        function createAssignStudentLink(row, bubbleSheetFileId, pageNumber) {
            var currentValue = $('td:eq(1)', row).html();
            if (currentValue == "") {
                //return '<a href="javascript:void(0);" class="assignStudent" bubbleSheetFileId="' + bubbleSheetFileId + '">Assign and Grade<a/>';
                var html = '<input type="checkbox" class="chkSelectPage" bubbleSheetFileId="' + bubbleSheetFileId + '" name="' + bubbleSheetFileId + '" value="' + bubbleSheetFileId + '" pageNumber="' + pageNumber + '" />';
                //return bubbleSheetFileId + ' - ' + pageNumber;
                return html;
            }
            return currentValue;
        }

        $("#dataTable").on('click', '.chkSelectPage', function () {
            var self = $(this);
            var isChecked = self.is(":checked");
            //alert(self.is(":checked") + ' ' + self.attr('pageNumber') + ' ' + self.val());
            if (isChecked) {
                $("input.chkSelectPage[pageNumber=" + self.attr('pageNumber') + "]").attr("disabled", true);
                self.removeAttr("disabled");
            } else {
                $("input.chkSelectPage[pageNumber=" + self.attr('pageNumber') + "]").removeAttr("disabled");
            }

            if ($("input.chkSelectPage:checked").length > 0) {
                $("#btnSubmit").removeAttr("disabled");
            } else {
                $("#btnSubmit").attr("disabled", true);
            }
        });

        $("#dataTable").on('click', '.assignStudent', function () {
            $('#assignStudentContainer').load('@Url.Action("AssignAndGradeStudent")', { bubbleSheetFileId: $(this).attr('bubbleSheetFileId') }, function (response, status) {
                if (status == "error") {
                    alert('An error has occured. Please refresh the page and try again.');
                }
            });
        });

        $("#btnSubmit").click(function () {
            ShowBlock($("#mainContainer"), "Loading");
            var bubbleSheetFileIdList = [];
            $("input.chkSelectPage:checked").each(function (index, item) {
                //alert($(item).val());
                bubbleSheetFileIdList.push($(item).val());
            });
            //alert(bubbleSheetFileIdList);
            var data = JSON.stringify({ bubbleSheetFileIdList: bubbleSheetFileIdList });
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("AssignAndGradeStudentMultiPage")',
                data: data,
                contentType: 'application/json',
                async: true
                //success: function (response) {
                //    //console.debug(response);
                //    $('#assignStudentContainer').html(response);
                //},
                //error: function (response) {
                //    console.debug(response);
                //    alert('An error has occured. Please refresh the page and try again.');
                //}
            })
            .done(function(response) {
                $('#assignStudentContainer').html(response);
                $("#mainContainer").unblock();
                })
            .fail(function(response) {
                console.debug(response);
                $("#mainContainer").unblock();
                if (response.status == '200') {
                    $('#assignStudentContainer').html(response.responseText);
                } else {
                    alert('An error has occured. Please refresh the page and try again.');
                }
            });
            @*$('#assignStudentContainer')
                .load('@Url.Action("AssignAndGradeStudentMultiPage")',
                data,
                function (response, status) {
                    if (status == "error") {
                        alert('An error has occured. Please refresh the page and try again.');
                    }
            });*@
        });

        $('#assignStudentContainer').on('submit', '#formAssignStudent', function (e) {
            e.preventDefault();
            removeErrorMessages('error-messages');
            ShowBlock($('#blockAssignStudent'), "Submitting Sheet for Grading");

            $.post($(this).attr('action'), $(this).serialize(), function (response) {
                if (response.success) {
                    var studentName = response.isAllStudentsSelected ? $('#SelectedAllStudentsId option:selected').text() : $('#SelectedRemainingStudentsId option:selected').text();
                    $('.assignStudent[bubbleSheetFileId="' + response.bubblesheetFileId + '"]').parent().html(studentName);
                    $('#assignStudentContainer').html('');
                } else {
                    addErrorMessages(response);
                }
                $('#blockAssignStudent').unblock();
            });
        });

        $('#assignStudentContainer').on('click', '#btnCancelStudentAssignment', function () {
            $('#assignStudentContainer').html('');
        });

        $('#assignStudentContainer').on('change', '#chkShowAllStudents', function () {
            $('#remainingStudentsList').toggle(!this.checked);
            $('#allStudentsList').toggle(this.checked);
        });
    });
</script>
