@model LinkIt.BubbleSheetPortal.Web.Models.ChangeName

@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        $('#change-name').submit(function (e) {
            e.preventDefault();
            if ($('#FirstName').val().length < 1) {
                $('#name-change').removeBlockMessages().blockMessage('First name must be at least 1 character.', { type: 'error' });
                return;
            }
            if ($('#LastName').val().length < 1) {
                $('#name-change').removeBlockMessages().blockMessage('Last name must be at least 1 character.', { type: 'error' });
                return;
            }
            $.ajax({
                url: '@Url.Action("ChangeName", "Account")',
                dataType: 'json',
                type: 'POST',
                data: $(this).serialize(),
                success: function (result) {
                    location.href = result.RedirectUrl;
                }
            });
        });
    });

    function clearTextFields() {
        $('#FirstName').val('');
        $('#LastName').val(''); 
    }
</script>

<div id="name-change" class="grid_6 g-settings lastVisibleSection">
    <div class="block-border" style="width:388px">
        @using (Html.BeginForm("ChangeName", "Account", FormMethod.Post, new { @class = " block-content form", id = "change-name" }))
        {
            <h1>Change Name</h1>
            <ul class="message no-margin warning">
                <li>After submitting, you will be logged out for the changes to take effect.</li>
            </ul>
            <p>
                @Html.LabelFor(x => x.FirstName)
                @Html.TextBoxFor(x => x.FirstName, new { @class = "full-width", id = "FirstName" })
            </p>
            <p>
                @Html.LabelFor(x => x.LastName)
                @Html.TextBoxFor(x => x.LastName, new { @class = "full-width", id = "LastName" })
            </p>
            <button type="submit" id="btnChangeName">Submit</button>
        }
    </div>
</div>
