@using LinkIt.BubbleSheetPortal.Web.Helpers;

@model LinkIt.BubbleSheetPortal.Web.ViewModels.ResetPasswordViewModel
           
@{
    Layout = "~/Views/Shared/_LogOnPartial.cshtml";
}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#recovery-by-email").on('change', function () {
            if ($(this).is(':checked')) {
                $(".recovery-by-email").show();
                $(".recovery-by-question").hide();
            } else {
                $(".recovery-by-email").hide();
                $(".recovery-by-question").show();
            }
        });

        $("#recovery-by-question").on('change', function () {
            if ($(this).is(':checked')) {
                $(".recovery-by-email").hide();
                $(".recovery-by-question").show();
            } else {
                $(".recovery-by-email").show();
                $(".recovery-by-question").hide();
            }
        });
    });
</script>
<section id="login-block" class="box-shadow">
    <div class="block-border">
        <div class="block-content">
            <div class="block-header">Reset Password</div>
            @if(Model.PasswordHasBeenReset)
            {
                <fieldset>
                    <p>
                        <label><span>Your password has been reset</span></label>
                    </p>

                    <a href="@Url.Action("LogOn")">
                        <button type="button" class="grey">Return to Login</button>
                    </a>
                </fieldset>
            }
            else if (!Model.SubmittedCorrectPasswordAnswer)
            {
                <div class="reset-password-form">
                @if (Model.HasEmailAddress)
                {
                    <div class="clear-10"></div>
                    <div class="reset-method-item">
                        <div class="reset-header">
                            <input type="radio" id="recovery-by-email" checked="checked" name="recovery-password" /> <label for="recovery-by-email">Option 1: Get reset password link via email </label>
                        </div>
                        <div class="clear-10"></div>
                        <div class="reset-body recovery-by-email">
                            @using (Html.BeginForm("SendTemporaryPassword", "Account", FormMethod.Post, new { @class = "form" }))
                            {
                                @Html.HiddenFor(x => x.UserName)
                                <div class="reset-body-message">
                                    <ul class="message">
                                        <li>
                                            TO ACCESS YOUR ACCOUNT, CLICK THE BUTTON BELOW. YOU WILL RECEIVE AN EMAIL WITH A LINK TO RESET YOUR PASSWORD. <b>NOTE:</b> IF YOU DO NOT RECEIVE THE EMAIL WITHIN <b>ONE HOUR</b>, PLEASE CHECK YOUR SPAM/JUNK MAIL FOLDER BEFORE SENDING ANOTHER RESET REQUEST.
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear-10"></div>
                                <div id="divCaptcha" style="margin-bottom:10px;margin-left:5px;display:block;" class="g-recaptcha recatcha" data-sitekey="6Lf7ggwTAAAAABY1PZKfYruOIvY8oZae2obJH0os" data-callback="enableBtnSend" data-expired-callback="recaptchaExpired"></div>
                                <div class="reset-button-content">
                                    <button type="submit" class="float-right" disabled id="btnSend">Send</button>
                                </div>
                                <div class="clear"></div>
                            }
                        </div>
                    </div>
                }
                @if (Model.HasSecurityQuestion)
                {
                    <div class="reset-method-item">
                        <div class="clear-10"></div>
                        <div class="reset-header" id="reset-header-HasSecurityQuestion">
                            <input type="radio" id="recovery-by-question" name="recovery-password" /> <label for="recovery-by-question">Option 2: Answer security question </label>
                        </div>
                        <div class="clear-10"></div>
                        <div class="reset-body recovery-by-question" style="display: none">
                            @using (Html.BeginForm("SubmitPasswordAnswer", "Account", FormMethod.Post, new { @class = "form" }))
                            {
                                @Html.HiddenFor(x => x.UserName)
                                @Html.ValidationSummary()

                                <div class="reset-body-message">
                                    <ul class="message">
                                        <li>
                                            TO CHANGE YOUR PASSWORD, ENTER THE CORRECT ANSWER, THEN CLICK THE BUTTON BELOW.
                                        </li>
                                    </ul>
                                    <div class="clear-20"></div>
                                    <div class="reset-sub-header">
                                        Security Question
                                    </div>
                                    <div class="clear-20"></div>
                                    <div class="reset-sub-description">
                                        @Model.PasswordQuestion
                                    </div>
                                    <div class="clear-20"></div>
                                    <div class="reset-sub-header">
                                        Security Answer
                                    </div>
                                    <div class="clear-10"></div>
                                    <div class="reset-sub-description">
                                        @Html.TextBoxFor(x => x.PasswordAnswer, new { @id = "passwordAnswer", @class = "full-width", @maxlength = "50" })
                                    </div>
                                    <div class="clear-10"></div>
                                    <div id="divCaptcha" style="margin-bottom:10px;margin-left:5px;display:none;" class="g-recaptcha recatcha" data-sitekey="6Lf7ggwTAAAAABY1PZKfYruOIvY8oZae2obJH0os"></div>
                                </div>
                                <div class="reset-button-content">
                                    <button id="btnPasswordAnswer" type="submit" class="float-right">Send</button>
                                </div>
                                <div class="clear"></div>
                            }
                        </div>
                    </div>

                    if (SessionManager.ShowCaptcha)
                    {
                        <script>
                            $(function () {
                                $('#divCaptcha').show();
                            });
                        </script>
                    }
                    if (ViewBag.IsSubmitPasswordAnswer != null && (bool)ViewBag.IsSubmitPasswordAnswer)
                    {
                        <script>
                            $(function () {
                                $("#recovery-by-email").prop('checked', false);
                                $("#recovery-by-question").prop('checked', true);
                                $(".recovery-by-email").hide();
                                $(".recovery-by-question").show();
                            });
                        </script>
                    }
                }
                </div>
                @Html.ActionLink("Cancel", "LogOn")
            }
            else
            {
                using (Html.BeginForm("SubmitPasswordReset", "Account", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.HiddenFor(x => x.UserName)
                    @Html.HiddenFor(x => x.PasswordAnswer)
                    @Html.ValidationSummary()
                    <fieldset class="grey-bg">
                        <legend>Submit new password</legend>
                        <p>
                            <label for="login"><span class="big">New Password</span></label>
                            @Html.PasswordFor(x => x.NewPassword, new { @class = "full-width" })
                        </p>
                        <p>
                            <label for="pass"><span class="big">Confirm New Password</span></label>
                            @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "full-width" })
                        </p>
                        <button type="submit" class="float-right">Submit</button>
                    </fieldset>
                    @Html.ActionLink("Cancel", "LogOn")
                }

                
            }
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#divCaptcha iframe").attr("height", "100");
        }, 2000);
    });

    function enableBtnSend() {
        var capcharResponse = $("#g-recaptcha-response").val();
        $("#btnSend").enableBt();
    }

    function recaptchaExpired() {
        $('#btnSend').disableBt();
    }

    $("#btnSend").on('click', function (e) {
        e.preventDefault();
        $('#btnSend').disableBt();
        $('#login-block').removeBlockMessages().blockMessage('Please wait, sending request change password...', { type: 'loading' });
        var username = $("#UserName").val();
        $.get('SendTemporaryPassword?username=' + username, function (res) {
            if (res.type === 'error') {
                $('#btnSend').enableBt();
                $('#login-block').removeBlockMessages().blockMessage("Sorry the mail couldn't be sent. Please try again later.", { type: 'error' });
            } else {
                window.location.href = window.location.origin + '/Account/LogOn?hasTemporaryPassword=true';
            }
        });

    })
</script>



