@model LinkIt.BubbleSheetPortal.Models.SSO.SSOUserDistrictRole
@{
    Layout = null;
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Select District</title>
    <meta charset="utf-8">
    <meta name="robots" content="none">
    <!-- Global stylesheets -->
    <link href="/Content/themes/Constellation/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/Content/themes/Constellation/css/common.css" rel="stylesheet" type="text/css">
    <link href="/Content/themes/Constellation/css/form.css" rel="stylesheet" type="text/css">
    <link href="/Content/themes/Constellation/css/standard.css" rel="stylesheet" type="text/css">
    <link href="/Content/themes/Constellation/css/special-pages.css" rel="stylesheet"
          type="text/css">
    <!-- Custom styles -->
    <link href="/Content/themes/Constellation/css/simple-lists.css" rel="stylesheet"
          type="text/css">
    <!-- Favicon -->
    @Html.Partial("_Favicons")
    <!-- Generic libs -->
    <script type="text/javascript" src="/Content/themes/Constellation/js/html5.js"></script>
    <!-- this has to be loaded before anything else -->
    @LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.jQueryUpgrade()
    <!-- Template core functions -->
    <script type="text/javascript" src="/Content/themes/Constellation/js/common.js"></script>
    <script type="text/javascript" src="/Content/themes/Constellation/js/standard.js"></script>
    <!--[if lte IE 8]><script type="text/javascript" src="/Content/themes/Constellation/js/standard.ie.js"></script><![endif]-->
    <script type="text/javascript" src="/Content/themes/Constellation/js/jquery.tip.js"></script>
    <!-- Template custom styles libs -->
    <script type="text/javascript" src="/Content/themes/Constellation/js/list.js"></script>
    <style>
        li {
            padding: 16px;
        }

            li:hover {
                background: #cc7e1a;
            } 
            
            li a {
                font-size: 14pt;
                color:black;
            }
    </style>
</head>
<!-- the 'special-page' class is only an identifier for scripts -->
<body class="special-page error-bg blue dark">
    <!-- The template uses conditional comments to add wrappers div for ie8 and ie7 - just add .ie or .ie7 prefix to your css selectors when needed -->
    <!--[if lt IE 9]><div class="ie"><![endif]-->
    <!--[if lt IE 8]><div class="ie7"><![endif]-->
    <section id="error-desc">
        <ul class="action-tabs with-children-tip children-tip-left">
            <li><a id="btnLinkHomePage" href="/" title="Go home"><img src="/Content/themes/Constellation/images/icons/fugue/navigation-180.png" width="16" height="16"></a></li>
        </ul>
        <div class="block-border">
            <div class="block-content">
                <h1>Hmmm</h1>
                <div class="block-header">You have more than one district</div>
                <h2>Would you like to working with..?</h2>
               <div>
                   <ul>
                       @foreach (var item in Model.ListDistrictRoles)
                       {
                           var action = string.Format("/Account/SSOBridgeLogout?props={0}!$!${1}!$!${2}", Model.UserName, item.DistrictID, "");
                           var fullUrl = ViewBag.SSOLogoutUrl + action;
                           <li>
                               <a href="@fullUrl">@item.DistrictName</a>
                               @*@Html.ActionLink(@item.DistrictName, "SSOChooseDistrict", "Account", new { userName = Model.UserName, districtID = item.DistrictID }, new { @class = "css-class" })*@
                           </li>
                       }
                   </ul>
               </div>
            </div>
        </div>
    </section>
    <script>
    </script>
    <!--[if lt IE 8]></div><![endif]-->
    <!--[if lt IE 9]></div><![endif]-->
</body>
</html>
