@model LinkIt.BubbleSheetPortal.Models.SGO.ViewSGOAuditTrailsDTO
@{
    ViewBag.Title = "SGO AuditTrail";
}
@*@MvcHtmlString.Create(
            Bundle.Css()
                .Add(@Url.Content("~/Content/css/custom.css"))
                .Add(@Url.Content("~/Content/css/sgohome.css"))
                .Render("/Content/themes/Constellation/css/sgo_audittrail_combined_#.css")
             )*@
@*@MvcHtmlString.Create(
    Bundle.JavaScript()
        .Add("/Content/themes/AssignmentRegrader/js/css_browser_selector.js")
        .Add("/Scripts/knockout-3.0.0.js")
            .Render("/Content/themes/Constellation/js/sgo_audittrail_combined_#.js")
    )*@

@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.StyleSGOAuditBundle()
@LinkIt.BubbleSheetPortal.Web.Helpers.BundleHelper.ScriptSGOAuditBundle()

<article class="container_12">
    <section class="grid_12">
        @Html.Partial("_AuditTrailList")
    </section>
</article>