@model LinkIt.BubbleSheetPortal.Web.ViewModels.QtiBankPublishToSchoolViewModel
<article class="container_12 d-flex justify-content-center">
    <section class="grid_7 m-0">
        <div class="block-border">
            <div class="block-content form p-0">
                @using (Html.BeginForm("PublishToSchool", "ItemLibraryManagement", FormMethod.Post, new { id = "publishToSchoolForm", @class = "form" }))
                {
                <fieldset class="p-4 m-0">
                    <p class="title-large">Choose School</p>
                    <ul style="display: none" id="error-messages" class="message error my-4"></ul>
                    <ul style="display: none" id="success-message" class="message success my-4">
                        <li>The bank has been published to the School.</li>
                    </ul>

                    <div class="column">
                        @if (ViewBag.IsPublisher || ViewBag.IsNetworkAdmin)
                        {
                            <div>
                                <label>State</label>
                                @Html.DropDownListFor(x => x.StateId, Model.AvailableStates, new { id = "selectStateOnPopup", @class = "full-width" })
                            </div>
                            <div style="margin-top: 16px">
                                <label>@LabelHelper.DistrictLabel</label>
                                <div class="block-text-name" style="width: 100% !important">
                                    @Html.DropDownListFor(x => x.DistrictId, Model.AvailableDistricts, new { id = "selectDistrictOnPopup", @class = "full-width" })
                                    <div class="box-select">
                                        <span class="overlay"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        <div style="margin-top: 16px">
                            <label>School</label>
                            @Html.DropDownListFor(x => x.SchoolId, Model.AvailableSchools, new { id = "selectSchoolOnPopup", @class = "full-width" })
                        </div>
                    </div>
                </fieldset>
                    <div class="btn-wrapper-publish-school">
                        <button id="btnCancel" type="button" onclick="displayListSchoolView()" class="btn-cancel">Cancel</button>
                        <button id="btnSubmit" type="button" name="Save" class="btn-red">Publish</button>
                    </div>
                }
            </div>
        </div>
    </section>
</article>

<style>
    .btn-wrapper-publish-school {
        background: var(--navyColor);
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .btn-cancel {
        display: flex;
        align-items: center;
        padding: 11px 32px;
        font-weight: 900;
        cursor: pointer;
        width: fit-content;
        height: 48px;
        box-sizing: border-box;
        border: 0;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        text-decoration: none;
        color: var(--white) !important;
    }
</style>

<script type="text/javascript">
    $(function () {
        InitData();
        $('#selectDistrictOnPopup').marquee();
        $('#selectStateOnPopup').change(function () {
            if ($(this).val() != 'select') {
                populateDistrictsOnPopup();
            }
            else {
                $('#selectDistrictOnPopup').empty();
            }
        });
        $('#selectDistrictOnPopup').change(function () {
            if ($(this).val() != 'select') {
                populateSchoolsOnPopup();
            }
            else {
                $('#selectSchoolOnPopup').empty();
            }
        });
    });

    function InitData() {
        if ('@ViewBag.IsPublisher' == 'True' || '@ViewBag.IsNetworkAdmin' === 'True') {
            populateStatesOnPopup();
        } else {
            populateSchoolsOnPopup();
        }
    }

    function populateStatesOnPopup() {
        var stateSelect = $('#selectStateOnPopup');
        stateSelect.empty();
        if ('@ViewBag.IsPublisher' === 'True') {
            $.get('@Url.Action("GetStates", "PopulateStateDistrict")', function(response) {
                addDefaultOption(stateSelect, "State");
                addSelectListItems(stateSelect, response);
            });
        }
        if ('@ViewBag.IsNetworkAdmin' === 'True') {
            $.get('@Url.Action("GetStatesForNetworkAdmin", "PopulateStateDistrict")', function (response) {
                addDefaultOption(stateSelect, "State");
                addSelectListItems(stateSelect, response);
            });
        }
    }

    function populateDistrictsOnPopup() {
        var districtSelect = $('#selectDistrictOnPopup');
        districtSelect.empty();

        var selectedStateId = $('#selectStateOnPopup').val();
        $.get('@Url.Action("GetUnPublishedDistrictsByState")', { stateId: selectedStateId }, function (response) {
            addDefaultOption(districtSelect, "@LabelHelper.DistrictLabel");
            addSelectListItems(districtSelect, response);
        });
    }

    function populateSchoolsOnPopup() {
        var schoolSelect = $('#selectSchoolOnPopup');
        schoolSelect.empty();

        var selectedDistrictId = '0';
        if ($('#selectDistrictOnPopup').length > 0) {
            if ($('#selectDistrictOnPopup').val() != 'select') {
                selectedDistrictId = $('#selectDistrictOnPopup').val();
            }
        } else {
            selectedDistrictId = '@ViewBag.DistrictId';
        }

        $.get('@Url.Action("GetUnPublishedSchoolsByDistrict")', { districtId: selectedDistrictId }, function (response) {
            addDefaultOption(schoolSelect, "School");
            addSelectListItems(schoolSelect, response);
        });
    }

    $('#btnSubmit').click(function () {
        $('#btnSubmit').disableBt();
        $('#success-message').hide();
        $.ajax({
            url: '@Url.Action("PublishToSchool")',
            type: 'POST',
            data: $("#publishToSchoolForm").serialize(),
            success: function (response) {
                if (response.Success != false) {
                    $('#error-messages').hide();
                    $('#success-message').show();
                    //clearInputFields();
                    setTimeout(function () { displayListSchoolView(); }, 2000);
                } else {
                    addErrorMessages(response);
                    $('#error-messages').addClass('no-margin');
                }
                $('#btnSubmit').enableBt();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    function clearInputFields() {
        $('.full-width').val('');
    }

    function displayListSchoolView() {
        $('#shareSchoolDiv').hide();
        $('#listSchoolDiv').show();
        ui.dataTablePublishedSchool.fnDraw();
    }
</script>
