@model LinkIt.BubbleSheetPortal.Web.ViewModels.UserGuide.UserGuideModel
@{
    ViewBag.Title = "User Guide";
}
<article class="container_12">
    <section class="grid_12">
        <div class="block-border">
            @using (Html.BeginForm("VerifySecurityCode", "UserGuide", FormMethod.Post, new { id = "frmUserGuide", @class = "block-content form bubbleSheetSelector" }))
            {
                <h1>Verify email</h1>
                if (Model.IsError && !string.IsNullOrWhiteSpace(Model.Message))
                {
                    <text><ul id="error-messages" class="message error"><li>@Model.Message</li></ul></text>
                }
                else
                {
                    <text><ul id="error-messages" class="message success"><li>@Model.Message</li></ul></text>
                }

                <fieldset id="publisherContent" class="grey-bg">
                    <div class="columns">
                        <div class="colx2-left">
                            <p>
                                <label>Security Code</label>
                                <input id="SecurityCode_Code" name="SecurityCode.Code" type="text" value='@(Model.SecurityCode == null ? "" : Model.SecurityCode.Code)'>
                                <button type="button" class="blue" id="btnIssueCode" title="Click to send new security code" style="margin-left: 10px;">Resend Security Code</button>
                            </p>
                            <button type="button" class="blue" id="btnVerifySecurityCode">Submit Code</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </section>
</article>
<script src="/Scripts/jquery.alphanumeric.js"></script>
<script type="text/javascript">

    $(function() {
        $('#btnIssueCode').click(function(e) {
            ShowBlock($('#frmUserGuide'), 'Loading');
            e.preventDefault();
            $('#frmUserGuide').attr('action', '@Url.Action("IssueSecurityCode")');
            $('#frmUserGuide').submit();
        });

        $('#btnVerifySecurityCode').click(function(e) {
            ShowBlock($('#frmUserGuide'), 'Loading');
            e.preventDefault();
            $('#frmUserGuide').attr('action', '@Url.Action("VerifySecurityCode")');
            $('#frmUserGuide').submit();
        });

        $('#SecurityCode_Code').alphanumeric();
        $('#SecurityCode_Code').focus();
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#main-nav li a[href='@Url.Action("Index", "UserGuide")']").parent().addClass("current");
        $("#main-nav li a[href='@Url.Action("Index", "UserGuide")']").parent().parent().parent().addClass("current");
    });
</script>