@using LinkIt.BubbleSheetPortal.Common;
@{
    ViewBag.Title = "Online Testing";

    var cookie = Request.Cookies[Constanst.LKARCookie];
    var token = string.Empty;
    if (cookie != null) { token = cookie.Value; }
}
<script src="@Url.Content("~/Scripts/jquery.listSplitter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/FeLibs/jquery-coolfieldset/js/jquery.coolfieldset.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Qtip/jquery.qtip.js")"></script>
<link rel="stylesheet" href="/Scripts/Qtip/jquery.qtip.css">

<div class="container_12">
    <section class="grid_12">
        <div class="block-border">
            <div class="block-content form">
                <h1>Online Testing</h1>
                <div class="no-margin last-child u-m-t-40">
                    <table id="classDataTable" class="datatable table table-assignment no-margin" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Assigned
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Test
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Teacher
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Class
                                </th>
                                <th scope="col" style="text-align: center;">
                                    <span class="column-sort">
                                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                    </span>
                                    Action
                                </th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                                <th scope="col" style="display: none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="height: 60px;"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <input id="hdfDistrictId" value="@ViewBag.DistrictId" type="hidden" />
        <input id="hdfEnableSameTab" value="@ViewBag.EnableSameTab" type="hidden" />
    </section>
</div>
<script type="text/javascript">
    $(function () {
        LoadTesClassAssignmentToTable();
    });
    function LoadTesClassAssignmentToTable() {
        var options = {
            bServerSide: true,
            sServerMethod: "POST",
            bDestroy: true,
            bProcessing: false,
            sAjaxSource: '@Url.Action("GetTestClassAssignmentsForStudent")',
            iDisplayLength: 25,
            aoColumns: [
                { sType: 'string', sName: 'AssignmentDate', bSearchable: true, bSortable: true, bVisible: true, sWidth: '78px' },
                { sType: 'string', sName: 'TestName', bSearchable: true, bSortable: true, bVisible: true, sWidth: '125px' },
                { sType: 'string', sName: 'TeacherName', bSearchable: true, bSortable: true, bVisible: true, sWidth: '75px' },
                { sType: 'string', sName: 'ClassName', bSearchable: true, bSortable: true, bVisible: true, sWidth: '90px' },
                { sType: 'string', sName: 'Code', bSearchable: true, bSortable: true, bVisible: true, sWidth: '82px' },
                { sType: 'string', sName: 'Status', bSearchable: false, bSortable: false, bVisible: false},
                { sType: 'string', sName: 'RedirectUrl', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'int', sName: 'AssignmentModifiedUserID', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'AssignmentFirstName', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'AssignmentLastName', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'bool', sName: 'IsValid', bVisible: false },
                { sType: 'string', sName: 'ErrorMsg', bSearchable: false, bSortable: false, bVisible: false },
                { sType: 'bool', sName: 'IsTutorialMode', bSearchable: false, bSortable: false, bVisible: false }
            ],
            aaSorting: [[0, "desc"],[1,"asc"]],
            fnRowCallback: function (nRow, aData) {
                $('td:eq(1)', nRow).html(aData[1]);
                $('td:eq(2)', nRow).html(aData[2].replace(',', ''));
                $('td:eq(3)', nRow).html(aData[3]);

                var assignmentUser = "<span class='tooltipBox'>" + displayDateWithFormat(aData[0]) + "</span>";
                $('td:eq(0)', nRow).html(assignmentUser);

                var actionName = 'Continue';
                if (aData[5] == 'NS') {
                    actionName = 'Launch';
                }

                var isValidRow = aData[10];

                var hyperLinkCode = '<a target="_blank" href="' + aData[6] + '">' + actionName + '</a >';

                if (isValidRow === "False") {
                    hyperLinkCode = actionName;
                    var errorMsg = aData[11];
                    $('td:eq(4)', nRow).html(hyperLinkCode);

                    $('td:eq(4)', nRow).qtip({
                        overwrite: false,
                        content: {
                            text: errorMsg
                        },
                        position: {
                            my: 'bottom center',
                            at: 'top center'
                        }
                    });

                } else {
                    var enableSameTab = $('#hdfEnableSameTab').val();
                    if (enableSameTab === 'true')
                        hyperLinkCode = '<a href="' + aData[6] + '">' + actionName + '</a >';

                    var isTutorialMode = aData[12];

                    if (isTutorialMode === 'True') {
                        hyperLinkCode += ' (Tutorial Mode)';
                    }

                    $('td:eq(4)', nRow).html(hyperLinkCode);
                }
                return nRow;
            },
            fnPreDrawCallback: function () {
                ShowBlock($('#classDataTable'), 'Loading');
                $('#filterSheets').attr("disabled", "disabled");
                return true;
            },
            fnDrawCallback: function () {
                $('#classDataTable').unblock();
                $('#filterSheets').removeAttr("disabled");

                //Tipped.create('.tooltipBox');
                if ($(".dataTables_empty")[0]) {
                    $('#btnExportTestAssignment').addClass("is-disabled");
                } else {
                    $('#btnExportTestAssignment').removeClass("is-disabled");
                }

                return true;
            },
            fnInitComplete: function () {
                //$('.block-footer').append('<span><b>*NS = Not Started, IP = In Progress</b></span>');
            }
        };
        $("#classDataTable").data("options", options);
    }

    function ApplyFilter() {
        var dataTable = $('#classDataTable').dataTable();
        dataTable.fnDraw();
    }
</script>
