@using DevExpress.Data.Linq
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.SetAttainmentViewModel
<style>
    .table-sgo-new input[type="text"][name="txtGoalValue"] {
        width: 40px;
    }

    .table-sgo-new label {
        font-weight: bold;
    }
</style>

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004' id="divIdSetAttainmentTop">
        <div class='block-content' style='z-index: 1004;'>
            <input type="hidden" value="@Model.SgoAttainmentGoal.SGOAttainmentGoalId" id="sgoAttainmentId"/>
            <h1>@Model.SgoAttainmentGoal.Name</h1>
            <div>
                <div style="width: 100%; min-height: 60px">
                    <table class="table-sgo-new">
                        <thead>
                            <tr>
                                <th style="width: 150px; text-align: left;">Group</th>
                                <th style="text-align: left;">Goal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sgoGroup in Model.SgoGroups)
                            {
                                <tr>
                                    <td>
                                        <label>@sgoGroup.Order - @Html.Raw(sgoGroup.Name)</label>
                                    </td>
                                    <td>
                                        <label>@LinkIt.BubbleSheetPortal.Common.StringExtensions.ParseSgoComparisonTypeToHtmlCharacter(Model.SgoAttainmentGoal.ComparisonType)</label>
                                        @{
                                            var goalValue = Model.SgoAttainmentGroups.Any(x => x.SGOGroupId == sgoGroup.SGOGroupID) ?
                                                Model.SgoAttainmentGroups.FirstOrDefault(x => x.SGOGroupId == sgoGroup.SGOGroupID).GoalValue.GetValueOrDefault()
                                                : Model.SgoAttainmentGoal.DefaultGoal;
                                        }
                                        <input type="text" name="txtGoalValue" data="@sgoGroup.SGOGroupID" value="@goalValue" />
                                        @if (Model.TargetScoreType == 1)
                                        {
                                            <span>% of students in this group will achieve a score of
                                                <b>
                                                    &ge; @sgoGroup.TargetScore
                                                </b>
                                                on the post assessment
                                            </span>
                                        }else if (Model.TargetScoreType == 2)
                                        {
                                            <span>% of students will improve by
                                                <b>
                                                    &ge; @sgoGroup.TargetScore
                                                </b>
                                                on the post assessment
                                            </span>
                                        }else if (Model.TargetScoreType == 3)
                                        {
                                            <span>% of students will achieve
                                                <b>
                                                    &ge; @sgoGroup.TargetScore
                                                </b>
                                                out of <b id="idToBeCreatedTotalPointPossible-@sgoGroup.SGOGroupID">@Model.TotalPointsPossibleOfPostAssessmentValue</b> on the post assessment
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <div style="margin-top: 20px; text-align: center;">
                    <button id="btnSaveAttainment" type="button">Save @Model.SgoAttainmentGoal.Name Goals</button>
                    <button type="button" onclick="closePopup('popupSetAttainment')" class="grey">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function() {
        $('input[name="txtGoalValue"]').numeric({ decimal: false, negative: false });
         
        if ($("#idQuantifiableType3").is(":checked") && $('#idScorePostAssessmentToBeCreated').length > 0) {
            $('b[id^="idToBeCreatedTotalPointPossible-"]').html($('#idScorePostAssessmentToBeCreated').val());
        }
    });
</script>