@model List<LinkIt.BubbleSheetPortal.Models.SGO.SGOGroup>
<style>
    .table-sgo-new input[type="text"][name="txtGroupTargetScore"] {
        width: 60px;
    }

    .table-sgo-new {
        font-weight: bold;
    }
</style>

<section style='z-index: 2004'>
    <div class='block-border' style='z-index: 2004' id="divIdSetTargetScoreTop">
        <div class='block-content' style='z-index: 1004;'>
            <h1>Setup Target Scores</h1>
            <div>
                <div style="width: 100%; min-height: 60px">
                    <table class="table-sgo-new">
                        <thead>
                            <tr>
                                <th style="width: 150px; text-align: left;">Group
                                </th>
                                <th style="text-align: left;">
                                    @if (ViewBag.TargetScoreType == 4)
                                    {
                                        <text>
                                            Manual Scoring Target
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            Manual Target Score(Minimum Expectation) 
                                        </text>    
                                    }
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sgoGroup in Model)
                            {
                                <tr>
                                    <td>
                                        <p>@sgoGroup.Order - @Html.Raw(sgoGroup.Name)</p>
                                    </td>
                                    <td>
                                        @if (ViewBag.TargetScoreType == 4)
                                        {
                                            <input type="text" name="txtGroupTargetScore" data="@sgoGroup.SGOGroupID" value="@sgoGroup.TargetScoreCustom" style="width: 320px;"/>        
                                        }
                                        else
                                        {
                                            <text>&ge;</text>
                                            <input type="text" name="txtGroupTargetScore" data="@sgoGroup.SGOGroupID" value="@string.Format("{0:0.###}", sgoGroup.TargetScore)" />        
                                        }

                                        <label id="lblToBeCreated-@sgoGroup.SGOGroupID"></label>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <div style="margin-top: 20px; text-align: center;">
                    <button id="btnSaveTargetScore" type="button">Save Target Scores</button>
                    <button type="button" onclick="closePopup('popupSetTargetScore')" class="grey">Close</button>
                </div>

            </div>
        </div>
    </div>
</section>


<script>
    $(function () {
        @if (ViewBag.TargetScoreType != 4)
        {
            <text>
                $('input[name="txtGroupTargetScore"]').numeric({ decimal: ".", negative: false, decimalPlaces: 3 });
            </text>            
        }

        if ($("#idQuantifiableType3").is(":checked")) {
            if ($('#idScorePostAssessmentToBeCreated').length > 0) {
                $('label[id^="lblToBeCreated-"]').html('/' + $('#idScorePostAssessmentToBeCreated').val());
            } else {
                if ($('#idPointPossiblePostAssessmentLinkit').val() != '')
                    $('label[id^="lblToBeCreated-"]').html('/' + $('#idPointPossiblePostAssessmentLinkit').val());
                else
                    $('label[id^="lblToBeCreated-"]').html('');
            }
        }
    });
</script>
