@using LinkIt.BubbleSheetPortal.Models

@model Class
@{
    ViewBag.Title = "Edit Class";
}

<article class="container_12">
    <section class="grid_7">
        <div class="block-border">
            <div class="block-content form">
                <h1>Edit Class</h1>
                <ul style="display: none" id="error-messages" class="message error"></ul>
                <ul style="display: none" id="success-message" class="message success">
                    <li>Class successfully updated.</li>
                </ul>
                @using (Html.BeginForm("EditClass", "RegisterClasses", FormMethod.Post, new { id = "editClassForm", @class = "form" }))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Class Detail</legend>
                        <div class="columns">
                            <p>
                                <label>Group/Course Name</label>
                                <span class="relative">
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.TextBoxFor(model => model.Course, new { @class = "full-width", tabindex = "1", maxlength = 49 })
                                </span>
                            </p>
                            <p>
                                <label>Section (optional)</label>
                                <span class="relative">
                                    @Html.TextBoxFor(model => model.Section, new { @class = "full-width", tabindex = "2", maxlength = 49 })
                                </span>
                            </p>       
                            <p style="font-weight: bold">
                                <span id="className"></span>
                            </p>
                        </div>
                    </fieldset>                    
                    <p>
                        <button id="btnSubmit" type="submit" name="Save">Submit</button>
                        <button id="btnCancel" type="button" class="grey">Cancel</button>
                    </p>
                }
            </div>
        </div>
    </section>
</article>
<script type="text/javascript">
    $(function() {
        $('.dataadmin').addClass('current');
        $('#dtaRegisterClasses').addClass('current');
    });
    $('#editClassForm').submit(function (event) {
        event.preventDefault();
        $('#btnSubmit').disableBt();

        $.ajax({
            url: $(this).target,
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {
                if (response.Success != false) {
                    $('#error-messages').hide();
                    $('#success-message').show();
                }
                else {
                    addErrorMessages(response);
                    $('#success-message').hide();
                }
                $('#btnSubmit').enableBt();
            },
            failure: function (response) {
                alert(response);
            }
        });
    });
    
    $('#Course, #Section').keyup(function () {
        if ($('#Course').val().trim() != '' || $('#Section').val().trim() != '') {
            $('#className').text('Class: ' + $('#Course').val() + ' ' + $('#Section').val());
        } else {
            $('#className').text('');
        }
    });

    $('#btnCancel').click(function () {
        location.href = '@Url.Action("Index")';
    });
</script>