@model LinkIt.BubbleSheetPortal.Web.ViewModels.TLDSDigital.TldsFormSection3ViewModel

<div class="tlds-section">
    <h2 class="tlds-print-heading tlds-print-line u-text-transform-normal">Section 3: The family</h2>
    <p>This section has been completed by the child's family (parent/guardian).</p>

    <table>
        <tbody>
            <tr>
                <td class="u-w-180">Name of person filling in this form:</td>
                <td>@Model.GuardianName</td>
            </tr>
            <tr>
                <td class="u-w-180">Relationship to the child:</td>
                <td>@Model.Relationship</td>
            </tr>
            <tr>
                <td class="u-w-180">What is your preferred language?</td>
                <td>@Model.PreferredLanguage</td>
            </tr>
            <tr>
                <td class="u-w-180">Is your child Aboriginal and or Torres Strait Islander  </td>
                <td>
                    <label for="c-3-3" class="tlds-checkbox">
                        <input type="checkbox" @Html.Raw(Model.IsAborigial.HasValue && Model.IsAborigial.Value ? "checked" : "") id="c-3-3">
                        <span>Yes</span>
                    </label>
                    <label for="c-3-4" class="tlds-checkbox">
                        <input type="checkbox" @Html.Raw(!Model.IsAborigial.HasValue || !Model.IsAborigial.Value ? "checked" : "") id="c-3-4">
                        <span>No</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="u-w-180">Does your child have any siblings or close relatives/kin attending the same primary school? </td>
                <td>
                    <label for="c-3-1" class="tlds-checkbox">
                        <input type="checkbox" @Html.Raw(Model.HaveSiblingInSchool.HasValue && Model.HaveSiblingInSchool.Value ? "checked" : "") id="c-3-1">
                        <span>Yes</span>
                    </label>
                    <label for="c-3-2" class="tlds-checkbox">
                        <input type="checkbox" @Html.Raw(!Model.HaveSiblingInSchool.HasValue || !Model.HaveSiblingInSchool.Value ? "checked" : "") id="c-3-2">
                        <span>No</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="u-w-180">If yes, please list their name/s and current grade level/s:</td>
                <td>@Model.NameAndGradeOfSibling</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <tr>
                <td class="u-w-180">What are your hopes, wishes or goals for your child at school? (Prompts: making friends; being happy; learning to read; write; etc.)</td>
                <td>@Model.Wishes</td>
            </tr>
            <tr>
                <td class="u-w-180">What would you like to know about school? (Prompts: what to bring on the first day? Teacher's name?)</td>
                <td>@Model.InformationSchool</td>
            </tr>
            <tr>
                <td class="u-w-180">How do you think your child will settle into school? How can we help?</td>
                <td>@Model.HelpInformation</td>
            </tr>
            <tr>
                <td class="u-w-180">Currently my child is interested in...</td>
                <td>@Model.Interested</td>
            </tr>
            <tr>
                <td class="u-w-180">Overall I believe my child responds and learns best when...</td>
                <td>@Model.ConditionImprovement</td>
            </tr>
            <tr>
                <td class="u-w-180">Is there anything else you would like your child's new teacher to know about your child?</td>
                <td>@Model.OtherInformation</td>
            </tr>
        </tbody>
    </table>
</div>
