@model LinkIt.BubbleSheetPortal.Web.ViewModels.TLDSDigital.TldsFormSection2ViewModel
<style>
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="tlds-section">
    <h2 class="tlds-print-heading tlds-print-line u-text-transform-normal">Section 2: The child</h2>
    <p>This section has been completed by the child with support from an adult they know and feel comfortable with. </p>
    <table>
        <tbody>
            <tr>
                <td class="u-w-200">Name of the person assisting <b>@Model.FullName</b> to complete this section: </td>
                <td>@Model.GuardianName</td>
            </tr>
            <tr>
                <td class="u-w-200">Relationship to the child:</td>
                <td>@Model.Relationship</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <tr>
                <td class="u-w-210">
                    <span class="u-font-size-18 u-text-italic">At home and/or Kindergarten/Child care my favourite thing is:</span>
                </td>
                <td>@Model.Favourite</td>
            </tr>
            <tr>
                <td class="u-w-210">
                    <span class="u-font-size-18 u-text-italic">I think I am really good at:</span>
                </td>
                <td>@Model.Strengths</td>
            </tr>
            <tr>
                <td class="u-w-210">
                    <span class="u-font-size-18 u-text-italic">Sometimes I might need help to:</span>
                </td>
                <td>@Model.Weaknesses</td>
            </tr>
            <tr>
                <td class="u-w-210">
                    <span class="u-font-size-18 u-text-italic">Things that I am curious about:</span>
                </td>
                <td>@Model.Interested</td>
            </tr>
            <tr>
                <td class="u-w-210">
                    <span class="u-font-size-18 u-text-italic">I think school will be:</span>
                </td>
                <td>@Model.Expected</td>
            </tr>
        </tbody>
    </table>

    <div class="tlds-section">
        <div class="tlds-drawing">
            <strong class="u-font-size-18 u-text-italic">Child's drawing:</strong>
            @if (!string.IsNullOrEmpty(Model.Drawing))
            {
                <div class="tlds-box">
                    <img src="@Model.Drawing" class="tlds-box-img img-center">
                </div>
            }
        </div>
    </div>
</div>
