@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel

<div class="tlds-section">
    <h2 class="tlds-print-heading tlds-print-line u-text-transform-normal">Section 4: Sharing the Transition Learning and Development Statement</h2>

    @*<div class="tlds-alert u-text-italic">
        <p>The Transition Learning and Development Statement summarises your child's learning before they begin
        school and provides specific strategies for school teachers and Outside School Hours Care (OSHC)
        educators to support their continuity of learning in the school and OSHC setting.</p>
        <p>Please read the 'Guidelines to help families complete the Transition Learning Statement' for more
        information about the Transition Statement; how to fill in your part of the Transition Statement and what
        happens to the Transition Statement once it has been completed.</p>
        <p>The section for the family (section 3), although optional, is very useful for the school, so we encourage all
        families to complete this section.</p>
    </div>

    <p>Please read the information your child's early childhood educator has provided in Section 1.1 and 1.2 (where
    applicable). The information that the early childhood educator has written about your child is a professional evaluation
    of your child's learning and development, however if you have any concerns please discuss these with the educator.
    This information will be retained by the early childhood service, school and Outside School Hours Care (OSHC)
    service (if applicable) in accordance with Victorian privacy laws.</p>
    <p>Your child's early childhood service will compile the various sections of this Transition Statement upon receiving your
    input and provide you with a copy</p>
    <p>Your child's early childhood service will share relevant information to support your child's transition with your child's
    school (and if applicable the OSHC service).</p>
    <p>If you choose not to provide input your child's early childhood educator will share the completed sections with your
    child's school and OSHC service (where applicable).</p>
    <p>If you want to opt out of having relevant information shared with your child's school or OSHC service (where
    applicable) to support your child's transition, please speak to your child's early childhood educator. Research
    indicates sharing this information supports a successful transition to school.</p>*@

<div class="tlds-alert u-text-italic">
    The information below&#x2000;was completed by the early childhood educator
</div>
    <table class="tlds-table-special-1">
        <tbody>
            <tr>
                <td class="u-w-200">Name of the educator:</td>
                <td>@Model.ECSCompletingFormEducatorName</td>
            </tr>
    </table>

    <table class="tlds-table-special-2">
        <tbody>
            <tr>
                <td class="u-w-500">
                    I have provided the family with a completed copy of their child's Transition Learning and Development Statement
                </td>
                <td>
                    <label for="c-4-10" class="tlds-checkbox">
                        <input type="checkbox" id="c-4-10" @Html.Raw(Model.HasProvidedTransitionStatement == "Yes" ? "checked" : "")>
                        <span>Yes</span>
                    </label>
                    <label for="c-4-11" class="tlds-checkbox">
                        <input type="checkbox" id="c-4-11" @Html.Raw(Model.HasProvidedTransitionStatement == "No" ? "checked" : "")>
                        <span>No</span>
                    </label>
                </td>
            </tr>
    </table>

    <table class="tlds-table-special-3">
        <tbody>
            <tr>
                <td class="u-w-500">
                    The family is aware that I will be sharing the Transition Learning and Development Statement with their child's school and OSHC service (where applicable).
                </td>
                <td>
                    <label for="c-4-12" class="tlds-checkbox">
                        <input type="checkbox" id="c-4-12" @Html.Raw(Model.IsAwareTransitionChildSchoolAndOSHC == "Yes" ? "checked" : "")>
                        <span>Yes</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="u-w-500">The family did not complete and return Section 3 - The family:</td>
                <td>
                    <label for="c-4-13" class="tlds-checkbox">
                        <input type="checkbox" id="c-4-13" @Html.Raw(Model.IsFamilyDidNotCompleteSection3 == "Yes" ? "checked" : "")>
                        <span>Yes</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="u-w-500">The family has opted out of sharing the Transition Learning and Development Statement with their child's school or OSHC service (where applicable).</td>
                <td>
                    <label for="c-4-14" class="tlds-checkbox">
                        <input type="checkbox" id="c-4-14" @Html.Raw(Model.IsfamilyOptedOutTransitionStatement == "Yes" ? "checked" : "")>
                        <span>Yes</span>
                    </label>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    Please note: Early childhood educators must consider their professional ethics when communicating with the
                    child's school and OSHC service and only share information relevant to supporting a child's transition.
                </td>
            </tr>
        </tfoot>
    </table>
</div>
