@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel

<h2 class="tlds-print-heading tlds-print-line u-text-transform-normal">Section 1: Child and Service Details</h2>
<p>This section has been completed by the early childhood educator.</p>
<div class="tlds-alert">
    <span class="u-text-italic">
        There are resources available on the Department of Education and Training's website to support schools to effectively use the Transition Statement at
        <a target="_blank" href="https://www.education.vic.gov.au/transitiontoschool">www.education.vic.gov.au/transitiontoschool </a>
    </span>
</div>

<h4 class="tlds-print-leading u-text-uppercase">Child's details:</h4>
<table>
    <tbody>
        <tr>
            <td class="u-w-190">Child's first name:</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td class="u-w-190">Child's surname:</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td class="u-w-190">Child's date of birth:</td>
            <td>@Model.DateOfBirth.DisplayDateWithFormat()</td>
        </tr>
        <tr>
            <td class="u-w-190">Primary school where the child is enrolled (if known):</td>
            <td>@Model.PrimarySchool</td>
        </tr>
        <tr>
            <td class="u-w-190">Outside school hours care service (if known):</td>
            <td>@Model.OutsideSchoolHoursCareService</td>
        </tr>
    </tbody>
</table>

<h4 class="tlds-print-leading">Child's photo:</h4>
@if (Model.PhotoURL == "")
{
    <div class="tlds-box tlds-box-background tlds-box-300"></div>
}
else
{
    <div class="tlds-box">
        <img src="@Model.PhotoURL" class="tlds-box-img">
    </div>
}

<div class="tlds-section">
    <h4 class="tlds-print-leading">Parent/Guardian contact details</h4>
    @{ var TLDSParentGuardiansCount = 0; }
    @if (Model.TLDSParentGuardians.Count > 0)
    {
        foreach (var parent in Model.TLDSParentGuardians)
        {
            if (!string.IsNullOrEmpty(@parent.ParentGuardianName) ||
                !string.IsNullOrEmpty(@parent.ParentGuardianRelationship) ||
                !string.IsNullOrEmpty(@parent.ParentGuardianPhone) ||
                !string.IsNullOrEmpty(@parent.ParentGuardianEmail))
            {
                TLDSParentGuardiansCount++;
                <table>
                    <tbody>
                        <tr>
                            <td class="u-w-190">Name/s:</td>
                            <td>@parent.ParentGuardianName</td>
                        </tr>
                        <tr>
                            <td class="u-w-190">Relationship to child:</td>
                            <td>@parent.ParentGuardianRelationship</td>
                        </tr>
                        <tr>
                            <td class="u-w-190">Phone:</td>
                            <td>@parent.ParentGuardianPhone</td>
                        </tr>
                        <tr>
                            <td class="u-w-190">Email:</td>
                            <td>@parent.ParentGuardianEmail</td>
                        </tr>
                    </tbody>
                </table>
            }
        }
    }

    @if (TLDSParentGuardiansCount == 0)
    {
        <table>
            <tbody>
                <tr>
                    <td class="u-w-190">Name/s:</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="u-w-190">Relationship to child:</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="u-w-190">Phone:</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="u-w-190">Email:</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    }

    <h4 class="tlds-print-leading">Early childhood service contact details:</h4>
    <table>
        <tbody>
            <tr>
                <td class="u-w-160">Name of service:</td>
                <td>@Model.ECSName</td>
            </tr>
            <tr>
                <td class="u-w-160">Address of service:</td>
                <td>@Model.ECSAddress</td>
            </tr>
            <tr>
                <td class="u-w-160">Service approval number:</td>
                <td>@Model.ECSApprovalNumber</td>
            </tr>
            <tr>
                <td class="u-w-160">Name of educator/s completing this form:</td>
                <td>@Model.ECSCompletingFormEducatorName</td>
            </tr>
            <tr>
                <td class="u-w-160">Position of educator/s completing this form:</td>
                <td>@Model.ECSCompletingFormEducatorPosition</td>
            </tr>
            <tr>
                <td class="u-w-160">Qualification of educator/s completing this form:</td>
                <td>@Model.ECSCompletingFormEducatorQualification</td>
            </tr>
            <tr>
                <td class="u-w-160">Phone:</td>
                <td>@Model.ECSCompletingFormEducatorPhone</td>
            </tr>
            <tr>
                <td class="u-w-160">Email:</td>
                <td>@Model.ECSCompletingFormEducatorEmail</td>
            </tr>
        </tbody>
    </table>

    <table class="tlds-table-nobackground">
        <tbody>
            <tr>
                <td class="u-w-180"><strong>Date this form was completed</strong> (mandatory):</td>
                <td>@Model.ECSCompledDate.DisplayDateWithFormat()</td>
            </tr>
        </tbody>
    </table>
</div>
