@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TDLSProfileViewModel

<p>
    This Transition Learning and Development Statement contains intentional teaching strategies to support this child's continuity of learning and take into account their skills, capabilities and learning dispositions.
</p>
<p>
    This section has been completed by the early childhood educator.
</p>

@{
    var developmentOutcomeProfiles = new List<LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TLDSDevelopmentOutcomeProfileViewModel>(5);
    // Initialize
    for (int i = 0; i < 5; i++)
    {
        developmentOutcomeProfiles.Add(new LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.TLDSDevelopmentOutcomeProfileViewModel()
        {
            DevelopmentOutcomeContent = string.Empty,
            StrategyContent = string.Empty
        });
    }

    if (Model.DevelopmentOutcomeProfiles != null)
    {
        if (Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "IDENTITY") != null)
        {
            developmentOutcomeProfiles[0].DevelopmentOutcomeContent = Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "IDENTITY").DevelopmentOutcomeContent;
            developmentOutcomeProfiles[0].StrategyContent = Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "IDENTITY").StrategyContent;
        }
        if (Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "COMMUNITY") != null)
        {
            developmentOutcomeProfiles[1].DevelopmentOutcomeContent = Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "COMMUNITY").DevelopmentOutcomeContent;
            developmentOutcomeProfiles[1].StrategyContent = Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "COMMUNITY").StrategyContent;
        }
        if (Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "WELLBEING") != null)
        {
            developmentOutcomeProfiles[2].DevelopmentOutcomeContent = Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "WELLBEING").DevelopmentOutcomeContent;
            developmentOutcomeProfiles[2].StrategyContent = Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "WELLBEING").StrategyContent;
        }
        if (Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "LEARNING") != null)
        {
            developmentOutcomeProfiles[3].DevelopmentOutcomeContent = Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "LEARNING").DevelopmentOutcomeContent;
            developmentOutcomeProfiles[3].StrategyContent = Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "LEARNING").StrategyContent;
        }
        if (Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "COMMUNICATION") != null)
        {
            developmentOutcomeProfiles[4].DevelopmentOutcomeContent = Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "COMMUNICATION").DevelopmentOutcomeContent;
            developmentOutcomeProfiles[4].StrategyContent = Model.DevelopmentOutcomeProfiles.FirstOrDefault(x => x.DevelopmentOutcomeTypeName == "COMMUNICATION").StrategyContent;
        }
    }
    <table>
        <tbody>
            <tr>
                <td class="u-w-380">
                    IDENTITY - Children have a strong sense of identity
                    <br />
                    @Html.Raw(developmentOutcomeProfiles[0].DevelopmentOutcomeContent)
                </td>
                <td>
                    @Html.Raw(developmentOutcomeProfiles[0].StrategyContent)
                </td>
            </tr>
            <tr>
                <td class="u-w-380">
                    COMMUNITY - Children are connected with and contribute to their world
                    <br />
                    @Html.Raw(developmentOutcomeProfiles[1].DevelopmentOutcomeContent)
                </td>
                <td>
                    @Html.Raw(developmentOutcomeProfiles[1].StrategyContent)
                </td>
            </tr>
            <tr>
                <td class="u-w-380">
                    WELLBEING - Children have a strong sense of wellbeing
                    <br />
                    @Html.Raw(developmentOutcomeProfiles[2].DevelopmentOutcomeContent)
                </td>
                <td>
                    @Html.Raw(developmentOutcomeProfiles[2].StrategyContent)
                </td>
            </tr>
            <tr>
                <td class="u-w-380">
                    LEARNING - Children are confident and involved learners
                    <br />
                    @Html.Raw(developmentOutcomeProfiles[3].DevelopmentOutcomeContent)
                </td>
                <td>
                    @Html.Raw(developmentOutcomeProfiles[3].StrategyContent)
                </td>
            </tr>
            <tr>
                <td>
                    COMMUNICATION - Children are effective communicators
                    <br />
                    @Html.Raw(developmentOutcomeProfiles[4].DevelopmentOutcomeContent)
                </td>
                <td>
                    @Html.Raw(developmentOutcomeProfiles[4].StrategyContent)
                </td>
            </tr>
        </tbody>
    </table>
}
