@model LinkIt.BubbleSheetPortal.Web.ViewModels.TDLS.SummaryReportAssignedModel
@{
    var rowCount = 0;
}

<div>
        <table id="dataTable" class="datatable table no-margin dataTable" aria-describedby="dataTable_info" style="width: 100%;" width="100%">
            <thead>
                <tr role="row">
                    <th scope="col" class="sorting_asc" role="columnheader" tabindex="0" aria-controls="dataTable" aodata-index="1" rowspan="1" colspan="1" style="width: 100px;" aria-label="
                        Submitted Student
                        : activate to sort column ascending">

                        Submitted Student
                    </th>
                    <th scope="col" class="sorting" role="columnheader" tabindex="0" aria-controls="dataTable" aodata-index="2" rowspan="1" colspan="1" style="width: 100px;" aria-label="
                        Associated Student
                        : activate to sort column ascending">

                        Linked Student
                    </th>
                    <th scope="col" class="sorting" role="columnheader" tabindex="0" aria-controls="dataTable" aodata-index="3" rowspan="1" colspan="1" style="width: 120px;" aria-label="
                        Date of birth
                        : activate to sort column ascending">

                        Date of birth
                    </th>
                    <th scope="col" class="sorting" role="columnheader" tabindex="0" aria-controls="dataTable" aodata-index="4" rowspan="1" colspan="1" style="width: 100px;" aria-label="
                        Gender
                        : activate to sort column ascending">

                        Gender
                    </th>
                    <th scope="col" class="sorting" role="columnheader" tabindex="0" aria-controls="dataTable" aodata-index="5" rowspan="1" colspan="1" style="width: 120px;" aria-label="
                        Name of ECEC service
                        : activate to sort column ascending">

                        Name of ECEC service
                    </th>
                    <th scope="col" class="text-center-important sorting" role="columnheader" tabindex="0" aria-controls="dataTable" aodata-index="6" rowspan="1" colspan="1" style="width: 100px;" aria-label="
                        Section 1.2 has been completed
                        : activate to sort column ascending">

                        Section 1.2 has been completed
                    </th>
                    <th scope="col" class="sorting" role="columnheader" tabindex="0" aria-controls="dataTable" aodata-index="7" rowspan="1" colspan="1" style="width: 75px;" aria-label="
                        Enrolment Year
                        : activate to sort column ascending">

                        Enrolment Year
                    </th>
                    <th scope="col" class="sorting" role="columnheader" tabindex="0" aria-controls="dataTable" aodata-index="8" rowspan="1" colspan="1" style="width: 120px;" aria-label="
                        Status
                        : activate to sort column ascending">

                        Status
                    </th>
                </tr>
            </thead>

            <tbody role="alert" aria-live="polite" aria-relevant="all">
            @foreach (var row in Model.Data)
            {
                <tr @if ((rowCount / 2) == 1) { <text>
                    class="odd"
                    </text>  } else { <text>
                    class="odd"
                    </text>  }>
                    <td class=" sorting_1">@row.LastName</td>
                    <td class="">@row.FirstName</td>
                    <td class="">@row.DateOfBirthString</td>
                    <td class="">@row.GenderName</td>
                    <td class="">@row.ECSName</td>
                    <td class="text-center-important">
                        @if (row.Section102IsNotRequired.HasValue && row.Section102IsNotRequired.Value)
                        {
                            @*<span class="c-checkbox unchecked"></span>*@
                            <p>N/A</p>
                        }
                        else
                        {
                            <span class="c-checkbox checked"></span>

                        }
                    </td>
                    <td class="">@row.EnrolmentYear</td>
                    <td class="">
                        @switch (row.Status)
                        {
                            case 10:
                                <text>
                                    <p>Draft</p>
                                </text>
                                break;
                            case 20:
                                <text>
                                    <p>Completed but not submitted</p>
                                </text>
                                break;
                            case 30:
                                <text>
                                    <p>Completed and submitted</p>
                                </text>
                                break;
                            case 40:
                                <text>
                                    <p>Linked with Student</p>
                                </text>
                                break;
                            case 50:
                                <text>
                                    <p>Returned By School</p>
                                </text>
                                break;
                            case 60:
                                <text>
                                    <p>Recalled</p>
                                </text>
                                break;
                            default:
                                <text>
                                    <p></p>
                                </text>
                                break;
                        }
                    </td>
                </tr>
                rowCount ++;
            }

            </tbody>
        </table>
    </div>
