@model LinkIt.BubbleSheetPortal.Web.ViewModels.MessageInViewMessageViewModel
<div class="block-message-display-ceditor">
    <p>
        @if(Model.IsRead == 1)
        {
            <b>@Model.Sender</b> @Model.CreatedDateTimeString    
        }
        else
        {
            <b>@Model.Sender @Model.CreatedDateTimeString</b>
        }
        
        @if(!string.IsNullOrEmpty(Model.Recipients))
        {
            <br />
            <b>To:</b> @Model.Recipients
        }
    </p>
    <p>@Html.Raw(Model.Body)</p>
</div>
