@using LinkIt.BubbleSheetPortal.Web.ViewModels;

@{
    var studentNavigation = (StudentNavigationViewModel) Session["MailBox_StudentNavigationViewModel"];
    var isInbox = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() == "Inbox" 
		|| ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() == "ViewMessage";
}

@if (studentNavigation != null && studentNavigation.IsParentRole)
{
    foreach (var student in studentNavigation.StudentsOfParent)
    {        
        <li @(studentNavigation.SelectedStudentId == student.StudentID && isInbox? "class=current":"")><a href='@Url.Action("Inbox", "MailBox")/?studentId=@student.StudentID' title="@student.StudentFirstName @student.StudentLastName">@student.StudentFirstName @student.StudentLastName</a></li>    
    }
}