<style>
     .block-controls
     {
         display: none;
     }

     .float-right {
         display: none;
     }

     label[for=chkAllMessage] {
         padding-left: 5px;
         color: #fff !important;
         font-weight: bold !important;
     }
     .compose {
         margin-right: 0px;
     }     
 </style>

@{
    var tableName = "subdatatable" + @ViewBag.MessageId;
}

<div class="no-margin last-child inbox">    
    <table id='@tableName' class="@tableName table no-margin" width="722px">
        <thead>
            <tr>
                <th scope="col" class="black-cell"><span class="loading"></span></th>
                <th scope="col" class="black-cell"><span class="loading"></span></th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Sender
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Rec
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Subject
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Ack
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Rep
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    CDTS
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    CDT
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    IsRead
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    StudentId
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    CDTFS
                </th>
            </tr>
        </thead>
        <tbody style="cursor: pointer"></tbody>
    </table>
</div>
<style>
    #dataTable thead {
        visibility: hidden;
    }

    .form label, .form .label {
        display: inline;
    }
    
</style>
<script type="text/javascript">
    $(function () {
        var options = {
            bServerSide: true,
            bDestroy: true,
            sAjaxSource: '@Url.Action("GetInboxMessageOfMainMessage")/?userId=@ViewBag.UserId&messageId=@ViewBag.MessageId',
            bAutoWidth: false,
            oLanguage: { "sEmptyTable": "Inbox is empty." },
            aLengthMenu: [[10, 25, 50], [10, 25, 50]],
            iDisplayLength: 1000,
            aaSorting: [[0, "desc"]],
            aoColumns: [
                { sType: 'integer', sName: 'MessageId', bSearchable: false, bSortable: false, sClass: 'center', sWidth: '10px' },
                { sType: 'integer', sName: 'MessageId', bSearchable: false, bSortable: false, sWidth: '45px' },
                { sType: 'string', sName: 'Sender', bSearchable: true, bSortable: false, sWidth: '140px' },
                { sType: 'string', sName: 'Recipients', bSearchable: true, bSortable: false},
                { sType: 'string', sName: 'BriefInfo', bSearchable: true, bSortable: false },
                { sType: 'string', sName: 'Acknow', bSearchable: true, bSortable: false, bVisible: true },
                { sType: 'string', sName: 'Replies', bSearchable: true, bSortable: false, bVisible: true },
                { sType: 'string', sName: 'CreatedDateTimeString', bSearchable: true, bSortable: false, sWidth: '58px' },
                { sType: 'string', sName: 'CreatedDateTime', bSearchable: true, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'MessageNoUnread', bSearchable: true, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'StudentId', bSearchable: true, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'CreatedDateTimeFullString', bSearchable: true, bSortable: false, bVisible: false }
            ],
            fnPreDrawCallback: function () {
                ShowBlock($('#@tableName'), "Loading");
                return true;
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html('');
                $('td:eq(1)', nRow).html(setCheckBox(aData[1] + ';' + aData[10]));
                if (aData[9] > 0)
                    $(nRow).addClass('unread');
                $('td:eq(0),td:eq(2),td:eq(3),td:eq(4),td:eq(5),td:eq(6),td:eq(7)', nRow).unbind('click').bind('click', function () {
                    $(nRow).removeClass('unread');
                    if (aData[10] != '0')
                        location.href = '/MailBox/ViewMessage/?messageId=' + aData[1] + "&studentId=" + aData[10];
                    else
                        location.href = '/MailBox/ViewMessage/?messageId=' + aData[1];
                });
                $('td:eq(7)', nRow).bind({
                    mouseenter: function () {
                        displayTooltip($(this), aData[11]);
                    },
                    mouseleave: function () {
                        ;//do nothing here
                    }
                });
                
                $('td:eq(0)', nRow).addClass('class_0');
                $('td:eq(1)', nRow).addClass('class_1');
                $('td:eq(2)', nRow).addClass('class_2');
                $('td:eq(3)', nRow).addClass('class_3');
                $('td:eq(4)', nRow).addClass('class_4');
                $('td:eq(5)', nRow).addClass('class_5');
                $('td:eq(6)', nRow).addClass('class_6');
                $('td:eq(7)', nRow).addClass('class_7');
            }, fnDrawCallback: function () {
                $('#@tableName').unblock();
                $('.with-tip').tip();
                $('#chkAllMessage').removeAttr('checked');
                syncDeleteState();
                resizeSubMessageContentHeight();
            }
        };
        
        function displayTooltip(e, tooltip) {
            $(e).attr('title', tooltip);
        }

        function setCheckBox(messageId) {
            var checkboxString = '<input type="checkbox" name="chkMessage" value="' + messageId + '" class="@ViewBag.MessageId"/>';
            return checkboxString;
        }

        $("#@tableName").data("options", options);
        initializeDataTable($("#@tableName"));
    });

    function resizeSubMessageContentHeight() {
        $('#subMessageList_' + '@ViewBag.MessageId').css('min-height', '');
    }

    function syncDeleteState() {
        var checkbox = $('INPUT[name="chkMessage"][value="@ViewBag.MessageId;0"]');
        if (checkbox[0].checked) {
            $('INPUT[name="chkMessage"][type=checkbox][class="@ViewBag.MessageId"]').attr('checked', 'checked');
        }
    }       
</script>