@model LinkIt.BubbleSheetPortal.Web.ViewModels.EditParentViewModel
@{
    ViewBag.Title = "Contact Info";
}

<article class="container_12">
    <section id="block-content" class="grid_8">
        <div class="block-border">
            <div class="block-content form">
                <h1>Contact Info
                </h1>
                @using (Html.BeginForm("ParentContactInfo", "MailBox", FormMethod.Post, new { id = "editParentForm", @class = "form" }))
                {
                    <ul style="display: none" id="error-messages" class="message error">
                        <li>error 01</li>
                    </ul>
                    <div id="success-message"></div>

                    @Html.HiddenFor(x => x.UserId)
                    @Html.HiddenFor(x => x.CurrentUserRoleId)
                    @Html.HiddenFor(x => x.StateId)
                    @Html.HiddenFor(x => x.DistrictId)
                    @Html.HiddenFor(x => x.UserName)

                    <div class="columns">
                        <fieldset>
                            <legend>Account Info</legend>
                            <div class="columns">
                                <div class="colx2-left">                                                                 
                                    <p>
                                        <label>First Name</label>
                                        <span class="relative">
                                            @Html.TextBoxFor(x => x.FirstName, new { @class = "full-width", tabindex = "4" , @readonly = "readonly", @style="background:none; background-color:#e6e6e6;"})
                                            @Html.ValidationMessageFor(x => x.FirstName, " ")
                                        </span>
                                    </p>
                                    <p>
                                        <label>Phone Number <i>(Optional)</i></label>
                                        <span class="relative">
                                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "full-width", tabindex = "6" })
                                        </span>
                                    </p>
                                    <p>
                                        <label>Private Email Address <i>(Optional)</i></label>
                                        <span class="relative">
                                            @Html.TextBoxFor(x => x.EmailAddress, new { @class = "full-width", tabindex = "8" })
                                        </span>
                                    </p>
                                </div>
                                <div class="colx2-right">                                                                      
                                    <p>
                                        <label>Last Name</label>
                                        <span class="relative">
                                            @Html.TextBoxFor(x => x.LastName, new { @class = "full-width", tabindex = "5", @readonly = "readonly", @style="background:none; background-color:#e6e6e6;" })
                                        </span>
                                    </p>
                                    <p>
                                        <label>Message Number <i>(Optional)</i></label>
                                        <span class="relative">
                                            @Html.TextBoxFor(x => x.MessageNumber, new { @class = "full-width", tabindex = "7" })
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div style="text-align: right">
                        <button id="btnCancel" type="button" class="grey">Cancel</button>
                        <button id="btnSubmit" type="submit" name="Save">Save</button>
                    </div>
                }
            </div>
        </div>
    </section>
    <div id="sideContainer"></div>
</article>


<script type="text/javascript">
    $(function () {
        $('.parent_connect').addClass('current');
    });    

    $('#editParentForm').submit(function (event) {
        event.preventDefault();
        $('#btnSubmit').disableBt();

        $.post($(this).attr('action'), $(this).serialize(), function (response) {
            if (response.Success == true) {
                $('#error-messages').hide();
                LinkIt.success('#success-message', 'Contact info successfully updated.');
            }
            else {
                showErrorMessage(response);
            }
            $('#btnSubmit').enableBt();
        });
    });

    function showErrorMessage(response) {
        $('#error-messages').empty();
        for (var i = 0; i < response.ErrorList.length; i++) {
            $('#error-messages').append('<li>' + response.ErrorList[i].ErrorMessage + '</li>');
        }
        $('#error-messages').show();
    }
    
    $('#btnCancel').click(function () {
        location.href = '@Url.Action("Inbox","MailBox")';
    });
</script>