@model LinkIt.BubbleSheetPortal.Web.ViewModels.SendResultViewModel
<style>
	.block-controls
    {
        display: none;
    }

    .float-right {
        display: none;
    }

    label[for=chkAllMessage] {
        padding-left: 5px;
        color: #fff !important;
        font-weight: bold !important;
    }
    .compose {
        margin-right: 0px;
    }
</style>

<div id="messageNotification"></div>
<div class="no-margin last-child inbox">
    <p class="group_compose_search">
        <button id="deleteMessage" type="button">Delete</button>
        <label>
            Search:
            <input id="txtSearchValue" type="text">
        </label>
    </p>
    <p class="search_inbox">
        <span class="checkbox_delete"><input type="checkbox" id="chkAllMessage" style="margin-left: 2px"/>
            <label for="chkAllMessage">Select all</label>
        </span>
    </p>

    <table id="dataTable" class="datatable table no-margin" style="width: 100%">
        <thead>
            <tr>
                <th scope="col" class="black-cell"><span class="loading"></span></th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Sender
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Rec
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Subject
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Ack
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    Rep
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    CDTS
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    CDT
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    IsRead
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    StudentId
                </th>
                <th scope="col">
                    <span class="column-sort">
                        <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                        <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                    </span>
                    CDTFS
                </th>
            </tr>
        </thead>
        <tbody style="cursor: pointer"></tbody>
    </table>
</div>
<style>
    #dataTable thead {
        visibility: hidden;
    }

    .form label, .form .label {
        display: inline;
    }
    
</style>
<script type="text/javascript">
    $(function () {
        InitDataTable();
        
        if ('@ViewBag.ReplyMessageResult' == 'True') {
            if ('@ViewBag.ReplyMessageType' == '2')
                LinkIt.success('#messageNotification', 'Reply message successfully.');
            else
                LinkIt.success('#messageNotification', 'Acknowledge was sent.');
        } else if ('@ViewBag.DeleteMessageResult' == 'False') {
            LinkIt.error('#messageNotification', 'An error has occured. Please try again.');
        }
    });

    function InitDataTable() {
        var userId = '@ViewBag.UserId';
        var studentId = '@ViewBag.StudentId';

        var options = {
            bServerSide: true,
            bDestroy: true,
            bStateSave: false,
            "fnStateLoadParams": function (oSettings, oData) {
                if ('@ViewBag.SaveStateMessageRef' == '0') {
                    oData.iStart = 0;
                }
            },
            sAjaxSource: getAjaxSource(userId, studentId, null),
            bAutoWidth: false,
            oLanguage: { "sEmptyTable": "Inbox is empty." },
            aLengthMenu: [[10, 25, 50], [10, 25, 50]],
            iDisplayLength: 10,
            aaSorting: [[0, "desc"]],
            aoColumns: [
                { sType: 'integer', sName: 'MessageId', bSearchable: false, bSortable: false, sWidth: '10px' },
                { sType: 'string', sName: 'Sender', bSearchable: true, bSortable: false, sWidth: '120px' },
                { sType: 'string', sName: 'Recipients', bSearchable: true, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'BriefInfo', bSearchable: true, bSortable: false },
                { sType: 'string', sName: 'Acknow', bSearchable: true, bSortable: false, sWidth: '38px', bVisible:false },
                { sType: 'string', sName: 'Replies', bSearchable: true, bSortable: false, sWidth: '38px', bVisible: false },
                { sType: 'string', sName: 'CreatedDateTimeString', bSearchable: true, bSortable: false, sWidth: '70px' },
                { sType: 'string', sName: 'CreatedDateTime', bSearchable: true, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'MessageNoUnread', bSearchable: true, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'StudentId', bSearchable: true, bSortable: false, bVisible: false },
                { sType: 'string', sName: 'CreatedDateTimeFullString', bSearchable: true, bSortable: false, bVisible: false }
            ],
            fnPreDrawCallback: function () {
                ShowBlock($('#dataTable'), "Loading");
                return true;
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setCheckBox(aData[0] + ';' + aData[9]));
                if (aData[8] > 0)
                    $(nRow).addClass('unread');
                $('td:eq(1),td:eq(2),td:eq(3)', nRow).unbind('click').bind('click', function () {
                    $(nRow).removeClass('unread');
                    if (aData[9] != '0')
                        location.href = '/MailBox/ViewMessage/?messageId=' + aData[0] + "&studentId=" + aData[9];
                    else
                        location.href = '/MailBox/ViewMessage/?messageId=' + aData[0];
                });
                $('td:eq(3)', nRow).bind({
                    mouseenter: function () {
                        displayTooltip($(this), aData[10]);
                    },
                    mouseleave: function () {
                        ;//do nothing here
                    }
                });
            }, fnDrawCallback: function () {
                $('#dataTable').unblock();
                $('.with-tip').tip();
                SetUnreadMessage(); // This funtion is located at _LayoutParentConnect.cshtml
                $('#chkAllMessage').removeAttr('checked');
            }
        };

        $("#dataTable").data("options", options);
    }
    
    function displayTooltip(e, tooltip) {
        $(e).attr('title', tooltip);
    }

    function getAjaxSource(userId, studentId, searchValue) {
        if (searchValue == null || searchValue.trim() == '') {
            return '@Url.Action("GetInboxMessageForParent")/?userId=' + userId + '&studentId=' + studentId;
        } else {
            return '@Url.Action("GetInboxMessageForParent")/?userId=' + userId + '&studentId=' + studentId + '&searchValue=' + encodeURIComponent(searchValue);
        }
    }
    
    $(document).ready(function () {
        setInterval('RefreshInbox()', 300000);
    });    

    $("#txtSearchValue").keypress(function (e) {
        if (e.which == 13) {
            RefreshInbox();
        }
    });

    function RefreshInbox() {
        var searchValue = $('#txtSearchValue').val();
        var userId = '@ViewBag.UserId';
        var studentId = '@ViewBag.StudentId';
        ui.dataTable.fnSettings().sAjaxSource = getAjaxSource(userId, studentId, searchValue.trim());
        //ui.dataTable.fnDraw();
        ui.dataTable.fnStandingRedraw();
    }

    function setCheckBox(messageId) {
        var checkboxString = '<input type="checkbox" name="chkMessage" value="' + messageId + '" />';
        return checkboxString;
    }
    
    $('#chkAllMessage').live("click", function () {
        if (this.checked) {
            $('INPUT[name="chkMessage"][type=checkbox]').attr('checked', 'checked');
        }
        else {
            $('INPUT[name="chkMessage"][type=checkbox]').removeAttr('checked');
        }
    });

    $('INPUT[name="chkMessage"][type=checkbox]').live("click", function () {
        var checkboxes = $('INPUT[name="chkMessage"][type=checkbox]');
        var checkall = true;
        for (var i = 0; i < checkboxes.length; i++) {
            if (!(checkboxes[i]).checked) {
                $('#chkAllMessage').removeAttr('checked');
                checkall = false;
                break;
            }
        }
        if (checkall) {
            $('#chkAllMessage').attr('checked', 'checked');
        }
    });
    
    function getSelectedMessageIds() {
        var messageIds = '';
        $('INPUT[name="chkMessage"][type=checkbox]:checked').each(function (i, e) {
            messageIds += $(e).val() + ',';
        });
        return messageIds.substr(0, messageIds.length - 1);
    }
    
    $("#deleteMessage").click(function (e) {
        e.preventDefault();

        var selectedMessageIds = getSelectedMessageIds();

        if (selectedMessageIds == '') {
            alertMessage('Please select a message to delete.');
            return;
        }

        confirmMessage("Do you really want to delete these messages?");
    });
    
    function deleteMessages() {
        ShowBlock($('#dataTable'), "Loading");

        var selectedMessageIds = getSelectedMessageIds();

        $.ajax({
            url: '@Url.Action("DeleteMessage","MailBox")',
            type: 'POST',
            data: { messageIds: selectedMessageIds },
            success: function (response) {
                $('#dataTable').unblock();
                if (response.Success == true) {
                    LinkIt.success('#messageNotification', 'Messages are deleted');
                } else {
                    LinkIt.error('#messageNotification', 'An error has occured. Please try again.');
                }

                RefreshInbox();
            },
            failure: function (response) {
                alert(response);
                RefreshInbox();
            }
        });
    }
    
    function confirmMessage(message) {
        var yesButton = '<button style="width:63px;" onclick="yesClick();">Yes</button>';
        var noBotton = '<button style="width:63px;" onclick="noClick();">No</button>';

        var strHtml = '<section class="grid_5">' +
            '<div class="block-border" style="width: ' + 400 + 'px;">' +
            '<div class="block-content form" style="padding-bottom: 1em;"><div>' + message +
            '</div><div style="text-align:center;padding-top:20px;padding-bottom:10px;">' + yesButton + '&nbsp;&nbsp;' + noBotton + '</div></div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", "confirmDialog")
            .appendTo("body")
            .dialog({
                close: function () { $('.ui-widget-overlay').remove(); $(this).remove(); },
                modal: false,
                width: 460,
                maxheight: 500,
                resizable: false,
            });

        showModalDialogBG();
    }

    function alertMessage(message) {
        var okButton = '<button style="width:63px;" onclick="closeAlert();">OK</button>';

        var strHtml = '<section class="grid_5">' +
            '<div class="block-border" style="width: ' + 400 + 'px;">' +
            '<div class="block-content form" style="padding-bottom: 1em;"><div>' + message +
            '</div><div style="text-align:center;padding-top:20px;padding-bottom:10px;">' + okButton + '</div></div></div></section>';
        $("<div></div>")
            .html(strHtml)
            .addClass("dialog")
            .attr("id", "alertDialog")
            .appendTo("body")
            .dialog({
                close: function () { $('.ui-widget-overlay').remove(); $(this).remove(); },
                modal: false,
                width: 460,
                maxheight: 500,
                resizable: false,
            });

        showModalDialogBG();
    }

    function closeAlert() {
        $('#alertDialog').dialog('close');
    }

    function noClick() {
        $('#confirmDialog').dialog('close');
    }

    function yesClick() {
        $('#confirmDialog').dialog('close');
        deleteMessages();
    }

    function showModalDialogBG() {
        var win = $('body');
        $('body').prepend('<div class="ui-widget-overlay" style="width: ' + win.width() + 'px; height: ' + win.height() + 'px; z-index: 1001;"></div>');
    }
</script>

<style type="text/css">
    .ui-tabs-nav li:hover {
        background: #029CDC !important;
    }
    .positionAdd
    {
        position: relative;
        right: -6px;
        top: 26px;
    }
    .ui-dialog .block-content {
        z-index: 0;
    }
    .ui-dialog .ui-widget-header
    {
        border: 0px solid #aaa !important;
        background: transparent !important;
        position: relative;
        top: 34px;
    }

    .ui-dialog
    {
        background: transparent;
        border: 0;
        /*top: 100px !important;*/
        height: auto !important;
    }

        .ui-dialog .ui-dialog-titlebar-close
        {
            position: absolute;
            right: 7px;
            top: -8px;
        }

    .ui-widget-header .ui-icon
    {
        background-image: url("/Content/themes/base/images/fancy_close.png");
    }

    .ui-icon
    {
        width: 40px;
        height: 40px;
    }

    .ui-icon-closethick
    {
        background-position: 2px 2px;
    }

    .ui-widget-header .ui-state-hover
    {
        border: 0;
        background: transparent !important;
    }

    .ui-dialog .ui-dialog-titlebar-close
    {
        width: 30px;
        height: 42px;
    }

    .ui-widget-overlay
    {
        background: #2b2b2d !important;
    }

    #studentContent
    {
        position: relative;
    }
</style>