@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel
<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsRationalGuiden" name="fsRationalGuiden" datapoint="@Model.DataPointIndex">
    <legend>Rationale and Post Assessment Guidance</legend>

    <input type="hidden" name="txtHiddenSubjectName" value="@Model.SubjectName" datapoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenGradeId" value="@Model.GradeId" datapoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenVirtualTestId" value="@Model.VirtualTestId" datapoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenScoreType" value="@Model.ScoreType" dataPoint="@Model.DataPointIndex"/>    
    <input type="hidden" name="txtHiddenStateStandardFilters" value="@Model.StateStandardFilters" datapoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenTopicFilters" value="@Model.TopicFilters" datapoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenSkillFilters" value="@Model.SkillFilters" datapoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenOtherFilters" value="@Model.OtherFilters" datapoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtRemainingAjaxRequest" value="4" datapoint="@Model.DataPointIndex" />
    <input type="hidden" name="txtHiddenAttachScoreUrl" value="@Model.AttactScoreUrl" datapoint="@Model.DataPointIndex" />

    <div class="columns sgo-columns">
        <div>
            <div>
                <p class="m-b-7">@Html.Raw(Model.DirectionConfigurationValue)</p>
                <a id="linkRationale" href="javascript:void(0)">Assessment and Rationale for SGO/Standards Chosen</a>
            </div><br />
            <textarea name="rationaleInstruction" datapoint="@Model.DataPointIndex" style="width: 99%; height: 100px;">@Model.RationaleGuidance</textarea>
        </div>
    </div>
</fieldset>
<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectVirtualTest">
    <legend>Select LinkIt! Test</legend>
    <div class="columns">
        <div class="colx3-left">
            <p>
                <label>@LabelHelper.Subject</label>
                <select name="selectSubjectPostAssessment" datapoint="@Model.DataPointIndex"></select>
            </p>
            <p>
                <label>Score Type</label>
                <select name="selectScoreTypePostAssessment" datapoint="@Model.DataPointIndex">                    
                </select>
            </p>
        </div>
        <div class="colx3-center">
            <p>
                <label>@LabelHelper.GradeLabel</label>
                <select name="selectGradePostAssessment" datapoint="@Model.DataPointIndex"></select>
            </p>
        </div>
        <div class="colx3-right">
            <p>
                <label>Test</label>
                <select name="selectTestPostAssessment" datapoint="@Model.DataPointIndex"></select>
            </p>
        </div>
    </div>
</fieldset>

<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsFilterbyStandard" name="fsFilterbyStandard" dataPoint="@Model.DataPointIndex">
    <legend>Filter by Standards (Optional)</legend>
    <article class="u-m-t-5 clearfix" id="divStateStandards">
        <div class="colx3-left">
            <p>
                <label>State</label>
                <select name="selectStateStandard" datapoint="@Model.DataPointIndex"></select>
            </p>
            <p>
                <label>@LabelHelper.Subject</label>
                <select name="selectSubjectStandard" datapoint="@Model.DataPointIndex"></select>
            </p>
            <p>
                <label>@LabelHelper.GradeLabel</label>
                <select name="selectGradeStandard" datapoint="@Model.DataPointIndex"></select>
            </p>
        </div>
        <div class="colx3-right" style="width: 66%;">
            <p>
                <div class="block-content form" style="height: 150px; overflow: auto">
                    <div style="height: 100%; width: 100%">
                        <table name="dataTableMasterStandard" id="dataTableMasterStandard@(Model.DataPointIndex)" datapoint="@Model.DataPointIndex" class="datatable table no-margin" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox" name="chkAllStandard" datapoint="@Model.DataPointIndex" />
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Number
                                    </th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Description
                                    </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </p>
        </div>
    </article>
    <input type="hidden" id="hiddenSelectedMasterStandardName" />
</fieldset>

<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsFilterByTag" name="fsFilterByTag" dataPoint="@Model.DataPointIndex">
    <legend>Filter by Tags (Optional)</legend>
    <label>
        Associated Tags
    </label>
    <article class="u-m-t-5 clearfix">
        <div class="colx3-left">
            <div id="divTopic" style="float: left; padding-right: 5px; width: 100%;">
                <div class="block-content form noPadding divItem" style="padding: 1px;">
                    <div class="block-filter">
                        <table name="dataTableTopic" id="dataTableTopic@(Model.DataPointIndex)" datapoint="@Model.DataPointIndex" class="datatable table no-margin noPadding dataTableDefaultTagStyle" style="width: 100%; padding-top: 8px !important">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 15px"></th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Topics
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="colx3-center">
            <div id="divSkill" style="float: left; padding-right: 5px; width: 100%;">
                <div class="block-content form noPadding divItem" style="padding: 1px;">
                    <div class="block-filter">
                        <table name="dataTableSkill" id="dataTableSkill@(Model.DataPointIndex)" datapoint="@Model.DataPointIndex" class="datatable table no-margin noPadding dataTableDefaultTagStyle" style="width: 100%; padding-top: 8px !important">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 15px"></th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Skills
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="colx3-right">
            <div id="divOther" style="float: left; width: 100%;">
                <div class="block-content form noPadding divItem" style="padding: 1px;">
                    <div class="block-filter">
                        <table name="dataTableOther" id="dataTableOther@(Model.DataPointIndex)" datapoint="@Model.DataPointIndex" class="datatable table no-margin noPadding dataTableDefaultTagStyle" style="width: 100%; padding-top: 8px !important">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 15px"></th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Other
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
</fieldset>

<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsEnterOrAttachScore" name="fsEnterOrAttachScore" datapoint="@Model.DataPointIndex">
    <legend>Optional: Attach Scores</legend>
    <div>
        <p>
            This is optional: Upload attachment.
            <br />
            <br />
        </p>
    </div>
    <button name="btnAttachStudentScore" id="btnAttachStudentScore@(Model.DataPointIndex)" datapoint="@Model.DataPointIndex" type="button">Attach Results</button>
    <div name="divAttachResultInfo" datapoint="@Model.DataPointIndex"
         @if (string.IsNullOrEmpty(Model.AttactScoreUrl)) { <text>
         style="display: none; visibility: hidden;"
         </text>  }>
        <span class="attachment-item" name="spanAttachResultFileName" datapoint="@Model.DataPointIndex" attactscoredownloadlink="@Model.AttactScoreDownloadLink">
            @if (Model != null && !string.IsNullOrEmpty(Model.AttactScoreUrl))
            {
                @Model.AttactScoreUrl.Substring(@Model.AttactScoreUrl.IndexOf('_') + 1)
            }
    </span>
    <span class="attachment-item with-tip" onclick="removeAttachResult(@Model.DataPointIndex)" title="Remove Attach Results"><img src="/Content/themes/Constellation/images/icons/fugue/icon-red.png"></span>
</div>
</fieldset>

<button name="btnSaveDataPoint" datapoint="@Model.DataPointIndex" class="float-right" type="button">Save Data Point</button>
<button name="btnRemoveDataPoint" datapoint="@Model.DataPointIndex" class="float-right grey bntCreate" type="button">Remove Data Point</button>
@*</div>*@

<script>
    $(function() {
        //\Edit
        var vRationale = $('textarea[name="rationaleInstruction"][datapoint="' + '@Model.DataPointIndex' + '"]').text();
        var vpermission = $('#idhdfRationalTobeCreate').attr('permission');

        if (vRationale == '' && vpermission == '4') {
            $('textarea[name="rationaleInstruction"][datapoint="' + '@Model.DataPointIndex' + '"]').text($('#idhdfRationalTobeCreate').val());
        }
            // All functions are at index.cshtml file

        populateSubjectsPostAssessment('@Model.DataPointIndex');

        LoadStandardTable('@Model.DataPointIndex');
        LoadTopicTable('@Model.DataPointIndex');
        LoadSkillTable('@Model.DataPointIndex');
        LoadOtherTable('@Model.DataPointIndex');

        $('fieldset[name="fsFilterbyStandard"][datapoint=@Model.DataPointIndex]').coolfieldset({ collapsed: true });
        $('fieldset[name="fsFilterByTag"][datapoint=@Model.DataPointIndex]').coolfieldset({ collapsed: true });

        registerUploadAttachResult('@Model.DataPointIndex');
        validateShowHideUploadAttachResult('@Model.DataPointIndex');

        var downloadElement = $('span[name="spanAttachResultFileName"]');
        downloadElement.unbind('click');
        downloadElement.click(function () {
            var element = $(this);
            var url = element.attr('attactscoredownloadlink');
            window.open(url, 'Download');
        });
    });
</script>
