@using LinkIt.BubbleSheetPortal.Models.SGO
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel

<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsRationalGuiden" name="fsRationalGuiden" datapoint="@Model.DataPointIndex">
    <legend>Rationale and Post Assessment Guidance</legend>
    <div class="columns sgo-columns">
        <div>
            <div>
                <p class="m-b-7">@Html.Raw(Model.DirectionConfigurationValue)</p>
                <a id="linkRationale" href="javascript:void(0)">Assessment and Rationale for SGO/Standards Chosen</a>
            </div><br />
            <textarea name="rationaleInstruction" datapoint="@Model.DataPointIndex" style="width: 99%; height: 100px;">@Model.RationaleGuidance</textarea>
        </div>
    </div>
</fieldset>           

<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectVirtualTest">
    <legend>Select LinkIt! Test</legend>
    
    <input type="hidden" name="txtHiddenSubjectName" value="@Model.SubjectName" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenGradeId" value="@Model.GradeId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenVirtualTestId" value="@Model.VirtualTestId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenScoreType" value="@Model.ScoreType" dataPoint="@Model.DataPointIndex" />    
    <input type="hidden" name="txtHiddenClusterScoreFilters" value="@Model.ClusterScoreFilters" dataPoint="@Model.DataPointIndex"/>        
    <input type="hidden" name="txtRemainingAjaxRequest" value="1" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenAttachScoreUrl" value="@Model.AttactScoreUrl" datapoint="@Model.DataPointIndex" />

    <div class="columns" id="divItemCriteria">
        <div class="colx3-left">
            <p>
                <label>@LabelHelper.Subject</label>
                <select name="selectSubjectPostAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
            </p>
            <p>
                <label>Score Type</label>
                <select name="selectScoreTypePostAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
            </p>
        </div>
        <div class="colx3-center">
            <p>
                <label>@LabelHelper.TestGrade</label>
                <select name="selectGradePostAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
            </p>
        </div>
        <div class="colx3-right">
            <p>
                <label>Test</label>
                <select name="selectTestPostAssessmentHistorical" datapoint="@Model.DataPointIndex"></select>
            </p>
        </div>
    </div>
</fieldset>

<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsFilterByTag" name="fsFilterByTag" dataPoint="@Model.DataPointIndex">
    <legend>Filter by Cluster/Strands (Optional)</legend>
    <label>
        Associated Cluster/Strands                    
    </label>
    <article class="u-m-t-5 clearfix">
        <div class="colx3-left">
            <div id="divTopic" style="float: left; padding-right: 5px; width: 100%;">
                <div class="block-content form noPadding divItem" style="padding: 1px;">
                    <div class="block-filter">
                        <table name="dataTableClusterScore" id="dataTableClusterScore@(Model.DataPointIndex)" dataPoint="@Model.DataPointIndex" class="datatable table no-margin noPadding dataTableDefaultTagStyle table-sgo-filter">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 15px"></th>
                                    <th scope="col">
                                        <span class="column-sort">
                                            <a href="javascript:void(0)" title="Sort Up" class="sort-up"></a>
                                            <a href="javascript:void(0)" title="Sort Down" class="sort-down"></a>
                                        </span>
                                        Cluster/Strands
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="cursor: pointer"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
</fieldset>

<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsEnterOrAttachScore">
    <legend>Optional: Attach Scores</legend>
    <div>
        <p>
            This is optional: Upload attachment.
            <br />
            <br />
        </p>
    </div>
    <button name="btnAttachStudentScore" id="btnAttachStudentScore@(Model.DataPointIndex)" datapoint="@Model.DataPointIndex" type="button">Attach Results</button>
    <div name="divAttachResultInfo" datapoint="@Model.DataPointIndex"
        @if (string.IsNullOrEmpty(Model.AttactScoreUrl)) { <text>
                                                               style="display: none; visibility: hidden;"
                                                           </text>  }>
        <span class="attachment-item" name="spanAttachResultFileName" datapoint="@Model.DataPointIndex" attactscoredownloadlink="@Model.AttactScoreDownloadLink">
            @if (Model != null && !string.IsNullOrEmpty(Model.AttactScoreUrl))
            {
                @Model.AttactScoreUrl.Substring(@Model.AttactScoreUrl.IndexOf('_') + 1)
            }
        </span>
        <span class="attachment-item with-tip" onclick="removeAttachResult(@Model.DataPointIndex)" title="Remove Attach Results"><img src="/Content/themes/Constellation/images/icons/fugue/icon-red.png"></span>
    </div>
</fieldset>


<button name="btnSaveDataPoint" dataPoint="@Model.DataPointIndex" class="float-right " type="button">Save Data Point</button>
<button name="btnRemoveDataPoint" dataPoint="@Model.DataPointIndex" class="float-right grey bntCreate " type="button">Remove Data Point</button>


<script>
    $(function () {
        // All functions are at index.cshtml file

        populateSubjectsPostAssessmentHistorical('@Model.DataPointIndex');
        LoaddataTestResultSubScoreTable('@Model.DataPointIndex');

        $('fieldset[name="fsFilterByTag"][datapoint=@Model.DataPointIndex]').coolfieldset({ collapsed: true });

        registerUploadAttachResult('@Model.DataPointIndex');
        validateShowHideUploadAttachResult('@Model.DataPointIndex');

        var downloadElement = $('span[name="spanAttachResultFileName"]');
        downloadElement.unbind('click');
        downloadElement.click(function () {
            var element = $(this);
            var url = element.attr('attactscoredownloadlink');
            window.open(url, 'Download');
        });
    });
</script>
