@using DevExpress.Office.Utils
@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel
<div class="FileLocation" style="display: none; visibility: hidden;">FileLocation: SGOSelectDataPoint\_PreAssessmentExternalTest</div>
<style type="text/css">
    .datepicker-sgo .ui-datepicker-header {
        top: 0;
    }

    .datepicker-sgo .ui-icon {
        background-image: url(/Content/themes/base/images/ui-icons_222222_256x240.png);
        width: 16px;
        height: 16px;
    }

    .datepicker-sgo .ui-datepicker-prev,
    .datepicker-sgo .ui-datepicker-next {
        border: 1px solid transparent;
    }

        .datepicker-sgo .ui-datepicker-prev:hover,
        .datepicker-sgo .ui-datepicker-prev:focus,
        .datepicker-sgo .ui-datepicker-next:hover,
        .datepicker-sgo .ui-datepicker-next:focus {
            border-color: #999;
            background: #dadada !important;
            top: 2px;
        }

        .datepicker-sgo .ui-datepicker-prev:hover,
        .datepicker-sgo .ui-datepicker-prev:focus {
            left: 2px;
        }

        .datepicker-sgo .ui-datepicker-next:hover,
        .datepicker-sgo .ui-datepicker-next:focus {
            right: 2px;
        }
</style>
<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectVirtualTest">
    <legend>Specify Test Descriptions</legend>

    <input type="hidden" name="txtHiddenSubjectName" value="@Model.SubjectName" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenGradeId" value="@Model.GradeId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenVirtualTestId" value="@Model.VirtualTestId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtHiddenAttachScoreUrl" value="@Model.AttactScoreUrl" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="txtRemainingAjaxRequest" value="1" dataPoint="@Model.DataPointIndex"/>

    <div class="columns" id="divItemCriteria">
        <div class="colx3-left">
            <p>
                <label>@LabelHelper.Subject</label>
                <select name="selectSubjectPreAssessmentExternal" datapoint="@Model.DataPointIndex"></select>
            </p>
        </div>
        <div class="colx3-center">
            <p>
                <label>@LabelHelper.GradeLabel</label>
                <select name="selectGradePreAssessmentExternal" datapoint="@Model.DataPointIndex"></select>
            </p>
        </div>
        <div class="colx3-right">
            <p>
                @*<label>Test</label>
                <input name="txtTestNamePreAssessmentExternal" dataPoint="@Model.DataPointIndex" value="@Model.Name" style="  font-size: 1.083em; padding: 0.385em; width: 95%;"/>*@

                <label>Test</label>
                <span class="relative" style="display: block">
                    <input type="text" name="txtTestNamePreAssessmentExternal" datapoint="@Model.DataPointIndex" class="full-width " style="display: none; line-height: 15px; padding-bottom: 6px;" placeholder="Add New Test" />
                    <img name="NewTestCloseButton" dataPoint="@Model.DataPointIndex" style="position: absolute; right: 8px; top: 6px; display: none;" src="\Content\themes\Constellation\images\icons\fugue\cross-circle.png" alt="x" />
                    <select name="selectTestPreAssessmentExternal" dataPoint="@Model.DataPointIndex" class="full-width "></select>
                </span>
            </p>
        </div>
    </div>
</fieldset>

<fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsEnterOrAttachScore">
    <legend>Optional: Enter or Attach Scores</legend>
    <button name="btnAttachStudentScore" id="btnAttachStudentScore@(Model.DataPointIndex)" datapoint="@Model.DataPointIndex" type="button">Attach Results</button>
    <div name="divAttachResultInfo" datapoint="@Model.DataPointIndex"
         @if (string.IsNullOrEmpty(Model.AttactScoreUrl))
         { <text>
         style="display: none; visibility: hidden;"
         </text>  }>
        <span class="attachment-item" name="spanAttachResultFileName" datapoint="@Model.DataPointIndex" attactscoredownloadlink="@Model.AttactScoreDownloadLink">
            @if (Model != null && !string.IsNullOrEmpty(Model.AttactScoreUrl))
            {
                @Model.AttactScoreUrl.Substring(@Model.AttactScoreUrl.IndexOf('_') + 1)
            }
        </span>
        <span class="attachment-item with-tip" onclick="removeAttachResult(@Model.DataPointIndex)" title="Remove Attach Results">
            <img src="/Content/themes/Constellation/images/icons/fugue/icon-red.png"></span>
    </div>
    <br />
    <fieldset class="grey-bg coolfieldset fieldset-datapoint m-t-15">
        <legend>Enter Scores</legend>
        <ul style="display: none" id="error-messages" class="message error"></ul>
        <ul style="display: none" id="success-message" class="message success">
            <li>Student successfully updated.</li>
        </ul>
        <div style="font-weight: bold; padding-bottom: 15px; color: #808080;"><i>Note: only raw scores can be entered.</i></div>
        <div class="columns" id="divItemCriteria">
            <div class="colx3-left">
                <p>
                    <label>Total Points Possible</label>
                    <input name="txtPointPossiblePreAssessmentExternal" datapoint="@Model.DataPointIndex" value="@Math.Round(Model.TotalPoints, 1)" style="font-size: 1.083em; padding: 0.385em; width: 95%;" />
                </p>
            </div>
            <div class="colx3-center">
                <p>
                    <label>Date of Results</label>
                    <span class="sgo-datetime">
                        <input name="txtResultDatePreAssessmentExternal" datapoint="@Model.DataPointIndex" value="@(Model.ResultDate.HasValue ? Model.ResultDate.Value.DisplayDateWithFormat() : "")" style="  font-size: 1.083em; padding: 0.385em; width: 95%;" readonly="readonly" />
                        <span class="icon-sgo-calendar"></span>
                    </span>
                </p>
            </div>
            <div class="colx3-right">
                <p>
                    <label></label>
                </p>
            </div>
        </div>

        <div name="studentsList" dataPoint="@Model.DataPointIndex"></div>
        <br />
    </fieldset>

</fieldset>

<button name="btnSaveDataPoint" datapoint="@Model.DataPointIndex" class="float-right" type="button">Save Data Point</button>
<button name="btnRemoveDataPoint" datapoint="@Model.DataPointIndex" class="float-right grey bntCreate" type="button">Remove Data Point</button>

<script>
    $(function () {
        // All functions are at index.cshtml file
        $('input[name="txtResultDatePreAssessmentExternal"]').datepicker({
            dateFormat: jqueryDatePickerFormat(),
            beforeShow: function (input, inst) {
                $('#ui-datepicker-div').addClass('datepicker-sgo');
            }
        });
        $('input[name="txtPointPossiblePreAssessmentExternal"]').numeric();

        AssignDataPointLegentName('@Model.DataPointIndex', '@Model.Name');
        populateSubjectsPreAssessmentExternal('@Model.DataPointIndex');
        
        registerUploadAttachResult('@Model.DataPointIndex');

        if($('input[name="sgoDataPointId"][dataPoint="' + '@Model.DataPointIndex' + '"]').val() == 0)
            loadStudentsPreAssessmentExternal('@Model.DataPointIndex', ''); // Load empty student data point at this step when creating new datapoint; otherwise loading this data after binding external virtualtest

        var downloadElement = $('span[name="spanAttachResultFileName"]');
        downloadElement.unbind('click');
        downloadElement.click(function () {
            var element = $(this);
            var url = element.attr('attactscoredownloadlink');
            window.open(url, 'Download');
        });
    });
</script>
