@model LinkIt.BubbleSheetPortal.Web.ViewModels.SGO.DataPointViewModel
<fieldset class="grey-bg coolfieldset qtiItemSelector" name="fsDataPoint" dataPoint="@Model.DataPointIndex">
    <legend name="legendTestName" dataPoint="@Model.DataPointIndex">Data Point #</legend>
    <input type="hidden" name="sgoDataPointId" value="@Model.SGODataPointId" dataPoint="@Model.DataPointIndex"/>
    <input type="hidden" name="temporaryEditPostAssessment" value="false" dataPoint="@Model.DataPointIndex"/>
    <ul style="display: none" name="error-messages" dataPoint="@Model.DataPointIndex" class="message error"></ul>
    <ul style="display: none" name="insert-success-message" dataPoint="@Model.DataPointIndex" class="message success">
        <li>Data Point successfully updated.</li>
    </ul>
    <fieldset class="grey-bg coolfieldset qtiItemSelector fieldset-datapoint" id="fsSelectVirtualTest">
        <legend>Select Test Type</legend>
        <div class="columns" id="divItemCriteria">
            <div class="colx3-left">
                <p>
                    <label>Type</label>
                    <select name="selectTestType" datapoint="@Model.DataPointIndex">
                        <option value="select">Select Test Type</option>                        
                    </select>
                </p>
            </div>
        </div>
    </fieldset>

    <div name="divDataPointContent" dataPoint="@Model.DataPointIndex">
    </div>
</fieldset>
<div class="clear"></div>
<script>
    $(function () {
        if ('@Model.SGODataPointId' != '0') {
            $('fieldset[name="fsDataPoint"]').coolfieldset({ collapsed: true });
        } else {
            $('fieldset[name="fsDataPoint"]').coolfieldset();
        }

        $('fieldset[name="fsDataPoint"][dataPoint="@Model.DataPointIndex"]').classChange(function () {

            // Fix bug student data point table is collapse when loading page
            var studentListContainer = $('div[name="studentsList"][datapoint="' + '@Model.DataPointIndex' + '"]');
            if (studentListContainer.length > 0) {
                studentListContainer.handsontable({
                    stretchH: "all",
                    licenseKey: 'a70f6-b55ab-a3862-0471e-e915a'
                });
            }
        });


        // All functions are at index.cshtml file
        populateTestType('@Model.DataPointIndex', '@Model.TestType', '@Model.DataPointGroupType', @Model.HasReview);
        AssignDataPointLegentName('@Model.DataPointIndex', '@Model.Name');
    });
</script>
