@model LinkIt.BubbleSheetPortal.Web.ViewModels.SATReport.SATReportMasterViewModel
<style>
    .col_StudentHistory .tblDiagnostic {
        width: 700px !important;
    }

    .tblDiagnostic thead th {
        padding: 10px 3px !important;
    }
</style>
<div>
    <div class="boxtitle">
        Diagnostic History
    </div>

    <table class="datatable table utility-table tblDiagnostic big_line">
        <thead>
            <tr>
                <th class="utility" style="width: 80px;">Test Date</th>
                <th class="utility" style="width: 250px;">Diag Form</th>

                @{
                    if (Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Any() == false)
                    {
                        return;
                    }
                    var maxSubScoreItems = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Max(x => x.SubScores.Count);
                    var firstScoreItem = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.First(x => x.SubScores.Count == maxSubScoreItems);
                    if (Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Any(x => x.IsSelected))
                    {
                        firstScoreItem = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.First(x => x.IsSelected);
                    }
                    var subScoreList = firstScoreItem.SubScores.Select(x => x.SectionName).ToList();
                }

                @foreach (var scoreItem in subScoreList)
                {
                    if (scoreItem != "Composite")
                    {
                        <th class="utility">@scoreItem</th>
                    }
                    else
                    {
                        <th class="utility">Total</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DiagnosticHistoryViewModel.TestAndScoreViewModels.Count; i++)
            {
                var item = Model.DiagnosticHistoryViewModel.TestAndScoreViewModels[i];
                string style = "";
                string cssClass = "";
                if (item.IsSelected)
                {
                    style = "font-weight:bold; font-style:italic;";
                    cssClass = "question-detail-answer";
                }
                <tr class="@cssClass">
                    <td class="utility" style="@style"><p style="width: 80px">@item.TestDateText</p></td>
                    <td class="utility" style="@style word-break:break-all;">@item.TestName</td>

                    @*@foreach(var scoreItem in item.SubScores)
                        {
                            <td class="utility" style="@style text-align: right;">@scoreItem.ScoreText</td>
                        }*@

                    @foreach (var subScoreName in subScoreList)
                    {
                        var scoreItem = item.SubScores.FirstOrDefault(x => x.SectionName == subScoreName);
                        if (scoreItem != null)
                        {
                            <td class="utility" style="@style text-align: right;">@scoreItem.ScoreText</td>
                        }
                        else
                        {
                            <td class="utility" style="@style text-align: right;">0</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>