@using System.Linq
@using LinkIt.BubbleSheetPortal.Common.Enum
@using LinkIt.BubbleSheetPortal.Web.Helpers
@using LinkIt.BubbleSheetPortal.Common
@model LinkIt.BubbleSheetPortal.Web.ViewModels.SATReport.SATReportMasterViewModel

@if (Model.ReportContentOption == Util.ACTSATReportContentOption_EssayOnly)
{
    foreach (var essayFile in Model.BubbleSheetFileSubViewModels)
    {
        if (essayFile.PageType == Util.BubbleSheetFileEssayPageType)
        {
            <img style="margin-left:20px" src="@essayFile.ImageUrl" width="900" />
            <br/>
        }
    }
}
else
{
    <article class="container_12" style="overflow: visible !important;">
        <h1 class="wk-hiddentitle">@Model.StudentInformation.StudentName</h1>
        <section class="grid_12" style="width: 1000px; margin-left: 0px; margin-right: 0px;">
            <div class="" style="background: ghostwhite">
                <div style="display: inline-block; vertical-align: top; float: left;">
                    <span>
                        @if (string.IsNullOrEmpty(Model.DistrictLogoUrl))
                        {
                            <text>@Model.DistrictName</text>
                        }
                        else
                        {
                            <text><img src="@Model.DistrictLogoUrl" /></text>
                        }
                    </span>
                </div>
                <div style="vertical-align: top; width: 500px; margin: 0 auto; padding-bottom: 15px;">
                    @if (Model.VirtualTestSubTypeId == (int) VirtualTestSubType.NewSAT)
                    {
                        <div style="font-size: 30px; padding-bottom: 5px;">SAT STUDENT REPORT</div>
                    }
                    else
                    {
                        <div style="font-size: 30px; padding-bottom: 5px;">OLD SAT STUDENT REPORT</div>
                    }
                    <div style="padding-bottom: 5px;">
                        <span style="font-weight: bold">Test: @Model.StudentInformation.TestName</span>
                    </div>
                    <div>
                        <span style="font-weight: bold">Test Date: @Model.StudentInformation.TestDate.DisplayDateWithFormat()</span>
                    </div>
                </div>
                <div class="block-content form">
                    <div style="width: 1000px;">
                        <div class="col_StudentInfo">
                            @Html.Partial("_StudentInformation", Model)                            
                        </div>

                        <div class="col_StudentHistory">
                            @if (Model.VirtualTestSubTypeId == (int) VirtualTestSubType.SAT)
                            {
                                @Html.Partial("_DiagnosticHistory", Model)    
                            }
                            else
                            {
                                @Html.Partial("_DiagnosticHistoryNewSAT", Model)
                            }                            
                        </div>
                        <div class="clear-25"></div>
                        
                        @if (Model.VirtualTestSubTypeId == (int)VirtualTestSubType.NewSAT)
                        {
                            <div>
                                @Html.Partial("_DiagnosticHistoryDomainTag", Model)
                            </div>
                            <div class="clear-25"></div>
                        }

                        @Html.Partial("_SectionWithTagReport", Model)
                        @if (Model.SATSummaryScoreViewModel.ShowChart)
                        {
                            @Html.Partial("_ScoreSummaryReport", Model)
                        }
                                                                      
                        @if (Model.SectionTagViewModels.Any(aw => aw.AnswerSectionViewModels.Any(x => x.SectionID == Model.EssaySectionId)) && Model.ReportContentOption == Util.ACTSATReportContentOption_ScoreAndEssay)
                        {
                            //wirting
                            foreach (var essayFile in Model.BubbleSheetFileSubViewModels)
                            {
                                if (essayFile.PageType == Util.BubbleSheetFileEssayPageType)
                                {
                                    <img style="margin-left:20px" src="@essayFile.ImageUrl" width="930" />
                                }
                            }
                        }
						
						@if (Model.NewSATEssayComments.Any())
                        {
                            <div class="clear-25"></div>
                            @Html.Partial("_EssayComment", Model)    
                        }
                           
                    </div>
                </div>
            </div>
        </section>
    </article>
}